@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

// PDP STYLES
    
.ulinks-pdp-wrapper {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  text-align: left;
  background-color: #fff;
  margin: 0;
  padding: 52px 0 96px 0; 
  .grid {
    .span3.pdp-col1, .span3.pdp-col2 {
      .show-at-980 {
        display: none;
      }
    }
  }
  .ulinks-pdp-module {
    margin-left: 0; 
  }
  .no-header {
    margin-top:34px;
  }
} 


.ulinks-pdp-wrapper .no-left-margin {
  margin-left: 0; 
}


.ulinks-pdp-wrapper .bump12 {
  margin-bottom: 12px;
}

.ulinks-pdp-wrapper .pdp-help-title {
  margin-bottom: 12px;
}

.ulinks-pdp-wrapper .pdp-link {
  display: inline-block;
  width: 29.381443298969%;
  min-width: 33.333333333334%;
}

#pdp-link-tail3 {
  margin-left: 0;
}

#pdp-g-links .span4 a, #pdp-g-head .pdp-help-title div {
  white-space: nowrap;
}
