@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

// For floated carousels, specify the maximum number of children.
// Any beyond this count will go to the next line / be outside the overflow area.
$maximumChildren: 10;

.whats-new-tout {

  .whats-new-carousel-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    background: $gray20;

    header {
      width: 100%;
      height: percentage(40 / 345);
      padding: 0 16px;

      h3 {
        color: $white;
      }

      .sony-dot-nav {
        margin: 0;

        .pagination-bullets {
          position: relative;
          text-align: right;
        }
      }
    }
  }

  .whats-new-carousel {
    position: relative;
    width: $maximumChildren * 100%;
    height: percentage(305 / 345 + 0.01);

    .whats-new-carousel-slide {
      position: relative;
      width: (100% / $maximumChildren);
      height: 100%;
      float: left;

      .st-image {
        background-color: $gray80;
        background-position: center top;
      }
    }
  }
}

.whats-new-carousel {

  .whats-new-carousel-slide {

    .st-image {

      .span4 & {
        background-size: auto 63%;
        background-position: center top;
      }

      .span6 & {
        background-size: auto 75%;
        background-position: center -12px;
      }

      .span8 &,
      .span12 & {
        background-size: auto 89%;
        background-position: center -24px;
      }
    }
  }
}
