doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
	!{partial('includes/head.html.jade', l)}
	
body

    {{{{b}}}}
    
    script(src="js/libs/bootstrap-dropdown.js", type="text/javascript")
    !{partial('includes/foot.html.jade', l)}