---
title:  {{{{t}}}}
description: {{{{d}}}}
---

doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
	!{partial('includes/head.html.jade', l)}
	
body
    #page-wrap-outer.page-wrap-outer
      #page-wrap-inner.page-wrap-inner        

    	{{{{b}}}}
    	
	script(src="js/libs/jquery.infinitescroll.js")
	script(src="js/libs/bootstrap-transition.js")
	script(src="js/libs/bootstrap-button.js")
	script(src="js/libs/bootstrap-dropdown.js")
	script(src="js/libs/bootstrap-collapse.js")
	script(src="js/libs/bootstrap-tooltip.js")
	script(src="js/libs/bootstrap-popover.js")
	script(src="js/libs/bootstrap-modal.js")
	
    !{partial('includes/foot.html.jade', l)}
