@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$phoneMax: px-em(767);
$tabletMin: px-em(768);
$tabletMax: px-em(979);
$desktopMin: px-em(980);
$desktopMed: px-em(1100);

@media (max-width:$desktopMed) {
  .entertainment-wrapper {
    .entertainment {
      padding: 84px 0 115px 0;
    }
    .entertainment-benefits {
      margin: 0 0 26px 0;
    }
    .entertainment-media {
      margin: 0 0 9px 0;
      img {
        float: left;
        margin-right: 21px;
      }
    }
    .entertainment-content {
      .container-media {
        width: 52%;
        float: right;
      }
      .container-benefits {
        width: 45%;
        float: left;
      }
    }
    .entertainment-header .p2 {
      width: auto;
    }
  }
}

@media (max-width:$tabletMax) {
  .entertainment-wrapper {
    .entertainment {
      padding: 61px 0 115px 0;
    }

    .entertainment-content {
      .container-benefits {
        width: auto;
      }
    }

    .logo-container {
      margin-bottom: 17px;
    }

    .entertainment-header {
      width: 100%;
      margin-bottom: 21px;
    }

    .tablet-img {
      margin-bottom: 33px;
      text-align: center;
      img {
        width: 100%;
      }
    }

    .entertainment-benefits {
      overflow: hidden;
      margin-bottom: 31px;
      .icon-holder {
        max-width: 74px;
      }
    }

    .entertainment-benefits > li {
      float: left;
      width: 33%;
      text-align: center;
      padding: 0 4%;
    }

    .entertainment-media {
      margin-bottom: 0;
    }

    .entertainment-media .no-float {
      float: none;
      margin-bottom: 15px;
      margin-right: 0;
      img {
        float: none;
        margin: 0;
      }
    }

    .entertainment .btn-holder {
      width: 100%;
      position: relative;
    }

    .entertainment .btn-holder .btn {
      margin: 0 auto;
      display: block;
    }

    .tablet-full-width {
      width: 100%;
    }
  }
}

@media (max-width:$phoneMax) {
  .entertainment-wrapper {
    .entertainment {
      padding: 36px 0 58px 0;
    }

    .logo-container {
      margin-bottom: 7px;
      width: 100px;
    }

    .entertainment-hd h1 {
      margin-bottom: 21px;
    }

    .mobile-img {
      margin-bottom: 19px;
      img {
        width: 100%;
      }
    }

    .entertainment-hd {
      margin-bottom: 23px;
    }

    .entertainment-benefits {
      margin-bottom: 13px;
      .icon-holder {
        padding: 4px;
      }
    }

    .entertainment-media {
      margin-bottom: 11px;
      .img {
        i {
          font-size: 2em;
        }
      }
    }

    .entertainment-media .no-float {
      float: left;
      margin-right: 11px;
      margin-bottom: 0;
    }

    .entertainment-benefits > li {
      float: none;
      margin-left: 0;
      width: 100%;
      text-align: left;
    }

    .entertainment-benefits > li + li {
      margin-left: 0;
    }

    .entertainment-benefits .bd {
      padding-top: 25px;
    }

    .entertainment .btn-holder .btn {
      margin: 0;
    }
  }
}

