@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.entertainment-wrapper {
  .entertainment {
    padding: 72px 0;
  }

  .entertainment-content {
    position: relative;
    .container-benefits {
      float: left;
      width: 46%;
    }
    .container-media {
      float: right;
      width: 50.2%;
    }
    .btn-holder {
      position: absolute;
      bottom: 0;
    }
  }

  .logo-container {
    margin-bottom: 16px;
  }

  .entertainment-header {
    margin-bottom: 60px;
    width: 86%;
    h1 {
      margin-bottom: 16px;
      color: $gray10;
    }
    .p2 {
      width: 66%;
    }
    p {
      margin-bottom: 0;
    }
  }

  .entertainment-benefits {
    margin: 0 0 66px 0;
  }

  .entertainment-benefits .icon-holder {
    display: block;
    max-width: 80px;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
  }

  .entertainment-benefits .icon-holder i {
    display: block;
    position: relative;
  }

  .entertainment-benefits h2 {
    color: $gray10;
  }

  .entertainment-benefit-one .icon-holder {
    background-color: $secondaryAqua;
  }

  .entertainment-benefit-two .icon-holder {
    background-color: $secondaryLavender;
  }

  .entertainment-benefit-three .icon-holder {
    background-color: $secondaryMint;
  }

  .entertainment-media {
      margin: 0 0 42px 0;

  }

  .entertainment-media,
  .bd {
      overflow:hidden;
      _overflow:visible;
      zoom:1;
  }

  .entertainment-media .img {
      float:left;
      margin-right: 34px;
  }


  .entertainment-media .img i { display:block; }
}

