@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";


.entertainment {
  padding: 72px 0;
}

.logo-container {
  margin-bottom: 20px;
}

.entertainment-header {
  margin-bottom: 60px;
  width: 86%;
  h1 {
    margin-bottom: 20px;
    color: $gray10;
  }
  p {
    margin-bottom: 0;
  }
}

.entertainment-benefits {
  margin: 0 0 66px 0;
}

.entertainment-benefits .icon-holder {
  display: block;
  padding: 16px;
  height: 71px;
  width: 71px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
}

.entertainment-benefits .icon-holder i {
  display: block;
  position: relative;
  top: -3px;
  left: -3px;
}

.entertainment-benefits h2 {
  color: $gray10;
}

.entertainment-benefit-one .icon-holder {
  background-color: #56b6cd;
}

.entertainment-benefit-two .icon-holder {
  background-color: #7f7bc7;
}

.entertainment-benefit-three .icon-holder {
  background-color: #4cc6b9;
}

.entertainment-media {
    margin: 0 0 42px 0;

}

.entertainment-media, 
.bd {
    overflow:hidden; 
    _overflow:visible; 
    zoom:1;
}

.entertainment-media .img {
    float:left; 
    margin-right: 34px;
}


.entertainment-media .img i { display:block; }

