@import "../../../common/css/_base/variables";


.error-pages {
  .error-content-main {
    height: 560px;
    display: table;
  }
  .error-content-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 0 52px 50px 0;
  }
  .error-content-paragraph {
    margin-bottom: 38px;
  }
  .error-box {
    display: inline-block;
    padding: 10px 18px;
    background-color: $gray80;
    color: $gray20;
    p {
      margin-bottom: 0;
      color: $gray20;
    }
  }
}
