@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.sony-audio-player {
  position: relative;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .tracks {
    display: none;
  }

  nav {
    position: absolute;
    left: 0;
    bottom: 0;

    select {
      display: none;
    }
  }
}