.editorial.full{
  position:relative;
  .inner{
    position:absolute;
    top:0;
  }
}
.editorial.m3up,
.editorial.m2up{
  >.grid>div{
    position:relative;
    .inner{
      position:absolute;
      top:0;
    }
  }
}
.editorial{
  .center{
    text-align:center;
  }
}