//
// Editorial + Dual Viewer Module (EDV)
// --------------------------------------------------

@import "../_base/variables";
@import "../_base/mixins";

.edv {

  header {

  }

  .edv-images {
    position: relative;
    height: 380px;

    .edv-image {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      overflow: hidden;

      &.image-1 {
        left: 0;
        text-align: left;

        img,
        figcaption {
          left: 0;
        }
      }

      &.image-2 {
        right: 0;
        text-align: right;

        img,
        figcaption {
          right: 0;
        }
      }

      .edv-image-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;


        img {
          position: absolute;
          height: 100%;
          max-width: none;
        }
      }

      figcaption {
        position: absolute;
        bottom: 0;
        min-width: 300px;
      }
    }

    .edv-scrubber-container {
      position: absolute;
      width: 10px;
      height: 100%;
      background-color: red;
      z-index: 3;

      .edv-scrubber {
        position: absolute;
        bottom: 50px;
        left: -25px;
        width: 50px;
        height: 50px;
        background-color: blue;
      }
    }
  }

  &.scrubber-disabled {

    .edv-scrubber-container {
      display: none;
    }
  }
}
