@import "../_base/variables";
@import "../_base/mixins";

[data-target$="-fake"] {
  pointer-events: none;
}

$threeColMin: px-em(568px);
$threeColMax: px-em(767px);
$fourColMin: px-em(768px);
$fourColMax: px-em(979px);


// 8888888b.                       888                   888         88888888888                888
// 888   Y88b                      888                   888             888                    888
// 888    888                      888                   888             888                    888
// 888   d88P 888d888 .d88b.   .d88888 888  888  .d8888b 888888          888   .d88b.  888  888 888888
// 8888888P"  888P"  d88""88b d88" 888 888  888 d88P"    888             888  d8P  Y8b `Y8bd8P' 888
// 888        888    888  888 888  888 888  888 888      888             888  88888888   X88K   888
// 888        888    Y88..88P Y88b 888 Y88b 888 Y88b.    Y88b.           888  Y8b.     .d8""8b. Y88b.
// 888        888     "Y88P"   "Y88888  "Y88888  "Y8888P  "Y888          888   "Y8888  888  888  "Y888


// Price text module
.product-content {
  margin-top: .4375em; // 7
  line-height: 1.3;

  .product-name {
    color: $gray20;
    margin-bottom: 0;
  }

  .product-model {
    color: $gray40;
  }

  .product-rating {
    margin: .5em 0 1em;
    color: $gray40;
  }

  .price-title {
    margin: 0;
  }

  .product-price {
    margin-top: 1em;
    color: $gray40;
    @include text-overflow();
  }
}


.product-meta {
  margin: 0 0 1em;
  padding: 0 0 0 1em;
  list-style-type: square;
  color: $gray40;

  li {
    margin-bottom: 2px;
  }
}


//  .d8888b.           888 888
// d88P  Y88b          888 888
// 888    888          888 888
// 888         8888b.  888 888  .d88b.  888d888 888  888
// 888  88888     "88b 888 888 d8P  Y8b 888P"   888  888
// 888    888 .d888888 888 888 88888888 888     888  888
// Y88b  d88P 888  888 888 888 Y8b.     888     Y88b 888
//  "Y8888P88 "Y888888 888 888  "Y8888  888      "Y88888
//                                                   888
//                                              Y8b d88P
//                                               "Y88P"

// Gallery
// -------------------------

.gallery-content {
  margin-top: 1.5em;
  padding-bottom: 4.375em;
  overflow: visible;
}

// Give multiple gallery sections a border top
.gallery + .gallery > *:first-child {
  border-top: .1875em solid $gray70;
  margin-top: 1.875em;
  padding-top: 1.875em;
}

.gallery-detailed .products {
  margin-top: -3.125em;
}

.featured-gallery-title {
  margin-bottom: 0;
}


// Gallery Items
// -------------------------

// 50px margin-top on detailed gallery items
.gallery-item.detailed {
  margin: 3.125em 0 0;
}

.gallery .shuffle .shuffle-item.gallery-item {
  margin-left: 0;
}


//  .d8888b.           888 888                                8888888 888
// d88P  Y88b          888 888                                  888   888
// 888    888          888 888                                  888   888
// 888         8888b.  888 888  .d88b.  888d888 888  888        888   888888 .d88b.  88888b.d88b.
// 888  88888     "88b 888 888 d8P  Y8b 888P"   888  888        888   888   d8P  Y8b 888 "888 "88b
// 888    888 .d888888 888 888 88888888 888     888  888        888   888   88888888 888  888  888
// Y88b  d88P 888  888 888 888 Y8b.     888     Y88b 888        888   Y88b. Y8b.     888  888  888
//  "Y8888P88 "Y888888 888 888  "Y8888  888      "Y88888      8888888  "Y888 "Y8888  888  888  888
//                                                   888
//                                              Y8b d88P
//                                               "Y88P"

$oneByOnePadding: 165.196%;
// $oneByOnePadding: 176%;
$oneByOneImgPadding: 107.84313725490196%;
.gallery-item {
  position: relative;
  display: block;
  margin-top: $slimGrid5GutterWidth1200;
  overflow: hidden;
  background: $white;

  &:after {
    content: '';
    display: block;
    padding-top: $oneByOnePadding;
  }

  // Make them a bit bigger
  .shuffle-6 &:after {
    padding-top: 169.396078%;
  }

  .gallery-item-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  // Container for product images
  .product-img {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background: $gray80;
    @include transition(background-color $transitionFast $easeNormal);

    &:hover {
      background-color: $gray75;
    }

    &:after {
      content: '';
      display: block;
      padding-top: $oneByOneImgPadding;
    }

    .product-img-wrap {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    img {
      display: block;
      max-height: 100%; // This is causing the images to sometimes be tiny. Not sure what to do about it...
      max-width: 100%;
      margin: auto;
    }

  }

  // Large tiles
  &.large {

    &:after {
      padding-top: 105.92705167173253%;
    }

    .product-img:after {
      padding-top: 88.14589665653495%;
    }

    // Carousels
    .slide {
      float: left;
    }

    // 30px at 1020px wide grid for large tile
    .pagination-bullets {
      bottom: 5.6390977%;
    }

    .nav-paddle-prev,
    .nav-paddle-next {
      position: absolute;
      z-index: 20;
      top: 50%;
      margin-top: -($navPaddleHeight / 2);
    }

    .nav-paddle-prev {
      left: 3.75%;
    }

    .nav-paddle-next {
      right: 3.75%;
    }

    // 3 column grid
    .shuffle-3 & .product-img:after {
      // padding-top: 107.045%;
    }

    // Change padding for 4 column grid
    .shuffle-4 &:after {
      padding-top: $oneByOnePadding;
    }

    // 4 column grid
    .shuffle-4 & .product-img:after {
      padding-top: $oneByOneImgPadding;
    }

    // Should = 612px at full width (296 * 2 + 20)
    .shuffle-6 &:after {
      padding-top: 105.3%;
    }

    .shuffle-6 & .product-img:after {
      padding-top: 87%;
    }

    @media (min-width: px-em(980px)) and (max-width: px-em(1023px) ) {
      &:after {
        padding-top: 106.8%
      }
    }
  }

  // Title plate
  &.plate {

    &:after {
      padding-top: 59.190255%;
    }

    .shuffle-4 &:after {
      padding-top: 77.790255%;
    }

    .product-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: left;
    }

    .product-img {
      height: 100%;
    }

    img {
      max-height: none;
      max-width: none;
    }

    div.iq-img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }

  // Promo gallery item images are the full height
  &.promo {

    &:after {
      padding-top: 78.19025522041764%;
      // padding-top: 83.6%;
    }

    .shuffle-4 &:after {
      // padding-top: 77.790255%;
    }

    .product-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: left;
    }

    .product-img {
      height: 100%;
    }

    img {
      max-height: none;
      max-width: none;
    }

    div.iq-img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }

  .label {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    margin: 0;
  }
}

// Offset the tooltip to the left
// -----------------------
.gallery-tooltip {

  i {
    position: relative;
    top: -1px;
    font-size: 16px;
    padding-left: 2px;
  }
}



// Styles, not structure, for gallery tiles
.gallery-item {

  .color-swatches {
    position: absolute;
    right: .875em;
    bottom: .6875em;
  }

  .favorite-holder {
    position: absolute;
    left: px-em(8px);
    bottom: px-em(8px);
    width: px-em(28px);
    height: px-em(24px);
    text-align: center;
    cursor: pointer;

    i {
      // margin-top: px-em(3px);
      color: $gray60;
      vertical-align: baseline;
      font-size: .8125em;
    }

    &:hover i,
    &.active i {
      color: rgb(243,84,41);
    }
  }

  .fonticon-10-star {
    color: $gray50;
  }
}


// 8888888b.                                              88888888888 d8b 888
// 888   Y88b                                                 888     Y8P 888
// 888    888                                                 888         888
// 888   d88P 888d888 .d88b.  88888b.d88b.   .d88b.           888     888 888  .d88b.  .d8888b
// 8888888P"  888P"  d88""88b 888 "888 "88b d88""88b          888     888 888 d8P  Y8b 88K
// 888        888    888  888 888  888  888 888  888          888     888 888 88888888 "Y8888b.
// 888        888    Y88..88P 888  888  888 Y88..88P          888     888 888 Y8b.          X88
// 888        888     "Y88P"  888  888  888  "Y88P"           888     888 888  "Y8888   88888P'

// Promo Tiles
// -------------------------
.gallery-item .promo-content {
  text-align: left;

  .promo-title {
    position: absolute;
    top: 16.1290323%; // 50/310
    left: 10.6060606%; // 42/396
    margin: 0;
    max-width: 225px;

    i {
      position: relative;
      top: px-em(-3px);
      left: px-em(2px);
    }
  }

  .promo-title .title {
    color: $white;
  }

  // e.g. "22 LENSES"
  .text-count {
    position: absolute;
    bottom: 10.3225806%; // 32/310
    left: 10.6060606%; // 42/396
    margin: 0;
  }

  // e.g.  "22"
  .text-count .number {
    // font-size: $font_13_16;
  }

  // e.g.  "LENSES"
  .text-count .text {
    // font-size: $font_12_16;
  }

  // Override default label colors
  .text-count span {
    color: $white;
  }

  // ::Different styles go here::

  &.light-text-dark-box {}
  &.light-text-trans-box {}
  &.dark-text-light-box {}
  &.dark-text-trans-box {}

  &.align-left-top {}
  &.align-left-center {}
  &.align-left-bottom {}
  &.align-center-center {}
  &.align-right-top {}
  &.align-right-center {}
  &.align-right-bottom {}
}

// Promo Media Queries
// -------------------------
@media (max-width: $threeColMax) {

  .gallery-item .promo-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5625em 1em;

    .promo-title,
    .text-count {
      position: static;
    }

    .promo-title {
      max-width: none;
      margin: 0 0 0.825em;
    }

    .promo-title .title,
    .promo-title .emphasis {
      font-size: $font_22_16;
    }
  }
}

// Plates - should be encompassed by .promo-content above
// -------------------------
// .gallery-item.plate {


// Detailed gallery item sizes
// -------------------------
.gallery-detailed {

  .gallery-item:after {
    padding-top: 140%;
  }

  .product-img:after {
    padding-top: 76.05633802816901%;
  }

}

// 888b     d888  .d88888b.
// 8888b   d8888 d88P" "Y88b
// 88888b.d88888 888     888
// 888Y88888P888 888     888 .d8888b
// 888 Y888P 888 888     888 88K
// 888  Y8P  888 888 Y8b 888 "Y8888b.
// 888   "   888 Y88b.Y8b88P      X88
// 888       888  "Y888888"   88888P'
//                      Y8b


// Gallery item media queries
// -------------------------
@media (min-width: px-em(980px)) and (max-width: px-em(1100px) ) {

  .gallery-detailed .products {
    margin-top: -2.5em;
  }

  .gallery-item.detailed {
    margin-top: 2.5em;

    &:after {
      padding-top: 150%;
    }
  }
}

@media ( max-width: $fourColMax ) {

  // Hide all but the first slide in the large tile carousel
  .gallery-item.large .slide:not(:first-child) {
    display: none;
  }
}

// 768-979
@media ( min-width: $fourColMin ) and ( max-width: $fourColMax ) {

  .gallery-detailed .products {
    margin-top: -2.5em;
  }

  .gallery-item.detailed {
    margin-top: 2.5em;

    // Minimum for @768
    &:after {
      padding-top: 175%;
    }
  }

  .product-content {

    .price-prefix {
      // font-size: $font_10_16;
    }
  }
}

@media (max-width: $threeColMax) {

  // Remove percentage heights
  .gallery-item {

    &:after,
    .product-img:after {
      content: none;
    }

    .gallery-item-inner,
    .product-img .product-img-wrap {
      position: static;
    }
  }

  // Put percentage heights back for editorial
  .gallery-editorial {

    .gallery-item {
      margin-top: 0.625em;

       &:after {
        content: '';
        padding-top: $oneByOnePadding;
      }
    }

    .gallery-item-inner,
    .product-img .product-img-wrap {
      position: absolute;
    }

    // Make all tiles the same size
    .gallery-item .product-img:after {
      content: '';
      padding-top: $oneByOneImgPadding;
    }
  }


  .gallery-detailed {

    .slide-toggle-parent {
      margin-bottom: .9375em;
    }

    .products {
      margin-top: -1.625em;
    }


    // Detailed Gallery Item Layout
    // --------------------------------

    .gallery-item {
      margin-top: 1.625em; // 26
      width: 100% !important; // override `auto` set by grid system
    }

    .gallery-item-inner {
      display: table;
      height: 100%;
      width: 100%;
    }

    .product-img,
    .product-content {
      display: table-cell;
      vertical-align: top;
      width: 50%;
    }

    .product-img .product-img-wrap {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }

    // non webkit browsers need this
    .product-img img {
      width: 100%;
    }

    .product-content {
      padding-left: 4%;
      margin-top: 0;
    }




    // Detailed gallery item styling
    // ------------------------------
    .product-name {
      margin-bottom: 3px;
      line-height: 14px;
    }

    .product-model {
      margin-bottom: 0;
    }

    .product-rating {
      margin: 0 0 .3125em;
    }

    .fonticon-10-star {
      font-size: .6em;
      letter-spacing: -0.15em;
    }

    .product-meta {
      margin-bottom: .3125em;
    }

    .product-price {
      margin-top: 0;
    }
  }

  // Product name, etc
  .product-content {

    .price-prefix {
      margin-bottom: 0;
      display: block;
    }
  }

  .favorite-holder i {
    font-size: .6875em;
  }

}

// 568 - 640
@media ( min-width: $threeColMin ) and ( max-width: 40em ) {

  // Make gallery items taller
  .gallery-item.basic:after {
    padding-top: 187%;
  }
}


// <= 479
@media ( max-width: 29.9375em ) {

}

// <= 360
@media ( max-width: 22.5em ) {

  // Make gallery items taller
  .gallery-item.basic:after {
    padding-top: 190%;
  }
}


// 8888888b.                       888                   888          .d8888b.  888            d8b
// 888   Y88b                      888                   888         d88P  Y88b 888            Y8P
// 888    888                      888                   888         Y88b.      888
// 888   d88P 888d888 .d88b.   .d88888 888  888  .d8888b 888888       "Y888b.   888888 888d888 888 88888b.
// 8888888P"  888P"  d88""88b d88" 888 888  888 d88P"    888             "Y88b. 888    888P"   888 888 "88b
// 888        888    888  888 888  888 888  888 888      888               "888 888    888     888 888  888
// 888        888    Y88..88P Y88b 888 Y88b 888 Y88b.    Y88b.       Y88b  d88P Y88b.  888     888 888 d88P
// 888        888     "Y88P"   "Y88888  "Y88888  "Y8888P  "Y888       "Y8888P"   "Y888 888     888 88888P"
//                                                                                                 888
//                                                                                                 888
//                                                                                                 888

// Product Strip
// -------------------------

.product-strip-wrap {
  padding-top: 3.75em; // 60px
  padding-bottom: 3.75em; // 60px

  &:not(:first-child) {
    border-top: .125em solid $gray70;
  }
}

.product-strip-heading {
  margin-top: 0;
  margin-bottom: 1.25em;
}

.product-strip {

  .gallery-item {
    margin-top: 0;
  }
}

@media ( max-width: $threeColMax ) {

  .product-strip {
    padding-bottom: 1.625em;
  }

  // Give items 3-n a margin top
  .product-strip .gallery-item:nth-child(n+3) {
    margin-top: 1.625em;
  }

  // Give odd items zero margin left because they're not inside their own grid
  .product-strip .gallery-item:nth-child(odd) {
    margin-left: 0;
  }
}


// 8888888888 d8b 888 888
// 888        Y8P 888 888
// 888            888 888
// 8888888    888 888 888888 .d88b.  888d888 .d8888b
// 888        888 888 888   d8P  Y8b 888P"   88K
// 888        888 888 888   88888888 888     "Y8888b.
// 888        888 888 Y88b. Y8b.     888          X88
// 888        888 888  "Y888 "Y8888  888      88888P'


// Filters
// -------------------------

// Holdes Filter Results button, compare button, # products, and sorting dropdown
.filter-display-bar {
  position: relative;
  z-index: 1;

  .slide-toggle,
  .accessory-finder {
    margin-left: 2.5em;
  }

  .btn-alt-plus {
    color: $gray20;
    background-color: $gray70;
    border-color: $gray70;

    &:hover {
      color: $white;
      background-color: $gray40;
    }
  }

  .btn + .btn {
    margin-left: .375em;
  }
}

.filter-options {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;

}

.sort-options {
  margin-top: .25em;
}

.sort-options .native-dropdown {
  position: relative;
  display: none;
  cursor: pointer;

  // -webkit-appearance won't work for Firefox and IE
  &.moz-ie {
    border-right: 1px solid $gray70;
    overflow: hidden;

    select {
      width: 120%;
      overflow: hidden;
      padding-top: 4px;
    }
  }

  select {
    margin-bottom: 0;

    -webkit-appearance: button;
    padding: 0 0 0 12px;
    border-radius: 0;
    line-height: 1;
  }

  // arrows
  .absolutely {
    position: absolute;
    top: 55%;
    margin-top: -8px;
    right: 12px;
  }
}

// Filter labels ( active filters )
.active-filters-wrap {
  position: relative;
  z-index: 1;
  margin-top: 1.25em;
}

.active-filters .label {

  // Give active filter labels some spacing
  &:not(:first-child) {
    margin-left: .125em;
  }
}

.filter-label {
  color: $gray40;
}

.filter-container {
  position: relative;
  margin-top: 1.375em;
  margin-bottom: 1.375em;
  max-width: 17.625em; // 282 per Val

  .span12 & {
    max-width: none;
  }

  .filter-label {
    margin-bottom: 20px;
  }

  // Fix webkit flicker bug
  .btn-square {
    @include translate3d(0,0,0);
  }

  // Override default btn-group functionality to have them drop to the new line
  .btn-group {
    white-space: normal;
    margin-bottom: 0;

    .btn {
      margin-bottom: .375em;
    }

    > .btn:not(:last-child) {
      margin-right: .375em;
    }
  }

  // Checkbox vertical spacing
  .control-inline:not(:first-child) {
    margin-top: .375em;
  }

  .media-heading {
    color: $gray20;
  }

  .media[disabled],
  .media[disabled] .media-heading {
    color: $gray50;
  }

  .media + .media {
    margin-top: 1.25em;
  }

  .help-container {
    position: relative;
    text-align: right;
    cursor: pointer;
    clear: right;

    &.pull-right .fonticon-10-circle-q {
      margin-top: -3px;
    }

    .help-label {
      padding-right: .625em;
      @include transition(color $transitionNormal $easeNormal);
    }

    &:hover .help-label {
      color: $gray10;
    }

    i {
      line-height: 0;
      vertical-align: middle;
    }
  }
}

.filter-container + .filter-container {
  margin-top: 2.75em;
}

.sort-options .filter-label {
  display: inline-block;
  vertical-align: baseline;
  padding-right: 8px; // has a font-size set on it
}

// 980-1199
@media ( min-width: 61.25em ) and ( max-width: 74.9375em ) {

  // Per Val

  .filter-container {
    max-width: 240px;

    [class^="swatch-"],
    [class*=" swatch-"] {
      width: 2.25em;
      height: 2.125em;

      &:after {
        left: px-em(9);
        top: px-em(7);
      }
    }

    .color-swatches > :not(:last-child){
      margin-right: .25em;
    }

    .btn-square {
      @include wh( 57px, 54px );
      padding-left: 5px;
      padding-right: 5px;
      font-size: 15px;

      // I don't give a shit about your ems!
      &:after {
        font-size: 16px;
      }
    }

    .btn-group > .btn:not(:last-child) {
      margin-right: 5px;
    }

    [class*="fonticon-20-"] {
      font-size: 1.8em;
    }

    .media-heading {
      margin: -4px 0 3px;
    }

  }

}


// 768 - 979
@media ( min-width: 48em ) and ( max-width: 61.1875em ) {

  // This block is the group of media objects. It's a span12, but
  // not in it's own container, so we have to reset the margin-left
  .filter-options .grid > :last-child {
    margin-left: 0;

    & .filter-container {
      margin-top: 0;
    }
  }

  .filter-options .media-list {

    .media {
      float: left;
    }

    &[data-length="1"] .media {
      width: 100%;
    }

    &[data-length="2"] .media {
      width: 50%;
    }

    &[data-length="3"] .media {
      width: 33.3333333%;
    }

    &[data-length="4"] .media {
      width: 25%;
    }

    &[data-length="5"] .media {
      width: 20%;
    }
  }

  .filter-container .media + .media {
    margin-top: 0;
  }
}


@media (max-width: $threeColMax) {

  .touch .sort-options .native-dropdown {
    display: inline-block;
  }

  .touch .sort-options .dropdown {
    display: none;
  }

  .filter-container {
    margin-bottom: 2.8125em;
    max-width: none;

    &:last-child {
      margin-bottom: 0;
    }

    // Button horizontal spacing
    .btn-group > .btn:not(:first-child) {
      margin-left: .25em;
    }

    // Group vertical spacing
    .media + .media {
      margin-top: 1em;
    }
  }

  .filter-display-bar {

    .product-count-wrap {
      display: block;
      float: left;
      margin-bottom: 0;
      margin-top: 10px;
    }

    .btn.slide-toggle,
    .btn.js-compare-toggle {
      float: left;
      margin: 20px 0 0 0;
      min-width: auto;
      width: 48%;
    }

    .btn.slide-toggle {
      clear: both;
    }

    .btn.js-compare-toggle {
      margin-left: 4%;
    }

  }

}



// Range control
// -------------------------
.range-control-wrap,
.range-output-container {
  margin: 0.625em 0.625em 0;
}

.range-output-container {
  margin-top: 0;
}


// 88888888888       888
//     888           888
//     888           888
//     888   8888b.  88888b.  .d8888b
//     888      "88b 888 "88b 88K
//     888  .d888888 888  888 "Y8888b.
//     888  888  888 888 d88P      X88
//     888  "Y888888 88888P"   88888P'


// Tabs
// -------------------------

.gallery-tabs {

  .tabs {
  }

  .tab {
    text-align: center;

    // Change the icon color on hover/active
    &.active i,
    &:hover i {
      color: $buttonOrange;
    }
  }

  // Has to be pixels because of ghost-centering
  .holder-for-icon {
    height: 28px;
    margin-bottom: 12px;

    i {
      color: $gray40;
      @include transition();
    }
  }

  .tab-label {
    white-space: nowrap;
    margin-bottom: 0;
    line-height: 1;
  }
}

// 980-1199
// @media (min-width: px-em(980px)) and (max-width: px-em(1199px) ) {
//   .gallery-tabs {

//     $tabWidth: px-em(114px);
//     $tabHeight: px-em(84px);
//     $iconMarginBottom: 12px;
//     $tabNavTop: ($tabHeight - $navPaddleHeight) / 2;
//     .tabs {
//       height: $tabHeight;
//     }

//     .tab {
//       @include wh( $tabWidth, $tabHeight );
//     }

//     .holder-for-icon {
//       margin-bottom: $iconMarginBottom;
//     }

//     .tab-nav {
//       top: $tabNavTop;
//     }
//   }
// }

// @media ( max-width: $fourColMax ) {
// 768-979
@media ( min-width: $fourColMin ) and ( max-width: $fourColMax ) {

  .gallery-tabs {

    $tabWidth: px-em(114px);
    $tabHeight: px-em(84px);
    $iconMarginBottom: 10px;
    $tabNavTop: ($tabHeight - $navPaddleHeight980) / 2;
    .tabs {
      height: $tabHeight;
    }

    .tab {
      @include wh( $tabWidth, $tabHeight );

      i {
        font-size: 2.6em;
      }
    }

    .holder-for-icon {
      height: 26px;
      margin-bottom: $iconMarginBottom;
    }

    .tab-nav {
      top: $tabNavTop;
    }
  }
}

// 0-767
@media (max-width: $threeColMax) {

  .gallery-tabs {

    $tabWidth: px-em(88px);
    $tabHeight: px-em(71px);
    $iconMarginBottom: 6px;
    $tabNavTop: ($tabHeight - $navPaddleHeight980) / 2;
    .tabs {
      height: $tabHeight;
    }

    .tab {
      @include wh( $tabWidth, $tabHeight );

      i {
        font-size: 2.2em;
      }
    }

    .holder-for-icon {
      height: 20px;
      margin-bottom: $iconMarginBottom;
    }

    .tab-nav {
      top: $tabNavTop;
    }
  }
}



// Accessories
// -------------------------
.gallery .see-all {
  margin-top: 1.25em;
  text-align: right;
}

//  .d8888b.                                                                88888888888                888
// d88P  Y88b                                                                   888                    888
// 888    888                                                                   888                    888
// 888         .d88b.  88888b.d88b.  88888b.   8888b.  888d888 .d88b.           888   .d88b.   .d88b.  888
// 888        d88""88b 888 "888 "88b 888 "88b     "88b 888P"  d8P  Y8b          888  d88""88b d88""88b 888
// 888    888 888  888 888  888  888 888  888 .d888888 888    88888888          888  888  888 888  888 888
// Y88b  d88P Y88..88P 888  888  888 888 d88P 888  888 888    Y8b.              888  Y88..88P Y88..88P 888
//  "Y8888P"   "Y88P"  888  888  888 88888P"  "Y888888 888     "Y8888           888   "Y88P"   "Y88P"  888
//                                   888
//                                   888
//                                   888

// Compare Tool
// -------------------------

.modal-subheader {
  clear: both;

  .takeover .modal-header & {
    margin: 0;
  }

  .btn-reset {
    float: right;
  }

  .sort-options {
    float: left;
  }
}

.compare-key {
  // margin-top: 1.125em;
  margin-bottom: 1.125em;
}

// Holds labels and compare-items
.compare-container {
  padding-bottom: 5em;

  // Show the navigation
  &:hover .compare-nav {
    @include opacity(100);
  }
}

.compare-items-wrap {
  position: relative;
  height: 100%; // Get parent's height
  overflow: visible !important; // override iscroll
}

.compare-items-container {
  height: 100%;
}

.compare-nav {
  position: absolute;
  z-index: 15;
  top: 330px;
  width: 100%;
  @include opacity(0);
  @include transition();

  // Hide nav buttons when the sticky nav is active
  &.sticky-nav-open .nav-prev,
  &.sticky-nav-open .nav-next {
    @include opacity(0);
  }

  .nav-prev,
  .nav-next {
    position: absolute;
    top: 0;
  }

  .nav-prev {
    left: 60px;
  }

  .nav-next {
    right: 60px;
  }
}

// Compare Items
.compare-item {
  position: relative;
  margin-left: .1875em;
  background: $white;
  color: $gray20;
  @include transition();

  &.faded {
    opacity: 0;
  }

  &.no-width {
    width: 0;
  }

  .product-model {
    color: $gray40;
  }

  .compare-sticky-header .product-name-wrap {
    padding-right: 2.5em;
  }

  .product-content .product-name-wrap,
  .product-rating,
  .product-price,
  .color-swatches {
    margin-bottom: 1.25em;
    padding-right: 1.25em;
    padding-left: 1.25em;
  }

  .detail {
    color: $gray20;
    min-height: 2.5em;
    padding-right: 1.25em;
    padding-left: 1.25em;
  }

  .detail.highlighted {
    background: $lemon;
  }

  .media p:not(.media-heading) {
    color: $gray40;
  }
}

// Labels
.detail-labels-wrap {
  position: relative;
  z-index: 5;
  height: 100%;

  //
  &:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 2000px;
    right: 0;
    top: 0;
    background-color: $gray90;

    @include transition(box-shadow $transitionFast ease-in);
  }

  // Show a little shadow representing content behind the label column
  &.overflowing:before {
    @include box-shadow(.125em 0 .1875em -.0625em $transparentBlack);
    @include transition-timing-function(ease-out);
  }
}

.detail-labels-wrapping {
  @include translate(-0.625em, 0);
  @include opacity(0);
  -webkit-transition: opacity $transitionNormal $easeNormal .1s, -webkit-transform $transitionNormal $easeNormal .1s;
          transition: opacity $transitionNormal $easeNormal .1s, transform $transitionNormal $easeNormal .1s;

  &.complete {
    @include translate(0, 0);
    @include opacity(100);
  }
}

.detail-label-group {
  position: absolute;
}

.detail-label-group,
.detail-labels-wrapping .product-count-wrap {
  width: 100%;
  width: -webkit-calc(100% - 0.625em);
  width:         calc(100% - 0.625em);
}

// Gray border top for labels
.compare-container .detail,
.detail-labels-wrapping .product-count-wrap {
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 0;

  // Simulate border top because the "border" is not 100% of the width,
  // therefore, we can't actually use the border property
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: .0625em;
    background: $gray90;
  }
}

// Make labels have a darker border
.compare-container .detail-label:after,
.detail-labels-wrapping .product-count-wrap:after {
  left: 0;
  width: 100%;
  background: $grayLightish;
}


// Sticky header
// ---------------------
.compare-sticky-header {
  position: absolute; // will be changed to fixed with js after the `left` is measured
  z-index: 10;
  top: 0;
  left: -9999px;
  // width: inherit; // position fixed not inheriting correct width?...
  padding: 1em 0 1.25em;
  background: $gray90;
  top: -6.25em;
  @include transition(top $transitionNormal ease-in, left 0s $transitionNormal);

  // The sticky-count uses a pseudo element for the box-shadow
  &:not(.sticky-count) {
    @include box-shadow(0 .125em .3125em 0 $transparentBlack);
  }

  // Needs more specificity to override span margins
  .sticky-headers & {
    margin: 0;
  }

  // Make sticky header visible
  &.open {
    left: 0; // Show it
    top: 0;
    @include transition-delay(0s);
    @include transition-timing-function(ease-out);
  }

  // Create a sticky header box, but position it behind the text and off to the left
  // so that it looks like it extends the length of the window
  &.sticky-count:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: -.1875em; // Same as margin-left for compare-items
    width: 2000px;
    height: 100%;
    background: $gray90;
    border-right: .0625em solid rgba(0,0,0,0.05);
    @include box-shadow(0 .125em .3125em 0 $transparentBlack);
  }

  .media .pull-left {
    max-width: 90px;
    margin-right: 4px;
  }

  .product-name {
    color: $gray20;
  }

  .product-name,
  .product-model {
    margin-bottom: 0;
  }
}

.takeover-sticky-header {
  position: absolute;
  z-index: 20;
  top: -6.25em;
  left: -999em;
  width: 100%;
  background: $white;
  @include transition(top $transitionNormal ease-in, left 0s $transitionNormal);

  &.open {
    left: 0;
    top: 0;
    @include transition-delay(0s);
    @include transition-timing-function(ease-out);
  }

  .sticky-nav-title {
    padding: 18px 0;
    margin-bottom: 0;
  }

  .box-close {
    top: 15px;
    // display: none;
  }
}



.compare-item-remove {
  position: absolute;
  top: 0;
  right: 0;
}

.compare-box {
  display: inline-block;
  padding: 11px 12px;
  color: $white;
  // font-size: $font_18_16;
  line-height: 1;
  background: $gray20;
}

@media (max-width: $threeColMax) {

  .compare-nav {
    display: none;
  }

  .takeover-sticky-header .box-close {
    display: block;
  }


  .compare-item .detail:before {
    content: attr(data-label);
    display: block;
    margin-bottom: 0.625em;

    // .l4
    // ------------
    color: $gray40;
    @include fontMedium;
    text-transform: uppercase;
    font-size: $font_11_16;
    // ------------
  }
}



