/* TO BE GLOBAL */

@import "../_base/variables"; // Modify this for custom colors, font-sizes, etc
@import "../_base/mixins";



* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

$grid5Columns: 5;
$grid5ColWidth: 204px;
$grid5GutterWidth: 23px;
$grid5RowWidth: ($grid5Columns * $grid5ColWidth) + ($grid5GutterWidth * ($grid5Columns - 1));

$fluidGrid5ColWidth: percentage($grid5ColWidth / $grid5RowWidth);
$fluidGrid5GutterWidth: percentage($grid5GutterWidth / $grid5RowWidth);

.lt-ie9 .grid5 {
  // @include grid-core($grid5ColWidth, $grid5GutterWidth, $grid5Columns);
  @include grid-fluid($fluidGrid5ColWidth, $fluidGrid5GutterWidth, $grid5Columns);
}

@media (max-width:767px) {
  .grid5 {

    .row {
      margin-left: -2%;
    }

    [class*="span"] {
      float: left;
      min-height: 1px;
      margin-left: 2%;
      width: 48%;
    }

  }
}

@media (min-width:768px) {
  .grid5 {
    // @include grid-core(172px, 20px, 5);
    @include grid-fluid($fluidGrid5ColWidth, $fluidGrid5GutterWidth, $grid5Columns);
  }
}

// @media (min-width:1200px) {
//   .grid5 {
//     // @include grid-core($grid5ColWidth, $grid5GutterWidth, $grid5Columns);
//     @include grid-fluid($fluidGrid5ColWidth, $fluidGrid5GutterWidth, $grid5Columns);
//   }
// }



// Price text module
.product-content {

  .product-name {
    color: $grayDark;
  }

  .price-title {
    margin: 0;
  }

  .price {
    margin: -0.4em 0 0;
  }
}


.product-meta {
  margin: (0.5em * $baseLineHeight) 0 (0.5em * $baseLineHeight) 1px;
  padding: 0 0 0 15px;
  list-style-type: square;
}




.gallery-title-bar {
  margin-top: 1.25em;
  margin-bottom: 1.25em;

  .dropdown {
    display: inline-block;
  }
}


// Gallery Items
// -------------------------

// I don't remember why i have this...
.gallery-detailed .shuffle-item {
  margin: 23px 0 0;
}


$galleryItemHeight: 337px;
$galleryItemImgHeight: 220px;
$detailedGalleryItemHeight: 480px;
.gallery .row-fluid .gallery-item {
  margin-left: 0;
}

.gallery-item {
  position: relative;
  margin-top: $grid5GutterWidth;
  height: $galleryItemHeight;
  overflow: hidden;
  background: $white;
  
  // Container for product images
  .product-img {
    height: $galleryItemImgHeight;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background: $grayLightFieldLarge;

    img {
      display: block;
      max-height: 100%;
      max-width: 100%;
    }
  }

  // h2 is height * 2
  &.h2 {
    height: ($galleryItemHeight * 2) + $grid5GutterWidth;
  }

  // Promo gallery item images are the full height
  &.promo {

    .product-content {
      position: absolute;
      top: 0;
      left: 0;
      text-align: left;
    }
    
    .product-img {
      height: 100%;
    }

    img {
      max-height: initial;
      max-width: initial;
    }
  }

  // Double the height and include margin
  &.large .product-img {
    height: $galleryItemHeight + $grid5GutterWidth + $galleryItemImgHeight;
  }

  .gallery-detailed & {
    height: $detailedGalleryItemHeight;
  }

  .label {
    position: absolute;
    top: 0;
    right: 0;
  }

  .icon-ui-favorite {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
  }
}


@media (max-width: 767px) {
  .gallery-item {
    margin-top: 10px;

    // Make it a 2x1 instead of 2x2 or 1x2
    // need .gallery selector to override .grid5
    .gallery &.promo,
    .gallery &.h2 {
      // height: ($galleryItemHeight * 2) + 10px;
      height: $galleryItemHeight;
      width: 100%;
    }

    .gallery &.large .product-img {
      height: $galleryItemImgHeight;
    }
  }

  .gallery-detailed {

    .label {
      left: 0;
      right: auto;
    }

    .gallery-item {
      display: table;
      height: auto; // ???
    }

    .product-img {
      display: table-cell;
      width: 33.33%;
      vertical-align: middle;
    }

    .product-content {
      display: table-cell;
      width: 66.66%;
      padding-left: 5%;
    }
  }

  // Only show 4 on mobile
  .product-strip .gallery-item:nth-child(n + 5) {
    display: none;
  }
}



// Filters
// -------------------------
.product-filter {
  margin: 1.45em 0; // 23.2px
  background: $grayLightFieldLarge;
}

.filter-options {
  margin-top: 20px;
  margin-bottom: 20px;
}

// Filter labels ( active filters )
.active-filters .label {

  // Give active filter labels some spacing
  &:not(:first-child) {
    margin-left: 2px;
  }
}

.filter-container {

  // Override default btn-group functionality to have them drop to the new line
  .btn-group {
    white-space: normal;

    // fake border right because we've already set the border
    > .btn:not(:first-child) {
      // @include box-shadow(-1px 0 0 $grayLightFieldLarge);
      margin-left: 1px;
    }
  }

  // Box shadow hovers get cut off with overflow hidden
  .media {
    overflow: visible;
  }

  .media[disabled] {
    color: $grayLight;
  }
}

@media (max-width: 767px) {

  // override bootstrap's visible-phone important declaration :(
  .sort-options .native-dropdown {
    display: initial !important;
    vertical-align: baseline;
  }
  
}



// Range control
// -------------------------
.range-control-wrap {
  margin-top: 10px;
  padding: 0 10px;
}

.range-output {
  margin-top: 10px;
  text-align: center;
}

// Misc
// -------------------------
.tab-content {
  margin-top: 20px;
  overflow: visible;
}



// Tabs
// -------------------------

$tabHeight: 100px;

// Container for .tabs-container
.tab-strip {
  position: relative;
  background-color: $grayLightFieldLarge;
}

// Container for .tab's
.tabs {
  z-index: 1;
  height: $tabHeight;
  overflow-x: auto;
  white-space: nowrap;
}

// Set up tab carousel
@media (min-width: 768px) and (max-width: 979px) {
  .tabs {
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    -webkit-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
  }

  .tabs-container {
    overflow: hidden;
  }
}

.tab {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 120px;
  height: $tabHeight;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 0 0 $white;

  -webkit-transition: background-color .15s ease-out, box-shadow .15s ease-out, top .15s ease-out;
     -moz-transition: background-color .15s ease-out, box-shadow .15s ease-out, top .15s ease-out;
          transition: background-color .15s ease-out, box-shadow .15s ease-out, top .15s ease-out;

  &.active {
    z-index: 2;
    top: -2px;
    background-color: $white;
    box-shadow:
      0 2px 0 $white,
      0 0 4px 1px rgba(0,0,0,0.15);
  }
}

.holder-for-icon {
  height: 30px;
}

.tab-label {
  margin-top: 15px;
}


// Tablet tab carousel nav buttons
.tab-nav-btns {
  position: absolute;
  z-index: 5;
  height: $tabHeight;
}

.tab-nav-wrap {
  position: relative;
  display: none;
}

@media (min-width: 768px) and (max-width: 979px) {
  .tab-nav-wrap {
    display: block;
  }
}

// Tab carousel nav
// -------------------------
.tab-nav {
  position: absolute;
  z-index: 5;
  top: 0;
  left: -30px;
  display: none;
  width: 30px;
  height: 100%;
  background: #f2f2f2;
  cursor: pointer;
}

.tab-nav-next {
  left: 724px;
}

// Arrow
.tab-nav:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -2px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid $blue;
  border-bottom: 5px solid transparent;
}

// Arrow
.tab-nav-next:before {
  border-top: 5px solid transparent;
  border-right: none;
  border-left: 5px solid $blue;
  border-bottom: 5px solid transparent;
}

// Accessories
.see-all {
  text-align: center;
  background: $grayLightFieldLarge;
}

// Just for this page
