@import "../_base/variables";
@import "../_base/mixins";

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

$threeColMin: px-em(568px);
$threeColMax: px-em(767px);
$fourColMin: px-em(768px);
$fourColMax: px-em(979px);


// 8888888b.                       888                   888         88888888888                888
// 888   Y88b                      888                   888             888                    888
// 888    888                      888                   888             888                    888
// 888   d88P 888d888 .d88b.   .d88888 888  888  .d8888b 888888          888   .d88b.  888  888 888888
// 8888888P"  888P"  d88""88b d88" 888 888  888 d88P"    888             888  d8P  Y8b `Y8bd8P' 888
// 888        888    888  888 888  888 888  888 888      888             888  88888888   X88K   888
// 888        888    Y88..88P Y88b 888 Y88b 888 Y88b.    Y88b.           888  Y8b.     .d8""8b. Y88b.
// 888        888     "Y88P"   "Y88888  "Y88888  "Y8888P  "Y888          888   "Y8888  888  888  "Y888


// Price text module
.product-content {
  margin-top: .75em;
  line-height: 1.3;

  .product-name {
    color: $gray20;
  }

  .detailed & .product-name {
    font-size: $font_15_16;
  }

  .product-model {
    color: $gray40;
  }

  .product-rating {
    margin: .5em 0 1em;
    color: $gray40;
  }

  .price-title {
    margin: 0;
  }

  .product-price {
    margin-top: 1em;
    color: $gray40;
    @include text-overflow();
  }

  .product-price .price {
    font-size: $font_15_16;
  }

  .msrp {
    font-size: $font_10_16;
  }
}


.product-meta {
  margin: 0 0 1em;
  padding: 0 0 0 1em;
  list-style-type: square;
  color: $gray40;
}


// Gallery
// -------------------------

// Give multiple gallery sections a border top
.gallery + .gallery > *:first-child {
  border-top: .1875em solid $gray70;
  margin-top: 1.875em;
  padding-top: 1.875em;
}

.gallery-detailed .products {
  margin-top: -3.125em;
}


// Gallery Items
// -------------------------

// 50px margin-top on detailed gallery items
.gallery-item.detailed {
  margin: 3.125em 0 0;
}

.gallery .shuffle .shuffle-item.gallery-item {
  margin-left: 0;
}


//  .d8888b.           888 888                                8888888 888
// d88P  Y88b          888 888                                  888   888
// 888    888          888 888                                  888   888
// 888         8888b.  888 888  .d88b.  888d888 888  888        888   888888 .d88b.  88888b.d88b.
// 888  88888     "88b 888 888 d8P  Y8b 888P"   888  888        888   888   d8P  Y8b 888 "888 "88b
// 888    888 .d888888 888 888 88888888 888     888  888        888   888   88888888 888  888  888
// Y88b  d88P 888  888 888 888 Y8b.     888     Y88b 888        888   Y88b. Y8b.     888  888  888
//  "Y8888P88 "Y888888 888 888  "Y8888  888      "Y88888      8888888  "Y888 "Y8888  888  888  888
//                                                   888
//                                              Y8b d88P
//                                               "Y88P"

$oneByOnePadding: 165.19607843137254%;
$oneByOneImgPadding: 107.84313725490196%;
.gallery-item {
  position: relative;
  display: block;
  margin-top: $slimGrid5GutterWidth1200;
  overflow: hidden;
  background: $white;

  &:after {
    content: '';
    display: block;
    padding-top: $oneByOnePadding;
  }

  // Make them a bit bigger
  .shuffle-6 &:after {
    padding-top: 169.396078%;
  }

  .gallery-item-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  // Container for product images
  .product-img {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background: $gray80;
    @include transition(background-color $transitionFast $easeNormal);

    &:hover {
      background-color: $gray95;
    }

    &:after {
      content: '';
      display: block;
      padding-top: $oneByOneImgPadding;
    }

    .product-img-wrap {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    img {
      display: block;
      max-height: 100%; // This is causing the images to sometimes be tiny. Not sure what to do about it...
      max-width: 100%;
      margin: auto;
    }

  }

  // Large tiles
  &.large {

    &:after {
      padding-top: 105.92705167173253%;
    }

    .product-img:after {
      padding-top: 88.14589665653495%;
    }

    // 3 column grid
    .shuffle-3 & .product-img:after {
      // padding-top: 107.045%;
    }

    // Change padding for 4 column grid
    .shuffle-4 &:after {
      padding-top: $oneByOnePadding;
    }

    // 4 column grid
    .shuffle-4 & .product-img:after {
      padding-top: $oneByOneImgPadding;
    }

    // Should = 612px at full width (296 * 2 + 20)
    .shuffle-6 &:after {
      padding-top: 105.3%;
    }

    .shuffle-6 & .product-img:after {
      padding-top: 87%;
    }

    @media (min-width: px-em(980px)) and (max-width: px-em(1023px) ) {
      &:after {
        padding-top: 106.8%
      }
    }
  }

  // Title plate
  &.plate {

    &:after {
      padding-top: 59.190255%;
    }

    .shuffle-4 &:after {
      padding-top: 77.790255%;
    }

    .product-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: left;
    }

    .product-img {
      height: 100%;
    }

    img {
      max-height: none;
      max-width: none;
    }

    div.iq-img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }

  // Promo gallery item images are the full height
  &.promo {

    &:after {
      padding-top: 78.19025522041764%;
    }

    .shuffle-4 &:after {
      // padding-top: 77.790255%;
    }

    .product-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: left;
    }

    .product-img {
      height: 100%;
    }

    img {
      max-height: none;
      max-width: none;
    }

    div.iq-img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }

  .label {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
  }
}

// Offset the tooltip to the left
// -----------------------
$offsetFromMiddle: px-em(45px);
.gallery-tooltip {
  margin-left: $offsetFromMiddle;

  // Because we have a bigger hotspot than the favorite icon,
  // it positions the tooltip based on that and looks off
  &.top {
    margin-top: 3px;
  }

  // Move the arrow the same amount as the whole tooltip
  &.top .tooltip-arrow {
    left: 21%;
    left: -webkit-calc(50% - #{$offsetFromMiddle + .125em});
    left: calc(50% - #{$offsetFromMiddle + .125em});
  }
}



// Styles, not structure, for gallery tiles
.gallery-item {

  .color-swatches {
    position: absolute;
    right: .875em;
    bottom: .6875em;
  }

  .favorite-holder {
    position: absolute;
    left: px-em(8px);
    bottom: px-em(6px);
    width: px-em(28px);
    height: px-em(24px);
    text-align: center;
    cursor: pointer;

    i {
      // margin-top: px-em(3px);
      vertical-align: baseline;
    }
  }
}


// 8888888b.                                              88888888888 d8b 888
// 888   Y88b                                                 888     Y8P 888
// 888    888                                                 888         888
// 888   d88P 888d888 .d88b.  88888b.d88b.   .d88b.           888     888 888  .d88b.  .d8888b
// 8888888P"  888P"  d88""88b 888 "888 "88b d88""88b          888     888 888 d8P  Y8b 88K
// 888        888    888  888 888  888  888 888  888          888     888 888 88888888 "Y8888b.
// 888        888    Y88..88P 888  888  888 Y88..88P          888     888 888 Y8b.          X88
// 888        888     "Y88P"  888  888  888  "Y88P"           888     888 888  "Y8888   88888P'

// Promo Tiles
// -------------------------
.gallery-item .promo-content {
  color: $white;
  text-align: left;

  .text-promo-title {
    position: absolute;
    top: 50px;
    left: 42px;
    margin: 0;
    max-width: 225px;

    // Chevron
    i {
      vertical-align: middle;
      margin-left: 5px;
    }

  }

  // e.g. "Carl Zeiss"
  strong {
    color: $white;
  }

  // e.g. "22 LENSES"
  .text-count {
    position: absolute;
    bottom: 32px;
    left: 42px;
    margin: 0;

    span {
      color: $white;
    }
  }

  // e.g.  "22"
  .text-count .number {
    font-size: $font_13_16;
  }

  // e.g.  "LENSES"
  .text-count .text {
    font-size: $font_12_16;
  }

  // ::Different styles go here::

  &.light-text-dark-box {}
  &.light-text-trans-box {}
  &.dark-text-light-box {}
  &.dark-text-trans-box {}

  &.align-left-top {}
  &.align-left-center {}
  &.align-left-bottom {}
  &.align-center-center {}
  &.align-right-top {}
  &.align-right-center {}
  &.align-right-bottom {}
}

// Promo Media Queries
// -------------------------
@media (max-width: $threeColMax) {

  .gallery-item .promo-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5625em 1em;

    .text-promo-title,
    .text-count {
      position: static;
    }

    .text-promo-title {
      max-width: none;
      font-size: $font_22_16;
      margin: 0 0 0.825em;
    }
  }
}

// Plates - should be encompassed by .promo-content above
// -------------------------
// .gallery-item.plate {


// Detailed gallery item sizes
// -------------------------
.gallery-detailed {

  .gallery-item:after {
    padding-top: 135.2112676056338%;
  }

  .product-img:after {
    padding-top: 76.05633802816901%;
  }

}

// 888b     d888  .d88888b.
// 8888b   d8888 d88P" "Y88b
// 88888b.d88888 888     888
// 888Y88888P888 888     888 .d8888b
// 888 Y888P 888 888     888 88K
// 888  Y8P  888 888 Y8b 888 "Y8888b.
// 888   "   888 Y88b.Y8b88P      X88
// 888       888  "Y888888"   88888P'
//                      Y8b


// Gallery item media queries
// -------------------------
@media (min-width: px-em(980px)) and (max-width: px-em(1100px) ) {

  .gallery-detailed .products {
    margin-top: -2.5em;
  }

  .gallery-item.detailed {
    margin-top: 2.5em;

    &:after {
      padding-top: 146%;
    }
  }

  .product-content {

    .price-prefix {
      font-size: $font_12_16;
    }
  }
}

// 768-979
@media ( min-width: $fourColMin ) and ( max-width: $fourColMax ) {

  .gallery-detailed .products {
    margin-top: -2.5em;
  }

  .gallery-item.detailed {
    margin-top: 2.5em;

    // Minimum for @768
    &:after {
      padding-top: 175%;
    }
  }

  .product-content {

    .price-prefix {
      font-size: $font_10_16;
    }
  }
}

@media (max-width: $threeColMax) {

  // Remove percentage heights
  .gallery-item {

    &:after {
      content: none;
    }

    .gallery-item-inner {
      position: relative;
    }

    .product-img:after {
      content: none;
    }

    .product-img .product-img-wrap {
      position: relative;
    }
  }

  // Put percentage heights back for editorial
  .gallery-editorial {

    .gallery-item {
      margin-top: 0.625em;

       &:after {
        content: '';
        padding-top: $oneByOnePadding;
      }
    }

    .gallery-item-inner,
    .product-img .product-img-wrap {
      position: absolute;
    }

    // Make all tiles the same size
    .gallery-item .product-img:after {
      content: '';
      padding-top: $oneByOneImgPadding;
    }
  }


  .gallery-detailed {

    .label {
      left: 0;
      right: auto;
    }

    .products {
      margin-top: -1.625em;
    }

    .gallery-item {
      margin-top: 1.625em; // 26
      display: table;
      height: auto;
    }

    // Firefox is having a problem with display:table-cell ...
    .product-img {
      position: relative;
      display: table-cell;
      width: 48%;
      vertical-align: middle;
    }


    .product-content {
      display: table-cell;
      width: 48%;
      padding-left: 4%;
    }


    .product-rating {
      font-size: $font_10_16;
      margin: .5em 0 .6875em;
    }

    .product-meta {
      margin-bottom: .6875em;

      li {
        font-size: $font_10_16;
      }
    }

    .product-content .product-name {
      font-size: $font_11_16;
    }

    .product-model {
      font-size: $font_9_16;
    }
  }

  .product-content {


    .price-prefix {
      margin-bottom: 0;
      display: block;
    }

  }

}

// 568 - 640
@media ( min-width: $threeColMin ) and ( max-width: 40em ) {

  // Make gallery items taller
  .gallery-item.basic:after {
    padding-top: 187%;
  }
}


// <= 479
@media ( max-width: 29.9375em ) {

}

// <= 360
@media ( max-width: 22.5em ) {

  // Make gallery items taller
  .gallery-item.basic:after {
    padding-top: 190%;
  }
}


// 8888888b.                       888                   888          .d8888b.  888            d8b
// 888   Y88b                      888                   888         d88P  Y88b 888            Y8P
// 888    888                      888                   888         Y88b.      888
// 888   d88P 888d888 .d88b.   .d88888 888  888  .d8888b 888888       "Y888b.   888888 888d888 888 88888b.
// 8888888P"  888P"  d88""88b d88" 888 888  888 d88P"    888             "Y88b. 888    888P"   888 888 "88b
// 888        888    888  888 888  888 888  888 888      888               "888 888    888     888 888  888
// 888        888    Y88..88P Y88b 888 Y88b 888 Y88b.    Y88b.       Y88b  d88P Y88b.  888     888 888 d88P
// 888        888     "Y88P"   "Y88888  "Y88888  "Y8888P  "Y888       "Y8888P"   "Y888 888     888 88888P"
//                                                                                                 888
//                                                                                                 888
//                                                                                                 888

// Product Strip
// -------------------------

.product-strip-wrap {
  padding-top: 3.75em; // 60px

  &:not(:first-child) {
    border-top: .0625em solid $gray70;
  }
}

.product-strip-heading {
  margin-top: 0;
  margin-bottom: 1.25em;
}

.product-strip {

  .gallery-item {
    margin-top: 0;
  }
}

@media ( max-width: $threeColMax ) {

  .product-strip {
    padding-bottom: 1.625em;
  }

  .product-strip .gallery-item:not(:first-child) {
    margin-top: 1.625em;
  }
}


// 8888888888 d8b 888 888
// 888        Y8P 888 888
// 888            888 888
// 8888888    888 888 888888 .d88b.  888d888 .d8888b
// 888        888 888 888   d8P  Y8b 888P"   88K
// 888        888 888 888   88888888 888     "Y8888b.
// 888        888 888 Y88b. Y8b.     888          X88
// 888        888 888  "Y888 "Y8888  888      88888P'


// Filters
// -------------------------

// Holdes Filter Results button, compare button, # products, and sorting dropdown
.filter-display-bar {
  position: relative;
  z-index: 1;

  .slide-toggle {
    margin-left: 1.25em;
  }

  .btn-alt-plus {
    color: $gray20;
    background-color: $gray70;
    border-color: $gray70;

    &:hover {
      color: $white;
      background-color: $gray40;
      border-color: $gray40;
    }
  }

  .btn + .btn {
    margin-left: .3125em;
  }
}

.filter-options {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;

  .media + .media {
    margin-top: 1.25em;
  }

  .help-container {
    text-align: right;
    cursor: pointer;

    .help-label {
      padding-right: .625em;
    }

    i {
      vertical-align: middle;
    }
  }

}

.sort-options {
  margin-top: .25em;
}

.sort-options .native-dropdown {
  display: none;
}

.filter-label {
  color: $gray40;
  font-size: $font_11_16;
  margin-bottom: 20px;
  @include fontMedium();
}

// Filter labels ( active filters )
.active-filters-wrap {
  position: relative;
  z-index: 1;
}

.active-filters .label {

  // Give active filter labels some spacing
  &:not(:first-child) {
    margin-left: .125em;
  }
}

.filter-container {
  margin-bottom: 2.75em;

  .regular-filters &:nth-child(odd) {
    clear: both;
    margin-left: 0;
  }

  &:last-child,
  &:nth-last-child(2),
  .best-for,
  .media-heading {
    margin-bottom: 0;
  }

  // Override default btn-group functionality to have them drop to the new line
  .btn-group {
    white-space: normal;

    > .btn:not(:first-child) {
      margin-left: .375em;
    }
  }

  // Box shadow hovers get cut off with overflow hidden
  .media {
    overflow: visible;
    color: $gray40;
  }

  .media-heading {
    color: $gray20;
  }

  .media[disabled],
  .media[disabled] .media-heading {
    color: $gray50;
  }
}

.product-count {
  // font-size: $font_15_15;
}


@media (max-width: $threeColMax) {

  .sort-options .native-dropdown {
    display: initial;
    vertical-align: baseline;
  }

  .sort-options .dropdown {
    display: none;
  }

  .filter-display-bar {

    .product-count-wrap {
      display: block;
      float: left;
    }

    .slide-toggle {
      clear: both;
      margin-left: 0;
      float: left;
    }

    .js-compare-toggle {
      float: right;
      margin-left: 2%;
    }

    .slide-toggle,
    .js-compare-toggle {
      width: 48%;
    }
  }
}



// Range control
// -------------------------
.range-control-wrap {
  margin-top: 0.625em;
  padding: 0 0.625em;
}

.range-output {
  margin-top: 0.625em;
  text-align: center;
}

// Misc
// -------------------------
.tab-content {
  margin-top: 1.5em;
  overflow: visible;
}


// 88888888888       888
//     888           888
//     888           888
//     888   8888b.  88888b.  .d8888b
//     888      "88b 888 "88b 88K
//     888  .d888888 888  888 "Y8888b.
//     888  888  888 888 d88P      X88
//     888  "Y888888 88888P"   88888P'


// Tabs
// -------------------------

.gallery-tabs {

  .tab {
    text-align: center;
  }

  .holder-for-icon {
    height: 1.875em;
    margin-bottom: 1em;

    i {
      vertical-align: bottom;
    }
  }

  .tab-label {
    white-space: nowrap;
    margin-bottom: 0;
  }
}


// Accessories
// -------------------------
.gallery .see-all {
  margin-top: 1.25em;
  text-align: right;
}

//  .d8888b.                                                                88888888888                888
// d88P  Y88b                                                                   888                    888
// 888    888                                                                   888                    888
// 888         .d88b.  88888b.d88b.  88888b.   8888b.  888d888 .d88b.           888   .d88b.   .d88b.  888
// 888        d88""88b 888 "888 "88b 888 "88b     "88b 888P"  d8P  Y8b          888  d88""88b d88""88b 888
// 888    888 888  888 888  888  888 888  888 .d888888 888    88888888          888  888  888 888  888 888
// Y88b  d88P Y88..88P 888  888  888 888 d88P 888  888 888    Y8b.              888  Y88..88P Y88..88P 888
//  "Y8888P"   "Y88P"  888  888  888 88888P"  "Y888888 888     "Y8888           888   "Y88P"   "Y88P"  888
//                                   888
//                                   888
//                                   888

// Compare Tool
// -------------------------
.compare-key {
  margin-top: 1.125em;
  margin-bottom: 1.125em;
}

.compare-container {
  padding-bottom: 5em;
}

.compare-items-wrap {
  overflow: visible !important; // override iscroll
}

.compare-item {
  position: relative;
  margin-left: .1875em;
  background: $white;
  color: $gray20;

  .product-model {
    color: $gray40;
    font-size: $font_11_16;
  }

  .product-name {
    font-size: $font_13_16;
  }

  .compare-sticky-header .product-name-wrap {
    padding-right: 2.5em;
  }

  .product-content .product-name-wrap,
  .product-rating,
  .product-price,
  .color-swatches {
    margin-bottom: 1.25em;
    padding-right: 1.25em;
    padding-left: 1.25em;
  }

  .detail {
    min-height: 2.5em;
    padding-right: 1.25em;
    padding-left: 1.25em;
  }

  .detail.highlighted {
    background: $lemon;
  }

  .media p:not(.media-heading) {
    color: $gray40;
  }
}

.detail-labels-wrap {
  position: relative;
  z-index: 5;
  height: 100%;

  &:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 2000px;
    right: 0;
    top: 0;
    background-color: $gray90;

    @include transition(box-shadow $transitionFast ease-in);
  }

  &.overflowing:before {
    @include box-shadow(.125em 0 .1875em -.0625em $transparentBlack);
    @include transition-timing-function(ease-out);
  }
}

.detail-labels-wrapping {
  @include translate(-0.625em, 0);
  @include opacity(0);
  -webkit-transition: opacity $transitionNormal $easeNormal .1s, -webkit-transform $transitionNormal $easeNormal .1s;
          transition: opacity $transitionNormal $easeNormal .1s, transform $transitionNormal $easeNormal .1s;

  &.complete {
    @include translate(0, 0);
    @include opacity(100);
  }
}

.detail-label-group {
  position: absolute;
}

.detail-label-group,
.detail-labels-wrapping .product-count-wrap {
  width: 100%;
  width: -webkit-calc(100% - 0.625em);
  width:         calc(100% - 0.625em);
}

// Gray border top for labels
.compare-container .detail,
.detail-labels-wrapping .product-count-wrap {
  position: relative;
  padding-top: 0.625em;

  // Simulate border top because the "border" is not 100% of the width,
  // therefore, we can't actually use the border property
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: .0625em;
    background: $gray90;
  }
}

// Make labels have a darker border
.compare-container .detail-label:after,
.detail-labels-wrapping .product-count-wrap:after {
  left: 0;
  width: 100%;
  background: $grayLightish;
}

// Sticky header
.compare-sticky-header {
  position: absolute; // will be changed to fixed with js after the `left` is measured
  z-index: 10;
  top: 0;
  left: -9999px;
  // width: inherit; // position fixed not inheriting correct width?...
  padding: 1em 0 0.5em;
  background: $gray90;
  top: -6.25em;
  @include transition(top $transitionNormal ease-in, left 0s $transitionNormal);

  // The sticky-count uses a pseudo element for the box-shadow
  &:not(.sticky-count) {
    @include box-shadow(0 .125em .3125em 0 $transparentBlack);
  }

  // Needs more specificity to override span margins
  .sticky-headers & {
    margin: 0;
  }

  // Make sticky header visible
  &.open {
    left: 0; // Show it
    top: 0;
    @include transition-delay(0s);
    @include transition-timing-function(ease-out);
  }

  // Create a sticky header box, but position it behind the text and off to the left
  // so that it looks like it extends the length of the window
  &.sticky-count:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: -.1875em; // Same as margin-left for compare-items
    width: 2000px;
    height: 100%;
    background: $gray90;
    border-right: .0625em solid rgba(0,0,0,0.05);
    @include box-shadow(0 .125em .3125em 0 $transparentBlack);
  }

  .media .pull-left {
    max-width: 33.3333%;
  }
}

.compare-item-remove {
  position: absolute;
  top: 0;
  right: 0;
}

.box-close {
  position: absolute;
  top: 1.25em;
  right: 0;
  @include size( px-em(40px), px-em(43px) );
  padding: 0;
  line-height: 1;
  background: $gray40;
  border: none;
  text-align: center;
  cursor: pointer;

  i {
    vertical-align: baseline;
  }
}

.box-close-small {
  @include square( px-em(23px) );
  top: 0;

  i {
    vertical-align: middle;
  }
}

.compare-box {
  display: inline-block;
  padding: 11px 12px;
  color: $white;
  font-size: $font_18_16;
  line-height: 1;
  background: $gray20;
}

@media (max-width: $threeColMax) {
  .compare-item .detail:before {
    content: attr(data-label);
    display: block;
    margin-bottom: 0.625em;

    // .l4
    // ------------
    color: $gray40;
    @include fontMedium;
    text-transform: uppercase;
    font-size: $font_11_16;
    // ------------
  }
}



