@import "../_base/variables";
@import "../_base/mixins";

.primary-tout{
  .hero-image{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  } 
  .container{
    .inner{
      position:absolute;
      top:0;
      .hero-unit{
        margin-top:73px;
        background:$transparentBlack;
        padding:56px;
        .kicker{
          margin-bottom:0;
        }
        h1{
          margin-top:0;
          @include hyphens;
        }
      }
    }
  }
}
@media (min-width: 769px) {
  .primary-tout{
    .hero-image{
      height:640px;
    }
  }
}
@media (min-width: 481px) and (max-width:768px) {
  .primary-tout{
    .hero-image{
      height:500px;
    }
    .container{
      position:relative;
      .inner{
        top:auto;
        bottom:0;
        padding:18px;
        .hero-unit{
          padding:36px;
          h1{
            font-size:2.2em;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .primary-tout{
    .hero-image{
      height:400px;
    }
    .container{
      position:relative;
      .inner{
        top:auto;
        bottom:0;
        padding:18px;
        .hero-unit{
          padding:36px;
          h1{
            font-size:1.5em;
          }
        }
      }
    }
  }
}