@import "../_base/variables";
@import "../_base/mixins";

$phoneMax: px-em(767);
$tabletMin: px-em(768);
$tabletMax: px-em(979);
$desktopMin: px-em(980);

.primary-tout{
  @include dttb;
  @include themecolors;
  
  h1{
    @include hyphens;
  }
  
  position:relative;
  
  .hero-image{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height:640px;
  } 
  .box.left{
    text-align:left;
  }
  .box.center{
    text-align:center;
  }
  .box.right{
    text-align:right;
  }
    
  .inner{
    height:100%;
    position:absolute;
    top:0;
    right:0;
    left:0;
    >div,
    .table-center-wrap{
      height:100%;
    }
    .box{
      margin-top:-1%;
      padding:56px;
      .eyebrow{
        margin-bottom:0px;
      }
      h1{
        margin-top:0;
        margin-bottom:20px;
        margin-left:-2px;
      }
      .p3{
        margin-bottom:45px;
      }
      i{
        margin-right: px-em(-4);
        font-size: 1.35em;
        vertical-align: px-em(1);
      }
    }
  }


  
  &.homepage{
    .inner{
      .table-center-wrap{
        width:100%;
      }
    }
    .secondary{
      position:absolute;
      bottom:0;
      right:0;
      left:0;
      width:100%;
      .box{
        padding:32px 0 22px 0;
      }
    }
  }
}

@media (min-width: $tabletMin) and (max-width:$tabletMax) {
  .primary-tout{
    .hero-image{
      height:520px;
    }
  }
}
@media (max-width: $phoneMax) {
  .primary-tout{
    .hero-image{
      height:306px;
    }
    .inner{
      .box{
        &.top{
          top:0;
        }
        &.bottom{
          bottom:0;
        }
        margin-top:0;
        padding:22px 0 25px 0;
        position:absolute;
        
        left:0;
        right:0;
        .eyebrow{
          margin-bottom:0px;
        }
        h1{
          margin-top:0;
          margin-bottom:20px;
          margin-left:-2px;
        }
        .p3{
          display:none;
        }
      }
    }
  }
}