@import "../_base/variables"; // Modify this for custom colors, font-sizes, etc
@import "../_base/mixins";

// This was from me a long time ago, if you need it, use a class - Glen
// section {
//   overflow: hidden;
// }

.debug {
  .products {
    counter-reset: item;
  }

  .gallery-item {
    counter-increment: item;

    &::before {
      content: counter(item, decimal);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.rpWebkit3d *  {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

.rpWrapper {
  max-width: 600px;
  width: 100%;
  background: none;
  padding: 115px 0 120px 0;
  display: block;
}


.grid4 .rpGrid {
  padding: 0 30px 0 30px;
}

.rpGrid {
  padding: 0;
  height: 100%;
  width:100%;

  .gallery-item:after {
    content: '';
    display: block;
  }

  .span1.gallery-item:after {
    padding-top: 130.196078%;
  }

  @media (min-width: 481px) and (max-width: 979px){
    .gallery-item .product-img:after {
      padding-top: 59.843137%;
    }
  }
}

@media (min-width: 768px) {
  .grid5 .grid .related-products[class*="span"] {
    margin-left: 0;
  }
}

  .gallery-item.plate .product-img:after {
    content: '';
  }

@media (max-width: 480px) {

  .related-products .gallery-item.small-size {
    min-height: 1px;
    margin-left: 20px ;
    width: 204px ;
    max-height: 225px;
  }
}

  .grid5  .grid .related-products [class*="span"] {
    margin-left: 0;
  }

.related-products {

  .color-swatches {
    display:none;
    visibility: hidden;
  }

  .gallery-item .product-img.teal-color {
    background-color: #45afc9;
  }

  .orange-color {
    background-color: #f0b938;
  }

  .row-fluid .gallery-item,
  .grid .gallery-item {
    margin-left: 0;
  }

  .product-content {
    font-family: $sansFontFamilyMedium;
    font-size: $font_13_16;

    color: $grayDark;

    .p5:not(.msrp) {
      display:block;
      color: #83838f;
    }
  }

  .gallery-item {

    overflow: inherit;

    .product-img {

      background:none;

      &:hover {
        @include box-shadow(none);
        background-color: none;
      }
    }
  }

  .gallery-item.plate .text-promo-title {
    font-size: $font_25_16;
    max-width: 265px;
    top:30px;

    strong {
      font-family: $sansFontFamily;
    }

    @media (max-width:480px) {
      font-size: $font_18_16;
      top: 10px;
      left: 10px;
      max-width: none;
    }
  }

  .gallery-item.plate:after {
    padding-top: 61.690255%;
  }

  .gallery-item:after {
    content: '';
  }

  .product-img:after {
    content: '';
  }

  @media (max-width: 481px){
    .product-img:after {
      content: none;
    }
  }

  width: 100%;
  margin: 15px 0 0 0;
  padding: 0 ;
  position: relative;
  direction: ltr;
  overflow: hidden;

   &:after {
    content:'';
    margin-top: 49.761151%;
    display: block;
  }

  @media (max-width: 481px){

    &:after {
      content: none;
    }
  }

  .small-size {
    width: 204px;
    height:337px;
    display:block;
    float:left;
    margin-left:20px;

    .gallery-item-inner {
      height: 160px;
    }
  }

  .gallery-item.plate strong {
    display: block;
  }

  .normal .product-img:after {
    padding-top: 84.980392%;
  }

.medium:after {
  padding-top: 130.290023%;

  @media (min-width:481px) and (max-width: 980px ){
     padding-top: 160.290023%;
  }
}

  .medium .product-img:after {
    padding-top: 108.82761%;

    @media (min-width:481px) and (max-width:768px){
      padding-top: 122.32761%;
    }

    @media (min-width:769px) and (max-width:980px){
      padding-top: 121.32761%;
    }

  @media (max-width: 481px){
    .medium .product-img:after {
      padding-top: 75.980392156863%;
    }
  }
}

  @media (min-width: 481px) and (max-width: 980px){

    .rpGrid {
      padding: 0 40px 0 40px;
    }

    .gallery-item:after {
      padding-top: 127.196078%;
    }

    .gallery-item .gallery-item-inner,
    .product-img .product-img-wrap {
      position: absolute;
    }

    .medium.gallery-item:after {
      padding-top: 141.196078%;
    }

    .gallery-item.plate:after {
      padding-top: 76.190255%
    }

  }

  @media (min-width: 481px) and (max-width: 979px){
    padding-top: 76.190255%
  }

  .promo:after {
    padding-top: 54.524361948956%;
  }

  .gallery-item {
    background: none;
    margin-left: 0;

    .product-img {
      background: #f3f4f6;
    }
  }

  .rpBullets {
    position: absolute;
    z-index: 35;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    line-height: 18px;
    overflow: hidden;
    cursor: pointer;

    /* visibility: hidden; */
  }

  .rpBullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    *display:inline;
    *zoom:1;
    padding: 10px 9px 10px 8px;
    cursor: pointer;
  }

  .rpBullet span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #bcbccc;
  }

  .rpBullet.rpNavSelected span {
    background: #2f353d;
  }

  .rpOverflow {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;

    -webkit-tap-highlight-color:rgba(0 , 0 , 0 , 0);
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
  }

  @media (max-width: 767px) {
    max-width: 980px; /* Both Must be set for JS to size proportiontely */
    min-height: 370px;
  }

  .rpContainer {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color:rgba(0 , 0 , 0 , 0);
  }

  .rpSlide {
    position: absolute;
    left: 0;
    top: -20px;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;

    /* Experimental for full bleed stuff */
    //padding: 0 45px 0 45px;
    padding: 0 7.5% 0 7.5%; //bingo for 1200px layout
    max-width: 1200px;

    @media (min-width:1201px){
      padding:0 90px 0 90px;
    }
  }
}

@media (min-width: 481px) and (max-width: 768px){
  .rpGrid {
    padding: 0;
  }
}

.rpNav {

  .paddle {
    width: 50px;
    height: 88px;
    display:block;
    background: #909398;
    position: absolute;
    top:25%;
    margin: -44px 0 0 0;
    cursor: pointer;

    &.left {
      left: 6.5%;
      right: auto;
    }

    &.right {
      left: auto;
      right: 6.5%;
    }
  }
}

