@import "../_base/variables"; // Modify this for custom colors, font-sizes, etc
@import "../_base/mixins";


.container-fluid.module-spec{
  color:$black;
  
  // General
  a.btn{margin-bottom:10px; padding:5px 20px; width:80px !important;}
  .emphasis-info{padding:5px; font-size:$font_28_16; width:auto; border:3px solid $gray; @include border-radius(5px); margin-bottom:20px; text-align:center; }
  .spec-title{
    > h1{font-size:$font_26_16; margin-top:0 !important;}
    margin-bottom:35px;
    .title-link{margin:0; text-transform:uppercase; font-size:$font_10_16;}
    .clearfix{
      p{float:left; margin-right:10px; font-size:$font_14_16;}
    }
  }
  
  // Specific to the details page
  > section
  {
    margin-bottom:20px;
    
    >h2{font-size:$font_18_16; margin-bottom:20px;}
    >h2.h2-bigger{font-size:$font_26_16; margin:30px 0;}
    
    .row-fluid > div
    {
      >h2{font-size:$font_18_16; margin-bottom:20px;}
      >h3{font-weight:normal; font-size:$font_12_16;}
    }
    
    .row-fluid{
      border-bottom:1px solid #ccc;
      margin-bottom:20px;
      padding-bottom:20px;
      
      h2{margin-bottom:20px;}
      
      ul{
        margin-bottom:0;
        li{margin:5px 0;}
      }
    }
  }
 
  ul{margin-left:0;
    li{font-size:$font_12_16;}
  }
  .label {font-weight: bold;}
  
  
  .row-fluid.no-border{
    margin-bottom:30px !important;
    h3{font-size:$font_18_16; margin-bottom:15px;}
    border-bottom:none !important;
    padding-bottom:0;
    margin-bottom:0;
    p{font-size:$font_12_16;}
  }
  
  // both kind of table
  .smallTable, .specsTable{
     .thead
     {
       .cell{
         text-align:left;
       }
     }
  }
  
  // smallTable only
  .smallTable {
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    
    .row {display: table-row;}
    .cell{
      display: table-cell;
      padding-right:10px;
      
      h3{font-size:$font_12_16; font-weight:normal;}
      p{font-size:$font_12_16;}
    }
    .tbody{display:table-row-group;}
    
    ul {
      list-style: none !important;
      margin: 0;
      padding: 0;
    }
  }
  
  // specsTable only
  .specsTable {
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font_14_16;
    
    .smallTable {
      p{font-size:$font_13_15;
        span{font-size:$font_15_15;}
      }
    }
    
    > .thead {
      display: table-header-group;
      > .row{display: table-row;}
      
        h2{
        font-size: $font_18_16;
        color: $black;
        font-weight: bold;
        margin-bottom: 1em;
      }
    }
    
    > .tbody > .row {
      display: table-row;
      >.cell{
        padding-bottom:10px;
        p{font-size:$font_13_15;
          span{font-size:$font_15_15;}
        }
      }
      
      &:last-child .cell {
        border-bottom: none !important;
      }
    }
    
    .cell:first-child{
     font-size:$font_16_16;
     line-height:1em;
     font-weight:bold;
     color:$black;
    }
    .cell
    {
      display: table-cell;
      padding-right:10px;
    }
  
    .tbody{display:table-row-group;
        .cell h2 {
        font-size: $font_14_16;
        color: $black;
        font-weight: bold;
        margin-bottom: 1em;
        display: none;
      }
    }
    
    span {
      color: $gray;
      font-size: $font_12_16;
      &.color {
        display: block;
        width: 10px;
        height: 10px;
        float: left;
        margin-right: 5px;
        &.white {
          background: #fff;
        }
        &.grey {
          background: #ccc;
        }
        &.darkGrey {
          background: #666;
        }
        &.black {
          background: $black;
        }
      }
    }
    ul {
      list-style: none !important;
      margin: 0;
      padding: 0;
    }
  }
  
  
  // Table Container
  .tableContainer{
    position:relative;
    width:100%;
    overflow:hidden;
    
    //desktop only (Arrows)
    .desktopNav{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:60px;
      line-height:60px;
      
      .next{
        position:absolute;
        right:10px;
      }
      
      .prev{
        position:absolute;
        left:10px;
      }
    }
  }
  
  // OVERRIDE
  .tableContainer.scHor{
    width:100%;
    h2{font-size:18px !important; color:$black; padding:20px 0; margin-top:20px; border-top:1px solid #eee;}
    h2:first-child{border-top:none; margin-top:0;}
    p{font-size:14px !important; font-weight:normal;}
    span{
      font-size:$font_14_15 !important;
      line-height:1.5em;
      display:block;
    }
    .tbody .row .cell{
      border:none !important;
      p{margin:0;}
    }
    
    .scSlide
    {
      height:auto !important;
      p{
        position:relative;
        top:0;
        left:0;
        background:none;
        max-width:100%;
        height:auto;
        padding:0;
        color:$black;
      }
    }
  }
  
}




  /*
  

    
    // Mobile tabs
    .table-mobile-tabs {
      margin: 0 !important;
      li:first-child{display:none;}
      li {
        float: left;
        display: block;
        cursor: pointer;
        padding: 10px;
        background: #ccc;
        color:#000;
        &:hover {
          background: #c0c0c0;
        }
      }
    }

    > .specsTable{
      float:left;
    }
  }
  
  

  
  // OVERRIDE - for each smallTable
  .table.smallTable{
    .row{
      .cell{
        padding:0 10px 0 0;
        h3{color:$black; font-size:$font_13_15 !important;}
        p{color:#555; font-size:$font_13_15 !important;}
      }
    }
  }
  
  // General End




  // Big Tables Colors and skins
  .table.specsTable
  {
  	background: #F7F7F7;
  	color: $black;
  	
  	p{font-size:$font_13_15 !important;}
  	span{
  	  font-size:$font_15_15 !important;
  	  line-height:1.5em;
  	  display:block;
    }
  	
  	.cell
  	{
  		padding: 10px 20px;
  		// Defines a table cell
  		border-bottom: 1px solid #eee;
  		border-right: 1px solid #eee;
  		&:last-child {
  			border-right: none !important;
  		}
  		&:hover {
  			background: #f9f9f9;
  		}
  	}
  	
  	.thead {
  	  .row{
    		.cell {
    			color: $black;
    			border-bottom: 2px solid #eee !important;
    			border-left:none !important;
    			border-right:none !important;
    		}
    	}
  	}
  	
  	.tbody{
  	  .row{
        .table
        {
          .cell:first-child{
            font-weight:normal;
            padding-right:8px;
            width:20%;
          }
          .cell{
            p{margin:0; font-size:$font_15_15 !important;
            span{font-size:$font_15_15 !important;}
            }
            padding:0;
            border:none !important;
          }
        }
  	  }
  	}
  }
  
  // OVERRIDE
  .sonyCarousel{
    width:100%;
    h2{font-size:18px !important; color:$black; padding:20px 0; margin-top:20px; border-top:1px solid #eee;}
    h2:first-child{border-top:none; margin-top:0;}
    p{font-size:14px !important; font-weight:normal;}
    span{
      font-size:$font_14_15 !important;
      line-height:1.5em;
      display:block;
    }
    .tbody .row .cell{
      padding:0 !important;
      border:none !important;
      p{margin:0;}
    }
  }
  .sonyCarousel .scSlide
  {
    height:auto !important;
    p{
      position:relative;
      top:0;
      left:0;
      background:none;
      max-width:100%;
      height:auto;
      padding:0;
      color:$black;
    }
  }
  
  .tableContainer.desktopNav{
    .scSlide{height:auto !important;}
    .scOverflow{height:2100px !important;}
    p{
      position:relative;
      top:0;
      left:0;
      background:none;
      max-width:100%;
      height:auto;
      padding:0;
      color:$black;
    }
  }
  
  
  div.table.smallTable{
    p{margin:0;}
  }
  
  



  
  
  
  
  
  // MEDIA QUERIES (640px AND BELOW)
  @media all and (max-width: 640px) {
  	
  	.table.smallTable{
  		.row{display:block;}
  		.cell{display:block;}
  	}
  	
  	//BIG TABLES *TABLE STYLE* - (DESKTOP ONLY)
    .table.specsTable {
      width: 100%;
      .row .cell:first-child {
        display: none;
      }
      
      .tbody .cell {
        h2 {
          display: block;
          font-size:$font_18_15;
        }
        display: none;
      }
      .thead .cell {
        display: none;
      }
      
      .cell.show {
        display: block;
      }
      
      .tbody .tbody .cell{display:block !important;}
    }
    
    //BIG TABLES *CAROUSEL* - (MOBILE ONLY)
    .sonyCarousel{
      .tbody .row .cell{
        display:block !important;
      }
    }
  }

  // MEDIA QUERIES (640px TO 767px)
  @media all and (min-width: 640px) and (max-width: 767px) {
    .row-fluid{
      >div{
        >.table.smallTable{
          >.tbody{
            >.row{
              >.cell
              {
                width:50% !important;
              }
            }
          }
        }
      }
    }
  }

*/