@import "../_base/variables"; // Modify this for custom colors, font-sizes, etc
@import "../_base/mixins";

.container.module-spec{
  
  //Set the default font to SST Roman
  @include fontRegular();
  color:$black;
  
  // General
  .enlarge{
    font-size:$font_13_16;
    margin:20px 0 30px !important;
    a{
      color:$grayDark;
      font-size:$font_13_16;
    }
  }
  
  .emphasis-info{
      padding:3px 5px;
      font-size:$font_18_16;
      float:left;
      background:$gray;
      margin-bottom:20px;
      text-align:center; 
      color:$white;
    }
  
  .spec-title{ 
    float:left;
    //Text over the title
    p.title-link{margin:0; text-transform:uppercase; font-size:$font_13_16; @include fontMedium();}
    
    // Main title
    > h1{font-size:$font_32_16; margin-top:0 !important;}
    margin-bottom:35px;

    //subtitle
    .clearfix{
      p{
        float:left;
        margin-right:10px;
        font-size:$font_13_16;
        
        a{
          color:$blackLight;
          padding:0 15px 13px 15px;
        }
        a.active{border-bottom:4px solid #5787f4;}
      }
    }
  }
  
  .sonyRecommends{
    float:right;
  }
  
  .gallery-tabs .tabs{height:auto !important;}
  
  // Specific to the details page
  > section
  {
    margin-bottom:20px;
    
    >h2{font-size:$font_18_16; margin-bottom:20px;}
    >h2.h2-bigger{font-size:$font_26_16; margin:30px 0;}
    
    .row-fluid > div
    {
      >h2{font-size:$font_18_16; margin-bottom:20px;}
      >h3{font-weight:normal; font-size:$font_12_16;}
    }
    
    .row-fluid{
      border-bottom:1px solid #ccc;
      margin-bottom:20px;
      padding-bottom:20px;
      
      h2{margin-bottom:20px;}
      
      ul{
        margin-bottom:0;
        li{margin:5px 0;}
      }
    }
  }
  
  /*
  ul{margin-left:0;
    li{font-size:$font_12_16;}
  }
  */
 
  .label {font-weight: bold;}
  
  .row-fluid.no-border{
    margin-bottom:30px !important;
    h3{font-size:$font_18_16; margin-bottom:15px;}
    border-bottom:none !important;
    padding-bottom:0;
    margin-bottom:0;
    p{font-size:$font_12_16;}
  }
  
  // both kind of table
  .smallTable, .specsTable{
     .thead
     {
       .cell{
         text-align:left;
       }
     }
  }
  
  // smallTable only
  .smallTable {
    display: table;
    
    .row {display: table-row;}
    .cell{
      display: table-cell;
      padding-right:10px;
      
      h3{font-size:$font_12_16; font-weight:normal;}
      p{font-size:$font_12_16;}
    }
    .tbody{display:table-row-group;}
    
    ul {
      list-style: none !important;
      margin: 0;
      padding: 0;
    }
  }
  
  // specsTable only
  .specsTable {
    display: table;
    
    .smallTable {
      p{font-size:$font_13_15;
        span{font-size:$font_15_15;}
      }
    }
    
    //Thead
    > .thead {
      background:#f1f5f9;
      display: table-header-group;
      > .row{display: table-row;
        > .cell{
          padding:20px;
          border-left:1px solid #DFE3E7;
        
        h2{
            font-size: $font_18_16;
            color: #2f353d;
            margin:0;
            padding:0 !important;
          }
          p{
            color:$grayDark;
            @include fontBold();
            margin:0;
          }
        }
        > .cell:first-child{
          border-left:none !important;
        }
      }
    }
    
    //Tbody
    > .tbody {
      display:table-row-group;
      > .row {
        display: table-row;
        
        //All Cells
        >.cell{
          border-left:1px solid #dfe3e7;
          border-bottom:1px solid #dfe3e7;
          padding:20px;
          
          //hidden titles
          >h2{
            font-size: $font_14_16;
          color: $black;
          font-weight: bold;
          margin-bottom: 1em;
          display: none;}
          
          >p{font-size:$font_15_16; margin-bottom:15px !important;}
          >p > span{
            color: $gray;
            font-size: $font_13_15 !important;
          }
          
          .infoTitle{
            background:url('../../img/spec/titleInfoLine.jpg') top left no-repeat;
            @include fontMedium();
            font-size:$font_11_16;
            color:$grayDark;
            text-transform:uppercase;
            padding:15px 0 7px 0;
            margin-bottom:0 !important;
          }
          
          ul{
            margin-bottom:40px;
            
            li{
              margin-bottom:7px;
              p{
                font-size:$font_13_16;
                color:$gray; 
              }
            }
          }
        }
        
        //First cells
        >.cell:first-child{
          border-left:none !important;
          
          p
          {
            color:$black;
            font-size:$font_12_16 !important;
            text-transform:uppercase;
          }
        }
  
        &:last-child .cell {
          border-bottom: none !important;
        }
      }
    }
    
    .cell
    {
      display: table-cell;
      padding-right:10px;
    }
    
    span {
      &.color {
        display: block;
        width: 14px;
        height: 14px;
        float: left;
        margin-right: 1px;
        @include border-radius(2px);
        
        &.white {
          background: #fff;
          border:1px solid #c6c6c6;
        }
        &.gray {
          background: $gray;
        }
        &.darkGrey {
          background: $grayDark;
        }
        &.black {
          background: $black;
        }
        &.red {
          background: $redLight;
        }
      }
    }
    ul {
      list-style: none !important;
      margin: 0;
      padding: 0;
    }
  }
  
  //desktop only (Arrows)
  .desktopNav{
      position:relative;
      top:0;
      left:0;
      width:100%;
      height:60px;
      
      .next{
        position:absolute;
        right:10px;
        overflow:hidden;
      }
      
      .prev{
        position:absolute;
        left:10px;
        overflow:hidden;
      }
    }
  
  
  // Table Container
  .tableContainer{
    background:#fff;
    position:relative;
    width:100%;
    overflow:hidden;
  }
  
  // OVERRIDE
  .tableContainer.scHor{
    width:100%;
    h2{font-size:18px !important; color:$black; padding:20px 0; margin-top:20px; border-top:1px solid #eee;}
    h2:first-child{border-top:none; margin-top:0;}
    
    .thead{
      .cell{
        p{
          font-size:18px; font-weight:normal;
        }
      }
    }

    span{
      font-size:$font_14_15 !important;
      line-height:1.5em;
      display:block;
    }
    .tbody .row .cell{
      p{margin:0;}
    }
    
    .scSlide
    {
      height:auto !important;
      p{
        position:relative;
        top:0;
        left:0;
        background:none;
        max-width:100%;
        height:auto;
        padding:0;
        color:$black;
      }
    }
  }
  
  //Hide the tab navigation for the desktop
  .tabs-container{
   display:none; 
  }
  
  
  .gallery-tabs.tab-strip{
    background:none;
    .tabs-container{
      background:#E4E7EB;
    }
  }
  
  .gallery-tabs .tab
  {
    width:auto !important; height:auto !important; padding:20px !important;
    h2{font-size:$font_20_16 !important;}
  }
  
  
  // MEDIA QUERIES (640px AND BELOW)
  @media all and (max-width: 500px) {
    
    .desktopNav{display:none;}
    
    .tabs-container{
      display:block;
      margin-bottom:20px;
    }
    
    //Hide the first column of each table.
    .tableContainer .specsTable > .thead > .row > .cell:first-child,
    .tableContainer .specsTable > .tbody > .row > .cell:first-child{
      display:none;
    }
    
    .tableContainer .specsTable > .tbody > .row > .cell h2{display:block;}
    
    //Hide the first row of each table.
    .tableContainer .specsTable > .thead > .row:first-child{
      display:none;
    }
    
  }
}




  /*
  

    
    // Mobile tabs
    .table-mobile-tabs {
      margin: 0 !important;
      li:first-child{display:none;}
      li {
        float: left;
        display: block;
        cursor: pointer;
        padding: 10px;
        background: #ccc;
        color:#000;
        &:hover {
          background: #c0c0c0;
        }
      }
    }

    > .specsTable{
      float:left;
    }
  }
  
  

  
  // OVERRIDE - for each smallTable
  .table.smallTable{
    .row{
      .cell{
        padding:0 10px 0 0;
        h3{color:$black; font-size:$font_13_15 !important;}
        p{color:#555; font-size:$font_13_15 !important;}
      }
    }
  }
  
  // General End




  // Big Tables Colors and skins
  .table.specsTable
  {
  	background: #F7F7F7;
  	color: $black;
  	
  	p{font-size:$font_13_15 !important;}
  	span{
  	  font-size:$font_15_15 !important;
  	  line-height:1.5em;
  	  display:block;
    }
  	
  	.cell
  	{
  		padding: 10px 20px;
  		// Defines a table cell
  		border-bottom: 1px solid #eee;
  		border-right: 1px solid #eee;
  		&:last-child {
  			border-right: none !important;
  		}
  		&:hover {
  			background: #f9f9f9;
  		}
  	}
  	
  	.thead {
  	  .row{
    		.cell {
    			color: $black;
    			border-bottom: 2px solid #eee !important;
    			border-left:none !important;
    			border-right:none !important;
    		}
    	}
  	}
  	
  	.tbody{
  	  .row{
        .table
        {
          .cell:first-child{
            font-weight:normal;
            padding-right:8px;
            width:20%;
          }
          .cell{
            p{margin:0; font-size:$font_15_15 !important;
            span{font-size:$font_15_15 !important;}
            }
            padding:0;
            border:none !important;
          }
        }
  	  }
  	}
  }
  
  // OVERRIDE
  .sonyCarousel{
    width:100%;
    h2{font-size:18px !important; color:$black; padding:20px 0; margin-top:20px; border-top:1px solid #eee;}
    h2:first-child{border-top:none; margin-top:0;}
    p{font-size:14px !important; font-weight:normal;}
    span{
      font-size:$font_14_15 !important;
      line-height:1.5em;
      display:block;
    }
    .tbody .row .cell{
      padding:0 !important;
      border:none !important;
      p{margin:0;}
    }
  }
  .sonyCarousel .scSlide
  {
    height:auto !important;
    p{
      position:relative;
      top:0;
      left:0;
      background:none;
      max-width:100%;
      height:auto;
      padding:0;
      color:$black;
    }
  }
  
  .tableContainer.desktopNav{
    .scSlide{height:auto !important;}
    .scOverflow{height:2100px !important;}
    p{
      position:relative;
      top:0;
      left:0;
      background:none;
      max-width:100%;
      height:auto;
      padding:0;
      color:$black;
    }
  }
  
  
  div.table.smallTable{
    p{margin:0;}
  }
  
  



  
  
  
  
  
  // MEDIA QUERIES (640px AND BELOW)
  @media all and (max-width: 640px) {
  	
  	.table.smallTable{
  		.row{display:block;}
  		.cell{display:block;}
  	}
  	
  	//BIG TABLES *TABLE STYLE* - (DESKTOP ONLY)
    .table.specsTable {
      width: 100%;
      .row .cell:first-child {
        display: none;
      }
      
      .tbody .cell {
        h2 {
          display: block;
          font-size:$font_18_15;
        }
        display: none;
      }
      .thead .cell {
        display: none;
      }
      
      .cell.show {
        display: block;
      }
      
      .tbody .tbody .cell{display:block !important;}
    }
    
    //BIG TABLES *CAROUSEL* - (MOBILE ONLY)
    .sonyCarousel{
      .tbody .row .cell{
        display:block !important;
      }
    }
  }

  // MEDIA QUERIES (640px TO 767px)
  @media all and (min-width: 640px) and (max-width: 767px) {
    .row-fluid{
      >div{
        >.table.smallTable{
          >.tbody{
            >.row{
              >.cell
              {
                width:50% !important;
              }
            }
          }
        }
      }
    }
  }

*/