@import "../_base/variables";
@import "../_base/mixins";

// Dependencies:
// * Gallery's compare tool


$specMobileBreakpoint: 35.4375em; // 567
$specItemWidth1200: 13.75em; // 220
$specLabelWidth1200: 8.75em; // 140
$columnHeaderHeight: 5.3125em; // 85
$tableHeaderColor: $gray80;
$specStickyTabHeight: 3.125em; // 50
$navBtnHeight: 2.875em; // 46


// 888888b.            888    888
// 888  "88b           888    888
// 888  .88P           888    888
// 8888888K.   .d88b.  888888 88888b.
// 888  "Y88b d88""88b 888    888 "88b
// 888    888 888  888 888    888  888
// 888   d88P Y88..88P Y88b.  888  888
// 8888888P"   "Y88P"   "Y888 888  888

.iq-wrap {
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    display: block;
    padding-top: 60.1851852%;
  }

  .iq-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.nav-paddle {
  border: none;
  background: $gray60;
  border-radius: .1875em; // 3 pixels
  width: 2em; // 30
  height: $navBtnHeight;
  padding: 0; // override default button padding
  @include transition();

  &:hover,
  &:focus {
    background: $buttonOrange;
    outline: none;
  }

  i {
    vertical-align: middle;
  }

}

// Spec Header
// -------------------------

.spec-single,
.spec-multi {
  margin-top: 4.375em; // 70
}


.spec-title-wrap {
  margin-bottom: 0;
}

.spec-title {
  margin-top: 0;
}

// Needs to be more specific
ul.spec-views {
  margin-left: -.375em;
  margin-bottom: 0;

  li {
    padding-right: .375em; // 6
    padding-left: .375em; // 6
    margin: 0;
  }

  .active {
    padding-bottom: .625em; // 10
    border-bottom: .25em solid $btnBackground;
  }

  a {
    color: $gray20;
  }
}


// Media queries for both single and mutliple spec pages
@media (max-width: $specMobileBreakpoint) {

  .spec-single,
  .spec-multi {
    margin-top: 2.8125em; // 45
  }

  ul.spec-views {
    margin-left: -.25em;

    li {
      padding-right: .25em;
      padding-left: .25em;
    }

    .active {
      padding-bottom: .5em;
      border-bottom-width: .1875em;
    }
  }

}


// 888b     d888          888 888    d8b
// 8888b   d8888          888 888    Y8P
// 88888b.d88888          888 888
// 888Y88888P888 888  888 888 888888 888
// 888 Y888P 888 888  888 888 888    888
// 888  Y8P  888 888  888 888 888    888
// 888   "   888 Y88b 888 888 Y88b.  888
// 888       888  "Y88888 888  "Y888 888

// Hide sticky tabs
.spec-tabs {
  display: none;
}


// Spec Items Wrapping and labels
// -------------------------
.spec-items-wrap {
  margin-left: $specLabelWidth1200;
}

// Spec Nav
// -------------------------
.spec-nav-wrap {
  z-index: 10;
}

.spec-nav {
  position: absolute;
  z-index: 20;
  top: ($columnHeaderHeight - $navBtnHeight) / 2;
}

.spec-nav-prev {
  left: 0;
}

.spec-nav-next {
  right: 0;
}


// Spec Items
// -------------------------
.spec-item {
  position: relative;
  margin: 0;
  border-right: .0625em solid $gray70; // 1 pixel

  // Our position relative is overriding off-screen, reset that.
  &.off-screen {
    position: absolute;
  }

  .product-name {
    margin: 0;
  }

  .product-subname {
    font-size: $font_18_16;
  }

  .cell-label {
    display: none;
  }
}
.spec-items-container .spec-item {
  margin: 0;
  width: $specItemWidth1200; // override % width
}

.spec-column-header {
  height: $columnHeaderHeight;
  width: 100%;
  padding: 0 1em;
}

.spec-list li {
  margin: 1.25em 0;
}


.spec-item-cell {
  position: relative;
  padding: 1.125em 1em 3.75em; // 18 16 60 pixels

  .btm-aligned {
    position: absolute;
    bottom: 3.75em;
  }

  .before-btm-aligned {
    margin-bottom: 6em; // Could come back to bite me in the ass if the image changes
  }

  // Definition list image needs a set height because iQ doesn't load the images until
  // after the dimensions for each cell have been calculated
  .dl-img {
    height: 8.4375em; // 135 pixels

    // Don't clip image, shrink it
    img {
      max-height: 100%;
    }
  }

  .dl-horizontal dt {
    text-align: left;
    // width: 3.4375em; // 55
    width: 4.583333333em; // 55 (base 12)
  }
  .dl-horizontal dd {
    // margin-left: 4.375em; // 70
    margin-left: 5.384615385em; // 70 (base 13)
  }

  .enlarge {
    margin: 2.5em 0 .625em;
    background: none;
    border: none;
    padding: 0;
    line-height: 1;

    i {
      vertical-align: middle;
    }
  }
}

.spec-products {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $columnHeaderHeight;
    background: $tableHeaderColor;
  }

  .detail-labels-wrap {
    width: $specLabelWidth1200; // override % width
    border-right: .0625em solid $gray70;
  }

  .product-count-wrap,
  .detail-label-group {
    width: 100%;
  }

  .product-count-wrap {
    background: $tableHeaderColor;
  }

  .detail-label-group {
    position: relative;
  }

  .product-count-wrap {
    height: $columnHeaderHeight;
    padding-top: 0;
    margin-bottom: 0;
  }

  // Disable bar
  .detail-labels-wrap:before {
    content: none;
  }

  .detail-label-group:before {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    height: 100%;
    width: 2000px;
    right: 0;
    top: 0;
    background-color: $white;
    @include transition(box-shadow $transitionFast ease-in);
  }

  .product-count-wrap:after {
    content: '';
    z-index: -1; // put behind model count
    left: auto;
    right: 0;
    height: 100%;
    width: 2000px;
    background: $tableHeaderColor;
  }

  .detail-label {
    padding: 1.125em 1em 0 0;
  }

  // Sticky headers
  .compare-sticky-header {
    top: -2em;
    width: inherit;
    padding: 1em;
    height: $columnHeaderHeight;
    background: $tableHeaderColor;

    &.open {
      top: 0;
    }
  }

  // Override some styles from the gallery's compare tool
  .sticky-count {
    padding: 0;

    &:before {
      background: $tableHeaderColor;
      right: 0;
    }
  }

}

.spec-item-cell,
.spec-products .detail-label {
  border-bottom: .0625em solid $gray70;
}

// Spec Modal
// -------------------
.spec-modal {
  position: absolute;
  top: 0;
  left: 0;
  background: $white;

  .box-close i {
    vertical-align: middle;
  }
}

.spec-multi {

  .sony-recommends {
    margin-bottom: -4.375em;
  }

  .win8-logo {
    margin-left: .875em;
    vertical-align: middle;
  }

  .sticky-tabs,
  .tab {
    height: $specStickyTabHeight;
  }

  .tab {
    padding-left: 0.625em;
  }

}

// Multi spec mobile breakpoint
@media (max-width: $specMobileBreakpoint) {

  .spec-multi {

    .sony-recommends {
      margin-top: .75em;
      margin-bottom: 0;
    }

    .win8-logo {
      width: 18px;
    }
  }

  .spec-tabs {
    display: block;
  }


  .spec-nav,
  .spec-column-header,
  .spec-products .detail-labels-wrap {
    display: none;
  }

  .spec-products:before {
    height: .0625em;
  }

  .spec-products .compare-sticky-header {
    width: 100%;
  }

  .spec-items-container .spec-item {
    width: auto;
  }

  .spec-items-wrap {
    margin-left: 0;
  }

  .spec-item-cell {
    padding-right: 0;
    padding-left: 0;
  }

  .spec-item {
    border-right: 0;

    .cell-label {
      display: block;
    }

    .dl-horizontal dt {
      width: auto;
    }
    .dl-horizontal dd {
      margin-left: 0;
    }
  }

}





//  .d8888b.  d8b                   888
// d88P  Y88b Y8P                   888
// Y88b.                            888
//  "Y888b.   888 88888b.   .d88b.  888  .d88b.
//     "Y88b. 888 888 "88b d88P"88b 888 d8P  Y8b
//       "888 888 888  888 888  888 888 88888888
// Y88b  d88P 888 888  888 Y88b 888 888 Y8b.
//  "Y8888P"  888 888  888  "Y88888 888  "Y8888
//                              888
//                         Y8b d88P
//                          "Y88P"


// Single Spec Module
// -------------------------
.spec-section {
  margin-top: 2.5em;
  padding-bottom: 3.75em;
  border-bottom: 1px solid $gray70;
}

.spec-overview {
  background: $gray80;
  margin-top: 0;
  padding: 3.125em 0; // 50
  border-bottom: none;

  // The title/label above this has a margin-bottom of ~7px
  dl {
    margin-top: 23px;
  }
}

.spec-section {

  &.align-right-bottom {
    padding-bottom: 0;
  }

  .section-label {
    margin-top: -.125em;
  }

  dt:not(:first-child) {
    margin-top: 30px; //1.875em; the font size is set on this, but I don't want to hard-code an em value to go with it
  }

  dd {
    margin-left: 0;
  }

  .spec-list li:first-child {
    margin-top: 0;
  }

  .media + .media {
    margin-top: 5.5em;
  }

  .media .pull-left {
    margin-right: 1.25em;
  }

  .media-heading {
    margin-bottom: 0;
  }

  .media-description {
    line-height: 1.3;
  }

  .holder-for-icon {
    @include square(52px);
    text-align: center;

    i {
      vertical-align: middle;
    }
  }
}

@media ( min-width: px-em(568px) ) and ( max-width: px-em(979px) ) {


  .spec-overview {
    padding: 2.5em 0; // 40
  }

  .spec-section {
    margin-top: 1.875em; // 30
    padding-bottom: 2.8125em; // 45

    .media .pull-left {
      margin-right: .5em;
    }

    dt:not(:first-of-type) {
      margin-top: 20px;
    }

  }
}

@media ( max-width: $specMobileBreakpoint ) {

  // Make part of the grid a mobile grid -_-
  .grid [class*=span].alpha {
    margin-left: 0;
  }

  // Make part of the grid a mobile grid -_-
  .grid [class*=span].no-m-span {
    float: none;
    display: block;
    margin-left: 0;
    width: auto;
  }

  .spec-overview {
    padding: 2.5em 0;
  }

  .spec-section {
    margin-top: 1.875em; // 30
    padding-bottom: 2.5em; // 40

    // Section label
    .section-label {
      margin-bottom: 1.875em;
    }

    .media .pull-left {
      margin-right: .75em;
    }

    .media + .media,
    .media {
      margin-top: 1.625em;
    }

    .has-img {
      margin-top: 1.875em;
    }

    dt:not(:first-of-type) {
      margin-top: 20px;
    }
  }

}




// 8888888888                888                                    88888888888 d8b 888
// 888                       888                                        888     Y8P 888
// 888                       888                                        888         888
// 8888888  .d88b.   8888b.  888888 888  888 888d888  .d88b.            888     888 888  .d88b.  .d8888b
// 888     d8P  Y8b     "88b 888    888  888 888P"   d8P  Y8b           888     888 888 d8P  Y8b 88K
// 888     88888888 .d888888 888    888  888 888     88888888           888     888 888 88888888 "Y8888b.
// 888     Y8b.     888  888 Y88b.  Y88b 888 888     Y8b.               888     888 888 Y8b.          X88
// 888      "Y8888  "Y888888  "Y888  "Y88888 888      "Y8888            888     888 888  "Y8888   88888P'


// Spec Feature Tiles
// -------------------------
.spec-tiles-wrap {
  margin-top: 6.25em; // 100
  margin-bottom: 9.375em; // 150
}

.spec-tiles .spec-tile {
  margin-left: 0;
}

.spec-tile {
  margin-top: 1.5em;
  background: $tableHeaderColor;

  .tile-content {
    padding: 2.5em 2.5em 3.75em 1.875em;
  }

  // Remove default header margin top
  .tile-title {
    margin-top: 0;
  }
}

// In theory, these should be large enough to fill the space all the time :\
.spec-tile .iq-img {
  width: 100%;
  height: auto;
  min-height: px-em(85px);
}



@media ( min-width: px-em(568px) ) and ( max-width: px-em(979px) ) {

  .spec-tiles-wrap {
    margin-top: 4.6875em;
    margin-bottom: 6.25em;
  }

  .spec-tile {
    margin-top: .625em;

    .tile-content {
      padding: 1.875em 1.875em 2.8125em 1.25em;
    }

  }

}

@media ( max-width: $specMobileBreakpoint ) {

  .spec-tiles-wrap {
    margin-top: 3.75em;
    margin-bottom: 5em;
  }

  .spec-tile {
    margin-top: .625em;

    .tile-content {
      padding: 1.875em 1.875em 2.8125em 1.25em;
    }

  }

}
