@import "../_base/variables";
@import "../_base/mixins";


// 4 visible (default)
$specItemWidth1200: 13.75em; // 220
$specLabelWidth1200: 8.75em; // 140


$columnHeaderHeight: 4.875em; // 78
$tableHeaderColor: $gray80;
$specStickyTabHeight: 3.125em; // 50

$stickyHeaderHeight: 4.375em; // 70
$specBorderColor: $gray70;


// 888888b.            888    888
// 888  "88b           888    888
// 888  .88P           888    888
// 8888888K.   .d88b.  888888 88888b.
// 888  "Y88b d88""88b 888    888 "88b
// 888    888 888  888 888    888  888
// 888   d88P Y88..88P Y88b.  888  888
// 8888888P"   "Y88P"   "Y888 888  888


// Spec Header
// -------------------------
.spec-single,
.spec-multi {
  margin-top: 4.375em; // 70

  dt {
    margin-bottom: 0;
  }
}

.spec-title-wrap {
  position: relative;
  margin-bottom: 1.25em;
}

.spec-title {
  margin: 0;
  font-size: 2.25em; // 36
}

.spec-title-link {
  color: $linkBlue;
}

// Needs to be more specific
ul.spec-views {
  margin-left: -.375em;
  margin-bottom: 0;

  li {
    margin: 0 0 0 px-em(23px);
    padding: 0;

    .lt-ie8 & {
      float: left;
    }
  }

  li:first-child {
    margin-left: 0;
  }

  a {
    display: block;
    margin-bottom: 0;
    padding-right: 6px;
    padding-bottom: 10px;
    padding-left: 6px;
    color: $gray20;
    @include box-shadow(inset 0 0 0 $btnBackground);
    @include transition($transitionFast $easeNormal);
  }

  li:hover a {
    color: $linkBlueActive;
  }

  .no-touch & li:hover a,
  .active a {
    @include box-shadow(inset 0 -4px 0 $btnBackground);
  }

  .no-boxshadow & a {
    padding-bottom: 6px;
    border-bottom: 4px solid transparent;
  }

  .no-boxshadow.no-touch & li:hover a,
  .no-boxshadow & .active a {
    border-bottom-color: $btnBackground;
  }
}

// Sticky nav
.spec-sticky-nav {
  position: fixed;
  // z-index: 20; // above features
  z-index: 200; // Safari, what are you doing???
  top: 0;
  left: -999em;
  width: 100%;
  background: $white;
  @include box-shadow(0 .0625em .625em $transparentBlack);
  @include translate(0, -2em);
  -webkit-transition: -webkit-transform $transitionNormal ease-in, left 0s $transitionNormal;
          transition: transform $transitionNormal ease-in, left 0s $transitionNormal;

  &.open {
    left: 0;
    @include translate(0, 0);
    @include transition-delay(0s);
    @include transition-timing-function(ease-out);
  }

  // Disable box shadow if the sticky headers are visible
  .sticky-header-open & {
    @include box-shadow(none);
  }

  .sticky-nav-title {
    margin-top: 17px;
    margin-bottom: 2px;
    line-height: .9;

    // Add a border-right to the far right of the grid (over the sticky nav)
    .sticky-header-open &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 1px;
      background: $specBorderColor;
      right: 0;
      top: 100%;
    }
  }

  .lt-ie9 & {
    border-bottom: 1px solid $specBorderColor;
  }
}



// 888b     d888          888 888    d8b
// 8888b   d8888          888 888    Y8P
// 88888b.d88888          888 888
// 888Y88888P888 888  888 888 888888 888
// 888 Y888P 888 888  888 888 888    888
// 888  Y8P  888 888  888 888 888    888
// 888   "   888 Y88b 888 888 Y88b.  888
// 888       888  "Y88888 888  "Y888 888

// Hide sticky tabs
.spec-tabs {
  display: none;
}

// Spec Items Wrapping and labels
// -------------------------
.spec-items-wrap {
  position: relative;
  z-index: 15;

  .no-csstransforms & {
    float: left;
  }
}

// Spec Nav
// -------------------------
.spec-nav-container {
  position: relative;
}

.spec-nav {
  position: absolute;
  z-index: 16;
  top: ($columnHeaderHeight - $navPaddleHeight) / 2;
}

.spec-nav-prev {
  left: -.625em;
}

.spec-nav-next {
  right: -.625em;
}

// Affix the nav paddles when the sticky headers are open
.sticky-header-open {

  .spec-nav-wrap {
    position: fixed;
    z-index: 15;
    top: 72px; // Should be overriden by js
    left: 0;
    width: 100%;
  }

  .spec-nav-container {
    // Turns into .container

    .spec-nav {
      top: ( $stickyHeaderHeight - $navPaddleHeight ) / 2;
    }
  }
}

// Content inside the sticky nav is different on mobile
.mobile-content-wrap {
  height: 3.125em;

  .table-center-wrap {
    height: 100%;
  }

  .product-name,
  .product-model {
    display: inline;
  }

  .product-model {
    padding-left: 3px;
  }
}


// Spec Items
// -------------------------
.spec-item {
  position: relative;
  margin: 0;
  border-right: .0625em solid $specBorderColor; // 1 pixel

  // Our position relative is overriding off-screen, reset that.
  &.off-screen {
    position: absolute;
  }

  &:last-child {
    border-right: none;
  }

  .product-subname {
    // font-size: $font_18_16;
  }

  .cell-label {
    display: none;
    margin-bottom: 40px;
  }
}
.spec-items-container .spec-item {
  margin: 0;
  width: $specItemWidth1200; // override % width
}

.spec-column-header {
  height: $columnHeaderHeight;
  width: 100%;
  padding: 0 1em;

  // Header name and model
  .product-name {
    // font-size: $font_18_16;
  }

  .product-model {
    // font-size: $font_18_16;
  }
}

.spec-list li {
  margin: 1.25em 0;
}


.spec-item-cell {
  position: relative;

  .spec-cell-inner {
    padding: 1.25em 1.875em 3.75em .9375em; // 20 30 60 15

    // Dont remember why this is here
    &:first-child {
      // padding-top: 1.875em;
    }

    &.img-bottom {
      padding-bottom: 0;
    }

    &.only-label {
      padding: 0;
    }

    .dl-horizontal,
    .dl-horizontal :last-child {
      margin-bottom: 0;
    }
  }

  .btm-aligned {
    min-height: 40px;
    position: absolute;
    bottom: 3.75em;
  }

  .before-btm-aligned {
    padding-bottom: 2.5em;
    margin-bottom: 0;

    & :last-child {
      margin-bottom: 0;
    }
  }

  // Definition list image needs a set height because iQ doesn't load the images until
  // after the dimensions for each cell have been calculated
  .dl-img {
    position: relative;
    margin-bottom: 30px;

    // Don't clip image, shrink it
    img {
      max-height: 100%;
    }

    & + .spec-cell-inner {
      padding-top: 0;
    }
  }

  .img-holder + .spec-cell-inner {
    padding-top: 0;
  }

  .text-center.img-bottom {
    margin-top: 2.5em;
    padding-bottom: 3.75em;
  }

  $dtWidth: 50px;
  $ddMargin: $dtWidth + 10px;
  .dl-horizontal dt {
    text-align: left;
    width: $dtWidth;
  }
  .dl-horizontal dd {
    margin-top: -2px; // try to get their baselines to match up
    margin-left: $ddMargin;
  }

  .enlarge {
    margin: 1.25em 0 .625em;
    background: none;
    border: none;
    padding: 0;
    line-height: 1;

    i {
      color: $gray50;
      vertical-align: middle;
      line-height: 1.1;
      font-size: 1em;
    }

    &:hover i {
      color: $buttonOrange;
    }
  }

  .holder-for-icon {
    margin-bottom: 1.25em;

    .fonticon-30-battery {
      height: 22px;
      display: block;
    }
  }

  .mini-swatch {
    @include square(1em);
    border-radius: 1px;
  }

  // Wifi icon is aligned to the top of its box, but the bluetooth isn't and it looks weird
  .fonticon-30-wifi {
    position: relative;
    top: 4px;
  }

  .icon-group i + i {
    margin-left: 20px;
  }
}

.spec-products {
  position: relative;
  overflow: hidden; // hide box-shadows

  // Light gray bar behind all the headers
  &:before {
    content: '';
    position: absolute;
    z-index: -1; // allow the border-right of the grid to show above this el
    top: 0;
    left: 0;
    width: 100%;
    height: $columnHeaderHeight;
    background: $tableHeaderColor;
  }

  .spec-items-grid {
    border-right: .0625em solid $specBorderColor;
    @include transition(box-shadow $transitionFast ease-in);

    &.overflowing {
      @include box-shadow(inset -.125em 0 .1875em -.125em $transparentBlack);
      @include transition-timing-function(ease-out);
    }
  }

  .detail-labels-wrap {
    width: $specLabelWidth1200; // override % width
    border-right: .0625em solid $specBorderColor;

    // The gallery uses this background to cover the labels, but when the spec products are loading,
    // This gray background shows through and is ugly.
    &:before {
      background: none;
    }
  }

  .product-count-wrap,
  .detail-label-group {
    width: 100%;
  }

  .product-count-wrap {
    background: $tableHeaderColor;
  }

  .detail-label-group {
    position: relative;
  }

  .product-count-wrap {
    height: $columnHeaderHeight;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  // White background behind the labels
  .detail-label-group:before {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    height: 100%;
    width: 2000px;
    right: 0;
    top: 0;
    background-color: $white;
    // border-bottom: 1px solid $white;
    @include transition(box-shadow $transitionFast ease-in);
  }

  // Why didn't I name this...
  .product-count-wrap:after {
    content: '';
    z-index: -1; // put behind model count
    left: auto;
    right: 0;
    height: 100%;
    width: 2000px;
    background: $tableHeaderColor;
  }

  .detail-label {
    padding: 1.125em 1em 0 0;
  }



  // Sticky headers
  .compare-sticky-header {
    top: -2em;
    width: inherit;
    padding: 1em;
    height: $stickyHeaderHeight;
    background: $tableHeaderColor;
    border-right: .0625em solid $specBorderColor; // 1 pixel
    @include box-shadow(0 .0625em .625em $transparentBlack);

    &.open {
      top: 0;
    }
  }

  // Override some styles from the gallery's compare tool
  .sticky-count {
    padding: 0;
    @include box-shadow(none);

    // Gray bar on the left side of the container
    &:before {
      background: $tableHeaderColor;
      width: 3000px;
      right: 0;
      @include box-shadow(0 .0625em .625em $transparentBlack);
    }


    // Gray bar on the right side of the container
    .right-bar {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 800%;
      height: $stickyHeaderHeight;
      width: 187em;
      background: $tableHeaderColor;
      @include box-shadow(-.3125em .4375em .625em -.3125em $transparentBlack);
    }

    .product-count-wrap {
      height: $stickyHeaderHeight;
    }
  }

}

.spec-item-cell,
.spec-products .detail-label {
  border-bottom: .0625em solid $specBorderColor;
}

// Spec Modal
// -------------------
.spec-modal {
  position: absolute;
  top: 0;
  left: 0;
  background: $white;

  .box-close {
    line-height: 2.15em;
  }

  .box-close i {
    vertical-align: middle;
  }
}

.spec-multi {

  .sony-recommends {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .win8-logo {
    position: relative;
    top: 4px;
    width: 94px;
    height: 18px;
    margin-left: 14px;
    color: #00ADEF;
    overflow: hidden;
  }

  .sticky-tabs,
  .tab {
    height: $specStickyTabHeight;
  }

  .tab {
    padding-left: 0.625em;
  }

  // The designer wants the baselines to match up. That's now how css works.
  // This is an arbitrary value which will probably be wrong in the future.
  .with-some-padding {
    padding-top: 18px;
  }
  .compare-sticky-header .with-some-padding {
    padding-top: 12px;
  }

  .product-name {
    margin-bottom: 0;
    color: $gray20;
  }

  .product-model {
    margin-bottom: 0;
    color: $gray20;
  }
}






//  .d8888b.  d8b                   888
// d88P  Y88b Y8P                   888
// Y88b.                            888
//  "Y888b.   888 88888b.   .d88b.  888  .d88b.
//     "Y88b. 888 888 "88b d88P"88b 888 d8P  Y8b
//       "888 888 888  888 888  888 888 88888888
// Y88b  d88P 888 888  888 Y88b 888 888 Y8b.
//  "Y8888P"  888 888  888  "Y88888 888  "Y8888
//                              888
//                         Y8b d88P
//                          "Y88P"

.spec-product,
.spec-tiles-wrap {
  position: relative;
  z-index: 1; // below sticky nav
}

// Single Spec Module
// -------------------------
.spec-section {
  margin-top: 2.5em;
  padding-bottom: 3.75em;
  border-bottom: 1px solid $gray70;
}

.spec-overview {
  background: $gray80;
  margin-top: 0;
  padding: 3.125em 0 4.375em; // 50 0 70
  border-bottom: none;

  .grid > * {
    padding-bottom: 3.125em;
  }

  // The title/label above this has a margin-bottom of ~7px
  dl {
    margin-top: 1.4375em; // 23
    margin-bottom: 4.375em; // 70
  }

  .nav-paddle-prev,
  .nav-paddle-next {
    position: absolute;
    z-index: 20;
    top: 50%;
    margin-top: -($navPaddleHeight / 2) - (2.875em / 2); // also subtract the height+margin/2 of the bullets
  }

  .nav-paddle-prev {
    left: 0;
  }

  .nav-paddle-next {
    right: 0;
  }
}

// A row of info
.spec-section {

  &.align-right-bottom {
    padding-bottom: 0;
  }

  .section-label {
    margin-top: -.125em;
    line-height: 1;
  }

  dl:last-child {
    margin-bottom: 0;
  }

  dt:not(:first-child) {
    margin-top: 23px; //1.875em; the font size is set on this, but I don't want to hard-code an em value to go with it
  }

  dd {
    margin-left: 0;
    margin-bottom: 0;
  }

  .spec-list li:first-child {
    margin-top: 0;
  }

  .media + .media {
    margin-top: 4.75em;
  }

  .media .pull-left {
    margin-right: 1.25em;
  }

  .media-heading {
    margin-bottom: 0;
  }

  .media-description {
    line-height: 1.3;
  }

  // Font icon holders
  .holder-for-icon {
    @include square(52px);
    text-align: center;

    i {
      margin-top: 0;
      vertical-align: middle;
    }
  }
}

// Carousel
.spec-carousel-wrap {
  position: relative;
  margin-top: (2.875em / 2); // bullets are 1em, margin-top of the bullets is 1.875em
  margin-left: $navPaddleWidth + 1.25em;
  margin-right: $navPaddleWidth + 1.25em;
  overflow: hidden;

  .lt-ie9 & {
    // .span8 is 595
    width: 482px;
    height: 217px + 16px; // 16px for nav dots
    max-height: 400px;

    .navigation-container {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }

  .spec-carousel {
    width: 175em;
  }

  .pagination-bullets {
    position: static;
    margin-top: 1.875em;
  }

  .slide {
    display: block;
    float: left;
    // display: inline-block;

    .lt-ie9 & {
      width: 600px;
    }

    img {
      max-width: 100%;
      width: 100%;
    }
  }
}




// 8888888888                888                                    88888888888 d8b 888
// 888                       888                                        888     Y8P 888
// 888                       888                                        888         888
// 8888888  .d88b.   8888b.  888888 888  888 888d888  .d88b.            888     888 888  .d88b.  .d8888b
// 888     d8P  Y8b     "88b 888    888  888 888P"   d8P  Y8b           888     888 888 d8P  Y8b 88K
// 888     88888888 .d888888 888    888  888 888     88888888           888     888 888 88888888 "Y8888b.
// 888     Y8b.     888  888 Y88b.  Y88b 888 888     Y8b.               888     888 888 Y8b.          X88
// 888      "Y8888  "Y888888  "Y888  "Y88888 888      "Y8888            888     888 888  "Y8888   88888P'


// Spec Feature Tiles
// -------------------------
.spec-tiles-wrap {
  margin-top: 6.25em; // 100
  margin-bottom: 9.375em; // 150

  .features-title {
    margin-bottom: 0;
    padding-bottom: 12px;
    border-bottom: 3px solid $gray70;
  }
}

.spec-tiles .spec-tile {
  margin-left: 0;
}

.spec-tile {
  margin-top: 1.5em;
  background: $tableHeaderColor;

  .tile-content {
    padding: 1.875em 2.5em 2.75em 1.875em;
  }

  // Remove default header margin top
  .tile-title {
    margin-top: 0;
  }
}

// In theory, these should be large enough to fill the space all the time :\
.spec-tile .iq-img {
  width: 100%;
  height: auto;
  min-height: px-em(85px);
}

// @import "../_responsive/responsive-spec-z1-z2";

