//
// Tertiary Content Container (TCC) 
// --------------------------------------------------

// TEMP
	@import "../_base/variables"; // Modify this for custom colors, font-sizes, etc
	@import "../_base/mixins";

	.clearfix {
	  @include clearfix;
	}

	*{
	  @include borderBox;
	  @include noTouchHold;
	}
// END TEMP


.tcc-wrapper{
	position: relative;
  background-color:$grayLightFieldLarge;
  overflow:auto; // scroller
  text-align: center; // scroller

	.tcc-body-wrapper{
		display: block;
		overflow: auto;
		position: relative;
		text-align: center;
		z-index: 1;
	} // end .tcc main

} // end .tcc-wrapper 

.tcc-header-wrapper{

	.tcc-header{
		border-bottom: 2px solid $grayLighter;
		position: relative;
	} // end .tcc-header

} // end .tcc-header-wrapper

.tcc-body{
	display:inline-block;
	//height:330px;

	// Content Modules
	.tcc-content-module{
		height:330px;
		padding-top:30px;
		float:left;
		overflow: hidden;
	} // end .tcc-content-module

	// certain tertiary content modules have hover states
	div[data-tcc-module-type="article"][data-tcc-module-mode="default"]:hover{
		cursor: pointer;
		background-color: white;
	} // end 
	
	// certain tertiary content modules do not have hover states
	div[data-tcc-module-type="sonys-voice"][data-tcc-module-mode="twitter"]:hover{
		background-color: transparent;
	}

} // end .tcc-body

.article-default{		
	.l1{
		text-transform: none;
		line-height:1.2em;
		font-size: $font_18_16;
	} // end l1

	.p3{
		line-height: 1.4em;
	} // end .p3

} // end .article-default

.sonys-voice{
	.l4,
	.l3{
		text-transform: none;
	} // end .l4 .l3

	.bq2 > p{
		color:$gray;
		line-height: 1.35em;
	} // end .bq2 > p

	.bq2 > p:first-child{
		text-indent: 0;
	}

} // end .sonys-voice