//
// Tertiary Content Container (TCC) 
// --------------------------------------------------

// TEMP
	@import "../_base/variables"; // Modify this for custom colors, font-sizes, etc
	@import "../_base/mixins";

	*{
	  @include borderBox;
	}

// END TEMP

.tcc-wrapper{
	position: relative;
  background-color:$grayLightFieldLarge;
  overflow:auto; // scroller
  text-align: center; // scroller

	.tcc-body-wrapper{
		display: block;
		//overflow: auto;
		overflow: hidden;
		position: relative;
		text-align: center;
		z-index: 1;
	} // end .tcc main

} // end .tcc-wrapper 

.tcc-header-wrapper{

	.tcc-header{
		border-bottom: 2px solid $grayLighter;
		position: relative;
	} // end .tcc-header

} // end .tcc-header-wrapper

.tcc-body{
	display:inline-block;

	// Content Modules
	.tcc-content-module{
		padding-top:15px;
		float:left;
		overflow: hidden;
	} // end .tcc-content-module

	// certain tertiary content modules have hover states
	div[data-tcc-module-type="article"][data-tcc-module-mode="default"]:hover{
		cursor: pointer;
		background-color: white;
	} // end 
	
	// certain tertiary content modules do not have hover states
	div[data-tcc-module-type="sonys-voice"][data-tcc-module-mode="twitter"]:hover{
		background-color: transparent;
	}

} // end .tcc-body

.article{		
	.l1{
		text-transform: none;
		line-height:1.2em;
		font-size: $font_18_16;
	} // end l1

} // end .article

.sonys-voice{
	.l4,
	.l3{
		text-transform: none;
	} // end .l4 .l3

	.bq2 > p{
		color:$gray;
		line-height: 1.35em;
	} // end .bq2 > p

	.bq2 > p:first-child{
		text-indent: 0;
	}

} // end .sonys-voice


.tcc-nav {
	
  &.tcc-bullets {
    position: absolute;
    z-index: 35;  
    left: 0;
    bottom: 0px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    line-height: 18px;
    overflow: hidden;
    opacity:0;
		@include transition(opacity, $transitionNormal);		

    &.on{
    	@include transition(opacity, $transitionNormal);
    	opacity:1;
    }
  }

  .tcc-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 5px 0 0 6px;
    border-radius: 5px;
    background: #bdbccc;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .tcc-bullet.tcc-nav-selected  {
    background-color: #2e3339;
  }
} // end .tcc-nav
