//
// Tertiary Content Container (TCC) 
// --------------------------------------------------

@import "../_base/variables";
@import "../_base/mixins";

@function createSelectorFromData($class1,$class2){
	@return '[data-tcc-content-type="'+ $class1 + '"][data-tcc-content-mode="' + $class2 + '"]';
}

.tcc-wrapper{
	position: relative;
  overflow:auto;
  text-align: center;
  background-color:$gray90;

	.tcc-body-wrapper{
		display: block;
		overflow: hidden;
		position: relative;
		text-align: center;
		z-index: 1;
		padding-top: 36px;
	} // end .tcc-body-wrapper
	
	
	
	.tcc-header{
		border-bottom: 2px solid $gray70;
		position: relative;
	} // end .tcc-header

	.tcc-body{
		display:inline-block;	
	} // end .tcc-body

	// certain tertiary content modules have hover states
	div#{createSelectorFromData("article","default")}:hover,
	div#{createSelectorFromData("article","featured")}:hover,
	div#{createSelectorFromData("article","news")}:hover,
	div#{createSelectorFromData("article","event")}:hover{
		
		img{
			@include transition(opacity, $transitionFast);
			opacity:0.85;
		} // end img

	} // end article hovers

	.tcc-content-module{
		position: relative;
		float:left;
		overflow: hidden;

		&:hover{
			cursor: pointer;
		} // end .tcc-content-module:hover;

		img{
			position:relative;
			@include transition(opacity, $transitionFast);
			opacity:1.0;
			vertical-align: top;
		
		} // end img

	} // end .tcc-content-module

	.article{		
		img{
			min-height:100px;
		}

		.p3{
			color:$gray40;
		} // end p3

    .t6{
      strong{
      	color:$titleBlack;
      } // end strong
    } // end t6

    .imgContainer{
    	position: relative;
    }

    .news-date{
    	position:absolute;
    	top:0;
    	right:0;
    	background-color:$gray20;
    	color:$white;
    	padding:px-em(10px);
    } // end newsDate


    .attendance-count{
    	background-color: $secondaryOlive;
    	opacity:0.95;
    	color:$white;
    	padding:.4em .6em .6em 1em;
    	position:absolute;
    	// top:4%;
    	// right:35%;
    	margin:auto;
    	top:0;
    	bottom:0;
    	left:0;
    	right:0;
    	width:24%;
    	height:60%;

    	.number{
    		margin-bottom:px-em(6px);
    		font-size:$font_37_16;
    	}

    	.l6{
    		color:$white;
    		font-size:$font_12_16;
    	}

    }

	} // end .article

	.sonys-voice{

		.l4,
		.l3{
			text-transform: none;
		} // end .l4 .l3

		.bq2 > p{
			line-height: 1.35em;
		} // end .bq2 > p

		.bq2 > p:first-child{
			text-indent: 0;
		} // end .bq2 > p:first-child
	} // end .sonys-voice
} // end .tcc-wrapper 





