//
// Tertiary Content Container (TCC) 
// --------------------------------------------------

// TEMP
	@import "../_base/variables"; // Modify this for custom colors, font-sizes, etc
	@import "../_base/mixins";

	.clearfix {
	  @include clearfix;
	}

	*{
	  @include borderBox;
	  @include noTouchHold;
	}
// END TEMP


.tcc-wrapper{
	position: relative;
  background-color:$grayLightFieldLarge;
  overflow:auto; // scroller
  text-align: center; // scroller
  padding:40px 0;

	.tcc{
		display: block;
		overflow: auto;
		position: relative;
		text-align: center;
		z-index: 1;
	} // end .tcc main

} // end .tcc-wrapper 

.tcc-header-wrapper{
	border-bottom: 2px solid $grayLighter;

	.tcc-header{
		position: relative;
	} // end .tcc-header

	.tcc-header-title{
		float:left;
		margin:0;
	} // end .tcc-header-title

	.tcc-header-link{
		float:right;
		margin:14px 0 0 0;
	} // end .tcc-header-link

} // end .tcc-header-wrapper

.tcc-modules-wrapper{
	display:inline-block;
	margin-top:30px;
	height:315px;

	// Content Modules
	.tcc-content-module{
		height:315px;
		float:left;
	} // end .tcc-content-module

	.tcc-content-module:hover{
		cursor: pointer;
		background-color: white;
	}

} // end .tcc-modules-wrapper