//
// Tertiary Content Container (TCC) 
// --------------------------------------------------

@import "../_base/variables";
@import "../_base/mixins";

@function createSelectorFromData($class1,$class2){
	@return '[data-tcc-content-type="'+ $class1 + '"][data-tcc-content-mode="' + $class2 + '"]';
}

.tcc-wrapper{
	position: relative;
  overflow:auto;
  text-align: center;
  background-color:$gray90;
  margin:0; // for the module since it can be placed anywhere on the page. 

	.tcc-body-wrapper{
		display: block;
		overflow: hidden;
		position: relative;
		text-align: center;
		z-index: 1;	
	} // end .tcc-body-wrapper
	
	.tcc-header{
		border-bottom: 2px solid $gray70;
	} // end .tcc-header

	.tcc-body{
		display:inline-block;	
	} // end .tcc-body

	.tcc-content-module{
		position: relative;
		overflow: hidden;
		
		&:hover{
			cursor: pointer;
		} // end .tcc-content-module:hover;

		img{
			@include transition(opacity, $transitionFast);
			opacity:1.0;
		} // end img

	} // end .tcc-content-module

	// certain tertiary content modules have hover states
	div#{createSelectorFromData("article","default")}:hover,
	div#{createSelectorFromData("article","featured")}:hover,
	div#{createSelectorFromData("article","news")}:hover,
	div#{createSelectorFromData("article","event")}:hover{
		
		img{
			@include transition(opacity, $transitionFast);
			opacity:0.85;
		} // end img

	} // end article hovers

	.article{	
    
    // DEFAULTS
    .img-container{
			position: relative;
			margin-bottom:px-em(20px);
    } // end .img-container

    // body copy
		.p3{
			color:$gray40;
		} // end p1

		// title
		.t6{
			color:$titleBlack;			
		} // end t6

		// SPECIFIC TO CONTENT TYPE
		&.event{
	   // overlay box
	    .attendance-count{
				background-color: $secondaryOlive;
				opacity:0.95;
				color:$white;
				position: absolute;
				z-index: 5;
				top: 0;
				left: 0;
				bottom:0;
				right:0;
				margin:10% auto;
				padding:3%;
				height:80%;
				width:35%;
	    } // end . attendance-count

	    // overlay container copy
    	.l4{
    		// "attending"
    		color:$white;
    		font-size:12px; // because we're using ghost center need to set size in pixels
				margin:0;
				padding:0;

				span{
					// number 
   				font-size:34px; // because we're using ghost center need to set size in pixels
				}
    	} // end .l4
		} // end .article.events

		&.news{
		  .news-date{
	    	position:absolute;
	    	top:0;
	    	right:0;
	    	z-index: 2;
	    	background-color:$gray20;
	    	color:$white;
	    	margin:0;
	    	padding:px-em(10px);
	    	font-size:11px; // because we're using ghost center need to set size in pixels
	    } // end .news-date
		} // end .article.news

		&.featured{

			.img-container{
				margin:0;
			}

			.feature-copy{
	    	position: absolute;
	    	bottom:0;
	    	left:0;
	    	width:100%;
	    	background-color:$gray20;
	    	opacity:0.95;
	    	text-align: left;
	    	margin:0; // overwrite default p
	    	//max-height:105px;

	    	.t4{
	    		color:$white;
	    	}

   	  }




		} // end .article.featured 

	} // end .article 

} // end .tcc-wrapper 


