//
// UX Marketing Convergence (UXMC)
// --------------------------------------------------

@import "../_base/variables";
@import "../_base/mixins";

.uxmc {
  margin-bottom: 2em;

  h2 {
    font-size: px-em(22px);
    font-weight: bold;
    text-transform: uppercase;
  }
}

.uxmc-container {
  position: relative;
  height: px-em(340px);
  background-color: #ccc;
  overflow: hidden;

  .uxmc-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    font-size: px-em(22px);
    font-weight: normal;
    line-height: px-em(19px, 22px);
    padding: 0 0 30px 36px;

    h3 {
      display: none;
    }

    p {
      margin: 0;
      opacity: 0.65;
    }

    a:after {
      position: relative;
      top: -3px;
      display: inline-block;
      height: 0.8em;
      font-size: 0.8em;
    }

    a,
    p {
      display: block;
      width: 357px;
      color: #fff;
      font-size: 1em;
      overflow: hidden;
    }
  }

  .uxmc-image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

    img {
      display: none;
    }
  }

  .base-product {
    position: relative;
    z-index: 2;
    float: left;
    width: 50%;
    height: px-em(340px);

    div.iq-img {
      background-size: cover;
    }

    img.iq-img {
      width: 100%;
    }
  }

  .partner-products {
    position: relative;
    z-index: 1;
    float: right;
    margin: 0;
    width: 50%;
    height: px-em(340px);;

    .lt-ie8 & {
      width: 49.5%;
    }

    li {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &.theme-watch { background-color: $themeRed; }
      &.theme-listen { background-color: $themePurple; }
      &.theme-play { background-color: $themeBlueLight; }
      &.theme-discover { background-color: $themeGreen; }
      &.theme-create { background-color: $themeOrange; }
      &.theme-connect { background-color: $themeBlueDark; }

      div.iq-img {
        left: 10%;
        width: 80%;
        background-size: contain;
      }

      img.iq-img {
        height: 100%;
        width: auto;
      }
    }
  }

  .btn-reload {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    margin: -0.5em 0 0 -0.5em;
    width: 1em;
    height: 1em;
    overflow: hidden;
    background-color: #fff;
    color: #ccc;
    font-size: 4.5em;
    text-align: center;

    .lt-ie8 & {
      display: none;
    }

    &:before {
      position: relative;
      top: -0.51em;
      left: 0.04em;
    }

    &.theme-watch { color: $themeRed; }
    &.theme-listen { color: $themePurple; }
    &.theme-play { color: $themeBlueLight; }
    &.theme-discover { color: $themeGreen; }
    &.theme-create { color: $themeOrange; }
    &.theme-connect { color: $themeBlueDark; }
  }

  .progress-indicators {
    position: absolute;
    right: 2.5%;
    bottom: 0;
    z-index: 3;
    display: table;
    height: 100%;

    > div {
      display: table-cell;
      vertical-align: middle;
    }

    .uxmc-dial-wrapper {
      position: relative;
      width: 28px;
      height: 28px;
      margin: 8px 0;

      .uxmc-dial-label {
        position: absolute;
        width: 100%;
        height: 28px;
        line-height: 28px;
        vertical-align: middle;
        z-index: 4;
        color: #fff;
        cursor: pointer;
        font-size: 0.75em;
        text-align: center;
      }

      input {
        display: none;
        vertical-align: middle;
      }
    }
  }
}

.no-backgroundsize {

  .uxmc-image-wrapper {
    display: table-cell;
    background-image: none !important;
    vertical-align: middle;

    span {
      display: inline-block;
      height: 100%;
    }

    * {
      vertical-align: middle;
    }

    img {
      display: inline;
    }
  }
}

.no-canvas {

  .uxmc-container {

    .progress-indicators {

      .uxmc-dial-label {

        &.active {
          background: #fff;
          color: #000;
        }
      }
    }
  }
}
