//
// UX Marketing Convergence (UXMC)
// --------------------------------------------------

@import "../_base/variables";
@import "../_base/mixins";

.uxmc-container {
  position: relative;
  height: 380px;
  background-color: #ccc;

  .uxmc-overlay {
    position: relative;
    z-index: 1;
  }

  .uxmc-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .base-product {
    position: relative;
    float: left;
    width: 30%;
    height: 380px;
  }

  .partner-products {
    position: relative;
    float: right;
    margin: 0;
    width: 69%;
    height: 380px;

    li {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}