
@import "../_base/variables"; // Modify this for custom colors, font-sizes, etc
@import "../_base/mixins";

.video-container { 
    margin-bottom: 1em;
    .vbc-container {
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
          div, embed, object {
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
          };
    }
}