---
title: Brightcove video Module
description:
---
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
	!{partial('includes/head.html.jade', l)}
	
body
	e = {"locals":locals, "data":data('brightcove_video/default.json')}
	!{partial('modules/module_brightcove_video.html.jade', e)}
        
	!{partial('includes/foot.html.jade', l)}
