---
title: E1-E15. Editorial Module
description: Examples of all the various Editorial Layout options
---
include ../partials/includes/jade-helpers.jade
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals": locals}
  head
    !{partial('includes/head.html.jade', l)}
  
  body 
    h6 textonly full:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/textonly-full-D-C-lorem1.json')
    hr
    
    h6 textonly left 7.5:  
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/textonly-left-75-D-L-lorem1.json')
    hr
    
    h6 textonly right 5.7:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/textonly-right-57-D-L-lorem1.json')
    hr
    
    h6 medialeft 8.4:
    +partial('editorial-layouts-e1.html.jade',  'editorial-layouts-e1/medialeft-84-D-L-photo1.json')
    hr
    
    h6 medialeft 7.5:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/medialeft-75-D-L-photo1.json')
    hr
    
    h6 medialeft 6.6:
    +partial('editorial-layouts-e1.html.jade',  'editorial-layouts-e1/medialeft-66-D-L-photo1.json')
    hr
    
    h6 medialeft 5.7:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/medialeft-57-D-L-photo1.json')
    hr
    
    h6 medialeft 4.8:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/medialeft-48-D-L-photo1.json')
    hr
    
    h6 mediaright 8.4:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/mediaright-84-D-L-photo1.json')
    hr
    
    h6 mediaright 7.5:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/mediaright-75-D-L-photo1.json')
    hr
    
    h6 mediaright 6.6:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/mediaright-66-D-L-photo1.json')
    hr
    
    h6 mediaright 5.7:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/mediaright-57-D-L-photo1.json')
    hr
    
    h6 mediaright 4.8:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/mediaright-48-D-L-photo1.json')
    hr
    
    h6 full inner right 7.5:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/full-inner-right-75-L-L-photo1.json')
    hr
    
    h6 full inner right 5.7:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/full-inner-right-57-L-L-photo1.json')
    hr
    
    h6 full inner left 7.5:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/full-inner-left-75-L-L-photo1.json')
    hr
    
    h6 full inner center 2.8.2:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/full-inner-center-282-LD-L-photo1.json')
    hr
    
    h6 full left 6.6:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/full-left-66-D-L-photo1.json')
    hr
    
    h6 full3up center  4.4.4:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/full3up-center-444-D-C-lorem1.json')
    hr
    
    h6 3up 4.4.4:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/3up-444-D-L-photo1.json')
    hr
    
    h6 2up 6.6:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/2up-66-D-L-photo1.json')      
    hr
    
    h6 2up inner 6.6:
    +partial('editorial-layouts-e1.html.jade', 'editorial-layouts-e1/2up-inner-66-L-L-photo1.json')
    hr
  
    !{partial('includes/foot.html.jade', l)}

</html>