//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

// Core
.btn {
  display: inline-block;
  @include ie7-inline-block();
  @include border-radius(1px);
  padding: $btnPadding;
  width: 171px;
  margin-bottom: 0; // For input.btn

  font-family: $sansFontFamilyMedium;
  font-size: 0.8666666667em; /* 13px/15px */ //inside of <p> or <td>
  // letter-spacing: -0.065em;

  line-height: inherit;
  *line-height: inherit;
  text-align: center;
  vertical-align: middle;
  color: $btnText;
  cursor: pointer;
  background: $btnBackground;
  border: 1px solid $btnBorder;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus

  // Hover state
  &:hover {
    color: $btnText;
    text-decoration: none;
    background-color: $btnBackgroundHover;
  }

  // Focus state for keyboard and accessibility
  &:focus {
    @include tab-focus();
  }

  // Active state
  &.active,
  &:active {
    color: $btnText;
    background: $btnBackgroundActive;
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    cursor: default;
    @include opacity(65);
  }
  &.disabled:hover,
  &[disabled]:hover {
    background: $btnBackground;
  }

}




// Alternate button styles
// --------------------------------------------------

.btn-special {
  width: 180px;
  padding: $btnSpecialPadding;
  font-family: $sansFontFamilyMedium;
  font-size: 1.0em; /* 15px/15px */ //inside of <p> or <td>
  border: 1px solid $btnSpecialBackground;
  background: $btnSpecialBackground;

  &:hover {
    background: $btnSpecialBackgroundHover;
  }
  &.active,
  &:active {
    background: $btnSpecialBackgroundActive;
  }
  &.disabled:hover,
  &[disabled]:hover {
    background: $btnSpecialBackground;
  }
}

// An almost square button. Used in gallery filters
// ---------------------
.btn-square {
  width: 70px;
  padding: $btnSquarePadding;
  font-family: $sansFontFamily;
  font-size: $font_20_16;
  color: $grayDark;
  border-radius: 0;
  border: none;
  background: $white;
  @include transition(box-shadow $transitionFast $easeNormal, color $transitionFast $easeNormal, background-color $transitionFast $easeNormal);

  &:hover,
  &:focus {
    @include box-shadow(inset 0 -4px 0 $gray);
    color: $highlightColor;
    background: $white;
  }

  &.active,
  &:active {
    color: $white;
    background: $highlightColor;
  }

  &.disabled,
  &[disabled],
  &.disabled:hover,
  &[disabled]:hover {
    @include box-shadow(none);
    color: inherit;
    background: $btnBackgroundDisabled;
  }
}

// Secondary
// -------------------------
.btn-secondary {
  border: 1px solid $btnSecondaryBackground;
  background: $btnSecondaryBackground;

  &:hover {
    background: $btnSecondaryBackgroundHover;
  }
  &.active,
  &:active {
    background: $btnSecondaryBackgroundActive;
  }
  &.disabled:hover,
  &[disabled]:hover {
    background: $btnSecondaryBackground;
  }
}

// Alt
// -------------------------
.btn-alt {
  padding: $btnAltPadding;
  font-family: $sansFontFamilyMedium;
  border: 1px solid $btnAltBackground;
  background: $btnAltBackground;

  &:hover {
    background: $btnAltBackgroundHover;
  }
  &.active,
  &:active {
    background: $btnAltBackgroundActive;
  }
  &.disabled:hover,
  &[disabled]:hover {
    background: $btnAltBackground;
  }

  &.btn-small {
    width: 138px;
    padding: $btnAltSmallPadding;
    font-size: 0.73333333333em; /* 11px/15px */ //inside of <p> or <td>
  }
}


// Alt Special; dark, left aligned, room for icon
// -------------------------
.btn-alt-special {
  position: relative;
  padding-left: $btnAltSpecialPadding;
  padding-right: $btnAltSpecialPadding;
  text-align: left;
  font-size: $font_13_16;
  background: $btnAltBackground;
  border-color: $btnAltBackground;
  min-width: 131px;

  &:hover,
  &:focus {
    background: $gray;
    border-color: $gray;
  }

  &:active {
    background: $gray;
    border-color: $gray;
  }

  &.btn-alt-plus i {
    position: absolute;
    right: $btnAltSpecialPadding;
    margin-top: 8px;
  }
}

// Promo
// -------------------------
.btn-promo {
  position: relative;
  width: 289px;
  padding: 21px 0 32px 35px;
  border: none;

  background: $btnPromoBackground;
  color: $gray;

  text-align: left;
  font-size: 1.666666667em; /* 25px/15px */
  line-height: $baseLineHeight * 0.8;
  font-family: $sansFontFamilyLight;
  strong{
    font-family: $sansFontFamily;
    color: $white;
  }
  &:hover {
    background: $btnPromoBackgroundHover;
    color: $gray;
  }
  &.active,
  &:active {
    background: $btnPromoBackgroundActive;
  }
  &.disabled:hover,
  &[disabled]:hover {
    background: $btnPromoBackground;
  }
  .icon-ui-arrow-right-white-boxed{
    @include border-radius(1px);
    background-color: rgb(51,57,74);
    background-color: rgba(167,197,255,0.13);
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0;
  }
}

.btn-icon-ui-left i {
  margin-right: 8px;
}

// Text that shouldn't wrap
.btn-wide {
  width: auto;
  padding-right: 25px;
  padding-left: 25px;
}




// Button Sizes
// --------------------------------------------------

// Large
.btn-large {
  padding: $btnLargePadding;
  font-size: 1.2em;
  line-height: $baseLineHeight * 1.1;
  &.btn-special{
    padding: $btnSpecialLargePadding;
  }
}
.btn-large [class^="icon-"] {
  margin-top: 2px;
}

// Small
.btn-small {
  padding: $btnSmallPadding;
  font-size: 0.8em;
  line-height: $baseLineHeight * 0.75;
  &.btn-special{
    padding: $btnSpecialSmallPadding;
  }
}
.btn-small [class^="icon-"] {
  margin-top: 0px;
}

// Mini
.btn-mini {
  padding: $btnMiniPadding;
  font-size: 0.75em;
  line-height: $baseLineHeight * 0.6;
  &.btn-special{
    padding: $btnSpecialMiniPadding;
  }
}


// Block button
// -------------------------

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  @include box-sizing(border-box);
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}





// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn {

  // Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // IE7 has some default padding on button controls
  *padding-top: 3px;
  *padding-bottom: 3px;

  &.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
  }
  &.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
  }
  &.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
  }
}


// Link buttons
// --------------------------------------------------

// Make a button look and behave like a link
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  @include box-shadow(none);
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: $linkColor;
  @include border-radius(0);
}
.btn-link:hover {
  color: $linkColorHover;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover {
  color: $grayDark;
  text-decoration: none;
}
