//
// FontIcons
// --------------------------------------------------

[class*="fonticon-"] {
  display: inline-block;
  line-height: 0.6; // sorry if this screwed up your icons, but 0.6 appears to be the same as 0 everywhere except IE9 & 10 where it NEEDS 0.6 or it's too small.
  // overflow: hidden; -- if you need overflow:hidden, you have to apply it to your own icon/s.

  &:before,
  &[class*="--after"]:after {
    font-family: 'Sony-Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    // -webkit-font-smoothing: antialiased; // NO! Icons have been adjusted so they don't need this, and rendering is consistent across browsers.
  }
  &.l-o-d{ // light-on-dark
    -webkit-font-smoothing: antialiased;
  }
}
i[class*="fonticon-"] {
  // overflow: hidden; -- screws up too many places; if you need it, do it manually & test if it breaks the layout for that instance.
}
[class*="fonticon-10-"] {
  font-size: 1.0em;
}
[class*="fonticon-15-"] {
  font-size: 1.5em;
}
[class*="fonticon-20-"] {
  font-size: 2.0em;
  // The styles below are currently in .btn-square i { } but could be moved here
  margin: -.125em; // -3px ( 3 / 24 )
}
[class*="fonticon-30-"] {
  font-size: 3.0em;
  // margin: -.1875em; // 9/48
}
[class*="fonticon-40-"] {
  font-size:4.0em;
  line-height:0.65;
}
[class*="fonticon-50-"] {
  font-size:5.0em;
  line-height:0.65;
}
[class*="fonticon-60-"] {
  font-size:6.0em;
  line-height:0.65;
}

.lt-ie8{
  [class*="fonticon-"],
  [class*="fonticon-10-"],
  [class*="fonticon-15-"],
  [class*="fonticon-20-"],
  [class*="fonticon-30-"],
  [class*="fonticon-40-"],
  [class*="fonticon-50-"],
  [class*="fonticon-60-"] {
    line-height:1;
  }
}


.fonticon-10-chevron-sm,
.fonticon-10-chevron-sm--after{
  margin:0 -.125em;
}




// below are from icomoon.

.fonticon-10-favorite:before,
.fonticon-10-favorite--after:after {
  content: "\e000";
}
.fonticon-10-cart:before,
.fonticon-10-cart--after:after {
  content: "\e001";
}
.fonticon-10-search:before,
.fonticon-10-search--after:after {
  content: "\e002";
}
.fonticon-10-account:before,
.fonticon-10-account--after:after {
  content: "\e003";
}
.fonticon-10-orders:before,
.fonticon-10-orders--after:after {
  content: "\e004";
}
.fonticon-10-newsletter:before,
.fonticon-10-newsletter--after:after {
  content: "\e005";
}
.fonticon-10-registered:before,
.fonticon-10-registered--after:after {
  content: "\e006";
}
.fonticon-10-globe:before,
.fonticon-10-globe--after:after {
  content: "\e007";
}
.fonticon-10-star:before,
.fonticon-10-star--after:after {
  content: "\e008";
}
.fonticon-10-star-half:before,
.fonticon-10-star-half--after:after {
  content: "\e009";
}
.fonticon-10-location:before,
.fonticon-10-location--after:after {
  content: "\e00a";
}
.fonticon-10-support:before,
.fonticon-10-support--after:after {
  content: "\e00b";
}
.fonticon-10-grid-3x3:before,
.fonticon-10-grid-3x3--after:after {
  content: "\e00c";
}
.fonticon-10-circle-x:before,
.fonticon-10-circle-x--after:after {
  content: "\e00d";
}
.fonticon-10-circle-q:before,
.fonticon-10-circle-q--after:after {
  content: "\e00e";
}
.fonticon-10-square-neg-plus:before,
.fonticon-10-square-neg-plus--after:after {
  content: "\e00f";
}
.fonticon-10-plus-skinny:before,
.fonticon-10-plus-skinny--after:after {
  content: "\e010";
}
.fonticon-10-x-skinny:before,
.fonticon-10-x-skinny--after:after {
  content: "\e011";
}
.fonticon-10-x-skinny-rounded:before,
.fonticon-10-x-skinny-rounded--after:after {
  content: "\e012";
}
.fonticon-10-chevron:before,
.fonticon-10-chevron--after:after {
  content: "\e013";
}
.fonticon-10-chevron-reverse:before,
.fonticon-10-chevron-reverse--after:after {
  content: "\e014";
}
.fonticon-10-chevron-sm:before,
.fonticon-10-chevron-sm--after:after {
  content: "\e015";
}
.fonticon-10-alpha-light:before,
.fonticon-10-alpha-light--after:after {
  content: "\e016";
}
.fonticon-10-alpha:before,
.fonticon-10-alpha--after:after {
  content: "\e017";
}
.fonticon-10-alpha-medium:before,
.fonticon-10-alpha-medium--after:after {
  content: "\e018";
}
.fonticon-10-alpha-bold:before,
.fonticon-10-alpha-bold--after:after {
  content: "\e019";
}
.fonticon-10-arrowhead-down:before,
.fonticon-10-arrowhead-down--after:after {
  content: "\e01a";
}
.fonticon-10-arrowhead-up:before,
.fonticon-10-arrowhead-up--after:after {
  content: "\e01b";
}
.fonticon-10-arrowheads-elevator:before,
.fonticon-10-arrowheads-elevator--after:after {
  content: "\e01c";
}
.fonticon-10-arrow-right:before,
.fonticon-10-arrow-right--after:after {
  content: "\e01d";
}
.fonticon-10-sm-bold-plus:before,
.fonticon-10-sm-bold-plus--after:after {
  content: "\e01e";
}
.fonticon-10-sm-bold-check:before,
.fonticon-10-sm-bold-check--after:after {
  content: "\e01f";
}
.fonticon-10-sm-bold-x:before,
.fonticon-10-sm-bold-x--after:after {
  content: "\e020";
}
.fonticon-10-dot:before,
.fonticon-10-dot--after:after {
  content: "\e021";
}
.fonticon-10-circlearrow:before,
.fonticon-10-circlearrow--after:after {
  content: "\e022";
}
.fonticon-10-x:before,
.fonticon-10-x--after:after {
  content: "\e023";
}
.fonticon-10-video-enlarge:before,
.fonticon-10-video-enlarge--after:after {
  content: "\e024";
}
.fonticon-10-video-minimize:before,
.fonticon-10-video-minimize--after:after {
  content: "\e025";
}
.fonticon-10-video-play:before,
.fonticon-10-video-play--after:after {
  content: "\e026";
}
.fonticon-10-video-pause:before,
.fonticon-10-video-pause--after:after {
  content: "\e027";
}
.fonticon-10-speaker:before,
.fonticon-10-speaker--after:after {
  content: "\e028";
}
.fonticon-15-mobile-menu:before,
.fonticon-15-mobile-menu--after:after {
  content: "\e029";
}
.fonticon-15-circle-play:before,
.fonticon-15-circle-play--after:after {
  content: "\e02a";
}
.fonticon-15-popup:before,
.fonticon-15-popup--after:after {
  content: "\e02b";
}
.fonticon-15-twitter:before,
.fonticon-15-twitter--after:after {
  content: "\e02c";
}
.fonticon-15-facebook-sm:before,
.fonticon-15-facebook-sm--after:after {
  content: "\e02d";
}
.fonticon-15-gplus:before,
.fonticon-15-gplus--after:after {
  content: "\e02e";
}
.fonticon-15-youtube:before,
.fonticon-15-youtube--after:after {
  content: "\e02f";
}
.fonticon-15-facebook:before,
.fonticon-15-facebook--after:after {
  content: "\e030";
}
.fonticon-15-instagram:before,
.fonticon-15-instagram--after:after {
  content: "\e031";
}
.fonticon-15-zoom:before,
.fonticon-15-zoom--after:after {
  content: "\e032";
}
.fonticon-20-skateboard:before,
.fonticon-20-skateboard--after:after {
  content: "\e033";
}
.fonticon-20-runner:before,
.fonticon-20-runner--after:after {
  content: "\e034";
}
.fonticon-20-mic-studio:before,
.fonticon-20-mic-studio--after:after {
  content: "\e035";
}
.fonticon-30-laptop:before,
.fonticon-30-laptop--after:after {
  content: "\e036";
}
.fonticon-30-tablet:before,
.fonticon-30-tablet--after:after {
  content: "\e037";
}
.fonticon-30-memory-stick:before,
.fonticon-30-memory-stick--after:after {
  content: "\e038";
}
.fonticon-30-tv:before,
.fonticon-30-tv--after:after {
  content: "\e039";
}
.fonticon-30-projector:before,
.fonticon-30-projector--after:after {
  content: "\e03a";
}
.fonticon-30-water-drop:before,
.fonticon-30-water-drop--after:after {
  content: "\e03b";
}
.fonticon-30-mic:before,
.fonticon-30-mic--after:after {
  content: "\e03c";
}
.fonticon-30-dongle:before,
.fonticon-30-dongle--after:after {
  content: "\e03d";
}
.fonticon-30-cd:before,
.fonticon-30-cd--after:after {
  content: "\e03e";
}
.fonticon-30-handycam:before,
.fonticon-30-handycam--after:after {
  content: "\e03f";
}
.fonticon-30-video-camera:before,
.fonticon-30-video-camera--after:after {
  content: "\e040";
}
.fonticon-30-grid:before,
.fonticon-30-grid--after:after {
  content: "\e041";
}
.fonticon-30-grid-alt:before,
.fonticon-30-grid-alt--after:after {
  content: "\e042";
}
.fonticon-30-headphones:before,
.fonticon-30-headphones--after:after {
  content: "\e043";
}
.fonticon-30-earbuds:before,
.fonticon-30-earbuds--after:after {
  content: "\e044";
}
.fonticon-30-earclips:before,
.fonticon-30-earclips--after:after {
  content: "\e045";
}
.fonticon-30-neckphones:before,
.fonticon-30-neckphones--after:after {
  content: "\e046";
}
.fonticon-30-camera:before,
.fonticon-30-camera--after:after {
  content: "\e047";
}
.fonticon-30-support:before,
.fonticon-30-support--after:after {
  content: "\e048";
}
.fonticon-30-intelligent-auto:before,
.fonticon-30-intelligent-auto--after:after {
  content: "\e049";
}
.fonticon-30-superior-auto:before,
.fonticon-30-superior-auto--after:after {
  content: "\e04a";
}
.fonticon-30-film-strip:before,
.fonticon-30-film-strip--after:after {
  content: "\e04b";
}
.fonticon-30-battery:before,
.fonticon-30-battery--after:after {
  content: "\e04c";
}
.fonticon-30-wifi:before,
.fonticon-30-wifi--after:after {
  content: "\e04d";
}
.fonticon-30-bluetooth:before,
.fonticon-30-bluetooth--after:after {
  content: "\e04e";
}
.fonticon-30-plus:before,
.fonticon-30-plus--after:after {
  content: "\e04f";
}
.fonticon-40-panorama:before,
.fonticon-40-panorama--after:after {
  content: "\e050";
}
.fonticon-40-face:before,
.fonticon-40-face--after:after {
  content: "\e051";
}
.fonticon-40-stability:before,
.fonticon-40-stability--after:after {
  content: "\e052";
}
.fonticon-40-battery:before,
.fonticon-40-battery--after:after {
  content: "\e053";
}
.fonticon-60-win8:before,
.fonticon-60-win8--after:after {
  content: "\e054";
}
.fonticon-60-sony:before,
.fonticon-60-sony--after:after {
  content: "\e055";
}