//
// FontIcons
// --------------------------------------------------

[class*="fonticon-ui-"] {
  display:inline-block;

  &:before,
  &[class*="--after"]:after {
    font-family: 'Sony-Icons-UI';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
  &:before{
    margin-right:3px;
  }
  &[class*="--after"]:after {
    margin-left:3px;
  }
}




.fonticon-ui-favorite:before,
.fonticon-ui-favorite--after:after {
  content: "\e000";
}
.fonticon-ui-cart:before,
.fonticon-ui-cart--after:after {
  content: "\e001";
}
.fonticon-ui-search:before,
.fonticon-ui-search--after:after {
  content: "\e002";
}
.fonticon-ui-account:before,
.fonticon-ui-account--after:after {
  content: "\e003";
}
.fonticon-ui-orders:before,
.fonticon-ui-orders--after:after {
  content: "\e004";
}
.fonticon-ui-newsletter:before,
.fonticon-ui-newsletter--after:after {
  content: "\e005";
}
.fonticon-ui-registered:before,
.fonticon-ui-registered--after:after {
  content: "\e006";
}
.fonticon-ui-star:before ,
.fonticon-ui-star--after:after{
  content: "\e007";
}
.fonticon-ui-star-half:before,
.fonticon-ui-star-half--after:after {
  content: "\e008";
}
.fonticon-ui-location:before,
.fonticon-ui-location--after:after {
  content: "\e009";
}
.fonticon-ui-support:before,
.fonticon-ui-support--after:after {
  content: "\e00a";
}
.fonticon-ui-grid-3x3:before ,
.fonticon-ui-grid-3x3--after:after{
  content: "\e00b";
}
.fonticon-ui-x-circle:before,
.fonticon-ui-x-circle--after:after {
  content: "\e00c";
}
.fonticon-ui-skinny-plus:before,
.fonticon-ui-skinny-plus--after:after {
  content: "\e00d";
}
.fonticon-ui-skinny-x:before,
.fonticon-ui-skinny-x--after:after {
  content: "\e00e";
}
.fonticon-ui-skinny-rounded-x:before,
.fonticon-ui-skinny-rounded-x--after:after {
  content: "\e00f";
}
.fonticon-ui-skinny-rounded-chevron:before ,
.fonticon-ui-skinny-rounded-chevron--after:after{
  content: "\e010";
}
.fonticon-ui-arrowhead-down:before,
.fonticon-ui-arrowhead-down--after:after {
  content: "\e011";
}
.fonticon-ui-arrowhead-up:before,
.fonticon-ui-arrowhead-up--after:after {
  content: "\e012";
}
.fonticon-ui-arrow-right:before,
.fonticon-ui-arrow-right--after:after {
  content: "\e013";
}
.fonticon-ui-sm-bold-plus:before,
.fonticon-ui-sm-bold-plus--after:after {
  content: "\e014";
}
.fonticon-ui-sm-bold-check:before,
.fonticon-ui-sm-bold-check--after:after {
  content: "\e015";
}
.fonticon-ui-sm-bold-x:before,
.fonticon-ui-sm-bold-x--after:after {
  content: "\e016";
}
.fonticon-ui-mobile-icon-sm:before,
.fonticon-ui-mobile-icon-sm--after:after {
  content: "\e017";
}
.fonticon-ui-mobile-icon-med:before,
.fonticon-ui-mobile-icon-med--after:after {
  content: "\e018";
}
.fonticon-ui-mobile-icon-lg:before,
.fonticon-ui-mobile-icon-lg--after:after {
  content: "\e019";
}
