//
// FontIcons
// --------------------------------------------------

[class^="fonticon-ui-"],
[class*=" fonticon-ui-"] {
  display:inline-block;

  &:before {
    font-family: 'Sony-Icons-UI';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
}




.fonticon-ui-favorite:before {
  content: "\e000";
}
.fonticon-ui-cart:before {
  content: "\e001";
}
.fonticon-ui-search:before {
  content: "\e002";
}
.fonticon-ui-account:before {
  content: "\e003";
}
.fonticon-ui-orders:before {
  content: "\e004";
}
.fonticon-ui-newsletter:before {
  content: "\e005";
}
.fonticon-ui-registered:before {
  content: "\e006";
}
.fonticon-ui-star:before {
  content: "\e007";
}
.fonticon-ui-star-half:before {
  content: "\e008";
}
.fonticon-ui-location:before {
  content: "\e009";
}
.fonticon-ui-support:before {
  content: "\e00a";
}
.fonticon-ui-grid-3x3:before {
  content: "\e00b";
}
.fonticon-ui-x-circle:before {
  content: "\e00c";
}
.fonticon-ui-skinny-plus:before {
  content: "\e00d";
}
.fonticon-ui-skinny-x:before {
  content: "\e00e";
}
.fonticon-ui-skinny-rounded-x:before {
  content: "\e00f";
}
.fonticon-ui-skinny-rounded-chevron:before {
  content: "\e010";
}
.fonticon-ui-arrowhead-down:before {
  content: "\e011";
}
.fonticon-ui-arrowhead-up:before {
  content: "\e012";
}
.fonticon-ui-arrow-right:before {
  content: "\e013";
}
.fonticon-ui-sm-bold-plus:before {
  content: "\e014";
}
.fonticon-ui-sm-bold-check:before {
  content: "\e015";
}
.fonticon-ui-sm-bold-x:before {
  content: "\e016";
}
.fonticon-ui-mobile-icon-sm:before {
  content: "\e017";
}
.fonticon-ui-mobile-icon-med:before {
  content: "\e018";
}
.fonticon-ui-mobile-icon-lg:before {
  content: "\e019";
}
