//
// Grid system
// --------------------------------------------------


// base settings are in _responsive-980px-1199px-default.scss


// Set 5 5 column grid for IE < 9 because they don't have media queries
.lt-ie9 .grid5 {
  // @include grid-core($grid5ColWidth, $grid5GutterWidth, $grid5Columns);
  @include grid-fluid($fluidGrid5ColWidth, $fluidGrid5GutterWidth, $grid5Columns);
}

// nested grids don't have margins (or in our case, don't have a set width)
.grid .grid,
.grid-px-width .grid{
	width: 100%;
}

// Reset utility classes due to specificity
[class*="span"].hide,
.grid [class*="span"].hide,
.grid [class*="span"].hide {
  display: none;
}

[class*="span"].pull-right,
.grid [class*="span"].pull-right,
.grid [class*="span"].pull-right {
  float: right;
}
