//
// Layouts
// --------------------------------------------------


// Container (centered, fixed-width layouts)
.container-px-width {
  margin-right: auto;
  margin-left: auto;
	@include clearfix();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container,
.container-fluid {
  padding-right: $fluidContainerMarginWidth;
  padding-left:  $fluidContainerMarginWidth;
  @include clearfix();
}
