//
// Layouts
// --------------------------------------------------


.container,
.container-fluid,
.container-px-width{
  margin-right: auto;
  margin-left: auto;	
  @include clearfix();
}


// Container (centered, fixed-width layouts)
.container-px-width {
	width:$containerWidth;
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container,
.container-fluid {
	width: $fluidContainerWidth;
}
.container.full-bleed,
.container-fluid.full-bleed {
	width:100%;
}
