//
// Sprites
// --------------------------------------------------



// ICONS -- These are all Bootstrap's default spirites/icons. Sony custom ones are below them.
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="icon-inbox"></i>.

// For the white version of the icons, just add the .icon-white class:
// <i class="icon-inbox icon-white"></i>

.sprite-base-class{
  display: inline-block;
  @include ie7-restore-right-whitespace();
  line-height: 15px;
  vertical-align: text-top;
  background-image: url($iconSpritePath);
  background-repeat: no-repeat;  
}

[class^="sprite-"],
[class*=" sprite-"],
[class^="icon-"],
[class*=" icon-"] {
  @extend .sprite-base-class;

  .no-svg & {
    background-image: url($iconSpritePathFallback);
  }
}

/* White icons with optional class, or on hover/active states of certain elements */
// .icon-white,
// .nav-tabs > .active > a > [class^="icon-"],
// .nav-tabs > .active > a > [class*=" icon-"],
// .nav-pills > .active > a > [class^="icon-"],
// .nav-pills > .active > a > [class*=" icon-"],
// .nav-list > .active > a > [class^="icon-"],
// .nav-list > .active > a > [class*=" icon-"],
// .navbar-inverse .nav > .active > a > [class^="icon-"],
// .navbar-inverse .nav > .active > a > [class*=" icon-"],
// .dropdown-menu > li > a:hover > [class^="icon-"],
// .dropdown-menu > li > a:hover > [class*=" icon-"],
// .dropdown-menu > .active > a > [class^="icon-"],
// .dropdown-menu > .active > a > [class*=" icon-"] {
//   background-image: url($iconSpritePath);
// }




// SONY ICONS -- 
// -----

/* White icons with optional class, or on hover/active states of certain elements */
// Christopher's icons
.icon-small{
  display: inline-block;
  @include background-sprite-icon-small;
  width:15px;
  height:15px;
  @include ie7-restore-right-whitespace();
  line-height: 15px;
  vertical-align: text-top;
  margin-top: 1px;
  background-position: 15px 15px;
}



// Glen's icons
// Glen -- what about icons that need a :hover and an :active state? Shouldn't .active be .hover, and a 3rd state that's .active with a possible 3rd color?
// TODO: THE REST
// 30px x 30px grid, double spaced vertically
@mixin icon($name, $x, $w, $h, $hasActive: true) {
  .icon-#{$name} {
    background-position: $x 0;
    @include size($h, $w);

    @if ( $hasActive ) {
      &.active,
      .tab.active & { background-position: $x -120px; }
    }
  }
}

@include icon(laptop, 0, 33px, 24px);
@include icon(tablet, -60px, 20px, 26px);
@include icon(memory-stick, -90px, 16px, 21px);
@include icon(tv, -120px, 35px, 26px);
@include icon(projector, -180px, 38px, 18px);
@include icon(water-drop, -240px, 15px, 20px);
@include icon(mic, -270px, 11px, 27px);
@include icon(dongle, -300px, 14px, 27px);
@include icon(cd, -330px, 27px, 26px);
@include icon(handycam, -360px, 36px, 22px);
@include icon(video-camera, -420px, 38px, 28px);
@include icon(grid, -480px, 27px, 27px);
@include icon(grid-alt, -510px, 26px, 26px);
@include icon(headphones, -540px, 27px, 27px);
@include icon(earbuds, -570px, 45px, 24px);
@include icon(earclips, -630px, 17px, 28px);
@include icon(neckphones, -660px, 45px, 19px);
@include icon(star, -720px, 13px, 13px);





// Christopher's shot at extending Glen's icons
// 30px x 30px grid, double spaced vertically, row 3
@mixin icon-mini($name, $x, $w, $h, $hasActive: true) {
  .icon-mini-#{$name} {
    background-position: $x -180px;
    @include size($h, $w);

    @if ( $hasActive ) {
      &.active,
      .tab.active & { background-position: $x -210px; }
    }
  }
}
@include icon-mini(favorite,                   0px,      15px,   13px);
@include icon-mini(cart,                       -30px,    17px,   14px);
@include icon-mini(search,                     -60px,    30px,   13px);
@include icon-mini(arrowhead-down-gray,        -90px,    7px,    4px);
@include icon-mini(arrowhead-up-gray,          -120px,   7px,    4px);
@include icon-mini(arrowhead-down-white,       -150px,   7px,    4px);
@include icon-mini(arrowhead-up-white,         -180px,   7px,    4px);
@include icon-mini(arrowhead-down-blue,        -210px,   7px,    4px);
@include icon-mini(arrowhead-up-blue,          -240px,   7px,    4px);
@include icon-mini(arrow-right-white,          -270px,   7px,    4px);
@include icon-mini(arrow-right-blue,           -300px,   7px,    4px);
@include icon-mini(global-nav-indicator,       -330px,   22px,   9px,    false);
@include icon-mini(grid,                       -360px,   16px,   16px,   false);
@include icon-mini(star,                       -390px,   13px,   13px);
@include icon-mini(arrowheads-up-down-gray,    -420px,   8px,    11px);
@include icon-mini(plus-tiny,                  -450px,   9px,    9px);
@include icon-mini(plus-skinny,                -480px,   16px,   16px);
@include icon-mini(x-skinny,                   -510px,   16px,   16px);
@include icon-mini(revealer-l-r-xl,            -540px,   32px,   32px);


@include icon-mini(arrow-right-white-boxed, -256px, 40px, 37px);
.icon-mini-arrow-right-white-boxed{ background-position:-256px -167px; }
@include icon-mini(arrow-right-white-boxed-bordered1, -257px, 38px, 35px);
.icon-mini-arrow-right-white-boxed-bordered1{ background-position:-257px -166px; }
@include icon-mini(arrow-right-blue-boxed-bordered2, -286px, 38px, 33px);
.icon-mini-arrow-right-blue-boxed-bordered2{ background-position: -286px -167px; }



@mixin sprite($name, $x, $w, $h) {
  .sprite-#{$name} {
    background-position: $x -300px;
    @include size($h, $w);
  }
}
@include sprite(nav-sony-logo,          0,    89px,   31px);


// @mixin pseudo-el-icon-mini($x, $w, $h) {
//   background-position: $x -180px;
//   @include size($h, $w);
// }
.icon-mini-pseudo-el-arrow-right-blue{
  @extend .sprite-base-class;
  background-position: -300px -180px;
  @include size(8px, 11px);
}
