//
// Sprites
// --------------------------------------------------



// ICONS -- These are all Bootstrap's default spirites/icons. Sony custom ones are below them.
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="icon-inbox"></i>.

// For the white version of the icons, just add the .icon-white class:
// <i class="icon-inbox icon-white"></i>

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  @include ie7-restore-right-whitespace();
  line-height: 15px;
  vertical-align: text-top;
  background-image: url($iconSpritePath);
  background-position: 15px 15px;
  background-repeat: no-repeat;
  margin-top: 1px;
}

/* White icons with optional class, or on hover/active states of certain elements */
.icon-white,
.nav-tabs > .active > a > [class^="icon-"],
.nav-tabs > .active > a > [class*=" icon-"],
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: url($iconSpritePath);
}




// SONY ICONS -- 
// -----

/* White icons with optional class, or on hover/active states of certain elements */

.icon-small{
  display: inline-block;
  @include background-sprite-icon-small;
  width:15px;
  height:15px;
  @include ie7-restore-right-whitespace();
  line-height: 15px;
  vertical-align: text-top;
  margin-top: 1px;
  background-position: 15px 15px;
}

/* Positions are for a 15px by 15px container. */
.icon-small-arrow-right-white   { background-position: -50px -50px; }
.icon-small-arrow-right-blue    { background-position: -100px -50px; }

.icon-small-plus-white          { background-position: -200px -50px; }
.icon-small-x-white             { background-position: -250px -50px; }

.icon-small-carrot-down-white   { background-position: -350px -50px; }
.icon-small-carrot-up-white     { background-position: -400px -50px; }
.icon-small-carrot-down-blue    { background-position: -450px -50px; }
.icon-small-carrot-up-blue      { background-position: -500px -50px; }
.icon-small-carrot-down-gray    { background-position: -550px -50px; }
.icon-small-carrot-up-gray      { background-position: -600px -50px; }


