//
// Swatches
// --------------------------------------------------

%swatch {
  position: relative;
  display: inline-block;
  @include square(42px);

  &:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
  }

  &:focus:after,
  &:hover:after {
    background: $gray;
  }

  &.active:after {
    background: $highlightColor;
  }

  &[disabled] {
    @include opacity(25);
  }
  &[disabled]:focus,
  &[disabled]:hover {
    @include box-shadow(none);
  }
}

[class^="swatch-"],
[class*=" swatch-"] {
  @extend %swatch;
}

// Like btn-group
.color-swatches > *:not(:first-child) {
  margin-left: 10px;
}

// Mini swatches
.color-swatches > .mini-swatch:not(:first-child) {
  margin-left: 2px;
}

.mini-swatch {
  @include square(12px);
  border: 1px solid $transparentBlack;
  line-height: 0.1em;
  font-size: 0.1em;
  text-indent: -9999px;
  overflow: hidden;

  // Disable hover and active states
  &:after { content: none; }
}

.filter-container [class*="swatch-"] {
  cursor: pointer;
}

.swatch-black     { background-color: $blackLight; }
.swatch-yellow    { background-color: $yellow; }
.swatch-purple    { background-color: $purple; }
.swatch-teal      { background-color: $infoText; }
.swatch-white     { background-color: $white; }
.swatch-red       { background-color: $red; }
.swatch-blue      { background-color: $blue; }
.swatch-pink      { background-color: $pink; }
.swatch-green     { background-color: $themeGreen; }
.swatch-orange    { background-color: $orange; }
.swatch-silver    { background-color: $gray; }














