//
// Swatches
// --------------------------------------------------

%dark-colors {
  @include gradient-vertical( rgba(41,26,83,0), rgba(41,26,83,0.16) );
}

%light-colors {
  @include gradient-vertical( rgba(41,26,83,0), rgba(41,26,83,0.06) );
}

%swatch {
  position: relative;
  display: inline-block;
  @include size( px-em(40px), px-em(42px) );
  @include box-shadow(0 1px 0 $gray40);
  border: 1px solid transparent;
  border: 1px solid rgba($gray20, 0);

  &:before,
  &:after {
    position: absolute;
    @include opacity(0);
    @include transition(opacity $transitionNormal $easeNormal);
  }

  // Dark circle
  $circleSize: px-em(20px);
  &:before {
    content: '';
    left: 50%;
    top: 50%;
    margin-left: -($circleSize / 2);
    margin-top: -($circleSize / 2);
    @include square($circleSize);
    border-radius: 50%;
    background: $gray25;
  }

  // Check mark
  &:after {
    left: .75em;
    top: .625em;
    color: $white;
  }

  &.active {
    @include box-shadow(none);
  }

  // Fade in circle and checkmark
  &.active:before,
  &.active:after {
    @include opacity(100);
  }

  // Disabled state
  &[disabled] {
    border-color: $gray20;
    border-color: rgba($gray20, .15);

    // overwrite backgrond-image, color, etc
    background: transparent;
    @include box-shadow(none);
  }
  &[disabled]:focus,
  &[disabled]:hover {
    cursor: auto;
  }
}

[class^="swatch-"],
[class*=" swatch-"] {
  @extend %swatch;
}

// Like btn-group
.color-swatches > *:not(:last-child) {
  margin-right: px-em(6px);
}

// Mini swatches
.color-swatches > .mini-swatch:not(:first-child) {
  margin-left: px-em(2px);
}

.mini-swatch {
  @include square(.75em);
  border: 1px solid $transparentBlack;
  line-height: 0.1em;
  // font-size: 0.1em;
  text-indent: -999em;
  overflow: hidden;
  @include box-shadow(none);

  // Disable hover and active states
  &:before, &:after { content: none; }
}

.filter-container [class*="swatch-"] {
  cursor: pointer;
}

// These colors all need to be updated since colors have been standardized.
.swatch-black     { background-color: $gray05; }
.swatch-yellow    { background-color: $yellow; }
.swatch-purple    { background-color: $purple; }
.swatch-teal      { background-color: $teal; }
.swatch-white     { background-color: $white; }
.swatch-red       { background-color: $red; }
.swatch-blue      { background-color: $blue; }
.swatch-pink      { background-color: $pink; }
.swatch-green     { background-color: $green; }
.swatch-orange    { background-color: $orange; }
.swatch-silver    { background-color: $gray; }
.swatch-lemon     { background-color: $lemon; }


.swatch-black,
.swatch-yellow,
.swatch-purple,
.swatch-teal,
.swatch-red,
.swatch-blue,
.swatch-pink,
.swatch-green,
.swatch-orange,
.swatch-silver {
  @extend %dark-colors;
}

.swatch-white,
.swatch-lemon {
  @extend %light-colors;
  @include box-shadow(0 1px 0 $gray60);
}


@media ( max-width: 29.9375em ) {
  %swatch {
    @include size( px-em(40px), px-em(41px) );
  }

  .mini-swatch {
    @include square(.875em);
  }
}









