//
// Swatches
// --------------------------------------------------

%swatch {
  position: relative;
  display: inline-block;
  @include square( px-em(42px) );

  // Bottom border
  &:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: px-em(4px);
  }

  &:focus:after,
  &:hover:after {
    background: $gray;
  }

  &.active:after {
    background: $highlightColor;
  }

  &[disabled] {
    @include opacity(25);
  }
  &[disabled]:focus,
  &[disabled]:hover {
    @include box-shadow(none);
  }
}

[class^="swatch-"],
[class*=" swatch-"] {
  @extend %swatch;
}

// Like btn-group
.color-swatches > *:not(:first-child) {
  margin-left: px-em(10px);
}

// Mini swatches
.color-swatches > .mini-swatch:not(:first-child) {
  margin-left: px-em(2px);
}

.mini-swatch {
  @include square(.875em); // 14. Gallery tiles are 12, specs are 16...
  border: 1px solid $transparentBlack;
  line-height: 0.1em;
  // font-size: 0.1em;
  text-indent: -999em;
  overflow: hidden;

  // Disable hover and active states
  &:after { content: none; }
}

.filter-container [class*="swatch-"] {
  cursor: pointer;
}


// These colors all need to be updated since colors have been standardized.
.swatch-black     { background-color: $grayDarkerFieldLarge; }
.swatch-yellow    { background-color: $yellow; }
.swatch-purple    { background-color: $purple; }
.swatch-teal      { background-color: $teal; }
.swatch-white     { background-color: $white; }
.swatch-red       { background-color: $red; }
.swatch-blue      { background-color: $blue; }
.swatch-pink      { background-color: $pink; }
.swatch-green     { background-color: $green; }
.swatch-orange    { background-color: $orange; }
.swatch-silver    { background-color: $gray; }
.swatch-lemon     { background-color: $lemon; }














