//
// Typography
// --------------------------------------------------



// Body text
// -------------------------

body {
  color:$gray20;
}
p {
  margin: 0 0 (0.5em * $baseLineHeight);
  line-height:$baseLineHeight;
  font-size: $font_15_16;
}


// Emphasis & misc
// -------------------------

small {
  font-size: 0.85em; // Since this will be inside of another font-sized element, it just needs to be smaller relative to its parent.
}
strong {} // have to specify this with the specific font you're using - use the font mixins.
em {} // have to specify this with the specific font you're using - use the font mixins.
cite {
  font-style: normal;
}

// Utility classes
.muted {
  color: $grayLight;
}
.text-warning {
  color: $warningText;
}
.text-error {
  color: $errorText;
}
.text-info {
  color: $infoText;
}
.text-success {
  color: $successText;
}








// --------------------------------------
// New font styles
// --------------------------------------
// 
// --------------------------------------
// TITLES
// --------------------------------------

.t1, .t2, .t5, .t6, .t7 {
  @include fontRegular; 
  @include em-strong(Regular); 
}
.t3, .t4{
  @include fontLight;
  @include em-strong(Light);
}
.t1, .t2, .t3, .t4{
  letter-spacing: -0.01em;
}
.t1{
  font-size: px-em(54px);
  line-height: px-line-height(62px, 54px);
  margin-bottom: 30px;
}
.t2{
  font-size: px-em(44px);
  line-height: px-line-height(50px, 44px);
  margin-bottom: 24px;
}
.t3{
  font-size: px-em(30px);
  line-height: px-line-height(38px, 30px);
  margin-bottom: 18px;
}
.t4{
  font-size: px-em(26px);
  line-height: px-line-height(34px, 26px);
  margin-bottom: 16px;
}
.t5{
  font-size: px-em(22px);
  line-height: px-line-height(26px, 22px);
  margin-bottom: 14px;
}
.t6{
  font-size: px-em(18px);
  line-height: px-line-height(26px, 18px);
  margin-bottom: 8px;
}
.t7{
  font-size: px-em(15px);
  line-height: px-line-height(22px, 15px);
  margin-bottom: 6px;
}


// ------------------------------------
// Labels Text Styles
// ------------------------------------
.l1, .l2, .l3, .l4, .l5, .l6, .l7 {
  letter-spacing: px-em(1px); 
  text-transform: uppercase;
}
.l1, .l2, .l3, .l5, .l6, .l7 {
  @include fontRegular; 
  @include em-strong(Regular);
}
.l4{
  @include fontBold;
}

.l1{
  font-size: px-em(54px);
  line-height: px-line-height(62px, 54px);
  margin-bottom: 30px;
}
.l2{
  font-size: px-em(44px);
  line-height: px-line-height(50px, 44px);
  margin-bottom: 24px;
}
.l3{
  font-size: px-em(30px);
  line-height: px-line-height(38px, 30px);
  margin-bottom: 18px;
}
.l4{
  font-size: px-em(22px);
  line-height: px-line-height(30px, 22px);
  margin-bottom: 18px;
}
.l5{
  font-size: px-em(12px);
  line-height: px-line-height(18px, 12px);
  margin-bottom: 8px;
}
.l6{
  font-size: px-em(11px);
  line-height: px-line-height(18px, 11px);
  margin-bottom: 8px;
}
.l7{
  font-size: px-em(10px);
  line-height: px-line-height(16px, 10px);
  margin-bottom: 8px;
}



// ------------------------------------
// Paragraphs & LinkText 
// The LinkText is when the link is in its own paragraph, so it will be pushed down from the paragraph above it.
// ------------------------------------
p, .p1, .p2, .p3, .p4, .lt5 {
  @include fontRegular;
  @include em-strong(Regular);  
}
.p1, .lt1 {
  font-size: px-em(18px);
  line-height: px-line-height(26px, 18px);
}
.p2, .lt2 {
  font-size: px-em(15px);
  line-height: px-line-height(22px, 15px);
}
.p3, .lt3 {
  font-size: px-em(13px);
  line-height: px-line-height(20px, 13px);
}
.p4, .lt4 {
  font-size: px-em(12px);
  line-height: px-line-height(18px, 12px);
}
.p5 {
  font-size: px-em(11px);
  line-height: px-line-height(15px, 11px);
}
.lt5 {
  font-size: px-em(13px);
  line-height: px-line-height(20px, 13px);
  letter-spacing: px-em(1px);
  text-transform: uppercase;
  margin-bottom: 12px;
}
.p1 { margin-bottom: 16px; }
.p2, .p3 { margin-bottom: 12px; }
.p4, .p5, .lt1 { margin-bottom: 8px; }
.lt2 {  margin-bottom: 6px; }
.lt3, .lt4 { margin-bottom: 4px; }


// ------------------------------------
// Button Text
// ------------------------------------
.bt1, .bt2, .bt3, .bt4 {
  @include fontRegular;
  strong { @include fontMedium; }
}
.bt1{
  font-size: px-em(15px);
  line-height: px-line-height(22px, 15px);
  margin-bottom: 12px;
}
.bt2{
  font-size: px-em(13px);
  line-height: px-line-height(20px, 13px);
  margin-bottom: 12px;
}
.bt3{
  font-size: px-em(12px);
  line-height: px-line-height(18px, 12px);
  margin-bottom: 8px;
}
.bt4{
  font-size: px-em(11px);
  line-height: px-line-height(15px, 11px);
  margin-bottom: 6px;
}



// ------------------------------------
// Block Quotes
// ------------------------------------

blockquote, .bq1, .bq2, .bq3, .bq4, .bq5{
  @include fontLightItalic;  
}
.bq1{
  font-size: px-em(44px);
  line-height: px-line-height(50px, 44px);
  margin-bottom: 24px;
}
.bq2{
  font-size: px-em(30px);
  line-height: px-line-height(38px, 30px);
  margin-bottom: 18px;
}
.bq3{
  font-size: px-em(26px);
  line-height: px-line-height(34px, 26px);
  margin-bottom: 16px;
}
.bq4{
  font-size: px-em(18px);
  line-height: px-line-height(26px, 18px);
  margin-bottom: 16px;
}
.bq5{
  font-size: px-em(13px);
  line-height: px-line-height(20px, 13px);
  margin-bottom: 12px;
}


















// --------------------------------------
// Old font styles
// --------------------------------------

// ----------------------------------
// Headings
// ----------------------------------
h1, h2, h3, h4, h5, h6 {
  margin: (0.25em*$baseLineHeight) 0 (0.25em*$baseLineHeight) 0;
  line-height: $baseLineHeight * 0.7;
  @include fontHeading();
  color: $headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-size:0.85em;
    font-weight: normal;
    line-height: $baseLineHeight * 0.7;
    color: $gray;
  }
  em {
    @include fontHeadingItalic();
  }
}

h1 {
  font-size: $font_54_16;
}
h2 {
  font-size: $font_44_16;
}
h3 {
  font-size:  $font_32_16;
  line-height: $baseLineHeight * 0.75;
}
h4 {
  font-size: $font_26_16;
}
h5 {
  font-size: $font_18_16;
}
h6 {
  font-size: $font_16_16;
}

// ----------------------------------
// Labels
// ----------------------------------
.l1 {
  font-size:$font_22_16;
  text-transform:uppercase;
  @include fontBold;
  color: $headingsColor;
  em { @include fontBoldItalic; }
}

.l2, .l3, .l4 {
  text-transform:uppercase;
  @include fontMedium;
  em { @include fontMediumItalic; }
}
.l2 {
  font-size:$font_15_16;
}
.l3 {
  font-size:$font_12_16;
  color: $headingsColor;
}
.l4 {
  font-size:$font_11_16;
}


// ----------------------------------
// Paragraphs
// ----------------------------------
.p1 {
  font-size:$font_20_16;
  line-height: $baseLineHeight * 0.93;
}
.p2 { /* Standard P tag; P2 class is not necessary, but kept for sake of relative sizing logic */
  // font-size:$font_15_16;
}
.p3 {
  font-size:$font_13_16;
}
.p4 {
  font-size: $font_12_16;
  @include fontItalic;
}
.p5 {
  font-size: $font_11_16;
}



// ----------------------------------
// TextLinks
// ----------------------------------
.tl {
  font-size: $font_13_15;  /* -- Default textlink size is small. */
}
.tl-large {
  font-size: $font_15_15;
}
.tl-arrow-right {
  &:after {
    @include pseudoEl-inline-block();
    @extend .icon-ui-pseudo-el-arrow-right-blue;
    position: relative;
    top: 1px;
    margin-left: 9px;
    margin-top: 5px;
  };
  &.tl-large:after {
    top: 3px;
  };
}

// ---------------------------------
// Global Nav links
// ---------------------------------
.navtray-list-main > li > a.tl {
  @include fontMedium;
  em { @include fontMediumItalic; }
  font-size: $font_13_16; /* -- Default textlink size is small. */
  color:$grayDark;
}



// ----------------------------------
// Blockquotes
// ----------------------------------
blockquote {
  @include fontLightItalic;
  color: $headingsColor;

  p {
    line-height: $baseLineHeight;
  }
  p:first-child {
    text-indent:-14px;
  }
  p:first-child:before {
    content: "\201c";
    line-height:0; /* make sure it doesn't affect the real content. */
  }
  p:last-child:after {
    content: "\201d";
    line-height:0; /* make sure it doesn't affect the real content. */
  }
}
blockquote > p,
blockquote.bq2 > p {
  font-size: $font_28_16;
  line-height: $baseLineHeight * 0.76;
  letter-spacing:-0.035em;
  &:first-child {
    text-indent:-12px;
  }
}
blockquote.bq1 > p {
  font-size: $font_40_16;
  line-height: $baseLineHeight * 0.76;
  letter-spacing:-0.025em;
  &:first-child {
    text-indent:-14px;
  }
}











select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-size: $font_13_16;
  line-height: $baseLineHeight;
}

.text-number-callout-large {
  font-size: $font_60_16;
  font-family: $sansFontFamilyLight;
  @include fontLight;
  em { @include fontLightItalic; }
  color:$headingsColor;
}
.text-promo-title {
  font-size:$font_25_16;
  line-height: $baseLineHeight * 0.8;
  @include fontLight;
  em { @include fontLightItalic; }
  strong {
    @include fontRegular;
    em { @include fontItalic; }
    color:$headingsColor;
  }
}

// Page header
// -------------------------

.page-header {
  padding-bottom: $baseLineHeight * 0.45;
  margin: $baseLineHeight 0 ($baseLineHeight * 1.5);
  border-bottom: 1px solid $grayLightFieldSmall;
}



// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 ($baseLineHeight / 2) * 1em 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: $baseLineHeight + 0em;
}

// Remove default list styles
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Single-line list items
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
  & > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Description Lists
dl {
  margin-bottom: $baseLineHeight + 0em;
}
dt,
dd {
  line-height: $baseLineHeight;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: $baseLineHeight + 0em / 2;
}
// Horizontal layout (like forms)
.dl-horizontal {
  @include clearfix(); // Ensure dl clears floats if empty dd elements present
  dt {
    float: left;
    width: $horizontalComponentOffset - 20;
    clear: left;
    text-align: right;
    @include text-overflow();
  }
  dd {
    margin-left: $horizontalComponentOffset;
  }
}

// MISC
// ----

// Horizontal rules
hr {
  margin: $baseLineHeight + 0em 0;
  border: 0;
  border-top: 1px solid $hrBorder;
  border-bottom: 1px solid $white;
}

// Abbreviations and acronyms
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $grayLight;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}



// Addresses
address {
  display: block;
  margin-bottom: $baseLineHeight + 0em;
  font-style: normal;
  line-height: $baseLineHeight;
}






.testing {}
  // Type Tests -- These will be deleted once testing is complete.

  // .SST-Roman-ttf {
  //   font-family: "SST-Roman-ttf", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //   font-weight:normal;
  //   font-style:normal;
  //   font-size:15px;
  //   line-height:1;
  // }
  // .SST-Roman-otf {
  //   font-family: "SST-Roman-otf", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //   font-weight:normal;
  //   font-style:normal;
  //   font-size:15px;
  //   line-height:1;
  // }
  // .SST-Roman-woff {
  //   font-family: "SST-Roman-woff", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //   font-weight:normal;
  //   font-style:normal;
  //   font-size:15px;
  //   line-height:1;
  // }




  // .SST-Roman {
  //   @include fontRegular;
  // }
  // .SST-Italic {
  //   @include fontItalic;
  // }
  // .SST-Light {
  //   @include fontLight;
  // }
  // .SST-Light-Italic {
  //   @include fontLightItalic;
  // }
  // .SST-Medium {
  //   @include fontMedium;
  // }
  // .SST-Medium-Italic {
  //   @include fontMediumItalic;
  // }
  // .SST-Bold {
  //   @include fontBold;
  // }
  // .SST-Bold-Italic {
  //   @include fontBoldItalic;
  // }




.SST-Roman {
  font-family: "SST W01 Roman", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.SST-Italic {
  font-family: "SST W01 Italic", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.SST-Light {
  font-family: "SST W01 Light", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.SST-Light-Italic {
  font-family: "SST W01 Light Italic", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.SST-Medium {
  font-family: "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.SST-Medium-Italic {
  font-family: "SST W01 Medium Italic", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.SST-Bold {
  font-family: "SST W01 Bold", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.SST-Bold-Italic {
  font-family: "SST W01 Bold Italic", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}





