//
// Utility classes
// --------------------------------------------------


// Quick floats
.pull-right { float: right; }
.pull-left { float: left; }

// Toggling content
.hide { display: none; }
.show { display: block; }
.off-screen {
  position: absolute;
  left: -9999px;
}
.relative { position: relative; }
.ib { display: inline-block; }

.opacity0 { opacity: 0; }
.opacity1 { opacity: 1; }


.no-transition{ @include transition(none); }
.transition-height{ @include transition(height $navMenuRevealSpeed ease-out 0s); }
.transition-width{ @include transition(width $navMenuRevealSpeed ease-out 0s); }

.grab {
  cursor: all-scroll;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.grab.grabbing,
.grabbing {
  cursor: all-scroll;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

// From H5BP
// -----------------------------

// Image replacement
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
  display: none !important;
  visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

// Hide visually and from screenreaders, but maintain layout
.invisible {
  visibility: hidden;
}

// Try to use one of the above to avoid problems with text-indent please :)
.hidden-text {
  display: block;
  line-height: 0.1em;
  font-size: 0.1em;
  text-indent: -9999px;
  overflow: hidden;
}

// For Affix plugin
.affix {
  // position: fixed;
}

// Clearing floats
.clearfix {
  @include clearfix();
}

// Accessible yet invisible text
.hide-text {
  @include hide-text();
}

// Uses box-sizing mixin, so must be defined here
.input-block-level {
  @include input-block-level();
}
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }

// custom text colors
.text-default { color: $defaultTextColor; }
.text-dark { color: $text-dark; }
.text-med-dark { color: $text-med-dark; }
.text-med-light { color: $text-med-light; }
.text-light { color: $text-light; }

// Centering
// -------------------------

// Heads up! This method sets font-size: 0 on .ghost-center-wrap and resets it to font-size: 16px
// on .ghost-center. You may have to set the font-size yourself on children of .ghost-center.
// ems and %s don't work because the parent has font-size:0
.ghost-center-wrap {
  @include ghost();
}

// Vertically align a ghost center element to the bottom
.ghost-center.v-bottom {
  vertical-align: bottom;
}

.table-center-wrap {
  display: table;
}

.table-center {
  display: table-cell;
  vertical-align: middle;
}


// Star highlighting!
// -------------------------
[data-stars] .icon-ui-star:not(:first-child) {
  margin-left: 2px;
}

// We have to add half-stars to this. I gues that means it's actually a 10-star rating system.
[data-stars="1"] .fonticon-10-star:nth-child(-n + 1),
[data-stars="2"] .fonticon-10-star:nth-child(-n + 2),
[data-stars="3"] .fonticon-10-star:nth-child(-n + 3),
[data-stars="4"] .fonticon-10-star:nth-child(-n + 4),
[data-stars="5"] .fonticon-10-star:nth-child(-n + 5) {
  color: $buttonOrange;
}


// classes that just include the el-hidden/shown mixins, so if you want you can add/remove the class el-hidden or el-shown on your elements;
// or you can make your .active or .selected class act as a el-hidden or el-shown element by using the mixin on your class directly. Options!
.el-hidden{ @include el-hidden(); }
.el-shown{  @include el-shown(); }
