//
// Utility classes
// --------------------------------------------------


// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

.hidden-text{
  display:block;
  line-height:0.1em;
  font-size:0.1em;
  text-indent:-9999px;
  overflow:hidden;
}

// For Affix plugin
.affix {
  position: fixed;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

// Clearing floats
.clearfix {
  @include clearfix();
}

// Accessible yet invisible text
.hide-text {
  @include hide-text();
}

// Uses box-sizing mixin, so must be defined here
.input-block-level {
  @include input-block-level();
}

.text-center {
  text-align: center;
}


// Centering
// -------------------------
.ghost-center-wrap {
  @include ghost();
}

.ghost-center {
  display: inline-block;
  vertical-align: middle;
}

.table-center-wrap {
  display: table;
}

.table-center {
  display: table-cell;
  vertical-align: middle;
}


// Hero Images and content
// -------------------------
$maxHeroHeight: 400px;
$overlayColor: rgba($linkColor, .8);
.hero {
  position: relative;
  overflow: hidden;
  max-height: $maxHeroHeight;

  img {
    display: block;
    width: 100%;
  }

  // Only overlay color on IE9+ (double colon ignored in IE8)
  .hero-img-wrap::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlayColor;
  }

  & > .container {
    position: relative;
  }
  
  .hero-text-wrap {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .hero-text {
    width: 100%;
  }
}




// Star highlighting!
// -------------------------
[data-stars] .icon-mini-star:not(:first-child) {
  margin-left: 2px;
}

[data-stars="1"] .icon-mini-star:nth-child(-n + 1),
[data-stars="2"] .icon-mini-star:nth-child(-n + 2),
[data-stars="3"] .icon-mini-star:nth-child(-n + 3),
[data-stars="4"] .icon-mini-star:nth-child(-n + 4),
[data-stars="5"] .icon-mini-star:nth-child(-n + 5) {
  background-position: -720px -60px;
}


