//
// Variables
// In SublimeText, use Command-K-1 to collapse all sections, Command-K-0 to expand all.
// -------------------------------------------------------------------------


// Colors 
// -------------------------
#COLORS{} // this is just here for a SublimeText code-folding collapse point
	// Grays
	// -------------------------
	$black:                 rgb(0,0,0) !default;
	$blackLight:						rgb(35,35,35);
	$grayDark:              rgb(47,53,61) !default;
	$gray:                  rgb(131,131,143) !default;

	$grayLight:             rgb(188,188,204) !default;
	$grayLightish:          rgb(210,210,219) !default; // seriously, idk what to do w/all these colors.
	$grayLighter:           rgb(228,231,235) !default;
	$white:                 rgb(255,255,255) !default;


	// Background Tones
	// -----------------------------------
	$grayDarkerFieldLarge:  rgb(31,32,36) !default;
	$grayDarkFieldLarge:    rgb(64,66,71) !default;
	$grayLightFieldLarge:   rgb(243,244,246) !default;

	$grayDarkerFieldSmall:  rgb(33,37,48) !default;
	$grayDarkFieldSmall:    rgb(114,110,122) !default;
	$grayLightFieldSmall:   rgb(241,245,249) !default;



	// Accent colors
	// -------------------------
	$blue:                  rgb(4,156,219) !default;
	$blueDark:              rgb(0,100,205) !default;
	$red:                   rgb(157,38,29) !default;
	$yellow:                rgb(255,196,13) !default;
	$orange:                rgb(248,148,6) !default;
	$pink:                  rgb(195,50,95) !default;
	$purple:                rgb(122,67,182) !default;


	// Sony Accent colors
	// -------------------------
	$highlightColor:        rgb(243,84,41) !default;
	$highlightColorHover:   lighten($highlightColor, 5%) !default;
	$highlightColorActive:  $highlightColor !default;
	$highlightColorDark:	rgb(219,76,37);

	$themeGreen:            rgb(34,192,131) !default;


	// Scaffolding
	// -------------------------
	$bodyBackground:        $white !default;
	$textColor:             $gray !default;
	$textColorLight:        $grayLight !default;
	$textColorLightest:     $grayLight !default;
	$textColorDark:         $grayDark !default;



	// Links
	// -------------------------
	$linkColor:             rgb(69,113,236) !default;
	$linkColorHover:        rgb(87,135,244) !default;


	// Transparent colors
	// -------------------------
	$transparentBlack:		rgba(0,0,0,0.12) !default;
	$innerGlow:						rgba(255, 255, 255, 1);



	$squareHalo:				0 0 5px $innerGlow, 0 0 0 6px $transparentBlack;



// Typography
// -------------------------
.TYPOGRAPHY{} // this is just here for a SublimeText code-folding collapse point
	$sansFontFamily:        "SST-Roman", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	$sansFontFamilyBold:    "SST-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	$sansFontFamilyMedium:  "SST-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	$sansFontFamilyLight:   "SST-Light", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	$sansFontFamilyItalic:  "SST-Italic", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
	$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;
	
	$baseFontSize:          1em !default;
	$baseFontFamily:        $sansFontFamily !default;
	$baseLineHeight:        1.65 !default;
	$altFontFamily:         $serifFontFamily !default;

	$headingsFontFamily:    inherit !default; // empty to use BS default, $baseFontFamily
	$headingsFontWeight:    bold !default;    // instead of browser default, bold
	$headingsColor:         $grayDark !default; // empty to use BS default, $textColor

	// use these font-size variables instead of doing the math yourself every time!
	                   // context/target 

	$font_60_16: 3.75em;   // 60px/16px
	$font_54_16: 3.375em;  // 54px/16px
	$font_44_16: 2.75em; 	 // 44px/16px
	$font_40_16: 2.5em; 	 // 40px/16px
	$font_32_16: 2.0em;    // 32px/16px
	$font_30_16: 1.875em;    // 32px/16px
	$font_28_16: 1.75em;   // 28px/16px
	$font_26_16: 1.625em;  // 26px/16px
	$font_25_16: 1.5625em; // 25px/16px
	$font_22_16: 1.375em;  // 22px/16px
	$font_20_16: 1.25em;   // 20px/16px
	$font_18_16: 1.125em;  // 18px/16px
	$font_16_16: 1.0em;    // 16px/16px 
	$font_15_16: 0.9375em; // 15px/16px
	$font_14_16: 0.875em;  // 14px/16px
	$font_13_16: 0.8125em; // 13px/16px
	$font_12_16: 0.75em;   // 12px/16px
	$font_11_16: 0.6875em; // 11px/16px
	$font_10_16: 0.625em;  // 10px/16px

	$font_32_15: 2.133333333333333em;  // 32px/15px; 
	$font_26_15: 1.733333333333333em;  // 26px/15px; 
	$font_20_15: 1.333333333333333em;  // 20px/15px; 
	$font_18_15: 1.2em;                // 18px/15px; 
	$font_16_15: 1.066666666666667em;  // 16px/15px;
	$font_15_15: 1.0em;                // 15px/15px;
	$font_14_15: 0.933333333333333em;  // 14px/15px;
	$font_13_15: 0.866666666666667em;  // 13px/15px; 
	$font_12_15: 0.8em;                // 12px/15px;
	$font_11_15: 0.733333333333333em;  // 11px/15px;
	$font_10_15: 0.666666666666667em;  // 10px/15px;


// Buttons & Hotspots
// -------------------------
.BUTTONS-and-HOTSPOTS{} // this is just here for a SublimeText code-folding collapse point
	$btnBackground:                     rgb(87,135,244) !default;
	$btnBackgroundHover:                rgb(100,142,245) !default;
	$btnBackgroundActive:               $btnBackground !default;
	$btnBorder:                         $btnBackground !default;
	$btnBackgroundDisabled:				rgb(222,222,222);

	$btnText:                           $white !default;

	$btnSpecialBackground:              $highlightColor !default;
	$btnSpecialBackgroundHover:         $highlightColorHover !default;
	$btnSpecialBackgroundActive:        $highlightColorActive !default;

	$btnAltBackground:              	$grayDark !default;
	$btnAltBackgroundHover:         	darken($grayDark,4%) !default;
	$btnAltBackgroundActive:        	lighten($grayDark,4%) !default;
	$btnAltSpecialPadding: 				24px;

	$btnPromoBackground:              	$grayDarkerFieldSmall !default;
	$btnPromoBackgroundHover:         	darken($grayDarkerFieldSmall,5%) !default;
	$btnPromoBackgroundActive:        	$grayDarkerFieldSmall !default;

	$btnSecondaryBackground:            $grayLight !default;
	$btnSecondaryBackgroundHover:       lighten($grayLight,2%) !default;
	$btnSecondaryBackgroundActive:      $grayLight !default;

	$btnDropdownBackground:            rgb(112,108,120) !default;
	$btnDropdownBackgroundHover:       lighten($btnDropdownBackground,2%) !default;
	$btnDropdownBackgroundActive:      $btnDropdownBackground !default;

	$btnDropdownAltBackground:         $white !default;
	$btnDropdownAltBackgroundHover:    darken($white,2%) !default;
	$btnDropdownAltBackgroundActive:   darken($white,1%) !default;

	$btnPadding:                        8px 0 11px;
	$btnLargePadding:                   7px 0 10px;
	$btnSmallPadding:                   8px 0 10px;
	$btnMiniPadding:                    8px 0 9px;

	$btnSpecialPadding:                 13px 0 15px;
	$btnSpecialLargePadding:            14px 0 14px;
	$btnSpecialSmallPadding:            12px 0 14px;
	$btnSpecialMiniPadding:             11px 0 12px;

	$btnAltPadding:                 	8px 0 11px;
	$btnAltLargePadding:            	7px 0 10px;
	$btnAltSmallPadding:            	8px 0 9px;
	$btnAltMiniPadding:             	8px 0 9px;

	$btnSquarePadding:                 	14px 0 13px;
	// $btnSquareLargePadding:            	7px 0 10px;
	// $btnSquareSmallPadding:            	8px 0 9px;
	// $btnSquareMiniPadding:             	8px 0 9px;


	// Hotspots
	// -------------------------
	$hotspotHalo:				rgba(47,53,61,0.1) !default;
	$hotspotHaloHover:			rgba(47,53,61,0.15) !default;



// Tables
// -------------------------
.TABLES{} // this is just here for a SublimeText code-folding collapse point
	$tableBackground:                   transparent !default; // overall background-color
	$tableBackgroundAccent:             rgb(249,249,249) !default; // for striping
	$tableBackgroundHover:              rgb(245,245,245) !default; // for hover
	$tableBorder:                       rgb(221,221,221) !default; // table and cell border




// Forms
// -------------------------
.FORMS{} // this is just here for a SublimeText code-folding collapse point
	$inputBackground:               $white !default;
	$inputBackgroundAlt:            rgb(248,248,248) !default;
	$inputBackgroundBtnAlt:         $grayLighter !default;
	$inputText:                     $grayLight !default;
	$inputTextFocus:                $gray !default;
	$inputBorder:                   $grayLighter !default;
	$inputBorderFocus:              $grayLight !default;
	$inputBorderFocus:              $grayLight !default;
	$inputBorderWidth:              2px !default;
	$inputBorderRadius:             0px !default;
	$inputDisabledBackground:       darken($inputBackgroundAlt,1%) !default;
	$formActionsBackground:         rgb(245,245,245) !default;

	// Dropdowns
	// -------------------------
	$dropdownBackground:            $white !default;
	$dropdownBorder:                rgba(0,0,0,.2) !default;
	$dropdownDividerTop:            rgb(229,229,229) !default;
	$dropdownDividerBottom:         $white !default;

	$dropdownLinkColor:             $grayDark !default;
	$dropdownLinkColorHover:        $white !default;
	$dropdownLinkColorActive:       $dropdownLinkColor !default;

	$dropdownLinkBackgroundActive:  $linkColor !default;
	$dropdownLinkBackgroundHover:   $dropdownLinkBackgroundActive !default;

	// Form states and alerts
	// -------------------------
	$warningText:             rgb(192,152,83) !default;
	$warningBackground:       rgb(252,248,227) !default;
	$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%) !default;

	$errorText:               rgb(185,74,72) !default;
	$errorBackground:         rgb(242,222,222) !default;
	$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;

	$successText:             rgb(70,136,71) !default;
	$successBackground:       rgb(223,240,216) !default;
	$successBorder:           darken(adjust-hue($successBackground, -10), 5%) !default;

	$infoText:                rgb(58,135,173) !default;
	$infoBackground:          rgb(217,237,247) !default;
	$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%) !default;




// Component variables
// -------------------------
.COMPONENT-VARIABLES{} // this is just here for a SublimeText code-folding collapse point

	// Z-index master list
	// -------------------------
	// Used for a bird's eye view of components dependent on the z-axis
	// Try to avoid customizing these :)
	$zindexDropdown:          1000 !default;
	$zindexPopover:           1010 !default;
	$zindexTooltip:           1030 !default;
	$zindexFixedNavbar:       1030 !default;
	$zindexModalBackdrop:     1040 !default;
	$zindexModal:             1050 !default;


	// Sprite icons path
	// -------------------------
	// These are Bootstrap default:
	// $iconSpritePath:          "../img/glyphicons-halflings.png" !default;
	$iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png" !default;
	// These are Sony custom:
	$iconSpritePath:		  "../img/spritesheet.svg" !default;
	$iconSpritePathFallback:  "../img/spritesheet.png" !default;
	$iconSmallSpritePath:     "../img/spritesheet-icons-small.png" !default;

	// Input placeholder text color
	// -------------------------
	$placeholderText:         $grayLight !default;


	// Hr border color
	// -------------------------
	$hrBorder:                $grayLighter !default;


	// Horizontal forms & lists
	// -------------------------
	$horizontalComponentOffset:       180px;


	// Wells
	// -------------------------
	$wellBackground:                  rgb(245,245,245) !default;


// Global values for Nav & Subanv to share.
.NAV{}
	$navMaxWidth:									1190px !default;


// Global Nav (navbar)
// -------------------------
.NAVBAR{} // this is just here for a SublimeText code-folding collapse point
	$navbarCollapseWidth:             979px !default;

	$navbarTotalHeight:               64px !default;
	$navbarLineHeight:								40px !default;
	$navbarMinSidePadding:						43px !default; // the minimum space between the edge of the nav, and the edge of the browser window

	$navbarBackground:                $black !default;
	$navbarBackgroundHighlight:       lighten($navbarBackground,5%) !default;
	$navbarTertiaryColor:							rgb(55,53,59) !default;

	$navbarTextSize:									0.9375em; /* 15px/16px */
	$navbarSmTextSize:								0.8125em; /* 13px/16px */
	$navbarText:                      $white !default;
	$navbarLinkColor:                 $white !default;
	$navbarLinkColorHover:            $white !default;
	$navbarLinkColorActive:           lighten($linkColorHover,5%) !default;
	$navbarLinkBackgroundHover:       transparent !default;
	$navbarLinkBackgroundActive:      darken($navbarBackground, 5.25%) !default;

	// Inverted navbar
	$navbarInverseBackground:                rgb(17,17,17) !default;
	$navbarInverseBackgroundHighlight:       rgb(34,34,34) !default;
	$navbarInverseBorder:                    rgb(37,37,37) !default;

	$navbarInverseText:                      $grayLight !default;
	$navbarInverseLinkColor:                 $grayLight !default;
	$navbarInverseLinkColorHover:            $white !default;
	$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover !default;
	$navbarInverseLinkBackgroundHover:       transparent !default;
	$navbarInverseLinkBackgroundActive:      $navbarInverseBackground !default;

	$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%) !default;
	$navbarInverseSearchBackgroundFocus:     $white !default;
	$navbarInverseSearchBorder:              $navbarInverseBackground !default;
	$navbarInverseSearchPlaceholderColor:    rgb(204,204,204) !default;

	$navbarInverseBrandColor:                $navbarInverseLinkColor !default;

	$navTrayBackground:								$white;
	$navTrayBackgroundAlt:						$grayLightFieldLarge;
  $navTrayDividerPosition:					73%;

	$navMenuBackground:								$white;
	$navMenuBackgroundAlt:						$grayLightFieldLarge;




// Simple-Navbar
// The original Bootstrap navbar has been renamed simpleNavbar.
// Likewise, the original Bootstrap nav has been renamed simple-nav.
// -------------------------
.SIMPLE-NAVBAR{} // this is just here for a SublimeText code-folding collapse point
	$simpleNavbarCollapseWidth:           	979px !default;

	$simpleNavbarHeight:                    64px !default;
	$simpleNavbarBackground:                $black !default;
	$simpleNavbarBackgroundHighlight:       lighten($simpleNavbarBackground,5%) !default;

	$simpleNavbarTextSize:                  0.875em; /* 14px/16px */
	$simpleNavbarText:                      $linkColor !default;
	$simpleNavbarLinkColor:                 $linkColor !default;
	$simpleNavbarLinkColorHover:            $linkColorHover !default;
	$simpleNavbarLinkColorActive:           lighten($linkColorHover,5%) !default;
	$simpleNavbarLinkBackgroundHover:       transparent !default;
	$simpleNavbarLinkBackgroundActive:      darken($simpleNavbarBackground, 5.25%) !default;

	// Inverted navbar
	$simpleNavbarInverseBackground:                rgb(17,17,17) !default;
	$simpleNavbarInverseBackgroundHighlight:       rgb(34,34,34) !default;
	$simpleNavbarInverseBorder:                    rgb(37,37,37) !default;

	$simpleNavbarInverseText:                      $grayLight !default;
	$simpleNavbarInverseLinkColor:                 $grayLight !default;
	$simpleNavbarInverseLinkColorHover:            $white !default;
	$simpleNavbarInverseLinkColorActive:           $simpleNavbarInverseLinkColorHover !default;
	$simpleNavbarInverseLinkBackgroundHover:       transparent !default;
	$simpleNavbarInverseLinkBackgroundActive:      $simpleNavbarInverseBackground !default;

	$simpleNavbarInverseSearchBackground:          lighten($simpleNavbarInverseBackground, 25%) !default;
	$simpleNavbarInverseSearchBackgroundFocus:     $white !default;
	$simpleNavbarInverseSearchBorder:              $simpleNavbarInverseBackground !default;
	$simpleNavbarInverseSearchPlaceholderColor:    rgb(204,204,204) !default;

	$simpleNavbarInverseBrandColor:                $simpleNavbarInverseLinkColor !default;




// Pagination
// -------------------------
.PAGINATION{} // this is just here for a SublimeText code-folding collapse point
	$paginationBackground:                rgb(255,255,255) !default;
	$paginationBorder:                    rgb(221,221,221) !default;
	$paginationActiveBackground:          rgb(245,245,245) !default;




// Tooltips and popovers
// -------------------------
.TOOLTIPS-AND-POPOVERS{} // this is just here for a SublimeText code-folding collapse point
	$tooltipColor:            rgb(255,255,255) !default;
	$tooltipBackground:       rgb(0,0,0) !default;
	$tooltipArrowWidth:       5px !default;
	$tooltipArrowColor:       $tooltipBackground !default;

	$popoverBackground:       rgb(255,255,255) !default;
	$popoverArrowWidth:       10px !default;
	$popoverArrowColor:       rgb(255,255,255) !default;
	$popoverTitleBackground:  darken($popoverBackground, 3%) !default;

	// Special enhancement for popovers
	$popoverArrowOuterWidth:  $popoverArrowWidth + 1 !default;
	$popoverArrowOuterColor:  rgba(0,0,0,.25) !default;





// GRID
// -----------------------------
// 

.GRID{} // this is just here for a SublimeText code-folding collapse point

	$gridColumns:             12 !default; 
	$grid5Columns: 			  5;

	// Default 940px grid @980px-1199px
	$gridColumnWidth:         54px !default;
	$gridGutterWidth:         30px !default;
	$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;

	// 1112px grid @1200px+ breakpoint
	$gridColumnWidth1200:     64px !default;
	$gridGutterWidth1200:     40px !default;
	$gridRowWidth1200:        ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1)) !default;

	// 724px grid @768px-979px breakpoints
	$gridColumnWidth768:      45px !default;
	$gridGutterWidth768:      20px !default;
	$gridRowWidth768:         ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1)) !default;


	// 5 Column Grid
	$grid5ColWidth: 		   204px;
	$grid5GutterWidth: 		   23px;
	$grid5RowWidth: 		   ($grid5Columns * $grid5ColWidth) + ($grid5GutterWidth * ($grid5Columns - 1));





	// Fluid grid
	// -------------------------
	// 

	// Default 980px grid @980px breakpoint
	$fluidContainerMarginWidth:	40px !default;
	$fluidGridColumnWidth:    	percentage($gridColumnWidth/$gridRowWidth) !default;
	$fluidGridGutterWidth:    	percentage($gridGutterWidth/$gridRowWidth) !default;

	// 1200px min
	$fluidContainerMarginWidth1200:	40px !default;
	$fluidGridColumnWidth1200:     	percentage($gridColumnWidth1200/$gridRowWidth1200) !default;
	$fluidGridGutterWidth1200:     	percentage($gridGutterWidth1200/$gridRowWidth1200) !default;

	// 768px-979px
	$fluidContainerMarginWidth768:	40px !default;
	$fluidGridColumnWidth768:      	percentage($gridColumnWidth768/$gridRowWidth768) !default;
	$fluidGridGutterWidth768:      	percentage($gridGutterWidth768/$gridRowWidth768) !default;
	
	// 767px max (mobile)
	$fluidContainerMarginWidth767:	15px !default;

	// 5 Column Grid
	$fluidGrid5ColWidth: percentage($grid5ColWidth / $grid5RowWidth);
	$fluidGrid5GutterWidth: percentage($grid5GutterWidth / $grid5RowWidth);





// Transition Speeds
// --------------------------------------------------
.TRANSITION-SPEEDS{} // this is just here for a SublimeText code-folding collapse point
	$transitionSuperslow:   0.5s;
	$transitionSlower:   	0.4s;
	$transitionSlow:        0.3s;
	$transitionNormal:      0.2s;
	$transitionFast:		0.15s;
	$transitionFaster:      0.10s;
	$transitionSuperfast:   0.05s;


// Transition Timing Functions
// --------------------------------------------------
.TRANSITION-FUNCTIONS{} // this is just here for a SublimeText code-folding collapse point
	$easeOutQuad: 		cubic-bezier(0.250, 0.460, 0.450, 0.940);
	$easeOutCubic: 		cubic-bezier(0.215, 0.610, 0.355, 1.000);
	$easeOutQuart: 		cubic-bezier(0.165, 0.840, 0.440, 1.000);
	$easeOutExpo: 		cubic-bezier(0.190, 1.000, 0.220, 1.000);
	$easeNormal:		ease-out;

