//
// Variables
// In SublimeText, use Command-K-1 to collapse all sections, Command-K-0 to expand all.
// -------------------------------------------------------------------------


// Colors
// -------------------------
#COLORS{} // this is just here for a SublimeText code-folding collapse point
	// Grays
	// -------------------------
	$black:                 rgb(0,0,0) !default;       //#000
	$blackLight:		        rgb(35,35,35) !default;    //#232323
	$grayDark:              rgb(47,53,61) !default;    //#2F353D
	$grayDark1: 						rgb(80,77,86) !default;
	$gray:                  rgb(131,131,143) !default; //#83838F

  $grayLightness:         rgb(145,145,158) !default; // we need to cut down on some of these...

	$grayLight:             rgb(188,188,204) !default; //#BCBCCC
	$grayLight2:            rgb(213,215,216) !default; //#d5d7d8
	$grayLightish:          rgb(210,210,219) !default; //#D2D2DB
	$grayLighter:           rgb(228,231,235) !default; //#E4E7EB
	$white:                 rgb(255,255,255) !default; //#fff


	// Background Tones
	// -----------------------------------
	$grayDarkerFieldLarge:  rgb(31,32,36) !default;    //#1F2024
	$grayDarkFieldLarge:    rgb(64,66,71) !default;    //#404247
	$grayLightFieldLarge:   rgb(243,244,246) !default; //#F3F4F6

	$grayDarkerFieldSmall:  rgb(33,37,48) !default;    //#212530
	$grayDarkFieldSmall:    rgb(114,110,122) !default; //#726E7A
	$grayLightFieldSmall:   rgb(241,245,249) !default; //#F1F5F9



	// Accent colors
	// -------------------------
	$blue:                  rgb(4,156,219) !default;  //#049CDB
	$blueDark:              rgb(0,100,205) !default;  //#0064CD
	$red:                   rgb(157,38,29) !default;  //#9D261D
	$redLight:              rgb(255,98,103) !default; //#ff6267
	$yellow:                rgb(255,196,13) !default; //#FFC40D
	$orange:                rgb(248,148,6) !default;  //#F89406
	$pink:                  rgb(195,50,95) !default;  //#C3325F
	$purple:                rgb(122,67,182) !default; //#7A43B6


  // Sony Accent colors
  // -------------------------
  $highlightColor:        rgb(243,84,41) !default;
  $highlightColorHover:   lighten($highlightColor, 5%) !default;
  $highlightColorActive:  $highlightColor !default;
  $highlightColorDark:    rgb(219,76,37);

  $themeGreen:            rgb(34,192,131) !default;


  $twitterColor:					rgb(43,180,245) !default;
  $facebookColor:					rgb(62,75,203) !default;
  $gplusColor:						rgb(219,64,44) !default;
  $youtubeColor:					rgb(145,7,7) !default;


  // Scaffolding
  // -------------------------
  $bodyBackground:        $white !default;
  $textColor:             $gray !default;
  $textColorLight:        $grayLight !default;
  $textColorLightest:     $grayLight !default;
  $textColorDark:         $grayDark !default;


  // Links
  // -------------------------
  $linkColor:             rgb(69,113,236) !default;
  $linkColorHover:        rgb(31,68,183) !default;
  $linkColorLight:				rgb(87,135,244) !default;
  

  // Transparent colors
  // -------------------------
  $transparentBlack:    rgba(0,0,0,0.12) !default;
  $innerGlow:           rgba(255, 255, 255, 1);



  $squareHalo:        0 0 5px $innerGlow, 0 0 0 6px $transparentBlack;



// Typography
// -------------------------
.TYPOGRAPHY{} // this is just here for a SublimeText code-folding collapse point

	// "Comic Sans MS" and Monaco are here for testing, so it's obvious when the webfont is not working.
	// Font names are now standardized, so these are the same whether you're using fonts.com or local fonts. That is determined in css_debug/deploy.html or docs_head.html
	$sansFontFamily:                  "SST W01 Roman", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	$sansFontFamilyItalic:            "SST W01 Italic", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	$sansFontFamilyBold:              "SST W01 Bold", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	$sansFontFamilyBoldItalic:        "SST W01 Bold Italic", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	$sansFontFamilyMedium:            "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	$sansFontFamilyMediumItalic:      "SST W01 Medium Italic", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	$sansFontFamilyLight:             "SST W01 Light", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	$sansFontFamilyLightItalic:       "SST W01 Light Italic", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	// // Extras as defined by Fonts.com - but not used on this site (yet):
	// $sansFontFamilyCondensed:        "SST W01 Condensed", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	// $sansFontFamilyCondensedBold:    "SST W01 Condensed Bold", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	// $sansFontFamilyHeavy:            "SST W01 Heavy", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	// $sansFontFamilyHeavyItalic:      "SST W01 Heavy Italic", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	// $sansFontFamilyUltraLight:       "SST W01 Ultra Light", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
	// $sansFontFamilyUltraLightItalic: "SST W01 Ultra Light Italic", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif !default;


	$serifFontFamily:           Georgia, "Times New Roman", Times, serif !default;
	$monoFontFamily:            Monaco, Menlo, Consolas, "Courier New", monospace !default;

	$baseFontFamily:            $sansFontFamily !default;
	$baseFontFamilyItalic:      $sansFontFamilyItalic !default;
	$baseFontFamilyBold:        $sansFontFamilyBold !default;
	$baseFontFamilyBoldItalic:  $sansFontFamilyBoldItalic !default;
	$baseFontFamilyMedium:      $sansFontFamilyMedium !default;
	$baseFontFamilyMediumItalic:$sansFontFamilyMediumItalic !default;
	$baseFontFamilyLight:       $sansFontFamilyLight !default;
	$baseFontFamilyLightItalic: $sansFontFamilyLightItalic !default;

	$baseFontSize:              1em !default;
	$baseLineHeight:            1.65 !default;
	$altFontFamily:             $serifFontFamily !default;

	$headingsFontFamily:        $sansFontFamily !default;
	$headingsFontFamilyItalic:  $sansFontFamilyItalic !default;
  $headingsColor:             $grayDark !default; // empty to use BS default, $textColor


  // use these font-size variables instead of doing the math yourself every time!
                     // context/target
  $font_60_16: 3.75em;   // 60px/16px
  $font_54_16: 3.375em;  // 54px/16px
  $font_44_16: 2.75em;   // 44px/16px
  $font_40_16: 2.5em;    // 40px/16px
  $font_32_16: 2.0em;    // 32px/16px
  $font_30_16: 1.875em;  // 32px/16px
  $font_28_16: 1.75em;   // 28px/16px
  $font_26_16: 1.625em;  // 26px/16px
  $font_25_16: 1.5625em; // 25px/16px
  $font_22_16: 1.375em;  // 22px/16px
  $font_20_16: 1.25em;   // 20px/16px
  $font_18_16: 1.125em;  // 18px/16px
  $font_17_16: 1.0625em; // 17px/16px
  $font_16_16: 1.0em;    // 16px/16px
  $font_15_16: 0.9375em; // 15px/16px
  $font_14_16: 0.875em;  // 14px/16px
  $font_13_16: 0.8125em; // 13px/16px
  $font_12_16: 0.75em;   // 12px/16px
  $font_11_16: 0.6875em; // 11px/16px
  $font_10_16: 0.625em;  // 10px/16px
  $font_9_16:  0.5625em; //  9px/16px

  $font_32_15: 2.133333333333333em;  // 32px/15px;
  $font_26_15: 1.733333333333333em;  // 26px/15px;
  $font_20_15: 1.333333333333333em;  // 20px/15px;
  $font_18_15: 1.2em;                // 18px/15px;
  $font_16_15: 1.066666666666667em;  // 16px/15px;
  $font_15_15: 1.0em;                // 15px/15px;
  $font_14_15: 0.933333333333333em;  // 14px/15px;
  $font_13_15: 0.866666666666667em;  // 13px/15px;
  $font_12_15: 0.8em;                // 12px/15px;
  $font_11_15: 0.733333333333333em;  // 11px/15px;
  $font_10_15: 0.666666666666667em;  // 10px/15px;

  $font_11_12: 0.91666666666667em;  // 11px/12px;
  $font_10_12: 0.83333333333333em;  // 11px/12px;


// Buttons & Hotspots
// -------------------------
.BUTTONS-and-HOTSPOTS{}
	$btnBackground:                     rgb(87,135,244) !default;
	$btnBackgroundHover:                rgb(100,142,245) !default;
	$btnBackgroundActive:               $btnBackground !default;
	$btnBorder:                         $btnBackground !default;
	$btnBackgroundDisabled:       	    rgb(222,222,222);

	$btnText:                           $white !default;

	$btnSpecialBackground:              $highlightColor !default;
	$btnSpecialBackgroundHover:         $highlightColorHover !default;
	$btnSpecialBackgroundActive:        $highlightColorActive !default;

	$btnAltBackground:                $grayDark !default;
	$btnAltBackgroundHover:           darken($grayDark,4%) !default;
	$btnAltBackgroundActive:          lighten($grayDark,4%) !default;
	$btnAltSpecialPadding:        	  24px;

	$btnPromoBackground:                $grayDarkerFieldSmall !default;
	$btnPromoBackgroundHover:           darken($grayDarkerFieldSmall,5%) !default;
	$btnPromoBackgroundActive:          $grayDarkerFieldSmall !default;

	$btnSecondaryBackground:            $grayLight !default;
	$btnSecondaryBackgroundHover:       lighten($grayLight,2%) !default;
	$btnSecondaryBackgroundActive:      $grayLight !default;

	$btnDropdownBackground:            rgb(112,108,120) !default;
	$btnDropdownBackgroundHover:       lighten($btnDropdownBackground,2%) !default;
	$btnDropdownBackgroundActive:      $btnDropdownBackground !default;

	$btnDropdownAltBackground:         $white !default;
	$btnDropdownAltBackgroundHover:    darken($white,2%) !default;
	$btnDropdownAltBackgroundActive:   darken($white,1%) !default;

	$btnPadding:                        8px 0 11px;
	$btnLargePadding:                   7px 0 10px;
	$btnSmallPadding:                   8px 0 10px;
	$btnMiniPadding:                    8px 0 9px;

	$btnSpecialPadding:                 13px 0 15px;
	$btnSpecialLargePadding:            14px 0 14px;
	$btnSpecialSmallPadding:            12px 0 14px;
	$btnSpecialMiniPadding:             11px 0 12px;

	$btnAltPadding:                   8px 0 11px;
	$btnAltLargePadding:              7px 0 10px;
	$btnAltSmallPadding:              8px 0 9px;
	$btnAltMiniPadding:               8px 0 9px;

	$btnSquarePadding:                14px 0 13px;
  // $btnSquareLargePadding:              7px 0 10px;
  // $btnSquareSmallPadding:              8px 0 9px;
  // $btnSquareMiniPadding:               8px 0 9px;


  // Hotspots
  // -------------------------
  $hotspotHalo:       	 rgba(47,53,61,0.1) !default;
  $hotspotHaloHover:     rgba(47,53,61,0.15) !default;



// Tables
// -------------------------
.TABLES{}
  $tableBackground:                   transparent !default; // overall background-color
  $tableBackgroundAccent:             rgb(249,249,249) !default; // for striping
  $tableBackgroundHover:              rgb(245,245,245) !default; // for hover
  $tableBorder:                       rgb(221,221,221) !default; // table and cell border




// Forms
// -------------------------
.FORMS{}
	$inputBackground:               $white !default;
	$inputBackgroundAlt:            rgb(248,248,248) !default;
	$inputBackgroundBtnAlt:         $grayLighter !default;
	$inputText:                     $grayLight !default;
	$inputTextFocus:                $gray !default;
	$inputBorder:                   $grayLighter !default;
	$inputBorderFocus:              $grayLight !default;
	$inputBorderFocus:              $grayLight !default;
	$inputBorderWidth:              2px !default;
	$inputBorderRadius:             0px !default;
	$inputDisabledBackground:       darken($inputBackgroundAlt,1%) !default;
	$formActionsBackground:         rgb(245,245,245) !default;

  // Dropdowns
  // -------------------------
  $dropdownBackground:            $white !default;
  $dropdownBorder:                rgba(0,0,0,.2) !default;
  $dropdownDividerTop:            rgb(229,229,229) !default;
  $dropdownDividerBottom:         $white !default;

  $dropdownLinkColor:             $grayDark !default;
  $dropdownLinkColorHover:        $white !default;
  $dropdownLinkColorActive:       $dropdownLinkColor !default;

  $dropdownLinkBackgroundActive:  $linkColor !default;
  $dropdownLinkBackgroundHover:   $dropdownLinkBackgroundActive !default;


  $dropdownAltBackground:            $white !default;
  $dropdownAltBorder:                rgba(0,0,0,.2) !default;
  $dropdownAltDividerTop:            rgb(229,229,229) !default;
  $dropdownAltDividerBottom:         $white !default;

  $dropdownAltLinkColor:             $gray !default;
  $dropdownAltLinkColorHover:        $white !default;
  $dropdownAltLinkColorActive:       $highlightColor !default;

  $dropdownAltLinkBackgroundActive:  $highlightColor !default;
  $dropdownAltLinkBackgroundHover:   $dropdownAltLinkBackgroundActive !default;



  // Form states and alerts
  // -------------------------
  $warningText:             rgb(192,152,83) !default;
  $warningBackground:       rgb(252,248,227) !default;
  $warningBorder:           darken(adjust-hue($warningBackground, -10), 3%) !default;

  $errorText:               rgb(185,74,72) !default;
  $errorBackground:         rgb(242,222,222) !default;
  $errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;

  $successText:             rgb(70,136,71) !default;
  $successBackground:       rgb(223,240,216) !default;
  $successBorder:           darken(adjust-hue($successBackground, -10), 5%) !default;

  $infoText:                rgb(58,135,173) !default;
  $infoBackground:          rgb(217,237,247) !default;
  $infoBorder:              darken(adjust-hue($infoBackground, -10), 7%) !default;




// Component variables
// -------------------------
.COMPONENT-VARIABLES{}

  // Z-index master list
  // -------------------------
  // Used for a bird's eye view of components dependent on the z-axis
  // Try to avoid customizing these :)
	$zindexDropdown:          1000 !default;
	$zindexPopover:           1010 !default;
	$zindexTooltip:           1030 !default;
	$zindexFixedNavbar:       1030 !default;
	$zindexModalBackdrop:     1040 !default;
	$zindexModal:             1050 !default;


  // Sprite icons path
  // -------------------------
  $iconSpritePath:          "../img/spritesheet.svg" !default;
  $iconSpritePathFallback:  "../img/spritesheet.png" !default;
  $iconSpritePath2x:        "../img/spritesheet@2x.png" !default;
  $iconSmallSpritePath:     "../img/spritesheet-icons-small.png" !default;


  $icon_ui_Y :          0px;
  $icon_ui2_Y :         -90px;
  $icon_uibig_Y :       -180px;
  $icon_tab_Y :         -360px;
  $icon_angle_Y :       -450px;
  $icon_bestfor_Y :     -630px;

  $sprite_Specsicon_Y:  -690px;
  $sprite_Mini_Y :      -780px;
  $sprite_Reg_Y :       -810px;
  $sprite_Big_Y :       -870px;
  $sprite_Tall_Y :      -990px;

  // Input placeholder text color
  // -------------------------
  $placeholderText:         $grayLight !default;


  // Hr border color
  // -------------------------
  $hrBorder:                $grayLighter !default;


  // Horizontal forms & lists
  // -------------------------
  $horizontalComponentOffset:       180px;


  // Wells
  // -------------------------
  $wellBackground:                  rgb(245,245,245) !default;




.FOOTER{}
	$footerBackground: 	$blackLight;



// Global values for Nav & Subanv to share.
.NAV{}
	$navMaxWidth:                 1125px !default;
	$navtrayMaxWidth:             1200px !default;



// Global Nav (navbar)
// -------------------------
.NAVBAR{}
	$navbarCollapseWidth:             979px !default;

	$navbarHeight:               			64px !default;
	$navbarHeightShort:              	60px !default;
	$navbarMobileHeightTall:					60px !default;
	$navbarMobileHeight:							48px !default;

	$navbarLineHeight:                40px !default;
 	$navbarMinSidePadding:            43px !default; // the minimum space between the edge of the nav, and the edge of the browser window

  $navbarBackground:                $black !default;
  $navbarBackgroundHighlight:       lighten($navbarBackground,5%) !default;
  $navbarTertiaryColor:             $grayDark1 !default;

  $navbarTextSize:                  0.9375em; // 15px/16px
  $navbarSmTextSize:                0.8125em; // 13px/16px
  $navbarText:                      $grayLighter !default;
  $navbarLinkColor:                 $grayLighter !default;
  $navbarLinkColorHover:            $white !default;
  $navbarLinkColorActive:           lighten($linkColorHover,5%) !default;
  $navbarLinkBackgroundHover:       transparent !default;
  $navbarLinkBackgroundActive:      darken($navbarBackground, 5.25%) !default;

  // Inverted navbar
  $navbarInverseBackground:                rgb(17,17,17) !default;
  $navbarInverseBackgroundHighlight:       rgb(34,34,34) !default;
  $navbarInverseBorder:                    rgb(37,37,37) !default;

  $navbarInverseText:                      $grayLight !default;
  $navbarInverseLinkColor:                 $grayLight !default;
  $navbarInverseLinkColorHover:            $white !default;
  $navbarInverseLinkColorActive:           $navbarInverseLinkColorHover !default;
  $navbarInverseLinkBackgroundHover:       transparent !default;
  $navbarInverseLinkBackgroundActive:      $navbarInverseBackground !default;

  $navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%) !default;
  $navbarInverseSearchBackgroundFocus:     $white !default;
  $navbarInverseSearchBorder:              $navbarInverseBackground !default;
  $navbarInverseSearchPlaceholderColor:    rgb(204,204,204) !default;

  $navbarInverseBrandColor:                $navbarInverseLinkColor !default;

  $navTrayBackground:               $white;
  $navTrayBackgroundAlt:            $grayLightFieldLarge;
  $navTrayDividerPosition:          74%;

  $navMenuBackground:               $white;
  $navMenuBackgroundAlt:            $grayLightFieldLarge;

  $navMobileWidth:				81%;
  $navMobileWidthLarge:		70%;




// Simple-Navbar
// The original Bootstrap navbar has been renamed simpleNavbar.
// Likewise, the original Bootstrap nav has been renamed simple-nav.
// -------------------------
.SIMPLE-NAVBAR{}
	$simpleNavbarCollapseWidth:             979px !default;

	$simpleNavbarHeight:                    64px !default;
	$simpleNavbarBackground:                $black !default;
	$simpleNavbarBackgroundHighlight:       lighten($simpleNavbarBackground,5%) !default;

  $simpleNavbarTextSize:                  0.875em; // 14px/16px
  $simpleNavbarText:                      $linkColor !default;
  $simpleNavbarLinkColor:                 $linkColor !default;
  $simpleNavbarLinkColorHover:            $linkColorHover !default;
  $simpleNavbarLinkColorActive:           lighten($linkColorHover,5%) !default;
  $simpleNavbarLinkBackgroundHover:       transparent !default;
  $simpleNavbarLinkBackgroundActive:      darken($simpleNavbarBackground, 5.25%) !default;

  // Inverted navbar
  $simpleNavbarInverseBackground:                rgb(17,17,17) !default;
  $simpleNavbarInverseBackgroundHighlight:       rgb(34,34,34) !default;
  $simpleNavbarInverseBorder:                    rgb(37,37,37) !default;

  $simpleNavbarInverseText:                      $grayLight !default;
  $simpleNavbarInverseLinkColor:                 $grayLight !default;
  $simpleNavbarInverseLinkColorHover:            $white !default;
  $simpleNavbarInverseLinkColorActive:           $simpleNavbarInverseLinkColorHover !default;
  $simpleNavbarInverseLinkBackgroundHover:       transparent !default;
  $simpleNavbarInverseLinkBackgroundActive:      $simpleNavbarInverseBackground !default;

  $simpleNavbarInverseSearchBackground:          lighten($simpleNavbarInverseBackground, 25%) !default;
  $simpleNavbarInverseSearchBackgroundFocus:     $white !default;
  $simpleNavbarInverseSearchBorder:              $simpleNavbarInverseBackground !default;
  $simpleNavbarInverseSearchPlaceholderColor:    rgb(204,204,204) !default;

  $simpleNavbarInverseBrandColor:                $simpleNavbarInverseLinkColor !default;




// Pagination
// -------------------------
.PAGINATION{}
	$paginationBackground:                rgb(255,255,255) !default;
	$paginationBorder:                    rgb(221,221,221) !default;
	$paginationActiveBackground:          rgb(245,245,245) !default;




// Tooltips and popovers
// -------------------------
.TOOLTIPS-AND-POPOVERS{}
	$tooltipColor:            rgb(255,255,255) !default;
	$tooltipBackground:       rgb(0,0,0) !default;
	$tooltipArrowWidth:       5px !default;
	$tooltipArrowColor:       $tooltipBackground !default;

	$popoverBackground:       rgb(255,255,255) !default;
	$popoverArrowWidth:       10px !default;
	$popoverArrowColor:       rgb(255,255,255) !default;
	$popoverTitleBackground:  darken($popoverBackground, 3%) !default;

  // Special enhancement for popovers
  $popoverArrowOuterWidth:  $popoverArrowWidth + 1 !default;
  $popoverArrowOuterColor:  rgba(0,0,0,.25) !default;






// GRID
// -----------------------------
//

.GRID{}
  // margin and padding are used interchangably in variable names here. In reality, we're calculating the width of the
  // container and grid, and specifying margin-left/right:auto to center them.
  // All of the fixed width grid values are based on having the containerMarginWidth and gridMarginWidths applied by default.
  // For .full-bleed, the widths are just overridden with 100%. For fixed-width-grids, that's not gonna work so well,
  // but then there shouldn't be fixed-width grids with .full-bleed

  $gridColumns:         		12 !default;
  $grid5Columns:          	5  !default;

  // Default 980px-1199px
  $containerMarginWidth:      34px !default;
  $gridMarginWidth:           33px !default;
  $gridColumnWidth:           43px !default;
  $gridGutterWidth:           30px !default;

  // 1200px breakpoint
  $containerMarginWidth1200:  45px !default;
  $gridMarginWidth1200:       45px !default;
  $gridColumnWidth1200:       52px !default;
  $gridGutterWidth1200:       36px !default;

  $containerWidthMax:         1400px; // if the browser is wider than this, the content will have a set width & side margins will be auto.
  $containerMarginWidthMax:   79px !default; // if containerWidthMax changes, these all need to be adjusted to add up to it.
  $gridMarginWidthMax:        64px !default;
  $gridColumnWidthMax:        58px !default;
  $gridGutterWidthMax:        38px !default;


  // 768px-979px breakpoints
  $containerMarginWidth768:   22px !default;
  $gridMarginWidth768:        18px !default;
  $gridColumnWidth768:        39px !default;
  $gridGutterWidth768:        20px !default;


  // 320px-767px breakpoints
  $containerMarginWidth480px: 20 !default;
  $containerMarginWidth320px: 20 !default;
  $containerMarginWidth480: percentage($containerMarginWidth480px / 480) !default;
  $containerMarginWidth320: percentage($containerMarginWidth320px / 320) !default;



  // not sure if we're using these or not.
  $gridMarginWidth320:        18px !default;
  $gridColumnWidth320:        39px !default;
  $gridGutterWidth320:        20px !default;



  // Calculated grid values
  // -----------------------------

  // Default 980px-1199px
  $containerWidthFullBleed: 980px;
  $containerWidth:          $containerWidthFullBleed - ($containerMarginWidth*2);
  $gridWidth:               ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;
  // we calculate containerWidth based on its margins.
  // We don't actually need the gridMarginWidth for calculating anything, but it should end up being the same as the amount of space that's left for it in the end.
  // we calculate gridWidth based on its contents to make sure it's wide enough to hold everything.

  // 1200px breakpoint
  $containerWidthFullBleed1200: 1200px;
  $containerWidth1200:          $containerWidthFullBleed1200 - ($containerMarginWidth1200*2);
  $gridWidth1200:               ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1)) !default;
  $gridWidthMax:                $containerWidthMax - ($gridMarginWidth1200 * 2);

  // 768px-979px breakpoints
  $containerWidthFullBleed768:  768px;
  $containerWidth768:           $containerWidthFullBleed768 - ($containerMarginWidth768*2);
  $gridWidth768:                ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1)) !default;

  // I haven't updated grid5 for any of the new padding/margin business. Do what you need to do, if anything.
  // 5 Column Grid
  $grid5ColWidth:         204px;
  $grid5GutterWidth:      23px;
  $grid5RowWidth:         ($grid5Columns * $grid5ColWidth) + ($grid5GutterWidth * ($grid5Columns - 1));



  // Fluid grid
  // -------------------------
  //
  // these should be deleted once all the updates equations are done, but they break things if they're not defined right now.


  // Default 980px-1199px
  $fluidContainerWidth:   percentage($containerWidth/980px) !default;
  $fluidGridWidth:        percentage($gridWidth/$containerWidth) !default;
  $fluidGridColumnWidth:  percentage($gridColumnWidth/$gridWidth) !default;
  $fluidGridGutterWidth:  percentage($gridGutterWidth/$gridWidth) !default;

  // 1200px min -
  $fluidContainerWidth1200: percentage($containerWidth1200/1200px) !default;
  $fluidGridWidth1200:      percentage($gridWidth1200/$containerWidth1200) !default;
  $fluidGridColumnWidth1200:percentage($gridColumnWidth1200/$gridWidth1200) !default;
  $fluidGridGutterWidth1200:percentage($gridGutterWidth1200/$gridWidth1200) !default;

  // 768px-979px
  $fluidContainerWidth768:  percentage($containerWidth768/768px) !default;
  $fluidGridWidth768:       percentage($gridWidth768/$containerWidth768) !default;
  $fluidGridColumnWidth768: percentage($gridColumnWidth768/$gridWidth768) !default;
  $fluidGridGutterWidth768: percentage($gridGutterWidth768/$gridWidth768) !default;

  // 767px max (mobile)
  $fluidContainerMarginWidth767:  15px !default; // TODO -- SHOULD BE %
  $fluidGridMarginWidth767:       15px !default; // TODO -- SHOULD BE %

  // 5 Column Grid
  $fluidGrid5ColWidth:    percentage($grid5ColWidth / $grid5RowWidth);
  $fluidGrid5GutterWidth: percentage($grid5GutterWidth / $grid5RowWidth);





// Transition Speeds
// --------------------------------------------------
.TRANSITION-SPEEDS{}
  $transitionSuperslow:   0.5s;
  $transitionSlower:      0.4s;
  $transitionSlow:        0.3s;
  $transitionNormal:      0.2s;
  $transitionFast:        0.15s;
  $transitionFaster:      0.10s;
  $transitionSuperfast:   0.05s;
  $transitionFastest:     0.025s;


  $navtrayOpenSpeed:       0.5s;
  $navtrayCloseSpeed:      0.35s;
  $navtrayShortOpenSpeed:  0.4s;
  $navtrayShortCloseSpeed: 0.25s;


// Transition Timing Functions
// --------------------------------------------------
.TRANSITION-FUNCTIONS{}
  $easeOutQuad:     cubic-bezier(0.250, 0.460, 0.450, 0.940);
  $easeOutCubic:    cubic-bezier(0.215, 0.610, 0.355, 1.000);
  $easeOutQuart:    cubic-bezier(0.165, 0.840, 0.440, 1.000);
  $easeOutExpo:     cubic-bezier(0.190, 1.000, 0.220, 1.000);
  $easeOutNav:      cubic-bezier(0.455, 0.030, 0.515, 0.955);

  $easeNormal:    ease-out;

