
@media (max-width: px-em( 979 ) ) {

  .exploded-view {

    .title {
      h2 {
        font-size: 2.375em;
      }
      p {
        font-size: 1.0em;
      }
    }

    .callout {
      h3 {
        margin-top: -11px;
      }
    }

  }

}

// The responsive images switch to the tablet version at 768px even
// though the layout changes occur at 767px. So apply the necessary
// layout changes to account for the tablet image(s).
@media (max-width: px-em( 768 ) ) {

  $calloutPieceNumber: 2;
  $pieceWidth: 130px;
  $piecesOffsetRight: 64px;
  $pieceExplosionStep: 7.2%; // should match the explosion step used on desktop

  .exploded-view {

    .pieces {
      margin-right: $piecesOffsetRight;
    }

    .callout {
      right: $calloutPieceNumber * $pieceExplosionStep;
      margin-right: $piecesOffsetRight + ( $pieceWidth / 2 ) - 9px;
    }

  }

}

// Tablet/mobile layout
@media (max-width: px-em( 767 ) ) {

  $bgCropHeight: 490px;
  $maxPieces: 11;
  $calloutPieceNumber: 2;
  $pieceExplosionStep: 15%;
  $piecesOffsetRight: 64px;
  $pieceWidth: 130px;

  .exploded-view {

    .submodule > .image-module {
      height: $bgCropHeight; // crop a small portion of the bottom of the background image
    }

    .light-text-dark-box {
      .box {
        background: $gray10;
      }
    }

    .bottom {
      .table-center {
        vertical-align: bottom;
      }
    }

    .top {
      position: relative;
      .table-center {
        vertical-align: top;
      }
    }

    .table-center-wrap {
      width: 100%;
    }

    .no-grid-at-767 {
      width: 100%;
    }

    .intro {
      &.box {
        padding: 30px 50px;
        &.out {
          opacity: 1;
        }
      }
    }

    .detail {
      position: relative;
      @include clearfix;
      .box {
        bottom: auto;
        top: 0;
        position: relative; // take up layout space so module grows in height with this box
      }

      height: 0;

      &.in {
        height: auto;
      }
    }

    .callout {
      right: $calloutPieceNumber * $pieceExplosionStep;
      margin-right: $piecesOffsetRight + ( $pieceWidth / 2 ) - 20px;
      width: 240px;
      h3 {
        margin-top: -6px;
      }
    }

    .cta {
      &.open {
        right: auto;
        left: 5%;
      }
    }

    .pieces {
      margin-right: $piecesOffsetRight;
    }

    @for $i from 0 through $maxPieces - 1 {
      .piece-#{$i} {

        @if $i != 0 { 
          @if $i != $maxPieces {
            &.exploded {
              right: ($maxPieces - $i - 1) * $pieceExplosionStep;
            }
          }
        }
      }
    }

    .piece-1 {
      // no perspective shift necessary because this piece animates off the screen
      &.perspective {
        background-position-x: -$pieceWidth;
      }
    }

  }

}

@media (max-width: px-em( 568 ) ) {

  .exploded-view {

    .callout {
      width: 200px; // make narrower to wrap text
    }

  }

}

// Mobile layout
@media (max-width: px-em( 480 ) ) {

  $bgHeight: 376px;
  $bgCropHeight: 340px;
  $maxPieces: 11;
  $calloutPieceNumber: 2;
  $pieceWidth: 91px;
  $pieceHeight: 154px;
  $piecesOffsetRight: 64px;

  $buttonInnerDiameter: 54px;
  $buttonBorder: 9px;
  $buttonOuterDiameter: $buttonInnerDiameter + (2 * $buttonBorder);

  $buttonHoverShift: 12px;

  // The distance between each piece in the exploded state
  $pieceExplosionStep: 12%;

  // The distance between each piece in the tease state
  $pieceTeaseStep: 0.4%;

  .exploded-view {

    .submodule > .image-module {
      height: $bgCropHeight; // crop a small portion of the bottom of the background image
      @include background-size(auto $bgHeight);
    }

    .callout {
      top: 28px;
      right: $calloutPieceNumber * $pieceExplosionStep;
      margin-right: 86px;
    }

    .cta {
      top: ($pieceHeight / 2) - ($buttonOuterDiameter / 2);
      right: 75px;

      width: $buttonOuterDiameter + $buttonHoverShift;
      height: $buttonOuterDiameter;

      .circle-btn {

        width: $buttonOuterDiameter;
        height: $buttonOuterDiameter;
        @include border-radius($buttonOuterDiameter / 2);

      }

      i {

        width: $buttonInnerDiameter;
        height: $buttonInnerDiameter;
        @include border-radius($buttonInnerDiameter / 2);
        margin: $buttonBorder;

        font-size: 1.2em;
        line-height: 1.7em;
        padding-top: 7px;

        &.fonticon-10-chevron-reverse {
          padding-right: 4px;
        }
        &.fonticon-10-chevron {
          padding-left: 4px;
        }
      }

    }

    .cta {
      &.open {
        width: $buttonOuterDiameter;
      }
    }

    .no-touch & .cta {
      &:hover {
        .circle-btn {
          right: $buttonHoverShift;
        }
      }
    }

    .pieces {
      top: 97px;
      margin-right: 51px;
    }

    .piece {

      width: $pieceWidth;
      height: $pieceHeight;
      @include background-size(($pieceWidth * $maxPieces) $pieceHeight);

    }

    @for $i from 0 through $maxPieces - 1 {
      .piece-#{$i} {
        background-position-x: -$pieceWidth * $i;
        z-index: $maxPieces - $i;

        @if $i != 0 { 
          @if $i != $maxPieces {
            &.tease {
              right: ($maxPieces - $i - 1) * $pieceTeaseStep;
            }
            &.exploded {
              right: ($maxPieces - $i - 1) * $pieceExplosionStep;
            }
          }
        }
      }
    }

    .piece-1 {
      // the collapsed cap piece needs an extra margin to be positioned correctly
      margin-right: 15px;
      // no perspective shift necessary because this piece animates off the screen
      &.perspective {
        background-position-x: -$pieceWidth;
      }
    }

  }
  
}

@media (max-width: px-em( 360 ) ) {

  .exploded-view {

    .callout {
      width: 140px; // make narrower to wrap text
      h3 {
        font-size: 1.0em;
        margin-top: -4px;
      }
    }

  }

}
