
@media (max-width: px-em( 979 ) ) {

  .exploded-view {

    .title {
      h2 {
        font-size: 2.375em;
      }
      p {
        font-size: 1.0em;
      }
    }

  }

}

@media (max-width: px-em( 767 ) ) {

  $maxPieces: 11;
  $calloutPieceNumber: 2;
  $pieceExplosionStep: 15%;
  $piecesOffsetRight: 64px;

  .exploded-view {

    .boxes {
      position: relative;
      background: $gray10;
      background: rgba(33,37,48,0.95);
    }

    .light-text-dark-box {
      .box {
        background: transparent;
      }
    }

    .bottom {
      .table-center {
        vertical-align: bottom;
      }
    }

    .top {
      //position: relative;
      .table-center {
        vertical-align: top;
      }
    }

    .table-center-wrap {
      width: 100%;
    }

    .no-grid-at-767 {
      width: 100%;
    }

    .intro {
      &.box {
        padding: 30px;
      }
    }

    .detail {
      position: relative;
      .box {
        bottom: auto;
        top: 0;
        position: relative; // take up layout space so module grows in height with this box
      }
    }

    .callout {
      right: $calloutPieceNumber * $pieceExplosionStep;
      margin-right: 109px;
      width: 240px;
      h3 {
        margin-top: -6px;
      }
    }

    .cta {
      &.open {
        right: auto;
        left: 5%;
      }
    }

    .pieces {
      margin-right: $piecesOffsetRight;
    }

    @for $i from 0 through $maxPieces - 1 {
      .piece-#{$i} {
        //background-position-x: -$pieceWidth * $i;
        //z-index: $maxPieces - $i;

        @if $i != 0 { 
          @if $i != $maxPieces {
            //&.tease {
            //  right: ($maxPieces - $i - 1) * $pieceTeaseStep;
            //}
            &.exploded {
              right: ($maxPieces - $i - 1) * $pieceExplosionStep;
            }
          }
        }
      }
    }

  }

}

@media (max-width: px-em( 568 ) ) {

  .exploded-view {

    .callout {
      width: 200px;
    }

  }

}

@media (max-width: px-em( 480 ) ) {

  $bgHeight: 376px;
  $maxPieces: 11;
  $calloutPieceNumber: 2;
  $pieceWidth: 91px;
  $pieceHeight: 154px;
  $piecesOffsetRight: 64px;

  $buttonInnerDiameter: 54px;
  $buttonBorder: 9px;
  $buttonOuterDiameter: $buttonInnerDiameter + (2 * $buttonBorder);

  $buttonHoverShift: 12px;

  // The distance between each piece in the exploded state
  $pieceExplosionStep: 15%;

  // The distance between each piece in the tease state
  $pieceTeaseStep: 0.4%;

  .exploded-view {

    .submodule > .image-module {
      height: $bgHeight;
      @include background-size(auto $bgHeight);
    }

    .cta {
      top: ($pieceHeight / 2) - ($buttonOuterDiameter / 2);
      right: 75px;

      width: $buttonOuterDiameter + $buttonHoverShift;
      height: $buttonOuterDiameter;

      .circle-btn {

        width: $buttonOuterDiameter;
        height: $buttonOuterDiameter;
        @include border-radius($buttonOuterDiameter / 2);

      }

      i {

        width: $buttonInnerDiameter;
        height: $buttonInnerDiameter;
        @include border-radius($buttonInnerDiameter / 2);
        margin: $buttonBorder;

        font-size: 1.2em;
        line-height: 1.7em;
        padding-top: 7px;

        &.fonticon-10-chevron-reverse {
          padding-right: 4px;
        }
        &.fonticon-10-chevron {
          padding-left: 4px;
        }
      }

    }

    .no-touch & .cta {
      &:hover {
        .circle-btn {
          right: $buttonHoverShift;
        }
      }
    }

    .pieces {
      top: 97px;
      margin-right: 51px;
    }

    .piece {

      width: $pieceWidth;
      height: $pieceHeight;
      @include background-size(($pieceWidth * $maxPieces) $pieceHeight);

    }

    @for $i from 0 through $maxPieces - 1 {
      .piece-#{$i} {
        background-position-x: -$pieceWidth * $i;
        z-index: $maxPieces - $i;

        @if $i != 0 { 
          @if $i != $maxPieces {
            &.tease {
              right: ($maxPieces - $i - 1) * $pieceTeaseStep;
            }
            &.exploded {
              right: ($maxPieces - $i - 1) * $pieceExplosionStep;
            }
          }
        }
      }
    }

    .piece-1 {
      // the collapsed cap piece needs an extra margin to be positioned correctly
      margin-right: 15px;
      &.perspective {
        background-position-x: -$pieceWidth * ($maxPieces - 1);
      }
    }

  }
  
}
