
@media (max-width: px-em( 979 ) ) {
  .ec-module {
    padding-top: px-em( 44 );
    padding-bottom: px-em( 30 );

    .ec-subtitle {
      margin-top: 8px;
    }

    .m-container {
      margin-top: px-em( 40 );
    }

    .picto-play {
      @include square( px-em( 85 ) );
    }

    .infos {
      padding: px-em( 10 ) px-em( 15 ) px-em( 18 );
    }
  }
}

@media (max-width: px-em( 767 ) ) {
  .ec-module {

    .sony-carousel-wrapper {
      overflow: visible;
    }

    .sony-carousel-slide .container,
    .sony-carousel-slide .slimgrid,
    .sony-carousel-slide .grid {
      width: auto;
    }

    .ec-subtitle {
      margin-top: 10px;
    }

    .picto-play {
      @include square( px-em( 60 ) );

      .picto {
        background-size: 36px;
      }
    }

    .sony-dot-nav {
      margin-top: px-em( 25 );
    }

    .infos {
      padding: px-em( 8 ) px-em( 11 ) px-em( 9 );
    }
  }
}