@import "../../../common/css/_base/variables"; // Modify this for custom colors, font-sizes, etc
@import "../../../common/css/_base/mixins";


.editorial-carousel-e13 {

  background-color:#f1f5f9;
  position:relative;
  overflow: hidden;

  h3 {
    color:$gray20;
    margin-top:60px;
    margin-bottom:0;
    text-align:center;
  }

  p.p3 {
    color:$gray40;
    margin-top: 28px;
    margin-bottom: 0px;
    text-align:center;
  }

  .products {

    margin-top: 50px;

    .p3 {
      margin-top :9px;
    }

  }

  .e13-carousel{
    margin-top:50px;
    margin-bottom:12px;
  }

  .sony-carousel-slide {
    margin-right: 0.10731%;
  }

  .sony-carousel-wrapper {

    height:auto;

  }

  .o-visible {

    .sony-carousel-wrapper{
      overflow: visible;  
    }

    .pagination-paddles {
      display:none;
    }

    .sony-dot-nav{
      display:none;
    }
    
  }

  .sony-dot-nav {
    margin-top: 40px;
  }

  .gallery-item  {

    display: block;
    float:none;
    overflow: inherit;
    margin-top:0;

    .item-img{

      position: relative;
      width: 100%;
      overflow: hidden;
      text-align: center;

      .item-img-wrap {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

    }

    img {
      cursor: pointer;
      display: block;
      max-height: 100%;
      width: 100%;
      margin: auto;
    }

    img:hover{
      @include opacity(90);
    }
    
    .gallery-item-inner {

      position:relative;

      .headline-counter{

        background-color:#e32f30;
        font-weight: bold;
        padding:0 0 0 15px;
        position:absolute;
        top:0;
        width: 100%;
        z-index: 1;

        .p3, .p5{
          color:$white;
          margin:0;
        }

        .p5 {
          margin:0 0 0 2px;
          text-transform:uppercase;
        } 
      }

      .wrapper-image{
        position:relative;
      }

      .cover{

        background-color:rgba(243,41,41,0.9);
        bottom:0;
        cursor:pointer;
        left:0;
        @include opacity(0);
        @include transition(opacity $transitionFast $easeNormal);
        padding:22% 29.797979798% 0 29.797979798%;
        position:absolute;
        right:0;
        text-align:center;
        top:26px;
        z-index: 2;

        .title{
          color: $white;
          display: block;
          font-weight: bold;
          margin:1px 0 0 0;
          text-transform: uppercase;
        }

        .picto-play{
          
          display: block;
          height:42%;
          width: 100%;
          position:relative;

          .bg {
            @include border-radius(100px);
            @include transition(top $transitionFast $easeNormal, left $transitionFast $easeNormal, width $transitionFast $easeNormal, height $transitionFast $easeNormal);
            background-color: #2f353d;
            left:15%;
            position:absolute;
            top:15%;
            height: 70%;
            width: 70%;
            z-index: 1;
          }

          .picto {
            background:url('../../img/editorial-carousel-e13/demo/picto-play.png') center center no-repeat;
            left:0;
            position:absolute;
            top:0;
            height: 100%;
            width: 100%;
            z-index: 2;
          }

        }
      }

      .cover:hover{
        @include opacity(100);

        .bg {
          left:0;
          top:0;
          height: 100%;
          width: 100%;
        }

      }

    }

    .normal{

      .label.label-success {

          display : none; 

      }

    }
    
  }

  .pagination-paddles {

      .pagination-paddle {

        height:43px;
        margin-top:-45px; /* -26 - 19(product content width / 2) */
        margin-left:0;
        margin-right:0;
        position: absolute;
        top: 50%;
        width:28px;

        background-color:rgba($gray10, 0.2);

        
      }

      .pagination-next { right: 20px; }

      .pagination-prev { left: 20px; }
      
  }


  .gallery-item:after{
    padding:0;
  }

  .color-swatches {
    display: none;
    visibility: hidden;
  }

  .favorite-holder {
    display: none;
    visibility: hidden;
  }

  .product-price {
    display: none;
    visibility: hidden;
  }

  .label-success {
    display: none;
    visibility: hidden;
  }

  .gallery-item {

    background-color: $white;
    overflow: inherit;


    .infos{
      background-color: $white;
      padding: 12px 16px 18px 12px;

      p{
        color: $gray20;
      }

      .title{
        font-weight: bold;
        margin-bottom:31px;
      }

      .players{
        color:$gray20;

        .bold{
          color:$gray40;
          margin:0 0 0 4px;
        }

      }

    }

    

  }

  @media screen and (max-width: 979px) {

    h6 {
      margin-top:38px;
    }

    .products {
      margin-top:20px;
    }

    .nav-paddles {
      display:none;
    }

  }

  @media screen and (max-width: 480px) {

    .e13-carousel{
      margin-bottom:60px;
    }

  }


}

