@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$overlayColor: rgb(243,41,41);
$bannerHeight: 26px; // can't be ems because i'm using ghost-centering

.ec-module {
  position: relative;
  padding: px-em( 52 ) 0 px-em( 40 );
  overflow: hidden;
  background-color: $gray80;

  .ec-title {
    margin-bottom: 0;
    text-align: center;
  }

  .ec-subtitle {
    margin-top: 11px;
    margin-bottom: 0;
    text-align: center;
  }

  // Container for the entire carousel
  .m-container {
    margin-top: px-em( 50 );
    margin-bottom: px-em( 12 );
  }

  .sony-carousel-wrapper {
    height: auto;
  }

  .sony-dot-nav {
    margin-top: px-em( 40 );
  }

  // Tiles
  .ec-tile {
    position: relative;
    display: block;

    img {
      display: block;
      max-height: 100%;
      width: 100%;
      margin: auto;
    }
  }

  .wrapper-image {
    position: relative;
  }

  // eg 23k CURRENT PLAYERS
  .headline-counter {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: $bannerHeight;
    padding: 0 0 0 1em;
    background-color: $overlayColor;
    background-color: rgba( $overlayColor, .9 );

    span {
      color: $white;
      margin: 0;
    }
  }

  // Info at the bottom of the tile
  .infos {
    background-color: $white;
    padding: px-em( 10 ) px-em( 16 ) px-em( 16 );
  }

  .tile-title {
    margin-bottom: px-em( 30, 12 );
  }

  .tile-title,
  .total-players span {
    color: $gray20;
  }

  .total-players {
    margin-bottom: 0;
  }

  .cover {
    position: absolute;
    z-index: 2;
    top: $bannerHeight;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: $overlayColor;
    background-color: rgba( $overlayColor, 0.9 );
    @include opacity(0);
    @include transition(opacity $transitionFast $easeNormal);

    &.light {
      top: 0;
      // Note, don't want to support oldIE here because the cover would cover the entire image at 100% opacity
      background-color: rgba( 255, 255, 255, 0.1 );
    }

    .cta {
      display: block;
      color: $white;
      margin: 8px 0 0 0;
      text-transform: uppercase;
    }
  }

  .picto-play {
    position: relative;
    display: block;
    @include square( px-em( 80 ) );

    .picto {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: url('../../img/editorial-carousel-e13/demo/picto-play.png') center center no-repeat;
    }
  }

  // dark circle around the icon
  .bg-for-icon {
    position: absolute;
    z-index: 1;
    background-color: $gray20;
    @include border-radius( 50% );
  }

  // Transition width/hight/top/left in browsers without transforms
  .no-csstransforms & .bg-for-icon {
    left: 15%;
    top: 15%;
    height: 70%;
    width: 70%;
    @include transition(top $transitionFast $easeNormal, left $transitionFast $easeNormal, width $transitionFast $easeNormal, height $transitionFast $easeNormal);
  }

  // transition scale in browsers with transforms
  .csstransforms & .bg-for-icon {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    @include scale( 0.5 );
    @include transition();
  }

  // Fade in cover
  .no-touch & .cover:hover {
    @include opacity(100);
  }

  // Make the dark circle grow
  .no-touch.no-csstransforms & .cover:hover .bg-for-icon {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  // Grow by scaling in browsers that support it
  .no-touch.csstransforms & .cover:hover .bg-for-icon {
    @include scale( 1 );
  }
}

.ec-module.white-bg {
  background-color: $white;

  .infos {
    background-color: $gray80;
  }
}

.ec-module.dark-bg {
  background-color: $gray20;

  .ec-title {
    color: $white;
  }
}

