@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$bannerColor: rgb(243,41,41);
$bannerOpacity: 0.9;
$overlayColor: $gray05;
$overlayOpacity: 0.6;
$bannerHeight: 26px; // can't be ems because i'm using ghost-centering

.ec-module {
  position: relative;
  padding: px-em( 52 ) 0 px-em( 40 );
  overflow: hidden;
  background-color: $gray80;

  .ec-title {
    margin-bottom: 0;
    text-align: center;
  }

  .ec-subtitle {
    margin-top: 11px;
    margin-bottom: 0;
    text-align: center;
  }

  .ec-tl {
    margin-bottom: 0;
  }

  // Container for the entire carousel
  .m-container {
    margin-top: px-em( 50 );
    margin-bottom: px-em( 12 );
  }

  .sony-carousel-wrapper {
    height: auto;
  }

  .sony-dot-nav {
    margin-top: px-em( 40 );
  }

  // Tiles
  .ec-tile {
    position: relative;
    display: block;
    background-color: $white;

    img {
      display: block;
      max-height: 100%;
      width: 100%;
      margin: auto;
    }
  }

  .wrapper-image {
    @include flex-ratio-box( 209px, 269px );
  }

  .wrapper-inside {
    @include flex-ratio-box-content();
  }

  // eg 23k CURRENT PLAYERS
  .headline-counter {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: $bannerHeight;
    padding: 0 0 0 1em;
    background: $bannerColor;
    background: rgba( $bannerColor, $bannerOpacity );

    // account for content box sizing
    .lt-ie8 & {
      width: 196px;
      z-index: 10;
      zoom: 1;
    }

    span {
      color: $white;
      margin: 0;
    }
  }

  // Info at the bottom of the tile
  .infos {
    padding: px-em( 10 ) px-em( 16 ) px-em( 16 );
  }

  .tile-title {
    margin-bottom: px-em( 30, 12 );
    color: $gray20;
  }

  .total-players {
    margin-bottom: 0;
  }

  .cover {
    position: absolute;
    z-index: 2;
    top: $bannerHeight;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background: $overlayColor;
    background: rgba( $overlayColor, $overlayOpacity );
    @include opacity(0);
    @include transition(opacity $transitionFast $easeNormal);

    &.no-headline {
      top: 0;

      // Make up for the banner height here, otherwise it will be centered within
      // the image area and be different from ones with a headline
      .ghost-center {
        padding-top: $bannerHeight;
      }
    }

    .cta {
      display: block;
      color: $white;
      margin: 8px 0 0 0;
      text-transform: uppercase;
    }
  }

  .picto-play {
    position: relative;
    display: block;
    @include square( px-em( 80 ) );

    .picto {
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      color: white;

      // Icon is aligned to the top of its container
      margin-top: 24px;

      // Get rid of the white dot
      -webkit-font-smoothing: antialiased;
    }
  }

  // dark circle around the icon
  .bg-for-icon {
    position: absolute;
    z-index: 1;
    background-color: $gray20;
    @include border-radius( 50% );
  }

  // Transition width/hight/top/left in browsers without transforms
  .no-csstransforms & .bg-for-icon {
    left: 15%;
    top: 15%;
    height: 70%;
    width: 70%;
    @include transition(top $transitionFast $easeNormal, left $transitionFast $easeNormal, width $transitionFast $easeNormal, height $transitionFast $easeNormal);
  }

  // transition scale in browsers with transforms
  .csstransforms & .bg-for-icon {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    @include scale( 0.5 );
    @include transition();
  }

  // Fade in cover
  .no-touch & .ec-tile:hover .cover {
    @include opacity(100);
  }

  // Make the dark circle grow
  .no-touch.no-csstransforms & .ec-tile:hover .bg-for-icon {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  // Grow by scaling in browsers that support it
  .no-touch.csstransforms & .ec-tile:hover .bg-for-icon {
    @include scale( 1 );
  }
}

.ec-module.white-bg {
  background-color: $white;

  .ec-tile {
    background-color: $gray80;
  }
}

.ec-module.dark-bg {
  background-color: $gray20;

  .ec-title {
    color: $white;
  }
}

