@import "../../../common/css/_base/variables"; // Modify this for custom colors, font-sizes, etc
@import "../../../common/css/_base/mixins";


.js {

  .editorial-carousel-e13 {

    .rp-overflow {
      overflow:hidden;
    }

  }

}


.editorial-carousel-e13 {

  background-color:#f1f5f9;
  position:relative;

  h3 {
    color:$gray20;
    margin-top:60px;
    margin-bottom:0;
    text-align:center;
  }

  p.p3 {
    color:$gray40;
    margin-top: 28px;
    text-align:center;
  }

  .products {

    margin-top: 50px;

    .p3 {
      margin-top :9px;
    }

  }

  .rp-container {

    height: 100%;
    position: relative;
    width: 100%;

    -webkit-tap-highlight-color:rgba(0 , 0 , 0 , 0);
    -webkit-backface-visibility: hidden;

    .lt-ie9 & {
      min-width: 1190px;
    }
    
    
  }

  .rp-overflow {
      
    height: 100%;
    position: relative;
    width: 100%;

    -webkit-tap-highlight-color:rgba(0 , 0 , 0 , 0);
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-backface-visibility: hidden;
  }

  .gallery-item  {

    .item-img{

      position: relative;
      width: 100%;
      overflow: hidden;
      text-align: center;

      .item-img-wrap {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

    }

    img {
      cursor: pointer;
      display: block;
      max-height: 100%;
      width: 100%;
      margin: auto;
    }

    img:hover{
      @include opacity(90);
    }
    
    .gallery-item-inner {

      
      position:relative;

      .headline-counter{

        background-color:#e32f30;
        font-weight: bold;
        padding:0 0 0 15px;
        position:absolute;
        top:0;
        width: 100%;
        z-index: 1;

        .p3, .p5{
          color:$white;
          margin:0;
        }

        .p5 {
          margin:0 0 0 2px;
          text-transform:uppercase;
        } 
      }

    }

    .normal{

      .label.label-success {

          display : none; 

      }

    }
    
  }

  .editorial-carousel-e13-products {

    .nav-paddles {

        .nav-paddle {

          height:52px;
          position: absolute;
          top: 148px;
          width:34px;

          background-color:rgba($gray10, 0.2);

          &.nav-paddle-next { right: 2.33333333%; }

          &.nav-paddle-prev { left: 2.33333333%; }
        }
      }

  }

  .gallery-item:after{
    padding:0;
  }

  .color-swatches {
    display: none;
    visibility: hidden;
  }

  .favorite-holder {
    display: none;
    visibility: hidden;
  }

  .product-price {
    display: none;
    visibility: hidden;
  }

  .label-success {
    display: none;
    visibility: hidden;
  }

  .gallery-item {

    background-color: $white;
    overflow: inherit;


    .infos{
      background-color: $white;
      padding: 12px 16px 18px 12px;

      p{
        color: $gray20;
      }

      .title{
        font-weight: bold;
        margin-bottom:31px;
      }

      .players{
        color:$gray20;

        .bold{
          color:$gray40;
          margin:0 0 0 4px;
        }

      }

    }

    

  }

  @media screen and (max-width: 979px) {

    h6 {
      margin-top:38px;
    }

    .products {
      margin-top:20px;
    }

    .nav-paddles {
      display:none;
    }

    .navigation-container{
      display:none;
    }

  }

  .product-img:after {
    content: '';
  }

  .pagination-bullets {
    bottom:30px;
  }

  /*
  .full-bleed-no-max {
    .slimgrid {
      width:100%;
    }
  }
  */


}

