@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$phoneMax: px-em(767);
$tabletMin: px-em(768);
$tabletMax: px-em(979);
$desktopMin: px-em(980);

@media (max-height: 34.375em) {
  .modal-light-compare {
    &.modal {
      .container,
      .grid {
        height: auto;
      }
    }
    .tab-container {
      position: fixed;
    }
  }
}

@media (max-width:$tabletMax) {
  .light-compare-wrapper {
    padding: 20px 0;
  }
}

@media (max-width:$phoneMax) {
  .mobile-hd {
    position: relative;
    padding: 18px 0 40px 3.125%;
    margin-bottom: 22px;
    -webkit-box-shadow: 0px 3px 10px -6px rgba(0, 0, 0, 0.18);
    -moz-box-shadow:    0px 3px 10px -6px rgba(0, 0, 0, 0.18);
    box-shadow:         0px 3px 10px -6px rgba(0, 0, 0, 0.18);
    .mobile-hd-txt {
      float: left;
    }
    .modal-close {
      position: absolute;
      right: 11px;
      top: 11px;
    }

  }
  .light-compare {
    width: 100%;
    background: $white;
    .light-compare-hd {
      width: 85%;
      margin-bottom: 27px;
    }
  }
  .light-compare-wrapper {
     padding: 14px 0;
  }
  .light-compare-box {
    .image-module {
      height: 100px;
    }
  }

  .modal-light-compare {
    height: 100%;
    overflow: auto;
    &.fade.in {
      top: 0;
    }
    .image-module {
      text-align: center;
    }
    .container,
    .grid {
      width: 100%;
    }
    .tab-container {
      display: table;
      .tabs {
        display: table-row;
        width: 100%;
        li {
          display: table-cell;
          float: none;
          a {
            padding: 20px 10px;
          }
        }
      }
    }
  }

}
