@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$itemWidth: 255;
$windowWidth: 1100;

.light-compare {
  margin: 40px 0 0 0;
  .light-compare-wrapper {
     padding: 30px 0;
  }

  .light-compare-box {
    height: 140px;
    position: relative;
    .image-module {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top left;
      height: 140px;
    }
    .p1 {
      color: $gray20;
    }
    .inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      .light-compare-bd {
        padding: 30px 0 0 44px;
        .fonticon-10-sm-bold-plus {
          font-size: 1.3333em;
          padding-left: 6px;
        }
      }
    }
  }
}

.modal-light-compare {
  padding: 0;
  top: 50%;
  left: 50%;
  height: auto;
  margin-top: 0;
  .modal-inner {
    max-width: 1100px;
    overflow: hidden;
  }
  .modal-header,
  .modal-body {
    padding: 0;
  }
  .compare-carousel-wrapper,
  .modal-header {
    background: $gray80;
  }
  .tab-container {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    font-size: 0;
  }
  .tabs {
    background: #fff;
    margin: 0;
    display: inline-block;
    font-size: 12px;
    li {
      float: left;
      &:last-child {
        margin: 0;
      }
      .fonticon {
      margin-right:10px;
      }

      a {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: block;
        @include transition();

        .ghost-center-wrap {
          height: 95%;
          position: relative;
          z-index: 1;
        }

        span {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: $linkBlue;
          width: 100%;
          height: 5%;
          display: block;

          @include transition(top .15s linear);
          @include opacity(0);

        }

        &.light {
          img {
            @include opacity(60);
          }
        }

        &.dark {
          img {
            @include opacity(75);
          }
        }

        &.active,
        &:hover {
          span {
            top: -5.8%;
            @include opacity(100);
          }
          img {
            @include opacity(100);
          }
        }
      }
      &.active {
        span {
            top: -5.8%;
            @include opacity(100);
          }
      }
    }
    a {
      padding:  20px 25px;
      display: inline-block;
      font-size: 12px;
      color: #000;
    }
  }
  .thumb-nav {
    position:absolute;
    margin-bottom:0;
    text-align:center;
    height:68px;
    z-index:1;
    margin: -4px auto 0;
    overflow: hidden;
    bottom: 50px;
    width: 100%;

    .left-shade,
    .right-shade {
      display:none;
    }

    .slider {
      margin:0 auto;
      width: 440px;
    }

    li {
      position:relative;
      width: percentage($itemWidth/$windowWidth);
      padding:10px 3%;
      height:38px;
      display: inline-block;
      color:$gray20;
      cursor:pointer;
      text-align:left;
      line-height:16px;
      border:0;
      vertical-align:bottom;
      overflow:hidden;
      @include transition();
      @include flickerfix();
      @include box-sizing(content-box);

      & + li {margin-left:-1px;}

      &.active {
        background: #ffffff;
      }

      &.active,
      &:hover {
        border-top:4px solid $buttonBlue;

        img {
          @include opacity(100);
        }

        i {
          color: $gray20;
        }
      }

      .lt-ie8 & {
        @include ie7-inline-block();
      }

    } // end li

    img {
      position: relative;
      bottom: 0;
      width: percentage(60/$itemWidth);
      max-width: 60px;
      float: left;
      @include opacity(75);
    }

    i {
      color: $gray40;
      line-height:16px;
      position:relative;
      top:6px;
      float:left;
      margin-bottom:20px;
    }

    // need to take in the fact there is an image
    .label-container {
      position: relative;
      display: table;
      height: 100%;
      width: percentage(($itemWidth - 64)/$itemWidth);
      padding-left: 10%;
      top: -2px;
      @include box-sizing(border-box);
    }

    .nav-label {
      color: $gray20;
      position:relative;
      display: table-cell;
      vertical-align: middle;
      // IE7 jank
      *float: left;
      *display: block;
      zoom: 1;
    }
  } // end .thumb-nav
  .compare-carousel-container {
    @include clearfix();
    .image-module {
      text-align:center;
      @include background-size(cover);
      display: table-cell;
      height: 400px;
      vertical-align: middle;
      background: {
        position: center center;
        repeat: no-repeat;
      }
    }

    .compare-carousel {
      position: relative;

      // getting stomped on by another similar class :(
      .compare-carousel-wrapper {
        height: auto;
      }

      // design review margin: 80px 0 50px;
    }

    .compare-carousel-wrapper {
      position: relative;
      overflow: hidden;
      padding-bottom: 140px;
    }

    .compare-carousel {
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0;
      filter: alpha(opacity=0);
      @include flickerfix();
    }

    .compare-carousel-slide {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      float:left;
      display: none;
      @include opacity(0);
      @include transition();

      &.active {
        z-index:1;
        display: block;
        @include opacity(100);
      }

      .container {
        width:100%;
      }
    }

  } // end .editorial-carousel-slide
}

.lt-ie8 {
  .modal-light-compare {
    .tabs {
      display:inline;
      zoom: 1;
      text-align: center;
    }
    .box-close {
      // fixes filter opacity inheritance from modal element
      filter: alpha(opacity=100);
    }
  }
}

.compare-carousel-slide {
  background-color: $gray90;
  -webkit-box-shadow: 0 0 0 5px 5px rgba(0, 0, 0, .5), 0px 1px 5px rgba(0, 0, 0, 0.17);
  -moz-box-shadow:    0 0 0 5px 5px rgba(0, 0, 0, .5), 0px 1px 5px rgba(0, 0, 0, 0.17);
  box-shadow:         0 0 0 5px 5px rgba(0, 0, 0, .5), 0px 1px 5px rgba(0, 0, 0, 0.17);
  position: relative;
  .modal-close {
    position: absolute;
    top: 18px;
    right: 18px;
  }
  .light-compare-hd {
    padding: 40px 0 40px 0;
    text-align: center;
    width: 60.09%;
    margin: 0 auto;
  }
  .h-list {
    overflow: hidden;
      > li {
      float:left;
      }
  }
}
