@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";


.light-compare {
  background-color: $gray90;
  -webkit-box-shadow: 0 0 0 5px 5px rgba(0, 0, 0, .5), 0px 1px 5px rgba(0, 0, 0, 0.17);
  -moz-box-shadow:    0 0 0 5px 5px rgba(0, 0, 0, .5), 0px 1px 5px rgba(0, 0, 0, 0.17);
  box-shadow:         0 0 0 5px 5px rgba(0, 0, 0, .5), 0px 1px 5px rgba(0, 0, 0, 0.17);
  width: 92.5%;
  padding-bottom: 115px;
  position: relative;
  .modal-close {
    position: absolute;
    top: 17px;
    right: 18px;
  }
  .light-compare-hd {
    padding: 40px 0 78px 0;
    text-align: center;
    width: 60.09%;
    margin: 0 auto;
  }
  .h-list {
    overflow: hidden;
      > li {
      float:left;
      }
  }
}