@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";


.light-compare {
  background-color: $gray90;
  -webkit-box-shadow: 0 0 0 5px 5px rgba(0, 0, 0, .5), 0px 1px 5px rgba(0, 0, 0, 0.17);
  -moz-box-shadow:    0 0 0 5px 5px rgba(0, 0, 0, .5), 0px 1px 5px rgba(0, 0, 0, 0.17);
  box-shadow:         0 0 0 5px 5px rgba(0, 0, 0, .5), 0px 1px 5px rgba(0, 0, 0, 0.17);
  
  .light-compare-hd {
    padding: 60px 0 78px 0;
    text-align: center;
    width: 60.09%;
    margin: 0 auto;
  }
  
}