@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";


.light-compare-wrapper {
   padding: 30px 0;
}

.light-compare-box {
  height: 140px;
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
  .image-module {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    height: 140px;
  }
  .p1 {
    color: $gray20;
  }
  .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .light-compare-bd {
      padding: 30px 0 0 44px;
      .fonticon-10-sm-bold-plus {
        font-size: 1.3333em;
        padding-left: 6px;
      }
    }
  }
}

.modal-light-compare {
  padding: 0;
  .modal-inner {
    max-width: 1100px;
    overflow: hidden;
  }
  .modal-header,
  .modal-body {
    padding: 0;
    background: $gray80;
  }
  .tab-container {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    font-size: 0;
  }
  .tabs {
    background: #fff;
    margin: 0;
    display: inline-block;
    font-size: 12px;
    li {
      float: left;
      &:last-child {
        margin: 0;
      }
      .fonticon {
      margin-right:10px;
      }

      a {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: block;
        @include transition();

        .ghost-center-wrap {
          height: 95%;
          position: relative;
          z-index: 1;
        }

        span {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: $linkBlue;
          width: 100%;
          height: 5%;
          display: block;

          @include transition(top .15s linear);
          @include opacity(0);

        }

        &.light {
          img {
            @include opacity(60);
          }
        }

        &.dark {
          img {
            @include opacity(75);
          }
        }

        &.active,
        &:hover {
          span {
            top: -5.8%;
            @include opacity(100);
          }
          img {
            @include opacity(100);
          }
        }
      }
      &.active {
        span {
            top: -5.8%;
            @include opacity(100);
          }
      }
    }
    a {
      padding:  20px 25px;
      display: inline-block;
      font-size: 12px;
      color: #000;
    }
  }
}

.light-compare {
  background-color: $gray90;
  -webkit-box-shadow: 0 0 0 5px 5px rgba(0, 0, 0, .5), 0px 1px 5px rgba(0, 0, 0, 0.17);
  -moz-box-shadow:    0 0 0 5px 5px rgba(0, 0, 0, .5), 0px 1px 5px rgba(0, 0, 0, 0.17);
  box-shadow:         0 0 0 5px 5px rgba(0, 0, 0, .5), 0px 1px 5px rgba(0, 0, 0, 0.17);
  padding-bottom: 115px;
  position: relative;
  .modal-close {
    position: absolute;
    top: 18px;
    right: 18px;
  }
  .light-compare-hd {
    padding: 40px 0 40px 0;
    text-align: center;
    width: 60.09%;
    margin: 0 auto;
  }
  .h-list {
    overflow: hidden;
      > li {
      float:left;
      }
  }
}
