//
// Responsive: Large desktop and up
// --------------------------------------------------
//
//
@media (min-width: px-em(1200)) {

  // Fluid grid
  .container {
    width: $fluidContainerWidth1200;
  }
  .grid,
  .slimgrid,
  .slimgrid5, .grid5 {
    width: $fluidGridWidth1200;
  }
  @include grid-fluid($fluidGridColumnWidth1200, $fluidGridGutterWidth1200);
  @include grid-fluid($fluidSlimGridColumnWidth1200, $fluidSlimGridGutterWidth1200, $gridColumns, "slim");

  .l1, .l1-light{
    margin-top: 50px;
  }

  // Fixed grid
  // @include container-grid-widths(fixed, $containerWidth1200, $gridWidth1200);
  .container-px-width{
    width:$containerWidth1200;
    &.full-bleed,
    &.full-bleed-no-max{
      width:$containerWidthFullBleed1200;
    }
  }
  .grid-px-width{
    width:$gridWidth1200;
  }
  @include grid-core($gridColumnWidth1200, $gridGutterWidth1200);
  // Input grid
  @include grid-input($gridColumnWidth1200, $gridGutterWidth1200);

  // Thumbnails // these might need to be updated - idk where they're being used.
  .thumbnails {
    margin-left: -$gridGutterWidth1200;
  }
  .thumbnails > li {
    margin-left: $gridGutterWidth1200;
  }
  .grid .thumbnails,
  .grid-px-width .thumbnails {
    margin-left: 0;
  }

  $arrowLeft: 208px;
  .csstransforms .slide-toggle-arrow {
    left: $arrowLeft;
  }

  .csstransforms .slide-arrow-over .slide-toggle-arrow {
    left: $arrowLeft - 2px;
  }
}
// For the max-width cutoff:
@media (min-width: px-em($containerWidthMax)) {
  // .container,
  // .container.full-bleed {
  //   max-width: $containerWidthMax;
  // }
  // .grid,
  // .grid.full-bleed{
  //   max-width: $gridWidthMax;
  // }

  // use the same grid as 1200, so no need to redefine. The work is done with "max-width: $containerWidthMax" on the container

  // Fixed grid
  @include grid-core($gridColumnWidthMax, $gridGutterWidthMax);
  // Input grid
  @include grid-input($gridColumnWidthMax, $gridGutterWidthMax);
}
