//
// Responsive: Utility classes
// --------------------------------------------------


// @Christopher - you're duplicating styles here...

// Clearing floats
// .clearfix {
//   @include clearfix();
// }

// // Accessible yet invisible text
// .hide-text {
//   @include hide-text();
// }

// // Uses box-sizing mixin, so must be defined here
// .input-block-level {
//   @include input-block-level();
// }

// // Hide from screenreaders and browsers
// // Credit: HTML5 Boilerplate
// .hidden {
//   display: none;
//   visibility: hidden;
// }



// ------------------------------------
// Visibility utilities
// ------------------------------------

// For desktops (default) - in regular utilities.scss

@mixin visibility-tablet{
  .visible-desktop   { display: none !important ; }
  .visible-tablet    { display: inherit !important; }
  .visible-phone     { display: none !important; }
  .hidden-desktop    { display: inherit !important; }
  .hidden-tablet     { display: none !important; }
  .hidden-phone      { display: inherit !important; }
}
@mixin visibility-phone{
  .hidden-desktop    { display: inherit !important; }
  .hidden-tablet     { display: inherit !important; }
  .hidden-phone      { display: none !important; }
  .visible-desktop   { display: none !important ; }
  .visible-tablet    { display: none !important; }
  .visible-phone     { display: inherit !important; }
}


// Tablets (& small desktops) only
@media (min-width: px-em(768)) and (max-width: px-em(979)) {
  @include visibility-tablet;
}
// by default everything below 767 is a phone view (per bootstrap)
@media (max-width: px-em(767)) {
  @include visibility-phone;
}
// Smaller tablets (& small desktops) only, or phones
@media (min-width: px-em(568)) and (max-width: px-em(767)) {

  // if any of the override classes are present for lower breakpoints, we should
  // keep this breakpoint at tablet view.
  .phone-at-567,
  .phone-at-479{
    @include visibility-tablet;
  }
}
// Smaller tablets (& small desktops) only, or phones
@media (min-width: px-em(480px)) and (max-width: px-em(567px)) {

  // if any of the override classes are present for lower breakpoints, we should
  // keep this breakpoint at tablet view.
  .phone-at-479{
    @include visibility-tablet;
  }
}
// below 480 is always treated as phone. - I don't think this is necessary anymore since it's the default.
@media (max-width: px-em(479px)) {
  // @include visibility-phone;
}
