@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$transitionSpeed: 0.5s;
$miniWindowWidth : 500;
$miniItemWidth: 105;
$itemWidth: 255;
$windowWidth: 1100;

.fs-spacing {
  height: 250px;
}

@for $i from 1 through 10 {
  .fs-spacing:nth-of-type(#{$i}) {
    background-color: hsl(0, 0%, $i * 10%);
  }
}

.unselectable * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.dim-the-lights {
  @include transition();
  opacity: 0.45;
}

.light-em-up {
  @include transition();
  opacity: 1;
}

.e360debug {
  width: 90%;
  height: 150px;
  border: 1px solid green;
}

.editorial {

  .center {
    text-align: center;
  }

  &.gray {
    background: $gray80;
  }

  &.full-inner .sony-sequence .box {
    margin-top: -1%;
    padding: 56px 52px 50px 52px;
  }
}


.editorial .submodule .sony-sequence .image-module.visuallyhidden {
  position: absolute;
}

.sequence-note-container {
  position: absolute;
  width: 100%;

  .sequence-notes {
    & > div {
      @include transition(2.0s);
      @include opacity(100);
    }

    &.inactive > div {
      @include opacity(0);
    }
  }

  .note {
    position: absolute;
    z-index: 100;

    .headline {
      color: $gray20;
    }

    .subhead {
      color: $gray40;
    }

    &.direction-right {
      text-align: right;

      .pointer {
        top: 12px;
        width: 30px;
        right: -42px;
        &:before {
          top: -2px;
          left: 30px;
        }
      }
    } // end &.direction-right

    &.direction-left {
      .pointer {
        top: 12px;
        width: 30px;
        left: -42px;
        &:before {
          top: -2px;
          left: 0;
        }
      }
    } // end &.direction-left

    &.direction-down {
      text-align: center;

      .pointer {
        height: 30px;
        top: 50px;
        left: 50%;
        &:before {
          top: 30px;
          left: -2px;
        }
      }
    } // end &.direction-down

    &.direction-up {
      text-align: center;

      .pointer {
        height: 30px;
        top: -38px;
        left: 50%;
        &:before {
          top: 0;
          left: -2px;
        }
      }
    } // end &.direction-up
  } // end .note


  .pointer {
    position: absolute;
    display: block;
    background: $buttonOrange;
    width: 1px;
    height: 1px;

    &:before {
      content: "";
      position: relative;
      display: block;
      background: $buttonOrange;
      height: 5px;
      width: 5px;
      @include border-radius(50%);
    }
  }

} // end .sequence-note-container

.sony-sequence {
  position: relative;
  padding: {
    top: 75px;
    bottom: 50px;
  }

  .box {
    margin-top: -1%;
    padding: 56px 52px 50px 0;
  }

  .sequence-copy {
    width: 100%;
    position: absolute;
    top: 100px;

    &.editorial-sequence {
      top: 0;
    }

    .box {
      position: relative;
      z-index: 100;
    }
  }

  .loading {
    position: absolute;
    top: 50%;
    padding-left: 50%;
    margin: -30px 0 0 -30px;
  }

  div.image-module {
    height: 560px;
    background-position: center center;
    background-size: cover;
  }

  .outer {
    position: relative;
    .image-module-360 {
      text-align: center;
    }
  }

} // end .sony-sequence
