@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$numColumns: 3;
$imgVerticalOffset: 8%;

.editorial-compare {

  overflow: hidden;
  padding: 3em 0;

  // Fade in to hide slide rearrangement
  .csstransitions & .carousel-container {
    opacity: 0;
    @include transition( opacity $transitionFast $easeNormal );

    &.in {
      opacity: 1;
    }
  }

  .sony-carousel-wrapper {
    height: auto;
    overflow: visible;
  }

  .sony-carousel-slide-children {
    position: relative;
  
    .device {
      position: relative;
      left: -33%;
      width: 155%;
    }

    .inches {
      color: $white;
      font-size: 2em;
      font-weight: bold;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 43%;
      text-align: center;

      span {
        font-size: .5em;
      }
    }

    img {
      max-width: 155%;
      width: 100%;
    }

    // Apply an image offset and z-index to the images in the columns
    // so that images to the left are lower and in front of images
    // to the right
    @for $i from 0 through $numColumns {
      &.column-#{$i} {
        .device {
          z-index: $numColumns - $i;
          margin-bottom: $i * $imgVerticalOffset;
          margin-top: ($numColumns - $i) * $imgVerticalOffset;
        }
      }
    }
  }

  .center {
    text-align: center;
  }

  .swatches {
    overflow: hidden;
    margin-bottom: 10px;

    div {
      margin-right: 10px;
    }
  }

  .benefits {
    border-top: solid 1px $gray60;
    margin: 0;
    padding-top: 20px;

    li {
      position: relative;
      padding-top: 10px;

      i {
        position: absolute;
        left: 0;
        top: 10px;
        font-size: 3em;

        &.icon-orange {
          color: $themeOrange;
        }

        &.icon-green {
          color: $themeGreen;
        }

        &.icon-blue-light {
          color: $themeBlueLight;
        }

        &.icon-blue-dark {
          color: $themeBlueDark;
        }

        &.icon-red {
          color: $themeRed;
        }

        &.icon-purple {
          color: $themePurple;
        }

      }

      h5, p {
        margin-left: 60px;
      }

      h5 {
        margin-bottom: 0;
      }
    }
  }

}

.lt-ie8 .editorial-compare {

  .sony-carousel-wrapper {
    overflow: hidden;
  }

  .sony-carousel-slide-children {
    
    .device {
        left: auto;
        margin: 0 auto;
        width: 100%;
    }
    
    .inches {
      top: 40%;
    }
  }

}