@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.editorial-compare {

  // Fade in to hide slide rearrangement
  .csstransitions & .carousel-container {
    opacity: 0;
    @include transition( opacity $transitionFast $easeNormal );

    &.in {
      opacity: 1;
    }
  }

  .sony-carousel-wrapper {
    height: auto;
  }

  .center {
    text-align: center;
  }

  .swatches {

    margin-bottom: 10px;

    div {
      margin-right: 10px;
    }

  }

  .benefits {

    border-top: solid 1px $gray60;
    margin: 0;
    padding-top: 20px;

    li {
      position: relative;
      padding-top: 10px;

      i {
        position: absolute;
        left: 0;
        top: 10px;
      }

      h5, p {
        margin-left: 60px;
      }

      h5 {
        margin-bottom: 0;
      }

    }

  }

}