@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$phoneMax: px-em(767);
$tabletMin: px-em(768);
$tabletMax: px-em(979);

.alert {
  .alert-button {
    float: right;
  }
}

//tablet only
//tablet only
@media (min-width: $tabletMin) and (max-width:$tabletMax) {

  .alert {
    .alert-button {
      float: none;
    }
  }

} // end $tablet

//phone only
@media (max-width: $phoneMax) {

  .alert {
    .alert-button {
      float: none;
    }
  }
  
  .alert-large {
    [class*=span] {
      margin: 0 0 10px 0;
    }
  }

} // end $phone

