---
cacheable: true
---

script(src="js/libs/LAB.min.js")

l = {"locals": locals}

if 'debug' == locals.getEnvironments() || 'mbuilder' == locals.getEnvironments()

  script
    var pluginScripts = !{JSON.stringify(locals.plugins())},
        secondaryScripts = !{JSON.stringify(locals.secondary())},
        deferedScripts = !{JSON.stringify(locals.defer())};

  script

    $LAB

      // Libraries
      .script('http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js').wait()
      .script('js/libs/bootstrap.js').wait()

      // Plugins
      .script(function(){
        var arr = [];
        for ( i in pluginScripts ) {
          arr.push('js/bundle/plugins/' + pluginScripts[i]);
        }
        return arr;
      }).wait()

      // Global Scripts
      .script('js/bundle/require/sony-global.js').wait()
      .script('js/bundle/require/sony-global-settings.js').wait()
      .script('js/bundle/require/sony-global-analytics.js').wait()
      .script('js/bundle/require/sony-global-environment.js').wait()
      .script('js/bundle/require/sony-global-utilities.js').wait()
      .script('js/bundle/require/exports.js').wait()
      .script('js/bundle/require/iq.js').wait()

      // SONY Plugins
      .script(function(){
        var arr = [];
        for ( i in secondaryScripts ) {
          arr.push('js/bundle/secondary/' + secondaryScripts[i]);
        }
        return arr;
      }).wait()

      // Module Scripts
      .script(function(){
        var arr = [];
        for ( i in deferedScripts ) {
          arr.push('js/bundle/defer/' + deferedScripts[i]);
        }
        return arr;
      })

      .wait(function() {
        window.isDebugMode = true;
        SONY.Global.init();
      });

else

  script

    $LAB

      // Libraries
      .script('http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js').wait()
      .script('js/libs/bootstrap.js').wait()
      .script('js/plugins.min.js').wait()
      .script('js/require.min.js').wait()
      .script('js/secondary.min.js').wait()
      .script('js/defer.min.js').wait()

      .wait(function() {
        SONY.Global.init();
      });
