---
cacheable: true
---

title Sony Global

!{locals.partial('includes/meta.html')}
!{locals.partial('includes/fonts.html')}

l = {"locals": locals}
  link(rel="stylesheet", href="css/styles.css")

  for name in locals.modulescss()
    hrf = "css/modules/" + name.replace(/.scss/g, '.css')
      link(rel="stylesheet", href= hrf)
  link(rel="stylesheet", href="css/responsive.css")

  if 'debug' == locals.getEnvironments() || 'mbuilder' == locals.getEnvironments()

    //if lt IE 9
      for name in locals.polyfills()
        sr = "js/libs/polyfill/" + name
        script(src = sr)

    //if lt IE 8
      for name in locals.polyfillsie7()
        sr = "js/libs/polyfill-lte-ie7/" + name
        script(src = sr)

  else

    //if lt IE 9
      script(src="js/polyfill.min.js")
