@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.sen-convergence {
  @include clearfix();
  position: relative;

  .tabs-container {
    text-align: center;
  }

  .tabs {
    display: inline-block;
    background: #fff;
    font-size: 12px;
    li {
      float: left;
      &:last-child {
        margin: 0;
      }
      .fonticon {
      margin-right:10px;
      }

      a {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: block;
        @include transition();

        .ghost-center-wrap {
          height: 95%;
          position: relative;
          z-index: 1;
        }

        span {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background: $linkBlue;
          width: 100%;
          height: 5%;
          display: block;

          @include transition(top .15s linear);
          @include opacity(0);

        }

        &.light {
          img {
            @include opacity(60);
          }
        }

        &.dark {
          img {
            @include opacity(75);
          }
        }

        &.active,
        &:hover {
          span {
            top: -5.8%;
            @include opacity(100);
          }
          img {
            @include opacity(100);
          }
        }
      }
      &.active {
        span {
            top: -5.8%;
            @include opacity(100);
          }
      }
    }
    a {
      padding:  20px 25px;
      display: inline-block;
      font-size: 12px;
      color: #000;
    }
  }
  .sen-bg-img {
    height: 620px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
  }
  .grid-placement {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .sen-convergence-placement {
    /*
position: absolute;
    top: 0;
    left: 0;
    height: 640px;
*/
  }
  .module-hdg {
    text-align: center;
    margin-top: 75px;
    h1 {
      color: $gray20;
    }
  }
  .sen-convergence-content {
    padding: 50px 52px;
  }
  .logo-container {
    margin-bottom: 17px;
  }
  .sen-convergence-hdg p {
    color: $gray20;
  }
  .sen-convergence-text {
    margin-bottom: 34px;
    p {
      color: $gray40;
      margin-bottom: 0;
    }
  }

  .slides {
    width: 100%;
    position: relative;
  }
}
