@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.sen-convergence {
  .sen-bg-img {
    height: 620px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  .grid-placement {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .sen-convergence-placement {
    /*
position: absolute;
    top: 0;
    left: 0;
    height: 620px;
*/
  }
  .module-hdg {
    text-align: center;
    margin-top: 75px;
    h1 {
      color: $gray20;
    }
  }
  .sen-convergence-content {
    padding: 50px 52px;
  }
  .logo-container {
    margin-bottom: 17px;
  }
  .sen-convergence-hdg p {
    color: $gray20;
  }
  .sen-convergence-text {
    margin-bottom: 34px;
    p {
      color: $gray40;
      margin-bottom: 0;
    }
  }
  
  
}





