@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

[data-target$="-fake"] {
  pointer-events: none;
}


// 8888888b.                       888                   888         88888888888                888
// 888   Y88b                      888                   888             888                    888
// 888    888                      888                   888             888                    888
// 888   d88P 888d888 .d88b.   .d88888 888  888  .d8888b 888888          888   .d88b.  888  888 888888
// 8888888P"  888P"  d88""88b d88" 888 888  888 d88P"    888             888  d8P  Y8b `Y8bd8P' 888
// 888        888    888  888 888  888 888  888 888      888             888  88888888   X88K   888
// 888        888    Y88..88P Y88b 888 Y88b 888 Y88b.    Y88b.           888  Y8b.     .d8""8b. Y88b.
// 888        888     "Y88P"   "Y88888  "Y88888  "Y8888P  "Y888          888   "Y8888  888  888  "Y888


// Price text module
.product-content {
  margin-top: .4375em; // 7
  line-height: 1.3;

  .product-name {
    color: $gray20;
    margin-bottom: 0;
  }

  .product-model {
    color: $gray40;
    margin-bottom: 0;
  }

  .product-rating {
    margin: .5em 0 1em;
    color: $gray40;
    @include text-overflow();
  }

  .price-title {
    margin: 0;
  }

  .product-price {
    margin-top: 1em;
    color: $gray40;
    @include text-overflow();
  }
}


.product-meta {
  margin: 0 0 1em;
  padding: 0 0 0 1em;
  list-style-type: square;
  color: $gray40;

  li {
    margin-bottom: 2px;
  }
}


//  .d8888b.           888 888
// d88P  Y88b          888 888
// 888    888          888 888
// 888         8888b.  888 888  .d88b.  888d888 888  888
// 888  88888     "88b 888 888 d8P  Y8b 888P"   888  888
// 888    888 .d888888 888 888 88888888 888     888  888
// Y88b  d88P 888  888 888 888 Y8b.     888     Y88b 888
//  "Y8888P88 "Y888888 888 888  "Y8888  888      "Y88888
//                                                   888
//                                              Y8b d88P
//                                               "Y88P"

// Gallery
// -------------------------

// 60x60 gif
$gifWidth: 60px;
$gifHeight: 60px;
.gallery-loader .loading {
  position: absolute;
  z-index: 400;
  width: 100%;
  height: $gifHeight;
  left: 0;
  top: 200px;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -$gifWidth / 2;
    margin-top: -$gifHeight / 2;
  }
}

.gallery-content {
  margin-top: 1.5em;
  padding-bottom: 4.375em;
  overflow: visible;
}

.gallery.disabled {
  visibility: hidden;
}

// Give multiple gallery sections a border top
.gallery + .gallery > *:first-child {
  border-top: .1875em solid $gray70;
  margin-top: 1.875em;
  padding-top: 1.875em;
}

.gallery-detailed .products {
  margin-top: -3.125em;
}

.gallery .products {
  position: relative; // don't make shuffle set it
  overflow: hidden;
}

// filter: alpha(0) not working on elements inside shuffle...
.lt-ie9 .gallery.fade {
  position: relative;
  left: -9999px;

  &.in {
    position: static;
    left: auto;
  }
}

.featured-gallery-title {
  margin-bottom: 0;
}


// Gallery Items
// -------------------------

.gallery .shuffle .shuffle-item.gallery-item {
  margin-left: 0;
}





// 8888888b.                       888                   888          .d8888b.  888            d8b
// 888   Y88b                      888                   888         d88P  Y88b 888            Y8P
// 888    888                      888                   888         Y88b.      888
// 888   d88P 888d888 .d88b.   .d88888 888  888  .d8888b 888888       "Y888b.   888888 888d888 888 88888b.
// 8888888P"  888P"  d88""88b d88" 888 888  888 d88P"    888             "Y88b. 888    888P"   888 888 "88b
// 888        888    888  888 888  888 888  888 888      888               "888 888    888     888 888  888
// 888        888    Y88..88P Y88b 888 Y88b 888 Y88b.    Y88b.       Y88b  d88P Y88b.  888     888 888 d88P
// 888        888     "Y88P"   "Y88888  "Y88888  "Y8888P  "Y888       "Y8888P"   "Y888 888     888 88888P"
//                                                                                                 888
//                                                                                                 888
//                                                                                                 888

// Product Strip
// -------------------------

.product-strip-wrap {
  padding-top: 3.75em; // 60px
  padding-bottom: 3.75em; // 60px

  &:not(:first-child) {
    border-top: .125em solid $gray70;
  }
}

.product-strip-heading {
  margin-top: 0;
  margin-bottom: 1.25em;
}

.product-strip {

  .gallery-item {
    margin-top: 0;
  }
}


// 8888888888 d8b 888 888
// 888        Y8P 888 888
// 888            888 888
// 8888888    888 888 888888 .d88b.  888d888 .d8888b
// 888        888 888 888   d8P  Y8b 888P"   88K
// 888        888 888 888   88888888 888     "Y8888b.
// 888        888 888 Y88b. Y8b.     888          X88
// 888        888 888  "Y888 "Y8888  888      88888P'


// Filters
// -------------------------

// Holdes Filter Results button, compare button, # products, and sorting dropdown
.filter-display-bar {
  position: relative;
  z-index: 20;

  .btn {
    margin-bottom: 0;
  }

  .product-count-wrap {
    margin: 0;
  }

  .product-count {
    padding-right: px-em(2, 13);
  }

  .slide-toggle,
  .accessory-finder-btn {
    margin-left: 2.5em;
  }

  .btn-alt-plus {
    color: $gray20;
    background-color: $gray70;
    border-color: $gray70;

    &:hover {
      color: $white;
      background-color: $gray40;
    }
  }

  .btn + .btn {
    margin-left: .375em;
  }
}

.accessory-finder-btn {

}

.filter-options {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;

}

.sort-options {
  margin-top: .25em;
}

.sort-options .native-dropdown {
  position: relative;
  display: none;
  cursor: pointer;

  // -webkit-appearance won't work for Firefox and IE
  &.moz-ie {
    border-right: 1px solid $gray70;
    overflow: hidden;

    select {
      width: 130%;
      overflow: hidden;
      padding-top: 4px;
    }
  }

  select {
    margin-bottom: 0;
    height: 36px;
    -webkit-appearance: none;
    padding: 0 26px 0 12px;
    border-radius: 0;
    line-height: 1.5;
    @include text-overflow( false );
  }

  // arrows
  .absolutely {
    position: absolute;
    top: 55%;
    margin-top: -8px;
    right: 12px;

    // Let clicks/taps pass through. Doesn't work in IE
    pointer-events: none;
  }
}

.touch .sort-options .native-dropdown {
  display: inline-block;
}

.touch .sort-options .dropdown {
  display: none;
}

// Filter labels ( active filters )
.active-filters-wrap {
  position: relative;
  z-index: 1;

  .slide-toggle-target.in ~ & {
    margin-top: 1.25em;
  }
}

.active-filters {

  &.has-active-filters {
    margin-bottom: 1.25em;
  }

  // Give active filter labels some spacing
  .label-close {
    margin-right: 1.25em;
  }

  .label-close:last-of-type {
    margin-right: px-em(26, 11);
  }

  .clear-all-filters {
    display: inline-block;
    margin-bottom: 0;
    cursor: pointer;
    color: $gray20;
    @include transition();

    &:hover {
      color: $buttonBlueHover;
    }
  }
}

.filter-label {
  color: $gray40;
}

.filter-container {
  position: relative;
  margin-top: 1.375em;
  margin-bottom: 1.375em;
  max-width: 17.625em; // 282 per Val

  .span12 & {
    max-width: none;
  }

  .filter-label {
    margin-bottom: 20px;
  }

  // Fix webkit flicker bug
  .btn-square {
    @include translate3d(0,0,0);
  }

  // Override default btn-group functionality to have them drop to the new line
  .btn-group {
    white-space: normal;
    margin-bottom: 0;

    .btn {
      margin-bottom: .375em;
    }

    > .btn:not(:last-child) {
      margin-right: .375em;
    }
  }

  // Checkbox vertical spacing
  .control-inline:not(:first-child) {
    margin-top: .375em;
  }

  .media-heading {
    color: $gray20;
  }

  .media[disabled],
  .media[disabled] .media-heading,
  .media[disabled] p {
    color: $gray50;
  }

  .media + .media {
    margin-top: 1.25em;
  }

  .help-container {
    position: relative;
    text-align: right;
    cursor: pointer;
    clear: right;

    .fonticon-10-circle-q {
      color: $gray40;
      @include transition();
    }

    &:hover .fonticon-10-circle-q {
      color: $gray20;
    }

    &.pull-right .fonticon-10-circle-q {
      margin-top: -3px;
    }


    .help-label {
      padding-right: .625em;
      @include transition(color $transitionNormal $easeNormal);
      color: $gray20;
    }

    &:hover .help-label {
      // color: $gray10;
    }

    .fonticon-10-circle-q {
      line-height: 0;
      vertical-align: middle;
    }
  }
}

.filter-container + .filter-container {
  margin-top: 2.75em;
}

.sort-options .filter-label {
  display: inline-block;
  vertical-align: baseline;
  padding-right: 8px; // has a font-size set on it
}

// Setting a min height on this will push the trigger point for infinite scroll down
// We also need to put this above the shuffle container and then prevent propagation to the
// shuffle container
.zero-products-message {
  position: relative;
  z-index: 5;
  min-height: 25em;
}



// Range control
// -------------------------
.range-control-wrap,
.range-output-container {
  margin: 0.625em 0.625em 0;
}

.range-output-container {
  margin-top: 0;
}

.gallery .range-control-wrap {
  position: relative;
}

// Take it out of the document flow. Hopefully less reflows/repaints
.gallery .range-control {
  position: absolute;
  width: 100%;
}


// 88888888888       888
//     888           888
//     888           888
//     888   8888b.  88888b.  .d8888b
//     888      "88b 888 "88b 88K
//     888  .d888888 888  888 "Y8888b.
//     888  888  888 888 d88P      X88
//     888  "Y888888 88888P"   88888P'


// Tabs
// -------------------------

.gallery-tabs {

  .modal-open & {
    visibility: hidden;
  }

  .tabs {
  }

  .tab {
    text-align: center;

    [class*="fonticon-30-"] {
      margin: -.1875em; // 9/48
    }

    // Change the icon color on hover/active
    &.active i,
    &:hover i {
      color: $buttonOrange;
    }
  }

  // Has to be pixels because of ghost-centering
  .holder-for-icon {
    height: 28px;
    margin-bottom: 12px;

    i {
      color: $gray40;
      @include transition();
    }
  }

  .tab-label {
    white-space: nowrap;
    margin-bottom: 0;
    line-height: 1;
  }
}



// Accessories
// -------------------------
.gallery .see-all {
  margin-top: 1.25em;
  text-align: right;
}

//  .d8888b.                                                                88888888888                888
// d88P  Y88b                                                                   888                    888
// 888    888                                                                   888                    888
// 888         .d88b.  88888b.d88b.  88888b.   8888b.  888d888 .d88b.           888   .d88b.   .d88b.  888
// 888        d88""88b 888 "888 "88b 888 "88b     "88b 888P"  d8P  Y8b          888  d88""88b d88""88b 888
// 888    888 888  888 888  888  888 888  888 .d888888 888    88888888          888  888  888 888  888 888
// Y88b  d88P Y88..88P 888  888  888 888 d88P 888  888 888    Y8b.              888  Y88..88P Y88..88P 888
//  "Y8888P"   "Y88P"  888  888  888 88888P"  "Y888888 888     "Y8888           888   "Y88P"   "Y88P"  888
//                                   888
//                                   888
//                                   888

// We want the width of the grid, but not the .span# sizes that come with it
// $fluidGridWidth1200
.gallery-compare .products {
  width: $fluidGridWidth;
  margin: auto;
  overflow: visible;
  border-right: .0625em solid $gray70;
  @include transition(box-shadow $transitionFast ease-in);

  &.overflowing {
    @include box-shadow(inset -.125em 0 .1875em -.125em $transparentBlack);
    @include transition-timing-function(ease-out);
  }
}

// Tone bar
// -------------------
.gallery .tone-bar {
  padding-top: px-em(19);
  padding-bottom: px-em(25);
  width: 100%;
  background: $gray80;

  // Fix it, change padding
  &.sticky-nav {
    padding-top: px-em(20);
    padding-bottom: px-em(14);
  }

  .mini-swatch {
    vertical-align: middle;
  }
}

.compare-gallery-title {
  float: left;
  margin-right: 1em;
  margin-bottom: 0;
  @include transition();
}

.gallery .tone-bar .legend {
  float: left;
  display: inline-block;
}

.compare-reset {
  display: block;
  float: right;
  color: $gray20;
  margin-top: 5px;
  margin-bottom: 0;

  &.disabled {
    color: $gray50;
  }

  i {
    position: relative;
    font-size: 16px; // don't get font size from the font
    margin-right: .4375em;
  }
}


$compareBorder: .0625em solid $gray70;
.gallery-compare {
  overflow: hidden;

  .detail-label-group,
  .detail-group {
    border-top: $compareBorder;
  }

  .detail-labels-wrap {
    border-right: $compareBorder;

    &:before {
      width: 100%;
      background-color: transparent;
    }
  }

  .detail,
  .detail-label {
    border-bottom: $compareBorder;
  }

  .detail-label {
    padding: 1.125em 1em 0 0;
  }
}

// Holds labels and compare-items
.compare-container {
  padding-bottom: 5em;

  // Show the navigation
  &:hover .compare-nav {
    opacity: 1;
  }

  .no-opacity &:hover .compare-nav {
    display: block;
  }
}

.compare-items-wrap {
  position: relative;

  .no-csstransforms & {
    float: left;
  }
}

// Compare Items
// --------------------
$stickyHeaderHeight: px-em(82);
.compare-item {
  position: relative;
  overflow: hidden;
  background: $white;
  color: $gray20;
  border-right: .0625em solid $gray70;
  @include transition(width $transitionNormal $easeNormal, opacity $transitionNormal $easeNormal);

  .gallery & {
    margin: 0;
  }

  &.faded {
    opacity: 0;
  }

  &.no-width {
    width: 0;
  }

  .favorite-holder {
    font-size: 16px; // ghost-center-wrap set it to zero
    position: absolute;
    left: .125em;;
    bottom: 0;
  }

  .product-img {
    position: relative;
    text-align: center;
  }

  .product-content .product-name-wrap,
  .product-rating,
  .product-price,
  .color-swatches {
    margin-bottom: 1.25em;
    padding-right: 1.875em;
    padding-left: .9375em;
  }

  .detail {
    color: $gray20;
    padding: 1.25em 1.875em 2.5em .9375em;

    p:last-child {
      margin-bottom: 0;
    }

    // Copy paste the .visuallyhidden class
    .cell-label {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }

  .detail.highlighted {
    background: $lemon;

    .p3 {
      color: $gray20;
    }
  }

  .media p:not(.media-heading) {
    color: $gray40;
  }

  .product-model {
    color: $gray40;
  }

  .product-name,
  .product-model {
    margin-bottom: 0;
  }

  // Sticky headers
  .compare-sticky-header {
    top: -2em;
    width: 100%;
    height: px-em(106);
    padding: 0;
    background: $white;
    border-right: .0625em solid $gray70; // 1 pixel
    text-align: center;

    &.open {
      top: 0;
    }

    img {
      max-height: 80px;
    }

    .product-model {
      position: absolute;
      left: 16px;
      bottom: 16px;
    }
  }
}

.gallery-compare {


  .sticky-count {
    padding: 0;
    width: 100%;
    height: px-em(106);

    // Gray bar on the left side of the container
    &:before {
      background: $white;
      width: 3000px;
      right: 1px;
      @include box-shadow(0 px-em(2) px-em(5) 0 $stickyShadowColor);
    }

    // Gray bar on the right side of the container
    .right-bar {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 800%;
      height: px-em(106);
      width: 187em;
      background: $white;
      @include box-shadow(0 px-em(2) px-em(5) 0 $stickyShadowColor);
    }
  }
}


// Nav
// -------------------------
.compare-wrap {
  position: relative;

  .pagination-paddle {
    top: px-em(100);
  }

  // Sticky headers are disabled for IE < 10,
  // this will still move the paddle position
  .sticky-header-open & .pagination-paddle,
  .lt-ie10 .sticky-nav.open ~ & .pagination-paddle {
    position: fixed;
    top: px-em(330);
  }

  .pagination-next {
    right: 0;
  }
  .pagination-prev {
    left: 0;
  }

  // .lt-ie10 .sticky-nav.open ~ & .pagination-next {
  //   right: 4%;
  // }
  // .lt-ie10 .sticky-nav.open ~ & .pagination-prev {
  //   left: 4%;
  // }
}

// Don't even bother with elements if we're not going to use them
.no-sticky-headers {
  .compare-sticky-header,
  .sticky-count,
  .right-bar {
    display: none !important;
  }
}



//        d8888                                                                              8888888888 d8b               888
//       d88888                                                                              888        Y8P               888
//      d88P888                                                                              888                          888
//     d88P 888  .d8888b  .d8888b  .d88b.  .d8888b  .d8888b   .d88b.  888d888 888  888       8888888    888 88888b.   .d88888  .d88b.  888d888
//    d88P  888 d88P"    d88P"    d8P  Y8b 88K      88K      d88""88b 888P"   888  888       888        888 888 "88b d88" 888 d8P  Y8b 888P"
//   d88P   888 888      888      88888888 "Y8888b. "Y8888b. 888  888 888     888  888       888        888 888  888 888  888 88888888 888
//  d8888888888 Y88b.    Y88b.    Y8b.          X88      X88 Y88..88P 888     Y88b 888       888        888 888  888 Y88b 888 Y8b.     888
// d88P     888  "Y8888P  "Y8888P  "Y8888   88888P'  88888P'  "Y88P"  888      "Y88888       888        888 888  888  "Y88888  "Y8888  888
//                                                                                 888
//                                                                            Y8b d88P
//                                                                             "Y88P"


// Accessory Finder
// ------------------

.accessory-finder {
  margin-top: auto;
  height: auto;
  max-height: 90%;

  &.fade.in {
    top: 5%;
  }

  // .container {
  //   max-height: 100%;
  // }

  .modal-header {
    padding: px-em(36) 0 px-em(30);

    #accessory-modal-title {
      line-height: 1;
      margin-bottom: 7px;
    }

    p {
      margin: 0;
    }
  }

  .modal-subhead {
    position: relative;
    z-index: 5;
    height: px-em(80);
    padding: px-em(15) 0;
    background: $gray80;
    @include transition( box-shadow $transitionNormal $easeNormal );

    &.body-scrolled {
      @include box-shadow( 0 6px 10px -4px $stickyShadowColor );
    }

    // Reset styles from main gallery
    .filter-container {
      position: static;
      max-width: none;
      margin: auto;
    }
  }

  .modal-body {
    padding: px-em(42) 0 px-em( 40 - 18 );

    .lt-ie9 & {
      background: white;
    }
  }

  // Put the sorting above the products to handle the negative margin top
  .compat-filters {
    position: relative;
    z-index: 2;
  }

  .product-count-wrap {
    float: left;
    margin-top: px-em(11);
  }

  .products {
    position: relative;
    z-index: 1;
    top: px-em(-18);
    height: 400px;
  }

  .search-form {
    position: relative;
    width: 40%;

    .input-icon {
      position: absolute;
      left: px-em(13, 18);
      top: 50%;
      margin-top: px-em(-9, 18);
      color: $gray50;
      font-size: px-em(18);
    }

    #accessory-finder-input {
      width: 100%;
      height: px-em(50, 15);
      border: 0;
      margin: 0;
      padding: 0 px-em(10, 15) 0 px-em(45, 15);
      @include borderBox();

      .lt-ie9 & {
        padding-top: 10px;
      }
    }
  }

  // Help popover
  .help-container {
    float: left;
    margin-top: px-em(10);
    margin-left: px-em(20);
    min-width: px-em(300);
    text-align: left;

    .help-label {
      padding-right: 0;
      color: $gray40;
    }

    .no-touch & .help-label:hover {
      color: $gray20;
    }

    i.fonticon-10-circle-q {
      margin-right: 4px;
    }
  }
}

// Each compatibility item
.compat-item {
  position: relative;
  margin-top: px-em(50);

  .accessory-finder & {
    margin-left: 0;
  }

  .compat-item-inner {
    width: 100%;
    height: 100%;
    @include transition();
  }

  .no-touch &:hover .compat-item-inner {
    background: $gray80;
    @include box-shadow(0 0 0 4px $gray80);
  }

  .product-img,
  .product-content {
    display: inline-block;
    vertical-align: top;
  }

  .product-img {
    max-width: 28%;
    background: $gray80;
  }

  .product-img .product-img-wrap {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  // non webkit browsers need this
  .product-img img {
    width: 100%;
  }

  .product-content {
    padding-left: px-em(16);
    margin-top: 0;
    max-width: 72%;
  }

  .lt-ie9 & .product-content {
    width: px-em(204);
    height: px-em(79);
  }
  .lt-ie8 & .product-content {
    width: px-em(188);
  }

  // yep
  .lt-ie9 & .product-img,
  .lt-ie9 & .product-img .ghost-center,
  .lt-ie9 & .product-img img {
    width: px-em(80);
    height: px-em(61);
  }

  .product-content .product-model {
    color: $gray20;
  }

  .product-content .product-name {
    color: $gray40;
  }

  .product-content .product-total {
    margin-bottom: 0;

    .total {
      color: $gray10;
      padding-right: 4px;
    }
  }
}





























