@media (min-width: px-em(768px)) and (max-width: px-em(1036px)) {
	.pd-module{
		.measurements{
			.img-wrapper{
				width:60%;
			} // img-wrapper
		} //measurements
  } // pd-module
} //mq

@media (min-width: px-em(480px)) and (max-width: px-em(767px)) {
	.pd-module{
		.top{
			.desc{
				@include content-columns(1);
			} //. desc
		} // .top

		.last-column{
			position: relative;

			&.has-measurements{
				padding:18px 2%;
				//padding:25px px-em(35px) 31px px-em(35px);
			} // has-measurements

			&.m-span6{
				margin-left:0;
			}

			.measurement{
				margin-bottom: 0;
			}

			.extras{
				//padding:10px px-em(10px) 12px px-em(10px);
				padding:10px 2%;

				&.with-measurements{
					padding:0;
				} // with-measurements

				&.absolute-pos{
					margin-top:0;
					width:21%;
					position: absolute;
					top:9%;
					right:5%;					
				} // absolute-pos

				.p3{
					// cosmetics
					margin-bottom: 0;
					max-height: 240px;
					overflow: hidden;
				} // p3

			} // extras

		} // last-column
		
		.bottom{	
			.bottom-btn{				
				&.m-span6{
					text-align: left;
				} // m-span6
			} // .bottom-btn	
		} // bottom
	} // pd-module
} // end MQ


@media (max-width: px-em(567px)) {
	.pd-module{

		.top{

			.desc{
				@include content-columns(1);
				margin-bottom:0;
			} //. desc
		} // .top

		dl{
			margin-bottom: 0;
		}

		.features{
			padding-bottom:20px;
		}

		.last-column{
			padding:0;

			&.has-measurements{
				//padding:10px 12px;	
				padding:10px 2%;	
			} // has-measurements

			.specs{
				padding:0;
			} // specs

			.features{
				padding-top:0px;

				li{
					padding-bottom: 16px;
					padding-top: 16px;
					border-top:1px solid $gray70;
				} // li

			} // features


			.extras{			
				&.absolute-pos{
					width:100%;
					position: relative;
					left: 0;
					top:0;
				}
			} // extras
		} // last column

		.extras{

			margin-top: 0;
			&.with-measurements{
				margin-top: 0;
			}
			
			&.absolute-pos{
				width:100%;
				position: relative;
			}

		} // extras

		.specs{
			padding-top:20px;
		} // specs

		.measurements{
			display:none;
		} // measurements

		.bottom{
			.text-tout{
				text-align:center;
				position: relative;

				.icon{
					position: relative;
					display: block;
				} //  icon

				.copy{

					&.with-icon{
						margin-left: 0;
						max-width: 100%;
						display: block;						
					} // with-icon
				} // copy
			} // text-tout

			.bottom-btn{
				&.span6{
					padding-top: 30px;
					text-align: center;
				} // span6
			} // bottom-btn
		} // bottom
	} // pd-module
} // end MQ
