@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$phone: px-em(568);
$phoneMax: px-em(767);
$tabletMin: px-em(768);
$tabletMax: px-em(979);
$desktopMin: px-em(980);


@media (max-width:$tabletMax) {
  .search-results {
    .results-list .results-p {
      width: 86%;
    }
  }

}

@media (max-width:$phoneMax) {
  .search-results {
    .media .no-float {
      float: none;
      margin: 0;
    }
    .featured-result {
     .media {
      .media-img {
        float: none;
        width: 100%;
      }
     }
    }
  
    .media .no-float .img {
      margin-bottom: 0;
    }

    .featured-result .media .img {
      width: 100%;
    }
    .featured-result .media .media-img {
      width: 100%;
      float: none;
    }   

    .featured-result .media .img img {
      margin: 0 auto;
    }
  
    .bar-tone {
      margin-bottom: 10px;
      .l3 {
        margin-top: 20px;
        margin-bottom: 10px;
      }
      .search-form {
        margin-bottom: 30px;
      }
      .search-left {
        width: 90%;
      }
      .search {
        width: 80%;
      }
    }
  
    .search-suggestions {
      margin-bottom: 23px;
    }
  
    .featured-result .results {
      margin-bottom: 10px;
    }
  
    .featured-result .title {
      margin-bottom: 5px;
    }
  
    .featured-result {
      margin-bottom: 22px
    }
  
    .select-narrow {
      margin-bottom: 8px;
    }
  
    .results-list > li {
      padding: 20px 0 30px 0;
    }
  
    .results-list > li:first-child {
      border-top: 1px solid #e7e9ed;
    }
    
    .results-list .results-p {
      width: 73%;
    }
    
    .results-list .bd {
      padding-right: 25px;
    }
    .search-more {
      margin: 30px auto 40px auto;
      width: 100%;
      text-align: center;
    }
    
    .search-more span {
      display: inline-block;
    }
  
    .related-searches {
      padding: 25px 0 50px 0;
    }
  
    .related-searches ul {
      margin: 0;
    }
    .h-list-md > * + *  {
      margin-left: 10px
    }
    .accessories-list {
      margin-bottom: 50px;
    }
    
  }
}

@media (max-width:$phone) {
  .search-results {
    .bar-tone {
      .search {
          width: 60%;
      }
      .search-left {
        width: 85%;
      }
    }
  }
}
