@font-face {
  font-family: 'SST-Roman';
  src: url("../fonts/sst-roman.eot");
  src: url("../fonts/sst-roman.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SST-Italic';
  src: url("../fonts/sst-italic.eot");
  src: url("../fonts/sst-italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SST-Light';
  src: url("../fonts/sst-light.eot");
  src: url("../fonts/sst-light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SST-Light-Italic';
  src: url("../fonts/sst-light-italic.eot");
  src: url("../fonts/sst-light-italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SST-Medium';
  src: url("../fonts/sst-medium.eot");
  src: url("../fonts/sst-medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SST-Medium-Italic';
  src: url("../fonts/sst-medium-italic.eot");
  src: url("../fonts/sst-medium-italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SST-Bold';
  src: url("../fonts/sst-bold.eot");
  src: url("../fonts/sst-bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
