@font-face {
  font-family: "Sony-Icons";
  src: url("../../fonts/Sony-Icons.eot");
  src: url("../../fonts/Sony-Icons.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
