/* line 4, ../../../src/css/scss/_modules/carousel.scss */
.carousel .carousel-container .carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

/* line 11, ../../../src/css/scss/_modules/carousel.scss */
.carousel {
  position: relative;
  width: 100%;
  height: 460px;
}
/* line 20, ../../../src/css/scss/_modules/carousel.scss */
.carousel .carousel-container {
  position: relative;
  width: 960px;
  height: 460px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
/* line 31, ../../../src/css/scss/_modules/carousel.scss */
.carousel .carousel-container .carousel-slide {
  width: 100%;
  height: 100%;
  background-color: #00ff00;
}
