/* line 4, ../../../src/css/scss/_modules/carousel.scss */
.carousel .carousel-container, .carousel .carousel-container .carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

/* line 11, ../../../src/css/scss/_modules/carousel.scss */
.carousel {
  position: relative;
}
