@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$phoneMax: px-em(767);
$tabletMin: px-em(768);
$tabletMax: px-em(979);
$desktopMin: px-em(980);

@media (min-width: $tabletMin) and (max-width:$tabletMax) {
    .unsupported {
        padding: 0 4%;
        .media-content {
            padding-left: 4%;
        }
        .browser-list {
            .span6 {
                width: 100%;
                margin: 0;
            }
        }
    }
}

@media (max-width: $phoneMax) {
    .unsupported {
        width: auto;
        .link-proceed {
            display: none;
        }
        .btn {
            display: inline-block;
        }
        .unsupported-bd {
            display: none;
        }
        .unsupported-bd-alt {
            display: block;
            margin: 16px auto 44px;
            .p3 {
                line-height: 1.7em;
            }
        }
        .browser-list {
            display: none;
        }
    }

    .modal-unsupported {
        top: 0;
        height: 100%;
        &.fade.in{
            top: 0;
        }
        .container {
            width: 100%;
            height: 100%;
            .grid {
                width: 100%;
                height: 100%;
            }
        }
        .box-close {
            display: none;
        }
        .modal-body {
            padding: 2.3em 1em;
        }
    }
}
