@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.modal-unsupported {

  .container {
    height: 100%;

    .modal-inner {
      height: 100%;
      height: auto\9;
      overflow: hidden;
    }
  }

  // Nothing in the header except close button
  .modal-header {
    padding: 0;
  }

  .modal-body {
    padding: 2em;
    max-height: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .box-close i {
    width: 14px;
    height: 20px;
  }
}

.unsupported {
  text-align: center;

  .media {
    text-align: left;
  }

  .media .pull-left {
    margin-right: 18px;
    max-height: 68px;
  }

  .media .media-object {
    max-width: 72px;
    max-height: 100%;
  }

  .media-hd {
    color: $gray20;
    padding: 6px 0 5px;
    margin: 0;
  }

  .media-bd {
    color: $gray40;
  }

  .browser-list {
    margin-bottom: 16px;
  }

  .browser-link {
    display: block;
    margin-bottom: 20px;
    padding: 20px 25px 14px;
    background: $gray80;
  }

  .unsupported-hd {
    margin-top: 20px;
  }

  .unsupported-bd {
    width: 430px;
    margin: 20px auto 40px;
  }

  .unsupported-bd-alt {
    display: none;
    max-width: 400px;
    padding: 0 20px;
    margin: 25px auto 50px;
  }

  .browser-link:hover,
  .browser-link:focus {
    background: $gray75;
  }

  .browser-link:active {
    background: $gray70;
  }

  // Hide button which is shown at mobile
  .btn {
    display: none;
  }

  .lt-ie10 & .container {
    width: auto;
  }

  .link-proceed {
    display: inline-block;
    margin-bottom: 10px;
  }
}


