---
title:  S2 One Sony Tout Carousel
description: Four Column
---

doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
	title  S2 One Sony Tout Carousel
	!{partial('includes/head.html.jade', l)}
	
body
    #page-wrap-outer.page-wrap-outer
      #page-wrap-inner.page-wrap-inner        

    	          e = {"locals":locals, "data":data("one-sony-tout-carousel-s2/four-column-examples.json")}          !{partial("modules/one-sony-tout-carousel-s2.html.jade", e)}
    	
    !{partial('includes/foot.html.jade', l)}
