@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$tabletMax: px-em(979);
$phoneMax: px-em(767);

@media (max-width: $tabletMax) {
	.country-region {
		.country-region-hdg {
			margin: 40px 0 30px;
		}
		.continent {
			margin: 40px 0 24px;
		}
		.matte {
			margin-bottom: 40px;
		}
		.country-region-info {
			margin-bottom: 70px;
		}
	}
}

@media (max-width: $phoneMax) {
	.country-region {
		.country-region-hdg {
			margin: 30px 0 20px;
		}
		.continent {
			margin: 30px 0 18px;
			font-size: 1.125em;
		}
		.matte {
			margin-bottom: 30px;
		}
		.country-region-info {
			margin-bottom: 60px;
		}
	}
}
