.country-region {
    .icon-flag{display:block; background-image:url('../../img/country-region-selection-z10/flags.png');background-repeat:no-repeat;margin-bottom: 2px; width:20px;height:14px;}
    .icon-flag-ZW{background-position:0px 0px;}
    .icon-flag-ZM{background-position:-20px 0px;}
    .icon-flag-YE{background-position:0px -14px;}
    .icon-flag-EH{background-position:-20px -14px;}
    .icon-flag-wales{background-position:-40px 0px;}
    .icon-flag-VN{background-position:-40px -14px;}
    .icon-flag-VE{background-position:0px -28px;}
    .icon-flag-vatican-city{background-position:-20px -28px;}
    .icon-flag-VU{background-position:-40px -28px;}
    .icon-flag-UZ{background-position:0px -42px;}
    .icon-flag-UY{background-position:-20px -42px;}
    .icon-flag-US{background-position:-40px -42px;}
    .icon-flag-GB{background-position:-60px 0px;}
    .icon-flag-AE{background-position:-60px -14px;}
    .icon-flag-UA{background-position:-60px -28px;}
    .icon-flag-UG{background-position:-60px -42px;}
    .icon-flag-TV{background-position:0px -56px;}
    .icon-flag-TM{background-position:-20px -56px;}
    .icon-flag-TR{background-position:-40px -56px;}
    .icon-flag-TN{background-position:-60px -56px;}
    .icon-flag-TT{background-position:-80px 0px;}
    .icon-flag-TO{background-position:-80px -14px;}
    .icon-flag-TG{background-position:-80px -28px;}
    .icon-flag-TL{background-position:-80px -42px;}
    .icon-flag-TH{background-position:-80px -56px;}
    .icon-flag-TZ{background-position:0px -70px;}
    .icon-flag-TJ{background-position:-20px -70px;}
    .icon-flag-TW{background-position:-40px -70px;}
    .icon-flag-SY{background-position:-60px -70px;}
    .icon-flag-CH{background-position:-80px -70px;}
    .icon-flag-SE{background-position:0px -84px;}
    .icon-flag-SZ{background-position:-20px -84px;}
    .icon-flag-SR{background-position:-40px -84px;}
    .icon-flag-SD{background-position:-60px -84px;}
    .icon-flag-LK{background-position:-80px -84px;}
    .icon-flag-ES{background-position:-100px 0px;}
    .icon-flag-KR{background-position:-100px -14px;}
    .icon-flag-ZA{background-position:-100px -28px;}
    .icon-flag-SO{background-position:-100px -42px;}
    .icon-flag-SB{background-position:-100px -56px;}
    .icon-flag-SI{background-position:-100px -70px;}
    .icon-flag-SK{background-position:-100px -84px;}
    .icon-flag-SG{background-position:0px -98px;}
    .icon-flag-SL{background-position:-20px -98px;}
    .icon-flag-SC{background-position:-40px -98px;}
    .icon-flag-RS{background-position:-60px -98px;}
    .icon-flag-SN{background-position:-80px -98px;}
    .icon-flag-scotland{background-position:-100px -98px;}
    .icon-flag-SA{background-position:-120px 0px;}
    .icon-flag-ST{background-position:-120px -14px;}
    .icon-flag-SM{background-position:-120px -28px;}
    .icon-flag-WS{background-position:-120px -42px;}
    .icon-flag-VC{background-position:-120px -56px;}
    .icon-flag-LC{background-position:-120px -70px;}
    .icon-flag-KN{background-position:-120px -84px;}
    .icon-flag-RW{background-position:-120px -98px;}
    .icon-flag-RU{background-position:0px -112px;}
    .icon-flag-RO{background-position:-20px -112px;}
    .icon-flag-CG{background-position:-40px -112px;}
    .icon-flag-QA{background-position:-60px -112px;}
    .icon-flag-PR{background-position:-80px -112px;}
    .icon-flag-PT{background-position:-100px -112px;}
    .icon-flag-PL{background-position:-120px -112px;}
    .icon-flag-PH{background-position:0px -126px;}
    .icon-flag-PE{background-position:-20px -126px;}
    .icon-flag-PY{background-position:-40px -126px;}
    .icon-flag-PG{background-position:-60px -126px;}
    .icon-flag-PA{background-position:-80px -126px;}
    .icon-flag-PS{background-position:-100px -126px;}
    .icon-flag-PW{background-position:-120px -126px;}
    .icon-flag-PK{background-position:-140px 0px;}
    .icon-flag-OM{background-position:-140px -14px;}
    .icon-flag-NO{background-position:-140px -28px;}
    .icon-flag-northern-ireland{background-position:-140px -42px;}
    .icon-flag-KP{background-position:-140px -56px;}
    .icon-flag-NG{background-position:-140px -70px;}
    .icon-flag-NE{background-position:-140px -84px;}
    .icon-flag-NI{background-position:-140px -98px;}
    .icon-flag-NZ{background-position:-140px -112px;}
    .icon-flag-NL{background-position:-140px -126px;}
    .icon-flag-NP{background-position:0px -140px;}
    .icon-flag-NR{background-position:-20px -140px;}
    .icon-flag-NA{background-position:-40px -140px;}
    .icon-flag-MM{background-position:-60px -140px;}
    .icon-flag-MZ{background-position:-80px -140px;}
    .icon-flag-MA{background-position:-100px -140px;}
    .icon-flag-ME{background-position:-120px -140px;}
    .icon-flag-MN{background-position:-140px -140px;}
    .icon-flag-MC{background-position:-160px 0px;}
    .icon-flag-MD{background-position:-160px -14px;}
    .icon-flag-FM{background-position:-160px -28px;}
    .icon-flag-MX{background-position:-160px -42px;}
    .icon-flag-MU{background-position:-160px -56px;}
    .icon-flag-MR{background-position:-160px -70px;}
    .icon-flag-MH{background-position:-160px -84px;}
    .icon-flag-MT{background-position:-160px -98px;}
    .icon-flag-ML{background-position:-160px -112px;}
    .icon-flag-MV{background-position:-160px -126px;}
    .icon-flag-MY{background-position:-160px -140px;}
    .icon-flag-MW{background-position:0px -154px;}
    .icon-flag-MG{background-position:-20px -154px;}
    .icon-flag-MK{background-position:-40px -154px;}
    .icon-flag-MO{background-position:-60px -154px;}
    .icon-flag-LY{background-position:-80px -154px;}
    .icon-flag-LU{background-position:-100px -154px;}
    .icon-flag-LT{background-position:-120px -154px;}
    .icon-flag-LI{background-position:-140px -154px;}
    .icon-flag-LR{background-position:-160px -154px;}
    .icon-flag-LS{background-position:-180px 0px;}
    .icon-flag-LB{background-position:-180px -14px;}
    .icon-flag-LV{background-position:-180px -28px;}
    .icon-flag-LA{background-position:-180px -42px;}
    .icon-flag-KG{background-position:-180px -56px;}
    .icon-flag-KW{background-position:-180px -70px;}
    .icon-flag-KI{background-position:-180px -84px;}
    .icon-flag-KE{background-position:-180px -98px;}
    .icon-flag-KZ{background-position:-180px -112px;}
    .icon-flag-JO{background-position:-180px -126px;}
    .icon-flag-JP{background-position:-180px -140px;}
    .icon-flag-JM{background-position:-180px -154px;}
    .icon-flag-IT{background-position:0px -168px;}
    .icon-flag-IL{background-position:-20px -168px;}
    .icon-flag-IE{background-position:-40px -168px;}
    .icon-flag-IQ{background-position:-60px -168px;}
    .icon-flag-IR{background-position:-80px -168px;}
    .icon-flag-ID{background-position:-100px -168px;}
    .icon-flag-IN{background-position:-120px -168px;}
    .icon-flag-IS{background-position:-140px -168px;}
    .icon-flag-HU{background-position:-160px -168px;}
    .icon-flag-HK{background-position:-180px -168px;}
    .icon-flag-HN{background-position:0px -182px;}
    .icon-flag-HT{background-position:-20px -182px;}
    .icon-flag-GY{background-position:-40px -182px;}
    .icon-flag-GN{background-position:-60px -182px;}
    .icon-flag-GW{background-position:-80px -182px;}
    .icon-flag-GT{background-position:-100px -182px;}
    .icon-flag-GD{background-position:-120px -182px;}
    .icon-flag-GL{background-position:-140px -182px;}
    .icon-flag-GR{background-position:-160px -182px;}
    .icon-flag-GI{background-position:-180px -182px;}
    .icon-flag-GH{background-position:-200px 0px;}
    .icon-flag-DE{background-position:-200px -14px;}
    .icon-flag-GE{background-position:-200px -28px;}
    .icon-flag-GM{background-position:-200px -42px;}
    .icon-flag-GA{background-position:-200px -56px;}
    .icon-flag-FR{background-position:-200px -70px;}
    .icon-flag-FI{background-position:-200px -84px;}
    .icon-flag-FJ{background-position:-200px -98px;}
    .icon-flag-FO{background-position:-200px -112px;}
    .icon-flag-european-union{background-position:-200px -126px;}
    .icon-flag-ET{background-position:-200px -140px;}
    .icon-flag-EE{background-position:-200px -154px;}
    .icon-flag-ER{background-position:-200px -168px;}
    .icon-flag-GQ{background-position:-200px -182px;}
    .icon-flag-SV{background-position:-20px -196px;}
    .icon-flag-EG{background-position:-40px -196px;}
    .icon-flag-EC{background-position:-60px -196px;}
    .icon-flag-DO{background-position:-80px -196px;}
    .icon-flag-DM{background-position:-100px -196px;}
    .icon-flag-DJ{background-position:-120px -196px;}
    .icon-flag-DK{background-position:-140px -196px;}
    .icon-flag-CD{background-position:-160px -196px;}
    .icon-flag-CZ{background-position:-180px -196px;}
    .icon-flag-CY{background-position:-200px -196px;}
    .icon-flag-CU{background-position:-220px 0px;}
    .icon-flag-HR{background-position:-220px -14px;}
    .icon-flag-CI{background-position:-220px -28px;}
    .icon-flag-CR{background-position:-220px -42px;}
    .icon-flag-KM{background-position:-220px -56px;}
    .icon-flag-CO{background-position:-220px -70px;}
    .icon-flag-CN{background-position:-220px -84px;}
    .icon-flag-CL{background-position:-220px -98px;}
    .icon-flag-TD{background-position:-220px -112px;}
    .icon-flag-CF{background-position:-220px -126px;}
    .icon-flag-catalonia{background-position:-220px -140px;}
    .icon-flag-CV{background-position:-220px -154px;}
    .icon-flag-CA{background-position:-220px -168px;}
    .icon-flag-CM{background-position:-220px -182px;}
    .icon-flag-KH{background-position:-220px -196px;}
    .icon-flag-BI{background-position:0px -210px;}
    .icon-flag-BF{background-position:-20px -210px;}
    .icon-flag-BG{background-position:-40px -210px;}
    .icon-flag-BN{background-position:-60px -210px;}
    .icon-flag-BR{background-position:-80px -210px;}
    .icon-flag-BW{background-position:-100px -210px;}
    .icon-flag-BA{background-position:-120px -210px;}
    .icon-flag-BO{background-position:-140px -210px;}
    .icon-flag-BT{background-position:-160px -210px;}
    .icon-flag-BJ{background-position:-180px -210px;}
    .icon-flag-BZ{background-position:-200px -210px;}
    .icon-flag-BE{background-position:-220px -210px;}
    .icon-flag-BY{background-position:0px -224px;}
    .icon-flag-BB{background-position:-20px -224px;}
    .icon-flag-BD{background-position:-40px -224px;}
    .icon-flag-BH{background-position:-60px -224px;}
    .icon-flag-BS{background-position:-80px -224px;}
    .icon-flag-AZ{background-position:-100px -224px;}
    .icon-flag-AT{background-position:-120px -224px;}
    .icon-flag-AU{background-position:-140px -224px;}
    .icon-flag-AW{background-position:-160px -224px;}
    .icon-flag-AM{background-position:-180px -224px;}
    .icon-flag-AR{background-position:-200px -224px;}
    .icon-flag-AG{background-position:-220px -224px;}
    .icon-flag-AQ{background-position:-240px 0px;}
    .icon-flag-AO{background-position:-240px -14px;}
    .icon-flag-AD{background-position:-240px -28px;}
    .icon-flag-DZ{background-position:-240px -42px;}
    .icon-flag-AL{background-position:-240px -56px;}
    .icon-flag-middle-east{background-position:-240px -70px;width:20px;height:14px}
    @media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min--moz-device-pixel-ratio: 2.0), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2.0) {.icon-flag-zimbabwe,
    .icon-flag{background-image:url('../../img/country-region-selection-z10/flags@2x.png');-webkit-background-size: 260px 238px;-moz-background-size: 260px 238px;background-size: 260px 238px;}}
}
