.icon-flag{display:block; background-image:url('../../img/country-region-selection-z10/flags.png');background-repeat:no-repeat;margin-bottom: 2px;}
.icon-flag-zimbabwe{background-position:0px 0px;width:20px;height:14px;}
.icon-flag-zambia{background-position:-20px 0px;width:20px;height:14px;}
.icon-flag-yemen{background-position:0px -14px;width:20px;height:14px;}
.icon-flag-western-sahara{background-position:-20px -14px;width:20px;height:14px;}
.icon-flag-wales{background-position:-40px 0px;width:20px;height:14px;}
.icon-flag-vietnam{background-position:-40px -14px;width:20px;height:14px;}
.icon-flag-venezuela{background-position:0px -28px;width:20px;height:14px;}
.icon-flag-vatican-city{background-position:-20px -28px;width:20px;height:14px;}
.icon-flag-vanatu{background-position:-40px -28px;width:20px;height:14px;}
.icon-flag-uzbekistan{background-position:0px -42px;width:20px;height:14px;}
.icon-flag-uruguay{background-position:-20px -42px;width:20px;height:14px;}
.icon-flag-united-states{background-position:-40px -42px;width:20px;height:14px;}
.icon-flag-united-kingdom{background-position:-60px 0px;width:20px;height:14px;}
.icon-flag-united-arab-emirates{background-position:-60px -14px;width:20px;height:14px;}
.icon-flag-ukraine{background-position:-60px -28px;width:20px;height:14px;}
.icon-flag-uganda{background-position:-60px -42px;width:20px;height:14px;}
.icon-flag-tuvalu{background-position:0px -56px;width:20px;height:14px;}
.icon-flag-turkmenistan{background-position:-20px -56px;width:20px;height:14px;}
.icon-flag-turkey{background-position:-40px -56px;width:20px;height:14px;}
.icon-flag-tunisia{background-position:-60px -56px;width:20px;height:14px;}
.icon-flag-trinidad-tobago{background-position:-80px 0px;width:20px;height:14px;}
.icon-flag-tonga{background-position:-80px -14px;width:20px;height:14px;}
.icon-flag-togo{background-position:-80px -28px;width:20px;height:14px;}
.icon-flag-timor-leste{background-position:-80px -42px;width:20px;height:14px;}
.icon-flag-thailand{background-position:-80px -56px;width:20px;height:14px;}
.icon-flag-tanzania{background-position:0px -70px;width:20px;height:14px;}
.icon-flag-tajikistan{background-position:-20px -70px;width:20px;height:14px;}
.icon-flag-taiwan{background-position:-40px -70px;width:20px;height:14px;}
.icon-flag-syria{background-position:-60px -70px;width:20px;height:14px;}
.icon-flag-switzerland{background-position:-80px -70px;width:20px;height:14px;}
.icon-flag-sweden{background-position:0px -84px;width:20px;height:14px;}
.icon-flag-swaziland{background-position:-20px -84px;width:20px;height:14px;}
.icon-flag-suriname{background-position:-40px -84px;width:20px;height:14px;}
.icon-flag-sudan{background-position:-60px -84px;width:20px;height:14px;}
.icon-flag-sri-lanka{background-position:-80px -84px;width:20px;height:14px;}
.icon-flag-spain{background-position:-100px 0px;width:20px;height:14px;}
.icon-flag-south-korea{background-position:-100px -14px;width:20px;height:14px;}
.icon-flag-south-africa{background-position:-100px -28px;width:20px;height:14px;}
.icon-flag-somalia{background-position:-100px -42px;width:20px;height:14px;}
.icon-flag-solomon-islands{background-position:-100px -56px;width:20px;height:14px;}
.icon-flag-slovenia{background-position:-100px -70px;width:20px;height:14px;}
.icon-flag-slovakia{background-position:-100px -84px;width:20px;height:14px;}
.icon-flag-singapore{background-position:0px -98px;width:20px;height:14px;}
.icon-flag-sierra-leone{background-position:-20px -98px;width:20px;height:14px;}
.icon-flag-seychelles{background-position:-40px -98px;width:20px;height:14px;}
.icon-flag-serbia{background-position:-60px -98px;width:20px;height:14px;}
.icon-flag-senegal{background-position:-80px -98px;width:20px;height:14px;}
.icon-flag-scotland{background-position:-100px -98px;width:20px;height:14px;}
.icon-flag-saudi-arabia{background-position:-120px 0px;width:20px;height:14px;}
.icon-flag-sao-tome-principe{background-position:-120px -14px;width:20px;height:14px;}
.icon-flag-san-marino{background-position:-120px -28px;width:20px;height:14px;}
.icon-flag-samoa{background-position:-120px -42px;width:20px;height:14px;}
.icon-flag-saint-vincent-grenadines{background-position:-120px -56px;width:20px;height:14px;}
.icon-flag-saint-lucia{background-position:-120px -70px;width:20px;height:14px;}
.icon-flag-saint-kitts-nevis{background-position:-120px -84px;width:20px;height:14px;}
.icon-flag-rwanda{background-position:-120px -98px;width:20px;height:14px;}
.icon-flag-russia{background-position:0px -112px;width:20px;height:14px;}
.icon-flag-romania{background-position:-20px -112px;width:20px;height:14px;}
.icon-flag-republic-congo{background-position:-40px -112px;width:20px;height:14px;}
.icon-flag-qatar{background-position:-60px -112px;width:20px;height:14px;}
.icon-flag-puerto-rico{background-position:-80px -112px;width:20px;height:14px;}
.icon-flag-portugal{background-position:-100px -112px;width:20px;height:14px;}
.icon-flag-poland{background-position:-120px -112px;width:20px;height:14px;}
.icon-flag-philippines{background-position:0px -126px;width:20px;height:14px;}
.icon-flag-peru{background-position:-20px -126px;width:20px;height:14px;}
.icon-flag-paraguay{background-position:-40px -126px;width:20px;height:14px;}
.icon-flag-papua-new-guinea{background-position:-60px -126px;width:20px;height:14px;}
.icon-flag-panama{background-position:-80px -126px;width:20px;height:14px;}
.icon-flag-palestine{background-position:-100px -126px;width:20px;height:14px;}
.icon-flag-palau{background-position:-120px -126px;width:20px;height:14px;}
.icon-flag-pakistan{background-position:-140px 0px;width:20px;height:14px;}
.icon-flag-oman{background-position:-140px -14px;width:20px;height:14px;}
.icon-flag-norway{background-position:-140px -28px;width:20px;height:14px;}
.icon-flag-northern-ireland{background-position:-140px -42px;width:20px;height:14px;}
.icon-flag-north-korea{background-position:-140px -56px;width:20px;height:14px;}
.icon-flag-nigeria{background-position:-140px -70px;width:20px;height:14px;}
.icon-flag-niger{background-position:-140px -84px;width:20px;height:14px;}
.icon-flag-nicaragua{background-position:-140px -98px;width:20px;height:14px;}
.icon-flag-new-zealand{background-position:-140px -112px;width:20px;height:14px;}
.icon-flag-netherlands{background-position:-140px -126px;width:20px;height:14px;}
.icon-flag-nepal{background-position:0px -140px;width:20px;height:14px;}
.icon-flag-nauru{background-position:-20px -140px;width:20px;height:14px;}
.icon-flag-namibia{background-position:-40px -140px;width:20px;height:14px;}
.icon-flag-myanmar{background-position:-60px -140px;width:20px;height:14px;}
.icon-flag-mozambique{background-position:-80px -140px;width:20px;height:14px;}
.icon-flag-morocco{background-position:-100px -140px;width:20px;height:14px;}
.icon-flag-montenegro{background-position:-120px -140px;width:20px;height:14px;}
.icon-flag-mongolia{background-position:-140px -140px;width:20px;height:14px;}
.icon-flag-monaco{background-position:-160px 0px;width:20px;height:14px;}
.icon-flag-moldova{background-position:-160px -14px;width:20px;height:14px;}
.icon-flag-micronesia{background-position:-160px -28px;width:20px;height:14px;}
.icon-flag-mexico{background-position:-160px -42px;width:20px;height:14px;}
.icon-flag-mauritius{background-position:-160px -56px;width:20px;height:14px;}
.icon-flag-mauritania{background-position:-160px -70px;width:20px;height:14px;}
.icon-flag-marshall-islands{background-position:-160px -84px;width:20px;height:14px;}
.icon-flag-malta{background-position:-160px -98px;width:20px;height:14px;}
.icon-flag-mali{background-position:-160px -112px;width:20px;height:14px;}
.icon-flag-maldives{background-position:-160px -126px;width:20px;height:14px;}
.icon-flag-malaysia{background-position:-160px -140px;width:20px;height:14px;}
.icon-flag-malawi{background-position:0px -154px;width:20px;height:14px;}
.icon-flag-madagascar{background-position:-20px -154px;width:20px;height:14px;}
.icon-flag-macedonia{background-position:-40px -154px;width:20px;height:14px;}
.icon-flag-macau{background-position:-60px -154px;width:20px;height:14px;}
.icon-flag-lybia{background-position:-80px -154px;width:20px;height:14px;}
.icon-flag-luxembourg{background-position:-100px -154px;width:20px;height:14px;}
.icon-flag-lithuania{background-position:-120px -154px;width:20px;height:14px;}
.icon-flag-liechtenstein{background-position:-140px -154px;width:20px;height:14px;}
.icon-flag-liberia{background-position:-160px -154px;width:20px;height:14px;}
.icon-flag-lesotho{background-position:-180px 0px;width:20px;height:14px;}
.icon-flag-lebanon{background-position:-180px -14px;width:20px;height:14px;}
.icon-flag-latvia{background-position:-180px -28px;width:20px;height:14px;}
.icon-flag-laos{background-position:-180px -42px;width:20px;height:14px;}
.icon-flag-kyrgyzstan{background-position:-180px -56px;width:20px;height:14px;}
.icon-flag-kuwait{background-position:-180px -70px;width:20px;height:14px;}
.icon-flag-kiribati{background-position:-180px -84px;width:20px;height:14px;}
.icon-flag-kenya{background-position:-180px -98px;width:20px;height:14px;}
.icon-flag-kazakhstan{background-position:-180px -112px;width:20px;height:14px;}
.icon-flag-jordan{background-position:-180px -126px;width:20px;height:14px;}
.icon-flag-japan{background-position:-180px -140px;width:20px;height:14px;}
.icon-flag-jamaica{background-position:-180px -154px;width:20px;height:14px;}
.icon-flag-italy{background-position:0px -168px;width:20px;height:14px;}
.icon-flag-israel{background-position:-20px -168px;width:20px;height:14px;}
.icon-flag-ireland{background-position:-40px -168px;width:20px;height:14px;}
.icon-flag-iraq{background-position:-60px -168px;width:20px;height:14px;}
.icon-flag-iran{background-position:-80px -168px;width:20px;height:14px;}
.icon-flag-indonesia{background-position:-100px -168px;width:20px;height:14px;}
.icon-flag-india{background-position:-120px -168px;width:20px;height:14px;}
.icon-flag-iceland{background-position:-140px -168px;width:20px;height:14px;}
.icon-flag-hungary{background-position:-160px -168px;width:20px;height:14px;}
.icon-flag-hong-kong{background-position:-180px -168px;width:20px;height:14px;}
.icon-flag-honduras{background-position:0px -182px;width:20px;height:14px;}
.icon-flag-haiti{background-position:-20px -182px;width:20px;height:14px;}
.icon-flag-guyana{background-position:-40px -182px;width:20px;height:14px;}
.icon-flag-guinea{background-position:-60px -182px;width:20px;height:14px;}
.icon-flag-guinea-bissau{background-position:-80px -182px;width:20px;height:14px;}
.icon-flag-guatemala{background-position:-100px -182px;width:20px;height:14px;}
.icon-flag-grenada{background-position:-120px -182px;width:20px;height:14px;}
.icon-flag-greenland{background-position:-140px -182px;width:20px;height:14px;}
.icon-flag-greece{background-position:-160px -182px;width:20px;height:14px;}
.icon-flag-gibraltar{background-position:-180px -182px;width:20px;height:14px;}
.icon-flag-ghana{background-position:-200px 0px;width:20px;height:14px;}
.icon-flag-germany{background-position:-200px -14px;width:20px;height:14px;}
.icon-flag-georgia{background-position:-200px -28px;width:20px;height:14px;}
.icon-flag-gambia{background-position:-200px -42px;width:20px;height:14px;}
.icon-flag-gabon{background-position:-200px -56px;width:20px;height:14px;}
.icon-flag-france{background-position:-200px -70px;width:20px;height:14px;}
.icon-flag-finland{background-position:-200px -84px;width:20px;height:14px;}
.icon-flag-fiji{background-position:-200px -98px;width:20px;height:14px;}
.icon-flag-faroe-islands{background-position:-200px -112px;width:20px;height:14px;}
.icon-flag-european-union{background-position:-200px -126px;width:20px;height:14px;}
.icon-flag-ethiopia{background-position:-200px -140px;width:20px;height:14px;}
.icon-flag-estonia{background-position:-200px -154px;width:20px;height:14px;}
.icon-flag-eritrea{background-position:-200px -168px;width:20px;height:14px;}
.icon-flag-equatorial-guinea{background-position:-200px -182px;width:20px;height:14px;}
.icon-flag-england{background-position:0px -196px;width:20px;height:14px;}
.icon-flag-el-salvador{background-position:-20px -196px;width:20px;height:14px;}
.icon-flag-egypt{background-position:-40px -196px;width:20px;height:14px;}
.icon-flag-ecuador{background-position:-60px -196px;width:20px;height:14px;}
.icon-flag-dominican-republic{background-position:-80px -196px;width:20px;height:14px;}
.icon-flag-dominica{background-position:-100px -196px;width:20px;height:14px;}
.icon-flag-djibouti{background-position:-120px -196px;width:20px;height:14px;}
.icon-flag-denmark{background-position:-140px -196px;width:20px;height:14px;}
.icon-flag-democratic-republic-congo{background-position:-160px -196px;width:20px;height:14px;}
.icon-flag-czech-republic{background-position:-180px -196px;width:20px;height:14px;}
.icon-flag-cyprus{background-position:-200px -196px;width:20px;height:14px;}
.icon-flag-cuba{background-position:-220px 0px;width:20px;height:14px;}
.icon-flag-croatia{background-position:-220px -14px;width:20px;height:14px;}
.icon-flag-cote-divoire{background-position:-220px -28px;width:20px;height:14px;}
.icon-flag-costa-rica{background-position:-220px -42px;width:20px;height:14px;}
.icon-flag-comoros{background-position:-220px -56px;width:20px;height:14px;}
.icon-flag-colombia{background-position:-220px -70px;width:20px;height:14px;}
.icon-flag-china{background-position:-220px -84px;width:20px;height:14px;}
.icon-flag-chile{background-position:-220px -98px;width:20px;height:14px;}
.icon-flag-chad{background-position:-220px -112px;width:20px;height:14px;}
.icon-flag-central-african-republic{background-position:-220px -126px;width:20px;height:14px;}
.icon-flag-catalonia{background-position:-220px -140px;width:20px;height:14px;}
.icon-flag-cape-verde{background-position:-220px -154px;width:20px;height:14px;}
.icon-flag-canada{background-position:-220px -168px;width:20px;height:14px;}
.icon-flag-cameroon{background-position:-220px -182px;width:20px;height:14px;}
.icon-flag-cambodia{background-position:-220px -196px;width:20px;height:14px;}
.icon-flag-burundi{background-position:0px -210px;width:20px;height:14px;}
.icon-flag-burkina-faso{background-position:-20px -210px;width:20px;height:14px;}
.icon-flag-bulgaria{background-position:-40px -210px;width:20px;height:14px;}
.icon-flag-brunei{background-position:-60px -210px;width:20px;height:14px;}
.icon-flag-brazil{background-position:-80px -210px;width:20px;height:14px;}
.icon-flag-botswana{background-position:-100px -210px;width:20px;height:14px;}
.icon-flag-bosnia-herzegovina{background-position:-120px -210px;width:20px;height:14px;}
.icon-flag-bolivia{background-position:-140px -210px;width:20px;height:14px;}
.icon-flag-bhutan{background-position:-160px -210px;width:20px;height:14px;}
.icon-flag-benin{background-position:-180px -210px;width:20px;height:14px;}
.icon-flag-belize{background-position:-200px -210px;width:20px;height:14px;}
.icon-flag-belgium{background-position:-220px -210px;width:20px;height:14px;}
.icon-flag-belarus{background-position:0px -224px;width:20px;height:14px;}
.icon-flag-barbados{background-position:-20px -224px;width:20px;height:14px;}
.icon-flag-bangladesh{background-position:-40px -224px;width:20px;height:14px;}
.icon-flag-bahrain{background-position:-60px -224px;width:20px;height:14px;}
.icon-flag-bahamas{background-position:-80px -224px;width:20px;height:14px;}
.icon-flag-azerbaijan{background-position:-100px -224px;width:20px;height:14px;}
.icon-flag-austria{background-position:-120px -224px;width:20px;height:14px;}
.icon-flag-australia{background-position:-140px -224px;width:20px;height:14px;}
.icon-flag-aruba{background-position:-160px -224px;width:20px;height:14px;}
.icon-flag-armenia{background-position:-180px -224px;width:20px;height:14px;}
.icon-flag-argentina{background-position:-200px -224px;width:20px;height:14px;}
.icon-flag-antigua-barbuda{background-position:-220px -224px;width:20px;height:14px;}
.icon-flag-antartica{background-position:-240px 0px;width:20px;height:14px;}
.icon-flag-angola{background-position:-240px -14px;width:20px;height:14px;}
.icon-flag-andorra{background-position:-240px -28px;width:20px;height:14px;}
.icon-flag-algeria{background-position:-240px -42px;width:20px;height:14px;}
.icon-flag-albania{background-position:-240px -56px;width:20px;height:14px;}
@media only screen and (-webkit-min-device-pixel-ratio: 2.0), only screen and (min--moz-device-pixel-ratio: 2.0), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2.0) {.icon-flag-zimbabwe,
.icon-flag{background-image:url('../../img/country-region-selection-z10/flags@2x.png');-webkit-background-size: 260px 238px;-moz-background-size: 260px 238px;background-size: 260px 238px;}}
