@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";
@import "country-region-selection-flags";

.country-region {
  .continent-sticky-header {
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding-left: 22px;
    position: fixed;
    z-index: 1000;
    background-color: $white;
    display: none;
    -webkit-box-shadow: 0 0.0625em 0.625em rgba(39, 43, 55, 0.25);
    box-shadow: 0 0.0625em 0.625em rgba(39, 43, 55, 0.25);
  }
  .country-region-hdg {
    margin: 50px 0 30px;
  }

  .matte {
      margin-top: 16px;
      margin-bottom: 50px;
      background-color: $gray80;
  }

  .continent-sticky-header-title {
    position: relative;
    padding: 12px 0;
  }

  .continent {
      margin: 50px 0 24px;
  }

  .countries {
      margin-top: 20px;
      margin-bottom: 14px;
      padding-bottom: 30px;
      border-bottom: 1px solid $gray60;
      @include clearfix();
      &:last-child {
        border: none;
      }
  }

  .countries ol {
    margin-left: -6px;
  }

  .countries li {
      margin-bottom: 1px;
  }

  .country {
      display: block;
      height: 26px;
      color: $gray40;
      font-size: 0.8125em;
      padding: 5px 0 0 6px;
  }

  .country:hover {
      background-color: $white;
      color: $gray20;
  }

  .media,
  .media-bd {
      overflow: hidden;
  }

  .media-img {
      float: left;
      margin-right: 11px;
  }

  .media-bd {
      line-height: 16px;
  }

  .scrollable {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
  }

  .country-region-info {
    margin-bottom: 80px;
  }

  .info-hd {
    font-size: 0.9375em;
    color: $gray20;
  }

  .info-bd {
    font-size: 0.8125em;
  }
}
