@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.ulinks-cat-wrapper {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  text-align: left;
  background-color: #fff;
  margin: 0;
  padding: 52px 0 96px 0; 
  .ul-content-box-outer {
    background-color: transparent;
  }
  .ulinks-header {
    border-bottom: 3px solid #e4e7eb;
    position: relative;
    padding-bottom: 20px; 
  }
  .ulinks-body-wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 1; 
    padding: 45px 0 0 0; 
  }
  .ulinks-body {
    display: inline-block;
    height: 210px; 
  }
  .ulinks-content-module {
    height: 210px;
    text-align: left;
    position: relative;
    /* overflow: hidden */; 
  }
  .utility-link { 
    padding: 0;
    margin: 0; 
  }
  .ulink-list {
    padding-top: 30px; 
  }
  .ul-content-box {
    padding: 30px 52px 40px 0px; 
    background-color: $gray80; 
  }
  .first {
    width: 35%;
    text-align: center;
    float: left; 
  }
  .last {
    max-width: 265px;
    width: 65%;    
    float: left; 
  }
}