//
// Responsive: Utility Links Content Container
// --------------------------------------------------

$tablet-breakpoint-max:px-em(979px);
$tablet-breakpoint-min:px-em(768px);
$mobile-breakpoint-max:px-em(767px);
$mobile-breakpoint-min:px-em(480px);
$min-breakpoint-max:px-em(479px);

$min-breakpoint-max-alt:px-em(567px);



$tenPercentInstaFlickr: percentage(10px/316px);
$fivePercentInstaFlickr: percentage(5px/316px);

@media (min-width: $tablet-breakpoint-min) and (max-width: $tablet-breakpoint-max) {

  // CATEGORY STYLES
  
  .ulinks-cat-wrapper {
    padding: 40px 0 80px 0;  
    
    .ulinks-body-wrapper {
      padding: 34px 0 80px 0; 
    }
    
    .ul-content-box {
      padding: 24px 8.939215686275% 34px 0px; 
    }
  
    .first {
      img { 
        width: 82.66667%; 
      }
    }
  
    .last {
      max-width: 210px; 
    }
      
    .ulink-list {
      padding-top: 24px; 
    }
  }

  // PDP STYLES

  #pdp-link-tail3 {
    margin-left: 0;
  }

}

@media (min-width: $mobile-breakpoint-min) and (max-width: $mobile-breakpoint-max) {

  // CATEGORY STYLES
  
  .ulinks-cat-wrapper {
    height: auto;

    .ulinks-body {
      height: auto;
    }

    .ulinks-body-wrapper {
      height: 434px;
      padding: 0;
      margin-bottom: 74px;
      margin-top: 32px;
    }
  
    .ulink-list {
      margin-bottom: 42px;
      padding-top: 0px;
      line-height: 17px;
      height: auto;
      width: 47.993827160494%;
    }
  
    .ul-content-box-outer {
      width: 100%;
      padding: 0;
      margin: 0;
      height: 180px;
    }
    
    .ul-content-box {
      padding: 32px 34px 42px 0px;
    }
    
    .first {
      width: 25.846153846154%;
      img {
        width: 62.130177514793%;
      }
    }
  
    .last {
      margin-top: 12px;
      max-width: 450px;
      width: 74.153846153846%;
      
      h5 {
        @include px-em--font-size--line-height(20,12);
        margin-bottom: 10px;
        line-height: 1em;
      }
      
      p {
        @include px-em--font-size--line-height(13,22);
        margin-bottom: 0;
        line-height: 1.4em;
      }

      a {
        @include px-em--font-size--line-height(13,22);
      }

    }
    
    .ulink-list {
      h5, a {
        @include px-em--font-size--line-height(13,22);
      }
    }
    
  }

  // PDP STYLES
  
  #pdp-link-tail1 {
    margin-left: 16%;
  }

  #pdp-link-tail2 {
    width: 34.5%;
    margin-left: 0;
  }

  #pdp-link-tail3 {
    margin-left: 12.5%;
  }

  #pdp-link-tail4 {
    margin-left: 0;
    width: 34.5%;
  }
  
  #pdp-g-head, #pdp-g-links {
    width: 99%;
    margin-left: 11.203319502075%;  
  }
    
}

@media (max-width: $min-breakpoint-max) {
  
  // CATEGORY
  
  .ulinks-cat-wrapper {
    height: auto;
    padding-top: 0;
    
    .ulinks-header {
      display: none;
    }
  
    .ulinks-content-module {
      height: auto;
    }
  
    .ulinks-body-wrapper {
      height: auto;
    }
  
    .ulinks-body {
      height: auto;
    }
  
    .ulink-list {
      width: 100%;
      margin-left: 0px;
      padding: 0 0 27px 0;
      h5 {
        margin-bottom: 5px;
        font-size: 18px;
      }
      a {
        font-size: 16px;
      }
      a, h5 {
        line-height: 2.3em;
      }
    }
    
    .ul-content-box {
      text-align: center;
      padding: 17px 40px 32px 40px;
    }
  
    .ul-content-box-outer {
      margin-left: 0px;
      width: 100%;
    }
  
    .first {
      width: 100%;
      float: none;
      img {
        width: 95px;
      }
    }
    
    .last {
      width: auto;
      max-width: none;
      float: none; 
      h5 {
        font-size: 20px;
        line-height: 26px;
      }
      p {
        font-size: 13px;
        line-height: 20px;
      }
      a {
        font-size: 16px;
      }
    }
  
  }
  
}

@media (max-width: $min-breakpoint-max-alt) {
  
  //PDP @ 567 breaks
  
  .ulinks-body {
    margin: 0;
  }
  
  .ulinks-pdp-wrapper {
    padding-bottom: 35px;
  }
  
  #pdp-product-image {
    display:none;
  }
  
  #pdp-g-head, #pdp-g-links {
    margin-left: 0;
  }
  
  #pdp-g-head .span4 {
    width: 100%;
    @include px-em--font-size--line-height(15,22);
  }
    
  #pdp-g-links .span4 {
    width: 100%;
    margin-left: 0;
    @include px-em--font-size--line-height(18,30);
  }
}