@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.ulinks-cat-wrapper {
  /* height: 420px; */
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  text-align: left;
  background-color: #fff;
  margin: 0;
  padding: 52px 0 96px 0; }

// CATEGORY STYLES

  .ulinks-cat-wrapper .ulinks-header {
      border-bottom: 3px solid #e4e7eb;
      position: relative;
      padding-bottom: 20px; }

  .ulinks-cat-wrapper .ulinks-body-wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 45px 0 0 0; }
    
  .ulinks-cat-wrapper .ulinks-body {
    display: inline-block;
    height: 210px; }

  .ulinks-cat-wrapper .ulinks-content-module {
    height: 210px;
    text-align: left;
    position: relative;
    overflow: hidden; }

  .ulinks-cat-wrapper .utility-link { 
    padding: 0;
    margin: 0; } // ul for list
  
  .ulinks-cat-wrapper .ulink-list {
    padding-top: 30px; }

  .ulinks-cat-wrapper .ul-content-box {
    padding: 30px 52px 40px 0px;
    background-color: #f4f6fa; }
    
  .ulinks-cat-wrapper .first {
    width: 35%;
    text-align: center;
    float: left; }

  .ulinks-cat-wrapper .last {
    max-width: 265px;
    width: 65%;    
    float: left; }
    

// PDP STYLES
    
.ulinks-pdp-wrapper {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  text-align: left;
  background-color: #fff;
  margin: 0;
  padding: 52px 0 96px 0; }


  .ulinks-pdp-wrapper .no-left-margin {
    margin-left: 0;
  }
  
  .ulinks-pdp-module .container {
    margin-left: 0;
  }
  
  .ulinks-pdp-wrapper .bump12 {
    margin-bottom: 12px;
  }
  
  .ulinks-pdp-wrapper .pdp-help-title {
    margin-bottom: 12px;
  }
  
  .ulinks-pdp-wrapper .pdp-link {
    display: inline-block;
    width: 29.381443298969%;
    min-width: 33.333333333334%;
  }
  
  #pdp-link-tail3 {
    margin-left: 0;
  }
  
  #pdp-g-links .span4 a, #pdp-g-head .pdp-help-title div {
    white-space: nowrap;
  }
