@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.promo-clearaudio {
  background-color: #f1f5f9;

  .sony-audio-player {

    nav {
      display: none;
    }
  }

  .clearaudio-player-controls {
    .clearaudio-pause {
      display: none;
    }
  }

  &.playing {

    .clearaudio-player-controls {

      .clearaudio-play {
        display: none;
      }

      .clearaudio-pause {
        display: block;
      }
    }
  }
}