//
// Breadcrumbs
// --------------------------------------------------

.breadcrumb-link {
  color: $gray40;

  &:hover {
    color: $gray20;
  }

  i {
    // .l3 class is 11px
    font-size: px-em( 9, 11 );
    // margin-left: -13px;
    margin-right: 1px;
    vertical-align: 0.2em;
  }
}
