//
// Dropdown menus
// --------------------------------------------------


// Use the .menu class on any <li> element within the topbar or ul.tabs and you'll get some superfancy dropdowns
.dropup,
.dropdown {
  position: relative;
  display: block;
}
.dropdown-toggle,
.btn.dropdown-toggle {
  position: relative;
  text-align: left;
  width: 232px;
  padding: 8px 16px 11px 16px;
  background-color: $btnDropdownBackground;
  border: 1px solid $btnDropdownBackground;

  background-color: red;

  i {
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px 16px 0 0;
  }

  &:hover {
    background-color: $btnDropdownBackgroundHover;
  }
  &:active {
    background-color: $btnDropdownBackgroundActive;
  }
}
.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}

.dropdown-toggle.btn-small,
.dropdown-toggle.btn.btn-small {
  min-width: 129px;
  width: auto;
  padding: 10px 30px 10px 12px;

  i {
    font-size: px-em(16,11);
    margin: 9px 12px 0 0;
  }
}

.dropdown-toggle-alt,
.btn.dropdown-toggle-alt {
  margin: 0;
  background-color: $btnDropdownAltBackground;
  border-color: $gray70;
  color: $gray20;

  &:hover {
    background-color: $btnDropdownAltBackgroundHover;
  }

  .open &,
  &:active {
    color: $white;
    background-color: $btnDropdownAltBackgroundActive;
  }
}







// The dropdown menu (ul)
// ----------------------
.dropdown-hover-menu,
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindexDropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 0; // override default ul
  list-style: none;
  background-color: $dropdownBackground;
  border: 1px solid #ccc; // Fallback for IE7-8
  border: 1px solid $dropdownBorder;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  @include box-shadow(0 5px 10px rgba(0,0,0,.2));
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;

  // Aligns the dropdown menu to right
  &.pull-right {
    right: 0;
    left: auto;
  }

  // Dividers (basically an hr) within the dropdown
  .divider {
    @include nav-divider($dropdownDividerTop, $dropdownDividerBottom);
  }


  &.bottom-up {
    top: auto;
    bottom: 100%;
  }
  // .navbar .dropdown-menu.bottom-up:before { border-bottom: 0px solid transparent !important; border-top: 7px solid rgba(0, 0, 0, 0.2); top: auto !important; bottom: -7px; }
  // .navbar .dropdown-menu.bottom-up:after  { border-bottom: 0px solid transparent !important; border-top: 6px solid white;              top: auto !important; bottom: -6px; }



  // Links within the dropdown menu
  a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $baseLineHeight;
    color: $dropdownLinkColor;
    white-space: nowrap;
  }
}

.dropdown-menu-alt {
  z-index: 2;
  margin-top: -1px;
  box-shadow: none;
  background-color: $dropdownAltBackground;
  border: 1px solid $white;
  min-width: 210px;
  @include box-shadow(0 0 35px $transparentBlack);

  .no-boxshadow & {
    border-color: $gray70;
  }

  // Dividers (basically an hr) within the dropdown
  .divider {
    @include nav-divider($dropdownAltDividerTop, $dropdownAltDividerBottom);
  }

  a {
    font-size: $font_15_16;
    color: $gray;
    @include transition-duration( $transitionNormal );
    padding: 10px 19px;
  }
}

// Hover state
// -----------
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
  color: $dropdownLinkColorHover;
  background-color: $dropdownLinkBackgroundHover;
  @include gradient-vertical($dropdownLinkBackgroundHover, darken($dropdownLinkBackgroundHover, 5%));
}

.dropdown-menu-alt li > a:hover,
.dropdown-menu-alt li > a:focus,
.dropdown-submenu-alt:hover > a {
  color: $dropdownAltLinkColorHover;
  background-color: $dropdownAltLinkBackgroundHover;
  background-image: none;
  filter: none;
}

// Active state
// ------------
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: $dropdownLinkColorHover;
  text-decoration: none;
  outline: 0;
  background-color: $dropdownLinkBackgroundActive;
  @include gradient-vertical($dropdownLinkBackgroundActive, darken($dropdownLinkBackgroundActive, 5%));
}
.dropdown-menu-alt .active > a,
.dropdown-menu-alt .active > a:hover {
  color: $dropdownAltLinkColorActive;
  background-color: $dropdownAltLinkBackgroundActive;
  background-image: none;
  filter: none;
}

// Disabled state
// --------------
// Gray out text and ensure the hover state remains gray
.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: $grayLight;
}
// Nuke hover effects
.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  background-color: transparent;
  cursor: default;
}

// Open state for the dropdown
// ---------------------------
.open {
  // IE7's z-index only goes to the nearest positioned ancestor, which would
  // make the menu appear below buttons that appeared later on the page
  *z-index: $zindexDropdown;

  & > .dropdown-menu {
    display: block;
  }

  .dropdown-toggle-alt {
    z-index: 5;
    border-color: #ccc #ccc $white;
    border-color: $transparentBlack $transparentBlack $white;
  }
}

// Right aligned dropdowns
// ---------------------------
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
// ------------------------------------------------------
// Just add .dropup after the standard .dropdown class and you're set, bro.
// TODO: abstract this so that the navbar fixed styles are not placed here?
.dropup,
.navbar-fixed-bottom .dropdown {
  // Different positioning for bottom up menu
  .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
  }
}

// Sub menus
// ---------------------------
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: darken($dropdownBackground, 20%);
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: $dropdownLinkColorHover;
}


// Tweak nav headers
// -----------------
// Increase padding from 15px to 20px on sides
.dropdown .dropdown-menu .nav-header {
  padding-left: 20px;
  padding-right: 20px;
}

// Typeahead
// ---------
.typeahead {
  margin-top: 2px; // give it some space to breathe
}

// Social sharing dropdown menu
// ----------------------------
.share-menu {
  margin-top: 1.125em;
  padding-top: 1.25em;
  padding-bottom: 1.125em;
  min-width: 12.25em;
  width: auto;
  text-align: left;

  // Triangle above dropdown
  &:before {
    content: '';
    position: absolute;
    top: -.8125em;
    right: 1.5em;
    width: 0;
    height: 0;
    border-bottom: .75em solid $white;
    border-left: .625em solid transparent;
    border-right: .625em solid transparent;
  }

  a {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .input-holder {
    position: relative;
    margin-top: 9px;
    padding: 0 17px;
  }

  .input-holder input {
    display: block;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
    height: 33px;

    // Input not extending 100%
    .lt-ie10 & {
      width: 167px;
    }

    // IE8 not vertically aligning input text... but when I toggle some styles
    // then put them back, it works...
    .lt-ie9 & {

    }
  }

  .input-holder .link-icon {
    position: absolute;
    right: 19px + 4px; // 19px from the edge + 4px of padding from the inside of the input
    top: 6px;
    height: 25px;
    width: 36px;
    background: $gray50;
    text-align: center;

    pointer-events: none; // click through. doesn't working in IE
  }

  .input-holder i {
    color: $white;

    background: white;
    @include square(16px);
  }
}

.social-label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.social-icon {
  display: inline-block;
  text-align: center;
  width: px-em(36);
  height: px-em(32);
  margin-right: px-em(12);

  i {
    color: $white;
    vertical-align: middle;
  }
}

.social-icon-facebook {
  background-color: $facebookColor;
}

.social-icon-twitter {
  background-color: $twitterColor;
}

.social-icon-gplus {
  background-color: $gplusColor;
}

.social-icon-pinterest {
  background-color: $pinterestColor;
}

