//
// Modals
// --------------------------------------------------

// Disable body scrolling when the modal is open
body.modal-open {
  overflow: hidden;
}

// Recalculate z-index where appropriate,
// but only apply to elements within modal
.modal-open .modal {
  .dropdown-menu {  z-index: $zindexDropdown + $zindexModal; }
  .dropdown.open { *z-index: $zindexDropdown + $zindexModal; }
  .popover       {  z-index: $zindexPopover  + $zindexModal; }
  .tooltip       {  z-index: $zindexTooltip  + $zindexModal; }
  .dropdown-toggle-alt { z-index: $zindexDropdown + $zindexModal + 1; }
}

// Background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindexModalBackdrop;
  background-color: $white;
  background-color: rgba($white, .8);
  // Fade for backdrop
  &.fade { opacity: 0; }
}

.modal-backdrop,
.modal-backdrop.fade.in {
  @include opacity(70);
}
.modal-backdrop.dark {
  background-color: $gray10;
}
.modal-backdrop.dark.in {
  @include opacity(10);
}

// Base modal
$modalHeight: 550px;
.modal {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: $zindexModal;
  width: 100%;
  height: px-em( $modalHeight );
  margin-top: -( px-em( $modalHeight ) / 2);

  &.fade {
    @include transition(opacity .3s linear, top .3s ease-out);
    top: -25%;
  }

  &.fade.in { top: 50%; }

  // Don't want the blue border around the whole container
  &:focus {
    outline: none;
  }
}

// Position the modal when the height is small than $modalHeight
@media ( max-height: px-em( $modalHeight ) ) {
  .modal {
    top: 0;
    height: 90%;
    margin-top: 2.5%;

    .container,
    .grid {
      height: 100%;
    }

    .modal-header {
      max-height: 20%;
    }

    .modal-body {
      padding-top: 0;
      padding-bottom: 0em;
      max-height: 75%;
      overflow: hidden;
    }

    .js-spec-modal-body,
    .spec-modal-body,
    .js-spec-modal-body img {
      max-height: 100%;
    }

    &.fade.in { top: 0; }
  }
}

.modal-header {
  padding: 2.5em 2.5em 1.25em;
  // border-bottom: 1px solid #eee;

  // Close icon
  .close { margin-top: 2px; }

  // Heading
  h3 {
    margin: 0;
  }
}

// This is now the main modal that you see
.modal-inner {
  position: relative;
  width: 100%;
  overflow: auto;
  background-color: $white;
  @include box-shadow(0 0 1.875em rgba(39, 43, 55, 0.15));

  &.transparent {
    background-color: transparent;
    @include box-shadow(none);
  }
}

// Body (where all modal content resides)
.modal-body {
  overflow-y: auto;
  padding: 2.5em;
}
// Remove bottom margin if need be
.modal-form {
  margin-bottom: 0;
}

// Footer (for actions)
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right; // right align buttons
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  @include border-radius(0 0 6px 6px);
  @include box-shadow(inset 0 1px 0 $white);
  @include clearfix(); // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
}

.takeover {
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  border: none;

  &.native-scrolling {
    overflow-x: hidden;
    overflow-y: auto;

    // html:not(.android) & .modal-body {
    //   overflow: visible;
    // }
  }

  &.fade.in { top: 0; }

  .modal-inner {
    overflow: visible;
    @include box-shadow(none);
  }

  .modal-header {
    position: relative;
    padding: 4.375em 0 1.875em; // 70 0 30
    border: none;

    .box-close {
      top: 1.25em;
    }

    h3 {
      margin-top: -8px;
    }
  }

  // Give modal header children a margin-left except for the h3
  .modal-header > button,
  .modal-header > .sort-options {
    margin: 0 0 0 8px;
  }

  .modal-body {
    overflow-x: hidden;
    overflow-y: visible;
    max-height: none;
    padding: 1.125em 0 0;
    @include lightGrayInset( $gray90 );
  }
}