$bulletSize: px-em(12px);
$bulletMargin: px-em(5px);
$paddleWidth: px-em( 48 );
$paddleHeight: px-em( 76 );

.sony-dot-nav {
  position: relative;
  margin-top: 40px;
}

.pagination-bullets {
  position: absolute;
  z-index: 35;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 1;
  opacity: 0;
  @include transition(opacity $transitionNormal);

  &.pagination-bullets-on,
  &.on {
    opacity: 1;
  }

  .pagination-bullet {
    display: inline-block;
    margin-left: $bulletMargin;
    color: $gray50;
    color: rgba($gray20, .4);
    cursor: pointer;
    font-size: $bulletSize;
    @include transition();

    -webkit-font-smoothing: antialiased;

    .pagination-light & {
      color: $gray40;
      color: rgba($gray70, .4);

      &:hover,
      &.bullet-selected {
        color: $gray70;
      }
    }

    .fonticon-10-dot {
      font-size: 0.8em;
    }

    &:first-child {
        margin-left: 0;
    }
  }

  .pagination-bullet:hover,
  .bullet-selected {
    color: $gray20;
  }
}




.pagination-paddles {
  @include transition();
  position: absolute;
  top: 50%;
  width: 100%;
  opacity: 0;

  .lt-ie9 & {
    display: none;
  }

  &.show-paddles {
    opacity: 1;

    .lt-ie9 & {
      display: block;
    }

    .lt-ie8 & {
      display: none;
    }
  }

  .nav-paddle,
  .pagination-paddle {
    @include transition();
    position: absolute;
    width: $paddleWidth;
    height: $paddleHeight;
    display: block;
    margin-top: $paddleHeight / -2;
    padding: 0;
    border: none;
    background-color: $gray10;
    background-color: rgba($gray10, .4);
    border-radius: .1875em;
    cursor: pointer;
    opacity: 0;
    z-index: 999;

    &.on,
    &:focus {
      opacity: 1;
    }

    &.pagination-next {
      right: 20px;

      &.outset {
        @media (min-width: 1400px) {
          right: 50%;
          margin-right: -695px;
        }
      }

      i {
        margin-left: -0.5em;
      }
    }

    &.pagination-prev {
      left: 20px;

      &.outset {
        @media (min-width: 1400px) {
          left: 50%;
          margin-left: -695px;
        }
      }
    }

    .lt-ie9 & {
      zoom: 1;
    }

    .touch & {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: $gray20;
      background-color: rgba($gray10, .8);
      outline: none;
      cursor: pointer;
    }

    i {
      -webkit-font-smoothing: antialiased;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -0.6em 0 0 -0.6em;
      color: $white;
      font-size: $font_15_16;
    }
  }

  .show-paddles .nav-paddle,
  .show-paddles .pagination-paddle {
    opacity: 1;
  }
}



// The below is repeated code for `.nav-paddle`, which is a smaller variant of the global paddles.
//
// We can integrate it into the preceding paddle styles once Related Products, Spec Multi, and Gallery are
// updated to use the sony-paddles global class instead of their own custom implementations.

.pagination-paddles .nav-paddle,
.nav-paddle {
  @include transition();
  display: block;
  border: none;
  background-color: $gray60;
  background-color: rgba($gray10, .4);
  border-radius: .1875em; // 3 pixels
  width: $navPaddleWidth;
  height: $navPaddleHeight;
  margin-top: $navPaddleHeight / -2;
  padding: 0; // override default button padding

  i {
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -0.6em 0 0 -0.55em;
    color: $white;
    font-size: $font_15_16;
  }

  .lt-ie9 & {
    zoom: 1;
  }

  .touch & {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: $gray20;
    background-color: rgba($gray10, .8);
    outline: none;
    cursor: pointer;
  }
}
