//
// Sticky Tabs
// --------------------------------------------------

.sticky-tabs {
  position: relative;
  background-color: $gray70;

  .tabs-container {
    position: relative;
    overflow: hidden;
  }

  &.tab-carousel .tabs-container {
    overflow: visible;
  }

  // iScroll falls back to absolute positioning
  .no-csstransforms & .grid {
    position: relative;
    height: $stickyTabHeight;

    & .relative {
      height: $stickyTabHeight;
    }
  }

  // Container for .tab's
  .tabs {
    z-index: 1;
    height: $stickyTabHeight;

    .no-csstransforms & {
      overflow: hidden;
    }
  }

  .tab {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: inline-block;
    width: $stickyTabWidth;
    padding: 0;
    height: $stickyTabHeight;
    cursor: pointer;

    // Don't let text overflow
    overflow: hidden;

    // Override default <button> styles
    text-align: left;
    border: none;
    background: none;

    @include box-shadow(1px 0 0 $white);
    @include transition(background-color $transitionFast $easeNormal, box-shadow $transitionFast $easeNormal, color $transitionFast $easeNormal);

    // Avoid selecting text
    -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;

    &:focus,
    &:hover {
      background-color: $grayLightFieldLarge;
    }

    .no-touch &:active,
    &.active {
      background-color: $white;
      box-shadow:
        0 .1875em 0 $white,
        0 0 .25em .0625em rgba(0,0,0,0.15);
    }

    // Put active tab above others
    &.active {
      z-index: 2;
    }
  }


  // Tab carousel nav
  // -------------------------
  .tab-nav-btns {
    display: none;
  }

  .tab-nav {
    position: absolute;
    z-index: 5;
    top: ($stickyTabHeight - $navPaddleHeight) / 2;
  }

  .tab-nav-prev {
    left: -1.5%;
  }

  .tab-nav-next {
    right: -1.5%;
  }

  // Only show tab nav buttons on devices without touch
  // and when there is a tab carousel
  .no-touch &.tab-carousel .tab-nav-btns {
    display: block;
  }

  // These are all the same element
  &.tab-carousel {

    .grid {
      border-right: 1px solid transparent;
      border-right-color: rgba($white, 0);
      border-left: 1px solid transparent;
      border-left-color: rgba($white, 0);
      @include transition();
    }

    .has-content-left {
      border-left-color: $white;
      @include box-shadow(inset 2px 0 5px -1px $transparentBlack);
    }

    .has-content-right {
      border-right-color: $white;
      @include box-shadow(inset -2px 0 5px -1px $transparentBlack);
    }

  }

}