//
// Tooltips
// --------------------------------------------------


// Base class
.tooltip {
  position: absolute;
  z-index: $zindexTooltip;
  display: block;
  visibility: visible;
  padding: .3125em;
  @include opacity(0);
  &.in     { @include opacity(100); }
  &.top    { margin-top:  -3px; }
  &.right  { margin-left:  3px; }
  &.bottom { margin-top:   3px; }
  &.left   { margin-left: -3px; }
  &.offsettop { margin-top: 4px; }

  &.gallery-tooltip {
    padding-left: 0;
    padding-right: 0;
  }
}

// Wrapper for the tooltip content
.tooltip-inner {
  max-width: 200px;
  // padding: 15px 20px;
  padding: 14px 20px 13px;
  color: $tooltipColor;
  font-size: $font_11_16;
  text-transform: uppercase;;
  text-align: center;
  text-decoration: none;
  background-color: $tooltipBackground;
  white-space: nowrap;
}

// Arrows
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip {
  &.top .tooltip-arrow,
  &.offsettop .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -$tooltipArrowWidth;
    border-width: $tooltipArrowWidth $tooltipArrowWidth 0;
    border-top-color: $tooltipArrowColor;
  }
  &.offsettop .tooltip-arrow {
    left: 32px;
  }
  &.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -$tooltipArrowWidth;
    border-width: $tooltipArrowWidth $tooltipArrowWidth $tooltipArrowWidth 0;
    border-right-color: $tooltipArrowColor;
  }
  &.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -$tooltipArrowWidth;
    border-width: $tooltipArrowWidth 0 $tooltipArrowWidth $tooltipArrowWidth;
    border-left-color: $tooltipArrowColor;
  }
  &.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -$tooltipArrowWidth;
    border-width: 0 $tooltipArrowWidth $tooltipArrowWidth;
    border-bottom-color: $tooltipArrowColor;
  }
}
