//
// Universal Nav - The output CSS will be used for stand-alone versions, NOT the scss.
// This file will be compiled into styles.css for the SGFE 2013 site, and will be pulled
//   into the standalone CSS file for the standalone version.
// --------------------------------------------------

$span3-width: 22.34043%;
$span4-width: 30.96927%;
$span8-width: 65.48463%;
$gutter-width: 3.5461%;

$span3-width-768: 22.46154%;
$span4-width-768: 31.07692%;
$span8-width-768: 65.53846%;
$gutter-width-768: 3.38462%;

$span3-width-1200: 22.35294%;
$span4-width-1200: 30.98039%;
$span8-width-1200: 65.4902%;
$gutter-width-1200: 3.52941%;


.unav-open-until-transition-end .navmenu-w-search-container,
.unav-open-until-transition-end .navmenu-w-mobile-top,
.unav-open-until-transition-end .navtray-w-electronics,
.unav-open-until-transition-end .navtray-w-entertainment,
.unav-open .navmenu-w-search-container,
.unav-open .navmenu-w-mobile-top,
.unav-open .navtray-w-electronics,
.unav-open .navtray-w-entertainment {
	display:none;
}

// universal-nav-specific classes. These are needed by all versions of the Universal Nav

// .u-nav-wrapper{
// 	visibility:hidden; // hide visually unless it's open(ing) or closing. This avoids the occasional 1px bar at the top of the page due to rounding (I assume)
// }
// .unav-open-until-transition-end .u-nav-wrapper{
// 	visibility:visible;
// }

.u-nav-wrapper{
  background: rgb(243,244,246); // $gray90;
  padding: 20px 0 50px;
  width:100%;
  position:absolute;
  top:-9999px; // just place it off the screen for pageload. This will be overridden as soon as the JS runs & explicity places it.

  .u-nav-head{
  	position: relative;
  	margin-bottom:13px;
	}
	.u-nav-close-btn{
		font-family: "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		font-weight: normal;
		font-style: normal;
		font-size: px-em(12);
		letter-spacing: 0.0625em;
		padding: 9px 13px 10px 13px;
		color: #fff;
		background-color: rgb(146,149,153);
		background-repeat: no-repeat;
		background-position: 88% 50%;
		@include border-radius(1px);

		margin: 0 0 14px;
  	float: right;

  	&:hover, &:active, &:focus, &.active{
  	  color: #fff;
			background-color: rgba(47,53,61,1);
  	}

  	.u-nav-close-btn-img{
  		margin-left:24px;
  		position:relative;
  		top:-1px;
  	}
	}
	h5.l1{
		clear: both;
		margin: 0;
	}
	.u-nav-all-sites-link{
		position: absolute;
		bottom: 1px;
		right: 0;
		font-size: px-em(13);
	}

	.u-nav-primary{
		position: relative;
		overflow: hidden;
		[class*="span"]{
  		float:none;
  		margin-left:0;
  	}
	}
	.u-nav-primary-feat{
	}
	.u-nav-primary-link{
		display:block;
		position:relative;
		opacity: 1;
		margin-bottom:0;

		.u-nav-primary-img-wrap{
			display:block;
			background-color: #fff;
			/* preloader animated gif (one less http request): */
			background-image: url('data:image/gif;base64,R0lGODlhPAA8APUAAP39/eLi5dra3vLy9Ofn6dra3dzc3/f3+Nvb3tzc4Pv7+97e4ezs7vr6+/b29+3t7+np6+bm6N/f4uTk5ubm6d7e4uXl6Pz8/O3t7vDw8eHh5Pn5+t3d4fT09fj4+ODg4/7+/urq7PX19vHx8uzs7fLy8/Hx8////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFBAAAACwAAAAAPAA8AAAGT0CAcEgsGo/IpHLJbDqf0Kh0Sq1ar9isdsvter/gsHhMLpvP6LR6zW673/C4fE6v2+/4vH7P7/v/gIGCg4SFhoeIiYqLjI2Oj5CRkpOUXkEAIfkEBQQAAQAsIwAjAAYABgAABglAgHBILBqPyCAAIfkEBQQAAAAsIwAjAAYABgAABglAh3BILBqPyCAAIfkEBQQAAAAsEwATABYAFgAABjPAhnAIKBqPSMCQmGwWl0KnE9qQNqnWJDbL7Xq/4LB4TC6bz+gkac0Gs9vf99otp7/t7CAAIfkEBQQAAQAsEwATABYAFgAABjxAk3AYKBqPyMCQmGwWl0KnE2qSNqnWJDbL7Xq/RYB4DB6Tv2ZxOb02t8/guPyrqdvB9js9r8Hz/XmAdkEAIfkEBQQAAAAsEwATABYAFgAABjzAiHAIKBqPSMCQmGwWl0KnExqRNqnWJDbL7Xq/RYd4DB6Tv2ZxOb02t8/guPxrqNvB9js9b8Dz/XmAdkEAIfkEBQQAAAAsEwATABYAFgAABknAhXAIKBqPjaRySDw6lUvmwvmENqRTqtF6lWq3Vuy3yB2bz2gzY81OG9ltNwC+ls/pdjojj7f7/3YFgoOBg4KFhoiEcoaHjI1BACH5BAUEAAEALBMAEwAWABYAAAZKQIFwGCgaj6Wkckg8OpVLpsD5hJakU6rRepVqt1bst8gdm89os2bNThvZbXcAvpbP6Xa6Jo+3+/9fAIKDdoOEcoaChYmLho2HVEEAIfkEBQQAAAAsEwATABYAFgAABkrAgnAIKBqPlKRySDw6lUtmwfmEUqRTqtF6lWq3Vuy3yB2bz2izYc1OG9ltNwC+ls/pdrohj7f7/18HgoN2g4RyhoKFiYuGjYdUQQAh+QQFBAAAACwTABMAFgAWAAAGTkCAcEgsAhbIpHE5TCqZSycSGpVSjdLFtZjder9FhXgsLJjPzDEZcEYv1eJyu5CGy9t19d1thCv2ZmCCg1sMhoeCh4hgioaJjY+KkYtGQQAh+QQFBAAEACwTABMAFgAWAAAGUECCcEgsEgTIpHE5TCqZSycSGpVSjVLBtZjder/FgXgMJozJ4LO4rB6w1e9zeU6HAu54YWDPZ+LzBHx9S393eoIBfoWHgop/jINGhQCQe0xBACH5BAUEAAAALBMAEwAWABYAAAZQQIBwSCwCCsikcTlMKplLJxIalVKN0sK1mN16v0WCeAwGjMngs7isJrDV73N5Toce7nihYc9n4vMAfH1Lf3d6ggZ+hYeCin+Mg0aFB5B7TEEAIfkEBQQAAAAsEwAbABYADgAABkTAhXAIKBqPiqRySDw6lUvmwvmEKqRTqtF6lWq3Vuy3yB2bz+giZs0uFt7wL7sNgMe187XbXpDn93Z+c4B3VHkYhG9fQQAh+QQFBAAEACwTABMAFgAWAAAGSECCcCgEGI/EpJJwRC6fTeMTGp0uowCrEqvter9CgXhsHZjPY/L0jE4LyuyB+72Oz+Hse50N7nsDgIF9gYJghICDh4mEi4VfQQAh+QQFBAAAACwTABMAFgAWAAAGSECAcCg8GI/EpBJwRC6fTeMTGp0uowerEqvter/CgnhsJZjPY/L0jE4XymyC+72Oz+Hse50N7nsNgIF9gYJghICDh4mEi4VfQQAh+QQFBAAAACwTABMAFgAWAAAGPUCAcCh8GI/EpBJwRC6fTeMTGp0uow+rEqvter/gYWVMDpPL4PPYrGaf3eiwfFqo28P2Ozhfx/P9eYB6X0EAIfkEBQQAAAAsGwATAA4ADgAABifAgHAIKBqLQ+LRmBQumc0nMiptBqTYrFYr6Hqx3q803AWTzWG0NwgAIfkEBQQAAAAsGwATAA4AFgAABjdAg3AIKBqLQ+LRmBQumc0nMiptGqTYrFZb6Hqx3q803AWTzWG0eMveIt5wLDwunb/ldvxcDw8CACH5BAUMAAAALBsAEwAOABYAAAYuQIRwCCgai0Pi0ZgULpnNJzIqbSKk2Kx2y+16v+Cw+Jkom7HmszRdRrPdabg5CAAh+QQFBAAAACwbABMADgAWAAAGLsCCcAgoGotD4tGYFC6ZzScyKm0WpNisdsvter/gsPg5KZux5rM0XUaz3Wm4OQgAIfkEBQQAAAAsEwATABYAFgAABjPAhHAIKBqPSMCQmGwWl0KnE5qQNqnWJDbL7Xq/4LB4TC6bz+jkYM0Gs9vf99otp7/t7CAAIfkECQQAAQAsEwATABYAFgAABjNAgnAYKBqPyMCQmGwWl0KnE0qQNqnWJDbL7Xq/4LB4TC6bz+gkYM0Gs9vf99otp7/t7CAAIfkEBQQAAAAsEwATABYAFgAABlxAkXAIABSOyCISOSQalwUltCmULq1MKva4LVBF3e43/LwWz+i0es1mQ6OAhXzefRfn9PI7Gccv6lB3foBmfn96e3CGZG2Njo92iHBqkZGUgZJumJZplZiXZpxoQQAh+QQJBAAAACwTABMAFgAOAAAGOECQcAgoGo+CpHJIPDqVSybI+YQKpFOq0XqVardW7LfIHZvPaHNozU4b2W03AL6Wz+l2eiiP1wYBACH5BAkEAAAALBMAEwAWAA4AAAZFQIBwKCwYj8KPckkkHpGAJbNZfBaS0g+1+sRKtwDrNZoFi71TsHrNdlqFnricK4bK5+F6F3CP0/VwfX91gXeDZ3yCeU9BACH5BAUEAAAALBMAEwAWABYAAAZPQIBwKCwYj8KHckkkHpGAJbNZfBaS0ge1+sRKtwDrNZoFi71TsHrNdlrX4rM6/p7Toea7Ea4f57ttgYJtCIWGgwCGh4OKhYiNCI+NkopgQQAh+QQJBAAAACwbABMADgAWAAAGL0CAcChsGI9E4hGZLC4bTecyCnhCo1aqdsvter/gsBgcKJup5nM0XUaz3Wm4uhkEACH5BAUEAAAALBMAEwAWABYAAAZFQIBwKCwYj8SkEnBELp9N4xManS6jBasSq+16v0KDeGzFjslT89lQjq7Zafe63XzTneC8Xjjq+/N+f2CBfYCEhoGIgkpBACH5BAkEAAAALBMAGwAOAA4AAAYnQItwCCgai0Pi0ZgULpnNJzIqbVqk2KxWe+l6sd6vNNwFk81htDcIACH5BAUEAAAALBMAGwAGAA4AAAYVwI5wSCwaj0iAcslUcp7QqHRKrQYBACH5BAkEAAEALBMAGwAWAA4AAAY4QIBwGCgaj4Kkckg8OpVLJsD5hAqkU6rRepVqt1bst8gdm8/oImTNThvZbXcAvpbP6XY6JI+XBwEAIfkEBQQAAAAsEwAbABYADgAABi5AgHBILAIkyKRxOUwqmUsnEhqVUo1SybWY3Xq/xYN4DAaMyeCzuKw+sNXvczkIACH5BAkEAAAALBMAEwAWABYAAAY9QIBwKEQYj8SkEnBELp9N4xManS6jCKsSq+16v+AhY0wOk8vg89isZp/d6LB8Cqrbw/Y7OF/H8/15gHpfQQAh+QQJBAAAACwbABMADgAOAAAGJ0CNcAgoGotD4tGYFC6ZzScyKm1qpNisVrvperHerzTcBZPNYbQ3CAAh+QQFBAAAACwbABMABgAGAAAGCcCMcEgsGo/IIAAh+QQFBAAAACwbABMABgAGAAAGCUCFcEgsGo/IIAA7');
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}
		.u-nav-primary-img{
			display:block;
			z-index:1;
			width:100%;
			opacity: 0;
			-webkit-transition: opacity 0.15s;
			transition: opacity 0.15s;
			-webkit-transform: scale3d(1, 1, 1);

			&.opacity1{
				opacity:1;
			}
		}

		&:hover,
		&:active,
		&:focus{
			.u-nav-primary-img{
				opacity: 0.9;
			}
		}

	}
	.u-nav-primary-caption{
		display:block;
		padding: px-em(11px) 0 px-em(4px) 0;
	}

	// col1 is normal, display:block, in the flow, to set the height of the container. 
	// If there are 2 rows in the first column, there should be a margin-top on row2 to set up the height of the content.
	.u-nav-primary-6up .u-nav-primary-col1.u-nav-primary-row2{
		padding-top:36px;
	}
	.u-nav-primary-col2.u-nav-primary-row1,
	.u-nav-primary-col3.u-nav-primary-row1{
		position:absolute;
		top:0;
	}
	.u-nav-primary-col2.u-nav-primary-row2,
	.u-nav-primary-col3.u-nav-primary-row2{
		position:absolute;
		bottom:0;
	}
	.u-nav-primary-col2{
		left: $span4-width + $gutter-width; // col1 width plus margin
	}
	.u-nav-primary-col3{
		left: $span8-width + $gutter-width; // col1 width plus margin
	}

	.u-nav-secondary{
		overflow:hidden;
		background:#fff;
		margin-top: 26px;
		padding:14px 0 0;

		li:nth-child(5n+0){ // every 5th one starts a new row.
			margin-left:0;
			clear:both;
		}
	}
	.u-nav-secondary-li{
		padding-bottom: 27px;
		padding-top:9px;
	}
	.u-nav-secondary-link,
	.u-nav-secondary-desc{
		position:relative;
		padding-right:10.5%;
		padding-left:10.5%;
		left:5.5%;
	}
	.u-nav-secondary{
		li:nth-child(4n+0){
			.u-nav-secondary-link,
			.u-nav-secondary-desc{
				padding-right:17%; // the (right) end one needs more padding so the text doesn't get too close to the edge.
			}
		}
	}
	.u-nav-secondary-link{
		display:inline-block;
		color:#4572ed;
		margin-bottom:0;

		&:hover, &:active, &:focus{
		  color:#3c4c74;
		}
	}
	.u-nav-secondary-desc{
		display:block;
		color:#83838f;
	}

	.label-success{
		position:absolute;
		top:0;
		right:0;
		z-index: 10;
		margin: 0;
		font-size: 0.916666666666667em;
		line-height:1.5;
	}
}

@media (min-width: px-em(1200)){
	.u-nav-wrapper{
		.u-nav-primary-col2{
			left: $span4-width-1200 + $gutter-width-1200; // col1 width plus margin
		}
		.u-nav-primary-col3{
			left: $span8-width-1200 + $gutter-width-1200; // col1 width plus margin
		}
	}
}

@media (max-width: px-em(979px)) and (min-width: px-em(768px)){
	.u-nav-wrapper{
		.u-nav-primary-col2{
			left: $span4-width-768 + $gutter-width-768; // col1 width plus margin
		}
		.u-nav-primary-col3{
			left: $span8-width-768 + $gutter-width-768; // col1 width plus margin
		}

		.u-nav-secondary-link{
			font-size:px-em(13);
			line-height: 1.7;
		}
		.u-nav-secondary-desc{
			font-size:px-em(12);
			line-height: 1.5;
		}
	}
}
@media (max-width: px-em(767px)){
	.u-nav-wrapper{
		display:none;
	}	
}

