// EOF Fonts - Used by: IE ≤ 8

@mixin font-normal(){  
	font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sony-Icons";
  src: url("../../fonts/Sony-Icons.eot");
  src: url("../../fonts/Sony-Icons.eot?#iefix") format("embedded-opentype");
  @include font-normal();
}