//
// FontIcons
// --------------------------------------------------

[class*="fonticon-"] {
  display: inline-block;
  line-height: 0.6; // 0.6 appears to be the same as 0 everywhere except IE9 & 10 where it NEEDS 0.6 or it's too small.
  // overflow: hidden; -- if you need overflow:hidden, you have to apply it to your own icons.

  &:before,
  &[class*="--after"]:after {
    font-family: 'Sony-Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    // -webkit-font-smoothing: antialiased; // NO! Icons have been adjusted so they don't need this, and rendering is consistent across browsers.
    // If you have a light icon over a dark background, apply -webkit-font-smoothing: antialiased; so they don't render so thick on Mac Webkit browsers.
  }
}
i[class*="fonticon-"] {
  // overflow: hidden; -- screws up too many places; if you need it, do it manually & test if it breaks the layout for that instance.
}
[class*="fonticon-10-"] {
  font-size: 1.0em;
}
[class*="fonticon-15-"] {
  font-size: 1.5em;
}
[class*="fonticon-20-"] {
  font-size: 2.0em;
}
[class*="fonticon-30-"] {
  font-size: 3.0em;
}
[class*="fonticon-40-"] {
  font-size:4.0em;
  line-height:0.65;
}
[class*="fonticon-50-"] {
  font-size:5.0em;
  line-height:0.65;
}
[class*="fonticon-60-"] {
  font-size:6.0em;
  line-height:0.65;
}

.lt-ie8{
  [class*="fonticon-"],
  [class*="fonticon-10-"],
  [class*="fonticon-15-"],
  [class*="fonticon-20-"],
  [class*="fonticon-30-"],
  [class*="fonticon-40-"],
  [class*="fonticon-50-"],
  [class*="fonticon-60-"] {
    line-height:1;
  }
}


.fonticon-10-chevron-sm,
.fonticon-10-chevron-sm--after{
  margin:0 -.125em;
}




// below are from icomoon.

.fonticon-10-favorite:before,
.fonticon-10-favorite--after:after {
  content: "\e000";
}
.fonticon-10-cart:before,
.fonticon-10-cart--after:after {
  content: "\e001";
}
.fonticon-10-search:before,
.fonticon-10-search--after:after {
  content: "\e002";
}
.fonticon-10-account:before,
.fonticon-10-account--after:after {
  content: "\e003";
}
.fonticon-10-orders:before,
.fonticon-10-orders--after:after {
  content: "\e004";
}
.fonticon-10-newsletter:before,
.fonticon-10-newsletter--after:after {
  content: "\e005";
}
.fonticon-10-registered:before,
.fonticon-10-registered--after:after {
  content: "\e006";
}
.fonticon-10-globe:before,
.fonticon-10-globe--after:after {
  content: "\e007";
}
.fonticon-10-star:before,
.fonticon-10-star--after:after {
  content: "\e008";
}
.fonticon-10-star-half:before,
.fonticon-10-star-half--after:after {
  content: "\e009";
}
.fonticon-10-location:before,
.fonticon-10-location--after:after {
  content: "\e00a";
}
.fonticon-10-support:before,
.fonticon-10-support--after:after {
  content: "\e00b";
}
.fonticon-10-grid-3x3:before,
.fonticon-10-grid-3x3--after:after {
  content: "\e00c";
}
.fonticon-10-circle-x:before,
.fonticon-10-circle-x--after:after {
  content: "\e00d";
}
.fonticon-10-circle-q:before,
.fonticon-10-circle-q--after:after {
  content: "\e00e";
}
.fonticon-10-square-neg-plus:before,
.fonticon-10-square-neg-plus--after:after {
  content: "\e00f";
}
.fonticon-10-plus-skinny:before,
.fonticon-10-plus-skinny--after:after {
  content: "\e010";
}
.fonticon-10-x-skinny:before,
.fonticon-10-x-skinny--after:after {
  content: "\e011";
}
.fonticon-10-x-skinny-rounded:before,
.fonticon-10-x-skinny-rounded--after:after {
  content: "\e012";
}
.fonticon-10-chevron:before,
.fonticon-10-chevron--after:after {
  content: "\e013";
}
.fonticon-10-chevron-reverse:before,
.fonticon-10-chevron-reverse--after:after {
  content: "\e014";
}
.fonticon-10-chevron-sm:before,
.fonticon-10-chevron-sm--after:after {
  content: "\e015";
}
.fonticon-10-alpha-light:before,
.fonticon-10-alpha-light--after:after {
  content: "\e016";
}
.fonticon-10-alpha:before,
.fonticon-10-alpha--after:after {
  content: "\e017";
}
.fonticon-10-alpha-medium:before,
.fonticon-10-alpha-medium--after:after {
  content: "\e018";
}
.fonticon-10-alpha-bold:before,
.fonticon-10-alpha-bold--after:after {
  content: "\e019";
}
.fonticon-10-arrowhead-down:before,
.fonticon-10-arrowhead-down--after:after {
  content: "\e01a";
}
.fonticon-10-arrowhead-up:before,
.fonticon-10-arrowhead-up--after:after {
  content: "\e01b";
}
.fonticon-10-arrowheads-elevator:before,
.fonticon-10-arrowheads-elevator--after:after {
  content: "\e01c";
}
.fonticon-10-arrow-right:before,
.fonticon-10-arrow-right--after:after {
  content: "\e01d";
}
.fonticon-10-sm-bold-plus:before,
.fonticon-10-sm-bold-plus--after:after {
  content: "\e01e";
}
.fonticon-10-sm-bold-check:before,
.fonticon-10-sm-bold-check--after:after {
  content: "\e01f";
}
.fonticon-10-sm-bold-x:before,
.fonticon-10-sm-bold-x--after:after {
  content: "\e020";
}
.fonticon-10-dot:before,
.fonticon-10-dot--after:after {
  content: "\e021";
}
.fonticon-10-circlearrow:before,
.fonticon-10-circlearrow--after:after {
  content: "\e022";
}
.fonticon-10-x:before,
.fonticon-10-x--after:after {
  content: "\e023";
}
.fonticon-10-video-enlarge:before,
.fonticon-10-video-enlarge--after:after {
  content: "\e024";
}
.fonticon-10-video-minimize:before,
.fonticon-10-video-minimize--after:after {
  content: "\e025";
}
.fonticon-10-video-play:before,
.fonticon-10-video-play--after:after {
  content: "\e026";
}
.fonticon-10-video-pause:before,
.fonticon-10-video-pause--after:after {
  content: "\e027";
}
.fonticon-10-speaker:before,
.fonticon-10-speaker--after:after {
  content: "\e028";
}
.fonticon-10-plus-sm:before,
.fonticon-10-plus-sm--after:after {
  content: "\e029";
}
.fonticon-10-x-sm:before,
.fonticon-10-x-sm--after:after {
  content: "\e02a";
}
.fonticon-10-compare:before,
.fonticon-10-compare--after:after {
  content: "\e02b";
}
.fonticon-10-browse:before,
.fonticon-10-browse--after:after {
  content: "\e02c";
}
.fonticon-10-back-to-top:before,
.fonticon-10-back-to-top--after:after {
  content: "\e02d";
}
.fonticon-15-mobile-menu:before,
.fonticon-15-mobile-menu--after:after {
  content: "\e02e";
}
.fonticon-15-circle-play:before,
.fonticon-15-circle-play--after:after {
  content: "\e02f";
}
.fonticon-15-popup:before,
.fonticon-15-popup--after:after {
  content: "\e030";
}
.fonticon-15-twitter:before,
.fonticon-15-twitter--after:after {
  content: "\e031";
}
.fonticon-15-facebook-sm:before,
.fonticon-15-facebook-sm--after:after {
  content: "\e032";
}
.fonticon-15-gplus:before,
.fonticon-15-gplus--after:after {
  content: "\e033";
}
.fonticon-15-youtube:before,
.fonticon-15-youtube--after:after {
  content: "\e034";
}
.fonticon-15-pinterest:before,
.fonticon-15-pinterest--after:after {
  content: "\e035";
}
.fonticon-15-facebook:before,
.fonticon-15-facebook--after:after {
  content: "\e036";
}
.fonticon-15-link:before,
.fonticon-15-link--after:after {
  content: "\e037";
}
.fonticon-15-instagram:before,
.fonticon-15-instagram--after:after {
  content: "\e038";
}
.fonticon-15-zoom:before,
.fonticon-15-zoom--after:after {
  content: "\e039";
}
.fonticon-15-circle-num-0:before,
.fonticon-15-circle-num-0--after:after {
  content: "\e03a";
}
.fonticon-15-circle-num-1:before,
.fonticon-15-circle-num-1--after:after {
  content: "\e03b";
}
.fonticon-15-circle-num-2:before,
.fonticon-15-circle-num-2--after:after {
  content: "\e03c";
}
.fonticon-15-circle-num-3:before,
.fonticon-15-circle-num-3--after:after {
  content: "\e03d";
}
.fonticon-15-circle-num-4:before,
.fonticon-15-circle-num-4--after:after {
  content: "\e03e";
}
.fonticon-15-circle-num-5:before,
.fonticon-15-circle-num-5--after:after {
  content: "\e03f";
}
.fonticon-15-circle-num-6:before,
.fonticon-15-circle-num-6--after:after {
  content: "\e040";
}
.fonticon-15-circle-num-7:before,
.fonticon-15-circle-num-7--after:after {
  content: "\e041";
}
.fonticon-15-circle-num-8:before,
.fonticon-15-circle-num-8--after:after {
  content: "\e042";
}
.fonticon-15-circle-num-9:before,
.fonticon-15-circle-num-9--after:after {
  content: "\e043";
}
.fonticon-15-iso:before,
.fonticon-15-iso--after:after {
  content: "\e044";
}
.fonticon-20-skateboard:before,
.fonticon-20-skateboard--after:after {
  content: "\e045";
}
.fonticon-20-runner:before,
.fonticon-20-runner--after:after {
  content: "\e046";
}
.fonticon-20-mic-studio:before,
.fonticon-20-mic-studio--after:after {
  content: "\e047";
}
.fonticon-30-support:before,
.fonticon-30-support--after:after {
  content: "\e048";
}
.fonticon-30-intelligent-auto:before,
.fonticon-30-intelligent-auto--after:after {
  content: "\e049";
}
.fonticon-30-superior-auto:before,
.fonticon-30-superior-auto--after:after {
  content: "\e04a";
}
.fonticon-30-panorama:before,
.fonticon-30-panorama--after:after {
  content: "\e04b";
}
.fonticon-30-face:before,
.fonticon-30-face--after:after {
  content: "\e04c";
}
.fonticon-30-film-strip:before,
.fonticon-30-film-strip--after:after {
  content: "\e04d";
}
.fonticon-30-battery:before,
.fonticon-30-battery--after:after {
  content: "\e04e";
}
.fonticon-30-wifi:before,
.fonticon-30-wifi--after:after {
  content: "\e04f";
}
.fonticon-30-bluetooth:before,
.fonticon-30-bluetooth--after:after {
  content: "\e050";
}
.fonticon-30-plus:before,
.fonticon-30-plus--after:after {
  content: "\e051";
}
.fonticon-30-controller:before,
.fonticon-30-controller--after:after {
  content: "\e052";
}
.fonticon-40-stability:before,
.fonticon-40-stability--after:after {
  content: "\e053";
}
.fonticon-40-battery:before,
.fonticon-40-battery--after:after {
  content: "\e054";
}
.fonticon-40-featured:before,
.fonticon-40-featured--after:after {
  content: "\e055";
}
.fonticon-40-cameras:before,
.fonticon-40-cameras--after:after {
  content: "\e056";
}
.fonticon-40-accessories:before,
.fonticon-40-accessories--after:after {
  content: "\e057";
}
.fonticon-40-a-mount:before,
.fonticon-40-a-mount--after:after {
  content: "\e058";
}
.fonticon-40-e-mount:before,
.fonticon-40-e-mount--after:after {
  content: "\e059";
}
.fonticon-40-phones:before,
.fonticon-40-phones--after:after {
  content: "\e05a";
}
.fonticon-40-tablets:before,
.fonticon-40-tablets--after:after {
  content: "\e05b";
}
.fonticon-40-laptops:before,
.fonticon-40-laptops--after:after {
  content: "\e05c";
}
.fonticon-40-hybrid-PCs:before,
.fonticon-40-hybrid-PCs--after:after {
  content: "\e05d";
}
.fonticon-40-all-in-one-systems:before,
.fonticon-40-all-in-one-systems--after:after {
  content: "\e05e";
}
.fonticon-40-bookshelf-stereos:before,
.fonticon-40-bookshelf-stereos--after:after {
  content: "\e05f";
}
.fonticon-40-soundbars:before,
.fonticon-40-soundbars--after:after {
  content: "\e060";
}
.fonticon-40-speakers:before,
.fonticon-40-speakers--after:after {
  content: "\e061";
}
.fonticon-40-projectors:before,
.fonticon-40-projectors--after:after {
  content: "\e062";
}
.fonticon-40-wireless-receiver:before,
.fonticon-40-wireless-receiver--after:after {
  content: "\e063";
}
.fonticon-40-digital-tv-recorders:before,
.fonticon-40-digital-tv-recorders--after:after {
  content: "\e064";
}
.fonticon-40-blu-ray-players:before,
.fonticon-40-blu-ray-players--after:after {
  content: "\e065";
}
.fonticon-40-dvd-players:before,
.fonticon-40-dvd-players--after:after {
  content: "\e066";
}
.fonticon-40-handy-cams1:before,
.fonticon-40-handy-cams1--after:after {
  content: "\e067";
}
.fonticon-40-handy-cams2:before,
.fonticon-40-handy-cams2--after:after {
  content: "\e068";
}
.fonticon-40-bloggie-cameras:before,
.fonticon-40-bloggie-cameras--after:after {
  content: "\e069";
}
.fonticon-40-over-the-head:before,
.fonticon-40-over-the-head--after:after {
  content: "\e06a";
}
.fonticon-40-in-ear:before,
.fonticon-40-in-ear--after:after {
  content: "\e06b";
}
.fonticon-40-ear-buds:before,
.fonticon-40-ear-buds--after:after {
  content: "\e06c";
}
.fonticon-40-active:before,
.fonticon-40-active--after:after {
  content: "\e06d";
}
.fonticon-40-docking-stations:before,
.fonticon-40-docking-stations--after:after {
  content: "\e06e";
}
.fonticon-40-boomboxes:before,
.fonticon-40-boomboxes--after:after {
  content: "\e06f";
}
.fonticon-40-walkman:before,
.fonticon-40-walkman--after:after {
  content: "\e070";
}
.fonticon-40-mp3:before,
.fonticon-40-mp3--after:after {
  content: "\e071";
}
.fonticon-40-cd-radio:before,
.fonticon-40-cd-radio--after:after {
  content: "\e072";
}
.fonticon-40-voice-recorders:before,
.fonticon-40-voice-recorders--after:after {
  content: "\e073";
}
.fonticon-40-microphones:before,
.fonticon-40-microphones--after:after {
  content: "\e074";
}
.fonticon-40-clocks:before,
.fonticon-40-clocks--after:after {
  content: "\e075";
}
.fonticon-40-radios:before,
.fonticon-40-radios--after:after {
  content: "\e076";
}
.fonticon-40-baby-monitors:before,
.fonticon-40-baby-monitors--after:after {
  content: "\e077";
}
.fonticon-40-in-dash-video:before,
.fonticon-40-in-dash-video--after:after {
  content: "\e078";
}
.fonticon-40-gps:before,
.fonticon-40-gps--after:after {
  content: "\e079";
}
.fonticon-40-bluetooth:before,
.fonticon-40-bluetooth--after:after {
  content: "\e07a";
}
.fonticon-40-amplifiers:before,
.fonticon-40-amplifiers--after:after {
  content: "\e07b";
}
.fonticon-40-receivers:before,
.fonticon-40-receivers--after:after {
  content: "\e07c";
}
.fonticon-40-memory-stick:before,
.fonticon-40-memory-stick--after:after {
  content: "\e07d";
}
.fonticon-40-water-drop:before,
.fonticon-40-water-drop--after:after {
  content: "\e07e";
}
.fonticon-60-win8:before,
.fonticon-60-win8--after:after {
  content: "\e07f";
}
.fonticon-60-sony:before,
.fonticon-60-sony--after:after {
  content: "\e080";
}