//
// Hotspot Circles & circle-buttons
// --------------------------------------------------

$circleBtnDiameter: 40px;
$haloThickness: 8px;
$haloHoverThickness: 8px;

$circleBtnLargeDiameter:60px;
$circleBtnXLargeDiameter:72px;


// The hotspot is visually the gray halo around the circle-button. 
.hotspot {
  display: block;
  position:absolute;
  z-index:100;

  background-color:$hotspotHalo; 

  @include circleCentered($circleBtnDiameter + ($haloThickness*2));

  /* everything but z-index is the same. z-index just needs a delay, no animation. */     
  @include transition-property( border-radius, margin,   width,  height, opacity, background-color,  z-index );
  @include transition-duration( $transitionNormal, $transitionNormal, $transitionNormal, $transitionNormal, $transitionNormal, $transitionNormal, 0s );
  @include transition-timing-function( ease-in, ease-in, ease-in, ease-in, ease-in, ease-in, linear );
  @include transition-delay( 0s, 0s, 0s, 0s, 0s, 0s, ($transitionNormal*2) );
  
  -webkit-backface-visibility: hidden;
  -webkit-transform: transform3d(0, 0, 0);
  
  &:hover {
    z-index:100;
    cursor:pointer;
    
    background-color:$hotspotHaloHover;

    @include circleCentered($circleBtnDiameter + ($haloHoverThickness*2));

    @include transition-property( border-radius, margin,   width,  height, opacity, background-color,  z-index );
    @include transition-duration( $transitionNormal, $transitionNormal, $transitionNormal, $transitionNormal, $transitionNormal, $transitionNormal, 0s );
    @include transition-timing-function( ease-out, ease-out, ease-out, ease-out, ease-out, ease-out, linear );
    @include transition-delay( 0s, 0s, 0s, 0s, 0s, 0s, 0s );
  }

  &.hotspot-large{ @include circleCentered($circleBtnLargeDiameter + ($haloThickness*2)); }
  &.hotspot-xlarge{ @include circleCentered($circleBtnXLargeDiameter + ($haloThickness*2)); }
  &.hotspot-large:hover{ @include circleCentered($circleBtnLargeDiameter + ($haloHoverThickness*2)); }
  &.hotspot-xlarge:hover{ @include circleCentered($circleBtnXLargeDiameter + ($haloHoverThickness*2)); }


  .circle-button {
    z-index:1;
    display:block;
    position:absolute;
    top:50%;
    left:50%;

    @include circleCentered($circleBtnDiameter);
    
    @include gradient-vertical($highlightColor, $highlightColorDark);
       

  /* everything but background needs to be animated; so we have to explicitly define the rest. */ 
    @include transition-property( border-radius,  margin,  width,  height,  opacity );
    @include transition-duration( $transitionFast, $transitionFast, $transitionFast, $transitionFast, $transitionFast );
    @include transition-delay( $transitionSuperfast, $transitionSuperfast, $transitionSuperfast, $transitionSuperfast, $transitionSuperfast );
    @include transition-timing-function( ease-in, ease-in, ease-in, ease-in, ease-in );


    [class^="icon-ui-"],
    [class*=" icon-ui-"]{
      @include squareCentered(16px);
    }
  }
  &.hotspot-secondary .circle-button{
    // Used for 'close' button.
    @include gradient-vertical(lighten($gray,5%), $gray);
  }
  &.hotspot-large .circle-button{
    @include circleCentered($circleBtnLargeDiameter);
    [class^="icon-ui-"],
    [class*=" icon-ui-"]{
      @include squareCentered(24px);
    }
  }
  &.hotspot-xlarge .circle-button{ 
    @include circleCentered($circleBtnXLargeDiameter);
    [class^="icon-ui-"],
    [class*=" icon-ui-"]{
      @include squareCentered(32px);
    }
  }


  &:active .circle-button{
    @include box-shadow(inset 3px 3px 4px 0px rgba(0, 0, 0, 0.3));
  }
}
