//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

body {
  margin: 0;
  @include font($baseFontFamily);
  line-height: $baseLineHeight;
  background-color: $bodyBackground;
}


.page-wrap-outer { // always full browser width, never moves
  width: 100%;
  overflow: hidden;
  &.unav-open {
    // position: fixed;
  }
}
.page-wrap-inner { // this is to shift the entire content over for the side slide-in menu on mobile
  width: 100%;
  position: relative;
  @include transition( margin-top $transitionSlower $easeOutNav 0s );
}



// no link/button transitions on mobile, so there's instant feedback that the link was touched.
.no-touch a:not(.no-hover-transition),
.no-touch .btn:not(.no-hover-transition){
  @include transition(
    background-color $transitionSlowish linear,
    color $transitionSlowish linear,
    border-color $transitionSlowish linear
  );
  // This is causing a delay for the icon, making things weird. Weird isn't wanted.
  // [class*="fonticon"]{
  //   @include transition( color $transitionSlowish linear );
  // }

}


// Images
// -------------------------

// Rounded corners
.img-rounded {
  @include border-radius(6px);
}

// Add polaroid-esque trim
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
          box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

// Perfect circle
.img-circle {
  @include border-radius(50%);
}




/* Debug grid styles
-------------------------------------------------- */
.show-grid {
  margin-top: 2px;
  margin-bottom: 2px;
}
.show-grid [class*="span"] {
  background-color: rgba(125,125,125,0.5) !important;
  text-align: center;
}
.show-grid:hover [class*="span"] {
  // background: rgba(215,125,125,0.9) !important;
}
.show-grid .show-grid [class*="span"] {
  background-color: rgba(255,125,0,0.9) !important;
}

