//
// Typography
// --------------------------------------------------


// Body text
// -------------------------

body {
  color:$defaultTextColor;
}
small {
  font-size: 0.85em; // Since this will be inside of another font-sized element, it just needs to be smaller relative to its parent.
}
.muted {
  color: $grayLight;
}

// Links
// -------------------------

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: $linkColorHover;
  text-decoration: none;
}


// Placing these above type styles so they don't override them
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-size: $font_13_16;
  line-height: $baseLineHeight;
}


// --------------------------------------
// New font styles
// --------------------------------------
// These styles are decoupled from HTML tags so that any style can be implemented on any tag.
//    For instance, a page may have several instances of the same header treatment, but the first
//    would need to be H1, while the rest H2.
// There are default mappings set up, however, so an H2 will have a default style (which may not be .t2).
// --------------------------------------


// --------------------------------------
// TITLES (headers)
// --------------------------------------
//
// All titles can be made bold by placing a <strong> tag inside; or italic using <em>
// To make the 'light' version, use the -light version of the class, such as .t3-light
//
// --------------------------------------

.t1, .t2, .t3, .t4, .t5, .t6, .t7, h1, h2, h3, h4, h5, h6{
  text-rendering: optimizeLegibility; // disable this if we have performance issues.
  color: $defaultTextColor;
}

.t1, .t2, .t5, h1, h2, h5 {
  @include fontRegular;
  @include em-strong(Regular);
}
.t3, .t4, h3, h4{
  @include fontLight;
  @include em-strong(Light);
}
.t6, .t7, h6{
  @include fontMedium;
  @include em-strong(Medium);
}

.t1-light, .t2-light, .t5-light {
  @include fontLight;
}
.t6-light, .t7-light{
  @include fontRegular;
  @include em-strong(Regular);
}

.t1, .t1-light, .t3, .t3-light,
h1, h3 {
  letter-spacing: -0.01em;
}
.t2, .t2-light, .t4, .t4-light,
h2, h4 {
  letter-spacing: -0.04em;
}


.t1, .t1-light, h1{
  @include px-em--font-size--line-height(54,62);
  margin-bottom: 30px;
}
.t2, .t2-light, h2{
  @include px-em--font-size--line-height(44,50);
  margin-bottom: 24px;
}
.t3, .t3-light, h3{
  @include px-em--font-size--line-height(32,38);
  margin-bottom: 18px;
}
.t4, .t4-light, h4{
  @include px-em--font-size--line-height(26,34);
  margin-bottom: 16px;
}
.t5, .t5-light, h5{
  @include px-em--font-size--line-height(22,26);
  margin-bottom: 14px;
}
.t6, .t6-light, h6{
  @include px-em--font-size--line-height(18,26);
  margin-bottom: 8px;
}
.t7, .t7-light{
  @include px-em--font-size--line-height(15,22);
  margin-bottom: 6px;
}


// ------------------------------------
// Labels Text Styles
// ------------------------------------
//
// All Labels can be made bold by placing a <strong> tag inside; or italic using <em>
// To make the 'light' version, use the -light version of the class, such as .l3-light
//
// --------------------------------------

.l1, .l2, .l3, .l4, .l1-light, .l2-light, .l3-light, .l4-light {
  text-rendering: optimizeLegibility; // disable this if we have performance issues.
  text-transform: uppercase;
  color: $defaultTextColor;
}
.l1{
  @include fontBold;
}
.l2, .l3, .l4, .l1-light {
  @include fontMedium;
  @include em-strong(Medium);
}
.l2-light, .l3-light, .l4-light {
  @include fontRegular;
  @include em-strong(Regular);
}
.l1, .l1-light{
  letter-spacing: 0.05em;
  margin-bottom: 24px;
  margin-top: 40px;
}
.l2, .l3, .l4, .l2-light, .l3-light, .l4-light{
  letter-spacing: 0.01em;
  margin-bottom: 8px;
}
.l1, .l1-light{
  @include px-em--font-size--line-height(22,30);
}
.l2, .l2-light{
  @include px-em--font-size--line-height(12,18);
}
.l3, .l3-light{
  @include px-em--font-size--line-height(11,18);
}
.l4, .l4-light{
  @include px-em--font-size--line-height(10,16);
}



// ------------------------------------
// Paragraphs & LinkText
// The LinkText is when the link is in its own paragraph, so it will be pushed down from the paragraph above it.
// ------------------------------------
//
// These have been updated to be more easily understood based on how we're actually using them.
// For most .lt classes, the only difference between the .lt3 and the .p3 classes is the margin-bottom.
// So now instead of having a paragraph with the class .lt3, you can use the .p3 class and the .lt class.
// So <div class="lt3"> becomes <div "class="p3 tl"> -- make sense?
// This makes it more obvious that a .lt3 paragraph is really just a slightly altered (margin-bottom) .p3.
// The one exception is .lt-alt which has a few other differences.
//
// For now you can continue using .lt# classes if you want, but they will probably be removed in the future.
//
p, .p1, .p2, .p3, .p4, .p5,
.lt1, .lt2, .lt3, .lt4, .lt5, .lt3-alt {
  @include fontRegular;
  @include em-strong(Regular);
}
p, .p1, .p2, .p3, .p4, .p5 { color: $defaultParagraphColor; }

.p1, .lt1 { // also affects .p1.lt
  @include px-em--font-size--line-height(18,26);
}
.p2, .lt2, p, input.p2 { // also affects .p2.lt
  @include px-em--font-size--line-height(15,22);
}
.p3, .lt3, .lt3-alt { // also affects .p3.lt
  @include px-em--font-size--line-height(13,20);
}
.p4, .lt4, input.p4 { // also affects .p4.lt
  @include px-em--font-size--line-height(12,18);
}
.p5, .lt5 { // also affects .p5.lt
  @include px-em--font-size--line-height(11,15);
}
.lt-alt, .lt3-alt {
  letter-spacing: px-em(1px);
  text-transform: uppercase;
}
.p1 { margin-bottom: 16px; }
.p2, .p3, .lt3-alt { margin-bottom: 12px; }
.p4, .p5, .p1.lt, .lt1 { margin-bottom: 8px; }
.p2.lt, .lt2 {  margin-bottom: 6px; }
.p3.lt, .lt3, .p4.lt, .lt4, .p5.lt, .lt5 { margin-bottom: 4px; }

.lt, .lt-alt, .lt3-alt{
  &.text-dark{
    a {
      color:$text-dark;
      &:hover, &:active, &:focus, &.active {
        color:$defaultTextColor;
      }
    }
  }
  &.text-light {
    a {
      color:$text-light;
      &:hover, &:active, &:focus, &.active {
        color:$text-med-dark;
      }
    }
  }
}




// ------------------------------------
// Block Quotes
// ------------------------------------

blockquote p{
  @include fontLightItalic;
  text-rendering: optimizeLegibility; // disable this if we have performance issues.
  color: $defaultTextColor;

  &:first-child:before {
    content: "\201c";
    line-height:0; /* make sure it doesn't affect the real content. */
  }
  &:last-child:after {
    content: "\201d";
    line-height:0; /* make sure it doesn't affect the real content. */
  }
}
blockquote.colorful p { color: $secondarySlate; }
blockquote.colorful-dark p { color: $secondarySlateDark; }
.bq1 p{
  @include px-em--font-size--line-height(44,50);
  margin-bottom: 24px;
  &:first-child { text-indent:-16px; }
}
.bq2 p,
blockquote p{
  @include px-em--font-size--line-height(26,34);
  margin-bottom: 16px;
  &:first-child { text-indent:-10px; }
}
.bq3 p{
  @include px-em--font-size--line-height(22,30);
  margin-bottom: 16px;
  &:first-child { text-indent:-8px; }
}
.bq4 p{
  @include px-em--font-size--line-height(18,26);
  margin-bottom: 16px;
  &:first-child { text-indent:-7px; }
}
.bq5 p{
  @include px-em--font-size--line-height(13,20);
  margin-bottom: 12px;
  &:first-child { text-indent:-5px; }
}




// ------------------------------------
// Button Text -- TODO - I'm coming back to this.
// ------------------------------------
.bt1, .bt2, .bt3, .bt4 {
  @include fontRegular;
  strong { @include fontMedium; }
  color: $defaultTextColor;
}
.bt1{
  @include px-em--font-size--line-height(15,22);
  margin-bottom: 12px;
}
.bt2{
  @include px-em--font-size--line-height(13,20);
  margin-bottom: 12px;
}
.bt3{
  @include px-em--font-size--line-height(12,18);
  margin-bottom: 8px;
}
.bt4{
  @include px-em--font-size--line-height(11,15);
  margin-bottom: 6px;
}



// ----------------------------------
// Default Style Mappings
// ----------------------------------

h1 { @extend .t1; }
h2 { @extend .t2; }
h3 { @extend .t3; }
h4 { @extend .t4; }
h5 { @extend .t5; }
h6 { @extend .t6; }
p{ @extend .p2; }






// ----------------------------------
// Light text / Dark text -- on Dark box / Light box / Transparent box
// ----------------------------------
// dark text
.dark-text-light-box,
.dark-text-trans-box{
  h1, h2, h3, h4, h5, h6{
    color:$gray20;
  }
  p{
    color:$gray40;
  }
}
//light text
.light-text-dark-box,
.light-text-trans-box{
  h1, h2, h3, h4, h5, h6{
    color:$white;
  }
  p{
    color:$gray50;
  }
}
.light-text-dark-box a,
.light-text-trans-box a{
  color: $white;
  &:hover, &:active, &:focus, &.active{
    color: $gray70;
  }
}
.light-text-trans-box p{
  color:$white;
}
// trans box
.dark-text-trans-box,
.light-text-trans-box .box{
}
//dark box
.light-text-dark-box .box{
  background:$titleBlack;
}
//light box
.dark-text-light-box .box{
  background:$titleWhite;
}









// --------------------------------------
// Old font styles
// --------------------------------------


// ----------------------------------
// TextLinks
// ----------------------------------
.tl {
  font-size: $font_13_15;  /* -- Default textlink size is small. */
}
.tl-large {
  font-size: $font_15_15;
}

// ---------------------------------
// Global Nav links
// ---------------------------------
.navtray-list-main > li > a.tl {
  @include fontMedium;
  em { @include fontMediumItalic; }
  font-size: $font_13_16; /* -- Default textlink size is small. */
  color:$grayDark;
}


// Page header
// -------------------------

.page-header {
  padding-bottom: $baseLineHeight * 0.45;
  margin: $baseLineHeight 0 ($baseLineHeight * 1.5);
  border-bottom: 1px solid $grayLightFieldSmall;
}



// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 ($baseLineHeight / 2) * 1em 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: $baseLineHeight + 0em;
}

// Remove default list styles
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Single-line list items
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
  & > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Description Lists
dl {
  margin-bottom: $baseLineHeight + 0em;
}
dt,
dd {
  line-height: $baseLineHeight;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: $baseLineHeight + 0em / 2;
}
// Horizontal layout (like forms)
.dl-horizontal {
  @include clearfix(); // Ensure dl clears floats if empty dd elements present
  dt {
    float: left;
    width: $horizontalComponentOffset - 20;
    clear: left;
    text-align: right;
    @include text-overflow();
  }
  dd {
    margin-left: $horizontalComponentOffset;
  }
}

// MISC
// ----

// Horizontal rules
hr {
  margin: $baseLineHeight + 0em 0;
  border: 0;
  border-top: 1px solid $hrBorder;
  border-bottom: 1px solid $white;
}

// Abbreviations and acronyms
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $grayLight;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}



// Addresses
address {
  display: block;
  margin-bottom: $baseLineHeight + 0em;
  font-style: normal;
  line-height: $baseLineHeight;
}






.testing {}
  // Type Tests -- These will be deleted once testing is complete.

  // .SST-Roman-ttf {
  //   font-family: "SST-Roman-ttf", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //   font-weight:normal;
  //   font-style:normal;
  //   font-size:15px;
  //   line-height:1;
  // }
  // .SST-Roman-otf {
  //   font-family: "SST-Roman-otf", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //   font-weight:normal;
  //   font-style:normal;
  //   font-size:15px;
  //   line-height:1;
  // }
  // .SST-Roman-woff {
  //   font-family: "SST-Roman-woff", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //   font-weight:normal;
  //   font-style:normal;
  //   font-size:15px;
  //   line-height:1;
  // }




  // .SST-Roman {
  //   @include fontRegular;
  // }
  // .SST-Italic {
  //   @include fontItalic;
  // }
  // .SST-Light {
  //   @include fontLight;
  // }
  // .SST-Light-Italic {
  //   @include fontLightItalic;
  // }
  // .SST-Medium {
  //   @include fontMedium;
  // }
  // .SST-Medium-Italic {
  //   @include fontMediumItalic;
  // }
  // .SST-Bold {
  //   @include fontBold;
  // }
  // .SST-Bold-Italic {
  //   @include fontBoldItalic;
  // }




// .SST-Roman {
//   font-family: "SST W01 Roman", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-weight: normal;
//   font-style: normal;
// }

// .SST-Italic {
//   font-family: "SST W01 Italic", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-weight: normal;
//   font-style: normal;
// }

// .SST-Light {
//   font-family: "SST W01 Light", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-weight: normal;
//   font-style: normal;
// }

// .SST-Light-Italic {
//   font-family: "SST W01 Light Italic", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-weight: normal;
//   font-style: normal;
// }

// .SST-Medium {
//   font-family: "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-weight: normal;
//   font-style: normal;
// }

// .SST-Medium-Italic {
//   font-family: "SST W01 Medium Italic", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-weight: normal;
//   font-style: normal;
// }

// .SST-Bold {
//   font-family: "SST W01 Bold", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-weight: normal;
//   font-style: normal;
// }

// .SST-Bold-Italic {
//   font-family: "SST W01 Bold Italic", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-weight: normal;
//   font-style: normal;
// }





