//
// Utility classes
// --------------------------------------------------


// Quick floats
.pull-right { float: right; }
.pull-left { float: left; }

// Toggling content
.hide { display: none; }
.show { display: block; }
.off-screen {
  position: absolute;
  left: -9999px;
}
.relative { position: relative; }
.ib { display: inline-block; }

.opacity0 { opacity: 0; }
.opacity1 { opacity: 1; }


.no-transition{ @include transition(none); }
.transition-height{ @include transition(height $navMenuRevealSpeed ease-out 0s); }
.transition-width{ @include transition(width $navMenuRevealSpeed ease-out 0s); }

.grab {
  cursor: all-scroll;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.grab.grabbing,
.grabbing {
  cursor: all-scroll;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

// From H5BP
// -----------------------------

// Image replacement
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
  display: none !important;
  visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

// Hide visually and from screenreaders, but maintain layout
.invisible {
  visibility: hidden;
}

// Try to use one of the above to avoid problems with text-indent please :)
.hidden-text {
  display: block;
  line-height: 0.1em;
  font-size: 0.1em;
  text-indent: -9999px;
  overflow: hidden;
}

.visible-desktop   { display: inherit !important; }
.visible-tablet    { display: none !important; }
.visible-phone     { display: none !important; }
.hidden-desktop    { display: none !important; }
.hidden-tablet     { }
.hidden-phone      { }

// For Affix plugin
.affix {
  // position: fixed;
}

// Clearing floats
.clearfix {
  @include clearfix();
}

// Accessible yet invisible text
.hide-text {
  @include hide-text();
}

// Uses box-sizing mixin, so must be defined here
.input-block-level {
  @include input-block-level();
}
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }

.text-uppercase { text-transform: uppercase; }

// custom text colors
.text-default { color: $defaultTextColor; }
.text-dark { color: $text-dark; }
.text-med-dark { color: $text-med-dark; }
.text-med-light { color: $text-med-light; }
.text-light { color: $text-light; }

// Centering
// -------------------------

// Heads up! This method sets font-size: 0 on .ghost-center-wrap and resets it to font-size: 16px
// on .ghost-center. You may have to set the font-size yourself on children of .ghost-center.
// ems and %s don't work because the parent has font-size:0
.ghost-center-wrap {
  @include ghost();
}

// Vertically align a ghost center element to the bottom
.ghost-center.v-bottom {
  vertical-align: bottom;
}

.table-center-wrap {
  display: table;
}

.table-center {
  display: table-cell;
  vertical-align: middle;
}


// Star highlighting!
// -------------------------
// [data-stars] .star-holder:not(:first-child) {
//   margin-left: 2px;
// }

// Put the half star above the single star
.star-holder {
  position: relative;
  top: .25em;
  display: inline-block;
  @include square( 1em ); // should match .fonticon's size
  line-height: 1;

  .fonticon-10-star,
  .fonticon-10-star-half {
    position: absolute;
    top: 0;
    left: 0;
  }

  .fonticon-10-star {
    z-index: 1;
  }

  .fonticon-10-star-half {
    display: none;
    z-index: 2;
  }
}

[data-stars] .fonticon-10-star {
  color: $gray50;
}

[data-stars] .reviews-text {
  line-height: 1;
  margin: 0;
  color: $gray40;
}

// Ratings without half stars
[data-stars="1"] .star-holder:nth-child(-n + 1) .fonticon-10-star,
[data-stars="2"] .star-holder:nth-child(-n + 2) .fonticon-10-star,
[data-stars="3"] .star-holder:nth-child(-n + 3) .fonticon-10-star,
[data-stars="4"] .star-holder:nth-child(-n + 4) .fonticon-10-star,
[data-stars="5"] .star-holder:nth-child(-n + 5) .fonticon-10-star,

// Ratings with half stars, targetting the full star
[data-stars="0.5"] .star-holder:nth-child(-n + 0) .fonticon-10-star,
[data-stars=".5"]  .star-holder:nth-child(-n + 0) .fonticon-10-star,
[data-stars="1.5"] .star-holder:nth-child(-n + 1) .fonticon-10-star,
[data-stars="2.5"] .star-holder:nth-child(-n + 2) .fonticon-10-star,
[data-stars="3.5"] .star-holder:nth-child(-n + 3) .fonticon-10-star,
[data-stars="4.5"] .star-holder:nth-child(-n + 4) .fonticon-10-star,

// Ratings with half stars, targetting the half star
[data-stars="0.5"] .star-holder:nth-child(-n + 1) .fonticon-10-star-half,
[data-stars=".5"]  .star-holder:nth-child(-n + 1) .fonticon-10-star-half,
[data-stars="1.5"] .star-holder:nth-child(-n + 2) .fonticon-10-star-half,
[data-stars="2.5"] .star-holder:nth-child(-n + 3) .fonticon-10-star-half,
[data-stars="3.5"] .star-holder:nth-child(-n + 4) .fonticon-10-star-half,
[data-stars="4.5"] .star-holder:nth-child(-n + 5) .fonticon-10-star-half {
  display: inline-block;
  color: $buttonOrange;
}


// classes that just include the el-hidden/shown mixins, so if you want you can add/remove the class el-hidden or el-shown on your elements;
// or you can make your .active or .selected class act as a el-hidden or el-shown element by using the mixin on your class directly. Options!
.el-hidden{ @include el-hidden(); }
.el-shown{  @include el-shown(); }



// Social icons helpers
.social-label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.social-icon {
  display: inline-block;
  text-align: center;
  width: px-em(36);
  height: px-em(32);
  margin-right: px-em(12);

  i {
    color: $white;
    vertical-align: middle;
    font-size: px-em( 24, 15 );

    // Hack to remove dot in top left of font icon
    -webkit-font-smoothing: antialiased;
  }
}

.facebook-background-color {
  background-color: $facebookColor;
}

.facebook-color,
i.facebook-color {
  color: $facebookColor;
}

.twitter-background-color {
  background-color: $twitterColor;
}

.twitter-color,
i.twitter-color {
  color: $twitterColor;
}

.gplus-background-color {
  background-color: $gplusColor;
}

.gplus-color,
i.gplus-color {
  color: $gplusColor;
}

.pinterest-background-color {
  background-color: $pinterestColor;
}

.pinterest-color,
i.pinterest-color {
  color: $pinterestColor;
}

// .youtube-background-color {
//   background-color: $youtubeColor;
// }

// .youtube-color,
// i.youtube-color {
//   color: $youtubeColor;
// }



// TEMP FOR TESTING
// .the-icons {
//   margin-left: 0;
//   list-style: none;
//   width:900px;
//   background:white;
//   padding:10px 90px 10px 10px;
//   margin:200px auto 20px;
// }
// .the-icons li {
//   float: left;
//   width: 33%;
//   position: relative;
//   min-height: 30px;
//   padding:5px 0 5px 8px;
// }
// .the-icons li:hover {
//   background:black;
//   color:white;
// }
// .the-icons i {
//   margin-right:4px;
// }











