@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";


@media (max-width: px-em(767)) {

  $captionPadding: 12px;

  .fs-module {

    // Content is inside the slideshow at desktop, but outside below 768
    // When it's outside, it shouldn't fade in
    .copy-grid .fade {
      opacity: 1;
    }

    .box {
      position: static;
    }

    .caption {
      bottom: 30px;
      width: $mobileContainerPlusGridWidth;
    }

    .caption .media-body {
      // padding-right: $captionPadding;
    }

    .tone {
      padding-right: $captionPadding;
      margin-right: $captionPadding;
    }

    .sony-dot-nav .pagination-bullets {
      bottom: 1em;
    }
  }
}


$subPhoneMax: px-em(479);
$phoneMin: px-em(480);
$phoneMax: px-em(767);
$tabletMin: px-em(768);
$tabletMax: px-em(979);
$superDesktop: px-em(1200);

.fs-module .fs-carousel-wrapper {

  @media (min-width: $superDesktop) {
    // height: 620px;
    height: 800px;
  }

  @media (min-width: $tabletMin) and (max-width: $tabletMax) {
    height: 440px;
  }

  @media (max-width: $phoneMax) {
    height: auto;

    .fs-carousel {
      height: 320px;
    }
  }

  @media (max-width: $subPhoneMax){
    height: auto;

    .fs-carousel {
      height: 320px;
    }
  }
}


