@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

// ----------------------
// Demo purposes only
// ----------------------
.fs-spacing {
  height: 250px;
}

.fs-spacing,
.fs-module {
  &.in {
    background-color: #FFE5E9 !important;
  }
}

@for $i from 1 through 20 {
  .fs-spacing:nth-of-type(#{$i}) {
    background-color: hsl(0, 0%, $i * 5%);
  }
}

// .fs-module .caption {
//   background: $gray90;

//   .caption-inner {
//     background: $themeBlueLight;
//   }

//   .stat-wrap {
//     background: $gray70;
//   }

//   .caption-body {
//     background: $white;
//   }
// }

// ---------------------------------------------
// End demo styles
// ---------------------------------------------



$captionPadding: 24px;
$captionHeight: 54px;
$carouselHeight: 700px;

.fs-module {
  position: relative;

  .fs-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .box {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 0;
  }

  &.fs-editorial .box {
    position: static;
    margin-bottom: 22px; // from e1 layouts
  }

  .fs-carousel-wrapper {
    position: relative;
    z-index: 1;
    height: $carouselHeight;
  }

  // Put copy grid above the carousel
  .copy-grid {
    position: relative;
    z-index: 2;
  }

  .fs-carousel {
    position: relative;
    z-index: 1;
  }

  // Above carousel
  .pagination-paddles,
  .sony-dot-nav {
    z-index: 2;
  }

  // Center paddles
  .pagination-paddles {
    left: 0;
    right: 0;
  }


  // Get height from parent
  .fs-carousel,
  .fs-carousel-slide,
  .caption .caption-inner,
  .caption .stat-wrap,
  .caption .stat-wrap .v-wrap,
  .caption .caption-body {
    height: inherit;
  }

  .fs-slide {
    position: relative;
    overflow: hidden;
  }

  .fs-slide-inner {
    @include fill-parent();
  }

  .fs-slide .iq-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  // Create a "safe area" for the image so it doesn't take up the whole module
  &.fs-editorial .fs-slide-inner {
    padding: 0 0 12%;
  }

  // In the editorial mode, the full image should always be seen
  &.fs-editorial .fs-slide .iq-img {
    background-size: contain;
  }


  // Captions
  .caption {
    position: absolute;
    bottom: $captionHeight;
    left: 0;
    right: 0;
    margin: auto;

    // For fading in
    opacity: 1;
    @include transition( .2s ease-out );
  }

  // .fs-slide-inner has .container on it in editorial mode
  &.fs-editorial .caption {
    width: 100%;
  }

  // Will get width from javascript
  .caption .caption-inner {
    margin: auto; // center
  }

  .stat-wrap {
    position: relative;
    padding-right: $captionPadding;
    margin-right: $captionPadding;

    // Gray divider
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -25px;
      display: block;
      height: 50px;
      width: 1px;
      background: $gray60;
    }
  }

  .caption .caption-body {
  }

  // Zero margin on value and units
  .caption .stat {
    color: inherit;
    margin: 0;
    line-height: 0.85; // vertical align getting thrown off by this font-size and line height
    white-space: nowrap;
  }


  // Animation states
  // everything else needs to be hidden
  &.animation-pending {

    .caption,
    .pagination-paddles,
    .pagination-bullets {
      opacity: 0;
    }
  }

  &.animation-complete {
  }


  .sony-dot-nav {
    margin: 0;
  }

  .sony-dot-nav .pagination-bullets {
    bottom: 1.25em;
  }
}

// IE8 and 7 styles
.lt-ie9 .fs-module {

  &.animation-pending .pagination-paddles,
  &.animation-pending .pagination-bullets {
    display: none;
  }
  &.animation-complete .pagination-paddles,
  &.animation-complete .pagination-bullets {
    display: block;
  }
}

// IE7 styles
// Mostly that IE7 doesn't support 'inherit' as a css value
.lt-ie8 .fs-module {

  .fs-carousel,
  .fs-carousel-slide {
    height: $carouselHeight;
  }

  .caption .caption-inner,
  .caption .stat-wrap,
  .caption .stat-wrap .v-wrap,
  .caption .caption-body {
    // height: $captionHeight;
  }
}



