@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";


// Demo purposes only
.fs-spacing {
  height: 250px;
}

.fs-spacing,
.fs-module {
  &.in {
    background-color: #E74C3C !important;
  }
}

@for $i from 1 through 10 {
  .fs-spacing:nth-of-type(#{$i}) {
    background-color: hsl(0, 0%, $i * 10%);
  }
}



$captionPadding: px-em( 12 );
$captionHeight: px-em( 70 );
$carouselHeight: 540px;

.fs-module {


  .box {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 0;
  }

  .fs-carousel-wrapper {
    position: relative;
    z-index: 1;
    height: $carouselHeight;
  }

  // Put copy grid above the carousel
  .copy-grid {
    position: relative;
    z-index: 2;
  }

  .fs-carousel {
    position: relative;
    z-index: 1;
  }

  // Above carousel
  .pagination-paddles,
  .sony-dot-nav {
    z-index: 2;
  }


  // Get height from parent
  .fs-carousel,
  .fs-carousel-slide,
  .caption .media,
  .caption .tone,
  .caption .tone .v-wrap,
  .caption .media-body {
    height: inherit;
  }

  .fs-slide {
    position: relative;
    background: $gray90;
  }

  .fs-slide .iq-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center center;
  }


  // Captions
  .caption {
    position: absolute;
    bottom: $captionHeight;
    left: 50%;
    margin: auto;
    height: $captionHeight;
    min-width: 30%;
  }

  .caption .media {
    position: relative;
    left: -50%;
    margin: 0;
    background: $gray70;
  }

  .tone {
    padding: 0 $captionPadding;
    margin-right: $captionPadding;
  }

  .caption .media-body {
    padding-right: $captionPadding;
  }

  // Zero margin on value and units
  .caption .tone .stat {
    color: $white;
    margin: 0;
  }


  // Animation states
  // everything else needs to be hidden
  &.animation-pending {

    .pagination-paddles {
      opacity: 0;
    }

    .pagination-bullets {
      opacity: 0;
    }
  }

  &.animation-complete {
  }


  .sony-dot-nav {
    margin: 0;
  }

  .sony-dot-nav .pagination-bullets {
    bottom: 1.25em;
  }
}

// IE8 and 7 styles
.lt-ie9 .fs-module {

  &.animation-pending .pagination-paddles,
  &.animation-pending .pagination-bullets {
    display: none;
  }
  &.animation-complete .pagination-paddles,
  &.animation-complete .pagination-bullets {
    display: block;
  }
}

// IE7 styles
// Mostly that IE7 doesn't support 'inherit' as a css value
.lt-ie8 .fs-module {

  .fs-carousel,
  .fs-carousel-slide {
    height: $carouselHeight;
  }

  .caption .media,
  .caption .tone,
  .caption .tone .v-wrap,
  .caption .media-body {
    height: $captionHeight;
  }
}



