//
// Code (inline and blocK)
// --------------------------------------------------


// Inline and block code styles
code,
pre {
  padding: 0 3px 2px;
  @include font-monospace(($baseFontSize * 0.82));
  color: $grayDark;
  @include border-radius(3px);
}

// Inline code
code {
  padding: 2px 4px;
  color: #ff485e;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

// Blocks of code
pre {
  display: block;
  padding: 0.45em * $baseLineHeight;
  margin: 0 0 (0.5em * $baseLineHeight);
  font-size: (0.8125em);
  line-height: $baseLineHeight;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc; // fallback for IE7-8
  border: 1px solid rgba(0,0,0,.15);
  @include border-radius(4px);

  // Make prettyprint styles more spaced out for readability
  &.prettyprint {
    margin-bottom: 1em * $baseLineHeight;
  }

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
  }
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}





.prettyprint.prettyprint-jade{
  margin:15px 0 25px;
  line-height: 1.2em;
  padding: 5px 25px;

  &.tall{
    margin-top: 4px;
    margin-bottom: 4px;
  }
  &.fused{
    margin: -22px 0 25px;
    line-height: 1.4em;
    padding: 14px 25px 9px;
  }

  .pln, .kwd, .pun, .lit { color:#ff485e;} // classes / default
  .tag .pln { color:#44f; } // tag
  .com { color:rgb(6, 156, 0);} // id
  .invisibles-column .pun{ color:rgba(0,0,0,0.35); }

  .plain span{
    color:$gray40;
    font-size:0.8em;
  }
}

.docs-page-structure-page,
.docs-container-demo{
  .prettyprint.linenums,
  .prettyprint,
  pre.prettyprint{
    padding:2px 8px;
    font-size:$font_13_15;
    background-color:rgba(255,255,255,0.5);
    border-color:rgba(255,255,255,0.7);
    @include box-shadow(none);
    margin-bottom:0;
    display:inline-block;
    text-align:left;

    ol.linenums {
      margin: 0;
      li{
        margin:0;
        padding:0;
      }
    }
  }
}
