$tcc-content-block-height-2up:277px;
$tcc-content-block-height-1up:277px;//240px;//198px;
$two-up-breakpoint-max:px-em(979px); //767px;
$two-up-breakpoint-min:px-em(480px);
$one-up-breakpoint-max:px-em(479px);

$tenPercentInstaFlickr: percentage(10px/316px);
$fivePercentInstaFlickr: percentage(5px/316px);

//  .d8888b.                           
// d88P  Y88b                          
//        888                          
//      .d88P        888  888 88888b.  
//  .od888P"         888  888 888 "88b 
// d88P"      888888 888  888 888  888 
// 888"              Y88b 888 888 d88P 
// 888888888          "Y88888 88888P"  
//                            888      
//                            888     
//                             
@media (min-width: $two-up-breakpoint-min) and (max-width: $two-up-breakpoint-max) {
  
  .tcc-wrapper{
    height: 475px;

    .tcc-full-bleed-at-979{
      width:auto;
    }

    .tcc-body{
      height:$tcc-content-block-height-2up; 
    } // end .tcc-body

    .tcc-content-block{
      height:$tcc-content-block-height-2up;
    
      .tcc-inner-container {
        height:$tcc-content-block-height-2up;
      } //.tcc-inner-container

    } // tcc-content-block

    .article{ 
      &.default,
      &.news,
      &.event{
        .p4{
          max-height: 54px;
          overflow: hidden;
        }
      }

      &.featured{       
        .feature-copy{
          max-height: 120px;

          .lt3{
            margin-top:0px;
          }
 
          .t5-light{
            height:52px;
            max-height: 52px;        
          } // end .t5-light

        } // end .feature-copy
      
      } // end .article.featured 

    } // end .article

 
    .users-voice{



      &.user-quote,
      &.expert-quote{
        padding-bottom:22px;
        

        .bq3{
          max-height: 105px;
          overflow:hidden;
        } // end .bq3

        .credits{
        
          .avatar{
            margin-bottom:5px;
          } // .avatar        
        
        } // .credits

      }

      &.question{
        .bq3{
          max-height: 150px;
          overflow:hidden;
          padding-top:20px;
        } // end .bq3

      }// end .question

    } // end .users-voice
    
    .sonys-voice{   
      padding:0; 


      &.instagram{

        .span12{
          margin-left:0;
        }

        .center{
          position:relative;

          .center-container{
            height:116px; // 117 = 96 + 10 + 10

            .right,
            .left{
              div{
                display:inline-block;
              }
            }

            .right{
              padding-left: 0;
              right:10px;
              width:percentage( 96 / 318 ); 
              height:96px; //percentage( 96 / 217 ); 

              div{
                width:100%; 
                height:100%; 
              }

            } // end right

            .left{
              left:10px;
              width:percentage( 202 / 318 ); //197 = 96*2 + 10 padding (5 on each side)
              height:96px; //percentage( 96 / 217 );

              div{
                width:percentage(98.019995/202); // 98 is a slight tweak from 96
                height:100%;
              }
              
              .last{
                margin: 0 0 0 px-em(5px);
              }           

            } // end left

          } //.center-container
          
        } // end center

      } // end &.instagram

    } // end .sonys-voice  

    .flickr{

      .center{
        .bottom-row{  
          display:none;
         }    
               
        .top-row{
          margin-bottom:0;
        }
        .top-row,
        .bottom-row{  
          div{
            width:30%;
          }  
        }    
  
      } // end center    
    
    } // end .flickr
    
    .navigation-container{
      bottom: 23px;
      margin-left: -14px; 
    } // .navigation-container

  } // end .tcc-wrapper

} // end mQ


//  d888                           
// d8888                           
//   888                           
//   888         888  888 88888b.  
//   888         888  888 888 "88b 
//   888  888888 888  888 888  888 
//   888         Y88b 888 888 d88P 
// 8888888        "Y88888 88888P"  
//                        888      
//                        888      
//                        888    
//                          
// ONE UP LANDSCAPE PHONE AND BELOW -- 480px
@media (max-width: $one-up-breakpoint-max) {
  .tcc-wrapper{
    height: 475px;
    padding:50px 0;

    .tcc-full-bleed-at-979{
      width:auto;
    } // end .tcc-full-bleed-at-979
  
    .tcc-header{
      padding-bottom: 20px;
      text-align: left;

      .tcc-header-title{
        padding-bottom:10px;
        display:block;
        float:none;
      } // end .tcc-header-title

      .tcc-header-link{
        display:block;
        float:none;
        position: relative;
        bottom:0;       
        right: 0;
      } // end .tcc-header-link

    } // end .tcc-header


    .tcc-body-wrapper{
      padding:30px 0 0 0;
    } // end .tcc-body-wrapper

    .tcc-body{
      height:$tcc-content-block-height-1up; 
    } // end .tcc-body

    .tcc-content-block{
      height:$tcc-content-block-height-1up;

      .tcc-inner-container{
        height:$tcc-content-block-height-1up;
      }

    } // tcc-content-block

    .article{
      .p4{
        display:none; // body copy mobile
      } // end p4

      .img-container{
      
        img{
          width:100%;
        } // end img
      
      } // end .img-container


      &.default,
      &.news,
      &.event{
        outline:1px soild red;
        .tcc-copy{
          max-height:90px;
        }

        .lt3{
          margin:0;
        }
      }

      &.featured{
        .feature-copy{
          padding:px-em(17px) px-em(25px); 
          max-height: 120px;

          .lt3{
            margin-top:0px;
          }
 
          .t5-light{
            height:52px;
            max-height: 52px;        
          } // end .t5-light

        } // end .feature-copy

      } // end .article.featured

    } // end .article  

    .users-voice{

      &.expert-quote{
        .credits{
          .avatar{
            margin-bottom:0;
          } // .avatar

          .author{
            padding-left:0;
          } // end author

        } // end .credits

      } // end &.expert-quote
      
      &.user-quote{

        padding:30px px-em(25px) 26px px-em(25px);

        .credits{
          position:absolute;
          bottom:23px;
          left:px-em(25px);

          .avatar{
            margin-bottom:0px;
          } // end avatar

          .handle,
          .author{
            margin:0;
          }

          .author{
           padding-left: px-em(5px);
          } // .author

        } // end .credits
        
      } // end .user-quote & .expert-quote
      
      &.question{
        .credits{
          .author{
            left:63px;            
            margin:-8px 0 0 0;
          } // end .author
        } // end .credits

        .bq3{
          padding:25px px-em(10px) 0 px-em(10px);
          margin-bottom:7px;
        } // end .bq3

        .answer-btn{
          margin-left: -75px;
          bottom:0;
        } // end .answer-btn

      } // end .question

    } // users voice

    .sonys-voice{
      padding:0;

      .top{
        .icon-container{
          display: inline-block;
          padding: 0;
          margin: 0 5px 0 0;
        } // .icon-container

       [class*="fonticon-10-dot"]{
          font-size: px-em(40px); 

          &.white-bg{
            left: 0;
            margin-left: 0;
            width:40px;
            height:40px;
          } // end .white-bg

        } // end fonticon divs

        .fonticon-15-facebook,
        .fonticon-15-twitter,
        .fonticon-15-instagram {
          font-size: px-em(21px);
          width: 40px;
          height: 40px;
          padding-top: 9px;
          margin: 0;
          z-index: 2;        
        } // end .fonticons

       .social-btn{
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left:-73px;

        } // end socialBtn

        .meta{
          display:inline-block;
          margin:12px 0;
          padding:0;
        } // end .meta

      } // end top

      &.twitter{
        .bq4{
          padding:0;//20px 0;
        } // end .bq4
    
      } // end .twitter

      &.facebook{
        .bq6{
          padding:5px 0;

          p{
            margin-bottom:0;
          } // end p
          
        } // end .bq6
        
      } // end &.facebook     

      &.instagram{

        .span12{
          margin-left:0;
        }

        .center{
          position:relative;

          .center-container{
            height:116px; // 117 = 96 + 10 + 10

            .right,
            .left{
              div{
                display:inline-block;
              }
            }

            .right{
              padding-left: 0;
              right:10px;
              width:percentage( 96 / 318 ); 
              height:96px; //percentage( 96 / 217 ); 

              div{
                width:100%; 
                height:100%; 
              }

            } // end right

            .left{
              left:10px;
              width:percentage( 202 / 318 ); //197 = 96*2 + 10 padding (5 on each side)
              height:96px; //percentage( 96 / 217 );

              div{
                width:percentage(98.019995/202); // 98 is a slight tweak from 96
                height:100%;
              }
              
              .last{
                margin: 0 0 0 px-em(5px);
              }           

            } // end left

          } //.center-container
          
        } // end center

      } // end &.instagram

    } // end .sonys-voice  
    
    .flickr{
     
      .top{

        .icon-container{
          display:inline-block;
          width: 44px; 
         
        } // .icon-container

       .social-btn{
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left:-73px;
        } // end socialBtn        
   
        .meta{
          margin-top:8px;
          display:inline-block;
          padding-left: px-em(10px); 
        } // end .meta

      } // end .top

      .center{
        .bottom-row{  
          display:none;
         }    
               
        .top-row{
          margin-bottom:0;
        }
      }

    } // end .flickr

    .navigation-container{
      bottom: 14px;
    } // .navigation-container

  } // end .tcc-wrapper

} // end > 480
