@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.footnotes-wrapper {
  background: $gray80;

  h2 {
    text-align: right;
    cursor: pointer;
    margin-bottom: 0;
    line-height: 55px;
    color: $gray20;
    @include user-select(none);
  }

  i.fonticon-10-arrowhead-down {
    -webkit-transition: -webkit-transform 250ms, top 250ms;
    -moz-transition: -mos-transform 250ms, top 250ms;
    -ms-transition: -ms-transform 250ms, top 250ms;
    transition: transform 250ms, top 250ms;
    position: relative;
    top: -2px;
  }

  &.open {

    i.fonticon-10-arrowhead-down {
      @include rotate(-180deg);
      top: 2px;

      .lt-ie9 & {
        top: -2px;
      }
    }
  }

  .list {
    border-top: 1px solid $gray70;
    display: none;
    color: $gray50;
  }

  ol {
    margin: 0;
    padding: 34px 0 50px;
  }

  li {
    margin-bottom: 0;
    clear: left;
  }

  li + li {
    margin-top: 25px;
  }

  .num {
    font-weight: bold;
    color: $gray20;
    display: block;
    float: left;
  }

  .note {
    display: block;
    margin-left: 37px;
  }
}

// end .footnotes-wrapper
