/* line 14, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
body, html {
  padding: 0;
  margin: 0;
}

/* line 18, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.page-wrap-outer {
  width: 100%;
  overflow: hidden;
}

/* line 22, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.page-wrap-inner {
  width: 100%;
  position: relative;
  -webkit-transition: margin-top 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  transition: margin-top 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

/* line 46, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper {
  font-family: "SST W01 Roman", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.65;
  font-color: #2f353d;
}
/* line 51, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper img {
  border: none;
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
/* line 60, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper ol, .u-nav-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 65, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper a {
  outline: 0;
  color: #4572ed;
  text-decoration: none;
}
/* line 69, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper a :focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 72, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper a:hover, .u-nav-wrapper a:active, .u-nav-wrapper a:focus {
  color: #3c4c74;
}
/* line 77, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper a:not(.no-hover-transition) {
  -webkit-transition: color 0.25s linear, background-color 0.25s linear;
  transition: color 0.25s linear, background-color 0.25s linear;
}
/* line 82, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 91, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .l1 {
  font-family: "SST W01 Bold", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  color: #2f353d;
  font-size: 1.375em;
  line-height: 1.36364;
  letter-spacing: 0.05em;
}
/* line 102, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .l2 {
  font-family: "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  color: #2f353d;
  font-size: 0.75em;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-bottom: 8px;
}
/* line 112, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .p3 {
  font-size: 0.8125em;
  line-height: 1.53846;
}
/* line 115, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .p4 {
  font-size: 0.75em;
  line-height: 1.5;
}
/* line 118, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  width: 93.06122%;
  max-width: 1400px;
}
/* line 125, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .grid {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  width: 92.76316%;
}
/* line 131, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .grid [class*=span] {
  display: block;
  float: left;
  margin-left: 3.5461%;
}
/* line 135, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .grid [class*=span]:first-child {
  margin-left: 0;
}
/* line 140, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .span3 {
  width: 22.34043%;
}
/* line 143, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .span4 {
  width: 30.96927%;
}
/* line 146, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .span8 {
  width: 65.48463%;
}
/* line 149, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .label-success {
  padding: 4px 10px;
  background: #22c083;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
}

@media (min-width: 75em) {
  /* line 161, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .container {
    width: 92.5%;
  }
  /* line 164, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid {
    width: 91.89189%;
  }
  /* line 167, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid [class*=span] {
    margin-left: 3.52941%;
  }
  /* line 170, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid .span3 {
    width: 22.35294%;
  }
  /* line 173, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid .span4 {
    width: 30.98039%;
  }
  /* line 176, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid .span8 {
    width: 65.4902%;
  }
}
@media (max-width: 61.1875em) and (min-width: 48em) {
  /* line 186, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .p3 {
    font-size: 0.75em;
    line-height: 1.5;
  }
  /* line 189, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .p4 {
    font-size: 0.6875em;
    line-height: 1.36364;
  }
  /* line 192, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .container {
    width: 92.1875%;
  }
  /* line 195, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid {
    width: 91.80791%;
  }
  /* line 198, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid [class*=span] {
    margin-left: 3.38462%;
  }
  /* line 202, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid .span3 {
    width: 22.46154%;
  }
  /* line 205, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid .span4 {
    width: 31.07692%;
  }
  /* line 208, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid .span8 {
    width: 65.53846%;
  }
}
/* line 23, ../../src/packages/common/css/_components/_universal-nav.scss */
.unav-open-until-transition-end .navmenu-w-search-container,
.unav-open-until-transition-end .navmenu-w-mobile-top,
.unav-open-until-transition-end .navtray-w-electronics,
.unav-open-until-transition-end .navtray-w-entertainment,
.unav-open .navmenu-w-search-container,
.unav-open .navmenu-w-mobile-top,
.unav-open .navtray-w-electronics,
.unav-open .navtray-w-entertainment {
  display: none;
}

/* line 43, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper {
  background: #f3f4f6;
  padding: 20px 0 50px;
  width: 100%;
  position: absolute;
  top: -9999px;
}
/* line 50, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-head {
  position: relative;
  margin-bottom: 13px;
}
/* line 54, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-close-btn {
  font-family: "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
  font-size: 0.75em;
  letter-spacing: 0.0625em;
  padding: 9px 13px 10px 13px;
  color: #fff;
  background-color: #929599;
  background-repeat: no-repeat;
  background-position: 88% 50%;
  border-radius: 1px;
  margin: 0 0 14px;
  float: right;
}
/* line 71, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-close-btn:hover, .u-nav-wrapper .u-nav-close-btn:active, .u-nav-wrapper .u-nav-close-btn:focus, .u-nav-wrapper .u-nav-close-btn.active {
  color: #fff;
  background-color: #2f353d;
}
/* line 76, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-close-btn .u-nav-close-btn-img {
  margin-left: 24px;
  position: relative;
  top: -1px;
}
/* line 82, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper h5.l1 {
  clear: both;
  margin: 0;
}
/* line 86, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-all-sites-link {
  position: absolute;
  bottom: 1px;
  right: 0;
  font-size: 0.8125em;
}
/* line 93, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary {
  position: relative;
  overflow: hidden;
}
/* line 96, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary [class*="span"] {
  float: none;
  margin-left: 0;
}
/* line 103, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-link {
  display: block;
  position: relative;
  opacity: 1;
  margin-bottom: 0;
}
/* line 109, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-link .u-nav-primary-img-wrap {
  display: block;
  background-color: #fff;
  /* preloader animated gif (one less http request): */
  background-image: url("data:image/gif;base64,R0lGODlhPAA8APUAAP39/eLi5dra3vLy9Ofn6dra3dzc3/f3+Nvb3tzc4Pv7+97e4ezs7vr6+/b29+3t7+np6+bm6N/f4uTk5ubm6d7e4uXl6Pz8/O3t7vDw8eHh5Pn5+t3d4fT09fj4+ODg4/7+/urq7PX19vHx8uzs7fLy8/Hx8////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFBAAAACwAAAAAPAA8AAAGT0CAcEgsGo/IpHLJbDqf0Kh0Sq1ar9isdsvter/gsHhMLpvP6LR6zW673/C4fE6v2+/4vH7P7/v/gIGCg4SFhoeIiYqLjI2Oj5CRkpOUXkEAIfkEBQQAAQAsIwAjAAYABgAABglAgHBILBqPyCAAIfkEBQQAAAAsIwAjAAYABgAABglAh3BILBqPyCAAIfkEBQQAAAAsEwATABYAFgAABjPAhnAIKBqPSMCQmGwWl0KnE9qQNqnWJDbL7Xq/4LB4TC6bz+gkac0Gs9vf99otp7/t7CAAIfkEBQQAAQAsEwATABYAFgAABjxAk3AYKBqPyMCQmGwWl0KnE2qSNqnWJDbL7Xq/RYB4DB6Tv2ZxOb02t8/guPyrqdvB9js9r8Hz/XmAdkEAIfkEBQQAAAAsEwATABYAFgAABjzAiHAIKBqPSMCQmGwWl0KnExqRNqnWJDbL7Xq/RYd4DB6Tv2ZxOb02t8/guPxrqNvB9js9b8Dz/XmAdkEAIfkEBQQAAAAsEwATABYAFgAABknAhXAIKBqPjaRySDw6lUvmwvmENqRTqtF6lWq3Vuy3yB2bz2gzY81OG9ltNwC+ls/pdjojj7f7/3YFgoOBg4KFhoiEcoaHjI1BACH5BAUEAAEALBMAEwAWABYAAAZKQIFwGCgaj6Wkckg8OpVLpsD5hJakU6rRepVqt1bst8gdm89os2bNThvZbXcAvpbP6Xa6Jo+3+/9fAIKDdoOEcoaChYmLho2HVEEAIfkEBQQAAAAsEwATABYAFgAABkrAgnAIKBqPlKRySDw6lUtmwfmEUqRTqtF6lWq3Vuy3yB2bz2izYc1OG9ltNwC+ls/pdrohj7f7/18HgoN2g4RyhoKFiYuGjYdUQQAh+QQFBAAAACwTABMAFgAWAAAGTkCAcEgsAhbIpHE5TCqZSycSGpVSjdLFtZjder9FhXgsLJjPzDEZcEYv1eJyu5CGy9t19d1thCv2ZmCCg1sMhoeCh4hgioaJjY+KkYtGQQAh+QQFBAAEACwTABMAFgAWAAAGUECCcEgsEgTIpHE5TCqZSycSGpVSjVLBtZjder/FgXgMJozJ4LO4rB6w1e9zeU6HAu54YWDPZ+LzBHx9S393eoIBfoWHgop/jINGhQCQe0xBACH5BAUEAAAALBMAEwAWABYAAAZQQIBwSCwCCsikcTlMKplLJxIalVKN0sK1mN16v0WCeAwGjMngs7isJrDV73N5Toce7nihYc9n4vMAfH1Lf3d6ggZ+hYeCin+Mg0aFB5B7TEEAIfkEBQQAAAAsEwAbABYADgAABkTAhXAIKBqPiqRySDw6lUvmwvmEKqRTqtF6lWq3Vuy3yB2bz+giZs0uFt7wL7sNgMe187XbXpDn93Z+c4B3VHkYhG9fQQAh+QQFBAAEACwTABMAFgAWAAAGSECCcCgEGI/EpJJwRC6fTeMTGp0uowCrEqvter9CgXhsHZjPY/L0jE4LyuyB+72Oz+Hse50N7nsDgIF9gYJghICDh4mEi4VfQQAh+QQFBAAAACwTABMAFgAWAAAGSECAcCg8GI/EpBJwRC6fTeMTGp0uowerEqvter/CgnhsJZjPY/L0jE4XymyC+72Oz+Hse50N7nsNgIF9gYJghICDh4mEi4VfQQAh+QQFBAAAACwTABMAFgAWAAAGPUCAcCh8GI/EpBJwRC6fTeMTGp0uow+rEqvter/gYWVMDpPL4PPYrGaf3eiwfFqo28P2Ozhfx/P9eYB6X0EAIfkEBQQAAAAsGwATAA4ADgAABifAgHAIKBqLQ+LRmBQumc0nMiptBqTYrFYr6Hqx3q803AWTzWG0NwgAIfkEBQQAAAAsGwATAA4AFgAABjdAg3AIKBqLQ+LRmBQumc0nMiptGqTYrFZb6Hqx3q803AWTzWG0eMveIt5wLDwunb/ldvxcDw8CACH5BAUMAAAALBsAEwAOABYAAAYuQIRwCCgai0Pi0ZgULpnNJzIqbSKk2Kx2y+16v+Cw+Jkom7HmszRdRrPdabg5CAAh+QQFBAAAACwbABMADgAWAAAGLsCCcAgoGotD4tGYFC6ZzScyKm0WpNisdsvter/gsPg5KZux5rM0XUaz3Wm4OQgAIfkEBQQAAAAsEwATABYAFgAABjPAhHAIKBqPSMCQmGwWl0KnE5qQNqnWJDbL7Xq/4LB4TC6bz+jkYM0Gs9vf99otp7/t7CAAIfkECQQAAQAsEwATABYAFgAABjNAgnAYKBqPyMCQmGwWl0KnE0qQNqnWJDbL7Xq/4LB4TC6bz+gkYM0Gs9vf99otp7/t7CAAIfkEBQQAAAAsEwATABYAFgAABlxAkXAIABSOyCISOSQalwUltCmULq1MKva4LVBF3e43/LwWz+i0es1mQ6OAhXzefRfn9PI7Gccv6lB3foBmfn96e3CGZG2Njo92iHBqkZGUgZJumJZplZiXZpxoQQAh+QQJBAAAACwTABMAFgAOAAAGOECQcAgoGo+CpHJIPDqVSybI+YQKpFOq0XqVardW7LfIHZvPaHNozU4b2W03AL6Wz+l2eiiP1wYBACH5BAkEAAAALBMAEwAWAA4AAAZFQIBwKCwYj8KPckkkHpGAJbNZfBaS0g+1+sRKtwDrNZoFi71TsHrNdlqFnricK4bK5+F6F3CP0/VwfX91gXeDZ3yCeU9BACH5BAUEAAAALBMAEwAWABYAAAZPQIBwKCwYj8KHckkkHpGAJbNZfBaS0ge1+sRKtwDrNZoFi71TsHrNdlrX4rM6/p7Toea7Ea4f57ttgYJtCIWGgwCGh4OKhYiNCI+NkopgQQAh+QQJBAAAACwbABMADgAWAAAGL0CAcChsGI9E4hGZLC4bTecyCnhCo1aqdsvter/gsBgcKJup5nM0XUaz3Wm4uhkEACH5BAUEAAAALBMAEwAWABYAAAZFQIBwKCwYj8SkEnBELp9N4xManS6jBasSq+16v0KDeGzFjslT89lQjq7Zafe63XzTneC8Xjjq+/N+f2CBfYCEhoGIgkpBACH5BAkEAAAALBMAGwAOAA4AAAYnQItwCCgai0Pi0ZgULpnNJzIqbVqk2KxWe+l6sd6vNNwFk81htDcIACH5BAUEAAAALBMAGwAGAA4AAAYVwI5wSCwaj0iAcslUcp7QqHRKrQYBACH5BAkEAAEALBMAGwAWAA4AAAY4QIBwGCgaj4Kkckg8OpVLJsD5hAqkU6rRepVqt1bst8gdm8/oImTNThvZbXcAvpbP6XY6JI+XBwEAIfkEBQQAAAAsEwAbABYADgAABi5AgHBILAIkyKRxOUwqmUsnEhqVUo1SybWY3Xq/xYN4DAaMyeCzuKw+sNXvczkIACH5BAkEAAAALBMAEwAWABYAAAY9QIBwKEQYj8SkEnBELp9N4xManS6jCKsSq+16v+AhY0wOk8vg89isZp/d6LB8Cqrbw/Y7OF/H8/15gHpfQQAh+QQJBAAAACwbABMADgAOAAAGJ0CNcAgoGotD4tGYFC6ZzScyKm1qpNisVrvperHerzTcBZPNYbQ3CAAh+QQFBAAAACwbABMABgAGAAAGCcCMcEgsGo/IIAAh+QQFBAAAACwbABMABgAGAAAGCUCFcEgsGo/IIAA7");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 117, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-link .u-nav-primary-img {
  display: block;
  z-index: 1;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
  -webkit-transform: scale3d(1, 1, 1);
}
/* line 126, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-link .u-nav-primary-img.opacity1 {
  opacity: 1;
}
/* line 134, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-link:hover .u-nav-primary-img, .u-nav-wrapper .u-nav-primary-link:active .u-nav-primary-img, .u-nav-wrapper .u-nav-primary-link:focus .u-nav-primary-img {
  opacity: 0.9;
}
/* line 140, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-caption {
  display: block;
  padding: 0.6875em 0 0.25em 0;
}
/* line 147, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-6up .u-nav-primary-col1.u-nav-primary-row2 {
  padding-top: 36px;
}
/* line 150, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-col2.u-nav-primary-row1,
.u-nav-wrapper .u-nav-primary-col3.u-nav-primary-row1 {
  position: absolute;
  top: 0;
}
/* line 155, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-col2.u-nav-primary-row2,
.u-nav-wrapper .u-nav-primary-col3.u-nav-primary-row2 {
  position: absolute;
  bottom: 0;
}
/* line 160, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-col2 {
  left: 34.51537%;
}
/* line 163, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-col3 {
  left: 69.03073%;
}
/* line 167, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-secondary {
  overflow: hidden;
  background: #fff;
  margin-top: 26px;
  padding: 14px 0 0;
}
/* line 173, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-secondary li:nth-child(5n+0) {
  margin-left: 0;
  clear: both;
}
/* line 178, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-secondary-li {
  padding-bottom: 27px;
  padding-top: 9px;
}
/* line 182, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-secondary-link,
.u-nav-wrapper .u-nav-secondary-desc {
  position: relative;
  padding-right: 10.5%;
  padding-left: 10.5%;
  left: 5.5%;
}
/* line 191, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-secondary li:nth-child(4n+0) .u-nav-secondary-link,
.u-nav-wrapper .u-nav-secondary li:nth-child(4n+0) .u-nav-secondary-desc {
  padding-right: 17%;
}
/* line 197, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-secondary-link {
  display: inline-block;
  color: #4572ed;
  margin-bottom: 0;
}
/* line 202, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-secondary-link:hover, .u-nav-wrapper .u-nav-secondary-link:active, .u-nav-wrapper .u-nav-secondary-link:focus {
  color: #3c4c74;
}
/* line 206, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-secondary-desc {
  display: block;
  color: #83838f;
}
/* line 211, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .label-success {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  font-size: 0.916666666666667em;
  line-height: 1.5;
}

@media (min-width: 75em) {
  /* line 224, ../../src/packages/common/css/_components/_universal-nav.scss */
  .u-nav-wrapper .u-nav-primary-col2 {
    left: 34.5098%;
  }
  /* line 227, ../../src/packages/common/css/_components/_universal-nav.scss */
  .u-nav-wrapper .u-nav-primary-col3 {
    left: 69.01961%;
  }
}
@media (max-width: 61.1875em) and (min-width: 48em) {
  /* line 235, ../../src/packages/common/css/_components/_universal-nav.scss */
  .u-nav-wrapper .u-nav-primary-col2 {
    left: 34.46154%;
  }
  /* line 238, ../../src/packages/common/css/_components/_universal-nav.scss */
  .u-nav-wrapper .u-nav-primary-col3 {
    left: 68.92308%;
  }
  /* line 242, ../../src/packages/common/css/_components/_universal-nav.scss */
  .u-nav-wrapper .u-nav-secondary-link {
    font-size: 0.8125em;
    line-height: 1.7;
  }
  /* line 246, ../../src/packages/common/css/_components/_universal-nav.scss */
  .u-nav-wrapper .u-nav-secondary-desc {
    font-size: 0.75em;
    line-height: 1.5;
  }
}
@media (max-width: 47.9375em) {
  /* line 253, ../../src/packages/common/css/_components/_universal-nav.scss */
  .u-nav-wrapper {
    display: none;
  }
}
