/* line 14, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
body, html {
  padding: 0;
  margin: 0;
}

/* line 18, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.page-wrap-outer {
  width: 100%;
  overflow: hidden;
}

/* line 26, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.page-wrap-inner {
  width: 100%;
  position: relative;
  -webkit-transition: margin-top 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  transition: margin-top 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

/* line 50, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper {
  font-family: "SST W01 Roman", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.65;
  font-color: #2f353d;
}
/* line 55, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper img {
  border: none;
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
/* line 64, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper ol, .u-nav-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 69, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper a {
  outline: 0;
  color: #4572ed;
  text-decoration: none;
}
/* line 73, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper a :focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 78, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper a:hover, .u-nav-wrapper a:active, .u-nav-wrapper a:focus {
  color: #3c4c74;
}
/* line 81, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper a:not(.no-hover-transition) {
  -webkit-transition: color 0.25s linear, background-color 0.25s linear;
  transition: color 0.25s linear, background-color 0.25s linear;
}
/* line 86, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 95, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .l1 {
  font-family: "SST W01 Bold", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  color: #2f353d;
  font-size: 1.375em;
  line-height: 1.36364;
  letter-spacing: 0.05em;
}
/* line 106, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .l2 {
  font-family: "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  color: #2f353d;
  font-size: 0.75em;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-bottom: 8px;
}
/* line 116, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .p3 {
  font-size: 0.8125em;
  line-height: 1.53846;
}
/* line 119, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .p4 {
  font-size: 0.75em;
  line-height: 1.5;
}
/* line 122, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  width: 93.06122%;
  max-width: 1400px;
}
/* line 129, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .grid {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  width: 92.76316%;
}
/* line 135, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .grid [class*=span] {
  display: block;
  float: left;
  margin-left: 3.5461%;
}
/* line 139, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .grid [class*=span]:first-child {
  margin-left: 0;
}
/* line 144, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .span3 {
  width: 22.34043%;
}
/* line 147, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .span4 {
  width: 30.96927%;
}
/* line 150, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .span8 {
  width: 65.48463%;
}
/* line 153, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
.u-nav-wrapper .label-success {
  padding: 4px 10px;
  background: #22c083;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
}

@media (min-width: 75em) {
  /* line 165, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .container {
    width: 92.5%;
  }
  /* line 168, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid {
    width: 91.89189%;
  }
  /* line 171, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid [class*=span] {
    margin-left: 3.52941%;
  }
  /* line 174, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid .span3 {
    width: 22.35294%;
  }
  /* line 177, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid .span4 {
    width: 30.98039%;
  }
  /* line 180, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid .span8 {
    width: 65.4902%;
  }
}
@media (max-width: 61.1875em) and (min-width: 48em) {
  /* line 190, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .p3 {
    font-size: 0.75em;
    line-height: 1.5;
  }
  /* line 193, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .p4 {
    font-size: 0.6875em;
    line-height: 1.36364;
  }
  /* line 196, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .container {
    width: 92.1875%;
  }
  /* line 199, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid {
    width: 91.80791%;
  }
  /* line 202, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid [class*=span] {
    margin-left: 3.38462%;
  }
  /* line 206, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid .span3 {
    width: 22.46154%;
  }
  /* line 209, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid .span4 {
    width: 31.07692%;
  }
  /* line 212, ../../src/packages/common/css/universal-nav-standalone-styles.scss */
  .u-nav-wrapper .grid .span8 {
    width: 65.53846%;
  }
}
/* line 26, ../../src/packages/common/css/_components/_universal-nav.scss */
.unav-open-until-transition-end .navmenu-w-search-container,
.unav-open-until-transition-end .navmenu-w-mobile-top,
.unav-open-until-transition-end .navtray-w-electronics,
.unav-open-until-transition-end .navtray-w-entertainment {
  display: none;
}

/* line 31, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper {
  background: #f3f4f6;
  padding: 20px 0 50px;
  width: 100%;
  position: absolute;
  top: -9999px;
}
/* line 38, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-head {
  position: relative;
  margin-bottom: 13px;
}
/* line 42, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-close-btn {
  font-family: "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-style: normal;
  font-size: 0.75em;
  letter-spacing: 0.0625em;
  padding: 9px 49px 10px 13px;
  color: #fff;
  background-color: #929599;
  background-repeat: no-repeat;
  background-position: 88% 50%;
  border-radius: 1px;
  margin: 0 0 14px;
  float: right;
}
/* line 59, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-close-btn:hover, .u-nav-wrapper .u-nav-close-btn:active, .u-nav-wrapper .u-nav-close-btn:focus, .u-nav-wrapper .u-nav-close-btn.active {
  color: #fff;
  background-color: #2f353d;
}
/* line 64, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper h5.l1 {
  clear: both;
  margin: 0;
}
/* line 68, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-all-sites-link {
  position: absolute;
  bottom: 1px;
  right: 0;
  font-size: 0.8125em;
}
/* line 75, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary {
  position: relative;
  overflow: hidden;
}
/* line 78, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary [class*="span"] {
  float: none;
  margin-left: 0;
}
/* line 85, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-link {
  display: block;
  position: relative;
  opacity: 1;
  margin-bottom: 0;
}
/* line 91, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-link .u-nav-primary-img {
  display: block;
  z-index: 1;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
  -webkit-transform: scale3d(1, 1, 1);
}
/* line 104, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-link:hover .u-nav-primary-img, .u-nav-wrapper .u-nav-primary-link:active .u-nav-primary-img, .u-nav-wrapper .u-nav-primary-link:focus .u-nav-primary-img {
  opacity: 0.9;
}
/* line 110, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-caption {
  display: block;
  padding: 0.6875em 0 0.25em 0;
}
/* line 117, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-col1.u-nav-primary-row2 {
  padding-top: 24px;
}
/* line 121, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-col2.u-nav-primary-row1,
.u-nav-wrapper .u-nav-primary-col3.u-nav-primary-row1 {
  position: absolute;
  top: 0;
}
/* line 126, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-col2.u-nav-primary-row2,
.u-nav-wrapper .u-nav-primary-col3.u-nav-primary-row2 {
  position: absolute;
  bottom: 0;
}
/* line 130, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-col2 {
  left: 34.51537%;
}
/* line 133, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-primary-col3 {
  left: 69.03073%;
}
/* line 137, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-secondary {
  overflow: hidden;
  background: #fff;
  margin-top: 26px;
  padding: 14px 0 0;
}
/* line 143, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-secondary li:nth-child(5n+0) {
  margin-left: 0;
  clear: both;
}
/* line 148, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-secondary-li {
  padding-bottom: 27px;
  padding-top: 9px;
}
/* line 153, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-secondary-link,
.u-nav-wrapper .u-nav-secondary-desc {
  position: relative;
  padding-right: 10.5%;
  padding-left: 10.5%;
  left: 5.5%;
}
/* line 162, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-secondary li:nth-child(4n+0) .u-nav-secondary-link,
.u-nav-wrapper .u-nav-secondary li:nth-child(4n+0) .u-nav-secondary-desc {
  padding-right: 17%;
}
/* line 167, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-secondary-link {
  display: inline-block;
  color: #4572ed;
  margin-bottom: 0;
}
/* line 172, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .u-nav-secondary-desc {
  display: block;
  color: #83838f;
}
/* line 177, ../../src/packages/common/css/_components/_universal-nav.scss */
.u-nav-wrapper .label-success {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  font-size: 0.916666666666667em;
  line-height: 1.5;
}

@media (min-width: 75em) {
  /* line 190, ../../src/packages/common/css/_components/_universal-nav.scss */
  .u-nav-wrapper .u-nav-primary-col2 {
    left: 34.5098%;
  }
  /* line 193, ../../src/packages/common/css/_components/_universal-nav.scss */
  .u-nav-wrapper .u-nav-primary-col3 {
    left: 69.01961%;
  }
}
@media (max-width: 61.1875em) and (min-width: 48em) {
  /* line 201, ../../src/packages/common/css/_components/_universal-nav.scss */
  .u-nav-wrapper .u-nav-primary-col2 {
    left: 34.46154%;
  }
  /* line 204, ../../src/packages/common/css/_components/_universal-nav.scss */
  .u-nav-wrapper .u-nav-primary-col3 {
    left: 68.92308%;
  }
  /* line 208, ../../src/packages/common/css/_components/_universal-nav.scss */
  .u-nav-wrapper .u-nav-secondary-link {
    font-size: 0.8125em;
    line-height: 1.7;
  }
  /* line 212, ../../src/packages/common/css/_components/_universal-nav.scss */
  .u-nav-wrapper .u-nav-secondary-desc {
    font-size: 0.75em;
    line-height: 1.5;
  }
}
@media (max-width: 47.9375em) {
  /* line 219, ../../src/packages/common/css/_components/_universal-nav.scss */
  .u-nav-wrapper {
    display: none;
  }
}
