  @import "../_base/variables";
  @import "../_base/mixins";

.editorial{
  @include dttb;
  
  h4{
    margin-bottom:6px;
  }
  h4.alt{
    letter-spacing:-0.01em;
    margin-bottom:8px;
  }
  h5{
    margin-bottom:6px;
  }
  h5.alt{
    letter-spacing:-0.01em;
    margin-bottom:4px;    
  }
  
  .box.left{
    text-align:left;
  }
  .box.center{
    text-align:center;
  }
  .box.right{
    text-align:right;
  }
}
.editorial.mediaright,
.editorial.medialeft{
  .table-center{
    float:none;
    display:inline-block;
    vertical-align:middle;
  }
  .box{
    padding:40px 52px 60px 52px;
  }
  .media-element{
    margin-top:-1%;
    text-align:center
  }
}
.editorial.full{
  position:relative;
  .inner{
    height:100%;
    position:absolute;
    top:0;
    right:0;
    left:0;
    >div,
    .table-center-wrap{
      height:100%;
    }
    .box{
      padding:50px 52px;
      margin-top:-1%;
    }
    .box.center{
      padding:50px 140px 60px 140px;
    }
  }
}
.editorial.full3up{
  
}
.editorial.m3up,
.editorial.m2up{
  >.grid>div{
    position:relative;
    .inner{
      position:absolute;
      top:0;
    }
  }
}
.editorial.textonly{
  .box{
    padding:40px 52px 60px 52px;
  }
}
@media (max-width: px-em(767)) {
  .editorial.full{
    position:relative;
    .inner{
      height:auto;
      position:relative;
      >div,
      .table-center-wrap{
        height:auto;
      }
      .box{
        margin-top:0;
      }
    }
      //light text
    .light-text-trans-box{
      h2, h3, h4, h5{
        color:$gray20;
      }
      p{
        color:$gray40;
      }
    }  
  }
}