////////////////////////////////
// MEDIA QUERY DEBUGGING VIEW //
////////////////////////////////

$backgroundOpacity: 0.9;
$overallOpacity: 0.8;

body.debug::before {
  content: '980px-1199px (Default - Tablet/Desktop)'; // this just gets overwritten below.
  position: fixed;
  z-index: 99999 !important;
  top: 0;
  width: 100%;
  text-indent:5px;
  color: $white;
  font-size:12px;
  background-color: hsla(110, 50%, 60%, $backgroundOpacity);
  opacity: $overallOpacity;
  @include transition();
}


@media (max-width: 29.9375em) { // 479px
  body.debug::before {
    content: '320px-567px [320-479] (Large Phone Portrait) - (max-width: 29.9375em)';
    background-color: hsla(300, 80%, 60%, $backgroundOpacity);
  }
}
@media (width: 20em) { // 320px
  body.debug::before {
    content: '320px-567px - [Exactly 320] (Phone Portrait) - (width: 20em)';
    background-color: hsla(260, 80%, 60%, $backgroundOpacity);
  }
}

@media (width: 30em) { // 480px
  body.debug::before {
    content: '320px-567px [Exactly 480] (Phone Landscape) - (width: 30em)';
    background-color: hsla(210, 50%, 30%, $backgroundOpacity);
  }
}
@media (min-width: 30.0625em) and (max-width: 35.4375em) { // 481px-567px
  body.debug::before {
    content: '320px-567px [480-567] (Phone Landscape / Small Tablet Portrait) - (min-width: 30.0625em) and (max-width: 35.4375em)';
    background-color: hsla(210, 80%, 60%, $backgroundOpacity);
  }
}
@media (width: 35.5em) { // 568px
  body.debug::before {
    content: '568px-979px [Exactly 568] (Large Phone Landscape / Small Tablet Portrait) - (width: 35.5em)';
    background-color: hsla(50, 50%, 30%, $backgroundOpacity);
  }
}
@media (min-width: 35.5625em) and (max-width: 47.9375em) { // 569px-767px
  body.debug::before {
    content: '568px-979px [568-767] (Large Phone Landscape / Small Tablet Portrait) - (min-width: 35.5625em) and (max-width: 47.9375em)';
    background-color: hsla(50, 100%, 50%, $backgroundOpacity);
    color: $grayDark;
  }
}
@media (width: 48em) { // 768px
  body.debug::before {
    content: '568px-979px [Exactly 768] (Tablet Portrait) - (width: 48em)';
    background-color: hsla(50, 70%, 30%, $backgroundOpacity);
  }
}
@media (min-width: 48.0625em) and (max-width: 61.1875em) { // 769px-979px
  body.debug::before {
    content: '568px-979px [768-979] (Small Tablet Landscape) - (min-width: 48.0625em) and (max-width: 61.1875em)';
    background-color: hsla(50, 70%, 60%, $backgroundOpacity);
    color: $grayDark;
  }
}
@media (width: 61.25em) { // 980px
  body.debug::before {
    content: '980px-1199px [Exactly 980] (Small Tablet Landscape / Small Desktop) - (width: 61.25em)';
    background-color: hsla(110, 50%, 30%, $backgroundOpacity);
    // color: $grayDark;
  }
}
@media (min-width: 61.3125em) and (max-width: 63.9375em) { // 981px-1023px
  body.debug::before {
    content: '980px-1199px [980-1023] (Small Desktop / Small Tablet Landscape) - (min-width: 61.3125em) and (max-width: 63.9375em)';
    background-color: hsla(110, 80%, 60%, $backgroundOpacity);
    // color: $grayDark;
  }
}
@media (width: 64em) { // 1024px
  body.debug::before {
    content: '980px-1199px [Exactly 1024px] (Tablet Landscape / Desktop) - (width: 64em)';
    background-color: hsla(110, 50%, 30%, $backgroundOpacity);
    // color: $grayDark;
  }
}
@media (min-width: 64.0625em) and (max-width: 74.9375em) { // 1025-1199
  body.debug::before {
    content: '980px-1199px [1024-1199] (Desktop / Widescreen Tablet Landscape) - (min-width: 64.0625em) and (max-width: 74.9375em)';
    background-color: hsla(110, 50%, 60%, $backgroundOpacity);
    // color: $grayDark;
  }
}
@media (width: 75em) { // 1200
  body.debug::before {
    content: '1200px-1399px [Exactly 1200] (Desktop / Widescreen Tablet Landscape) - (min-width: 75em)';
    background-color: hsla(10, 50%, 30%, $backgroundOpacity);
  }
}
@media (min-width: 75.0625em) and (max-width: 87.4375em) { // 1201-1399
  body.debug::before {
    content: '1200px-1399px (Large Desktop / Large Widescreen Tablet Landscape) - (min-width: 75.0625em) and (max-width: 87.4375em)';
    background-color: hsla(10, 50%, 60%, $backgroundOpacity);
  }
}
@media (width: 87.5em) { // 1400
  body.debug::before {
    content: '1400px+ [Exactly 1400] (Extra Large Desktop) - (width: 87.5em)';
    background-color: hsla(260, 50%, 30%, $backgroundOpacity);
  }
}
@media (min-width: 87.5625em) { // 1401
  body.debug::before {
    content: '1400px+ (Extra Large Desktop) - (min-width: 87.5625em)';
    background-color: hsla(260, 50%, 60%, $backgroundOpacity);
  }
}

