////////////////////////////////
// DEBUGGING  //
////////////////////////////////

#TEST .hotspot{
  left:500px;
  top:500px;
  z-index:999999;

  .popover{
    display:block;
    width:200px;
    height:100px;
    background:gray;
    top:50%;
    margin-top:-50px;
    @include el-hidden();
  }
  &:hover .popover{
    @include el-shown();
    left:-192px;
  }
}


.debug {
  .products,
  .spec-tiles {
    counter-reset: item;
  }

  .gallery-item,
  .spec-tile {
    background: $lemon;
    counter-increment: item;

    &::before {
      content: counter(item, decimal);
      position: absolute;
      z-index: 200;
      top: 0;
      left: 0;
      color: $highlightColor;
    }

    &.via-ajax::before {
      content: counter(item, decimal) ' (ajax content)';
    }
  }
}