////////////////////////////////
// MEDIA QUERY DEBUGGING VIEW //
////////////////////////////////

$backgroundOpacity: 0.5;
$overallOpacity: 0.5;

body::before {
  content: 'Default - 940px';
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  color: $white;
  background-color: hsla(110, 50%, 60%, $backgroundOpacity);
  opacity: $overallOpacity;
  -webkit-transition: background .2s ease;
       -o-transition: background .2s ease;
          transition: background .2s ease;
}

@media (min-width: 1200px) {
  body::before {
    content: 'Large Desktop - 1200px+';
    background-color: hsla(10, 50%, 60%, $backgroundOpacity);
  }
}

@media (min-width: 1500px) {
  body::before {
    content: 'Extra Large Desktop - 1500px+';
    background-color: hsla(260, 50%, 60%, $backgroundOpacity);
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  body::before {
    content: 'Portrait tablet to landscape and desktop - > 768px && < 979px';
    background-color: hsla(50, 50%, 60%, $backgroundOpacity);
  }
}

@media (max-width: 767px) {
  body {
    padding: 0;
  }

  .padded {
    padding-left: 20px;
    padding-right: 20px;
  }

  body::before {
    content: 'Phones to Tablets - < 767px';
    background-color: hsla(210, 50%, 60%, $backgroundOpacity);
  }
}

@media (max-width: 480px) {
  body::before {
    content: 'Phones - < 480px';
    background-color: hsla(300, 50%, 60%, $backgroundOpacity);
  }
}
