@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$subPhoneMax: px-em(479);
$phoneMin: px-em(480);
$phoneMax: px-em(767);
$tabletMin: px-em(768);
$tabletMax: px-em(979);

// 1200+
@media (min-width: px-em(1200) ) {
  .pdp-slideshow {
    .pdp-slideshow-slide.type1 .pdp-slide-inner {
      padding: 2.5% 1% 8%;
    }
  }
}

// 1400+
@media (min-width: px-em(1400) ) {
  .pdp-slideshow {

    // Can't use ems on ghost center wrap (0 font size)
    .pdp-slideshow-slide.type1 .pdp-slide-inner {
      padding: 40px 40px 110px;
    }

    .pagination-paddles button {
      top: 50%;
    }
  }
}

// 768 - 979
@media (min-width: $tabletMin) and (max-width: $tabletMax) {
  .pdp-slideshow {
    height: 500px;

    .pdp-slideshow-slide.type1 .pdp-slide-inner {
      padding: 2.5% 2% 13%;
    }

    .thumb-nav-container {
      height: px-em( 52px );

      .thumb-nav-grid {
        top: -92px;
      }

      .pagination-paddles {
        top: -64px;
      }
    }

    .thumb {
      width: px-em( 62px );

      a {

        &.first {

          &:before {
            left: -4px;
            width: 4px;
          }

          .active-highlight {
            left: -4px;
            padding-left: 4px;
          }
        }

        &.last {

          &:after {
            right: -4px;
            width: 4px;
          }

          .active-highlight {
            right: -4px;
            padding-right: 4px;
          }
        }
      }

      img {
        max-width: px-em( 56px );
        max-height: px-em( 40px );
      }
    }
  }
}

// < 767
@media (max-width: $phoneMax) {
  .pdp-slideshow {
    height: 420px;

    .pagination-paddles button.pagination-next {
      right: 2%;
      margin-right: 0;
    }

    .pagination-paddles button.pagination-prev {
      left: 2%;
      margin-left: 0;
    }

  }
}

// 480 - 767
@media (min-width: $phoneMin) and (max-width: $phoneMax){
  .pdp-slideshow {
    height: 420px;

    .pdp-slideshow-slide.type1 .pdp-slide-inner {
      padding: 4% 3% 6%;
    }
  }
}

// < 479
@media (max-width: $subPhoneMax){
  .pdp-slideshow {
    height: 400px;

    .pdp-slideshow-slide.type1 .pdp-slide-inner {
      padding: 5% 5% 10%;
    }
  }
}


