@import "../../../common/css/_base/variables"; // Modify this for custom colors, font-sizes, etc
@import "../../../common/css/_base/mixins";


// PDP SLIDESHOW D4

.pdp-slideshow {
  position: relative;
  width: 100%;
  height: px-em( 600 ); // will get overidden
  max-height: px-em( 720px );
  overflow: hidden;
  background: $gray80;
  margin-bottom: px-em( 80px );
  @include opacity(0);
  @include transition();

  &.active {
    @include opacity(100);
  }

  .lt-ie10 & {
    min-width: px-em( 1200px );
    min-height: px-em( 720px );
  }
  .lt-ie9 & {
    min-width: px-em(980px);
  }

  // Remove bottom margin if this is a submodule
  // Also, don't fade it in
  .submodule & {
    @include opacity(100);
    margin-bottom: 0;
  }

  // Move paddles up a bit so they look visually centered
  .pagination-paddles button {
    top: 48%;
  }

  .pdp-slideshow-outer {
    // @include flex-ratio-box( 1200 , 610 );
    position: relative;
    overflow: hidden;
    height: inherit;
  }

  .pdp-slideshow-inner {
    position: relative;
    overflow: hidden;
    height: inherit;
    // @include flex-ratio-box-content();
    width: 1000em; // This will get set dynamically based on the number of slides
    max-height: px-em( 720px );
    -webkit-backface-visibility: hidden;
  }

  // These will get set dynamically based on number of slides
  .pdp-slideshow-slide {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    height: inherit;
    text-align: center;
  }

  .pdp-slideshow-slide .pdp-slide-inner {
    height: inherit;
    width: 100%;
  }

  // Type 1 images are product shots which are not full bleed
  .pdp-slideshow-slide.type1 .pdp-slide-inner {
    padding: 4% 2% 11%;
  }

  .pdp-slideshow-slide {
    img {
      -webkit-backface-visibility: hidden;
    }

  }

  // Scale instead of crop the product shots
  .pdp-slideshow-slide.type1 img {
    max-height: 100%;
  }

  // Type 2 images are full-bleed
  .pdp-slideshow-slide.type2 .ghost-center {
    width: 100%;
    max-width: none;
    max-height: none;


  }

  .pdp-slideshow-slide.type2 .flowplayer {
    max-width: 704px;
  }

  > .sony-dot-nav {
    position: absolute;
    bottom: 30px;
    width: 100%;
  }

  // Full browser width, crop the height
  .pdp-slideshow-slide.type2 img {
    width: 100%;
  }

  .thumb-nav {
    position: absolute;
    left: 0;
    margin: 0;
  }

  .thumb-nav-container {
    position: relative;
    height: px-em( 70px );

    .pagination-paddles {
      top: -74px;
    }

    .sony-dot-nav {
      position: absolute;
      width: 100%;
      top: -60px;
    }
  }

  .thumb-nav-grid {
    position: relative;
    height: 100%;
    top: -116px;
  }

  .thumb-nav-carousel {
    position: relative;
    height: 100%;
  }

  .thumb-nav {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;

    &.dark .thumb .ghost-center-wrap,
    &.dark .thumb a:before,
    &.dark .thumb a:after, {
      background: $gray20;
    }

    &.light .thumb .ghost-center-wrap,
    &.light .thumb a:before,
    &.light .thumb a:after, {
      background: $gray80;
    }
  }

 .thumb {
    width: px-em( 72px );
    height: 100%;
    display: inline-block;
    margin: 0 0 8px;

    .lt-ie10 & {
      width: px-em( 74px );
      height: px-em( 72px );
    }

    .lt-ie8 & {
      @include ie7-inline-block();

      img {
        margin-top: px-em( 10px );
      }
    }



    img {
      position: relative;
      display: block;
      width: px-em( 64px );;
      height: px-em( 48px );;
    }

    a {
      position: relative;
      width: 100.5%;
      height: 100%;
      display: block;
      -webkit-backface-visibility: hidden;
      @include transition();

      &.first {
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: -6px;
          width: 6px;
          height: 95%;
          top: 5%;
          z-index: 2;
          -webkit-backface-visibility: hidden;
        }
      }

      &.last {
        &:after {
          content: '';
          display: block;
          position: absolute;
          right: -6px;
          width: 6px;
          height: 95%;
          top: 5%;
          z-index: 2;
          -webkit-backface-visibility: hidden;
        }
      }
    }

    a.light img {
      @include opacity(60);
    }

    a.dark img {
      @include opacity(75);
    }

    a .ghost-center-wrap {
      position: relative;
      top: 5%;
      z-index: 1;
      height: 95%;
    }

    .active-highlight {
      position: absolute;
      top: 5%;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 5%;
      background: $linkBlue;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;

      @include transition(top .15s linear);
      @include opacity(0);
    }

    .first .active-highlight {
      left: -6px;
      padding-left: 6px;
    }

    .last .active-highlight {
      right: -6px;
      padding-right: 6px;
    }

    // Show highlight bar on <a> hover
    a:hover,
    a.active {
      .active-highlight {
        top: 0%;
        @include opacity(100);
      }

      img {
        @include opacity(100);
      }
    }
  }

  // some navigation dot container adjustments
  .navigation-container {
    width: 100%;
    height: 40px;
  }

}
