@import "../../../common/css/_base/variables"; // Modify this for custom colors, font-sizes, etc
@import "../../../common/css/_base/mixins";


// PDP SLIDESHOW D4

.pdp-slideshow {
  position: relative;
  width: 100%;
  height: px-em( 600 ); // will get overidden
  max-height: px-em( 720px );
  overflow: hidden;
  background: $gray80;
  margin-bottom: px-em( 80px );
  @include opacity(0);
  @include transition();

  .lt-ie10 & {
    min-width: px-em( 1200px );
    min-height: px-em( 720px );
  }
  .lt-ie9 & {
    min-width: px-em(980px);
  }

  // Remove bottom margin if this is a submodule
  // Also, don't fade it in
  .submodule & {
    @include opacity(100);
    margin-bottom: 0;
  }

  // Move paddles up a bit so they look visually centered
  .pagination-paddles button {
    top: 48%;
  }

  .pdp-slideshow-outer {
    // @include flex-ratio-box( 1200 , 610 );
    position: relative;
    overflow: hidden;
    height: inherit;
  }

  .pdp-slideshow-inner {
    position: relative;
    overflow: hidden;
    height: inherit;
    // @include flex-ratio-box-content();
    width: 1000em; // This will get set dynamically based on the number of slides
    max-height: px-em( 720px );
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform .2s ease-out;
            transition: transform .2s ease-out;
  }

  // These will get set dynamically based on number of slides
  .pdp-slideshow-slide {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    height: inherit;
    text-align: center;
  }

  .pdp-slideshow-slide .pdp-slide-inner {
    height: inherit;
    width: 100%; // display:table doesn't take up 100% by default
  }

  // Type 1 images are product shots which are not full bleed
  .pdp-slideshow-slide.type1 .pdp-slide-inner {
    padding: 4% 2% 11%;
  }

  .pdp-slideshow-slide {
    img {
      -webkit-backface-visibility: hidden;
    }

  }

  // Scale instead of crop the product shots
  .pdp-slideshow-slide.type1 img {
    max-height: 100%;
  }

  // Type 2 images are full-bleed
  .pdp-slideshow-slide.type2 .ghost-center {
    width: 100%;
    max-width: none;
    max-height: none;


  }

  .pdp-slideshow-slide.type2 .flowplayer{
    max-width: 704px;
  }




  // Full browser width, crop the height
  .pdp-slideshow-slide.type2 img {
    width: 100%;
  }

  .thumb-nav,
  .sony-dot-nav {
    position: absolute;
    bottom: 5.057377%;
    left: 0;
    width: 100%;
    height: 11.8032787%;
    margin: 0;
  }

  .sony-dot-nav {
    margin-bottom: px-em( 25px );
  }

  .thumb-nav {
    max-height: px-em( 72px );
    min-height: px-em( 62px );
    text-align: center;

    & li:first-child {
      max-width: px-em( 87px );
      width: 6.8%;
    }

    & li:last-child {
      max-width: px-em( 87px );
      width: 6.8%;
    }

    &.dark .thumb .ghost-center-wrap {
      background: $gray20;
    }

    &.light .thumb .ghost-center-wrap {
      background: $gray80;
    }
  }

 .thumb {
    width: 6.1666667%;
    height: 100%;
    max-width: px-em( 74px );
    max-height: px-em( 72px );
    min-width: px-em( 72px );
    display: inline-block;

    .lt-ie10 & {
      width: px-em( 74px );
      height: px-em( 72px );
    }

    .lt-ie8 & {
      @include ie7-inline-block();

      img {
        margin-top: px-em( 10px );
      }
    }



    img {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      max-width: px-em( 68px );
      max-height: px-em( 48px );
    }

    a {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      @include transition();
    }

    a.light img {
      @include opacity(60);
    }

    a.dark img {
      @include opacity(75);
    }

    a .ghost-center-wrap {
      position: relative;
      z-index: 1;
      height: 95%;
    }

    .active-highlight {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 5%;
      background: $linkBlue;

      @include transition(top .15s linear);
      @include opacity(0);
    }

    // Show highlight bar on <a> hover
    a:hover,
    a.active {
      .active-highlight {
        top: -5%;
        @include opacity(100);
      }

      img {
        @include opacity(100);
      }
    }
  }

  // some navigation dot container adjustments
  .navigation-container {
    width: 100%;
    height: 40px;
  }

}
