//
// Universal Nav - The output CSS will be used for stand-alone versions, NOT the scss.
// This way we can still use global variables & mixins in here.
// --------------------------------------------------

// Core variables and mixins
@import "_base/variables";
@import "_base/mixins";

//
// Universal Nav - The output CSS will be used for stand-alone versions, NOT the scss.
// This way we can still use global variables & mixins in here.
// --------------------------------------------------

// resets for standalone version. These are already compiled into the Sony Global Web Transform 2013 project, but are needed elsewhere.

// These are needed on any site that includes the Universal Nav. 
// They don't have to have the same classnames, but for the Universal Nav to work, 
// there needs to be an outer container with overflow:hidden & an inner container with position:relative to slide the site.
body,html{
	padding:0;
	margin:0;
}
.page-wrap-outer {
	width: 100%;
	overflow: hidden;
}
.page-wrap-inner {
  width: 100%;
  position: relative;
}


// Resets for standalone version - Mimics resets
#JUST-FOR-REFERENCE{

	/* This is a combination of Eric Meyers reset, and Nicolas Gallagher's normalize */

	/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/

	div, span,
	h1, h2, h3, h4, h5, h6, p,
	a, big, em, img,
	strong, sub, sup,
	b, u, i,
	dl, dt, dd, ol, ul, li, 
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
	  margin: 0;
	  padding: 0;
	  border: 0;
	  font-size: 100%;
	  font: inherit;
	  vertical-align: baseline;
	  @include borderBox;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
	  display: block;
	}
	ol, ul {
	  list-style: none;
	}
	b, i, strong, em, cite {
	  font-weight:normal;
	  font-style:normal;
	}

	// Reset
	// Adapted from http://github.com/necolas/normalize.css
	// --------------------------------------------------
	html {
	  -webkit-text-size-adjust: 100%;
	      -ms-text-size-adjust: 100%;
	}
	// Focus states
	a:focus {
	  @include tab-focus();
	}
	// Hover & Active
	a:hover,
	a:active {
	  outline: 0;
	}
	img {
	  /* Responsive images (ensure images don't scale beyond their parents) */
	  max-width: 100%; /* Part 1: Set a maxium relative to the parent */
	  width: auto\9; /* IE7-8 need help adjusting responsive images */
	  height: auto; /* Part 2: Scale the height according to the width, otherwise you get stretching */

	  vertical-align: middle;
	  -ms-interpolation-mode: bicubic;
	}
}






.u-nav-wrapper{
	font-family: "SST W01 Roman", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1.65;
	font-color: rgb(47,53,61); // $gray20;
	a {
		color: #4572ed;
		text-decoration: none;
	}
	div{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		vertical-align: baseline;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.l1 {
		font-family: "SST W01 Bold", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: normal;
		font-style: normal;
		text-rendering: optimizeLegibility;
		text-transform: uppercase;
		color: #2f353d;
		font-size: 1.375em;
		line-height: 1.36364;
		letter-spacing: 0.05em;
		margin-bottom: 24px;
		margin-top: 40px;
	}
}




// universal-nav-specific classes. These are needed by all versions of the Universal Nav
.u-nav-wrapper{
  background: rgb(243,244,246); // $gray90;

	.u-nav-close-btn{
		font-family: "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: normal;
		font-style: normal;
		padding:10px 30px 10px 10px;
		color:#fff;
		background-color:rgb(146,149,153);
		background-repeat:no-repeat;
		background-position:90% 50%;

  	float:right;
	}

}


// .no-touch .sony-one-carousel .soc-item article .soc-image {
//   -webkit-transition: opacity 0.15s;
//   transition: opacity 0.15s;
//   -webkit-transform: scale3d(1, 1, 1);
//   opacity: 1;
// }
// .no-touch .sony-one-carousel .soc-item article:hover .soc-image {
//   opacity: 0.9;
// }








