//
// Footer
// --------------------------------------------------

.footer-wrapper{
  background:$footerBackground;

  h5{
    color:$gray;
  }
  h6{
    color:$gray;
    text-transform:uppercase;
  }
  a{
    color:$white;

    &:hover,
    &:active,
    &:focus{
      color:$linkColorLight;
    };
  } 

  .grid.grid-footer{
    // width:100%; // no grid margins in the footer, but still need .grid to make the spans have fluid widths.
  }

  @include sprite-reg(nav-sony-logo, -90px,   79px,   18px);
} // .footer-wrapper


.btn-hover-group{ // drop-downs that trigger on hover instead of click -- except on mobile where they have to react more like on click.
  .btn.dropdown-hover-toggle{
    width: 100%;
    text-align: left;
    color:$white;
    background-color: $grayDark;
    border-color: $grayDark;
    padding:6px 14px 8px 11px;
    @include box-shadow(none);
    @include flickerfix;

    .icon-ui-arrowhead-down-gray{
      float:right;
      margin-top:10px;
      @include transition(all $transitionFast linear);
      @include flickerfix;
    }
  }

  .dropdown-hover-menu{
    display:block;
    background-color:transparent;
    border:none;
    float:none;
    padding-bottom:3px;
    @include box-shadow(none);
    @include el-hidden;
  }
  &.language-selector{
    .dropdown-hover-menu{
      @include el-hidden(right); // so it's right-justified.
    }
  }
  .dropdown-hover-menu-lists-w{
    background-color: $grayDark;
    @include clearfix;
  }

  .dropdown-hover-menu-list{
    margin:0;
    float:left;
    li{
      a{
        display:block;
        font-size:$font_15_16;
        color:$white;
        padding:3px 27px 4px 27px;
        min-width:185px;

        &:hover,
        &:active,
        &:focus{
          color:$highlightColor;
          background-color: $grayDark1;
          border-color: $grayDark1;          
        }
      }
    }
  } // dropdown-hover-menu-list

  &.country-selector{ // specific to the custom big country selector -- if not doing the menu, this can be deleted.
    .dropdown-hover-menu-list{
      padding:0 10px;
      li{
        a{
          font-size:$font_13_16;
          color:$grayLight;
          line-height: 1.85;
          padding:3px 0 4px 10px;

          &:hover,
          &:active,
          &:focus{
            color:$white;
          }
        }
      }
    }
  }
  &.DISABLE-MENU{
    .icon-ui-arrowhead-down-gray{
      display:none;
    }    
  }
}

.no-touch .btn-hover-group:hover,
.no-touch .btn-hover-group.open:hover,
.touch .btn-hover-group.open{ // overrides the .open settings for the non-touch .dropdown-toggle, but not on mobile (touch).

  .btn.dropdown-hover-toggle{
    color:$white;
    background-color: $grayDark1;
    border-color: $grayDark1;
  }
  &:not(.DISABLE-MENU){
    .icon-ui-arrowhead-down-gray{
      @include rotate(-180deg);
    }
    .dropdown-hover-menu{
      @include el-shown;
    }
    &.language-selector{
      .dropdown-hover-menu{
        @include el-shown(right); // so it's right-justified.
      }
    }
    &.country-selector{

    }
  }
}



.footer-links-list{
  margin:0;
}
.footer-link-li{
  // line-height: 1;
  // padding-bottom: 5px;
  // padding-top: 4px;
  a{
    font-size:$font_13_16;
  }
}

.footer-newsletter{
  .footer-form-border{
    .footer-input{
      color:$grayLight;
    }
  }
}

.footer-store-locator{
  .store-locator-input-w{
  }
}

.footer-signature-w{
  border-top:solid 1px $grayDarkFieldLarge;
  margin-top: 13px;
  padding-top:28px;
  @include flickerfix;
}
.footer-legal-links{
  a{
    display:inline-block;
    margin-right:10px;
    font-size:$font_12_16;
    text-transform:uppercase;
  }
}