//
// Footer
// --------------------------------------------------

.footer-wrapper{
  background:$footerBackground;

  h5{
    color:$gray;
  }
  h6{
    color:$gray;
    text-transform:uppercase;
  }
  a{
    color:$white;

    &:hover,
    &:active,
    &:focus{
      color:$linkColorLight;
    };
  } 
  .btn.dropdown-toggle{
    background-color: $grayDark;
    border-color: $grayDark;
    padding:6px 14px 8px 16px;
  }
  .btn-group.open .btn.dropdown-toggle{
    background-color: $grayDarkFieldLarge;
    border-color: $grayDarkFieldLarge;
  }
  .grid.grid-footer{
    width:100%; // no grid margins in the footer, but still need .grid to make the spans fluid widths.
  }

}

.footer-links-list{
  margin:0;
}
.footer-link-li{
  line-height:1.5;
  a{
    font-size:$font_13_16;
  }
}

.footer-store-locator{
  .store-locator-input-w{

  }
}

.footer-signature-w{
  border-top:solid 1px $grayDarkFieldLarge;
  margin-top: 13px;
  padding-top:28px;
}
.footer-legal-links{
  a{
    display:inline-block;
    margin-right:10px;
    font-size:$font_12_16;
    text-transform:uppercase;
  }
}