//
// Footer
// --------------------------------------------------

.footer-wrapper{
  background:$gray05;

  h5{
    font-size:$font_15_16;
    color:$footerGrayText;
  }
  h6{
    font-size:$font_11_16;
    color:$footerGrayText;
    text-transform:uppercase;
  }
  a{
    color:$footerLinks;

    &:hover,
    &:active,
    &:focus{
      color:$footerGrayText;
    };
  }
} // .footer-wrapper

.footer-sony-logo{
  display:inline-block;
  position:relative;
  overflow:hidden;

  &:before{
    // position:relative;
  }
}



.footer-form-border{
  position:relative;
  border-width:2px;
  border-color:$gray25;
  border-style:solid;
  padding:px-em(6px);
  overflow:hidden;
  .lt-ie8 &{
    overflow: visible;
    padding: 0.5em 0.5em 0.7em 0.5em;
  }
  .footer-input{
    border:none;
    height:27px;
    padding:0 4px 0 9px;
    margin:0;
    font-size:$font_12_16;
    background:$gray05;
    color:$white;

    &:focus{
      color:$white;
    }
  }
  .footer-btn{
    // margin:3px;
    // padding-top:5px;
    // height:30px;

    height: 28px;
    padding: 4px 0;

    font-size:$font_11_16;
    @include fontRegular;
  }
}

form.footer-store-locator-form{
  margin:0;
  i{
    position: absolute;
    left: 9px;
    top: 13px;
    font-size: px-em(18,16);
    color: $buttonOrange;
    -webkit-font-smoothing:antialiased;
  }
}

.footer-change-location-link{
  margin:7px 0 0 0;
}

.grid .footer-language.span6{
  margin-left:0;
  float:left;
}

.lt-ie8 .footer-ex {
  width: 100%;
}
.footer-language-selectors{
  @include clearfix;
}
.footer-social-links{
  display:inline-block;
  @include ie7-inline-block;
  a{
    display:inline-block;
    width: px-em(36px);
    height: px-em(32px);
    float:left;
    margin-left: px-em(2px);
    text-align:center;
    background-color:$gray25;
    color:$white;

    &:hover, &:active, &:focus, &.active{
      color:$white;
    }

    i{
      position:relative;
      top:3px;
      -webkit-font-smoothing:antialiased;
      overflow:hidden;
    }
  }
}

a.footer-social-twitter {
  i {
    // left:1px;
  }
  &:hover, &:active, &:focus, &.active{
    background-color:$twitterColor;        
  }
}
a.footer-social-facebook {
  i {
    // left:1px;
  }
  &:hover, &:active, &:focus, &.active{
    background-color:$facebookColor;        
  }
}
a.footer-social-gplus {
  i{
    // left:-1px;
  }
  &:hover, &:active, &:focus, &.active{
    background-color:$gplusColor;        
  }
}
a.footer-social-youtube {
  i{
    // top:2px;
  }
  &:hover, &:active, &:focus, &.active{
    background-color:$youtubeColor;        
  }
}


.footer-signature{
  position:relative
}
.footer-copyright{
  font-size:$font_10_16;
  text-transform:uppercase;
  color:$footerGrayText;
}


.btn-hover-group{ // drop-downs that trigger on hover instead of click -- except on mobile where they have to react more like on click.
  .btn.dropdown-hover-toggle{
    font-size:1em;
    width: 100%;
    text-align: left;
    color:$white;
    background-color: $gray25;
    border-color: $gray25;
    padding: 8px 8px 10px 12px;
    @include box-shadow(none);
    @include flickerfix;

    font-size: px-em(12);


    .fonticon-10-arrowhead-down{
      float:right;
      @include transition(all $transitionFast linear);
      @include transform-origin(47%, 53%, 0);
      @include flickerfix;
      -webkit-font-smoothing:antialiased;
      color:$gray50;
      font-size: px-em(16,12);
      margin: 1px 0 0 0;
    }
  }

  .dropdown-hover-menu{
    display:block;
    background-color:transparent;
    border:none;
    float:none;
    padding-bottom:px-em(3px);
    @include box-shadow(none);
    @include el-hidden;
  }
  &.language-selector{
    .dropdown-hover-toggle{
      padding-left:20px;
    }
    .dropdown-hover-menu{
      @include el-hidden(right); // so it's right-justified.
    }
  }
  // pierre
  .lt-ie8 & div.btn.dropdown-hover-toggle {
      width: 210px;
    }
  .lt-ie8 &.language-selector  {
      margin-left: 3px;
      width: 60px;
      a.dropdown-hover-toggle {
        width: 30px;
        margin-top: 1px;
        display: block;
        line-height: 1.65em;
        border-left: 3px solid transparent;
       }
      &:hover .dropdown-hover-menu,
      &:active .dropdown-hover-menu,
      &:focus .dropdown-hover-menu{
        left: auto;
        opacity: 1;
        right: 0;
        visibility: visible;         
      }
    }
    
  .lt-ie8  &.language-selector{
     .dropdown-hover-menu{
      @include el-hidden(left); // so it's left-justified.
      bottom: 35px;
      border-bottom: 3px solid transparent;
      right: 0;
    }
  }
  .dropdown-hover-menu-lists-w{
    background-color: $grayDark;
    @include clearfix;
  }

  .dropdown-hover-menu-list{
    margin:0;
    float:left;
    li{
      a{
        display:block;
        font-size: px-em(12);
        color:$white;
        padding:px-em(4px) px-em(29px) px-em(5px) px-em(29px);
        min-width:185px;
        line-height:2.55;

        .dropdown-label-left{
          display: inline-block;
          width: px-em(45);
        }

        &:hover,
        &:active,
        &:focus{
          background-color: $gray30;
          border-color: $gray30;          
        }
      }
      // &.selected a{
      //   color:$highlightColor;        
      // }
    }
  } // dropdown-hover-menu-list

  &.country-selector{ // specific to the custom big country selector -- if not doing the menu, this can be deleted.
    .dropdown-hover-menu-list{
      padding:0 10px;
      li{
        a{
          font-size:$font_13_16;
          color:$grayLight;
          line-height: 1.85;
          padding:px-em(3px) 0 px-em(4px) px-em(10px);

          &:hover,
          &:active,
          &:focus{
            color:$white;
          }
        }
      }
    }
  }
  &.DISABLE-MENU{
    .fonticon-10-arrowhead-down{
      display:none;
    }    
  }
}


.footer-wrapper-minimal{
  .btn-hover-group{ // drop-downs that trigger on hover instead of click -- except on mobile where they have to react more like on click.
    .btn.dropdown-hover-toggle{
      padding: 10px 12px 11px 20px;
    }
  }
}

.no-touch .btn-hover-group:hover,
.no-touch .btn-hover-group.open:hover,
.touch .btn-hover-group.open{ // overrides the .open settings for the non-touch .dropdown-toggle, but not on mobile (touch).

  .btn.dropdown-hover-toggle{
    color:$white;
    background-color: $gray30;
    border-color: $gray30;
  }
  &:not(.DISABLE-MENU){
    .fonticon-10-arrowhead-down{
      @include rotate(-180deg);
    }
    .dropdown-hover-menu{
      @include el-shown(right);
    }
    // &.language-selector{
    //   .dropdown-hover-menu{
    //     @include el-shown(right); // so it's right-justified.
    //   }
    // }
    // &.country-selector{

    // }
  }
}



.footer-links-list{
  margin:0;

  li {
    line-height:1.5;
  }
}
.footer-link-li a,
.footer-change-location-link{
  font-size:$font_13_16;
}

.footer-wrapper .footer-store-locator{
  h5{
    margin-bottom:18px;
  }
  .store-locator-input-w{
  }
}

.footer-signature-w{
  border-top: solid 1px $grayDarkFieldLarge;
  margin-top: px-em(15px);
  padding-top: px-em(28px);
  @include flickerfix;
}
.footer-legal-links{
  font-size: px-em(10);
  a{
    display: inline-block;
    margin-right: px-em(16px);
    text-transform: uppercase;
  }
}








// -----------------------------------------
// RESPONSIVE DEFAULTS: 980px - 1199px;
// -----------------------------------------
//  .d8888b.   .d8888b.   .d8888b.                         d888    d888   .d8888b.   .d8888b.                    
// d88P  Y88b d88P  Y88b d88P  Y88b                       d8888   d8888  d88P  Y88b d88P  Y88b                   
// 888    888 Y88b. d88P 888    888                         888     888  888    888 888    888                   
// Y88b. d888  "Y88888"  888    888 88888b.  888  888       888     888  Y88b. d888 Y88b. d888 88888b.  888  888 
//  "Y888P888 .d8P""Y8b. 888    888 888 "88b `Y8bd8P'       888     888   "Y888P888  "Y888P888 888 "88b `Y8bd8P' 
//        888 888    888 888    888 888  888   X88K  888888 888     888         888        888 888  888   X88K   
// Y88b  d88P Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       888     888  Y88b  d88P Y88b  d88P 888 d88P .d8""8b. 
//  "Y8888P"   "Y8888P"   "Y8888P"  88888P"  888  888     8888888 8888888 "Y8888P"   "Y8888P"  88888P"  888  888 
//                                  888                                                        888               
//                                  888                                                        888               
//                                  888                              
// -----------------------------------------

.footer-wrapper{
  padding:px-em(60px) 0;

  &.footer-wrapper-minimal{
    padding:px-em(28px) 0;    
  }

  h5{
    margin-bottom: px-em(17px);
  }

  .btn-group.country-selector,
  .btn-hover-group.country-selector{
    width: 46.2%;
    min-width:px-em(185px);
    float:left;
    .dropdown-hover-menu-lists-w{
      padding:px-em(24px) 0 px-em(24px) 0;
    }
    .dropdown-hover-menu-list{
      width:19.8%;
    }
  }
  &.footer-wrapper-minimal{
    .btn-group.country-selector,
    .btn-hover-group.country-selector{
      min-width:px-em(235px);
    }
  }

  .btn-group.language-selector,
  .btn-hover-group.language-selector{
    width: px-em(67px);
    float:left;
  }
  .footer-mobile-section{
    padding-bottom: 74px;
  }
}


.footer-form-border{

  .footer-input{
    width:62%;  
    float:left;
  }
  .footer-btn{
    width:30%;
    float:right;
    margin:0;
  }
}




.footer-wrapper{
  .footer-contact.span6{
    padding-top: 2px;
    float:right;
    text-align:right;
    > p{
      display:inline-block;
      font-size:$font_13_16;

      .lt-ie8 & {
        @include ie7-inline-block;
        margin-right: 1.0em;        
      }

      a{
        display:inline-block;
        position:relative;
        top: -11px;
        .lt-ie8 & {
          top: auto;
        }
        margin-right: px-em(24px);
      }
    }
  }
}


.footer-sony-logo{
  margin-bottom: 6px;
}
.footer-copyright{
  position:absolute;
  left: 85px;
  top: 3px;
}

.footer-store-locator-form{
  position:relative;
  overflow:visible;
  float:none;

  .footer-input{
    width:55%;  
    float:none;
  }
  .footer-btn{
    width:35%;
  }
  // pierre
  .lt-ie8 & .footer-input{
    float: left;
    width: 111px;
    font-size: .9em;
    height: 26px;
    padding: 1px 0 0 0;
  }
  .lt-ie8 & .footer-btn{
    padding: 5px 20px;
  }
}