//
// Footer
// --------------------------------------------------

.footer-wrapper{
  background:$gray05;

  h5{
    font-size:$font_15_16;
    color:$footerGrayText;
  }
  h6{
    font-size:$font_11_16;
    color:$footerGrayText;
    text-transform:uppercase;
  }
  a{
    color:$footerLinks;

    &:hover,
    &:active,
    &:focus{
      color:$footerGrayText;
    };
  }
} // .footer-wrapper

.footer-sony-logo{
  display:inline-block;
  position:relative;
  width:98px;
  height:16px;
  overflow:hidden;
  color:$white;
  line-height:0;
  font-size:4.8em;

  &:before{
    // position:relative;
  }
}



.footer-form-border{
  position:relative;
  border-width:2px;
  border-color:$gray25;
  border-style:solid;
  padding:px-em(6px);
  overflow:hidden;

  .footer-input{
    border:none;
    height:28px;
    padding:0 4px 0 9px;
    margin:0;
    font-size:$font_12_16;
    background:$gray05;
    color:$white;

    &:focus{
      color:$white;
    }
  }
  .footer-btn{
    // margin:3px;
    // padding-top:5px;
    // height:30px;

    height: 28px;
    padding: 4px 0;

    font-size:$font_11_16;
    @include fontRegular;
  }
}

form.footer-store-locator-form{
  margin:0;
  i{
    position: absolute;
    left: 9px;
    top: 13px;
    font-size: px-em(18,16);
    color: $buttonOrange;
  }
}

.footer-store-locator-caption{
  font-size:$font_11_16;
  margin:7px 0 0 0;
  color:$white;
}

.grid .footer-language.span6{
  margin-left:0;
  float:left;
}
.footer-language-selectors{
  @include clearfix;
}
.footer-social-links{
  display:inline-block;

  a{
    display:inline-block;
    width: px-em(36px);
    height: px-em(32px);
    float:left;
    margin-left: px-em(2px);
    text-align:center;
    background-color:$gray25;
    color:$white;

    &:hover, &:active, &:focus, &.active{
      color:$white;
    }

    i{
      position:relative;
      top:3px;
    }

    &.footer-social-twitter {
      i {
        // left:1px;
      }
      &:hover, &:active, &:focus, &.active{
        background-color:$twitterColor;        
      }
    }
    &.footer-social-facebook {
      i {
        // left:1px;
      }
      &:hover, &:active, &:focus, &.active{
        background-color:$facebookColor;        
      }
    }
    &.footer-social-gplus {
      i{
        // left:-1px;
      }
      &:hover, &:active, &:focus, &.active{
        background-color:$gplusColor;        
      }
    }
    &.footer-social-youtube {
      i{
        // top:2px;
      }
      &:hover, &:active, &:focus, &.active{
        background-color:$youtubeColor;        
      }
    }
  }
}

.footer-signature{
  position:relative
}
.footer-copyright{
  font-size:$font_10_16;
  text-transform:uppercase;
  color:$footerGrayText;
}


.btn-hover-group{ // drop-downs that trigger on hover instead of click -- except on mobile where they have to react more like on click.
  .btn.dropdown-hover-toggle{
    font-size:1em;
    width: 100%;
    text-align: left;
    color:$white;
    background-color: $gray25;
    border-color: $gray25;
    padding: 8px 8px 10px 12px;
    @include box-shadow(none);
    @include flickerfix;

    font-size: px-em(12);

    &::after{
      margin: 0;
      position:relative;
      top:1px;
      left:3px;
      font-size: px-em(16,12);
      color:$gray50;
    }
  }

  .dropdown-hover-menu{
    display:block;
    background-color:transparent;
    border:none;
    float:none;
    padding-bottom:px-em(3px);
    @include box-shadow(none);
    @include el-hidden;
  }
  &.language-selector{
    .dropdown-hover-toggle{
      padding-left:20px;
    }
    .dropdown-hover-menu{
      @include el-hidden(right); // so it's right-justified.
    }
  }
  .dropdown-hover-menu-lists-w{
    background-color: $grayDark;
    @include clearfix;
  }

  .dropdown-hover-menu-list{
    margin:0;
    float:left;
    li{
      a{
        display:block;
        font-size: px-em(12);
        color:$white;
        padding:px-em(4px) px-em(29px) px-em(5px) px-em(29px);
        min-width:185px;
        line-height:2.55;

        .dropdown-label-left{
          display: inline-block;
          width: px-em(45);
        }

        &:hover,
        &:active,
        &:focus{
          background-color: $grayDark1;
          border-color: $grayDark1;          
        }
      }
      // &.selected a{
      //   color:$highlightColor;        
      // }
    }
  } // dropdown-hover-menu-list

  &.country-selector{ // specific to the custom big country selector -- if not doing the menu, this can be deleted.
    .dropdown-hover-menu-list{
      padding:0 10px;
      li{
        a{
          font-size:$font_13_16;
          color:$grayLight;
          line-height: 1.85;
          padding:px-em(3px) 0 px-em(4px) px-em(10px);

          &:hover,
          &:active,
          &:focus{
            color:$white;
          }
        }
      }
    }
  }
  &.DISABLE-MENU{
    .fonticon-10-arrowhead-down{
      display:none;
    }    
  }
}


.footer-wrapper-minimal{
  .btn-hover-group{ // drop-downs that trigger on hover instead of click -- except on mobile where they have to react more like on click.
    .btn.dropdown-hover-toggle{
      padding: 10px 12px 11px 20px;
    }
  }
}

.no-touch .btn-hover-group:hover,
.no-touch .btn-hover-group.open:hover,
.touch .btn-hover-group.open{ // overrides the .open settings for the non-touch .dropdown-toggle, but not on mobile (touch).

  .btn.dropdown-hover-toggle{
    color:$white;
    background-color: $grayDark1;
    border-color: $grayDark1;
  }
  &:not(.DISABLE-MENU){
    // .fonticon-10-arrowhead-down{
    //   @include rotate(-180deg);
    // }
    .dropdown-hover-menu{
      @include el-shown(right);
    }
    // &.language-selector{
    //   .dropdown-hover-menu{
    //     @include el-shown(right); // so it's right-justified.
    //   }
    // }
    // &.country-selector{

    // }
  }
}



.footer-links-list{
  margin:0;

  li {
    line-height:1.5;
  }
}
.footer-link-li{
  // line-height: 1;
  // padding-bottom: 5px;
  // padding-top: 4px;
  a{
    font-size:$font_13_16;
  }
}

.footer-wrapper .footer-store-locator{
  h5{
    margin-bottom:18px;
  }
  .store-locator-input-w{
  }
}

.footer-signature-w{
  border-top: solid 1px $grayDarkFieldLarge;
  margin-top: px-em(15px);
  padding-top: px-em(28px);
  @include flickerfix;
}
.footer-legal-links{
  font-size: px-em(10);
  a{
    display: inline-block;
    margin-right: px-em(16px);
    text-transform: uppercase;
  }
}