// NavMenus - the Nav popover menus, for Account, Search,  

.nav-wrapper{ // encompasses the entire nav, including the navbar and navmenus, to 100% width of the page.

  .navmenu-wrapper{ 
    z-index: 190;
    position: absolute;
    overflow: hidden;
    top: $navbarTotalHeight;
    background: $navMenuBackground;
    @include box-shadow(0px 3px 3px 0px rgba(0, 0, 0, .3));

    @include transition(opacity $transitionNormal ease-in 0s, left 0s linear $transitionNormal);
    @include border-bottom-radius(2px);

    // left: -9999px;
    // opacity:0;
    &.navmenu-wrapper-account{
      width: 220px;
      padding: 16px 20px 22px;

      .btn-login,
      .btn-logout{
        display: block;
        width: auto;
        font-size: $font_10_15;
      }
      .btn-login{
        margin:9px 0 10px 0;
      }
      .btn-logout{
        @extend .btn-alt;
        margin: 10px 0 0 0;
        display: none;
      }
      &.logged-in{
        .btn-login{
          display: none;
        }
        .btn-logout{
          display: block;
        }        
      }

      > ul {
        > li {
          line-height:31px;
          > a.tl {
            font-size:$font_12_15;
            > i {
              box-sizing:content-box;
              padding-right:10px;
            }
          }
        }
      }
    }
    &.navmenu-wrapper-search{
      right:4px;
      width:467px;

      ul {
        margin:0;
        li {
          line-height:1.9;
        }
      }

      .navmenu-search-section-input{
        background:#fff;
        padding:10px 29px 12px;
        margin:0;

        input[type=text]{
          border:none;
          margin:0;
          padding:0;
          font-size:$font_30_16;
          height:auto;
          width:auto;
        }
      }
      .navmenu-search-section-results{
        padding:15px 0 22px;
        background:$grayLighter;

        .navmenu-search-popular-searches{
          display:block;
          p.l3{
            font-size:$font_11_16;
            margin-bottom:0.525em;
          }
        }
        .navmenu-search-results{
          display:none;
          
          .navmenu-list-results{
            > li {
              margin-bottom:1px; // make room for the hr (:after)
              > a {
                display:block;
                box-sizing:content-box;
                padding:13px 26px 14px;
                height:64px;
                > img {
                  margin-right:13px;
                }
                &:hover{
                  background-color:rgb(230,230,230);
                  background-color:rgba(255,255,255,0.8);
                }
              }
            }
            > li:after{
              @include pseudoEl-block(406px, 0px);
              margin:0 0 0 30px;
              border-bottom:solid 1px $grayLightish;
            }
          }
          .navmenu-list-extended{
          }
        }
      }

      &.searching{
        .navmenu-search-section-results{
          .navmenu-search-popular-searches{
            display:none;
          }
          .navmenu-search-results{
            display:block;
          }
        }
      }
    }
  }

  &.navmenu-wrapper-visible{
    left:0;
    opacity:1;   
    @include transition(opacity $transitionNormal ease-out 0s, left 0s linear 0s);
    
    &.navmenu-wrapper-search{
      right:3px;
    }
  }
  .navmenu-list-main{
    margin:0;
  }

} // end .nav-wrapper
