//
// Navs
// --------------------------------------------------


// BASE CLASS 
// ----------
// This has been modified just for Sony Global Nav.
// If you need to use the regular Bootstrap nav module, use simple-nav.
.nav {
  // position: relative;
  z-index:100;
  left: 0;
  margin:0;
  display: block;
  float: left;
  list-style: none;
}
.nav-utility {
  float: right; // redeclare due to specificity
  margin-right: 0; // remove margin on float right nav
}
// Space them out when they follow another list item (link)
.nav-li {
  float: left;
  // line-height:0.65em * $baseLineHeight;
  position:relative;

  // border-color: $blue;
  // border-style: solid;
  // border-top-width: 0px;

  &.active .nav-li-link,
  &.active .nav-li-link:hover,
  &.active .nav-li-link:focus {
    color: $navbarLinkColorActive;
    text-decoration: none;
    background-color: $navbarLinkBackgroundActive;
  }

  // + .nav-header {
  //   margin-top: 9px;
  // }
} // .nav-li

.nav-li-link {
  display: block;
  float: none;
  color: $navbarLinkColor;
  text-decoration: none;
  position:relative;

  // Hover
  &:focus,
  &:hover {
    text-decoration: none;
  }
}





.nav-dropdown-toggle,
.nav-dropdown-toggle.nav-li-linkBtn{
  .icon-ui-arrowhead-down-gray{
    display: inline-block;
    position: relative;
    float:none;
  }
}


.global-nav-indicator-bar{
  display:block;
  position:absolute;
  bottom:0;
  left:0;
  width: 100%;

  border-color: $linkColorLight;
  border-style: solid;
  border-top-width: 0px;
  
  @include transition(border-width $transitionFaster linear 0s);
}
.nav-li-selected .global-nav-indicator-bar,
.nav-li-link:hover .global-nav-indicator-bar{
  border-top-width: 4px;
}





  // DISABLED STATES
  // ---------------

.nav {
  // Gray out text
  > .disabled > a {
    color: $grayLight;
  }
  // Nuke hover effects
  > .disabled > a:hover {
    text-decoration: none;
    background-color: transparent;
    cursor: default;
  }
} // .nav



