//
// Navbars (Redux) -- THIS IS NOW THE GLOBAL NAV
// --------------------------------------------------

// COMMON STYLES
// -------------

// Base class and wrapper
// This has been modified just for Sony Global Nav
// If you need to use the regular Bootstrap nav module, use simple-nav.

// .nav-wrapper extends the full width of the browser, 
// even when the navbar is at a set width for a particular breakpoint.
// 
// All widths and sizes that change at breakpoints are in _responsive-navbar.scss
//  -- even their default values, so it's all kept together.

.nav-wrapper{ // encompasses the entire nav, including the navbar and navtrays, to 100% width of the page.
  background:$navbarBackground;

  // Brand: website name
  // -------------------------
  .fonticon-60-sony { // desktop version (inside navbar)
    float: left;
    display: block;
    margin:-15px 0;
    color:$white;
    height:90px;
    overflow:hidden;

    &:hover, &:active, &:focus, &.active{
      color:$white;
      line-height:0;
    }
  }
}

.navbar {
  overflow: visible;
  color: $navbarText;
  position: relative;
  z-index: 200;
  
  &.container{
    // max-width: $navMaxWidth;
  }

  -webkit-transform: translate3d(0, 0, 0); // fix janky text

  // Prevent floats from breaking the navbar
  @include clearfix();

  // Override the default collapsed state
  &.nav-collapse.collapse {
    height: auto;
  }

  .btn-mobile-nav,
  .btn-mobile-cart{ // only visible on mobile
    display:none;
  }

  .btn-mobile-cart {
    font-family: $sansFontFamilyBold;
    height: 25px;
    padding: 4px;
    margin: 19px 0px 0 6px;
    line-height: 1.5;
  }

  // Buttons in navbar
  // -------------------------
  .btn,
  .btn-group {
    @include navbarVerticalAlign(30px); // Vertically center in navbar
  }
  .btn-group .btn,
  .input-prepend .btn,
  .input-append .btn {
    margin-top: 0; // then undo the margin here so we don't accidentally double it
  }

  .fonticon-10-arrowhead-down,
  .fonticon-10-arrowhead-up{
    color:$gray40;
  }
  .nav-li-link{
    &:hover, &:active, &:focus, &.active{
      .fonticon-10-arrowhead-down,
      .fonticon-10-arrowhead-up{
        color:$white; 
      }
    }
  }

  .nav-li-favorites .nav-li-link:hover i{
    color:$buttonOrangeHover;
  }
  .nav-li-universal .nav-li-linkBtn{
    .fonticon-10-arrowhead-up{
      margin-left: 4px;
      position:relative;
      top:-1px;
    }
  }


  &.navbar-form {
    margin-bottom: 0; // remove default bottom margin
    @include clearfix();
    input,
    select,
    .radio,
    .checkbox {
      @include navbarVerticalAlign(30px); // Vertically center in navbar
    }
    input,
    select,
    .btn {
      display: inline-block;
      margin-bottom: 0;
    }
    input[type="image"],
    input[type="checkbox"],
    input[type="radio"] {
      margin-top: 3px;
    }
    .input-append,
    .input-prepend {
      margin-top: 6px;
      white-space: nowrap; // preven two  items from separating within a .navbar-form that has .pull-left
      input {
        margin-top: 0; // remove the margin on top since it's on the parent
      }
    }
  }

  &.navbar-search {
    position: relative;
    float: left;
    @include navbarVerticalAlign(30px); // Vertically center in navbar
    margin-bottom: 0;
    .search-query {
      margin-bottom: 0;
      padding: 4px 14px;
      @include border-radius(15px); // redeclare because of specificity of the type attribute

      color: $white;
      background-color: $navbarInverseSearchBackground;
      border-color: $navbarInverseSearchBorder;
      @include box-shadow(inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15));
      @include transition(none);
      @include placeholder($navbarInverseSearchPlaceholderColor);

      // Focus states (we use .focused since IE7-8 and down doesn't support :focus)
      &:focus,
      &.focused {
        padding: 5px 15px;
        color: $grayDark;
        text-shadow: 0 1px 0 $white;
        background-color: $navbarInverseSearchBackgroundFocus;
        border: 0;
        @include box-shadow(0 0 3px rgba(0,0,0,.15));
        outline: 0;
      }
    }
  } // end .navbar-search

  &.navbar-static-top {
    position: static;
    width: 100%;
  }
} // end .navbar



.navbar-mobile.container{
  width:100%;
}