//
// Navbars (Redux) -- THIS IS NOW THE GLOBAL NAV
// --------------------------------------------------

// COMMON STYLES
// -------------

// Base class and wrapper
// This has been modified just for Sony Global Nav
// If you need to use the regular Bootstrap nav module, use simple-nav.

// .nav-wrapper extends the full width of the browser, 
// even when the navbar is at a set width for a particular breakpoint.
// 
// All widths and sizes that change at breakpoints are in _responsive-navbar.scss
//  -- even their default values, so it's all kept together.

.nav-wrapper{ // encompasses the entire nav, including the navbar and navtrays, to 100% width of the page.
  background:$navbarBackground;

  // Brand: website name
  // -------------------------
  .sprite-32a-sony-logo { // desktop version (inside navbar)
    float: left;
    display: block;
    margin:16px 0 0;
    overflow:hidden;
  }
}

.navbar {
  overflow: visible;
  color: $navbarText;
  position: relative;
  z-index: 200;
  
  &.container{
    // max-width: $navMaxWidth;
  }

  -webkit-transform: translate3d(0, 0, 0); // fix janky text

  // Prevent floats from breaking the navbar
  @include clearfix();

  // Override the default collapsed state
  &.nav-collapse.collapse {
    height: auto;
  }

  .btn-mobile-nav,
  .btn-mobile-cart{ // only visible on mobile
    display:none;
  }

  .btn-mobile-cart {
    font-family: $sansFontFamilyBold;
    height: 25px;
    padding: 4px;
    margin: 19px 0px 0 6px;
    line-height: 1.5;
  }

  // Buttons in navbar
  // -------------------------
  .btn,
  .btn-group {
    @include navbarVerticalAlign(30px); // Vertically center in navbar
  }
  .btn-group .btn,
  .input-prepend .btn,
  .input-append .btn {
    margin-top: 0; // then undo the margin here so we don't accidentally double it
  }

  .fonticon-10-arrowhead-down,
  .fonticon-10-arrowhead-up{
    color:$gray40;
  }
  .nav-li-link{
    &:hover, &:active, &:focus, &.active{
      .fonticon-10-arrowhead-down,
      .fonticon-10-arrowhead-up{
        color:$white; 
      }
    }
  }

  .nav-li-favorites .nav-li-link:hover i{
    color:$buttonOrangeHover;
  }
  .nav-li-universal .nav-li-linkBtn{
    .fonticon-10-arrowhead-up{
      margin-left: 4px;
      position:relative;
      top:-1px;
    }
  }


  &.navbar-form {
    margin-bottom: 0; // remove default bottom margin
    @include clearfix();
    input,
    select,
    .radio,
    .checkbox {
      @include navbarVerticalAlign(30px); // Vertically center in navbar
    }
    input,
    select,
    .btn {
      display: inline-block;
      margin-bottom: 0;
    }
    input[type="image"],
    input[type="checkbox"],
    input[type="radio"] {
      margin-top: 3px;
    }
    .input-append,
    .input-prepend {
      margin-top: 6px;
      white-space: nowrap; // preven two  items from separating within a .navbar-form that has .pull-left
      input {
        margin-top: 0; // remove the margin on top since it's on the parent
      }
    }
  }

  &.navbar-search {
    position: relative;
    float: left;
    @include navbarVerticalAlign(30px); // Vertically center in navbar
    margin-bottom: 0;
    .search-query {
      margin-bottom: 0;
      padding: 4px 14px;
      @include border-radius(15px); // redeclare because of specificity of the type attribute

      color: $white;
      background-color: $navbarInverseSearchBackground;
      border-color: $navbarInverseSearchBorder;
      @include box-shadow(inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15));
      @include transition(none);
      @include placeholder($navbarInverseSearchPlaceholderColor);

      // Focus states (we use .focused since IE7-8 and down doesn't support :focus)
      &:focus,
      &.focused {
        padding: 5px 15px;
        color: $grayDark;
        text-shadow: 0 1px 0 $white;
        background-color: $navbarInverseSearchBackgroundFocus;
        border: 0;
        @include box-shadow(0 0 3px rgba(0,0,0,.15));
        outline: 0;
      }
    }
  } // end .navbar-search

  &.navbar-static-top {
    position: static;
    width: 100%;
  }
} // end .navbar



.navbar-mobile.container{
  width:100%;
}











// -----------------------------------------
// RESPONSIVE DEFAULTS: 980px - 1199px;
// -----------------------------------------
//  .d8888b.   .d8888b.   .d8888b.                         d888    d888   .d8888b.   .d8888b.                    
// d88P  Y88b d88P  Y88b d88P  Y88b                       d8888   d8888  d88P  Y88b d88P  Y88b                   
// 888    888 Y88b. d88P 888    888                         888     888  888    888 888    888                   
// Y88b. d888  "Y88888"  888    888 88888b.  888  888       888     888  Y88b. d888 Y88b. d888 88888b.  888  888 
//  "Y888P888 .d8P""Y8b. 888    888 888 "88b `Y8bd8P'       888     888   "Y888P888  "Y888P888 888 "88b `Y8bd8P' 
//        888 888    888 888    888 888  888   X88K  888888 888     888         888        888 888  888   X88K   
// Y88b  d88P Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       888     888  Y88b  d88P Y88b  d88P 888 d88P .d8""8b. 
//  "Y8888P"   "Y8888P"   "Y8888P"  88888P"  888  888     8888888 8888888 "Y8888P"   "Y8888P"  88888P"  888  888 
//                                  888                                                        888               
//                                  888                                                        888               
//                                  888                              
// -----------------------------------------

.navbar-outer {
  background-color: $navbarBackground;
  position: relative;
  z-index: 222;
}
.nav-wrapper,
.navbar{
  height: $navbarHeight;
}
.navtray-w {
  top: -999px;
}
.navmenu-w {
  top: $navbarHeight;
}
.nav{
  .btn-mobile-cart{
    display:none;
  }
}



.nav-primary{
  margin-left:2%;

  .nav-li{
    margin: 0 0 0 px-em(10);

    &.nav-li-electronics{
      margin-left: px-em(13);
    }
  }
  .nav-li-link{
    line-height:$navbarLineHeight;
    padding: 0 5px 4px;
    &:hover, &:active, &:focus, &.active{
      color: $navbarLinkColor;
    }

    .lbl{
      padding:0 4px;
    }
  }
}
.nav-li-store,
.nav-li-support{
  .nav-li-link{
    font-size:$font_15_16;
  }
}


.nav-li-link.nav-dropdown-toggle:not(.nav-dropdown-toggle-btn){
  padding-right: 0;
  margin-right: 0;
  font-size: px-em(15);
  color:$navbarLinkColor;

  .fonticon-10-arrowhead-down{
      position:relative;
      top:-2px;
      margin-bottom: -5px;
      margin-left: px-em(4);
      margin-right:-2px;
      overflow:hidden;
  }
}


.nav-primary .nav-li-link,
.nav-li-link.nav-dropdown-toggle:not(.nav-dropdown-toggle-btn){

  &:hover, &:active, &:focus, &.active {
    color:$navbarLinkColorHover;
  }
}

.nav-li-linkBtn{
  @include fontMedium;
  font-size: px-em(11);

  .fonticon-10-arrowhead-up,
  .fonticon-10-search{
    font-size: px-em(16,11);
  }

  height: 36px;
  margin: 14px 0 14px 2px;
  padding: 10px 9px 0px 14px;

  line-height: 1;
  @include border-radius(1px);

  background-color: $navbarBackground; 
  border-color: $navbarBackground;

  &:hover,
  &:active,
  &:focus,
  &.active{
    background-color: $navbarLinkBtnBgHover;
    border-color: $navbarLinkBtnBgHover;
    color:$navbarLinkColorHover;
  }
  
  .nav-li-count{
    display:inline-block;
    @include fonticon-text-px-to-em(12px);
    @include fontMedium;
    margin-top:2px;
    margin-left:3px;
  }

  [class^="fonticon-10-"],
  [class*=" fonticon-10-"]{
    margin: 0;
    -webkit-font-smoothing:antialiased;
    // overflow:hidden;
  }
}

.nav-primary{
  .nav-li-store .fonticon-10-cart,
  .nav-li-support .fonticon-10-support,
  .nav-li-sites-mobile{
    display:none;
  }
}

.nav-li-account{
  .nav-li-link.nav-dropdown-toggle{
    font-size: px-em(11px);
    padding-right:6px;
    padding-top:10px;

    .fonticon-10-arrowhead-down{
      margin-left:3px;
      position:relative;
      top:-2px;
      font-size: px-em(16,10.5);
    }
  }
}
.nav-li-favorites .nav-li-link {
  padding:8px 7px 0 8px;
  font-size:1em;
}
.nav-li-cart .nav-li-link{
  padding:9px 9px 0 8px;
  font-size:1em;
  i{
    position:relative;
    top:-1px;
  }
}
.nav-li-search .nav-li-linkBtn {
  background-color: $navbarTertiaryColor;
  border-color: $navbarTertiaryColor;
  @include border-radius(1px);
  padding-right: 12px;
  padding-left: 15px;
  margin-bottom: 0;

  .fonticon-10-search{
    padding-left:6px;
  }

  &:hover,
  &:active,
  &:focus,
  &.active{
    background-color: $linkColor;
    border-color: $linkColor;
    color:$navbarLinkColor;
  }
}
.nav-li-universal .nav-li-linkBtn {
  background:$navbarLinkBtnBgHover;
  border-color:$navbarLinkBtnBgHover;

  &:hover,
  &:active,
  &:focus,
  &.active{
    background:$navbarTertiaryColor;
    border-color:$navbarTertiaryColor;
  }
}

.navtray-w-tall:after{ // background gray under the right side -- just needs to cover up the right margin
  //left:$navTrayDividerPosition;
}

.navtray{
  width:100%;

  .nav-view-all-tl{
    display:block;
    width: 200px;
    margin:20px auto 0;
    text-align:center;
  }
} // end .navtray

.navtray-section-main{ // section left
  padding-top:50px;
  width: $navTrayDividerPosition;

  .navtray-w-short &{
    min-height: 260px;
  }

  .navtray-list-main{
    margin: 0 4.0% 1.0% 4.0%;
    overflow:hidden;

    .navtray-li {
      width: 24.8%;
    }

    .navtray-li-link {
      margin: 2% 3.3% 0 0;
      padding:27px 0 0 0;

      &:hover,
      &:active,
      &:focus{
        background:$grayLightFieldSmall;
      }
      .nav-img-w img {
        width:83%;
      }
    }

    &:after { // HR
      width:98.4%;
      height:1px;
    }
  }
} // end .navtray-section-main


.navtray-section-featured{ // section right
  padding-top:47px;
  &.navtray-section-featured-short{
    padding-top:0;
  }
  width: (100-$navTrayDividerPosition); 
  padding-left: 3.8%;
  .navtray-secondary-promo{
    max-width: 218px;
    margin-top: 57px;
    margin-right:14%;
    img{
      padding-bottom:6px;
    }
    .p2,
    .p3{
      font-size:$font_13_15;
      padding:3px 15px 0 0;
    }
    .p2{
      font-size:$font_16_16;
    }
    .p3{
      line-height: 1.5;
    }
  }
}


// Required to make the collapsing navbar work on regular desktops
.nav-collapse.collapse {
  height: auto !important;
  overflow: visible !important;
}



.navmenu-w{ 
  z-index: 190;
  position: absolute;
  overflow: visible;
  background: $navMenuBackground;
  @include box-shadow(0px 3px 3px 0px rgba(0, 0, 0, .3));
  @include border-bottom-radius(2px);

  .fonticon-10-arrowhead-up.nav-indicator{
  }
}


.navmenu-w-search{
  @include hideshow-navmenu-hide(right);

  .reveal-transition-container{
    overflow:hidden;
  }
  .fonticon-10-arrowhead-up.nav-indicator{
    right:17px;
  }
  .btn-clear-search-input{
    right: 30px;
    top: 22px;
  }
  .fonticon-10-search{
    top: 25px;
    left: 46px;
  }
}

.navmenu-w-account{
  @include hideshow-navmenu-hide(right);

  .fonticon-10-arrowhead-up.nav-indicator{
    left: 25px;
  }

  .reveal-transition-container{
    width: 215px;
    padding: 11px 0 9px;
    overflow:hidden;

    .navmenu-list-prefixed{
      // border-bottom:solid 1px $grayLightish;
      // padding-bottom:6px;
      display:none;
    }
  }
}


.nav-wrapper.nav-wrapper-minimal .btn-mobile-nav{
  // position:relative;
  // left:-999px; // still want to use its height for the nav..?
}
