//
// Navs
// --------------------------------------------------


// BASE CLASS 
// ----------
// This has been modified just for Sony Global Nav.
// If you need to use the regular Bootstrap nav module, use simple-nav.
.nav {
  // position: relative;
  z-index:100;
  left: 0;
  margin:0;
  display: block;
  float: left;
  list-style: none;
}
.nav-utility {
  float: right; // redeclare due to specificity
  margin-right: 0; // remove margin on float right nav
}
// Space them out when they follow another list item (link)
.nav-li {
  float: left;
  line-height:0.65em * $baseLineHeight;
  position:relative;

  border-color: $blue;
  border-style: solid;
  border-top-width: 0px;

  &.active .nav-li-link,
  &.active .nav-li-link:hover,
  &.active .nav-li-link:focus {
    color: $navbarLinkColorActive;
    text-decoration: none;
    background-color: $navbarLinkBackgroundActive;
  }

  + .nav-header {
    margin-top: 9px;
  }
} // .nav-li

.nav-li-link {
  display: block;
  float: none;
  color: $navbarLinkColor;
  text-decoration: none;
  position:relative;

  // Hover
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
.nav-dropdown-toggle{
  .icon-ui-arrowhead-down-gray{
    display: inline-block;
    position: relative;
  }
}


.global-nav-indicator-bar{
  display:block;
  position:absolute;
  bottom:0;
  // width: 92%;
  margin-left:5px;

  border-color: $linkColorLight;
  border-style: solid;
  border-top-width: 0px;
  
  @include transition(border-top-width $transitionFaster linear 0);

  // These were for when the indicator-bar were just for when the trays were open (when they were click-to-open). 
  // They were set up to delay a little longer before opening or closing. 
  // Now that the indicator-bar is for all hovers, there should be no delay.
  // @include transition(border-top-width ($navtrayOpenSpeed * 0.4) linear ($navtrayOpenSpeed * 0.3));
  // &.for-navtray-short{
  //   @include transition(border-top-width ($navtrayOpenSpeed * 0.4) linear ($navtrayShortOpenSpeed * 0.3));        
  // }
}

.nav-li-store .global-nav-indicator-bar{
  width:85%;
}
.nav-li-electronics .global-nav-indicator-bar{
  // width: 89%;
  width:93%;
}
.nav-li-entertainment .global-nav-indicator-bar{
  width:93%;
}
.nav-li-support .global-nav-indicator-bar{
  width:89%;
}

.nav-li-selected .global-nav-indicator-bar,
.nav-li:hover .global-nav-indicator-bar{
  border-top-width: 4px;
}




  // DISABLED STATES
  // ---------------

.nav {
  // Gray out text
  > .disabled > a {
    color: $grayLight;
  }
  // Nuke hover effects
  > .disabled > a:hover {
    text-decoration: none;
    background-color: transparent;
    cursor: default;
  }
} // .nav



