//
// Navbars (Redux) -- THIS IS NOW THE GLOBAL NAV
// --------------------------------------------------


// COMMON STYLES
// -------------

// Base class and wrapper
.navbar-wrapper{
  width:100%;
  height: $navbarHeight;
  
  background:$navbarBackground;

  .navbar {
    overflow: visible;
    color: $navbarText;
    position: relative;
    z-index: 200;

    padding-left:  20px;
    padding-right: 20px;

    // Prevent floats from breaking the navbar
    @include clearfix();

    // Override the default collapsed state
    &.nav-collapse.collapse {
      height: auto;
    }


    // Brand: website name
    // -------------------------
    .brand {
      float: left;
      display: block;
      // Vertically center the text given $navbarHeight
      padding: 10px 20px;
      margin-left: -20px; // negative indent to left-align the text down the page
    }





    // Buttons in navbar
    // **still inside of .navbar**
    // -------------------------
    .btn,
    .btn-group {
      @include navbarVerticalAlign(30px); // Vertically center in navbar
    }
    .btn-group .btn,
    .input-prepend .btn,
    .input-append .btn {
      margin-top: 0; // then undo the margin here so we don't accidentally double it
    }

    // Navbar forms
    // **still inside of .navbar**
    // -------------------------
    &.navbar-form {
      margin-bottom: 0; // remove default bottom margin
      @include clearfix();
      input,
      select,
      .radio,
      .checkbox {
        @include navbarVerticalAlign(30px); // Vertically center in navbar
      }
      input,
      select,
      .btn {
        display: inline-block;
        margin-bottom: 0;
      }
      input[type="image"],
      input[type="checkbox"],
      input[type="radio"] {
        margin-top: 3px;
      }
      .input-append,
      .input-prepend {
        margin-top: 6px;
        white-space: nowrap; // preven two  items from separating within a .navbar-form that has .pull-left
        input {
          margin-top: 0; // remove the margin on top since it's on the parent
        }
      }
    }

    // Navbar search
    // **still inside of .navbar**
    // -------------------------
    &.navbar-search {
      position: relative;
      float: left;
      @include navbarVerticalAlign(30px); // Vertically center in navbar
      margin-bottom: 0;
      .search-query {
        margin-bottom: 0;
        padding: 4px 14px;
        @include font-sans-serif(13px, normal, 1);
        @include border-radius(15px); // redeclare because of specificity of the type attribute
      }
    }



    // Static navbar
    // **still inside of .navbar**
    // -------------------------

    &.navbar-static-top {
      position: static;
      width: 100%;
    }



    // NAVIGATION
    // **still inside of .navbar**
    // ----------
    .nav {
      // position: relative;
      z-index:100;
      left: 0;
      display: block;
      float: left;
      margin: 0 10px 0 0;
      &.nav-utility {
        float: right; // redeclare due to specificity
        margin-right: 0; // remove margin on float right nav
      }
      & > li {
        float: left;
        line-height:0.65em * $baseLineHeight;
      }

      // Links
      & > li > a {
        float: none;
        // Vertically center the text given $navbarHeight
        padding: ($navbarHeight / 2.5) 15px ($navbarHeight / 2.5);

        font-size:$navbarTextSize;
        color: $navbarLinkColor;
        text-decoration: none;
      }

      // carrot on text dropdown toggles
      & > li > a.nav-dropdown-toggle-text:after{
        @include pseudoEl-inline-block-icon();
        @extend .icon-small-carrot-down-blue;
        margin-left:4px;
        position:relative;
        top:2px;
      }

      // Hover
      & > li > a:focus,
      & > li > a:hover {
        background-color: $navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover from .active
        color: $navbarLinkColorHover;
        text-decoration: none;
      }

      // Active nav items
      & > .active > a,
      & > .active > a:hover,
      & > .active > a:focus {
        color: $navbarLinkColorActive;
        text-decoration: none;
        background-color: $navbarLinkBackgroundActive;
      }
    } // end .nav




    // just for docs?
    // **still inside of .navbar**
    .brand {
      display: block;
      float: left;
      padding: 10px 20px 10px;
      margin-left: -20px;
      font-size: 20px;
      font-weight: 200;
      color: #777777;
      text-shadow: 0 1px 0 #ffffff;
    }





    // Navbar button for toggling navbar items in responsive layouts
    // These definitions need to come after '.navbar .btn'
    // the .btn-mobile-navbar-menu-trigger is the "menu" button when on mobile-size device
    // **still inside of .navbar**
    .btn-mobile-navbar-menu-trigger {
      display: none;
      float: right;
      padding: 7px 10px;
      margin-left: 5px;
      margin-right: 5px;
      background:darken($navbarBackgroundHighlight, 5%); 
      @include box-shadow(inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075));
    }
    // icon-bar are simply the 3 white lines on the btn-mobile-navbar-menu-trigger button.
    .btn-mobile-navbar-menu-trigger .icon-bar {
      display: block;
      width: 18px;
      height: 2px;
      background-color: #f5f5f5;
      @include border-radius(1px);
      @include box-shadow(0 1px 0 rgba(0,0,0,.25));
    }
    .btn-mobile-navbar-menu-trigger .icon-bar + .icon-bar {
      margin-top: 3px;
    }



    // Dropdown menus
    // --------------
    .nav-tray{
      position: absolute;
      top: 100%;
      left: 0;
      width:100%;
      z-index: 10;
      padding: 20px 0 15px;
      margin: 0;
      list-style: none;
      background-color: white;
      border-bottom: 1px solid #ccc;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));

      // display: none;
    }


    // BELOW AREN'T TOUCHED YET

    // Right aligned menus need alt position
    // **still inside of .navbar**
    .pull-right > li > .dropdown-menu,
    .nav > li > .dropdown-menu.pull-right {
      left: auto;
      right: 0;
      &:before {
        left: auto;
        right: 12px;
      }
      &:after {
        left: auto;
        right: 13px;
      }
      .dropdown-menu {
        left: auto;
        right: 100%;
        margin-left: 0;
        margin-right: -1px;
        @include border-radius(6px 0 6px 6px);
      }
    }


    // Inverted navbar
    // -------------------------

    &.navbar-inverse {
      color: $navbarInverseText;

      .nav {
        & > li > a {
          color: $navbarInverseLinkColor;
          text-shadow: 0 -1px 0 rgba(0,0,0,.25);
          &:hover {
            color: $navbarInverseLinkColorHover;
          }
        }

        & > li > a:focus,
        & > li > a:hover {
          background-color: $navbarInverseLinkBackgroundHover;
          color: $navbarInverseLinkColorHover;
        }

        & .active > a,
        & .active > a:hover,
        & .active > a:focus {
          color: $navbarInverseLinkColorActive;
          background-color: $navbarInverseLinkBackgroundActive;
        }

        // Dividers in navbar
        .divider-vertical {
          border-left-color: $navbarInverseBackground;
          border-right-color: $navbarInverseBackgroundHighlight;
        }

        // Dropdowns
        // still inside of .nav
        li.dropdown.open > .dropdown-toggle,
        li.dropdown.active > .dropdown-toggle,
        li.dropdown.open.active > .dropdown-toggle {
          background-color: $navbarInverseLinkBackgroundActive;
          color: $navbarInverseLinkColorActive;
        }
        li.dropdown > .dropdown-toggle .caret {
          border-top-color: $navbarInverseLinkColor;
          border-bottom-color: $navbarInverseLinkColor;
        }
        li.dropdown.open > .dropdown-toggle .caret,
        li.dropdown.active > .dropdown-toggle .caret,
        li.dropdown.open.active > .dropdown-toggle .caret {
          border-top-color: $navbarInverseLinkColorActive;
          border-bottom-color: $navbarInverseLinkColorActive;
        }
      }

      // Navbar search
      .navbar-search {
        .search-query {
          color: $white;
          background-color: $navbarInverseSearchBackground;
          border-color: $navbarInverseSearchBorder;
          @include box-shadow(inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15));
          @include transition(none);
          @include placeholder($navbarInverseSearchPlaceholderColor);

          // Focus states (we use .focused since IE7-8 and down doesn't support :focus)
          &:focus,
          &.focused {
            padding: 5px 15px;
            color: $grayDark;
            text-shadow: 0 1px 0 $white;
            background-color: $navbarInverseSearchBackgroundFocus;
            border: 0;
            @include box-shadow(0 0 3px rgba(0,0,0,.15));
            outline: 0;
          }
        }
      }

      // Navbar collapse button
      .btn-mobile-navbar-menu-trigger {
        background:darken($navbarInverseBackgroundHighlight, 5%);
      }

    } // end .navbar-inverse
  } // end .navbar
} // end .navbar-wrapper
