//
// Navbars (Redux) -- THIS IS NOW THE GLOBAL NAV
// --------------------------------------------------



// COMMON STYLES
// -------------

// Base class and wrapper
// This has been modified just for Sony Global Nav
// If you need to use the regular Bootstrap nav module, use simple-nav.

// .nav-wrapper extends the full width of the browser, 
// even when the navbar is at a set width for a particular breakpoint.

.nav-wrapper{ // encompasses the entire nav, including the navbar and navtrays, to 100% width of the page.
  width:100%;
  height: $navbarTotalHeight;
  background:$navbarBackground;

  // .navbar width is set in media queries.
  .navbar {
    overflow: visible;
    color: $navbarText;
    position: relative;
    z-index: 200;
    
    margin:0 auto;

    // Prevent floats from breaking the navbar
    @include clearfix();

    // Override the default collapsed state
    &.nav-collapse.collapse {
      height: auto;
    }


    // Brand: website name
    // -------------------------
    .brand {
      float: left;
      display: block;
      // Vertically center the text given $navbarTotalHeight
      padding: 10px 20px;
      margin-left: -20px; // negative indent to left-align the text down the page
    }


    // Buttons in navbar
    // **still inside of .navbar**
    // -------------------------
    .btn,
    .btn-group {
      @include navbarVerticalAlign(30px); // Vertically center in navbar
    }
    .btn-group .btn,
    .input-prepend .btn,
    .input-append .btn {
      margin-top: 0; // then undo the margin here so we don't accidentally double it
    }

    // Navbar forms
    // **still inside of .navbar**
    // -------------------------
    &.navbar-form {
      margin-bottom: 0; // remove default bottom margin
      @include clearfix();
      input,
      select,
      .radio,
      .checkbox {
        @include navbarVerticalAlign(30px); // Vertically center in navbar
      }
      input,
      select,
      .btn {
        display: inline-block;
        margin-bottom: 0;
      }
      input[type="image"],
      input[type="checkbox"],
      input[type="radio"] {
        margin-top: 3px;
      }
      .input-append,
      .input-prepend {
        margin-top: 6px;
        white-space: nowrap; // preven two  items from separating within a .navbar-form that has .pull-left
        input {
          margin-top: 0; // remove the margin on top since it's on the parent
        }
      }
    }

    // Navbar search
    // **still inside of .navbar**
    // -------------------------
    &.navbar-search {
      position: relative;
      float: left;
      @include navbarVerticalAlign(30px); // Vertically center in navbar
      margin-bottom: 0;
      .search-query {
        margin-bottom: 0;
        padding: 4px 14px;
        @include font-sans-serif(13px, normal, 1);
        @include border-radius(15px); // redeclare because of specificity of the type attribute

        color: $white;
        background-color: $navbarInverseSearchBackground;
        border-color: $navbarInverseSearchBorder;
        @include box-shadow(inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15));
        @include transition(none);
        @include placeholder($navbarInverseSearchPlaceholderColor);

        // Focus states (we use .focused since IE7-8 and down doesn't support :focus)
        &:focus,
        &.focused {
          padding: 5px 15px;
          color: $grayDark;
          text-shadow: 0 1px 0 $white;
          background-color: $navbarInverseSearchBackgroundFocus;
          border: 0;
          @include box-shadow(0 0 3px rgba(0,0,0,.15));
          outline: 0;
        }
      }
    } // end .navbar-search


    // Static navbar
    // **still inside of .navbar**
    // -------------------------

    &.navbar-static-top {
      position: static;
      width: 100%;
    }

    // **still inside of .navbar**
    .brand {
      display: block;
      float: left;
      padding: 10px 20px 10px;
      margin-left: -20px;
    }



    // Navbar button for toggling navbar items in responsive layouts
    // These definitions need to come after '.navbar .btn'
    // the .btn-mobile-navbar-menu-trigger is the "menu" button when on mobile-size device
    // **still inside of .navbar**
    .btn-mobile-navbar-menu-trigger {
      display: none;
      float: right;
      padding: 7px 10px;
      margin-left: 5px;
      margin-right: 5px;
      background:darken($navbarBackgroundHighlight, 5%); 
      @include box-shadow(inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075));
    }
    // icon-bar are simply the 3 white lines on the btn-mobile-navbar-menu-trigger button.
    .btn-mobile-navbar-menu-trigger .icon-bar {
      display: block;
      width: 18px;
      height: 2px;
      background-color: #f5f5f5;
      @include border-radius(1px);
      @include box-shadow(0 1px 0 rgba(0,0,0,.25));
    }
    .btn-mobile-navbar-menu-trigger .icon-bar + .icon-bar {
      margin-top: 3px;
    }

    // Navbar collapse button
    .btn-mobile-navbar-menu-trigger {
      background:darken($navbarInverseBackgroundHighlight, 5%);
    }
  } // end .navbar


  $trayDividerPosition:70%;
  .nav-tray-wrapper{ // 100% width for trays to reach edges of browser
    position: absolute;
    overflow:hidden;
    top: $navbarTotalHeight;
    left: 0;
    width:100%;
    background: green; // $navTrayBackground;

    &.nav-tray-wrapper-electronics:after{ // background gray under the right side -- just needs to cover up the right margin
      content: "."; // idk why but this can't be null, so "color" needs to be the same as background to hide this.
      display: block;
      width: (110-$trayDividerPosition); // make sure it's a little wider than really necessary so there's no little edge showing.
      height: 100%;
      position:absolute;
      top:0;
      left:$trayDividerPosition;
      z-index:10;
      background: red; // $navTrayBackgroundAlt;
      color: red; // $navTrayBackgroundAlt;
    }

    .nav-tray{ // container the same width as the nav, contains left & right sections
      z-index: 10;
      overflow:hidden;
      padding: 0;
      margin: 0 auto;
      list-style: none;
      border-bottom: 1px solid #ccc;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));

      background:gray; // $navTrayBackgroundAlt; // right side background color
      // display: none;
      
      .nav-tray-section-main{ // section left
        width:$trayDividerPosition;
        height:100%;
        float:left;

        background:blue; // $navTrayBackground; // left side background color
      }
      .nav-tray-section-featured{ // section right
        width:(100-$trayDividerPosition);
        height:100%;
        float:left;
        z-index:20;
        position:relative;

        background:rgba(0,255,0,0.5); // no color - takes it from the 
      }
    } // end .nav-tray
  } // end .nav-tray-wrapper
} // end .nav-wrapper
