// .nav-wrapper extends the full width of the browser, 
// even when the navbar is at a set width for a particular breakpoint.

/* 
  .navtray-w == .navtray-wrapper
*/
.navtray-w{ // 100% width for trays to reach edges of browser
  z-index:180;
  position: absolute;
  overflow:hidden;
  left: 0;
  width:100%;
  background: $navTrayBackground;
  border-bottom:solid 1px $grayLighter;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  @include box-shadow(0px 0px 10px 0px rgba(39, 43, 55, .25));
  @include transition(top $navtrayCloseSpeed ease-in 0.15s, left 0s linear $navtrayCloseSpeed);
}
.navtray-w-short{
  @include transition(top $navtrayShortCloseSpeed ease-in 0.1s, left 0s linear $navtrayShortCloseSpeed);      
}
  // -webkit-transform: translate3d(0, 0, 0); // fix janky animation

.navtray-w-visible{
  left:0;
  top: $navbarHeight;
  opacity:1;

  @include transition(top $navtrayOpenSpeed $easeOutNav 0.15s, left 0s linear 0s);  
  &.navtray-w-short{
    @include transition(top $navtrayShortOpenSpeed $easeOutNav 0.1s, left 0s linear 0s);      
  }
}

.no-transition.navtray-w,
.no-transition.navtray-w-short,
.no-transition.navtray-w-visible,
.no-transition.navtray-w-visible.navtray-w-short{
  @include transition(none); 
}


.navtray{ // container the same width as the nav, contains left & right sections
  z-index: 10;
  overflow:hidden;
  margin: 0 auto;
  list-style: none;
  max-width:$navtrayMaxWidth;

  background: $navTrayBackgroundAlt; // right side background color
  
}
.navtray-section-main{ // section left
  float: left;
  padding-bottom: 17px;
  background: $navTrayBackground; // left side background color
}

.navtray-section-featured{ // section right
  float: left;
  z-index: 20;
  position: relative;
  // pierre
  .lt-ie8 &{
    width: 22%;
  }
  .navtray-list-secondary{
    margin-left: 0;
    padding-top:2px;

    .navtray-li {
      line-height:1.4;
      
      .navtray-li-link {
        font-size: $font_13_16;
      }
    }
  }
  .navtray-secondary-promo{
    img{
      width:100%;
      height:auto;
    }
    .p2,
    .p3{
      display:block;
    }
    .p2{
      color:$grayDark;
    }
    .p3{
      color:$grayLight0;
    }
  } // .navtray-secondary-promo
} // .navtray-section-featured

.navtray-section-main{ // section left - contents
  .navtray-list-main{ 
    overflow:hidden;

    .navtray-li{
      line-height: 3.25;
      display:block;
      float:left;

      .navtray-li-link {
        display:block;
        text-align:center;

        img {
          margin:0 auto;
        }
        .nav-label{
          display:block;
          margin-top:6px;
          line-height: 1.3;
        }
      }
    }
  }
}

.navtray-section-main-w-all-btn{
  padding-bottom: 50px;

  .navtray-list-main{
    .navtray-li{
      line-height: inherit;
    }
    &:after{ // HR
      content: '';
      display:block;
      clear:both;
      border-bottom: solid 1px $grayLighter;
    }
  }
}
.navtray-section-featured{
  .l2{
    font-size: $font_11_16;
  }
}

.navtray.navtray-absolute{
  position: absolute;
  bottom: 0;
}

.no-transition{
  @include transition(none); 
}
