//
// Pagination (multiple pages)
// --------------------------------------------------


// BULLET STYLES FOR PAGINATION

//pagination / bullets
//.pagination-bullets-container {

$bulletSize: px-em(10px);
$bulletMargin: px-em(5px);
.pagination-bullets {
  position: absolute;
  z-index: 35;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 1;
  // overflow: hidden;
  opacity: 0;
  @include transition(opacity $transitionNormal);

  &.pagination-bullets-on,
  &.on {
    opacity: 1;
  } // end .on

  .pagination-bullet {
    // position: relative;
    @include square( $bulletSize );
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: $bulletMargin;
    border-radius: 50%;
    background: $gray50;
    cursor: pointer;
    @include transition();

    &:first-child {
        margin-left: 0;
    }
  } // end .pagination-bullet


  .pagination-bullet:hover,
  .bullet-selected {
    background-color: $gray20;
  } // end .bullet-selected

} // end pagination-bullets


.nav-paddle {
  border: none;
  background-color: $gray60;
  background-color: rgba($gray10, .4);
  border-radius: .1875em; // 3 pixels
  width: $navPaddleWidth;
  height: $navPaddleHeight;
  padding: 0; // override default button padding
  @include transition();

  &:hover,
  &:focus {
    background-color: $gray20;
    background-color: rgba($gray10, .8);
    outline: none;
    cursor: pointer;
  }

  i {
    vertical-align: middle;
    color: $white;
    font-size: $font_15_16;
    margin-left: .0625em;
    margin-top: -0.125em;
  }

  i.fonticon-10-chevron-left {
    margin-left: -0.625em;
  }
}

// If there's a paddle-trigger, fade in the paddles when it's hovered over.
.paddle-trigger .nav-paddle {
  @include opacity(0);
}

.paddle-trigger:hover .nav-paddle {
  @include opacity(100);
}


@media (max-width: px-em(979px) ) {

  .nav-paddle {
    width: $navPaddleWidth980;
    height: $navPaddleHeight980;
  }
}


//     ____  ___    ____  ____  __    ______   _   _____ _    __
//    / __ \/   |  / __ \/ __ \/ /   / ____/  / | / /   | |  / /
//   / /_/ / /| | / / / / / / / /   / __/    /  |/ / /| | | / /
//  / ____/ ___ |/ /_/ / /_/ / /___/ /___   / /|  / ___ | |/ /
// /_/   /_/  |_/_____/_____/_____/_____/  /_/ |_/_/  |_|___/

.rp-nav .paddle,
.nav-paddle-grande {
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 86px;
  margin: -100px 0;
  border-radius: 2px;
  color: $white;
  font-size: 1.4em;
  background-color: $gray60;
  background-color: rgba($gray10, .4);
  @include transition($transitionSlow ease-in);
  cursor: pointer;

  &:hover {
    background-color: $gray20;
    background-color: rgba($gray10, .8);
  }

  i {
    width: 15px;
    height: 15px;
    margin-top: 33px;
    @include center-block();
  }

  &.left {
    left: 10px;
  }

  &.right {
    right: 10px;
  }
}


@media (max-width: px-em(979px) ) {

  .rp-nav .paddle,
  .nav-paddle-grande {

    i {
      margin-top: 28px;
    }
  }
}

@media ( min-width: px-em(480px) ) and ( max-width: px-em(979px) ) {

  .rp-nav .paddle,
  .nav-paddle-grande {
    margin: -100px 0;
    width: 40px;
    height: 70px;
    font-size: 1.0em;
  }
}

@media ( max-width: px-em(479px) ) {

  .rp-nav .paddle,
  .nav-paddle-grande {
    display: none;
  }
}


//} // end pagination-bullets-container

// ----------------------------------------------------------
// DOESN'T LOOK LIKE ANYONE IS USING THIS SO COMMENTING OUT
// ----------------------------------------------------------
//
// .pagination {
//   height: $baseLineHeight * 2;
//   margin: $baseLineHeight 0;
//  }
// .pagination ul {
//   display: inline-block;
//   @include ie7-inline-block();
//   margin-left: 0;
//   margin-bottom: 0;
//   @include border-radius(3px);
//   @include box-shadow(0 1px 2px rgba(0,0,0,.05));
// }
// .pagination ul > li {
//   display: inline;
// }
// .pagination ul > li > a,
// .pagination ul > li > span {
//   float: left;
//   padding: 0 14px;
//   line-height: $baseLineHeight * 1.5;
//   text-decoration: none;
//   background-color: $paginationBackground;
//   border: 1px solid $paginationBorder;
//   border-left-width: 0;
// }
// .pagination ul > li > a:hover,
// .pagination ul > .active > a,
// .pagination ul > .active > span {
//   background-color: #f5f5f5;
// }
// .pagination ul > .active > a,
// .pagination ul > .active > span {
//   color: $grayLight;
//   cursor: default;
// }
// .pagination ul > .disabled > span,
// .pagination ul > .disabled > a,
// .pagination ul > .disabled > a:hover {
//   color: $grayLight;
//   background-color: transparent;
//   cursor: default;
// }
// .pagination ul > li:first-child > a,
// .pagination ul > li:first-child > span {
//   border-left-width: 1px;
//   @include border-radius(3px 0 0 3px);
// }
// .pagination ul > li:last-child > a,
// .pagination ul > li:last-child > span {
//   @include border-radius(0 3px 3px 0);
// }

// // Centered
// .pagination-centered {
//   text-align: center;
// }
// .pagination-right {
//   text-align: right;
// }
// ---------------------------------------------------------
// END COMMENT
// ----------------------------------------------------------
