//
// Range and slider controls
// --------------------------------------------------

$rangeControlSize: 14px;
$ambitActiveColor: $gray25;
$ambitBackgroundColor: $gray50;
$handleHighlightColor: $buttonOrange;
.range-control {
  position: relative;
  width: inherit;
  height: $rangeControlSize;
  background: $ambitBackgroundColor;
  border-radius: $rangeControlSize;
  @include box-shadow(inset 0 0 1px rgba(0,0,0,0.3));

  &.vertical {
    width: $rangeControlSize;
    height: 200px;
  }

  .ambit {
    z-index: 3;
    height: $rangeControlSize;
    background: $ambitActiveColor;
  }

  &.vertical .ambit {
    width: $rangeControlSize;
    height: auto;
  }

  .handle {
    position: absolute;
    top: 0;
    z-index: 5;
    margin-top: 0;
    margin-left: -10px;
    @include square($rangeControlSize);
    border: 2px solid $white;
    border-radius: 50%;
    background: $white;
    @include box-shadow(0 0 0 6px $transparentBlack, 0 0 9px $innerGlow);
    @include transition(border $transitionFast linear, margin $transitionFast linear);
    cursor: url('http://www.google.com/intl/en_ALL/mapfiles/openhand.cur') 8 4, pointer; /* you should probably localize the cur file */

    &.grabbed,
    &:hover {
      border-width: 12px;
      margin-top: -6px;
      margin-left: -14px;
    }
  }

  .rangecontrol-min-handle {
    left: 0%;
  }
  .rangecontrol-max-handle {
    left: 100%;
  }
}

.ie .handle {
  cursor: url('http://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), pointer; /* you should probably localize the cur file */
}

.grabbing .handle {
  cursor: url('http://www.google.com/intl/en_ALL/mapfiles/closedhand.cur') 8 4, move; /* you should probably localize the cur file */
}

.ie.grabbing .handle {
  cursor: url('http://www.google.com/intl/en_ALL/mapfiles/closedhand.cur'), move; /* you should probably localize the cur file */
}


// Range output
// --------------------
.range-output-container {
  position: relative;
  height: 25px;

  sup {
    top: -0.3em;
    margin-right: 1px;
  }
}

.range-output-min,
.range-output-max {
  position: absolute;
  top: 0;
  width: 80px;
  margin-left: -40px;
  text-align: center;
  @include transition(color $transitionFast $easeNormal);
}

.grabbing-min .range-output-min,
.grabbing-max .range-output-max {
  color: $handleHighlightColor;
}




