//
// Slide toggle
// --------------------------------------------------

$slideTogglePadding: 24px;
.slide-toggle {
  position: relative;
  padding-left: $slideTogglePadding;
  padding-right: $slideTogglePadding;
  background: $grayDark;
  border-color: $grayDark;
  text-align: left;

  &:hover {
    background: $highlightColorActive;
    border-color: $highlightColorActive;
  }

  &:after {
    content: '';
    position: absolute;
    right: $slideTogglePadding;
    margin-top: 4px;
    @extend %icon;
    @extend .icon-mini-close;
  }

  &.collapsed:after {
    @extend .icon-mini-plus-skinny;
  }
}
