//
// Slide toggle
// --------------------------------------------------

$slideTogglePadding: 24px;
.slide-toggle {
  position: relative;
  padding-left: $slideTogglePadding;
  padding-right: $slideTogglePadding;
  text-align: left;
  font-size: $font_13_16;
  background: $highlightColor;
  border-color: $highlightColor;
  width: 131px;

  &:hover,
  &:focus {
    background: $gray;
    border-color: $gray;
  }

  &:active {
    background: $gray;
    border-color: $gray;
  }

  &:after {
    content: '';
    position: absolute;
    right: $slideTogglePadding;
    margin-top: 10px;
    @extend %icon;
    @extend .icon-ui-arrowhead-up-white;
  }

  &.collapsed {
    background: $btnAltBackground;
    border-color: $btnAltBackground;
  }

  &.collapsed:after {
    @extend .icon-ui-arrowhead-down-white;
  }
}
