//
// Sticky Tabs
// --------------------------------------------------

$tabWidth: px-em(122px);
$tabHeight: px-em(98px);
.sticky-tabs {
  position: relative;
  background-color: $gray70;

  .tabs-container {
    position: relative;
    overflow: hidden;
  }

  // Container for .tab's
  .tabs {
    z-index: 1;
    height: $tabHeight;
  }

  .tab {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: inline-block;
    width: $tabWidth;
    padding: 0;
    height: $tabHeight;
    cursor: pointer;

    // Don't let text overflow
    overflow: hidden;

    // Override default <button> styles
    text-align: left;
    border: none;
    background: none;

    @include box-shadow(.0625em 0 0 $white);
    @include transition(background-color $transitionFast $easeNormal, box-shadow $transitionFast $easeNormal, color $transitionFast $easeNormal);

    // Avoid selecting text
    -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;

    &:focus,
    &:hover {
      background-color: $grayLightFieldLarge;
    }

    .no-touch &:active,
    &.active {
      background-color: $white;
      box-shadow:
        0 .1875em 0 $white,
        0 0 .25em .0625em rgba(0,0,0,0.15);
    }

    // Put active tab above others
    &.active {
      z-index: 2;
    }
  }


  // Tab carousel nav
  // -------------------------
  .tab-nav-btns {
    display: none;
  }

  .tab-nav {
    position: absolute;
    z-index: 5;
    // top: -$tabHeight + ($navPaddleHeight / 2);
    top: ($tabHeight - $navPaddleHeight) / 2;

    @media (max-width: px-em(979px) ) {
      top: ($tabHeight - $navPaddleHeight980) / 2;
    }
  }

  .tab-nav-prev {
    left: 1px;
    // left: -$navPaddleWidth / 2;
  }

  .tab-nav-next {
    right: 1px;
    // right: -$navPaddleWidth / 2;
  }

  &.tab-carousel .tab-nav-btns {
    display: block;
  }

}


// Set up tab carousel
// 768 - 979
// @media (min-width: 48em) and (max-width: 61.1875em) {
//   .sticky-tabs {
//     .tabs {
//       position: relative;
//       overflow-x: hidden;
//       overflow-y: visible;
//       -webkit-transition: all .4s ease-in-out;
//            -o-transition: all .4s ease-in-out;
//               transition: all .4s ease-in-out;
//     }

//     .tabs-container {
//       overflow: hidden;
//     }

//     .tab-nav-btns {
//       display: block;
//     }
//   }
// }