@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.editorial{
  @include dttb;
  
  position:relative;
  
  .box.left{
    text-align:left;
  }
  .box.center{
    text-align:center;
  }
  .box.right{
    text-align:right;
  }
 
  .image-module{
    height:400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .inner{
    height:100%;
    position:absolute;
    top:0;
    right:0;
    left:0;
    .grid,
    .grid > div,
    .table-center-wrap{
      height:100%;
    }
  }
  
  .box{
    margin-top:-1%;
    padding:56px 52px 50px 52px;
  }
 
}
.editorial.mediaright,
.editorial.medialeft{
  
}
.editorial.full{

}
.editorial.full3up{
  
}
.editorial.m3up,
.editorial.m2up{

}
.editorial.textonly{

}
@media (max-width: px-em(767)) {
  
}