include ../includes/jade-helpers.jade

mixin gridstyle(style)
  style = style || ""
  .grid.no-grid-at-767(class= style)(class = data.style)
    block

mixin col(layout, extras)
  layout = layout || data.layout
  if layout.text == "left"
    - span = "span" + layout.columns[0]
    div(class= span)(class= extras)
      block
  else
    - span = "span" + layout.columns[1]
    - offset = "offset" + layout.columns[0]
    div(class= span)(class= offset)(class= extras)
      block


mixin innerboxlayout(layout)
  layout = layout || data.layout
  +gridstyle("inner")
    +col
      .table-center-wrap
        .table-center
          .box(class = layout.alignment)
            block
  
mixin copyblock(copyobject, h4class, h5class)
  - copyobject = copyobject || data
  - h4class = h4class || ""
  - h5class = h5class || ""
  +hgroup(copyobject, "", "", "", h4class, h5class)
  if copyobject.body
    p.p3 !{copyobject.body}
  if copyobject.link
    a(class= copyobject.link.type, href= copyobject.link.url) !{copyobject.link.text}

section.editorial.container.clearfix(class= data.layout.media)
  if data.layout.media == "full" 
    if data.layout.inner == "true" 
      .grid.full-bleed.no-grid-at-767
        .span12
          +partial(data.submodules[0].type, data.submodules[0].data)
      +innerboxlayout
        +copyblock()

    else
      +gridstyle
        .span12
          +copyblock()
      .grid.no-grid-at-767
        .span12
          +partial(data.submodules[0].type, data.submodules[0].data)

  else if data.layout.media == "mediaright" 
    +gridstyle("table-center-wrap")
      span = "span" + data.layout.columns[0]
      .table-center.box(class = span)
        +copyblock()
      span = "span" + data.layout.columns[1]
      .table-center.media-element(class = span)
        +partial(data.submodules[0].type, data.submodules[0].data)

  else if data.layout.media == "medialeft"   
    +gridstyle("table-center-wrap")
      span = "span" + data.layout.columns[0]
      .table-center.media-element(class = span)
        +partial(data.submodules[0].type, data.submodules[0].data)
      span = "span" + data.layout.columns[1]
      .table-center.box(class = span)
        +copyblock()

  else if data.layout.media == "full3up"
    +gridstyle
      .span12
        .box(class= data.layout.alignment)
          +copyblock()
        +partial(data.submodules[0].type, data.submodules[0].data)
  
    .grid.no-grid-at-767
      for col, i in data.layout.columns
        - colalign = data.columns[i].align || "left"
        - span = "span" + data.layout.columns[i]
        div(class = span)
          if data.submodules[i+1]
            +partial(data.submodules[i+1].type, data.submodules[i+1].data)
          .box(class = colalign)
            +copyblock(data.columns[i])

  else if data.layout.media == "m3up" || data.layout.media == "m2up"
    +gridstyle
      +copyblock()
  
    .grid.no-grid-at-767
      for col, i in data.layout.columns
        span = "span" + data.layout.columns[i]
        div(class = span)
          +partial(data.submodules[i].type, data.submodules[i].data)

          if data.layout.inner 
            .grid.no-grid-at-767.inner
              +copyblock(data.columns[i], "alt")
          else
            .grid.no-grid-at-767
              +copyblock(data.columns[i], "alt")

  else if data.layout.media == "textonly" 
    +gridstyle(data.layout.text)
      if data.layout.text == "full" 
        .box.span12(class= data.layout.alignment)
          +copyblock(data, "alt") 
      else
        extras = "box " + data.layout.alignment
        +col(data.layout, extras)
          +copyblock(data, "alt")



