---
desc: 'Here are some modules with unique data:'
layout1: ["big", "small", "small", "small"]
layout2: ["small", "big", "small", "small"]
---
mixin type(tt)
  for module in data.submodules
    - d = locals.data(module.data)
    if d.type == tt
      - a = d.view = document[data.layout][i++]
      - e = {"locals":locals, "data":d}
      li !{locals.partial('modules/'+module.type , e )}

.container-module
  h1 Container Module
  h4 !{document.desc}
  i = 0
  h2 type a
  ul
    +type("a")
    
  h2 type b
  ul
    +type("b")
  
  h6 !{data.extra}