include ../includes/jade-helpers.jade
include ../includes/gallery-helpers.jade

.gallery-content(data-module-name=data.config.module_name, data-module-id=data.config.module_id)
  mixin detailedGallery( data.submodules, data.heythere, 'accessory' )
