---
name: 'global footer'
meta_data: {a:'foo', b:'bar'}
---


.footer-ex.clearfix
  .footer-contact.span6.mobile-container-padded(role='navigation')
    //footer-contact and footer-language are flipped in order for mobile. floats make them display in the correct order on desktop. 
    p
      a(href='#') For Professionals
      a(href='#') Contact Us
    .footer-social-links
      a.footer-social-twitter(href='#')
        i.fonticon-15-twitter.old-ie-font-fix-gray05
        span.visuallyhidden
         | Twitter
      a.footer-social-facebook(href='#')
        i.fonticon-15-facebook-sm.old-ie-font-fix-gray05
        span.visuallyhidden
         | Facebook
      a.footer-social-gplus(href='#')
        i.fonticon-15-gplus.old-ie-font-fix-gray05
        span.visuallyhidden
         | Google+
      a.footer-social-youtube(href='#')
        i.fonticon-15-youtube.old-ie-font-fix-gray05
        span.visuallyhidden
         | YouTube



  .footer-language.span6.mobile-container-padded
    .footer-language-selectors
      #country-selector.btn-hover-group.country-selector.DISABLE-MENU
        .btn.dropdown-hover-toggle(data-toggle='dropdown', href='#')
          i.sprite-flagBig-uk
          span.dropdown-label United Kingdom

        .dropdown-hover-menu.bottom-up
          .dropdown-hover-menu-lists-w
            ul.dropdown-hover-menu-list
              li
                a(href='http://www.sony.ru/')
                  i.sprite-flag-armenia
                  | Armenia
              li
                a(href='http://www.sony.at/')
                  i.sprite-flag-austria
                  | Austria
              li
                a(href='http://www.sony.be/')
                  i.sprite-flag-belgium
                  | Belgium
              li
                a(href='http://www.sony.ba/')
                  i.sprite-flag-bosnia
                  | Bosnia Herzegovina
              li
                a(href='http://www.sony.bg/')
                  i.sprite-flag-bulgaria
                  | Bulgaria
              li
                a(href='http://www.sony.hr/')
                  i.sprite-flag-croatia
                  | Croatia
              li
                a(href='http://www.sony.gr/')
                  i.sprite-flag-cyprus
                  | Cyprus
              li
                a(href='http://www.sony.cz/')
                  i.sprite-flag-czech
                  | Czech Republic
              li
                a(href='http://www.sony.dk/')
                  i.sprite-flag-denmark
                  | Denmark
            ul.dropdown-hover-menu-list
              li
                a(href='http://www.sony.ee/')
                  i.sprite-flag-estonia
                  | Estonia
              li
                a(href='http://www.sony.fi/')
                  i.sprite-flag-finland
                  | Finland
              li
                a(href='http://www.sony.fr/')
                  i.sprite-flag-france
                  | France
              li
                a(href='http://www.sony.ru/')
                  i.sprite-flag-georgia
                  | Georgia
              li
                a(href='http://www.sony.de/')
                  i.sprite-flag-germany
                  | Germany
              li
                a(href='http://www.sony.gr/')
                  i.sprite-flag-greece
                  | Greece
              li
                a(href='http://www.sony.hu/')
                  i.sprite-flag-hungary
                  | Hungary
              li
                a(href='http://www.sony.ie/')
                  i.sprite-flag-ireland
                  | Ireland
              li
                a(href='http://www.sony.it/')
                  i.sprite-flag-italy
                  | Italy
            ul.dropdown-hover-menu-list
              li
                a(href='http://www.sony.kz/')
                  i.sprite-flag-kazakhstan
                  | Kazakhstan
              li
                a(href='http://www.sony.ru/')
                  i.sprite-flag-kyrgyzstan
                  | Kyrgyzstan
              li
                a(href='http://www.sony.lv/')
                  i.sprite-flag-latvia
                  | Latvia
              li
                a(href='http://www.sony.lt/')
                  i.sprite-flag-lithuania
                  | Lithuania
              li
                a(href='http://www.sony.lu/')
                  i.sprite-flag-luxembourg
                  | Luxembourg
              li
                a(href='http://www.sony.com.mk/')
                  i.sprite-flag-macedonia
                  | FYRO Macedonia
              li
                a(href='http://www.sony.ro/')
                  i.sprite-flag-moldova
                  | Moldova
              li
                a(href='http://www.sony.nl/')
                  i.sprite-flag-netherlands
                  | Netherlands
              li
                a(href='http://www.sony.no/')
                  i.sprite-flag-norway
                  | Norway
            ul.dropdown-hover-menu-list
              li
                a(href='http://www.sony.com.pl/')
                  i.sprite-flag-poland
                  | Poland
              li
                a(href='http://www.sony.pt/')
                  i.sprite-flag-portugal
                  | Portugal
              li
                a(href='http://www.sony.ro/')
                  i.sprite-flag-romania
                  | Romania
              li
                a(href='http://www.sony.ru/')
                  i.sprite-flag-russia
                  | Russia
              li
                a(href='http://www.sony.rs/')
                  i.sprite-flag-serbia
                  | Serbia and Montenegro
              li
                a(href='http://www.sony.sk/')
                  i.sprite-flag-slovakia
                  | Slovak Republic
              li
                a(href='http://www.sony.si/')
                  i.sprite-flag-slovenia
                  | Slovenia
              li
                a(href='http://www.sony.es/')
                  i.sprite-flag-spain
                  | Spain
              li
                a(href='http://www.sony.se/')
                  i.sprite-flag-sweden
                  | Sweden
            ul.dropdown-hover-menu-list
              li
                a(href='http://www.sony.ch/')
                  i.sprite-flag-switzerland
                  | Switzerland
              li
                a(href='http://www.sony.ru/')
                  i.sprite-flag-tajikistan
                  | Tajikistan
              li
                a(href='http://www.sony.com.tr/')
                  i.sprite-flag-turkey
                  | Turkey
              li
                a(href='http://www.sony.ru/')
                  i.sprite-flag-turkmenistan
                  | Turkmenistan
              li
                a(href='http://www.sony.ua/')
                  i.sprite-flag-ukranie
                  | Ukraine
              li
                a(href='http://www.sony.co.uk/')
                  i.sprite-flag-unitedkingdom
                  | United Kingdom
              li
                a(href='http://www.sony.ru/')
                  i.sprite-flag-uzbekistan
                  | Uzbekistan

      .btn-hover-group.language-selector
        a.btn.dropdown-hover-toggle(data-toggle='dropdown', href='#')
          | EN
          i.fonticon-10-arrowhead-down.old-ie-font-fix-gray30
        .dropdown-hover-menu.bottom-up
          .dropdown-hover-menu-lists-w
            //- in case there's more than 1 list, for multiple columns we need a container 
            ul.dropdown-hover-menu-list
              li.selected
                a(href='#')
                  span.dropdown-label-left EN
                  span.dropdown-label English
              li
                a(href='#')
                  span.dropdown-label-left WE
                  span.dropdown-label Welsh
              li
                a(href='#')
                  span.dropdown-label-left FR
                  span.dropdown-label French