footer.container.full-bleed-no-max.m-full-bleed.footer-signature-w.mobile-container-padded
  .container
    .grid.grid-footer.clearfix
      .footer-signature
        span.sprite-32a-sony-logo-sm-short.footer-sony-logo
          span.visuallyhidden Sony
        p.footer-legal-links
          a(href='#') Privacy Statement & Cookies
          a(href='#') Terms & Conditions of Sales
          a(href='#') Terms & Conditions of Website Use
          a(href='#') Recalls
        span.footer-copyright ©2013 Copyright Sony Europe Limited.