section#footer-wrapper.container.full-bleed-no-max.m-full-bleed.footer-wrapper.phone-at-567.footer-wrapper-minimal
  .container.full-bleed-at-567
    .grid.grid-footer.no-grid-at-567
      !{locals.partial('modules/global-footer-core2.html.jade')}

  !{locals.partial('modules/global-footer-core3.html.jade')}