---
name: 'global footer'
meta_data: {a:'foo', b:'bar'}
---




footer#footer-wrapper.container.full-bleed-no-max.m-full-bleed.footer-wrapper.phone-at-567
  .container.full-bleed-at-567
    .grid.grid-footer.no-grid-at-567

      .footer-store-locator.span3.footer-mobile-section.mobile-container-padded.input-outer-wrapper
        h5
          | Find a Store
          i.fonticon-10-arrowhead-down.visible-phone
        .store-locator-input-w
          form.footer-store-locator-form.footer-form-border.input-group(method='post', action='')
            i.fonticon-10-location.input-icon
            input#store-locator-search-input.footer-store-locator-input.footer-input.dark(type='text', name='store-locator-search-input', value='     London')
            button.btn.store-locator-submit-btn.footer-btn.input-btn(type='submit') Search
        p.footer-store-locator-caption Change location

      .footer-stores.span3.footer-mobile-section.mobile-container-padded
        h5
          | Shop Online
          i.fonticon-10-arrowhead-down.visible-phone
        ul.footer-links-list
          li.footer-link-li
            a(href='#') Sony Store Online
          li.footer-link-li
            a(href='#') Store Help
          li.footer-link-li
            a(href='#') Education Store
          li.footer-link-li
            a(href='#') Business Store
          li.footer-link-li
            a(href='#') Outlet Store

      .footer-communities.span3.footer-mobile-section.mobile-container-padded
        h5
          | Our Communities
          i.fonticon-10-arrowhead-down.visible-phone
        ul.footer-links-list
          li.footer-link-li
            a(href='#') Photography
          li.footer-link-li
            a(href='#') Reading
          li.footer-link-li
            a(href='#') Film & 3D
          li.footer-link-li
            a(href='#') Computing
          li.footer-link-li
            a(href='#') Music

      .footer-news.span3.footer-mobile-section.mobile-container-padded
        h5
          | In the News
          i.fonticon-10-arrowhead-down.visible-phone
        ul.footer-links-list
          li.footer-link-li
            a(href='#') Press Center
          li.footer-link-li
            a(href='#') RSS Feeds
        .footer-newsletter.input-outer-wrapper
          h6 Newsletter Sign Up
          form.footer-newsletter-form.footer-form-border.input-group(method='post', action='')
            input#footer-email-input.footer-email-input.footer-input.dark(type='text', name='newsletterInput', value='Email')
            button.btn.location-submit-btn.footer-btn.input-btn(type='submit') Submit


      .footer-ex
        .footer-contact.span6.mobile-container-padded
          //footer-contact and footer-language are flipped in order for mobile. floats make them display in the correct order on desktop. 
          p
            a(href='#') For Professionals
            a(href='#') Contact Us
          .footer-social-links
            a.footer-social-twitter(href='#')
              i.fonticon-10-twitter
              span.visuallyhidden
               | Twitter
            a.footer-social-facebook(href='#')
              i.fonticon-10-facebook
              span.visuallyhidden
               | Facebook
            a.footer-social-gplus(href='#')
              i.fonticon-20-gplus
              span.visuallyhidden
               | Google+
            a.footer-social-youtube(href='#')
              i.fonticon-15-youtube
              span.visuallyhidden
               | YouTube



        .footer-language.span6.mobile-container-padded
          .footer-language-selectors
            #country-selector.btn-hover-group.country-selector.DISABLE-MENU
              .btn.dropdown-hover-toggle(data-toggle='dropdown', href='#')
                i.icon-flagBig-uk
                span.dropdown-label United Kingdom
                i.fonticon-10-arrowhead-down

              .dropdown-hover-menu.bottom-up
                .dropdown-hover-menu-lists-w
                  ul.dropdown-hover-menu-list
                    li
                      a(href='http://www.sony.ru/')
                        i.icon-flag-armenia
                        | Armenia
                    li
                      a(href='http://www.sony.at/')
                        i.icon-flag-austria
                        | Austria
                    li
                      a(href='http://www.sony.be/')
                        i.icon-flag-belgium
                        | Belgium
                    li
                      a(href='http://www.sony.ba/')
                        i.icon-flag-bosnia
                        | Bosnia Herzegovina
                    li
                      a(href='http://www.sony.bg/')
                        i.icon-flag-bulgaria
                        | Bulgaria
                    li
                      a(href='http://www.sony.hr/')
                        i.icon-flag-croatia
                        | Croatia
                    li
                      a(href='http://www.sony.gr/')
                        i.icon-flag-cyprus
                        | Cyprus
                    li
                      a(href='http://www.sony.cz/')
                        i.icon-flag-czech
                        | Czech Republic
                    li
                      a(href='http://www.sony.dk/')
                        i.icon-flag-denmark
                        | Denmark
                  ul.dropdown-hover-menu-list
                    li
                      a(href='http://www.sony.ee/')
                        i.icon-flag-estonia
                        | Estonia
                    li
                      a(href='http://www.sony.fi/')
                        i.icon-flag-finland
                        | Finland
                    li
                      a(href='http://www.sony.fr/')
                        i.icon-flag-france
                        | France
                    li
                      a(href='http://www.sony.ru/')
                        i.icon-flag-georgia
                        | Georgia
                    li
                      a(href='http://www.sony.de/')
                        i.icon-flag-germany
                        | Germany
                    li
                      a(href='http://www.sony.gr/')
                        i.icon-flag-greece
                        | Greece
                    li
                      a(href='http://www.sony.hu/')
                        i.icon-flag-hungary
                        | Hungary
                    li
                      a(href='http://www.sony.ie/')
                        i.icon-flag-ireland
                        | Ireland
                    li
                      a(href='http://www.sony.it/')
                        i.icon-flag-italy
                        | Italy
                  ul.dropdown-hover-menu-list
                    li
                      a(href='http://www.sony.kz/')
                        i.icon-flag-kazakhstan
                        | Kazakhstan
                    li
                      a(href='http://www.sony.ru/')
                        i.icon-flag-kyrgyzstan
                        | Kyrgyzstan
                    li
                      a(href='http://www.sony.lv/')
                        i.icon-flag-latvia
                        | Latvia
                    li
                      a(href='http://www.sony.lt/')
                        i.icon-flag-lithuania
                        | Lithuania
                    li
                      a(href='http://www.sony.lu/')
                        i.icon-flag-luxembourg
                        | Luxembourg
                    li
                      a(href='http://www.sony.com.mk/')
                        i.icon-flag-macedonia
                        | FYRO Macedonia
                    li
                      a(href='http://www.sony.ro/')
                        i.icon-flag-moldova
                        | Moldova
                    li
                      a(href='http://www.sony.nl/')
                        i.icon-flag-netherlands
                        | Netherlands
                    li
                      a(href='http://www.sony.no/')
                        i.icon-flag-norway
                        | Norway
                  ul.dropdown-hover-menu-list
                    li
                      a(href='http://www.sony.com.pl/')
                        i.icon-flag-poland
                        | Poland
                    li
                      a(href='http://www.sony.pt/')
                        i.icon-flag-portugal
                        | Portugal
                    li
                      a(href='http://www.sony.ro/')
                        i.icon-flag-romania
                        | Romania
                    li
                      a(href='http://www.sony.ru/')
                        i.icon-flag-russia
                        | Russia
                    li
                      a(href='http://www.sony.rs/')
                        i.icon-flag-serbia
                        | Serbia and Montenegro
                    li
                      a(href='http://www.sony.sk/')
                        i.icon-flag-slovakia
                        | Slovak Republic
                    li
                      a(href='http://www.sony.si/')
                        i.icon-flag-slovenia
                        | Slovenia
                    li
                      a(href='http://www.sony.es/')
                        i.icon-flag-spain
                        | Spain
                    li
                      a(href='http://www.sony.se/')
                        i.icon-flag-sweden
                        | Sweden
                  ul.dropdown-hover-menu-list
                    li
                      a(href='http://www.sony.ch/')
                        i.icon-flag-switzerland
                        | Switzerland
                    li
                      a(href='http://www.sony.ru/')
                        i.icon-flag-tajikistan
                        | Tajikistan
                    li
                      a(href='http://www.sony.com.tr/')
                        i.icon-flag-turkey
                        | Turkey
                    li
                      a(href='http://www.sony.ru/')
                        i.icon-flag-turkmenistan
                        | Turkmenistan
                    li
                      a(href='http://www.sony.ua/')
                        i.icon-flag-ukranie
                        | Ukraine
                    li
                      a(href='http://www.sony.co.uk/')
                        i.icon-flag-unitedkingdom
                        | United Kingdom
                    li
                      a(href='http://www.sony.ru/')
                        i.icon-flag-uzbekistan
                        | Uzbekistan

            .btn-hover-group.language-selector
              a.btn.dropdown-hover-toggle.fonticon-10-arrowheads-elevator--after(data-toggle='dropdown', href='#')
                | EN
              .dropdown-hover-menu.bottom-up
                .dropdown-hover-menu-lists-w
                  //- in case there's more than 1 list, for multiple columns we need a container 
                  ul.dropdown-hover-menu-list
                    li.selected
                      a(href='#')
                        span.dropdown-label-left EN
                        span.dropdown-label English
                    li
                      a(href='#')
                        span.dropdown-label-left WE
                        span.dropdown-label Welsh
                    li
                      a(href='#')
                        span.dropdown-label-left FR
                        span.dropdown-label French

  .container.full-bleed-no-max.m-full-bleed.footer-signature-w.mobile-container-padded
    .container
      .grid.grid-footer
        .footer-signature
          span.fonticon-60-sony.footer-sony-logo
            span.visuallyhidden Sony
          p.footer-legal-links
            a(href='#') Privacy Statement & Cookies
            a(href='#') Terms & Conditions of Sales
            a(href='#') Terms & Conditions of Website Use
            a(href='#') Recalls
          span.footer-copyright ©2013 Copyright Sony Europe Limited.

