.footer-store-locator.span3.footer-mobile-section.mobile-container-padded.input-outer-wrapper
  h5
    | Find a Store
    i.fonticon-10-arrowhead-down.visible-phone
  .store-locator-input-w
    form.footer-store-locator-form.footer-form-border.input-group(method='post', action='', role='form')
      i.fonticon-10-location.input-icon
      input#store-locator-search-input.footer-store-locator-input.footer-input.dark(type='text', name='store-locator-search-input', value='     London')
      button.btn.store-locator-submit-btn.footer-btn.input-btn(type='submit') Search
  a.footer-change-location-link(href="#")
    | See Our Locations

.footer-stores.span3.footer-mobile-section.mobile-container-padded(role='navigation')
  h5
    | Shop Online
    i.fonticon-10-arrowhead-down.visible-phone
  ul.footer-links-list
    li.footer-link-li
      a(href='#') Sony Store Online
    li.footer-link-li
      a(href='#') Store Help
    li.footer-link-li
      a(href='#') Education Store
    li.footer-link-li
      a(href='#') Business Store
    li.footer-link-li
      a(href='#') Outlet Store

.footer-communities.span3.footer-mobile-section.mobile-container-padded.test(role='navigation')
  h5
    | Our Communities
    i.fonticon-10-arrowhead-down.visible-phone
  ul.footer-links-list
    li.footer-link-li
      a(href='#') Photography
    li.footer-link-li
      a(href='#') Reading
    li.footer-link-li
      a(href='#') Film & 3D
    li.footer-link-li
      a(href='#') Computing
    li.footer-link-li
      a(href='#') Music

.footer-news.span3.footer-mobile-section.mobile-container-padded(role='navigation')
        h5
          | In the News
          i.fonticon-10-arrowhead-down.visible-phone
        ul.footer-links-list
          li.footer-link-li
            a(href='#') Press Center
          li.footer-link-li
            a(href='#') RSS Feeds
          li.footer-link-li
            a(href='#') Newsletter Sign Up

