extraclass = data.classes || ""
if data.background == "true"
  .hero-image.image-module.iq-img(class= extraclass)(alt= data.alt, data-src= data.src, data-base= data.base)
else
  .image-module
    img.iq-img(class= extraclass)(alt= data.alt, data-src= data.src, data-base= data.base)
      noscript
          img(src= data.noscriptsrc)