//- ---
//- desc: 'Here are some modules with unique data:'
//- layout1: [ "normal" , "medium", "promo" , "normal" , "normal" ]
//- layout2: [ "normal" , "medium", "promo" , "normal" , "normal" ]
//- ---

//- <% i = 0 %>
//- <!-- Sony One Carousel 
//-   TODO:// add templating markup
//- -->
//- <!-- START Sony One Carousel Template -->
//- <section class="sony-one-carousel container full-bleed-no-max">
//-   <div class="soc-container">
//-     <div class="soc-container-inner">
//-       <div class="soc-content">
//-         <div class="soc-grid grid grid-small">
//-           <div class="soc-item soc-3up span8 iq-img" data-src="img/sonyonecarousel/spiderman.jpg"></div>
//-           <div class="soc-item soc-1up span4 iq-img" data-src="img/sonyonecarousel/sony_vita.jpg"></div>
//-         </div>
//-       </div>
//-       <div class="soc-content">
//-         <div class="soc-grid grid grid-small">
//-           <div class="soc-item soc-1up span4 iq-img" data-src="img/sonyonecarousel/assassins_creed.jpg"></div>
//-           <div class="soc-item soc-3up span8 iq-img" data-src="img/sonyonecarousel/harry_potter.jpg"></div>
//-         </div>
//-       </div>
//-       <div class="soc-content">
//-         <div class="soc-grid grid grid-small">
//-           <div class="soc-item soc-1up span4 iq-img" data-src="img/sonyonecarousel/sony_connected.jpg"></div>
//-           <div class="soc-item soc-1up span4 iq-img" data-src="img/sonyonecarousel/labrinth_store.jpg"></div>
//-           <div class="soc-item soc-1up span4 iq-img" data-src="img/sonyonecarousel/sony_headphones.jpg"></div>
//-         </div>
//-       </div>
//-     </div>
//-   </div>
//- </section>
//- <!-- END Sony One Carousel Template -->
//- <script src="js/libs/bootstrap-transition.js"></script>