//
// Responsive: Chapters - E5
// --------------------------------------------------

$phoneMax: px-em(767);
$tabletMin: px-em(768);
$tabletMax: px-em(979);

@mixin compact-thumb-nav {
  &.thumb-mode {
    .thumb-nav {
      height:62px;
      width:100%;

      li {
        width:auto;
        padding:8px 0;
        height:42px;
      }
        img {
          width:55px;
          height:42px;
          margin:0 5px;
        }
        i, span {display:none;}
    }
  }
  &.icon-mode {
    .thumb-nav {
      height:54px;

      li {
        width:auto;
        height:30px;
      }
        img, span {display:none;}
        i {
          top:4px;
          margin:0 15px;
        }
    }
  } 
  &.text-mode {
    .thumb-nav {
      height:48px;

      li {
        line-height:14px;
        padding:15px 0;
        height:14px;
        width:auto;
      }
        img, i {display:none;}
        span {
          height:14px;
          display:block;
          overflow:hidden;
        }
        .oneLine,
        .twoLine {top:0;}
    }
  }
  &.top-nav .thumb-nav {
    i, img {display:none;}
    span {
      display:inline-block;
      margin-left:20px;
      top:6px;
    }
  }
}

.editorial-chapters-container {

  .thumb-nav {
    width:100% !important;
    overflow: hidden;

    .left-shade,
    .right-shade {
      width:10px;
      position:absolute;
      top:4px;
      bottom:0;
      left: 0;
      box-shadow: inset 5px 0 7px -5px #333;
    }

    .right-shade {
      left:auto; 
      box-shadow: inset -5px 0 7px -5px #333;
      right: 0; 
    }
  } 

}               

@media (max-width: 909px) {
  .editorial-chapters-container {
    @include compact-thumb-nav;
  }

  .editorial.textonly {

    & + .editorial-chapters-container  {
      margin: -10px 0 0;
      padding: 0 0 10px;
    }
  }
     
  .container,
  .span12 {
    & > .editorial-chapters-container.text-mode {

    }
  }

      
  // Media Left + Media Right Chapters!
  // ==================================
  .span5,
  .span6,
  .span7 {
    .editorial-chapters-container {
      &.thumb-mode {
        .thumb-nav {
          img {        
            position: relative;
            top: auto;
            bottom: auto;
            width: 90%;
            margin: 0 auto;
          }
        } // end .thumb-nav
      } // end &.thumb-mode

      &.icon-mode {
        .thumb-nav {  
          i {
            top:4px;
            margin:0 15px;
          }     
        } // end .thumb-nav
      } // end $.icon-mode
    } // end .editorial-chapters-container

  } // end spans
}

@media (max-width: 410px) {
  .span7 .editorial-chapters-container.text-mode .thumb-nav {width:300px;}
}
@media (min-width: 411px) and (max-width: 510px) {
  .span7 .editorial-chapters-container.text-mode .thumb-nav {width:370px;}
}
@media (min-width: 768px) and (max-width: 867px) {
  .span7 .editorial-chapters-container.text-mode .thumb-nav {width:370px;}
}
@media (min-width: 868px) and (max-width: 967px) {
  .span7 .editorial-chapters-container.text-mode .thumb-nav {width:470px;}
}

@media (min-width: 960px) {
  .container,
  .span12 {
    & > .editorial-chapters-container {
      .slider {width:auto !important;}
    }
  }
      
}

@media (max-width: 767px) {
  .editorial-chapters-container .box {margin-bottom:0 !important;}
}

//tablet only
@media (min-width: $tabletMin) and (max-width:$tabletMax) {
  .editorial-chapters-container .image-module {height:440px;}

}
//phone only
@media (max-width: $phoneMax) {
  .editorial-chapters-container .image-module {height:320px;}
}
