//
// Responsive: Chapters - E5
// --------------------------------------------------

// HIDES TEXT IN THUMB NAV FOR ANY CHAPTER MODULE UNDER 768 PIXELS IN ANY BROWSER WINDOW SIZE

@mixin compact-thumb-nav {
  &.thumb-mode {
    .thumb-nav {
      height:64px;

      li {
        width:auto;
        padding:8px 0;
        height:48px;

        &.active,
        &:hover {
          margin-top:-4px;
        }
      }
        img {margin:0 8px;}
        i, span {display:none;}
    }
  }
  &.top-nav.thumb-mode li {
    &.active,
    &:hover {margin-top:0;}
  }
  &.icon-mode {
    .thumb-nav {
      height:50px;

      li {
        width:auto;
        height:50px;

        &.active,
        &:hover {height:54px;}
      }
        img, span {display:none;}
        i {
          top:4px;
          margin-right:15px;
          margin-left:15px;
        }
    }
  } 
  &.text-mode {
    .thumb-nav {
      height:44px;

      li {
        line-height:14px;
        padding:15px;
        height:44px;

        &.active,
        &:hover {
          height:48px;
          margin-top:-4px;
        }
      }
        img, i {display:none;}
        span {
          height:14px;
          display:block;
          overflow:hidden;
        }
        .oneLine,
        .twoLine {top:0;}
    }
  }
}

@media (max-width: 1468px) {

  // .span7,
  // .span8 {
  //   .editorial-chapters-container{
  //     @include compact-thumb-nav;
  //   }
  // }

} // END max-width: 1468px

@media (max-width: 767px) {

  .editorial-chapters-container {
    @include compact-thumb-nav;

    &.top-nav.overlay-nav .thumb-nav {top:20px;}
    &.bottom-nav.overlay-nav .thumb-nav {bottom:20px;}
  }

  .container,
  .span12 {
    & > .editorial-chapters-container {
      .thumb-nav {
        bottom:0 !important;
        width:100%;
        left:0;
      }
      &.dark .thumb-nav {background:$gray20;}
      &.gray .thumb-nav {background:$gray80;}
      &.white .thumb-nav {background:$white;}
      &.top-nav .thumb-nav {
        bottom:auto;
        top:0;
      }
    }
  }

} // END max-width: 767px