@import "../../../common/css/_base/variables"; // Modify this for custom colors, font-sizes, etc
@import "../../../common/css/_base/mixins";

$itemWidth: 255;
$windowWidth: 1100;

// if they stack a textonly module ontop of a full module
// we need to compensate that
.editorial.textonly {

  & + .editorial-chapters-container  {
    margin: -50px 0 0;
    padding: 0 0 50px;
  }
}


// hacky fix for width issue with e1+e5 templates 
.container.submodule {
  .editorial-chapters-container {
    margin: 0;
    &.container {
      width: 100%;
    }
  }
}

.editorial-chapters-container {
  @include clearfix();

  .image-module {
    text-align:center;
    height:620px;
    @include background-size(cover);
    background: {
      position: center center;
      repeat: no-repeat;
    }
  }

  .editorial-chapters {
    position: relative;
    // design review margin: 80px 0 50px;
  }

  .editorial-carousel-wrapper {
    position: relative;
    overflow: hidden;
  }

  .editorial-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    @include flickerfix();
  }

  .editorial-carousel-slide {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    float:left;
    @include opacity(0);
    @include transition();

    &.active {
      position:absolute;
      z-index:1;
      @include opacity(100);
    }

    .container {
      width:100%;
    }

  } // end .editorial-carousel-slide

  .thumb-nav {
    position:relative;
    margin-bottom:0;
    text-align:center;
    height:68px;
    z-index:1;
    margin-top:-4px;
    overflow: hidden;

    .left-shade,
    .right-shade {
      display:none;
    }

    .slider {
      margin:0 auto;
    }

    li {
      position:relative;
      width: percentage($itemWidth/$windowWidth);
      padding:10px percentage(10/$windowWidth);
      height:48px;
      display: inline-block;
      background:$white;
      color:$gray40;
      cursor:pointer;
      text-align:left;
      line-height:16px;
      border:0;
      vertical-align:bottom;
      overflow:hidden;
      @include flickerfix();
      @include box-sizing(content-box);
      @include opacity(75);

      & + li {margin-left:-1px;}

      &.active,
      &:hover {
        border-top:4px solid $linkBlue;
        color:$gray20;
       
        background:$gray80;
        @include transition();
        @include opacity(100);
      }

      .lt-ie8 & {
        @include ie7-inline-block();
      }

    } // end li

    img {
      position: relative;
      bottom: 0;
      width: percentage(60/$itemWidth);
      max-width: 60px;
      float: left;
    }

    i {
      font-size:20px;
      margin-right:10px;
      line-height:16px;
      position:relative;
      top:9px;
      float:left;
      margin-bottom:20px;
    }

    // need to take in the fact there is an image
    .label-container {
      position: relative;
      display: table;
      height: 100%;
      width: percentage(($itemWidth - 64)/$itemWidth);
      padding-left: percentage(10/($itemWidth - 64));
      top: -4px;
      @include box-sizing(border-box);
    }

    .nav-label {
      font-size:12px;
      position:relative;
      display: table-cell;
      vertical-align: middle;
      // IE7 jank
      *float: left;
      *display: block;
      zoom: 1;
    }
  } // end .thumb-nav 

  &.top-nav .thumb-nav {
    margin-bottom:24px;
    width:auto;
    text-align:left;
    margin-top:0;

    li {
      width:auto;
      border-top:0;
      vertical-align:top;

      &.active,
      &:hover {
        border-top:0;
        border-bottom:4px solid $linkBlue;
        margin-top:0;
      }
    } // end li

    i {
      float:none;
      top:13px;
    }

  } // end &.top-nav .thumb-nav
  
  &.gray {
    background:$gray80;

    .thumb-nav li {
      background:$gray80;

      &:hover,
      &.active {
        background:$white;
      }
    }
  }
  
  &.thumb-mode .thumb-nav {
    i {
      display:none;
    }


  }
  
  &.icon-mode .thumb-nav {

    img {
      display:none;
    }

    i {
      margin-left: percentage(25/$itemWidth);
    }

    .label-container {
      width: percentage(($itemWidth - 84)/$itemWidth);
    }    

  } // end &.icon-mode .thumb-nav

  &.text-mode .thumb-nav {
    img, i {display:none;}
    span {margin:0 24px;}
  }
} // end .editorial-chapters-container



// Media Left + Media Right Chapters!
// ==================================
.span5,
.span6,
.span7 {
  .editorial-chapters-container {
    .image-module {height:auto;}
    
    $miniWindowWidth : 500;
    $miniItemWidth: 105;

    // only two tabs may exist at a certain time for the spans
    li {
      width: auto;
      /*width: percentage($miniItemWidth/$miniWindowWidth);*/
      padding:8px percentage(10/$miniWindowWidth);
      height:38px;
    }
    
    .label-container {
      /*width: percentage(130/$miniItemWidth);*/
      padding-left: percentage(10/$miniItemWidth);
      top: 0;
    }

    &.thumb-mode {
      .thumb-nav {
        height:62px;

        img {
          /*position:absolute;*/
          /*top:-5px;*/
          /*bottom:0;*/
          /*margin:auto;*/
          width: percentage(40/$miniItemWidth);
          /*max-width: 44px;*/
          /*height:auto;*/
          /*margin:0 5px;*/
        }

        .label-container {
          width: auto;
          /*position: absolute;*/
          /*left: percentage(60/$miniItemWidth);*/
        }
      }
    }

    &.icon-mode {
      .thumb-nav {
        height:62px;

        li {
          height:48px;
        }
        
        i {
          top:12px;
          margin:0 percentage(10/$miniItemWidth);
        }

        .label-container {
          width: auto;
          /*width: percentage(100/$miniItemWidth);*/
          /*padding-left: percentage(10/$miniItemWidth);*/
        }
      }
    } 

    // THIS MODE DOES NOT EXIST IN THE STYLE-GUIDE
    // optional is a text label but icon and images are mandatory
    &.text-mode {
      .thumb-nav {
        height:48px;

        li {
          line-height:14px;
          padding:15px 0;
          height:14px;
          width:auto;
        }
        img, i {display:none;}
        .nav-label {
          height:14px;
          display:block;
          overflow:hidden;
          margin:0 10px;
        }
      }
    }
    &.top-nav .thumb-nav {
      i, img {display:none;}
    }
  }
}

.lt-ie10 {
  .editorial-chapters-container {
    .editorial-carousel-slide.active {position:relative;}
    .thumb-nav.container {width:92.5%;}
    &.top-nav .thumb-nav.container {width:auto;}

    .editorial .inner {
      margin-left: 0;
    }
    
  }
}
