@import "../../../common/css/_base/variables"; // Modify this for custom colors, font-sizes, etc
@import "../../../common/css/_base/mixins";

.editorial-chapters-container {
  .editorial-chapters {
    position: relative;
  }
    .editorial-carousel-wrapper {
      position: relative;
      overflow: hidden;
    }
      .editorial-carousel {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-backface-visibility: hidden;
      }
        .editorial-carousel-slide {
          position: relative;
          width: 100%;
          height: 100%;
          float: left;
          display: block;
        }
    .thumb-nav {
      position:absolute;
      bottom:30px;
      margin-bottom:0;
      text-align:center;
      height:68px;
      left:3.75%;

      li {
        padding:10px;
        height:68px;
        display: inline-block;
        background:$white;
        color:$gray40;
        cursor:pointer;
        text-align:left;
        line-height:16px;
        border:0;
        width:25%;
        vertical-align:bottom;

        &.active,
        &:hover {
          border-top:4px solid $linkBlue;
          height:72px;
          color:$gray20;
          @include transition();

          img {@include opacity(100);}
        }

        .lt-ie8 & {
          @include ie7-inline-block();
        }
      }
          img {
            position:relative;
            display:block;  
            height:48px;
            min-width:64px;
            float:left;
            margin-right:10px;
            @include transition();
            @include opacity(90);
          }
          i {
            font-size:20px;
            margin-right:10px;
            line-height:16px;
            position:relative;
            top:13px;
            float:left;
            margin-bottom:20px;
          }
          span {
            font-size:12px;
            position:relative;
            top:-3px;

            &.oneLine {top:14px;}
            &.twoLine {top:6px;}
          }
    }
    &.gray .thumb-nav li {
      background:$gray80;
    }
    &.dark .thumb-nav li {
      background:$gray20;
      color:$white;
      color:$gray50;

      img {@include opacity(75);}

      &.active,
      &:hover {
        color:$white;
      }
    }
    &.top-nav {
      .thumb-nav {
        bottom:auto;
        top:30px;

        li {
          vertical-align:top;

          &.active,
          &:hover {
            border-top:0;
            border-bottom:4px solid $linkBlue;
          }
        }
      }
    }
    &.icon-mode .thumb-nav {
      li {padding-left:20px; padding-right:20px;}
        img {display:none;}
    }
    &.offset-nav {
      .thumb-nav {
        position:relative;
        bottom:auto;
        top:auto;
        margin-top:20px;
        left:auto;
        width:100%;
      }
      &.top-nav .thumb-nav {
        margin-top:0;
        margin-bottom:24px;
      }
      &.white .thumb-nav {background:$gray80;}
      &.gray .thumb-nav {background:$white;}
      &.dark .thumb-nav {background:$gray20;}
    }
}
.span4 .editorial-chapters-container,
.span5 .editorial-chapters-container,
.span6 .editorial-chapters-container {
  &.thumb-mode {
    .thumb-nav {
      height:84px;

      li {
        width:auto;
        padding:8px;
        height:84px;

        &.active,
        &:hover {
          height:88px;
          margin-top:-4px;
        }
      }
        img {margin-right:0;}
        i, span {display:none;}
    }
  }
  &.icon-mode {
    .thumb-nav {
      height:50px;

      li {
        width:auto;
        height:50px;
        padding-left:15px;
        padding-right:15px;

        &.active,
        &:hover {height:54px;}
      }
        img, span {display:none;}
        i {
          top:4px;
          margin-right:0;
        }
    }
  } 
  &.text-mode {
    .thumb-nav {
      height:44px;

      li {
        line-height:14px;
        padding:15px;
        height:44px;

        &.active,
        &:hover {
          height:48px;
          margin-top:-4px;
        }
      }
        img, i {display:none;}
        span {
          height:14px;
          display:block;
          overflow:hidden;
        }
        .oneLine,
        .twoLine {top:0;}
    }
  }
}