@import "../../../common/css/_base/variables"; // Modify this for custom colors, font-sizes, etc
@import "../../../common/css/_base/mixins";

.editorial-chapters-container {
  max-width:100%;
  @include clearfix();

  .image-module {
    text-align:center;
    height:620px;
  }

  .editorial-chapters {
    position: relative;
  }

  .editorial-carousel-wrapper {
    position: relative;
    overflow: hidden; // going to have to deal with it B| 
  }

  .editorial-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    @include flickerfix();
  }

  .editorial-carousel-slide {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    float:left;
    @include opacity(0);
    @include transition();

    &.active {
      position:absolute;
      z-index:1;
      @include opacity(100);
    }

    .container {
      width:100%;
    }

  } // end .editorial-carousel-slide

  .thumb-nav {
    position:relative;
    margin-bottom:0;
    text-align:center;
    height:68px;
    z-index:1;
    margin-top:-4px;
    overflow: hidden;

    .left-shade,
    .right-shade {
      display:none;
    }

    .slider {
      margin:0 auto;
    }

    li {
      padding:10px 0;
      height:48px;
      display: inline-block;
      background:$white;
      color:$gray40;
      cursor:pointer;
      text-align:left;
      line-height:16px;
      border:0;
      vertical-align:bottom;
      position:relative;
      width:25%;
      overflow:hidden;
      @include flickerfix();
      @include box-sizing(content-box);
      @include opacity(75);

      & + li {margin-left:-1px;}

      &.active,
      &:hover {
        border-top:4px solid $linkBlue;
        color:$gray20;
       
        background:$gray80;
        @include transition();
        @include opacity(100);
      }

      .lt-ie8 & {
        @include ie7-inline-block();
      }

    } // end li

    img {
      position:relative;
      display:block;  
      height:48px;
      min-width:64px;
      float:left;
      margin:0 10px;
      @include flickerfix();
      @include transition();
    }

    i {
      font-size:20px;
      margin-right:10px;
      line-height:16px;
      position:relative;
      top:9px;
      float:left;
      margin-bottom:20px;
    }

    span {
      font-size:12px;
      position:relative;
      top:-4px;
      display:block;
      margin-right:24px;

      &.oneLine {top:12px;}
      &.twoLine {top:4px;}
    }
  } // end .thumb-nav 

  &.top-nav .thumb-nav {
    margin-bottom:24px;
    width:auto;
    text-align:left;
    margin-top:0;

    li {
      width:auto;
      border-top:0;
      vertical-align:top;

      &.active,
      &:hover {
        border-top:0;
        border-bottom:4px solid $linkBlue;
        margin-top:0;
      }
    } // end li

    i {
      float:none;
      top:13px;
    }

    span {
      display:inline;
    }
  } // end &.top-nav .thumb-nav
  
  &.gray {

    .thumb-nav li {

      &:hover,
      &.active {
        background:$gray80;
      }
    }
  }
  
  &.thumb-mode .thumb-nav {
    i {
      display:none;
    }
  }
  
  &.icon-mode .thumb-nav {

    img {
      display:none;
    }

    i {
      margin: {
        left: 24px;
        right: 10px;
      }
    }

    span {
      margin-right:24px;
    }

  } // end &.icon-mode .thumb-nav

  &.text-mode .thumb-nav {
    img, i {display:none;}
    span {margin:0 24px;}
  }
}

.span5,
.span6,
.span7 {
  .editorial-chapters-container {
    .image-module {height:auto;}
    
    &.thumb-mode {
      .thumb-nav {
        height:62px;

        li {
          width:auto;
          padding:8px 0;
          height:42px;
        }
          img {
            width:55px;
            height:42px;
            margin:0 5px;
          }
          i, span {display:none;}
      }
    }
    &.icon-mode {
      .thumb-nav {
        height:54px;

        li {
          width:auto;
          height:30px;
        }
          img, span {display:none;}
          i {
            top:4px;
            margin:0 15px;
          }
      }
    } 
    &.text-mode {
      .thumb-nav {
        height:48px;

        li {
          line-height:14px;
          padding:15px 0;
          height:14px;
          width:auto;
        }
          img, i {display:none;}
          span {
            height:14px;
            display:block;
            overflow:hidden;
            margin:0 15px;
          }
          .oneLine,
          .twoLine {top:0;}
      }
    }
    &.top-nav .thumb-nav {
      i, img {display:none;}
      span {
        display:inline-block;
        margin-left:20px;
        top:6px;
      }
    }
  }
}

.lt-ie10 {
  .editorial-chapters-container {
    .editorial-carousel-slide.active {position:relative;}
    .thumb-nav.container {width:92.5%;}
    &.top-nav .thumb-nav.container {width:auto;}
  }
}
