@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$subPhoneMax: px-em(479);
$phoneMax: px-em(767);
$tabletMin: px-em(768);
$tabletMax: px-em(979);
$superDesktop: px-em(1200);

//tablet only
@media (min-width: $tabletMin) and (max-width: $tabletMax) {
  .editorial.full-inner {
    .box {
      padding: 46px 42px 40px 42px;
    }
    .box.center {
      padding: 70px 56px;
    }
  }

  .editorial.mediaright,
  .editorial.medialeft {
    .grid {
      min-height: 460px;
    }
  }

  .editorial.full-inner,
  .editorial.full-tout,
  .editorial.full {
    .submodule > .image-module {
      height: 440px;
    }
  }

  .editorial.full-tout,
  .editorial.tout {

    .m2up .horizontal .table-center-wrap,
    .m2up .vertical,
    .m3up > div {
      padding: 0 20px;
    }

    // No body copy
    .m2up .copy .hidden-phone {
      display: none !important; // override important from hidden-phone display:inherit;
    }

    .m2up .horizontal .image-module {
      width: 122px;
      height: 122px;
      margin: auto;
    }

    .m2up .horizontal > div {
      height: 122px;
    }
  }

  // The title block doesn't line up with anything when used with touts
  .editorial.tout .title-block .box {
    padding-right: 20px;
    padding-left: 20px;
  }
}

// Phone only
@media (max-width: $phoneMax) {
  .editorial {
    .no-grid-at-767{
      width: 100%;
    }
    .box {
      padding: 0 28px;
      .link {
        margin-top: 12px;
      }
    }
    .center {
      text-align: left;
    }
    .right {
      text-align: left;
    }
  }
  .editorial.textonly {
    padding: 20px 0;
  }
  .editorial.full {
    padding: 20px 0;
    .box {
      margin-bottom: 15px;
    }
  }
  .editorial.full-inner {
    .inner {
      position: relative;

      > .grid {
        width: 100%;
      }
    }

    .box {
      margin-top: 0;
      padding: 22px 28px 26px 28px;
    }

    .box.center {
      padding: 22px 28px 26px 28px;
    }
  }

  .editorial.mediaright,
  .editorial.medialeft {
    .grid {
      min-height: 0px;
    }
    .table-center-wrap {
      height: auto;
    }
    .grid {
      width: 100%;
    }
    .table-center-wrap {
      margin-top: 0;
    }
    .image-module {
      text-align: center;
    }
    .box {
      padding: 22px 28px 26px 28px;
    }
  }

  .editorial.full-inner,
  .editorial.full-tout,
  .editorial.full {
    .submodule > .image-module {
      height: 320px;
    }
  }

  .editorial.full-tout,
  .editorial.tout {
    padding: 20px 0;

    .container {
      overflow: hidden;
      padding-bottom: 2px;
    }

    .grid {
      width: 100%
    }

    // Mobile 1up
    .m1up {
      .textright,
      .textleft {
        padding: 0 28px;
      }

      .offset1{
        margin-bottom: 30px;
      }
    }

    // Mobile 2up
    .m2up {
      width: 220%;
      position: relative;

      > div {
        position: relative;
        float: left;
        width: 45%;
        margin-right: 5%;
      }

      .horizontal .image-module {
        width: 98px;
        height: 98px;
        margin: auto;
      }

      .horizontal {
        > div {
          height: 98px;
        }

        .table-center-wrap {
          padding: 0 20px;
        }
      }

      .vertical {
        padding: 0 28px;
      }
    }

    // Mobile 3up
    .m3up {
      width: 330%;
      position: relative;

      > div {
        float: left;
        position: relative;
        width: 30%;
        margin-right: 3%;
        padding: 0 28px;
      }
    }
  }


  // "Editorial modules that have a dark panel/light text at desktop view -
  // that panel should go to a tone with dark text in mobile view"
  .editorial .light-text-dark-box {

    h1, h2, h3, h4, h5, h6 {
      color: $gray20;
    }
    p {
      color: $gray40;
    }

    .box {
      background: $gray80;
    }
  }
}

//bottom end
@media (max-width: $subPhoneMax) {
  .editorial.full-inner,
  .editorial.full-tout,
  .editorial.full {
    .submodule > .image-module {
      height: 220px;
    }
  }
}

//top end
@media (min-width: $superDesktop) {
  .editorial.full-inner,
  .editorial.full-tout,
  .editorial.full {
    .submodule > .image-module {
      height: 620px;
    }
  }
}
