@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$phoneMax: px-em(767);
$tabletMin: px-em(768);
$tabletMax: px-em(979);

@media (min-width: $tabletMin) and (max-width:$tabletMax) {
  
}
@media (max-width: $phoneMax) {
  
}