@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.editorial{
  @include dttb;
    
  &.gray{
    background: $gray80;
  }
  
  position:relative;
  
  .left{
    text-align:left;
  }
  .center{
    text-align:center;
  }
  .right{
    text-align:right;
  }
  .box{
    padding:0 52px;
  }
}

.editorial.textonly{
  padding:70px 0 75px 0;
}
.editorial.full{
  padding:70px 0 75px 0;
  .box{
    margin-bottom:25px;
  }
  .image-module{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.editorial.full-inner{
  .inner{
    height:100%;
    position:absolute;
    top:0;
    right:0;
    left:0;
    .grid,
    .grid > div,
    .table-center-wrap{
      height:100%;
    }
  }
  .box{
    margin-top:-1%;
    padding:56px 52px 50px 52px;
  }
  .box.center{
    padding: 70px 140px;
  }
  .image-module{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.editorial.mediaright,
.editorial.medialeft{
  padding:0;
  .box{
    padding:70px 52px 70px 52px;
  }
  .grid,
  .grid > div,
  .table-center-wrap{ 
    min-height:560px;
    height:100%;
  }
  .media-element > div{
    margin: 0 auto;
  }
  .table-center-wrap{
    margin-top: -1%;
  }
}

.editorial.tout{
  padding: 52px 0 50px 0;
  .m1up{
    .textright{
      padding-right:52px;
    }
    .textleft{
      padding-left:20px;
    }
  }
  .m2up{
    .horizontal {
      background: $white;
      >div{
        height: 162px;
        float:left;
      }
      .image-module{
          width: 162px;
          height: 162px;
        }
      .table-center-wrap{
        padding: 0 40px;
      }
    }
    .vertical{
      padding: 0 52px;
    }
  }
  .m3up{
    >div{
      padding: 0 52px;
    }
  }
  .image-module{
    text-align:center;
  }
  .table-center-wrap{
    height:100%;
  }
}
