$outerStroke: 5px;
$innerDiameter: 71.428571428571%; /* 40px */
$centerRatio: (28.571428571429% / 2);
$indicatorRatio: 35%; /* 14px / 40px = 35% */
$indicatorOffset: 15%;
$indicatorRotateSpeed: .25s;
$transitionSpeed: 1.5s;

@media (min-width: px-em(768px)) and (max-width: px-em(979px)) {
  .editorial {
    .submodule {
      .hspot-underlay {
  
      }
      .variant1 {
        .middle {
          .t6 {
            @include px-em--font-size--line-height(18,26);
            margin-bottom: 8px; 
          }
          .p3 {
            @include px-em--font-size--line-height(13,20);
          }
        }
      }
      .variant2 {
        .middle {
          .t7 {
            @include px-em--font-size--line-height(15,22);
            margin-bottom: 6px;
          }
          .p4 {
            @include px-em--font-size--line-height(12,18);
          }
        }
      } 
    } 
  }
}

$transitionSpeed: 0.5s;

@media ( max-width: px-em(767px) ) {


  .editorial {
    .submodule, .image-module {    
      .arrow-right, .arrow-left {
        display: none;
      }
    }
    .hspot-small {
      .arrow-right, .arrow-left {
        display: none;
      }
    }
  }


  body {
    .hspot-underlay {
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(255, 255, 255) transparent;
      background-color: rgba(255, 255, 255, 0);
      -o-transition:$transitionSpeed;
      -ms-transition:$transitionSpeed;
      -moz-transition:$transitionSpeed;
      -webkit-transition:$transitionSpeed; 
      transition:$transitionSpeed;
      opacity: 0;
    }
    .hspot-underlay-on {
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(255, 255, 255) transparent;
      background-color: rgba(255, 255, 255, 0.3);
      -o-transition:$transitionSpeed;
      -ms-transition:$transitionSpeed;
      -moz-transition:$transitionSpeed;
      -webkit-transition:$transitionSpeed; 
      transition:$transitionSpeed;	
      opacity: 1;
    }
  }
  
  .editorial {
    .submodule, .hotspot-instance {
      /* SMALL HOTSPOTS */
      .hspot-outer {
        position: absolute;
        top: 0;
        left: -15px;
        margin-top: -20px;
        width: 42px;
        height: 42px;
        background: url('../../img/editorial-dual-viewer-e9/gray30.png');
        cursor: pointer;
        z-index: auto;
        color: #fff;
        @include border-radius(50%);
        @include transition(.1s);
        
        .hspot-core {
          position: absolute;
          display: block;
          margin: -32px 0 0 -32px;
          top: 50%;
          left: 50%;
          width: 64px;
          height: 64px;
          background: $buttonOrange;
          text-align: center;
          font-size: 2.0em;
          @include border-radius(50%);
          @include transition(.1s ease-out);
          @include scale(0.5);
          
          .icons {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100px;
            margin: -30px 0 0 -50px;
            
            i {
              display: inline-block;
              margin: 0;
              -webkit-font-smoothing: antialiased;
              @include rotate(0deg);
              @include transition(.1s ease-out);
              &.fonticon-10-plus-skinny {
                display: none;
              }
              &.fonticon-10-sm-bold-plus, &.fonticon-10-plus-sm {
                display: inline-block;
              }
            }
          }
          &.hspot-hover-on {
            @include scale(0.55);
            background: $buttonOrangeHover;
            
            i {
              margin:0 3px;
            }
          }
        }
        
        .hspot-core-on {
          position: absolute;
          display:block;
          width: 64px;
          height: 64px;
          top:50%;
          left:50%;
          margin: -32px 0 0 -32px;
          background:$gray30;
          text-align:center;
          font-size:2.0em;
          @include border-radius(50%);
          @include transition(.1s ease-out);
          @include scale(0.5);
          
          .icons {
            position:absolute;
            top:50%;
            left:50%;
            width:100px;
            margin: -30px 0 0 -50px;
            
            i {
              display:inline-block;
              margin:0;
              -webkit-font-smoothing: antialiased;
              @include rotate(45deg);
              @include transition(.1s ease-out);
              &.fonticon-10-plus-skinny {
                display: none;
              }
              &.fonticon-10-sm-bold-plus, &.fonticon-10-plus-sm {
                display: inline-block;
              }
            }
          }
          &.hspot-hover-on {
            @include scale(0.55);
            background:$gray40;
            
            i {
              margin:0 3px;
            }
          }
        }
      }
    }
  }
}
