$outerStroke: 5px;
$innerDiameter: 71.428571428571%; /* 40px */
$centerRatio: (28.571428571429% / 2);
$indicatorRatio: 35%; /* 14px / 40px = 35% */
$indicatorOffset: 15%;
$indicatorRotateSpeed: .25s;
$transitionSpeed: 1.5s;


@media (min-width: px-em(768px)) and (max-width: px-em(979px)) {
  .editorial-chapters-container,
  .editorial {
    .submodule {
      .hspot-underlay {

      }
      .variant1 {
        .middle {
          .t6 {
            @include px-em--font-size--line-height(18,26);
            margin-bottom: 8px;
          }
          .p3 {
            @include px-em--font-size--line-height(13,20);
          }
        }
      }
      .variant2 {
        .middle {
          .t7 {
            @include px-em--font-size--line-height(15,22);
            margin-bottom: 6px;
          }
          .p4 {
            @include px-em--font-size--line-height(12,18);
          }
        }
      }
    }
  }
}

$transitionSpeed: 0.5s;

@media ( min-width: px-em(568px) ) and ( max-width: px-em(767px) ) {

  /*GLOBAL OVERLAY*/
  .editorial-chapters-container,
  .editorial {
    .hotspot-modal {
      z-index: $zindexModal;

      .modal-body, .modal-inner {
        background-color: transparent;
        box-shadow: 0px 0px 0px transparent;
        -moz-box-shadow: 0px 0px 0px transparent;
        -webkit-box-shadow: 0px 0px 0px transparent;
        box-shadow: 0px 0px 0px transparent;
      }
      .overlay-inner {
        margin: 0px auto;
        width: 280px;
        background-color: #fff;

        .overlay-close {
          position: relative;
          width: 280px;
          -moz-box-shadow: 0 0 30px rgba(39, 43, 55, 0.15);
          -webkit-box-shadow: 0 0 30px rgba(39, 43, 55, 0.15);
          box-shadow: 0 0 30px rgba(39, 43, 55, 0.15);
          margin-top: 1em;
          text-align: left;

          .top {
            background-color: #fff;
          }

          .middle {
            background-color: #fff;
            padding: 30px 40px 29px 30px;
            border-bottom: 1px solid #e4e7eb;
            position: relative;

            p.p4, p.p3 {
              margin-bottom: 7px;
              &.cHBC {
                margin-bottom: 0;
              }
            }
          }

          .footer {
            background-color: #fff;
            padding: 18px 40px 0px 30px;
            height: 107px;

            p.p4, p.p3 {
              font-style: italic;
              color: $secondarySlateDark;
              margin-bottom: 8px;
            }

            blockquote.l4, blockquote.l3 {
              color: $gray40;
              position: relative;
              margin-left: 24px;

              &:before {
                display: block;
                content: "\201C";
                font-size: 40px;
                font-family: Georgia;
                position: absolute;
                left: -24px;
                top: -13px;
                color: $secondarySlateDark;
              }
            }
          }
          .hspot-close, .box-close {
            position: absolute;
            top: 0px;
            right: 0px;
          }
        }
      }
    }
  }


}

@media ( max-width: px-em(567px) ) {
  .editorial-chapters-container,
  .editorial {
    .no-grid-at-767.modal, .no-grid-at-767 .modal {
      left: 0px;
      right: 0px;
    }
    .hotspot-modal {
      background: white;
      width: 100%;
      min-height: 100%;
      height: 100%;
      max-height: 100%;
      margin: 0;
      overflow-x: hidden;
      overflow-y: auto;
      .container {
        margin: 0px;
        padding: 0px;
        width: 100%;
        .modal-inner {
          width: 100%;
          .modal-body {
            padding: 0px;
            .overlay-inner {
              padding: 0px;
              margin: 0px;
              width: 100%;
              .overlay-close {
                width: 100%;
                height: 100%;
                margin: 0px;
                .top {
                  width: 100%;
                  padding-left:0px; 
                  padding-right:0px; 
                  img {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media ( max-width: px-em(767px) ) {

  .editorial-chapters-container,
  .editorial {
    .submodule, .image-module {
      .arrow-right, .arrow-left {
        display: none;
      }
    }
    .hspot-small {
      .arrow-right, .arrow-left {
        display: none;
      }
    }
  }

  .editorial-chapters-container,
  .editorial {
    .submodule, .hotspot-instance {
      /* SMALL HOTSPOTS */
      .hspot-outer {
        position: absolute;
        top: 0;
        left: -15px;
        margin-top: -20px;
        width: 42px;
        height: 42px;
        cursor: pointer;
        z-index: auto;
        color: #fff;
        @include border-radius(50%);
        @include transition(.1s);

        .hspot-core {
          position: absolute;
          display: block;
          margin: -32px 0 0 -32px;
          top: 50%;
          left: 50%;
          width: 64px;
          height: 64px;
          background: $buttonOrange;
          text-align: center;
          font-size: 2.0em;
          @include border-radius(50%);
          @include transition(.1s ease-out);
          @include scale(0.5);

          .icons {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100px;
            margin: -30px 0 0 -50px;

            i {
              display: inline-block;
              margin: 0;
              -webkit-font-smoothing: antialiased;
              @include rotate(0deg);
              @include transition(.1s ease-out);
              &.fonticon-10-plus-skinny {
                display: none;
              }
              &.fonticon-10-sm-bold-plus, &.fonticon-10-plus-sm {
                display: inline-block;
              }
            }
          }
          &.hspot-hover-on {
            @include scale(0.55);
            background: $buttonOrangeHover;

            i {
              margin:0 3px;
            }
          }
        }

        .hspot-core-on {
          position: absolute;
          display:block;
          width: 64px;
          height: 64px;
          top:50%;
          left:50%;
          margin: -32px 0 0 -32px;
          background:$gray30;
          text-align:center;
          font-size:2.0em;
          @include border-radius(50%);
          @include transition(.1s ease-out);
          @include scale(0.5);

          .icons {
            position:absolute;
            top:50%;
            left:50%;
            width:100px;
            margin: -30px 0 0 -50px;

            i {
              display:inline-block;
              margin:0;
              -webkit-font-smoothing: antialiased;
              @include rotate(45deg);
              @include transition(.1s ease-out);
              &.fonticon-10-plus-skinny {
                display: none;
              }
              &.fonticon-10-sm-bold-plus, &.fonticon-10-plus-sm {
                display: inline-block;
              }
            }
          }
          &.hspot-hover-on {
            @include scale(0.55);
            background:$gray40;

            i {
              margin:0 3px;
            }
          }
        }
      }
    }
  }
}
