@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$outerStroke: 8px;
$innerDiameter: 40px; /* 71.428571428571%; */ /* 40px */
$centerRatio: (28.571428571429% / 2);
$indicatorRatio: 14px; /* 35%; */ /* 14px / 40px = 35% */
$indicatorOffset: 15%;
$indicatorRotateSpeed: .25s;
$transitionSpeed: 0.5s; 

/*MIXINZ*/
@mixin ehsTransition() {
  -o-transition:$transitionSpeed;
  -ms-transition:$transitionSpeed;
  -moz-transition:$transitionSpeed;
  -webkit-transition:$transitionSpeed; 
  transition:$transitionSpeed;	
}

@mixin ehsTransition-ltie8() {
  -ms-transition: 0s;
  transition: 0s;	
}

@mixing noflicker() {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

/*PATCH TO FIX ZINDEX ISSUE ON FULL-WIDTH-INNER*/
.editorial.full-inner .inner { 
  z-index: 0;
}

.editorial {
  .submodule, .image-module {  
    
    .arrow-right {
    	width: 0; 
    	height: 0; 
    	border-top: 10px solid transparent;
    	border-bottom: 10px solid transparent;
    	border-left: 10px solid #fff;
    }
    
    .arrow-left {
    	width: 0; 
    	height: 0; 
    	border-top: 10px solid transparent;
    	border-bottom: 10px solid transparent; 	
    	border-right: 10px solid #fff;
    } 
  }
  .hspot-small {
    .arrow-right {
    	width: 0; 
    	height: 0; 
    	border-top: 8px solid transparent;
    	border-bottom: 8px solid transparent;
    	border-left: 8px solid #fff;
    }
    
    .arrow-left {
    	width: 0; 
    	height: 0; 
    	border-top: 8px solid transparent;
    	border-bottom: 8px solid transparent; 	
    	border-right: 8px solid #fff; 
    }
  }
}

.editorial {
  .table-center-wrap .table-center, .submodule {
    .image-module {
      position: relative;
      @include noflicker();
      
      .eh-transparent {
        @include ehsTransition();
        opacity: 0;
      }
      
      .eh-visible {
        @include ehsTransition();
        opacity: 1;
      } 
    } 
  }
}

/*GLOBAL OVERLAY*/
.hspot-global-details-main {
  .overlay-inner {
    margin: 0px auto; 
    width: 280px;
    background-color: #fff;
    
    .overlay-close {
      position: relative;
      width: 280px;
      -moz-box-shadow: 0 0 30px rgba(39, 43, 55, 0.15);
      -webkit-box-shadow: 0 0 30px rgba(39, 43, 55, 0.15);
      box-shadow: 0 0 30px rgba(39, 43, 55, 0.15);
      margin-top: 1em;
      
      .top {
        background-color: #fff;
      }
      
      .middle {
        background-color: #fff;
        padding: 30px 40px 29px 30px;
        border-bottom: 1px solid #e4e7eb;
        position: relative;
        
        p.p4, p.p3 {
          margin-bottom: 7px;
          &.cHBC {
            margin-bottom: 0;
          }
        }
      }
      
      .footer {
        background-color: #fff;
        padding: 18px 40px 0px 30px;
        height: 107px;
        
        p.p4, p.p3 {
          font-style: italic;
          color: $secondarySlateDark;
          margin-bottom: 8px;
        }
        
        blockquote.l4, blockquote.l3 {
          color: $gray40;
          position: relative;
          margin-left: 24px;
          
          &:before { 
            display: block;
            content: "\201C";
            font-size: 40px;
            font-family: Georgia;
            position: absolute;
            left: -24px;
            top: -13px;
            color: $secondarySlateDark;
          }
        }
      }
      .hspot-close {
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }
  }
}

/* UTILS */
.editorial {
  .submodule, .hotspot-instance {
    position: relative;
    
    .hspot-outer.info-jump-to-top {
      z-index: 4; 
    }
    
    .overlay-close {
      position: relative;
    }
    
    .hspot-global-details-overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: transparent;
      z-index: 6;
  
      .overlay-inner {
        margin: 0px auto;
        width: 230px;
        background-color: #fff;
        
        .overlay-close {
          position: relative;
          width: 230px;
          -moz-box-shadow: 0 0 30px rgba(39, 43, 55, 0.15);
          -webkit-box-shadow: 0 0 30px rgba(39, 43, 55, 0.15);
          box-shadow: 0 0 30px rgba(39, 43, 55, 0.15);
          margin-top: 27px;
          
          .top {
            background-color: #fff;
          }
          
          .middle {
            background-color: #fff;
            padding: 20px 30px 23px 20px;
            border-bottom: 1px solid #e4e7eb;
            position: relative;
            
            .p4, .p3 {
              @include px-em--font-size--line-height(12,18);
              margin-bottom: 4px;
              
              &.cHBI {
                margin-bottom: 0;
              }
            }
          }
          .footer {
            background-color: #fff;
            padding: 20px 30px 20px 20px;
            
            p.p4, p.p3 {
              @include px-em--font-size--line-height(12,18);
              font-style: italic;
              color: $secondarySlateDark;
              margin-bottom: 9px;
            }
            
            blockquote.l4, blockquote.l3 {
              color: $gray40;
              position: relative;
              margin-left: 24px;
              @include px-em--font-size--line-height(10,16);
              
              &:before {
                display: block;
                content: "\201C";
                font-size: 40px;
                font-family: Georgia;
                position: absolute;
                left: -24px;
                top: -13px;
                color: $secondarySlateDark;
              }
            }
          }
          .hspot-close {
            position: absolute;
            top: 0px;
            right: 0px;
          }
        }
      }
    }
    
    .variant1, .variant2 {
      -o-transition:0s;
      -ms-transition:0s;
      -moz-transition:0s;
      -webkit-transition:0s;
      transition:0s;
    }
  }
}
/*CONTAINER DEFINITIONS*/

.editorial {
  /* FULL-WIDTH-HEADER-LEFT */
  &.full-bleed-header-left{
    .submodule {
      position: relative;
    }
  }
}



/* HOTSPOT DEFINITION */
.editorial { 
  .submodule, .hotspot-instance {
    /* LARGE HOTSPOTS */
    .hspot-outer {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      margin-top: -43px;
      left: -30px;
      width: 50px;
      height: 50px;
      background: url('../../img/editorial-dual-viewer-e9/gray30.png');
      cursor: pointer;
      color: #fff;
      @include border-radius(50%);
      @include transition(.1s);
      
      .arrow-right,
      .arrow-left, {
        position: absolute;
        z-index: 4;
      }
      
      .arrow-right {
        top: 16px;
        left: -7px;
      }        
      .arrow-left {
        top: 16px;
        left: 47px;
      }

      .hspot-core {
        position: absolute;
        display: block;
        z-index: 2;
        top: 50%;
        left: 50%;
        margin: -40px 0 0 -40px;
        width: 80px;
        height: 80px;
        background: $buttonOrange;
        text-align: center;
        font-size: 2em;
        @include scale(0.5);
        @include border-radius(50%);
        @include transition(.1s ease-out);        
        
        .icons {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100px;
          margin: -30px 0 0 -50px;
          
          i {
            display:inline-block;
            margin:0;
            -webkit-font-smoothing: antialiased;
            @include rotate(0deg);
            @include transition(.1s ease-out);
            
            &.fonticon-10-plus-skinny {
              display: inline-block;
            }
            
            &.fonticon-10-sm-bold-plus, &.fonticon-10-plus-sm {
              display: none;
            }
          }
        }
        &.hspot-hover-on {
          @include scale(0.55);
          background:$buttonOrangeHover;
          i {
            margin:0 3px;
          }
        }
      }
      
      .hspot-core-on {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin: -40px 0 0 -40px;
        width: 80px;
        height: 80px;
        background: $gray30;
        text-align: center;
        font-size: 2em;
        @include scale(0.5);
        @include border-radius(50%);
        @include transition(.1s ease-out);
        
        .icons {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100px;
          margin: -30px 0 0 -50px;
          
          i {
            display:inline-block;
            margin:0;
            -webkit-font-smoothing: antialiased;
            @include rotate(45deg);
            @include transition(.1s ease-out);
            
            &.fonticon-10-plus-skinny {
              display: inline-block;
            }
            
            &.fonticon-10-sm-bold-plus, &.fonticon-10-plus-sm {
              display: none;
            }
          }
        }
        &.hspot-hover-on {
          @include scale(0.55);
          background:$gray40;
          i {
            margin:0 3px;
          }
        }
      }
    }
    
    /* SMALL HOTSPOTS */
    .hspot-outer.hspot-small {
      position: absolute;
      z-index: auto;
      top: 0;
      left: 0;
      margin-top: -20px;
      left: -15px;
      width: 42px;
      height: 42px;
      background: url('../../img/editorial-dual-viewer-e9/gray30.png');
      cursor: pointer;
      color: #fff;
      @include border-radius(50%);
      @include transition(.1s);
      
      .arrow-right,
      .arrow-left, {
        position: absolute;
        z-index: 4;
      }
      
      .arrow-right {
        top: 13px;
        left: -8px;
      }        
      .arrow-left {
        top: 13px;
        left: 40px;
      }
      
      .hspot-core {
        position: absolute;
        display: block;
        z-index: 2;
        margin: -32px 0 0 -32px;
        top: 50%;
        left: 50%;
        width: 64px;
        height: 64px;
        background: $buttonOrange;
        text-align: center;
        font-size: 2.0em;
        @include scale(0.5);
        @include border-radius(50%);
        @include transition(.1s ease-out);
        
        .icons {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100px;
          margin: -30px 0 0 -50px;
          
          i {
            display: inline-block;
            margin: 0;
            -webkit-font-smoothing: antialiased;
            @include rotate(0deg);
            @include transition(.1s ease-out);
          }
        }
        &.hspot-hover-on {
          @include scale(0.55);
          background: $buttonOrangeHover;
          
          i {
            margin:0 3px;
          }
        }
      }
      
      .hspot-core-on {
        position: absolute;
        display:block; 
        margin: -32px 0 0 -32px;
        top:50%;
        left:50%;
        width: 64px;
        height: 64px;
        background:$gray30;
        text-align:center;
        font-size:2.0em;
        @include scale(0.5);
        @include border-radius(50%);
        @include transition(.1s ease-out);
        
        .icons {
          position:absolute;
          margin: -30px 0 0 -50px;
          top:50%;
          left:50%;
          width:100px;

          i {
            display:inline-block;
            margin:0;
            -webkit-font-smoothing: antialiased;
            @include rotate(45deg);
            @include transition(.1s ease-out);
          }
        }
        &.hspot-hover-on {
          @include scale(0.55);
          background:$gray40;
          
          i {
            margin:0 3px;
          }
        }
      }
    } 
  }
}

/* DETAILS WINDOW */

.overlay-base {
  position: absolute;
  z-index: 3;
  text-align: left;
  cursor: default;
    
  .overlay-inner {
    height: 100%;
    background-color: #fff;
    -moz-box-shadow: 0 0 30px rgba(39, 43, 55, 0.15);
    -webkit-box-shadow: 0 0 30px rgba(39, 43, 55, 0.15);
    box-shadow: 0 0 30px rgba(39, 43, 55, 0.15);
  }

  &.variant1.to-left {
    left: -287px;
  }
  
  &.variant1.to-right {
    left: 57px;
  }
  
  &.variant1 { 
    width: 280px;
    
    .top {
      background-color: #fff;
    }
    
    .middle {
      position: relative;
      padding: 30px 40px 29px 30px;
      border-bottom: 1px solid #e4e7eb;
      background-color: #fff;
      
      .p3 {
        margin-bottom: 7px;
        
        &.cHBC {
          margin-bottom: 0;
        }
      }
    }
    
    .footer {
      padding: 18px 40px 0px 30px;
      height: 107px;
      background-color: #fff;
      .p3 {
        margin-bottom: 8px;
        font-style: italic;
        color: $secondarySlateDark;
      }
      blockquote.l4 {
        position: relative;
        margin-left: 24px;
        color: $gray40;
        &:before {
          position: absolute;
          display: block;
          left: -24px;
          top: -13px;
          content: "\201C";
          font-size: 40px;
          font-family: Georgia;
          color: $secondarySlateDark;
        }
      }
    }
  }
  
  &.variant2.to-left {
    left: -238px;
  }
  
  &.variant2.to-right {
    left: 48px;
  }
  
  &.variant2 { 
    width: 230px;
    /* default right-top justified */
    top: -124px;
    left: 60px;
    .top {
      background-color: #fff;
    }
    .middle {
      background-color: #fff;
      padding: 20px 29px 23px 20px;
      border-bottom: 1px solid #e4e7eb;
      position: relative;
      .p4 {
        margin-bottom: 4px;
        &.cHBI {
          margin-bottom: 0;
        }
      }
      .arrow-left-top {
        position: absolute;
        top: 24px;
        left: -7px;
      }
      .arrow-right-top {
        position: absolute;
        top: 24px;
        right: -8px;
      }
      .arrow-left-bottom {
        position: absolute;
        /* bottom: 36px; */
        top: 138px;
        left: -7px;
      }
      .arrow-right-bottom {
        position: absolute;
        /* bottom: 36px; */
        top: 138px;
        right: -7px;
      }
    }
    .footer {
      background-color: #fff;
      padding: 20px 30px 0px 20px;
      height: 100px;
      p.p4 {
        font-style: italic;
        color: $secondarySlateDark;
        margin-bottom: 5px;
      }
      blockquote.l4 {
        color: $gray40;
        position: relative;
        margin-left: 24px;
        &:before {
          display: block;
          content: "\201C";
          font-size: 40px;
          font-family: Georgia;
          position: absolute;
          left: -24px;
          top: -13px;
          color: $secondarySlateDark;
        }
      }
    }
  }
}  

/** IE **/

.no-borderradius {
  .editorial {
    .table-center-wrap .table-center, .submodule {
      .image-module {
        .eh-transparent {
          @include ehsTransition-ltie8();
          opacity: 0;
        }
        .eh-visible {
          @include ehsTransition-ltie8();
          opacity: 1;
        } 
      } 
    }
    .submodule .hspot-outer, .image-module .hspot-outer {
      background: url('../../img/editorial-hotspots-e6/hotspot-fallback.png');
    }
    .image-module .hspot-outer.hspot-small {
      background: url('../../img/editorial-hotspots-e6/hotspot-fallback-small.png');
    }
    .submodule .hspot-outer.ie-on, .image-module .hspot-outer.ie-on {
      background-position: -50px 0;
    }
    .image-module .hspot-outer.hspot-small.ie-on {
      background-position: -42px 0;
    }
    .submodule .hspot-outer, .image-module .hspot-outer, .image-module .hspot-outer.hspot-small {
      .hspot-core, .hspot-core-on {
        background: transparent;
        .icons {
          visibility: hidden;  
        }
      }
    }
  }
}

// IE7
.lt-ie8 {
  .editorial {
    .submodule .hspot-outer {
      padding:0;
    }
  }
}