@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$outerStroke: 8px;
$innerDiameter: 71.428571428571%; /* 40px */
$centerRatio: (28.571428571429% / 2);
$indicatorRatio: 35%; /* 14px / 40px = 35% */
$indicatorOffset: 15%;
$indicatorRotateSpeed: .25s;
$transitionSpeed: .5s;

/*MIXINZ*/
@mixin ehsTransition() {
  -o-transition:$transitionSpeed;
  -ms-transition:$transitionSpeed;
  -moz-transition:$transitionSpeed;
  -webkit-transition:$transitionSpeed;
  transition:$transitionSpeed;	
}

/*UTILS*/
.ehs {
  .info-jump-to-top {
    z-index: 99;
  }
  
  .eh-transparent {
    @include ehsTransition();
    opacity: 0;
  }
  
  .eh-visible {
    @include ehsTransition();
    opacity: 1;    
  }
}
/*CONTAINER DEFINITIONS*/

.ehs {
  /* FULL-WIDTH-HEADER-LEFT */
  &.full-bleed-header-left{
    .hotspot-instance {
      position: relative;
    }
  }
}



/*HOTSPOT DEFINITION*/

.hspot-outer {
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 56px;
  cursor: pointer;
  .hspot-core {
    margin: $centerRatio;
    height: $innerDiameter;
    width: $innerDiameter;
    border-radius: 50%;
    border: 0;
    background-color: $buttonOrange;
    -moz-box-shadow: 0 0 0 $outerStroke rgba($gray30, 0.3);
    -webkit-box-shadow: 0 0 0 $outerStroke rgba($gray30, 0.3);
    box-shadow: 0 0 0 $outerStroke rgba($gray30, 0.3);
    -o-transition:$indicatorRotateSpeed;
    -ms-transition:$indicatorRotateSpeed;
    -moz-transition:$indicatorRotateSpeed;
    -webkit-transition:$indicatorRotateSpeed;
    transition:$indicatorRotateSpeed;
    z-index: 1;
    &:hover {
      background-color: $buttonOrangeHover;
    }
    .hspot-indicator {
      padding: 12.5% 0 0 33.5%;
      img {
        -o-transition:$indicatorRotateSpeed;
        -ms-transition:$indicatorRotateSpeed;
        -moz-transition:$indicatorRotateSpeed;
        -webkit-transition:$indicatorRotateSpeed;
        transition:$indicatorRotateSpeed;
        @include rotate(0deg);
      }
    }
  }
  .hspot-core-on {
    margin: $centerRatio;
    height: $innerDiameter;
    width: $innerDiameter;
    border-radius: 50%;
    border: 0;
    background-color: $gray40;
    -moz-box-shadow: 0 0 0 $outerStroke rgba($gray30, 0.3);
    -webkit-box-shadow: 0 0 0 $outerStroke rgba($gray30, 0.3);
    box-shadow: 0 0 0 $outerStroke rgba($gray30, 0.3);
    -o-transition: $indicatorRotateSpeed;
    -ms-transition: $indicatorRotateSpeed;
    -moz-transition: $indicatorRotateSpeed;
    -webkit-transition: $indicatorRotateSpeed;
    transition: $indicatorRotateSpeed;
    z-index: 1;
    &:hover {
      background-color: $gray30;
    }
    .hspot-indicator {
      padding: 12.5% 0 0 33.5%;
      img {
        -o-transition: $indicatorRotateSpeed;
        -ms-transition: $indicatorRotateSpeed;
        -moz-transition: $indicatorRotateSpeed;
        -webkit-transition: $indicatorRotateSpeed;
        transition: $indicatorRotateSpeed;
        @include rotate(45deg);
      }
    }
  }
}

/*DETAILS WINDOW*/

.overlay-base {
  background-color: #fff;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 2;
  /* default right justified, left top arrow showing */
  position: absolute;
  top: -159px;
  left: 63px;
  
  &.variant1 { 
    width: 280px;
    max-height: 454px;
    .top {
      
    }
    .middle {
      padding: 30px 40px 29px 30px;
      border-bottom: 1px solid #e4e7eb;
      position: relative;
      .p3 {
        &.cHBC {
          margin-bottom: 0;
        }
      }
      .arrow-left-top {
        position: absolute;
        top: 27px;
        left: -10px;
        width: 10px;
        height: 22px;
      }
      .arrow-right-top {
        position: absolute;
        top: 27px;
        right: -10px;
        width: 10px;
        height: 22px;
      }
      .arrow-left-bottom {
        position: absolute;
        bottom: 44px;
        left: -10px;
        width: 10px;
        height: 22px;
      }
      .arrow-right-bottom {
        position: absolute;
        bottom: 44px;
        right: -10px;
        width: 10px;
        height: 22px;
      }
      
    }
    .footer {
      padding: 18px 40px 32px 30px;
      .p3 {
        font-style: italic;
        color: $secondarySlateDark;
        margin-bottom: 5px;
      }
      blockquote.l4 {
        color: $gray40;
        position: relative;
        margin-left: 24px;
        &:before {
          display: block;
          content: "\201C";
          font-size: 40px;
          font-family: Georgia;
          position: absolute;
          left: -24px;
          top: -13px;
          color: $secondarySlateDark;
        }
      }
    }
  }
  &.variant2 { 
    width: 230px;
    max-height: 398px;
    .top {}
    .middle {
      padding: 20px 30px 23px 20px;
      border-bottom: 1px solid #e4e7eb;
      position: relative;
      .p4 {
        &.cHBI {
          margin-bottom: 0;
        }
      }
      .arrow-left-top {
        position: absolute;
        top: 18px;
        left: -8px;
        width: 8px;
        height: 18px;
      }
      .arrow-right-top {
        position: absolute;
        top: 18px;
        right: -8px;
        width: 8px;
        height: 18px; 
      }
      .arrow-left-bottom {
        position: absolute;
        bottom: 36px;
        left: -8px;
        width: 8px;
        height: 18px;
      }
      .arrow-right-bottom {
        position: absolute;
        bottom: 36px;
        right: -8px;
        width: 8px;
        height: 18px;
      }
    }
    .footer {
      padding: 20px 30px 30px 20px;
      p.p4 {
        font-style: italic;
        color: $secondarySlateDark;
        margin-bottom: 5px;
      }
      blockquote.l4 {
        color: $gray40;
        position: relative;
        margin-left: 24px;
        &:before {
          display: block;
          content: "\201C";
          font-size: 40px;
          font-family: Georgia;
          position: absolute;
          left: -24px;
          top: -13px;
          color: $secondarySlateDark;
        }
      }
    }
  }
}  








/********* DEMO STUFFS **************/

/*DETAILS WINDOW EXAMPLE CONTAINER*/
.overlay-container-example {
  width: 1112px;  
  height: 560px;
  background-image: url('../../img/editorial-hotspots-e6/editorial-hotspots-bg-fpo.jpg');
  padding-top: 65px;
  .overlay-base {
    margin: 0px auto;
  }
}


/*EXAMPLE CONTAINER*/

.hotspot-container-example {
  width: 600px;
  height: 400px;
  border: 1px solid #888;
  position: relative;
}

















