@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

@media (min-width: 87.5em) {

  .editorial-slidshow-container {

    .pagination-paddles button.pagination-next {
      margin-right: -39.45em;
    }

    .pagination-paddles button.pagination-prev {
      margin-left: -39.45em;
    }
  }
}


@media (max-width: px-em(767)) {
  .editorial-slidshow-container {
    // height: 420px;

    .pagination-paddles button.pagination-next {
      right: 2%;
      margin-right: 0;
    }

    .pagination-paddles button.pagination-prev {
      left: 2%;
      margin-left: 0;
    }

  }
}
