@import "../../../common/css/_base/variables"; // Modify this for custom colors, font-sizes, etc
@import "../../../common/css/_base/mixins";

.editorial-slidshow-container {

  @media (min-width: 87.5em) {
    /* line 12, ../../../src/packages/common/css/_responsive/_responsive-1400px-min.scss */
    .pagination-paddles button.pagination-next {
      right: 50%;
      margin-right: -39.45em;
    }
    /* line 17, ../../../src/packages/common/css/_responsive/_responsive-1400px-min.scss */
    .pagination-paddles button.pagination-prev {
      left: 50%;
      margin-left: -39.45em;
    }
  }

}