@media (min-width: 87.5em) {
  .editorial-slidshow-container {
    .editorial-slideshow {
      .pagination-paddles {
        button.pagination-next {
          right: 50%;
          margin-right: -624px;
        }
        button.pagination-prev {
            left: 50%;
            margin-left: -624px;
        }
      }
    }
  }
}
