@import "../../../common/css/_base/variables"; // Modify this for custom colors, font-sizes, etc
@import "../../../common/css/_base/mixins";

// Fix container inside container
.container {
  .editorial-slideshow-container {
    margin-bottom: 0;
  }
  .editorial-slideshow-container .container {
    width: 100%;
  }
}

// When this module is inside a media-element (editorial), it's height should be auto
// The carousel slides need to fit within the carousel slide container floated left
// so that when the editorial.js file measures its height, they're not stacked
.media-element .editorial-slideshow-container .editorial-carousel-wrapper {
  height: auto;
  max-height: 620px;
}

.editorial-slideshow-container {

  &.full {
    margin-bottom: px-em( 40px );
  }

  &.normal,
  .media-element & {
    margin-bottom: 0;
  }

  .editorial-slideshow {
    position: relative;
  }

  .editorial-carousel-wrapper {
    position: relative;
    height: 540px; // Same as E1 full
    overflow: hidden;
  }

  .editorial-carousel {
    -webkit-backface-visibility: hidden;
    position: relative;
    width: 9000px; // overridden by javascript
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .editorial-carousel-slide {
    -webkit-backface-visibility: hidden;
    position: relative;
    width: 600px; // overriden by javascript (to something like 20%)
    height: 100%;
    float: left;
    display: block;

    img {
      width: 100%;
    }
  }

  // 3 classes to override specificity
  .editorial-slideshow .slide-band.box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    margin: 0;
    text-align: right;

    .media-element & {
      padding: px-em( 11 ) 1em;
    }

    p {
      margin-bottom: 0;
    }
  }

  .t2 {
    color: $gray20;
  }

  .p2 {
    color: $gray40;
  }

  a.opt-link {
    color: $linkBlue;
    display: block;
  }
}
