$two-up-height:314px;
$one-up-height:240px;


// //  .d8888b.                           
// // d88P  Y88b                          
// //        888                          
// //      .d88P        888  888 88888b.  
// //  .od888P"         888  888 888 "88b 
// // d88P"      888888 888  888 888  888 
// // 888"              Y88b 888 888 d88P 
// // 888888888          "Y88888 88888P"  
// //                            888      
// //                            888     

@media (min-width: px-em(480px)) and (max-width: px-em(979px)) {
	.tcc-module{
		#three-up,
		#two-up,
		#one-up{
			height:$two-up-height;
		}


		//        d8888         888    d8b          888          
		//       d88888         888    Y8P          888          
		//      d88P888         888                 888          
		//     d88P 888 888d888 888888 888  .d8888b 888  .d88b.  
		//    d88P  888 888P"   888    888 d88P"    888 d8P  Y8b 
		//   d88P   888 888     888    888 888      888 88888888 
		//  d8888888888 888     Y88b.  888 Y88b.    888 Y8b.     
		// d88P     888 888      "Y888 888  "Y8888P 888  "Y8888 
		.article{
			

			//  ______            _                          _ 
			// |  ____|          | |                        | |
			// | |__  ___   __ _ | |_  _   _  _ __  ___   __| |
			// |  __|/ _ \ / _` || __|| | | || '__|/ _ \ / _` |
			// | |  |  __/| (_| || |_ | |_| || |  |  __/| (_| |
			// |_|   \___| \__,_| \__| \__,_||_|   \___| \__,_|
	    &.featured{

	      .copy{
	        padding:px-em(30px); 
	        max-height: 120px;
	      } // end .copy

	      .t5-light{
	      	height: 52px;
					max-height: 52px;
	      } // t5-light

	      .lt3{
	        margin-top:0px;
	      } // lt3

	    } // featured

		} // article



		// 888     888                                         888     888          d8b                   
		// 888     888                                         888     888          Y8P                   
		// 888     888                                         888     888                                
		// 888     888 .d8888b   .d88b.  888d888 .d8888b       Y88b   d88P  .d88b.  888  .d8888b  .d88b.  
		// 888     888 88K      d8P  Y8b 888P"   88K            Y88b d88P  d88""88b 888 d88P"    d8P  Y8b 
		// 888     888 "Y8888b. 88888888 888     "Y8888b. 888888 Y88o88P   888  888 888 888      88888888 
		// Y88b. .d88P      X88 Y8b.     888          X88         Y888P    Y88..88P 888 Y88b.    Y8b.     
		//  "Y88888P"   88888P'  "Y8888  888      88888P'          Y8P      "Y88P"  888  "Y8888P  "Y8888
		.users-voice{
			
			//   ____                     _    _               
			//  / __ \                   | |  (_)              
			// | |  | | _   _   ___  ___ | |_  _   ___   _ __  
			// | |  | || | | | / _ \/ __|| __|| | / _ \ | '_ \ 
			// | |__| || |_| ||  __/\__ \| |_ | || (_) || | | |
			//  \___\_\ \__,_| \___||___/ \__||_| \___/ |_| |_|
			&.question{
				.quote{
					height: 62%;
				} // answer-btn

			} // question

		} // users-voice




		//  .d8888b.                                           888     888          d8b                   
		// d88P  Y88b                                          888     888          Y8P                   
		// Y88b.                                               888     888                                
		//  "Y888b.    .d88b.  88888b.  888  888 .d8888b       Y88b   d88P  .d88b.  888  .d8888b  .d88b.  
		//     "Y88b. d88""88b 888 "88b 888  888 88K            Y88b d88P  d88""88b 888 d88P"    d8P  Y8b 
		//       "888 888  888 888  888 888  888 "Y8888b. 888888 Y88o88P   888  888 888 888      88888888 
		// Y88b  d88P Y88..88P 888  888 Y88b 888      X88         Y888P    Y88..88P 888 Y88b.    Y8b.     
		//  "Y8888P"   "Y88P"  888  888  "Y88888  88888P'          Y8P      "Y88P"  888  "Y8888P  "Y8888  
		//                                   888                                                          
		//                              Y8b d88P                                                          
		//                               "Y88P"
		.sonys-voice{
			//   _____              _                   
			//  / ____|            | |                  
			// | |      ___  _ __  | |_  ___  _ __      
			// | |     / _ \| '_ \ | __|/ _ \| '__|     
			// | |____|  __/| | | || |_|  __/| |        
			//  \_____|\___||_| |_| \__|\___||_|        
			.center{		
				height: 62.75%;
			} // center

			.bq4,
			.bq5{
				padding: 0 px-em(16px);
			} // quotes

			.instagram{
				height:128px;
				position: relative;
				padding: 10px px-em(10px);

				.left{
					position: relative;
					display: inline-block;
					padding: 0;
					height:100%;
					width:100%; 

					.iq-img{
						width:31%;
						height: 100%;
						margin-left: 0;
						display: inline-block;
					} // iq-img

					.mobile-only{
						margin-left: px-em(5px); 
						display: inline-block;
					} // mobile-only

					.last{
						margin-top: 0;
						margin-left: px-em(5px); 
					} // last

				} //left

				.right{
					display: none;
				} //right

			} // instagram

		} // sonys-voice

		// 8888888888 888 d8b          888              
		// 888        888 Y8P          888              
		// 888        888              888              
		// 8888888    888 888  .d8888b 888  888 888d888 
		// 888        888 888 d88P"    888 .88P 888P"   
		// 888        888 888 888      888888K  888     
		// 888        888 888 Y88b.    888 "88b 888     
		// 888        888 888  "Y8888P 888  888 888     

		.flickr{
			position: relative;
					
			//   _____              _                   
			//  / ____|            | |                  
			// | |      ___  _ __  | |_  ___  _ __      
			// | |     / _ \| '_ \ | __|/ _ \| '__|     
			// | |____|  __/| | | || |_|  __/| |        
			//  \_____|\___||_| |_| \__|\___||_|        
			.center{
				height: 66.55%;
			} // center

			.flickr-container{
				height:93px;
				padding:10px px-em(10px);
			}

			.iq-img{
				width:31%;
			}

			.top-row{
				height:100%;
				padding-bottom:0;
			} // end .top-row
			
			.bottom-row{
				display: none;
			} // end .bottom-row

		} // flickr

	} // tcc module
	
} // mq 


// //  d888                           
// // d8888                           
// //   888                           
// //   888         888  888 88888b.  
// //   888         888  888 888 "88b 
// //   888  888888 888  888 888  888 
// //   888         Y88b 888 888 d88P 
// // 8888888        "Y88888 88888P"  
// //                        888      
// //                        888      
// //                        888    

@media (max-width: px-em(479px)) {
	.tcc-module{
		padding:50px 0;

		#three-up,
		#two-up,
		#one-up{
			height:$one-up-height;
		}

		.tcc-header{

	    .tcc-header-link{
	      text-align: left;
	    } // end .tcc-header-link

		} // end .tcc-header

		//        d8888         888    d8b          888          
		//       d88888         888    Y8P          888          
		//      d88P888         888                 888          
		//     d88P 888 888d888 888888 888  .d8888b 888  .d88b.  
		//    d88P  888 888P"   888    888 d88P"    888 d8P  Y8b 
		//   d88P   888 888     888    888 888      888 88888888 
		//  d8888888888 888     Y88b.  888 Y88b.    888 Y8b.     
		// d88P     888 888      "Y888 888  "Y8888P 888  "Y8888 
		.article{

			.tcc-copy{

					.p4{
						display:none;
					} // p4

			} // tcc-copy

			//  ______            _                          _ 
			// |  ____|          | |                        | |
			// | |__  ___   __ _ | |_  _   _  _ __  ___   __| |
			// |  __|/ _ \ / _` || __|| | | || '__|/ _ \ / _` |
			// | |  |  __/| (_| || |_ | |_| || |  |  __/| (_| |
			// |_|   \___| \__,_| \__| \__,_||_|   \___| \__,_|
	    &.featured{
	      .copy{
	        padding:px-em(17px) px-em(25px); 
	        max-height: 120px;
	      } // end copy

        .t5-light{
        	height: 52px;
					max-height: 52px;
        } // t5-light

        .lt3{
          margin-top:0px;
        } //lt3

	    } // featured

		} // article

		// 888     888                                         888     888          d8b                   
		// 888     888                                         888     888          Y8P                   
		// 888     888                                         888     888                                
		// 888     888 .d8888b   .d88b.  888d888 .d8888b       Y88b   d88P  .d88b.  888  .d8888b  .d88b.  
		// 888     888 88K      d8P  Y8b 888P"   88K            Y88b d88P  d88""88b 888 d88P"    d8P  Y8b 
		// 888     888 "Y8888b. 88888888 888     "Y8888b. 888888 Y88o88P   888  888 888 888      88888888 
		// Y88b. .d88P      X88 Y8b.     888          X88         Y888P    Y88..88P 888 Y88b.    Y8b.     
		//  "Y88888P"   88888P'  "Y8888  888      88888P'          Y8P      "Y88P"  888  "Y8888P  "Y8888
		.users-voice{		
			&.question{
				.quote{
					height:66%;
				} // end .quote

			} // question

		} // users-voice


		//  _______                                 
		// |__   __|                                
		//    | |  ___   _ __                       
		//    | | / _ \ | '_ \                      
		//    | || (_) || |_) |                     
		//    |_| \___/ | .__/                      
		//              | |                         
		//              |_|                                                                 

		.top{
			display: table;

			// .icon-container,
			.meta{
				display: table-cell;
				vertical-align: middle;
			}

			.meta{
				text-align: left;
				margin-top: 0;
				padding-left: px-em(10px); 
				
				.timestamp,
				.title{
					display: block;
					padding-left: px-em(10px);
				}

			} // meta

		} // top


		//  .d8888b.                                           888     888          d8b                   
		// d88P  Y88b                                          888     888          Y8P                   
		// Y88b.                                               888     888                                
		//  "Y888b.    .d88b.  88888b.  888  888 .d8888b       Y88b   d88P  .d88b.  888  .d8888b  .d88b.  
		//     "Y88b. d88""88b 888 "88b 888  888 88K            Y88b d88P  d88""88b 888 d88P"    d8P  Y8b 
		//       "888 888  888 888  888 888  888 "Y8888b. 888888 Y88o88P   888  888 888 888      88888888 
		// Y88b  d88P Y88..88P 888  888 Y88b 888      X88         Y888P    Y88..88P 888 Y88b.    Y8b.     
		//  "Y8888P"   "Y88P"  888  888  "Y88888  88888P'          Y8P      "Y88P"  888  "Y8888P  "Y8888  
		//                                   888                                                          
		//                              Y8b d88P                                                          
		//                               "Y88P"
		.sonys-voice{

			// //  _______                                 
			// // |__   __|                                
			// //    | |  ___   _ __                       
			// //    | | / _ \ | '_ \                      
			// //    | || (_) || |_) |                     
			// //    |_| \___/ | .__/                      
			// //              | |                         
			// //              |_|                                                                 

			.icon-container{
				display: table-cell;
				vertical-align: middle;
			}

			.icon-container{
				width:37%;
				text-align: right;
				position: relative;
			} // end .icon-container

			.fonticon-10-dot{
					font-size:px-em(40px); 
			} // background white dot

			.fonticon-15-facebook,
			.fonticon-15-twitter,
			.fonticon-15-instagram {
				font-size: px-em(21px);
				right: 0.45em;
				top: 0.5em; 
				left:auto;
			} // end .fonticons

			//   _____              _                   
			//  / ____|            | |                  
			// | |      ___  _ __  | |_  ___  _ __      
			// | |     / _ \| '_ \ | __|/ _ \| '__|     
			// | |____|  __/| | | || |_|  __/| |        
			//  \_____|\___||_| |_| \__|\___||_|        
			.center{		
				height: 68.75%;
			} // center

			.facebook{
				img{
				  height: 100%;
				} // end .iq-img

			} // facebook

			.bq4,
			.bq5{
				padding: 0 px-em(24px);
			} // quotes

			.instagram{
				height:128px;
				position: relative;
				padding: 10px px-em(10px);

				.left{
					position: relative;
					display: inline-block;
					padding: 0;
					height:100%;
					width:100%; 

					.iq-img{
						width:32%;
						height: 100%;
						margin-left: 0;
						display: inline-block;
					} // iq-img

					.mobile-only{
						margin-left: px-em(5px); 
						display: inline-block;
					} // mobile-only

					.last{
						margin-top: 0;
						margin-left: px-em(5px); 
					} // last

				} //left

				.right{
					display: none;
				} //right

			} // instagram

		} // sonys-voice

		// 8888888888 888 d8b          888              
		// 888        888 Y8P          888              
		// 888        888              888              
		// 8888888    888 888  .d8888b 888  888 888d888 
		// 888        888 888 d88P"    888 .88P 888P"   
		// 888        888 888 888      888888K  888     
		// 888        888 888 Y88b.    888 "88b 888     
		// 888        888 888  "Y8888P 888  888 888     

		.flickr{
			position: relative;

			//  _______                                 
			// |__   __|                                
			//    | |  ___   _ __                       
			//    | | / _ \ | '_ \                      
			//    | || (_) || |_) |                     
			//    |_| \___/ | .__/                      
			//              | |                         
			//              |_|  
		
			.top{
				display: table;
			} // top

			.icon-container,
			.meta{
				display: table-cell;
				vertical-align: middle;
			}

			.icon-container{
				width:43%;
				position: relative;
			} // end .icon-container

			.icon-parts{
				position: relative;
				width:30%;
				margin-left: 70%;
			}

			.meta{
				margin: 0;
				padding: 0;

				.p4{
					text-align: center;
					width:55%;
				}

				.user,
				.title{
					padding:0;
				}

				.title{
					display: block;
				}

			} // meta

			//   _____              _                   
			//  / ____|            | |                  
			// | |      ___  _ __  | |_  ___  _ __      
			// | |     / _ \| '_ \ | __|/ _ \| '__|     
			// | |____|  __/| | | || |_|  __/| |        
			//  \_____|\___||_| |_| \__|\___||_|        
			.center{
				height: 64.55%;
			} // center

			.flickr-container{
				height:93px;
				padding:10px px-em(10px);
			}

			.iq-img{
				width:32%;
			}

			.top-row{
				height:100%;
				padding:0;
			} // end .top-row
			
			.bottom-row{
				display: none;
			} // end .bottom-row

		} // flickr

	} // tcc module

 } // mq
