@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

@function createSelectorFromData($class1,$class2){
	@return '[data-tcc-content-type="'+ $class1 + '"][data-tcc-content-mode="' + $class2 + '"]';
}

// VARS 
$three-up-height:400px;

//  .d8888b.                                   .d88  .d8888b.   .d8888b.   .d8888b.        88b.   
// d88P  Y88b                                 d88P" d88P  Y88b d88P  Y88b d88P  Y88b       "Y88b  
//      .d88P                                d88P   888    888 Y88b. d88P 888    888         Y88b 
//     8888"         888  888 88888b.        888    Y88b. d888  "Y88888"  888    888   888    888 
//      "Y8b.        888  888 888 "88b       888     "Y888P888 .d8P""Y8b. 888    888 8888888  888 
// 888    888 888888 888  888 888  888       Y88b          888 888    888 888    888   888   d88P 
// Y88b  d88P        Y88b 888 888 d88P        Y88b. Y88b  d88P Y88b  d88P Y88b  d88P       .d88P  
//  "Y8888P"          "Y88888 88888P"          "Y88  "Y8888P"   "Y8888P"   "Y8888P"        88P"   
//                            888                                                                 
//                            888                                                                 
//                            888                                                                 

.tcc-module{
	border:1px solid green;
	position: relative;
  text-align: center;
  background-color:$gray80;
  margin:0; // for the module since it can be placed anywhere on the page. 
  padding:30px 0 66px;

	.tcc-header{
		position: relative;
		margin-bottom: 30px;
		padding-bottom: 20px;
		border-bottom: 3px solid $gray70;

		[class*="span"]{
			overflow:hidden;
		}

    .tcc-header-title{
    	text-align: left;
      margin:0; 
    } // end .tcc-header-title

    .tcc-header-link{
      text-align: right;
      margin:0;
      padding-top: 10px;
    } // end .tcc-header-link
	
	} // end .tcc-header


	//  .d8888b.                                                       888 
	// d88P  Y88b                                                      888 
	// 888    888                                                      888 
	// 888         8888b.  888d888  .d88b.  888  888 .d8888b   .d88b.  888 
	// 888            "88b 888P"   d88""88b 888  888 88K      d8P  Y8b 888 
	// 888    888 .d888888 888     888  888 888  888 "Y8888b. 88888888 888 
	// Y88b  d88P 888  888 888     Y88..88P Y88b 888      X88 Y8b.     888 
	//  "Y8888P"  "Y888888 888      "Y88P"   "Y88888  88888P'  "Y8888  888 
	#three-up,
	#two-up,
	#one-up{
		height:$three-up-height;
	}

	.tcc-carousel-wrapper{
		border:1px solid red;
		overflow:hidden;
		position: relative;
		width: 100%;
		height: 100%;
	} // tcc-carousel-wrapper

	.tcc-carousel{
		position: relative;
		width: 2000%;
		height:100%;
	} // tcc-carousel

	.sony-carousel-slide{
		border:1px solid blue;
		-webkit-transform: translateZ(0);
		float: left;
		width: 5%;
		height: 100%;

		&:hover{
			cursor: pointer;
		} // end .tcc-content-block:hover;

		.grid,
		.container,
		[class*="span"]{
			height: 100%;
		}

	} // .sony-carousel-slide

	.sony-carousel-slide-children{
		border:1px solid gray;
		height:100%;
	} // sony-carousel-slide-children


		//        d8888         888    d8b          888          
		//       d88888         888    Y8P          888          
		//      d88P888         888                 888          
		//     d88P 888 888d888 888888 888  .d8888b 888  .d88b.  
		//    d88P  888 888P"   888    888 d88P"    888 d8P  Y8b 
		//   d88P   888 888     888    888 888      888 88888888 
		//  d8888888888 888     Y88b.  888 Y88b.    888 Y8b.     
		// d88P     888 888      "Y888 888  "Y8888P 888  "Y8888 
		.article{
			.p4,
			.p2{
				overflow: hidden;
				word-break: break-word;
			}

			// Title
			.p2{
				outline: 1px solid blue;
				max-height: 45px; // two lines
				color:$titleBlack;
			} // end p2

			// Description
			.p4{
				outline: 1px solid red;
				color:$gray40;
				max-height: 75px; // four lines
			} // end p4

			.tcc-copy{
				margin-top:30px;
				padding:0 px-em(20px) px-em(20px) px-em(20px); 
			} // tcc-copy

			.img-container{
				position: relative;
				
				img{
					width: 100%;
				} // img

			} // img-container

			//  _____          __               _  _   
			// |  __ \        / _|             | || |  
			// | |  | |  ___ | |_  __ _  _   _ | || |_ 
			// | |  | | / _ \|  _|/ _` || | | || || __|
			// | |__| ||  __/| | | (_| || |_| || || |_ 
			// |_____/  \___||_|  \__,_| \__,_||_| \__|
			
			&.default{
				@include fadeoutOnHover(img);
				position: relative;
			} // default


			//  _   _                      
			// | \ | |                     
			// |  \| |  ___ __      __ ___ 
			// | . ` | / _ \\ \ /\ / // __|
			// | |\  ||  __/ \ V  V / \__ \
			// |_| \_| \___|  \_/\_/  |___/
			&.news{
				@include fadeoutOnHover(img);
				position: relative;
				.img-container{

					.l3-light{
						-webkit-backface-visibility:hidden;
						position:absolute;
						top:0;
						right:0;
						background-color:rgba($gray10, 0.95);	
						color:$white;
						padding:px-em(10px);
					} // l3-light (date)

				} // img-container

			} // news


			//  ______                   _   
			// |  ____|                 | |  
			// | |__ __   __ ___  _ __  | |_ 
			// |  __|\ \ / // _ \| '_ \ | __|
			// | |____\ V /|  __/| | | || |_ 
			// |______|\_/  \___||_| |_| \__|
			&.event{
				@include fadeoutOnHover(img);
				position: relative;
				.img-container{
				
					.attendance{
						-webkit-backface-visibility:hidden; // prevents flickering on transition
						position: absolute;
						top: 0;
						bottom:0;
						right:0;
						left:0;
						height:100%;
						width:100%;
						opacity:0.95;
						padding:12% 36%;

										// IE9 and BELOW
						// 				.lt-ie10 & {
						// 		    	margin:5% auto 10% auto;
						// 		    } // END IE9 and BELOW


						.details{
							background-color: $secondaryOlive;
							padding:3px;

							.t3,
							.l3-light{
								margin-bottom:0;
								color:$white;
							} // type

						} // end details

					} // end attendence
					
				} // end img-container

			}

			//  ______            _                          _ 
			// |  ____|          | |                        | |
			// | |__  ___   __ _ | |_  _   _  _ __  ___   __| |
			// |  __|/ _ \ / _` || __|| | | || '__|/ _ \ / _` |
			// | |  |  __/| (_| || |_ | |_| || |  |  __/| (_| |
			// |_|   \___| \__,_| \__| \__,_||_|   \___| \__,_|
			&.featured{
				position: relative;
				@include fadeoutOnHover('.img-container');

					.img-container{
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background-size: cover;
						background-position: center center;
						background-repeat: no-repeat;
					} // img-container

					.copy{
						overflow:hidden;
						max-height: 140px;
						-webkit-backface-visibility: hidden; // fix the flicking bug with transition
						z-index: 2;
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						padding: px-em(30px);
						margin: 0;
						text-align: left;
					} // copy
					
					// IE9 and BELOW
					// 				.lt-ie10 & {
					// 		    	height:145px;
					// 		    	max-height: 145px;
					//           min-height:145px;
					//    				position: absolute;
					//           bottom:0;
					//           left: 0;
					//           margin:0;
					//           padding:30px;
					//           width:100%;
					// 		    }	// END IE9 and BELOW

					.t5-light{
						overflow:hidden;
						max-height: 57px;
						margin:0;
					} // p

					.lt3{
						overflow:hidden;
						margin:18px 0 0 0;
					} // lt3

					.light-text{
						p{
							color:$gray50;
						}

						a{
							color: $white;

							&:hover, &:active, &:focus, &.active{
								color: $gray40;    
							} // pseudo

						} // a
 
					} // light-text


					.dark-box{
						background-color:$gray10;
					} // dark-box

			} // featured

		} // end article
	

	// 888     888                                         888     888          d8b                   
	// 888     888                                         888     888          Y8P                   
	// 888     888                                         888     888                                
	// 888     888 .d8888b   .d88b.  888d888 .d8888b       Y88b   d88P  .d88b.  888  .d8888b  .d88b.  
	// 888     888 88K      d8P  Y8b 888P"   88K            Y88b d88P  d88""88b 888 d88P"    d8P  Y8b 
	// 888     888 "Y8888b. 88888888 888     "Y8888b. 888888 Y88o88P   888  888 888 888      88888888 
	// Y88b. .d88P      X88 Y8b.     888          X88         Y888P    Y88..88P 888 Y88b.    Y8b.     
	//  "Y88888P"   88888P'  "Y8888  888      88888P'          Y8P      "Y88P"  888  "Y8888P  "Y8888
	.users-voice{
		$paddingBottom: px-em(28px);
		$paddingLeft: px-em(40px);

		position: relative;
		padding: px-em(30px) px-em(40px) $paddingBottom $paddingLeft;
		
		.title,
		.quote{
			text-align: left;
		} // title & quote

		.quote{
		  padding:0;
		} // end .quote

		.credits{
			width:75%;
			text-align: left;
			position: absolute;
			bottom: $paddingBottom;
			left: $paddingLeft;
		} // credits

		.author{
			> .p4{
		  	margin-bottom: 0px;
			} // p4

		} // end .author
		
		.avatar{
		  margin-bottom: px-em(15px); 
		} // end .avatar

		//  ______                           _             ____                 _        
		// |  ____|                         | |           / __ \               | |       
		// | |__   __  __ _ __    ___  _ __ | |_  ______ | |  | | _   _   ___  | |_  ___ 
		// |  __|  \ \/ /| '_ \  / _ \| '__|| __||______|| |  | || | | | / _ \ | __|/ _ \
		// | |____  >  < | |_) ||  __/| |   | |_         | |__| || |_| || (_) || |_|  __/
		// |______|/_/\_\| .__/  \___||_|    \__|         \___\_\ \__,_| \___/  \__|\___|
		//               | |                                                             
		//               |_|                                                             
		&.expert-quote{
			background-color:rgba($gray10,0.95);
			
			.lt-ie9 & {
				background-color:$gray10;
	    } // END IE8 and BELOW

			.title{
			  color:$gray50;
			} // end .title

			.quote{
				p{
					color:$white;	
				} // blockquote > p 

			} // quote

			.author{
				text-transform: capitalize;
			} // author
			

		} // expert-quote


		//  _    _                            ____                 _        
		// | |  | |                          / __ \               | |       
		// | |  | | ___   ___  _ __  ______ | |  | | _   _   ___  | |_  ___ 
		// | |  | |/ __| / _ \| '__||______|| |  | || | | | / _ \ | __|/ _ \
		// | |__| |\__ \|  __/| |           | |__| || |_| || (_) || |_|  __/
		//  \____/ |___/ \___||_|            \___\_\ \__,_| \___/  \__|\___|
		&.user-quote{
			background-color:$white;

			.title{
			  color:$gray40;
			} // end .title

			.quote{
				p{
					color:$secondarySlateDark;
				}

			} // quote

			.author{
			
				.handle{
					padding-right: px-em(10px); 
				} // handle
			
			} // author

		} // user-quote

		
		//   ____                     _    _               
		//  / __ \                   | |  (_)              
		// | |  | | _   _   ___  ___ | |_  _   ___   _ __  
		// | |  | || | | | / _ \/ __|| __|| | / _ \ | '_ \ 
		// | |__| || |_| ||  __/\__ \| |_ | || (_) || | | |
		//  \___\_\ \__,_| \___||___/ \__||_| \___/ |_| |_|
		&.question{
			padding: 0;

			.credits{
				position:relative;
				bottom:auto;
				left:auto;
				width:100%;
				background-color: $white;
			} // credits

			.quote{
				text-align: center;
			  padding: px-em(40px) px-em(30px) 0 px-em(30px);
			} // end .quote
		

			.avatar{
				display: inline-block;
				margin:0;
			} // avatar

			.author{
				display: inline-block;
				margin-left: px-em(25px); 
			} // author

			.answer-btn{
				position: absolute;
				bottom: 0;
				left: 50%;
				margin-left: -(154px/2); // 154 = button width
			} // answer-btn

		} // question

	} // users-voice



	//  .d8888b.                                           888     888          d8b                   
	// d88P  Y88b                                          888     888          Y8P                   
	// Y88b.                                               888     888                                
	//  "Y888b.    .d88b.  88888b.  888  888 .d8888b       Y88b   d88P  .d88b.  888  .d8888b  .d88b.  
	//     "Y88b. d88""88b 888 "88b 888  888 88K            Y88b d88P  d88""88b 888 d88P"    d8P  Y8b 
	//       "888 888  888 888  888 888  888 "Y8888b. 888888 Y88o88P   888  888 888 888      88888888 
	// Y88b  d88P Y88..88P 888  888 Y88b 888      X88         Y888P    Y88..88P 888 Y88b.    Y8b.     
	//  "Y8888P"   "Y88P"  888  888  "Y88888  88888P'          Y8P      "Y88P"  888  "Y8888P  "Y8888  
	//                                   888                                                          
	//                              Y8b d88P                                                          
	//                               "Y88P"                                                           
	.sonys-voice{
		position: relative;

		.top{
			float:left;
			width:100%;
			border:1px solid red;
			text-align: center;
		} // top

		.center{
			border:1px solid blue;
			height: 76.75%;
			width:100%;
		} // center
		
		.content{
			border:1px solid green;
			width:100%;
		} // content

		.facebook{
			.bq5{
				p{
					color:$secondarySlateDark;
				}
			}
		} // facebook
		
		.twitter{
			.bq4{
				p{
					color:$secondarySlateDark;
				}
			}
		} // twitter


		.instagram{
			background-color: $white;

			.left{
				border:1px solid black;
			} // left

			.right{
				border:1px solid black;
			} // right

		} // instagram



		.bottom{
			position: absolute;
			bottom:0;
			left:0;
			width:100%;
			border:1px solid red;
			text-align: center;
		} // bottom


	}

	.flickr{}

} // tcc-module







































// 888888b.          d8888  .d8888b.  888    d8P  888     888 8888888b.        8888888b.  8888888888 8888888888 
// 888  "88b        d88888 d88P  Y88b 888   d8P   888     888 888   Y88b       888   Y88b 888        888        
// 888  .88P       d88P888 888    888 888  d8P    888     888 888    888       888    888 888        888        
// 8888888K.      d88P 888 888        888d88K     888     888 888   d88P       888   d88P 8888888    8888888    
// 888  "Y88b    d88P  888 888        8888888b    888     888 8888888P"        8888888P"  888        888        
// 888    888   d88P   888 888    888 888  Y88b   888     888 888              888 T88b   888        888        
// 888   d88P  d8888888888 Y88b  d88P 888   Y88b  Y88b. .d88P 888              888  T88b  888        888        
// 8888888P"  d88P     888  "Y8888P"  888    Y88b  "Y88888P"  888              888   T88b 8888888888 888  




// @import "../../../common/css/_base/variables";
// @import "../../../common/css/_base/mixins";

// @function createSelectorFromData($class1,$class2){
// 	@return '[data-tcc-content-type="'+ $class1 + '"][data-tcc-content-mode="' + $class2 + '"]';
// }

// //$tcc-content-block-height-3up:350px;
// $tcc-content-block-height-3up:400px;

// $tcc-header-padding-bottom-desktop:20px;
// $users-voice-padding-bottom-desktop:28px;
// $users-voice-padding-left-right-desktop:px-em(40px);

// $tenPercentInstaFlickr: percentage(10px/316px);
// $fivePercentInstaFlickr: percentage(5px/316px);

// // -----------------------------------------
// // 3-UP - // DEFAULT: 980px - 1199px;
// // -----------------------------------------
// //  .d8888b.                                   .d88  .d8888b.   .d8888b.   .d8888b.        88b.   
// // d88P  Y88b                                 d88P" d88P  Y88b d88P  Y88b d88P  Y88b       "Y88b  
// //      .d88P                                d88P   888    888 Y88b. d88P 888    888         Y88b 
// //     8888"         888  888 88888b.        888    Y88b. d888  "Y88888"  888    888   888    888 
// //      "Y8b.        888  888 888 "88b       888     "Y888P888 .d8P""Y8b. 888    888 8888888  888 
// // 888    888 888888 888  888 888  888       Y88b          888 888    888 888    888   888   d88P 
// // Y88b  d88P        Y88b 888 888 d88P        Y88b. Y88b  d88P Y88b  d88P Y88b  d88P       .d88P  
// //  "Y8888P"          "Y88888 88888P"          "Y88  "Y8888P"   "Y8888P"   "Y8888P"        88P"   
// //                            888                                                                 
// //                            888                                                                 
// //                            888                                                                 




// 	// TYPE: SONYS VOICE
// 	.sonys-voice{
// 		padding:0px;// px-em(20px) 11px px-em(20px);

// 		.top{
// 			.icon-container{
// 				position: relative;
// 				padding: px-em(15px);
// 			}

// 	    [class*="fonticon-10-dot"]{
// 	      display:inline-block;
// 	      font-size:px-em(56px); 

// 				&.white-bg{
// 					position: absolute;
// 					top: 0;
// 					left: 50%;
// 					margin-left:-28px;
// 	        width:55px;
// 	        height:55px;
// 					z-index: -1;
// 					overflow:hidden;
// 					color:$white;
// 				} // end .white-bg

// 	    } // end fonticon divs

// 	    .fonticon-15-facebook,
// 	    .fonticon-15-twitter,
// 	    .fonticon-15-instagram {

// 	      font-size: px-em(26px);
// 	    } // end .fonticons

// 			.fonticon-15-twitter{
// 				color:$twitterColor;
// 			} // end .fonticon-15-twitter

// 			.fonticon-15-facebook{
// 				color:$facebookColor;
// 			} // end .fonticon-15-facebook

// 			.meta{
// 				margin-top:8px;
// 			  .user{
// 			  	color:$gray20;
// 			  } // end .user

// 			  .timestamp{
// 			  	padding-left:10px;
// 			  	color:$gray40;
// 			  } // end .timestamp

// 			  .p4{
// 			  	margin:0;
// 			  } // end p4

// 			} // end .meta

// 		} // end top

// 		.center{
// 			position:relative;

// 			.center-container{
// 				position: relative;
// 				width:100%; 
// 				height:217px;
// 				margin:0 auto;
// 			} //.center-container

// 		} // end center


//   	.bottom{
// 			// END IE8 and BELOW
// 			.lt-ie10 & {
// 				padding:relative;
// 				display: block;
// 	    } // END IE8 and BELOW

// 			.social-btn{
// 				.btn{
// 					-webkit-backface-visibility: hidden; // prevents flickering on transition
// 				}

// 			} // end .social-btn

// 		} // end bottom


// 		&.facebook{

// 			.post-image{
// 				img{
// 					max-height:86px;
// 				}
// 			}

// 			.bq5{
// 				margin-top:22px;
// 				p{
// 					color:$secondarySlateDark;
// 				}
// 			} // end .bq5

// 		} // end .twitter


// 		&.twitter{
// 			.bq4{
// 				p{
// 					color:$secondarySlateDark;
// 				}
// 			} // end .bq4

// 		} // end .twitter

// 		&.instagram{

// 			.center{

// 				.center-container{
// 					background-color:$white;

// 					.right,
// 					.left{
// 						position: absolute;
// 						top: 10px;

// 						div{
// 							background-size: cover;
// 							background-position: center center;
// 							background-repeat: no-repeat;
// 							display:block;
// 						}
// 					}

// 					.right{
// 						padding-left: px-em(5px);
// 						right:10px;
// 						width:percentage( 197 / 318 ); 
// 						height:percentage( 197 / 217 ); 

// 						div{
// 							width:100%; 
// 							height:100%; 
// 						}
// 					} // end right

// 					.left{
// 						left:10px;
// 						width:percentage( 96 / 318 ); 
// 						height:percentage( 192 / 217 );

// 						div{
// 							width:100%; 
// 							height:50%;
// 						}
						
// 						.last{
// 							margin-top: px-em(5px);
// 						}						

// 					} // end left

// 				} //.center-container
				
// 			} // end center

// 			.bottom{
// 			  position: relative;
// 			  display: block;
// 				text-align: center;
// 			  clear: both;
// 			  text-align:center;
// 			} // end .bottom
				

// 		} // end &.instagram
	
// 	} // end sonys-voice

// 	// TYPE: FLICKR
// 	.flickr{
// 		.top{
// 			.icon-container{
// 				position: relative;
// 				width: auto; 
// 				height: 44px;

// 				.white-bg{
// 					position: absolute;
// 					top: 0;
// 					left: 0;
// 					bottom: 0;
// 					right: 0;
// 					width:100%;
// 					height:100%;
// 					z-index: -1;
// 					overflow:hidden;
// 					color:$white;
// 					font-size:2.8em;
// 				} // end .white-bg


// 				.left,
// 				.right{
// 					width: auto;
// 					height: auto;
// 					padding: 15px 0 0 0;
// 					font-size: 0.84em;
// 					z-index: 2;
// 				} // end .left, .right
				
// 				.left{
// 					color:$flickrBlueColor;
// 				} // end .left

// 				.right{
// 					color:$flickrPinkColor;
// 				} // end .right
// 			} // end .fonticon-flickr

// 			// user and title
// 			.meta{
// 				margin-top:8px;
// 				&.p4{
// 					margin-bottom:0;
// 				} // end .p4

// 				.user{
// 					padding-right:10px;
// 			  	color:$gray20;
// 			  } // end .user
// 			} // end meta

// 		} // end top

// 	  .center{
// 	    position:relative;
	    
// 			.center-container{
// 	      background-color:$white;
// 	      padding:10px;
// 	      display:inline-block;
// 			}

//       .top-row,
// 			.bottom-row{  
// 				div{
// 					width:32%;
// 					display:inline-block; 
// 				}  
// 			}    
      
//       // first two in each row (1,2,4,5)
//       .top-row div:nth-child(3n+2),
// 			.bottom-row div:nth-child(3n+2){
//         margin:0 px-em(5px); ;
//       }  
      
// 			.top-row{
// 				margin-bottom:5px;
// 			}
// 	  } // end center
// 	} // end .flickr


// 	// UI ELEMENTS
// 	.UI_ELEMENTS{}
// 	  .pagination-bullets{
// 	    display:block;
// 	    position:relative;
// 	    bottom:0;
// 	    left:0;
// 	  } // end .pagination-bullets    

// 	  .nav-paddles{
// 	  	position: absolute;
// 			left: 0;
// 			top: 50%;
// 			padding:20px;
// 			z-index: 99;
// 			width:100%;
// 			margin-top: -20px;

// 			.nav-paddle{
// 				position: absolute;
// 				top:0;
// 			}  // end .nav-paddle

// 			.nav-paddle-prev{
// 				left: 7px;
// 			} // end .nav-paddle-prev

// 			.nav-paddle-next{
// 				right:7px;
// 			} // end .nav-paddle-next

// 	  } // end .nav-paddles

// 	  .navigation-container{
// 	    position: absolute;
// 	    bottom: 40px;
// 	    left: 50%;
// 	    margin-left: -22px; 
// 	  }

// 	  .loader{
// 	  	height: 300px;
// 			width: 100%;
// 			padding-top: 10%;
// 			z-index:999;
// 			display:none;
// 	  }


// } // end .tcc-wrapper 

//  