@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

@function createSelectorFromData($class1,$class2){
	@return '[data-tcc-content-type="'+ $class1 + '"][data-tcc-content-mode="' + $class2 + '"]';
}

// VARS 
$three-up-height:400px;

//  .d8888b.                                   .d88  .d8888b.   .d8888b.   .d8888b.        88b.   
// d88P  Y88b                                 d88P" d88P  Y88b d88P  Y88b d88P  Y88b       "Y88b  
//      .d88P                                d88P   888    888 Y88b. d88P 888    888         Y88b 
//     8888"         888  888 88888b.        888    Y88b. d888  "Y88888"  888    888   888    888 
//      "Y8b.        888  888 888 "88b       888     "Y888P888 .d8P""Y8b. 888    888 8888888  888 
// 888    888 888888 888  888 888  888       Y88b          888 888    888 888    888   888   d88P 
// Y88b  d88P        Y88b 888 888 d88P        Y88b. Y88b  d88P Y88b  d88P Y88b  d88P       .d88P  
//  "Y8888P"          "Y88888 88888P"          "Y88  "Y8888P"   "Y8888P"   "Y8888P"        88P"   
//                            888                                                                 
//                            888                                                                 
//                            888                                                                 

.tcc-module{
	position: relative;
  text-align: center;
  background-color:$gray80;
  margin:0; // for the module since it can be placed anywhere on the page. 
  padding:30px 0 66px;

	.tcc-header{
		position: relative;
		margin-bottom: 30px;
		padding-bottom: 20px;
		border-bottom: 3px solid $gray70;

		[class*="span"]{
			overflow:hidden;
		}

    .tcc-header-title{
    	text-align: left;
      margin:0; 
    } // end .tcc-header-title

    .tcc-header-link{
      text-align: right;
      margin:0;
      padding-top: 10px;
    } // end .tcc-header-link
	
	} // end .tcc-header


	//  .d8888b.                                                       888 
	// d88P  Y88b                                                      888 
	// 888    888                                                      888 
	// 888         8888b.  888d888  .d88b.  888  888 .d8888b   .d88b.  888 
	// 888            "88b 888P"   d88""88b 888  888 88K      d8P  Y8b 888 
	// 888    888 .d888888 888     888  888 888  888 "Y8888b. 88888888 888 
	// Y88b  d88P 888  888 888     Y88..88P Y88b 888      X88 Y8b.     888 
	//  "Y8888P"  "Y888888 888      "Y88P"   "Y88888  88888P'  "Y8888  888 
	#three-up,
	#two-up,
	#one-up{
		height:$three-up-height;
	}

	.tcc-carousel-wrapper{		
		overflow:hidden;
		position: relative;
		width: 100%;
		height: 100%;
	} // tcc-carousel-wrapper

	.tcc-carousel{
		position: relative;
		width: 2000%;
		height:100%;
	} // tcc-carousel

	.sony-carousel-slide{		
		-webkit-transform: translateZ(0);
		float: left;
		width: 5%;
		height: 100%;

		&:hover{
			cursor: pointer;
		} // end .tcc-content-block:hover;

		.grid,
		.container,
		[class*="span"]{
			height: 100%;
		}

	} // .sony-carousel-slide

	.sony-carousel-slide-children{		
		height:100%;
	} // sony-carousel-slide-children


		//        d8888         888    d8b          888          
		//       d88888         888    Y8P          888          
		//      d88P888         888                 888          
		//     d88P 888 888d888 888888 888  .d8888b 888  .d88b.  
		//    d88P  888 888P"   888    888 d88P"    888 d8P  Y8b 
		//   d88P   888 888     888    888 888      888 88888888 
		//  d8888888888 888     Y88b.  888 Y88b.    888 Y8b.     
		// d88P     888 888      "Y888 888  "Y8888P 888  "Y8888 
		.article{
			.p4,
			.p2{
				overflow: hidden;
				word-break: break-word;
			}

			// Title
			.p2{
				max-height: 45px; // two lines
				color:$titleBlack;
			} // end p2

			// Description
			.p4{
				color:$gray40;
				max-height: 75px; // four lines
			} // end p4

			.tcc-copy{
				margin-top:30px;
				padding:0 px-em(20px) px-em(20px) px-em(20px); 
			} // tcc-copy

			.img-container{
				position: relative;
				
				img{
					width: 100%;
				} // img

			} // img-container

			//  _____          __               _  _   
			// |  __ \        / _|             | || |  
			// | |  | |  ___ | |_  __ _  _   _ | || |_ 
			// | |  | | / _ \|  _|/ _` || | | || || __|
			// | |__| ||  __/| | | (_| || |_| || || |_ 
			// |_____/  \___||_|  \__,_| \__,_||_| \__|
			
			&.default{
				@include fadeoutOnHover(img);
				position: relative;
			} // default


			//  _   _                      
			// | \ | |                     
			// |  \| |  ___ __      __ ___ 
			// | . ` | / _ \\ \ /\ / // __|
			// | |\  ||  __/ \ V  V / \__ \
			// |_| \_| \___|  \_/\_/  |___/
			&.news{
				@include fadeoutOnHover(img);
				position: relative;
				.img-container{

					.l3-light{
						-webkit-backface-visibility:hidden;
						position:absolute;
						top:0;
						right:0;
						background-color:rgba($gray10, 0.95);	
						color:$white;
						padding:px-em(10px);
					} // l3-light (date)

				} // img-container

			} // news


			//  ______                   _   
			// |  ____|                 | |  
			// | |__ __   __ ___  _ __  | |_ 
			// |  __|\ \ / // _ \| '_ \ | __|
			// | |____\ V /|  __/| | | || |_ 
			// |______|\_/  \___||_| |_| \__|
			&.event{
				@include fadeoutOnHover(img);
				position: relative;
				.img-container{
				
					.attendance{
						-webkit-backface-visibility:hidden; // prevents flickering on transition
						position: absolute;
						top: 0;
						bottom:0;
						right:0;
						left:0;
						height:100%;
						width:100%;
						opacity:0.95;
						padding:12% 36%;

						.details{
							background-color: $secondaryOlive;
							padding:3px;

							.t3,
							.l3-light{
								margin-bottom:0;
								color:$white;
							} // type

						} // end details

					} // end attendence
					
				} // end img-container

			} // event

			//  ______            _                          _ 
			// |  ____|          | |                        | |
			// | |__  ___   __ _ | |_  _   _  _ __  ___   __| |
			// |  __|/ _ \ / _` || __|| | | || '__|/ _ \ / _` |
			// | |  |  __/| (_| || |_ | |_| || |  |  __/| (_| |
			// |_|   \___| \__,_| \__| \__,_||_|   \___| \__,_|
			&.featured{
				position: relative;
				@include fadeoutOnHover('.img-container');

					.img-container{
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background-size: cover;
						background-position: center center;
						background-repeat: no-repeat;
					} // img-container

					.copy{
						overflow:hidden;
						max-height: 140px;
						-webkit-backface-visibility: hidden; // fix the flicking bug with transition
						z-index: 2;
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						padding: px-em(30px);
						margin: 0;
						text-align: left;

						.lt-ie9 & {
							width:85.5%;
							margin-left:27px;
				    } // END IE8 and BELOW

					} // copy
					
					.t5-light{
						overflow:hidden;
						max-height: 57px;
						margin:0;
					} // p

					.lt3{
						overflow:hidden;
						margin:18px 0 0 0;
					} // lt3

					.light-text{
						p{
							color:$gray50;
						}

						a{
							color: $white;

							&:hover, &:active, &:focus, &.active{
								color: $gray40;    
							} // pseudo

						} // a
 
					} // light-text

					.dark-box{
						background-color:$gray10;
					} // dark-box

			} // featured

		} // end article
	

	// 888     888                                         888     888          d8b                   
	// 888     888                                         888     888          Y8P                   
	// 888     888                                         888     888                                
	// 888     888 .d8888b   .d88b.  888d888 .d8888b       Y88b   d88P  .d88b.  888  .d8888b  .d88b.  
	// 888     888 88K      d8P  Y8b 888P"   88K            Y88b d88P  d88""88b 888 d88P"    d8P  Y8b 
	// 888     888 "Y8888b. 88888888 888     "Y8888b. 888888 Y88o88P   888  888 888 888      88888888 
	// Y88b. .d88P      X88 Y8b.     888          X88         Y888P    Y88..88P 888 Y88b.    Y8b.     
	//  "Y88888P"   88888P'  "Y8888  888      88888P'          Y8P      "Y88P"  888  "Y8888P  "Y8888
	.users-voice{
		$paddingBottom: px-em(28px);
		$paddingLeft: px-em(40px);

		position: relative;
		padding: px-em(30px) px-em(40px) $paddingBottom $paddingLeft;
		
		.title,
		.quote{
			text-align: left;
		} // title & quote

		.quote{
		  padding:0;
		} // end .quote

		.credits{
			width:75%;
			text-align: left;
			position: absolute;
			bottom: $paddingBottom;
			left: $paddingLeft;
		} // credits

		.author{
			> .p4{
		  	margin-bottom: 0px;
			} // p4

		} // end .author
		
		.avatar{
		  margin-bottom: px-em(15px); 
		} // end .avatar

		//  ______                           _             ____                 _        
		// |  ____|                         | |           / __ \               | |       
		// | |__   __  __ _ __    ___  _ __ | |_  ______ | |  | | _   _   ___  | |_  ___ 
		// |  __|  \ \/ /| '_ \  / _ \| '__|| __||______|| |  | || | | | / _ \ | __|/ _ \
		// | |____  >  < | |_) ||  __/| |   | |_         | |__| || |_| || (_) || |_|  __/
		// |______|/_/\_\| .__/  \___||_|    \__|         \___\_\ \__,_| \___/  \__|\___|
		//               | |                                                             
		//               |_|                                                             
		&.expert-quote{
			background-color:rgba($gray10,0.95);
			
			.lt-ie9 & {
				background-color:$gray10;
	    } // END IE8 and BELOW

			.title{
			  color:$gray50;
			} // end .title

			.quote{
				p{
					color:$white;	
				} // blockquote > p 

			} // quote

			.author{
				text-transform: capitalize;
			} // author

		} // expert-quote

		//  _    _                            ____                 _        
		// | |  | |                          / __ \               | |       
		// | |  | | ___   ___  _ __  ______ | |  | | _   _   ___  | |_  ___ 
		// | |  | |/ __| / _ \| '__||______|| |  | || | | | / _ \ | __|/ _ \
		// | |__| |\__ \|  __/| |           | |__| || |_| || (_) || |_|  __/
		//  \____/ |___/ \___||_|            \___\_\ \__,_| \___/  \__|\___|
		&.user-quote{
			background-color:$white;

			.title{
			  color:$gray40;
			} // end .title

			.quote{
				p{
					color:$secondarySlateDark;
				}

			} // quote

			.author{
			
				.handle{
					padding-right: px-em(10px); 
				} // handle
			
			} // author

		} // user-quote

		
		//   ____                     _    _               
		//  / __ \                   | |  (_)              
		// | |  | | _   _   ___  ___ | |_  _   ___   _ __  
		// | |  | || | | | / _ \/ __|| __|| | / _ \ | '_ \ 
		// | |__| || |_| ||  __/\__ \| |_ | || (_) || | | |
		//  \___\_\ \__,_| \___||___/ \__||_| \___/ |_| |_|
	
		&.question{
			padding: 0;

			.credits{
				position:relative;
				bottom:auto;
				left:auto;
				width:100%;
				background-color: $white;
			} // credits

			.quote{
				text-align: center;
				height: 68%;
			  padding: px-em(40px) px-em(30px) 0 px-em(30px);
			} // end .quote
		
			.avatar{
				display: inline-block;
				margin:0;
			} // avatar

			.author{
				display: inline-block;
				margin-left: px-em(25px); 
			} // author

		} // question

	} // users-voice


	//  _______                  __   _____              _                    __  ____          _    _                    
	// |__   __|                / /  / ____|            | |                  / / |  _ \        | |  | |                   
	//    | |  ___   _ __      / /  | |      ___  _ __  | |_  ___  _ __     / /  | |_) |  ___  | |_ | |_  ___   _ __ ___  
	//    | | / _ \ | '_ \    / /   | |     / _ \| '_ \ | __|/ _ \| '__|   / /   |  _ <  / _ \ | __|| __|/ _ \ | '_ ` _ \ 
	//    | || (_) || |_) |  / /    | |____|  __/| | | || |_|  __/| |     / /    | |_) || (_) || |_ | |_| (_) || | | | | |
	//    |_| \___/ | .__/  /_/      \_____|\___||_| |_| \__|\___||_|    /_/     |____/  \___/  \__| \__|\___/ |_| |_| |_|
	//              | |                                                                                                   
	//              |_|                                                                                                   
		.top{
			float:left;
			width:100%;
			text-align: center;

			.icon-container{
				position: relative;
				overflow: hidden;
			  text-align: center;
			} // end .icon-container

			.meta{
				margin-top: px-em(8px);
			
				.p4{
					margin:0;
				} // end p4

				.user,
				.title,
				.timestamp{
					display: inline-block;
				}
	
				.user{
					padding-right: px-em(10px);
					color:$gray20;
				} // end .user
		
				.timestamp{
					color:$gray40;
				} // end .timestamp

			} // end .meta

		} // top


		.center{
			width:100%;
		} // center
		
		.content{
			width:100%;
		} // content

		.bottom{
			position: absolute;
			bottom:0;
			left:0;
			width:100%;
			text-align: center;
		} // bottom


	//  .d8888b.                                           888     888          d8b                   
	// d88P  Y88b                                          888     888          Y8P                   
	// Y88b.                                               888     888                                
	//  "Y888b.    .d88b.  88888b.  888  888 .d8888b       Y88b   d88P  .d88b.  888  .d8888b  .d88b.  
	//     "Y88b. d88""88b 888 "88b 888  888 88K            Y88b d88P  d88""88b 888 d88P"    d8P  Y8b 
	//       "888 888  888 888  888 888  888 "Y8888b. 888888 Y88o88P   888  888 888 888      88888888 
	// Y88b  d88P Y88..88P 888  888 Y88b 888      X88         Y888P    Y88..88P 888 Y88b.    Y8b.     
	//  "Y8888P"   "Y88P"  888  888  "Y88888  88888P'          Y8P      "Y88P"  888  "Y8888P  "Y8888  
	//                                   888                                                          
	//                              Y8b d88P                                                          
	//                               "Y88P"                                                           
	.sonys-voice{
		position: relative;


		//  _______                                 
		// |__   __|                                
		//    | |  ___   _ __                       
		//    | | / _ \ | '_ \                      
		//    | || (_) || |_) |                     
		//    |_| \___/ | .__/                      
		//              | |                         
		//              |_|                                                                 


		.fonticon-10-dot{
				font-size:px-em(56px); 
				width:100%;
				color:$white;
				z-index: 1;
		} // background white dot

		.fonticon-15-facebook,
		.fonticon-15-twitter,
		.fonticon-15-instagram {
			// font-size: px-em(26px);
			position: absolute;
			top: px-em(10px); 
			left: 0;
			z-index: 2;
			width:100%;
		} // end .fonticons

		.fonticon-15-twitter{color:$twitterColor;} // end .fonticon-15-twitter
		.fonticon-15-facebook{color:$facebookColor;} // end .fonticon-15-facebook

		//   _____              _                   
		//  / ____|            | |                  
		// | |      ___  _ __  | |_  ___  _ __      
		// | |     / _ \| '_ \ | __|/ _ \| '__|     
		// | |____|  __/| | | || |_|  __/| |        
		//  \_____|\___||_| |_| \__|\___||_|        
		.center{
			height: 69.75%;
		} // center

		.bq4{
			p{
				color:$secondarySlateDark;
			} //p 

		}// bq4
		
		.bq5{
			margin-top: px-em(22px); 
			p{
				margin-bottom:0;
				color:$secondarySlateDark;
			} //p 

		} //bq5

		.instagram{
			background-color: $white;
			height:217px;
			padding:0;
			overflow: hidden;

			.left,
			.right{
				display: inline-block;
				overflow: hidden;
				height:100%;

				.iq-img{
					width:100%;
					background-size: cover;
					background-position: center center;
					background-repeat: no-repeat;
				} //iq-img

			} // left/right

			.left{
				padding: px-em(10px) px-em(5px) px-em(15px) px-em(10px); // 15px on bottom to account for 5px on .last
				width:40%; 

				.mobile-only{
					display: none;
				}

				.last{
					margin-top: px-em(5px);
				} // last

				.iq-img{
					height:50%;				
				}// iq-img

			} // left

			.right{
				display: inline-block;	
				padding: px-em(10px) px-em(10px) px-em(10px) 0;
				width:60%; 

				.iq-img{
					height:100%;
				}// iq-img
				
			} // right

		} // instagram

	} // sonys voice



	// 8888888888 888 d8b          888              
	// 888        888 Y8P          888              
	// 888        888              888              
	// 8888888    888 888  .d8888b 888  888 888d888 
	// 888        888 888 d88P"    888 .88P 888P"   
	// 888        888 888 888      888888K  888     
	// 888        888 888 Y88b.    888 "88b 888     
	// 888        888 888  "Y8888P 888  888 888     

	.flickr{		
		position: relative;

		//  _______                                 
		// |__   __|                                
		//    | |  ___   _ __                       
		//    | | / _ \ | '_ \                      
		//    | || (_) || |_) |                     
		//    |_| \___/ | .__/                      
		//              | |                         
		//              |_|  
		
		.icon-container{
			.fonticon-10-dot{
				display: block;
			}

			.bg{				
				width:100%;
				height:100%;
				color:$white;
				font-size:2.8em;
			} // bg

			.left,
			.right{
				position: absolute;
				top:px-em(14px);
				width:50%;

				.fonticon-10-dot{
					font-size: 0.84em;
				} // fonticon-10-dot

			} //left/right

			.left{ 				
				left:0;
				text-align: right;
				color:$flickrBlueColor;
			} // left
			
			.right{				
				right:0;
				text-align: left;
				color:$flickrPinkColor;
			 } // right

		} // icon-container

		.meta{
		  margin-top: px-em(8px); 
		  
		  .p4{
		  	margin-bottom:0;
		  } // p4

		  .user{
		  	padding-right: px-em(10px);
		  	color:$gray20;
		  } // user

		} // end .meta
		
		
		
		//   _____              _                   
		//  / ____|            | |                  
		// | |      ___  _ __  | |_  ___  _ __      
		// | |     / _ \| '_ \ | __|/ _ \| '__|     
		// | |____|  __/| | | || |_|  __/| |        
		//  \_____|\___||_| |_| \__|\___||_|        
		.center{
			height: 71.55%;
		} // center


		.flickr-container{
			background-color: $white;
			height:215px;
			width:100%;
			padding:10px px-em(10px);
		} // .flickr-container

		.top-row,
		.bottom-row{
			height:50%;
			width:100%;
		}

		.iq-img{
			display: inline-block;
			width:31.33333%;
			margin-left:5px;
			height:100%;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;

			&:first-child{
				margin-left:0;
			}
		
		} //iq-img

		.top-row{
			padding-bottom:5px;
			// padding: px-em(10px) px-em(10px) px-em(5px) px-em(10px); 
		} // end .top-row
		
		.bottom-row{
			display:block;
			padding:0;
			// padding: px-em(5px) px-em(10px) px-em(10px) px-em(10px); 
		} // end .bottom-row

	} // flickr

} // tcc-module