---
title: Editorial Module
description: This is the Editorial Module, it contains text and media elements which can be nested modules.
---
include ../partials/includes/jade-helpers.jade
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals": locals}
  head
    !{partial('includes/head.html.jade', l)}

  body
    +partial('editorial-e1-e15.html.jade', 'editorial-e1-e15/default.json')
  
    !{partial('includes/foot.html.jade', l)}
    
</html>