---
title: Example Container Module Eco
description: This is a sample module showing how to construct a module that contains other modules. 
---
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
	!{partial('includes/head.html.jade', l)}

body
	e = {"locals":locals, "data":data('example_container/default.json')}
	!{partial('modules/example_container.html.jade', e)}

	!{partial('includes/foot.html.jade', l)}