
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
  !{partial('includes/head.html.jade', l)}

body
  #page-wrap-outer.page-wrap-outer
    #page-wrap-inner.page-wrap-inner

      e = {"locals":locals, "data":data('gallery-g2-g3/camera-overflow.json')}
      !{partial('modules/gallery-filters.html.jade', e)}


  //- script(src="js/libs/bootstrap-transition.js")

  !{partial('includes/foot.html.jade', l)}
