---
title: G2-G3. Gallery Module / Page / Compare Gallery Tool
description:
---
include ../partials/includes/jade-helpers.jade
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
  !{partial('includes/head.html.jade', l)}

body

  //- Gallery
  e = {"locals":locals, "data":data('gallery-g2-g3/default.json')}
  //- e = {"locals":locals, "data":data('gallery-g2-g3/gallery-g2-g3-tv.json')}
  !{partial('modules/gallery-g2-g3.html.jade', e)}


  script(src="js/libs/jquery.infinitescroll.js")
  script(src="js/libs/bootstrap-transition.js")
  script(src="js/libs/bootstrap-button.js")
  script(src="js/libs/bootstrap-dropdown.js")
  script(src="js/libs/bootstrap-collapse.js")
  script(src="js/libs/bootstrap-tooltip.js")
  script(src="js/libs/bootstrap-popover.js")
  script(src="js/libs/bootstrap-modal.js")

  !{partial('includes/foot.html.jade', l)}
