---
title: Primary Tout Module
description: This is the Primary Tout Module, it contains text and media elements which can be nested modules.
---
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
  head
    !{partial('includes/head.html.jade', l)}
  
  body
    e = {"locals":locals, "data":data('primary_tout/homepage.json')}
    !{partial('modules/primary_tout.html.jade', e)}
  
    !{partial('includes/foot.html.jade', l)}
</html>