---
title: G1 Related Products
description:
---
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
  !{partial('includes/head.html.jade', l)}

body
  e = {"locals":locals, "data":data('related-products-g1/homepage.json')}
  !{partial('modules/related-products-g1.html.jade', e)}

!{partial('includes/foot.html.jade', l)}