---
title: Spec Module
description: A comparison view of specifications
---
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
  !{partial('includes/head.html.jade', l)}

body
  #page-wrap-outer.page-wrap-outer
    #page-wrap-inner.page-wrap-inner

      e = {"locals":locals, "data":data('spec-single-z1/default.json')}
      !{partial('modules/spec-single-z1.html.jade', e)}


  script(src="js/libs/bootstrap-transition.js")

  !{partial('includes/foot.html.jade', l)}