---
title: Tertiary Module Layout: Default/News/Event Article (T2.A, C, D)
description: This shows the article layout for the Tertiary Module in News, Event, and Default layouts
---

doctype 5

!{partial('includes/ieconditionals.html')}

l = {"locals":locals}

head
  !{partial('includes/head.html.jade', l)}

body

	e = {"locals":locals, "data":data('tertiary-t1-t5/article-t2-a-c-d.json')}
	!{partial('modules/tertiary-t1-t5.html.jade', e)}
 
	!{partial('includes/foot.html.jade', l)}

</html>