---
title: T3. Tertiary Module: User's Voice - Expert Quote, User Quote, Question
description: 
---

doctype 5

!{partial('includes/ieconditionals.html')}

l = {"locals":locals}

head
  !{partial('includes/head.html.jade', l)}

body

	h2.tcc-layouts
		| T3. Users' Voice: Expert Quote, User Quote, Question
		
	e = {"locals":locals, "data":data('tertiary-t1-t5/users-voice-t3-a-b-c.json')}
	!{partial('modules/tertiary-t1-t5.html.jade', e)}
 
	!{partial('includes/foot.html.jade', l)}

</html>