//
// Responsive: Secondary Touts
// --------------------------------------------------

// ------------------------------------------------
// MOBILE-LARGE (somewhere between tablet & mobile)
// ------------------------------------------------
//  8888888888  .d8888b.  8888888888                         .d8888b.                                  888
//        d88P d88P  Y88b       d88P                        d88P  "88b                                 888
//       d88P  888             d88P                         Y88b. d88P                                 888
//      d88P   888d888b.      d88P  88888b.  888  888        "Y8888P"           888  888 88888b.   .d88888  .d88b.  888d888
//   88888888  888P "Y88b  88888888 888 "88b `Y8bd8P'       .d88P88K.d88P       888  888 888 "88b d88" 888 d8P  Y8b 888P"
//    d88P     888    888   d88P    888  888   X88K         888"  Y888P"        888  888 888  888 888  888 88888888 888
//   d88P      Y88b  d88P  d88P     888 d88P .d8""8b.       Y88b .d8888b        Y88b 888 888  888 Y88b 888 Y8b.     888
//  d88P        "Y8888P"  d88P      88888P"  888  888        "Y8888P" Y88b       "Y88888 888  888  "Y88888  "Y8888  888
//                                  888
//                                  888
//                                  888
// ------------------------------------------------

@media (max-width: 767px) {

.secondary-tout {

  .st-container {

    .st-content {

      .st-item {
        height: 300px;
      }
    }
  }
}

}

// ------------------------------------------------
// LANDSCAPE PHONE AND BELOW
// ------------------------------------------------
//     d8888  8888888888  .d8888b.                           .d8888b.                                  888
//    d8P888        d88P d88P  Y88b                         d88P  "88b                                 888
//   d8P 888       d88P  888    888                         Y88b. d88P                                 888
//  d8P  888      d88P   Y88b. d888 88888b.  888  888        "Y8888P"           888  888 88888b.   .d88888  .d88b.  888d888
// d88   888   88888888   "Y888P888 888 "88b `Y8bd8P'       .d88P88K.d88P       888  888 888 "88b d88" 888 d8P  Y8b 888P"
// 8888888888   d88P            888 888  888   X88K         888"  Y888P"        888  888 888  888 888  888 88888888 888
//       888   d88P      Y88b  d88P 888 d88P .d8""8b.       Y88b .d8888b        Y88b 888 888  888 Y88b 888 Y8b.     888
//       888  d88P        "Y8888P"  88888P"  888  888        "Y8888P" Y88b       "Y88888 888  888  "Y88888  "Y8888  888
//                                  888
//                                  888
//                                  888
// ------------------------------------------------

@media (max-width: 479px) {

.secondary-tout {

  .st-container {

    .st-content {

      .st-item {
        height: 220px;

        .st-item-content {
          left: 6%;
        }
      }
    }
  }
}

}
