@media (max-width: px-em( 767 ) ) {
  .rv-module {
    margin: px-em( 30 ) 0 px-em( 40 );

    // Needs to be specific enough to override the mobile grid
    .sony-carousel .slimgrid .gallery-item {
      width: px-em( 132 );
      margin-left: px-em( 12 );
    }

    .sony-carousel .sony-carousel-slide:first-child .gallery-item:first-child {
      margin-left: 0;
    }

    .m-container {
      margin-top: px-em( 20 );
    }

    .sony-carousel-wrapper {
      overflow: visible;
    }

    .sony-carousel .sony-carousel-slide,
    .sony-carousel .container,
    .sony-carousel .slimgrid {
      width: auto;
    }
  }
}