@media (max-width: px-em( 767 ) ) {
  .rv-module {
    margin: px-em( 30 ) 0 px-em( 40 );

    .sony-carousel .gallery-item {
      width: px-em( 132 );
      margin-left: px-em( 12 );
    }

    .m-container {
      margin-top: px-em( 20 );
    }

    .sony-carousel-wrapper {
      overflow: visible;
    }

    .sony-carousel .sony-carousel-slide,
    .sony-carousel .container,
    .sony-carousel .slimgrid {
      width: auto;
    }

    .sony-carousel-slide {
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}