@media (max-width: px-em( 767 ) ) {
  .rv-module {
    margin: px-em( 30 ) 0 px-em( 40 );

    .sony-carousel {
      width: 2000px; // js will override this
    }

    .sony-carousel .sony-carousel-slide {
      -webkit-transform: none;
      width: 900px; // js will override this
    }

    // Needs to be specific enough to override the mobile grid
    .sony-carousel .slimgrid .gallery-item {
      width: px-em( 132 );
      margin-left: px-em( 12 );
    }

    .sony-carousel .sony-carousel-slide:first-child .gallery-item:first-child {
      margin-left: 0;
    }

    .m-container {
      margin-top: px-em( 20 );
    }

    .sony-carousel-wrapper {
      overflow: visible;
      @include clearfix(); // Have clearfix before the .grid class is added
    }

    .sony-carousel .container,
    .sony-carousel .slimgrid {
      width: auto;
    }
  }
}