@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.rv-module {
  margin: px-em( 50 ) 0 px-em( 70 ); // this includes the nav dots cause they're positioned absolutely

  .rv-title {
    margin-bottom: 0;
  }

  .m-container {
    margin-top: px-em( 25 );
  }

  .sony-carousel-wrapper {
    height: auto;
  }

  .sony-nav-dot {
    margin-top: px-em( 60 );
  }
}