doctype 5
!{partial('includes/ieconditionals.html')}

!{partial('includes/docs-head.html')}
body( data-spy = "scroll", data-target = ".bs-docs-sidebar" )
  !{partial('includes/docs-nav.html')}
      
  header.jumbotron.subhead#overview
    div.container-px-width
      h1.bs-docs-heading Customize
      p This will be where you can choose modules to create a custom page. This is just a shell now, ready for updating.
  div.container-px-width
    form
      section.download#components
        div.page-header
          a.btn.btn-small.pull-right.toggle-all(href='#') Toggle all
          h3.bs-docs-heading 1. Choose components
        div.grid.download-builder
          div.span4
            h4.bs-docs-heading Heading
            label.checkbox
              input(checked='checked',type='checkbox',value='a')
              | a
            label.checkbox
              input(checked='checked',type='checkbox',value='b')
              | b
            label.checkbox
              input(checked='checked',type='checkbox',value='c')
              | c
            label.checkbox
              input(checked='checked',type='checkbox',value='d')
              | d
            h4.bs-docs-heading Heading
            label.checkbox
              input(checked='checked',type='checkbox',value='e')
              | e
            label.checkbox
              input(checked='checked',type='checkbox',value='f')
              | f
            label.checkbox
              input(checked='checked',type='checkbox',value='g')
              | g
            label.checkbox
              input(checked='checked',type='checkbox',value='h')
              | h
            label.checkbox
              input(checked='checked',type='checkbox',value='i')
              | i
            label.checkbox
              input(checked='checked',type='checkbox',value='j')
              | j
            label.checkbox
              input(checked='checked',type='checkbox',value='k')
              | k
          div.span4
            h4.bs-docs-heading Heading
            label.checkbox
              input(checked='checked',type='checkbox',value='a')
              | a
            label.checkbox
              input(checked='checked',type='checkbox',value='b')
              | b
            label.checkbox
              input(checked='checked',type='checkbox',value='c')
              | c
            label.checkbox
              input(checked='checked',type='checkbox',value='d')
              | d
            h4.bs-docs-heading Heading
            label.checkbox
              input(checked='checked',type='checkbox',value='e')
              | e
            label.checkbox
              input(checked='checked',type='checkbox',value='f')
              | f
            label.checkbox
              input(checked='checked',type='checkbox',value='g')
              | g
            label.checkbox
              input(checked='checked',type='checkbox',value='h')
              | h
            label.checkbox
              input(checked='checked',type='checkbox',value='i')
              | i
            label.checkbox
              input(checked='checked',type='checkbox',value='j')
              | j
            label.checkbox
              input(checked='checked',type='checkbox',value='k')
              | k
          div.span4
            h4.bs-docs-heading Heading
            label.checkbox
              input(checked='checked',type='checkbox',value='a')
              | a
            label.checkbox
              input(checked='checked',type='checkbox',value='b')
              | b
            label.checkbox
              input(checked='checked',type='checkbox',value='c')
              | c
            label.checkbox
              input(checked='checked',type='checkbox',value='d')
              | d
            h4.bs-docs-heading Heading
            label.checkbox
              input(checked='checked',type='checkbox',value='e')
              | e
            label.checkbox
              input(checked='checked',type='checkbox',value='f')
              | f
            label.checkbox
              input(checked='checked',type='checkbox',value='g')
              | g
            label.checkbox
              input(checked='checked',type='checkbox',value='h')
              | h
            label.checkbox
              input(checked='checked',type='checkbox',value='i')
              | i
            label.checkbox
              input(checked='checked',type='checkbox',value='j')
              | j
            label.checkbox
              input(checked='checked',type='checkbox',value='k')
              | k
  !{partial('includes/docs-foot.html')}
</html>