doctype 5
!{partial('includes/ieconditionals.html')}

!{partial('includes/docs-head.html')}
body( data-spy = "scroll", data-target = ".bs-docs-sidebar" )
  !{partial('includes/docs-nav.html')}
  
  header.jumbotron.subhead#overview
    div.container-px-width
      h2.bs-docs-heading Extending Bootstrap
      p.p1
        | Extend Bootstrap to take advantage of included styles and components, as well as LESS variables and mixins.
      div
  div.container-px-width
    div.grid
      div.span3.bs-docs-sidebar
        ul.simple-nav.simple-nav-list.bs-docs-sidenav
          li
            a(href='#built-with-less')
              i.icon-chevron-right
              | Built with LESS
          li
            a(href='#compiling')
              i.icon-chevron-right
              | Compiling Bootstrap
          li
            a(href='#static-assets')
              i.icon-chevron-right
              | Use as static assets
      div.span9
        section#built-with-less
          h2.bs-docs-heading Built with LESS
          img(style='float: right; height: 36px; margin: 10px 20px 20px',src='img/less-logo-large.png',alt='LESS CSS')
          p.p1
            | Bootstrap is made with LESS at its core, a dynamic stylesheet language created by our good friend, 
            a(href='http://cloudhead.io') Alexis Sellier
            | . It makes developing systems-based CSS faster, easier, and more fun.
          h4.bs-docs-heading Why LESS?
          p
            | One of Bootstrap's creators wrote a quick 
            a(href='http://www.wordsbyf.at/2012/03/08/why-less/') blog post about this
            | , summarized here:
          ul
            li
              | Bootstrap compiles faster ~6x faster with Less compared to Sass
            li
              | Less is written in JavaScript, making it easier to us to dive in and patch compared to Ruby with Sass.
            li
              | Less is more; we want to feel like we're writing CSS and making Bootstrap approachable to all.
          h4.bs-docs-heading What's included?
          p
            | As an extension of CSS, LESS includes variables, mixins for reusable snippets of code, operations for simple math, nesting, and even color functions.
          h4.bs-docs-heading Learn more
          p
            | Visit the official website at 
            a(href='http://lesscss.org') http://lesscss.org
            | to learn more.
        section#compiling
          h2.bs-docs-heading Compiling Bootstrap with Less
          p.p1
            | Since our CSS is written with Less and utilizes variables and mixins, it needs to be compiled for final production implementation. Here's how.
          div.alert.alert-info
            strong Note:
            | If you're submitting a pull request to GitHub with modified CSS, you
            strong must
            | recompile the CSS via any of these methods.
          h3.bs-docs-heading Tools for compiling
          h4.bs-docs-heading Node with makefile
          p
            | Install the LESS command line compiler, JSHint, Recess, and uglify-js globally with npm by running the following command:
          pre $ npm install -g less jshint recess uglify-js
          p
            | Once installed just run 
            code
              | make
            | &nbsp;from the root of your bootstrap directory and you're all set.
          p
            | Additionally, if you have 
            a(href='https://github.com/mynyml/watchr') watchr
            | installed, you may run 
            code
              | make watch
            | &nbsp;to have bootstrap automatically rebuilt every time you edit a file in the bootstrap lib (this isn't required, just a convenience method).
          h4.bs-docs-heading Command line
          p
            | Install the LESS command line tool via Node and run the following command:
          pre $ lessc ./less/bootstrap.less &gt; bootstrap.css
          p
            | Be sure to include 
            code
              | --compress
            | &nbsp;in that command if you're trying to save some bytes!
          h4.bs-docs-heading Javascript
          p
            a(href='http://lesscss.org/') Download the latest Less.js 
            | and include the path to it (and Bootstrap) in the 
            code
              | &lt;head&gt;
            | .
          pre.prettyprint
            | &lt;link rel="stylesheet/less" href="/path/to/bootstrap.less"&gt;
            | &lt;script src="/path/to/less.js"&gt;&lt;/script&gt;
          p
            | To recompile the .less files, just save them and reload your page. Less.js compiles them and stores them in local storage.
          h4.bs-docs-heading Unofficial Mac app
          p
            a(href='http://incident57.com/less/') The unofficial Mac app 
            | watches directories of .less files and compiles the code to local files after every save of a watched .less file. If you like, you can toggle preferences in the app for automatic minifying and which directory the compiled files end up in.
          h4.bs-docs-heading More apps
          h5.bs-docs-heading
            a(href='http://crunchapp.net/',target='_blank') Crunch
          p
            | Crunch is a great looking LESS editor and compiler built on Adobe Air.
          h5.bs-docs-heading
            a(href='http://incident57.com/codekit/',target='_blank') CodeKit
          p
            | Created by the same guy as the unofficial Mac app, CodeKit is a Mac app that compiles LESS, SASS, Stylus, and CoffeeScript.
          h5.bs-docs-heading
            a(href='http://wearekiss.com/simpless',target='_blank') Simpless
          p
            | Mac, Linux, and Windows app for drag and drop compiling of LESS files. Plus, the 
            a(href='https://github.com/Paratron/SimpLESS',target='_blank') source code is on GitHub
            | .
        section#static-assets
          h2.bs-docs-heading Use as static assets
          p.p1
            a(href='./getting-started.html') Quickly start 
            | any web project by dropping in the compiled or minified CSS and JS. Layer on custom styles separately for easy upgrades and maintenance moving forward.
          h4.bs-docs-heading Setup file structure
          p
            | Download the latest compiled Bootstrap and place into your project. For example, you might have something like this:
          pre.prettyprint
            | app/
            | ├── layouts/
            | └── templates/
            | public/
            | ├── css/
            | │   ├── bootstrap.min.css
            | ├── js/
            | │   ├── bootstrap.min.js
            | └── img/
            | ├── glyphicons-halflings.png
            | └── glyphicons-halflings-white.png
          h4.bs-docs-heading Utilize starter template
          p
            | Copy the following base HTML to get started.
          pre.prettyprint.linenums
            | &lt;html&gt;
            |   &lt;head&gt;
            |     &lt;title&gt;Bootstrap 101 Template&lt;/title&gt;
            |     &lt;!-- Bootstrap --&gt;
            |     &lt;link href="public/css/bootstrap.min.css" rel="stylesheet"&gt;
            |   &lt;/head&gt;
            |   &lt;body&gt;
            |     &lt;h1&gt;Hello, world!&lt;/h1&gt;
            |     &lt;!-- Bootstrap --&gt;
            |     &lt;script src="public/js/bootstrap.min.js"&gt;&lt;/script&gt;
            |   &lt;/body&gt;
            | &lt;/html&gt;
          h4.bs-docs-heading Layer on custom code
          p
            | Work in your custom CSS, JS, and more as necessary to make Bootstrap your own with your own separate CSS and JS files.
          pre.prettyprint.linenums
            | &lt;html&gt;
            |   &lt;head&gt;
            |     &lt;title&gt;Bootstrap 101 Template&lt;/title&gt;
            |     &lt;!-- Bootstrap --&gt;
            |     &lt;link href="public/css/bootstrap.min.css" rel="stylesheet"&gt;
            |     &lt;!-- Project --&gt;
            |     &lt;link href="public/css/application.css" rel="stylesheet"&gt;
            |   &lt;/head&gt;
            |   &lt;body&gt;
            |     &lt;h1&gt;Hello, world!&lt;/h1&gt;
            |     &lt;!-- Bootstrap --&gt;
            |     &lt;script src="public/js/bootstrap.min.js"&gt;&lt;/script&gt;
            |     &lt;!-- Project --&gt;
            |     &lt;script src="public/js/application.js"&gt;&lt;/script&gt;
            |    &lt;/body&gt;
            | &lt;/html&gt;
  !{partial('includes/docs-foot.html')}
</html>