doctype 5
!{partial('includes/ieconditionals.html')}

!{partial('includes/docs-head.html')}
body( data-spy = "scroll", data-target = ".bs-docs-sidebar" )
  !{partial('includes/docs-nav.html')}

  header.jumbotron.subhead#overview
    div.container
      h1 Base CSS
      p.p1
        | Fundamental HTML element styles
  div.container
    div.grid
      div.span9
        section#typography
          div.bs-docs-example.bs-docs-example-headings
            div.big-bottom-margin
              div
                p.title-docs
                  | SST-Roman
                h5.SST-Roman The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Roman-Italic
                h5.SST-Italic The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Light
                h5.SST-Light The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Light-Italic
                h5.SST-Light-Italic The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Medium
                h5.SST-Medium The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Medium-Italic
                h5.SST-Medium-Italic The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Bold
                h5.SST-Bold The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Bold-Italic
                h5.SST-Bold-Italic The quick brown fox jumps over the lazy dog
  !{partial('includes/docs-foot.html')}
</html>