@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

// ----------------------
// Demo purposes only
// ----------------------
.fs-spacing {
  height: 250px;
}

.fs-spacing,
.fs-module {
  &.in {
    background-color: #FFE5E9 !important;
  }
}

@for $i from 1 through 5 {
  .fs-spacing:nth-of-type(#{$i}) {
    background-color: hsl(0, 0%, $i * 20%);
  }
}

// .fs-module .caption {
//   background: $gray90;

//   .caption-inner {
//     background: $themeBlueLight;
//   }

//   .stat-wrap {
//     background: $gray70;
//   }

//   .caption-body {
//     background: $white;
//   }
// }

// ---------------------------------------------
// End demo styles
// ---------------------------------------------



$captionPadding: 18px;
$carouselHeight: 758px;

$topPadding: 137px; // 145 with line-height
$editorialTopPadding: 82px; // 90 with line-height

$navDotFromBtm: 40px;
$captionFromNavDots: 40px;
$editorialNavDotFromBtm: 60px;

$copyBtmMargin: 50px;

$editorialImgSize: 600px;

$DOT_SIZE: 16px;

.fs-module {
  position: relative;

  &.gray {
    background:$gray80;
  }

  .fs-backdrop {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .box {
    position: absolute;
    z-index: 1;
    top: $topPadding;
    left: 0;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .fs-carousel-wrapper {
    position: relative;
    z-index: 2;
    height: $carouselHeight;
  }

  // Put copy grid above the carousel
  .copy-grid {
    position: relative;
    z-index: 3;
  }

  .fs-carousel {
    position: relative;
    z-index: 1;
  }

  // Above carousel
  .pagination-paddles,
  .sony-dot-nav {
    z-index: 2;
  }

  // Center paddles
  .pagination-paddles {
    left: 0;
    right: 0;
  }


  // Get height from parent
  .fs-carousel,
  .fs-carousel-slide {
    height: inherit;
  }

  .fs-slide {
    position: relative;
    overflow: hidden;
  }

  .fs-slide-inner {
    @include fill-parent();
  }

  .fs-slide .iq-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }


  // Captions
  .caption {
    position: absolute;
    bottom: $navDotFromBtm + $DOT_SIZE + $captionFromNavDots;
    left: 0;
    right: 0;

    // For fading in
    opacity: 1;
    @include transition( .2s ease-out );
  }

  // Will get width from javascript
  .caption .caption-inner {
    margin: auto; // center
  }

  .stat-wrap {
    position: relative;
    padding-right: $captionPadding;
    margin-right: $captionPadding;

    // Gray divider
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -25px;
      display: block;
      height: 50px;
      width: 1px;
      background: $gray60;
    }
  }

  // Zero margin on value and units
  .caption .stat {
    color: $secondaryMint;
    margin: 0;
    line-height: 0.85; // vertical align getting thrown off by this font-size and line height
  }

  .stat.unit {
    font-variant: small-caps;
  }

  .sony-dot-nav {
    margin: 0;
  }

  .sony-dot-nav .pagination-bullets {
    bottom: $navDotFromBtm;
  }
}


// Editorial mode
.fs-editorial {
  padding-top: $editorialTopPadding;

  .box {
    position: static;
  }

  .copy-grid {
    margin-bottom: $copyBtmMargin;
  }

  .fs-slide .iq-img {
    background-size: contain;
    height: percentage( $editorialImgSize / $carouselHeight ); // give room for static positioned captions
  }

  // .fs-slide-inner has .container on it in editorial mode
  .caption {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: 100%;
  }

  .sony-dot-nav {
    margin-top: -($editorialNavDotFromBtm + $DOT_SIZE);
  }

  .sony-dot-nav .pagination-bullets {
    position: static;
  }
}





// IE8 and 7 styles
.lt-ie9 .fs-module {

}

// IE7 styles
// Mostly that IE7 doesn't support 'inherit' as a css value
.lt-ie8 .fs-module {

  .fs-carousel,
  .fs-carousel-slide {
    height: $carouselHeight;
  }
}

.lt-ie8 .fs-slideshow {

  // background image needs height
  .fs-slide .iq-img {
    height: $carouselHeight;
  }
}

.lt-ie8 .fs-editorial {

  .fs-slide .iq-img {
    height: $editorialImgSize;
  }

  // Has container class. That combined with auto margins fail in IE7
  .fs-slide-inner {
    left: 50%;
    right: auto;
    margin-left: ( -980px / 2 );
  }
}



