textarea,
textarea[class*="span"],
textarea:focus{
	font-family: "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, monospace;
	font-size: 12px;
	line-height: 1.4;
	color:#2f353d;
	margin-top:30px;
	margin-left:20px;
}

select{	
	color: #83838f;	
}
#build{
	font-size: 0.8666666667em;
	padding:8px 0 11px;
}
#buttons{
	margin-top:40px;
	background:none;
}
.modal{
	width:800px;
	margin-left:-400px;
	margin-top:-400px;
}
.modal-body{
	max-height:none;
}
#edit_box textarea{
	min-width: 750px;
	margin-left:0;
}
#main_data textarea{
	min-width: 730px;
}
.row{
	padding:8px 0;
	background:#eeeeee;
}
#submodule_list li:nth-child(odd) .row{
	background:#f5f5f5;
}
#submodule_list{
	margin:0;
	
}
