textarea,
textarea:focus{
	font-family: "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, monospace;
	font-size: 12px;
	line-height: 1.4;
	color:#2f353d;
	margin-top:30px;
}
textarea[class*="span"]{
	margin-left:20px;
}
select{	
	color: #83838f;	
}
#build{
	margin-top:50px;
}
