@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$phone: px-em(568);
$phoneMax: px-em(767);
$tabletMin: px-em(768);
$tabletMax: px-em(979);
$desktopMin: px-em(980);

@media ( max-width: $phone ) {
    .module-li {
      .module-margin {
        margin-left: 0;
        height: auto;
      }
      .box {
        margin: 40px 0 40px 0;
        h1 {
          margin-bottom: 26px;
        }
      }
    }
   
   .btn-holder {
    .btn {
      display: block;
      margin-bottom: 14px;
    }
  }
  .module-li-main {
    padding: 32px 0 14px 0;
    .module-text-box {
      width: 100%;
      margin-bottom: 52px;
    }
  }

}

@media ( max-width: $phoneMax ) {
  .module-li {
    .module-margin {
      margin-left: 3.52941%;
      height: auto;
    }
    .box {
      margin: 48px 0 47px 0;
      h1 {
        margin-bottom: 26px;
      }
    }
  }
  .btn-holder {
    .btn {
      margin-right: 15px;
    }
  }
  .module-li-main {
    padding: 45px 0 65px 0;
    .module-text-box {
      width: 100%;
    }
  }
}

@media ( max-width: $tabletMax ) {
  .module-li-main {
    .module-text-box {
      width: 100%;
    }
  }

}

@media ( max-width: $desktopMin ) {
  .module-li {
    .module-margin {
      margin-left: 3.52941%;
    }
  }
}
