@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.language-interstitial {
  .module-li-bg {
    background-color: $secondarySlateDark;
  }
  
  .image-module{
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 300px;
  }
  .display-table {
    display: table;
  }
  .display-table-cell {
    display: table-cell;
    vertical-align: middle;
  }
  
  .box {
    margin: 48px 0 47px 0;
    height: 205px;
    width: 100%;
    h1 {
      color: $white;
      margin-bottom: 26px;
    }
  }
  .btn-holder {
    .btn {
      margin-right: 20px;
    }
  }
  .module-li-main {
    padding: 60px 0 70px 0;
    p.language-interstitial-text {
      color: $gray40;
    }
    .module-text-box {
      width: 100%;
      .language-interstitial-hdg {
        color: $gray20;
      }
    }
  }
}





