@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.module-li {
  .module-li-bg {
    background-color: #414c6b;
  }
  .module-margin {
    margin-left: 3.52941%;
    height: 300px;
  }
  .box {
    margin: 48px 0 47px 0;
    h1 {
      color: $white;
      margin-bottom: 26px;
    }
  }
}

.btn-holder {
  .btn {
    margin-right: 20px;
  }
}

.module-li-main {
  padding: 60px 0 70px 0;
  p {
    color: $gray40;
  }
  .module-text-box {
    width: 478px;
  }
}





