@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.module-li {
  .module-li-bg {
    background-color: #4a5676;
  }
  .hero-image {
    height: 300px;
  }
  .image-module{
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .inner {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  .box {
    margin: 48px 0 47px 0;
    h1 {
      color: $white;
      margin-bottom: 26px;
    }
  }
}

.btn-holder {
  .btn {
    margin-right: 20px;
  }
}

.module-li-main {
  padding: 60px 0 70px 0;
  p {
    color: $gray40;
  }
  .module-text-box {
    width: 478px;
  }
}





