
@media ( max-width: px-em(767px) ) {
  .ps-module {

    .product-attributes,
    .price-content,
    .inline-details .color-swatches {
      padding: 0;
    }

    .product-details {
      padding-top: px-em(24);
      padding-bottom: 0;
    }

    #desktop-sticky-price,
    .spacer,
    .product-img-wrap,
    .jump-links,
    .review-text {
      display: none !important; // override grid -_-
    }

    .product-attribute,
    .product-model {
      display: block;
    }

    .m-product-img,
    .inline-details {
      display: inline-block;
    }

    .inline-details .color-swatches,
    .product-attributes,
    .price-content > .text-right {
      float: none;
    }

    .price-content > .text-right,
    .price-text {
      text-align: left;
    }

    .be-social {
      position: static;
      width: 100%;
      margin-top: 2px;
      text-align: center;
      padding-bottom: px-em(26);
    }

    .be-social > a {
      width: auto;
    }

    .price-content .btn {
      clear: both;
    }

    .price-content > .text-right {
      margin: 0 0 px-em(14);
    }

    .share-trigger {
      margin-left: 1.25em;
    }

    .product-title {
      margin-bottom: px-em(4, 18);
    }

    .inline-details {
      margin-bottom: 0;
    }

    .color-swatches,
    .product-attribute {
      margin-bottom: .5em;
    }

    .inline-details,
    .inline-details .color-swatches {
      margin-top: 0;
    }

  }

  // Sticky nav
  .ps-sticky-nav {

    .product-img {
      margin: px-em(12) px-em(10) 0 0;
      max-width: px-em(50);
      max-height: px-em(50);
    }

    .sticky-nav-title {
      margin-top: px-em(16, 15);
      margin-bottom: px-em(-2, 15);
    }

    .price-text {
      margin: 0 0 1em 0;
    }

    .price-text .price-prefix {
      display: inline;
      margin: 0;
      padding-right: px-em(3, 12);
    }

    .price-text .msrp {
      padding: 0 0 0 px-em(3, 9);
    }

    // Remove grid margin
    .buy-btn {
      width: 17% !important;
      margin: 0 !important;
      float: right !important;
    }

    .btn {
      display: inline-block;
      margin-top: px-em(12, 12);
      margin-bottom: px-em(12, 12);
    }

  }

}
