@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";


.product-summary {

  .product-img-wrap {
    padding-top: px-em(22);

    .ghost-center-wrap {
      height: 100%;
    }
  }

  .product-details {
    padding-top: px-em(34);
    padding-bottom: px-em(41);
  }

  .price-content {
    padding-top: px-em( 53px );
  }


  // Middle column
  // --------------------
  .product-img-wrap .product-img {
    max-width: 141px;
    max-height: 152px;
    width: 100%;

    img {
      max-height: 100%;
    }
  }

  .link-color {
    color: $linkBlue;
  }

  .product-title {
    margin-top: -2px;
    margin-bottom: 6px;
  }

  .m-product-img {
    display: none;
  }

  .spacer {
    padding: 0 10px;
  }

  // Inline details (model | sizes | swatches)
  .inline-details {
    margin-bottom: px-em(3);
  }

  .inline-details > * {
    display: block;
    float: left;
    margin: 0;
  }

  .inline-details .color-swatches {
    margin-top: .25em;
  }


  // Content on the right
  // -----------------------

  .space-right {
    margin-right: 1.25em;
  }

  .space-top {
    margin-top: 1em;
  }

  .price-prefix {
    margin-bottom: -3px;
  }

  .msrp {
    padding-right: 2px;
  }

  .arrow-holder {
    display: inline-block;

    i {
      position: relative;
      top: -(px-em(2));
      vertical-align: baseline;
      padding: 0 0 0 px-em(8, 16);
    }
  }

  .favorite-holder i {
    padding: 0 0 0 px-em(8, 13);
  }

  .fonticon-10-favorite,
  .fonticon-10-arrowhead-down {
    color: $gray50;
  }

  .no-touch & .price-content a:hover > span,
  .no-touch & .price-content a:hover .fonticon-10-arrowhead-down,
  .no-touch & .price-content a:hover .fonticon-10-favorite {
    color: $linkBlue;
  }

  .modal .modal-inner {
    overflow: visible;
  }

  .modal .share-menu {
    display: block;
    position: relative;
    z-index: 1;
    margin: auto;
    float: none;
    width: px-em(203);

    // Hide arrow
    &:before {
      content: none;
    }
  }


}

// Product summary sticky nav
.ps-sticky-nav {
  .product-img {
    margin-top: px-em(6);
    margin-bottom: px-em(6);
    max-width: px-em(96);
    max-height: px-em(60);

    img {
      max-height: 100%;
    }
  }

  .sticky-nav-title {
    margin-top: px-em(22, 18);
    margin-bottom: px-em(12, 18);
    line-height: .9;
  }

  .btn {
    margin-top: px-em(13, 15);
    margin-bottom: px-em(11, 15);
  }

  .price-prefix {
    margin-top: px-em(22, 12);
  }

  .grid {
    position: relative;
  }

  // THIS WILL PROBABLY CHANGE WITH THE BUTTON SIZE
  // .jump-links {
  //   padding-top: 4px;
  // }

  .jump-links {
    position: absolute;
    bottom: 0;
    left: auto;
  }
}





