@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.product-summary {

  .link-color {
    color: $linkBlue;
  }

  .color-swatches {
    display: inline-block;
  }

  .spacer {
    padding: 0 10px;
  }

  .product-details > * {
    margin: 0;
  }

}