.sony-carousel {

  .sony-carousel-slide {
    text-align: center;

    .sony-carousel-slide-children {
      height: 100%;
      padding-top: 60px;

      &:nth-of-type(1) {
        background-color: #ccc;
      }

      &:nth-of-type(2) {
        background-color: #bbb;
      }

      &:nth-of-type(3) {
        background-color: #aaa;
      }

      &.half {
        width: 50%;
        float: left;
      }

      &.third {
        width: 33.33%;
        float: left;
      }
    }
  }
}
