//
// Responsive: Tablet to desktop
// --------------------------------------------------
//
// This space intentionally left blank.
// so these classes will line up through all the responsive files.
//
//
//
//
@media (min-width: 768px) and (max-width: 979px) {

  // Fluid grid
  .container {
    width: $fluidContainerWidth768;
	}
  .grid {
    width: $fluidGridWidth768;
  }
  @include grid-fluid($fluidGridColumnWidth768, $fluidGridGutterWidth768);


  // Fixed grid
  .container-px-width{  
    width: $containerWidth768;
  }
  .grid-px-width{
    width: $gridWidth768;
  }
  @include grid-core($gridColumnWidth768, $gridGutterWidth768);
  // Input grid
  @include grid-input($gridColumnWidth768, $gridGutterWidth768);

  // No need to reset .thumbnails here since it's the same $gridGutterWidth

}

@media (min-width:768px) {
  .grid5 {
    @include grid-fluid($fluidGrid5ColWidth, $fluidGrid5GutterWidth, $grid5Columns);
  }

  .grid99 {
    @include grid-fluid($fluidGrid5ColWidth, $fluidGrid5GutterWidth, $grid5Columns);
  }
}