//
// Responsive: Tablet to desktop (default)
// --------------------------------------------------
.container,
.container-px-width,
.grid,
.grid-px-width,
.slimgrid,
.slimgrid5, .grid5{
  margin-right: auto;
  margin-left: auto;
  @include clearfix();
}

// Fluid grid
.container {
  width: $fluidContainerWidth;

  max-width: $fluidContainerWidthMax-px;
  &.full-bleed{
    max-width: $containerWidthMax;
  }
  &.full-bleed-no-max{
  	max-width: auto;
  }
}
.grid,
.slimgrid,
.slimgrid5, .grid5 {
  width: $fluidGridWidth;
}

@media (min-width: px-em(768px)) {
  .container.full-bleed,
  .container.full-bleed-no-max,
  .grid.full-bleed,
  .slimgrid.full-bleed,
  .slimgrid5.full-bleed, .grid5.full-bleed {
    width: auto;
  }
}


@include grid-fluid($fluidGridColumnWidth, $fluidGridGutterWidth);

// the slimgrid needs to be defined in the 1200 breakpoint. Below 980, it will default to using this one, which should be fine (unless creative gives us more slimgrid layouts).
@include grid-fluid($fluidSlimGridColumnWidth, $fluidSlimGridGutterWidth, $gridColumns, "slim");

// slim5 only needs to be defined once, for global. It's only used in the 980-1200ish breakpoints, and the class should be changed dynamically to use it only then.
@include grid-fluid($fluidSlimGrid5ColumnWidth1200, $fluidSlimGrid5GutterWidth1200, $slimGrid5Columns, "slim5");


[class*="span"]:first-child {
  margin-left: 0;
}





// --------------------------------------
// Fixed grid
// --------------------------------------
.container-px-width{
  width: $containerWidth;
  max-width: $containerWidthMax;
}
.grid-px-width{
  width: $gridWidth;
  max-width: $gridWidthMax;
}
@include grid-core($gridColumnWidth, $gridGutterWidth);
// Input grid
@include grid-input($gridColumnWidth, $gridGutterWidth);


