//
// Responsive: Footer
// --------------------------------------------------



// -----------------------------------------
// DEFAULT: 980px - 1199px;
// -----------------------------------------
//  .d8888b.   .d8888b.   .d8888b.                         d888    d888   .d8888b.   .d8888b.                    
// d88P  Y88b d88P  Y88b d88P  Y88b                       d8888   d8888  d88P  Y88b d88P  Y88b                   
// 888    888 Y88b. d88P 888    888                         888     888  888    888 888    888                   
// Y88b. d888  "Y88888"  888    888 88888b.  888  888       888     888  Y88b. d888 Y88b. d888 88888b.  888  888 
//  "Y888P888 .d8P""Y8b. 888    888 888 "88b `Y8bd8P'       888     888   "Y888P888  "Y888P888 888 "88b `Y8bd8P' 
//        888 888    888 888    888 888  888   X88K  888888 888     888         888        888 888  888   X88K   
// Y88b  d88P Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       888     888  Y88b  d88P Y88b  d88P 888 d88P .d8""8b. 
//  "Y8888P"   "Y8888P"   "Y8888P"  88888P"  888  888     8888888 8888888 "Y8888P"   "Y8888P"  88888P"  888  888 
//                                  888                                                        888               
//                                  888                                                        888               
//                                  888                              
// -----------------------------------------

.footer-wrapper{
  padding:px-em(60px) 0;

  &.footer-wrapper-minimal{
    padding:px-em(28px) 0;    
  }

  h5{
    margin-bottom: px-em(17px);
  }

  .btn-group.country-selector,
  .btn-hover-group.country-selector{
    width: 46.2%;
    min-width:px-em(185px);
    float:left;
    .dropdown-hover-menu-lists-w{
      padding:px-em(24px) 0 px-em(24px) 0;
    }
    .dropdown-hover-menu-list{
      width:19.8%;
    }
  }
  &.footer-wrapper-minimal{
    .btn-group.country-selector,
    .btn-hover-group.country-selector{
      min-width:px-em(235px);
    }
  }

  .btn-group.language-selector,
  .btn-hover-group.language-selector{
    width: px-em(67px);
    float:left;
  }
}


.footer-form-border{

  .footer-input{
    width:65%;  
    float:left;
  }
  .footer-btn{
    width:27%;
    float:right;
    margin:0;
  }
}

.footer-contact.span6{
  padding-top: 2px;
  float:right;
  text-align:right;
  > p{
    display:inline-block;
    font-size:$font_13_16;

    a{
      display:inline-block;
      position:relative;
      top: -11px;
      margin-right: px-em(24px);
    }
  }
}

.footer-sony-logo{
  margin-bottom: 6px;
}
.footer-copyright{
  position:absolute;
  left: 85px;
  top: 1px;
}



// END 980px-1199px Default







// ------------------------------------------------
// LARGE DESKTOP
// ------------------------------------------------
//  d888    .d8888b.   .d8888b.   .d8888b.                            
// d8888   d88P  Y88b d88P  Y88b d88P  Y88b                           
//   888          888 888    888 888    888                           
//   888        .d88P 888    888 888    888 88888b.  888  888   888   
//   888    .od888P"  888    888 888    888 888 "88b `Y8bd8P' 8888888 
//   888   d88P"      888    888 888    888 888  888   X88K     888   
//   888   888"       Y88b  d88P Y88b  d88P 888 d88P .d8""8b.         
// 8888888 888888888   "Y8888P"   "Y8888P"  88888P"  888  888         
//                                          888                       
//                                          888                       
//                                          888 
// ------------------------------------------------

@media (min-width: px-em(1200px)) {

} // END min-width: 1200px





// ------------------------------------------------
// EXTRA LARGE DESKTOP
// ------------------------------------------------
//  d888      d8888   .d8888b.   .d8888b.                            
// d8888     d8P888  d88P  Y88b d88P  Y88b                           
//   888    d8P 888  888    888 888    888                           
//   888   d8P  888  888    888 888    888 88888b.  888  888   888   
//   888  d88   888  888    888 888    888 888 "88b `Y8bd8P' 8888888 
//   888  8888888888 888    888 888    888 888  888   X88K     888   
//   888        888  Y88b  d88P Y88b  d88P 888 d88P .d8""8b.         
// 8888888      888   "Y8888P"   "Y8888P"  88888P"  888  888         
//                                         888                       
//                                         888  
// ------------------------------------------------                     
                            
@media (min-width: px-em(1400px)) {
  

.footer-wrapper:not(.footer-wrapper-minimal){
  .footer-language-selectors{
    width: 46.2%;
  }
  .btn-group.country-selector,
  .btn-hover-group.country-selector{
    width: 76%;
    float:left;
  }
  .btn-group.language-selector,
  .btn-hover-group.language-selector{
    width: 22%;
  }
}

} // END min-width: 1400px









//  .d8888b.   .d8888b.   .d8888b.                         d888    d888   .d8888b.   .d8888b.                    
// d88P  Y88b d88P  Y88b d88P  Y88b                       d8888   d8888  d88P  Y88b d88P  Y88b                   
// 888    888 Y88b. d88P 888    888                         888     888  888    888 888    888                   
// Y88b. d888  "Y88888"  888    888 88888b.  888  888       888     888  Y88b. d888 Y88b. d888 88888b.  888  888 
//  "Y888P888 .d8P""Y8b. 888    888 888 "88b `Y8bd8P'       888     888   "Y888P888  "Y888P888 888 "88b `Y8bd8P' 
//        888 888    888 888    888 888  888   X88K  888888 888     888         888        888 888  888   X88K   
// Y88b  d88P Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       888     888  Y88b  d88P Y88b  d88P 888 d88P .d8""8b. 
//  "Y8888P"   "Y8888P"   "Y8888P"  88888P"  888  888     8888888 8888888 "Y8888P"   "Y8888P"  88888P"  888  888 
//                                  888                                                        888               
//                                  888                                                        888               
//                                  888                                                        888               

@media (min-width: px-em(980px)) and (max-width: px-em(1199px)) {

.footer-store-locator-form{
  position:relative;
  overflow:visible;
  float:none;

  .footer-input{
    width:90%;  
    float:none;
  }
  .footer-btn{
    position:absolute;
    left:-2px;
    width:px-em(95);
    top:46px;
  }
}
.footer-store-locator-caption{
  margin-top:px-em(57);
  display:block;
}

}












// 888888888   .d8888b.   .d8888b.                         d888    d888   .d8888b.   .d8888b.                    
// 888        d88P  Y88b d88P  Y88b                       d8888   d8888  d88P  Y88b d88P  Y88b                   
// 888        888        Y88b. d88P                         888     888  888    888 888    888                   
// 8888888b.  888d888b.   "Y88888"  88888b.  888  888       888     888  Y88b. d888 Y88b. d888 88888b.  888  888 
//      "Y88b 888P "Y88b .d8P""Y8b. 888 "88b `Y8bd8P'       888     888   "Y888P888  "Y888P888 888 "88b `Y8bd8P' 
//        888 888    888 888    888 888  888   X88K  888888 888     888         888        888 888  888   X88K   
// Y88b  d88P Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       888     888  Y88b  d88P Y88b  d88P 888 d88P .d8""8b. 
//  "Y8888P"   "Y8888P"   "Y8888P"  88888P"  888  888     8888888 8888888 "Y8888P"   "Y8888P"  88888P"  888  888 
//                                  888                                                        888               
//                                  888                                                        888               
//                                  888                                                        888              
@media (min-width: px-em(568px)) and (max-width: px-em(1199px)) {

} // end (min-width: px-em(568px)) and (max-width: px-em(1199px))







// 888888888   .d8888b.   .d8888b.                           .d8888b.  8888888888  .d8888b.                    
// 888        d88P  Y88b d88P  Y88b                         d88P  Y88b       d88P d88P  Y88b                   
// 888        888        Y88b. d88P                         888    888      d88P  888    888                   
// 8888888b.  888d888b.   "Y88888"  88888b.  888  888       Y88b. d888     d88P   Y88b. d888 88888b.  888  888 
//      "Y88b 888P "Y88b .d8P""Y8b. 888 "88b `Y8bd8P'        "Y888P888  88888888   "Y888P888 888 "88b `Y8bd8P' 
//        888 888    888 888    888 888  888   X88K  888888        888   d88P            888 888  888   X88K   
// Y88b  d88P Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       Y88b  d88P  d88P      Y88b  d88P 888 d88P .d8""8b. 
//  "Y8888P"   "Y8888P"   "Y8888P"  88888P"  888  888        "Y8888P"  d88P        "Y8888P"  88888P"  888  888 
//                                  888                                                      888               
//                                  888                                                      888               
//                                  888                                                      888                           
@media (min-width: px-em(568px)) and (max-width: px-em(979px)) {

.footer-wrapper{
  .grid.no-grid-at-567{
    .footer-contact.span6{
      padding-right: px-em(4px);
      > p{
        display:block;
        margin-bottom:px-em(3px);
        a{
          margin-right:0; 
        }
        a:first-child{
          margin-right: px-em(25px);      
        }
      }
    }
    .footer-language.span6{
      padding-top: px-em(23px);
      // padding-bottom: px-em(13px);
    }
  }
}



.footer-wrapper{
  .grid.no-grid-at-567{
    .span3{
      width:30.9%;
    }

    .footer-store-locator.span3{
      width:100%;
      float:none;
      overflow:hidden;
      padding-bottom: px-em(37px);
      margin-bottom:0;

      h5{
        display:block;
        width: px-em(105px);
        float:left;
        position:relative;
        top: px-em(11px);
      }
      + .span3{
        margin-left:0;
      }
    }
    .footer-language.span6{
      padding-bottom: px-em(13px);
    }
  }
}



}








// ------------------------------------------------
// PORTRAIT TABLET TO LANDSCAPE AND SMALL DESKTOP
// ------------------------------------------------
//  d888    .d8888b.   .d8888b.   .d8888b.         .d8888b.                                  888                  
// d8888   d88P  Y88b d88P  Y88b d88P  Y88b       d88P  "88b                                 888                  
//   888   888    888        888      .d88P       Y88b. d88P                                 888                  
//   888   888    888      .d88P     8888"         "Y8888P"           888  888 88888b.   .d88888  .d88b.  888d888 
//   888   888    888  .od888P"       "Y8b.       .d88P88K.d88P       888  888 888 "88b d88" 888 d8P  Y8b 888P"   
//   888   888    888 d88P"      888    888       888"  Y888P"        888  888 888  888 888  888 88888888 888     
//   888   Y88b  d88P 888"       Y88b  d88P       Y88b .d8888b        Y88b 888 888  888 Y88b 888 Y8b.     888     
// 8888888  "Y8888P"  888888888   "Y8888P"         "Y8888P" Y88b       "Y88888 888  888  "Y88888  "Y8888  888
// ------------------------------------------------

@media (max-width: px-em(1023px)) {

}



// 888888888   .d8888b.   .d8888b.                         d888    .d8888b.   .d8888b.   .d8888b.                    
// 888        d88P  Y88b d88P  Y88b                       d8888   d88P  Y88b d88P  Y88b d88P  Y88b                   
// 888        888        Y88b. d88P                         888   888    888        888      .d88P                   
// 8888888b.  888d888b.   "Y88888"  88888b.  888  888       888   888    888      .d88P     8888"  88888b.  888  888 
//      "Y88b 888P "Y88b .d8P""Y8b. 888 "88b `Y8bd8P'       888   888    888  .od888P"       "Y8b. 888 "88b `Y8bd8P' 
//        888 888    888 888    888 888  888   X88K  888888 888   888    888 d88P"      888    888 888  888   X88K   
// Y88b  d88P Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       888   Y88b  d88P 888"       Y88b  d88P 888 d88P .d8""8b. 
//  "Y8888P"   "Y8888P"   "Y8888P"  88888P"  888  888     8888888  "Y8888P"  888888888   "Y8888P"  88888P"  888  888 
//                                  888                                                            888               
//                                  888                                                            888               
//                                  888                                                            888               
@media (min-width: px-em(568px)) and (max-width: px-em(1023px)) {



} // END max-width: 1023px



// ------------------------------------------------
//     d8888   .d8888b.   .d8888b.                           .d8888b.  8888888888  .d8888b.                    
//    d8P888  d88P  Y88b d88P  Y88b                         d88P  Y88b       d88P d88P  Y88b                   
//   d8P 888  Y88b. d88P 888    888                         888    888      d88P  888    888                   
//  d8P  888   "Y88888"  888    888 88888b.  888  888       Y88b. d888     d88P   Y88b. d888 88888b.  888  888 
// d88   888  .d8P""Y8b. 888    888 888 "88b `Y8bd8P'        "Y888P888  88888888   "Y888P888 888 "88b `Y8bd8P' 
// 8888888888 888    888 888    888 888  888   X88K  888888        888   d88P            888 888  888   X88K   
//       888  Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       Y88b  d88P  d88P      Y88b  d88P 888 d88P .d8""8b. 
//       888   "Y8888P"   "Y8888P"  88888P"  888  888        "Y8888P"  d88P        "Y8888P"  88888P"  888  888 
//                                  888                                                      888               
//                                  888                                                      888               
//                                  888                                                      888               
// ------------------------------------------------
@media (min-width: px-em(480px)) and (max-width: px-em(979px)) {


form.footer-store-locator-form{
  width:50%;
  max-width: px-em(275px);
  float:left;
  // margin-bottom:32px;
}
.footer-store-locator-caption{
  float:left;
  padding: px-em(9px) 0 0 px-em(16px);
}

}




// ------------------------------------------------
// 888888888   .d8888b.   .d8888b.                          8888888888  .d8888b.  8888888888                  
// 888        d88P  Y88b d88P  Y88b                               d88P d88P  Y88b       d88P                  
// 888        888        Y88b. d88P                              d88P  888             d88P                   
// 8888888b.  888d888b.   "Y88888"  88888b.  888  888           d88P   888d888b.      d88P  88888b.  888  888 
//      "Y88b 888P "Y88b .d8P""Y8b. 888 "88b `Y8bd8P'        88888888  888P "Y88b  88888888 888 "88b `Y8bd8P' 
//        888 888    888 888    888 888  888   X88K  888888   d88P     888    888   d88P    888  888   X88K   
// Y88b  d88P Y88b  d88P Y88b  d88P 888 d88P .d8""8b.        d88P      Y88b  d88P  d88P     888 d88P .d8""8b. 
//  "Y8888P"   "Y8888P"   "Y8888P"  88888P"  888  888       d88P        "Y8888P"  d88P      88888P"  888  888 
//                                  888                                                     888               
//                                  888                                                     888               
//                                  888                                                     888                 
// ------------------------------------------------
@media (min-width: px-em(568px)) and (max-width: px-em(768px)) {

.container .grid .footer-contact.span6{
  width:41%;
}
.container .grid .footer-language.span6{
  width:58%;
}

.footer-wrapper.footer-wrapper-minimal{
  .btn-group.country-selector,
  .btn-hover-group.country-selector{
    min-width:px-em(200px);
  }
}

} // (min-width: 568px) and (max-width: 768px)














// ------------------------------------------------
// MOBILE-LARGE (somewhere between tablet & mobile)
// ------------------------------------------------
//  8888888888  .d8888b.  8888888888                         .d8888b.                                  888                    
//        d88P d88P  Y88b       d88P                        d88P  "88b                                 888                 
//       d88P  888             d88P                         Y88b. d88P                                 888                 
//      d88P   888d888b.      d88P  88888b.  888  888        "Y8888P"           888  888 88888b.   .d88888  .d88b.  888d888
//   88888888  888P "Y88b  88888888 888 "88b `Y8bd8P'       .d88P88K.d88P       888  888 888 "88b d88" 888 d8P  Y8b 888P"  
//    d88P     888    888   d88P    888  888   X88K         888"  Y888P"        888  888 888  888 888  888 88888888 888    
//   d88P      Y88b  d88P  d88P     888 d88P .d8""8b.       Y88b .d8888b        Y88b 888 888  888 Y88b 888 Y8b.     888    
//  d88P        "Y8888P"  d88P      88888P"  888  888        "Y8888P" Y88b       "Y88888 888  888  "Y88888  "Y8888  888    
//                                  888               
//                                  888               
//                                  888       
// ------------------------------------------------    

@media (max-width: px-em(767px)) {


  // .grid-footer [class*="span"]{    
  //   width:100%;
  //   $containerMargin: (100% - $mobileContainerWidth480)/2;
  //   $gridMargin: (100% - $mobileGridWidth480)/2;
  //   padding-left: $containerMargin + $gridMargin;
  //   padding-right: $containerMargin + $gridMargin;
  // }

} // max-width: 767px






// ------------------------------------------------
//     d8888   .d8888b.   .d8888b.                         8888888888  .d8888b.  8888888888                 
//    d8P888  d88P  Y88b d88P  Y88b                              d88P d88P  Y88b       d88P                 
//   d8P 888  Y88b. d88P 888    888                             d88P  888             d88P                  
//  d8P  888   "Y88888"  888    888 88888b.  888  888          d88P   888d888b.      d88P  88888b.  888  888
// d88   888  .d8P""Y8b. 888    888 888 "88b `Y8bd8P'       88888888  888P "Y88b  88888888 888 "88b `Y8bd8P'
// 8888888888 888    888 888    888 888  888   X88K  888888  d88P     888    888   d88P    888  888   X88K  
//       888  Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       d88P      Y88b  d88P  d88P     888 d88P .d8""8b.
//       888   "Y8888P"   "Y8888P"  88888P"  888  888      d88P        "Y8888P"  d88P      88888P"  888  888
//                                  888                                                    888              
//                                  888                                                    888              
//                                  888                                                    888              
// ------------------------------------------------    

@media (min-width: px-em(480px)) and (max-width: px-em(767px)) {


} // (min-width: 480px) and (max-width: 767px)


// ------------------------------------------------
// PORTRAIT TABLET TO LANDSCAPE AND SMALL DESKTOP
// ------------------------------------------------
//     d8888   .d8888b.   .d8888b.                         888888888   .d8888b.  8888888888                 
//    d8P888  d88P  Y88b d88P  Y88b                        888        d88P  Y88b       d88P                 
//   d8P 888  Y88b. d88P 888    888                        888        888             d88P                  
//  d8P  888   "Y88888"  888    888 88888b.  888  888      8888888b.  888d888b.      d88P  88888b.  888  888
// d88   888  .d8P""Y8b. 888    888 888 "88b `Y8bd8P'           "Y88b 888P "Y88b  88888888 888 "88b `Y8bd8P'
// 8888888888 888    888 888    888 888  888   X88K  888888       888 888    888   d88P    888  888   X88K  
//       888  Y88b  d88P Y88b  d88P 888 d88P .d8""8b.      Y88b  d88P Y88b  d88P  d88P     888 d88P .d8""8b.
//       888   "Y8888P"   "Y8888P"  88888P"  888  888       "Y8888P"   "Y8888P"  d88P      88888P"  888  888
//                                  888                                                    888              
//                                  888                                                    888              
//                                  888                                                    888                       
// ------------------------------------------------
@media (min-width: px-em(480px)) and (max-width: px-em(567px)) {
form.footer-store-locator-form{
  margin-bottom: px-em(19px);
}
}









// ------------------------------------------------
// 888888888   .d8888b.   .d8888b.                           .d8888b.                             
// 888        d88P  Y88b d88P  Y88b                         d88P  "88b                            
// 888        888        Y88b. d88P                         Y88b. d88P                            
// 8888888b.  888d888b.   "Y88888"  88888b.  888  888        "Y8888P"           888  888 88888b.  
//      "Y88b 888P "Y88b .d8P""Y8b. 888 "88b `Y8bd8P'       .d88P88K.d88P       888  888 888 "88b 
//        888 888    888 888    888 888  888   X88K         888"  Y888P"        888  888 888  888 
// Y88b  d88P Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       Y88b .d8888b        Y88b 888 888 d88P 
//  "Y8888P"   "Y8888P"   "Y8888P"  88888P"  888  888        "Y8888P" Y88b       "Y88888 88888P"  
//                                  888                                                  888      
//                                  888                                                  888      
//                                  888                                                  888                            
// ------------------------------------------------                                                           

@media (min-width: px-em(568px)) {
.footer-mobile-section{
  margin-bottom: px-em(74px);
}
}





// ------------------------------------------------
// LANDSCAPE PHONE AND BELOW
// ------------------------------------------------
// 888888888   .d8888b.  8888888888                         .d8888b.                                  888                  
// 888        d88P  Y88b       d88P                        d88P  "88b                                 888                  
// 888        888             d88P                         Y88b. d88P                                 888                  
// 8888888b.  888d888b.      d88P  88888b.  888  888        "Y8888P"           888  888 88888b.   .d88888  .d88b.  888d888 
//      "Y88b 888P "Y88b  88888888 888 "88b `Y8bd8P'       .d88P88K.d88P       888  888 888 "88b d88" 888 d8P  Y8b 888P"   
//        888 888    888   d88P    888  888   X88K         888"  Y888P"        888  888 888  888 888  888 88888888 888     
// Y88b  d88P Y88b  d88P  d88P     888 d88P .d8""8b.       Y88b .d8888b        Y88b 888 888  888 Y88b 888 Y8b.     888     
//  "Y8888P"   "Y8888P"  d88P      88888P"  888  888        "Y8888P" Y88b       "Y88888 888  888  "Y88888  "Y8888  888     
//                                 888                                                                                     
//                                 888                                                                                     
//                                 888                                                                                     

@media (max-width: px-em(567px)) {

.footer-wrapper{

  padding:0 0 px-em(60px);

  .grid.grid-footer{
    @include container-m-full-bleed-padded-children-at("567","both");
  }


  .footer-mobile-section[class*="span"]{
    overflow:hidden;
    border-bottom: solid 1px $grayDarkFieldLarge;

    .footer-links-list{
      padding-bottom: px-em(19px);
    }
  }
  h5{ // these turn into clickable headers, so need to be blocky. move margins to padding.
    position:relative;
    margin-bottom:0;
    margin-top:0;
    padding-bottom: px-em(13px);
    padding-top: px-em(15px);

    .fonticon-10-arrowhead-down{
      position:absolute;
      top:30%;
      right:0;
      font-size:16px;
      color:$gray50;
    }
  }


  .btn-group.language-selector,
  .btn-hover-group.language-selector{
    width:20%;
  }
  .btn-group.country-selector,
  .btn-hover-group.country-selector{
    width: 78%;
  }


  .footer-store-locator.span3{
    border-top: solid 1px $grayDarkFieldLarge;    
    h5{
      width:100%;
      padding-top: px-em(15px);
      padding-bottom: px-em(17px);
      margin-top: 0;
      margin-bottom: px-em(2px);
    }
  }
}

.footer-link-li{
  line-height: 1.9;
}


.footer-contact.span6{
  width:auto;
  float:none;
  text-align:center;

  > p{
    display:block;
    font-size:$font_16_16;
    line-height:1.85;
    margin-top: px-em(21px);

    a,
    a:first-child{
      margin-right:0;
      top:auto;
      display:block;
      text-align:center;
    }
  }
}

.footer-language.span6{
  // overflow:hidden;
  padding-top: px-em(28px);
  margin-top: px-em(30px);
  border-top: solid 2px $grayDarkFieldLarge; 

  .footer-language-selectors{
    max-width: px-em(300px);
    margin:0 auto;
  }
  .dropdown-hover-menu-lists-w{
    @include box-shadow(-1px 0px 1px 0px rgba(0,0,0,0.2));
  }
}



.footer-signature-w{
  border:none;
  margin-top:0;
}
.footer-signature{
  text-align:center;
}
.footer-copyright{
  position:static;
  top:auto;
}

.footer-legal-links{
  a{
    display:block;
    font-size:$font_11_16;
    line-height: 2.4;
  }
}


} // max-width: 567px








// ------------------------------------------------
// LANDSCAPE PHONE AND BELOW
// ------------------------------------------------
//     d8888  8888888888  .d8888b.                           .d8888b.                                  888                  
//    d8P888        d88P d88P  Y88b                         d88P  "88b                                 888                  
//   d8P 888       d88P  888    888                         Y88b. d88P                                 888                  
//  d8P  888      d88P   Y88b. d888 88888b.  888  888        "Y8888P"           888  888 88888b.   .d88888  .d88b.  888d888 
// d88   888   88888888   "Y888P888 888 "88b `Y8bd8P'       .d88P88K.d88P       888  888 888 "88b d88" 888 d8P  Y8b 888P"   
// 8888888888   d88P            888 888  888   X88K         888"  Y888P"        888  888 888  888 888  888 88888888 888     
//       888   d88P      Y88b  d88P 888 d88P .d8""8b.       Y88b .d8888b        Y88b 888 888  888 Y88b 888 Y8b.     888     
//       888  d88P        "Y8888P"  88888P"  888  888        "Y8888P" Y88b       "Y88888 888  888  "Y88888  "Y8888  888     
//                                  888                                                                                     
//                                  888                                                                                     
//                                  888    
// ------------------------------------------------

@media (max-width: px-em(479px)) {

.footer-wrapper{
  .footer-store-locator.span3{
    h5{
    }
    form.footer-store-locator-form{
      width: 100%;
      margin-bottom: 0;
      float: none;
    }
    .footer-store-locator-caption{
      float: none;
      padding-bottom: px-em(22px);
      color: $white;
    }
  }
}

} // max-width: 479px




