//
// Responsive: Tertiary Content Container
// --------------------------------------------------

$tcc-body-height-1up:198px;
$tcc-content-module-height-1up:198px;

$tcc-wrapper-padding-phone:35px 0 50px 0;

$tcc-header-padding-bottom-phone:20px;

$tcc-body-wrapper-padding-phone:20px 0 0 0;

$users-voice-padding-bottom-phone:23px;

$users-voice-padding-left-right-phone:px-em(25px);

$users-voice-padding-phone:30px px-em(40px) $users-voice-padding-bottom-phone $users-voice-padding-left-right-phone;

$tenPercentInstaFlickr: percentage(10px/316px);
$fivePercentInstaFlickr: percentage(5px/316px);

// 2-UP
@media (min-width: px-em(480px)) and (max-width: px-em(767px)) {
  .tcc-wrapper{

    .no-grid-at-767 [class*="span"]{
      float:left;
      width:200px;
    } // end .no-grid-at-767

    .article{     

      .feature-copy{
        width: 100%;  
      } // &.feature-copy

    } // end .article
    
    &.featured{
      .no-grid-at-767 [class*="span"]{          
        width:100%;
      } // end .no-grid-at-767
      
    } // end &.featured

    .sonys-voice{     
      &.instagram{
        table{
          tr{

            &.bottom-row{
              display:table-row;
            }

            td{

              &.top-left{
                display:table-cell;
                padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr;
                vertical-align: top;
              } // end top-left

              &.top-right{
                display:table-cell;
                vertical-align: top;
                padding:$tenPercentInstaFlickr $tenPercentInstaFlickr $tenPercentInstaFlickr $fivePercentInstaFlickr;
              } // end top-right

              &.bottom-left{
                display:table-cell;
                vertical-align: bottom;
                padding:$fivePercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr $tenPercentInstaFlickr;  
              } // end .bottom-left

              &.top-center-phone,
              &.top-right-phone{
                display:none;
              } // end .top-right-phone  & .bottom-left-phone

            } // end td

          } // end tr

        } // end table

      } // end &.instagram

    } // end .sonys-voice  

    .flickr{
      .center-content{
        height:258px;
        //width:100%;
        padding:0;
      } // end .center-content
  
      table{
        margin:0 auto;
        tr{
          &.top-row,
          &.bottom-row{
            display:table-row;
          } // end  &.top-row, &.bottom-row

        } // end tr

        td{
          &.top-left,
          &.top-center,
          &.top-right,
          &.bottom-left,
          &.bottom-center,
          &.bottom-right{
            display:table-cell;
          } // end tds

          &.top-left{
            padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr;
          } // end &.top-left

          &.top-center{
            padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $fivePercentInstaFlickr 0;
          } // end &.top-center

          &.top-right{
            padding:$tenPercentInstaFlickr $tenPercentInstaFlickr $fivePercentInstaFlickr 0;
          } // end &.top-right

          &.bottom-left{
            padding:0 $fivePercentInstaFlickr $tenPercentInstaFlickr $tenPercentInstaFlickr;
          } // end &.bottom-left

          &.bottom-center{
              padding:0 $fivePercentInstaFlickr $tenPercentInstaFlickr 0;
          } // end &.bottom-center

          &.bottom-right{
              padding:0 $tenPercentInstaFlickr $tenPercentInstaFlickr 0;
          } // end &.bottom-right

        } // end td    

      } // end table
    
    } // end .flickr
    
  } // end .tcc-wrapper

} // end mQ


// ONE UP LANDSCAPE PHONE AND BELOW -- 480px
@media (max-width: px-em(479px)) {
  .tcc-wrapper{
    padding:$tcc-wrapper-padding-phone;

    .tcc-header{
      padding-bottom: $tcc-header-padding-bottom-phone;
      text-align: left;

      .tcc-header-title{
        padding-bottom:15px;
        display:block;
        float:none;
      } // end .tcc-header-title

      .tcc-header-link{
        display:block;
        float:none;
        position: relative;
        bottom:0;       
      } // end .tcc-header-link

    } // end .tcc-header

    .tcc-body-wrapper{
      padding:$tcc-body-wrapper-padding-phone;

      .no-grid-at-767 [class*="span"]{
        float:left;
        width:342px; // DESKTOP >480
      } // end .grid
  
      .tcc-body{
        //@include debug(1px, red);
        height:$tcc-body-height-1up; // need to set the same height for all cases because absolute position in mobile
      } // end .tcc-body

      .tcc-content-module{
        //@include debug(1px, green);
        height:$tcc-content-module-height-1up;
      } // tcc-content-module

    } // end .tcc-body-wrapper

    .article{
      .no-grid-at-767 [class*="span"]{
        height:auto;
      } // end .grid

      .p4{
        display:none; // body copy mobile
      } // end p4

      .img-container{
      
        img{
          width:100%;
        } // end img
      
      } // end .img-container

      &.featured{
        .feature-copy{
          padding:px-em(17px) px-em(25px); 
        } // end .feature-copy

      } // end .article.featured

    } // end .article  

    .users-voice{

      &.expert-quote{
        .credits{
          .avatar{
            margin-bottom:0;
          } // .avatar

        } // end .credits

      } // end &.expert-quote
      
      &.user-quote{

        padding:30px px-em(25px) 26px px-em(25px);

        .credits{
          position:absolute;
          bottom:$users-voice-padding-bottom-phone;
          left:$users-voice-padding-left-right-phone;

          .avatar{
            margin-bottom:10px;
          } // end avatar

          .handle,
          .author{
            float:left;
            margin:0;
          }

          .author{
           padding-left: px-em(5px);
          } // .author

        } // end .credits
        
      } // end .user-quote & .expert-quote
      
      &.question{
        .credits{
          .author{
            margin:-8px 0 0 0;
          } // end .author
        } // end .credits

        .bq3{
          padding:25px px-em(10px) 0 px-em(10px);
          margin-bottom:7px;
        } // end .bq3

        .answer-btn{
          margin-left: -75px;
          bottom:0;
        } // end .answer-btn

      } // end .question

    } // users voice

    .sonys-voice{
      
     .social-btn{
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left:-73px;
      } // end socialBtn

      .center-content{
        height:95px;
      } // end .center-content

      .meta{
        display:inline-block;
        padding:0 0 0 px-em(10px);
      } // end .meta

      &.twitter{
        .bq4{
          padding:0;//20px 0;
        } // end .bq4
    
      } // end .twitter

      &.facebook{
        .bq5{
          padding:5px 0;

          p{
            margin-bottom:0;
          } // end p
          
        } // end .bq5
        
      } // end &.facebook     

      &.instagram{               
        table{
         margin: 0 auto;
         tr{
           &.bottom-row{
             display:none;
           }

           td{

             &.top-left{
               display:table-cell;
               padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr;
               vertical-align: top;
             } // end top-left

             &.top-right,
             &.bottom-left{
               display:none;
             } // end top-right & .bottom-left

             &.top-center-phone,
             &.top-right-phone{
               display:table-cell;
             } // end .top-right-phone  & .bottom-left-phone

            &.top-center-phone{
              padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr 0;
            } // end .top-center-phone

            &.top-right-phone{
              padding:$tenPercentInstaFlickr $tenPercentInstaFlickr $tenPercentInstaFlickr 0;
            } // end .top-right-phone

           } // end td

         } // end tr

        } // end table

      } // end &.instagram

    } // end .sonys-voice  
    
    .flickr{
     
     .social-btn{
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left:-73px;
      } // end socialBtn

      .center-content{
        height:95px;
        padding:1.5% 0;
      } // end .center-content

      .meta{
        margin-top:8px;
        display:inline-block;
        padding-left: px-em(10px); 
      } // end .meta

      table{
        margin:0 auto;
        tr{
          &.bottom-row{
            display:none;
          } // end  &.top-row, &.bottom-row

        } // end tr

        td{
          &.bottom-left,
          &.bottom-center,
          &.bottom-right{
            display:none;
          } // end tds

          &.top-left{
            padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr $tenPercentInstaFlickr;
          } // end &.top-left

          &.top-center{
            padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr 0;
          } // end &.top-center

          &.top-right{
            padding:$tenPercentInstaFlickr $tenPercentInstaFlickr $tenPercentInstaFlickr 0;
          } // end &.top-right

        } // end td    

      } // end table

    } // end .flickr

  } // end .tcc-wrapper

} // end > 480