//
// Responsive: Tertiary Content Container
// --------------------------------------------------

$mobileHeight:349px;

// -----------------------------------------
// DEFAULT: 980px - 1199px;
// -----------------------------------------
//  .d8888b.   .d8888b.   .d8888b.                         d888    d888   .d8888b.   .d8888b.                    
// d88P  Y88b d88P  Y88b d88P  Y88b                       d8888   d8888  d88P  Y88b d88P  Y88b                   
// 888    888 Y88b. d88P 888    888                         888     888  888    888 888    888                   
// Y88b. d888  "Y88888"  888    888 88888b.  888  888       888     888  Y88b. d888 Y88b. d888 88888b.  888  888 
//  "Y888P888 .d8P""Y8b. 888    888 888 "88b `Y8bd8P'       888     888   "Y888P888  "Y888P888 888 "88b `Y8bd8P' 
//        888 888    888 888    888 888  888   X88K  888888 888     888         888        888 888  888   X88K   
// Y88b  d88P Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       888     888  Y88b  d88P Y88b  d88P 888 d88P .d8""8b. 
//  "Y8888P"   "Y8888P"   "Y8888P"  88888P"  888  888     8888888 8888888 "Y8888P"   "Y8888P"  88888P"  888  888 
//                                  888                                                        888               
//                                  888                                                        888               
//                                  888                              
// -----------------------------------------

.tcc-wrapper{
  padding:80px 0;
  .tcc-header{
    padding-bottom: 20px;
    
    .tcc-header-title{
      float:left;
      margin:0;
    } // end .tcc-header-title

    .tcc-header-link{
      float:right;
      margin:14px 0 0 0;
    } // end .tcc-header-link
  } // end .tcc-header

  .tcc-content-module{
    height:365px; 
  } // end .tcc-content-module

  .article{
    padding:0 px-em(20px) px-em(20px) px-em(20px); //TODO: convert to ems;
  } //end .article

  .tcc-copy{
    //padding:6.969696969697% 7.63358778626% 0px 7.63358778626%; // 23 / 330 || 20 / 262
    padding:0 7.63358778626% 0px 7.63358778626%; // 23 / 330 || 20 / 262
  } // end .tcc-copy

  .sonys-voice{
    padding:0 4.770992366412%;

    .meta{
      padding:0 9.090909090909% 10px; // 15 / 330 || 30 / 330
    } // end .meta

    .l3,
    .l4{
      display:inline-block;
    } // end .l3

    .l4{
      padding-left: 7px;
    }
    
    .bq2 > p{
      font-size: $font_22_16;
      padding-bottom:13.636363636364%; //45px / 330px
    } // end .bq2 > p

    .btn{
      width:100%;
    } // end .btn
  } // end .sonys-voice

  .article{   

    // .p3{
    //   line-height: 1.4em;
    //   font-size:$font_13_15;
    // } // end .p3

    .t6{
      strong{
        line-height:px-em(24px);
        margin-bottom:px-em(18px);
      } // end strong
    } // end t6

    img{
      padding-bottom:px-em(20px);
    } // end img

  } // end .article

} // end .tcc-wrapper
   

// LARGE DESKTOP - 1200px
// ------------------------------------------------
@media (min-width: px-em(1200px)) {
  .tcc-body-wrapper{
    .tcc-content-module{
      height:370px;
    }

    .sonys-voice{
      .btn{
        width:196px;
      } // end .btn
    } // end .sonys-voice
  } // end .tcc
} // end mQ 1200

// PORTRAIT TABLET TO LANDSCAPE AND SMALL DESKTOP
// ------------------------------------------------
@media (min-width: px-em(768px)) and (max-width: px-em(979px)) {
  .tcc-body-wrapper{
    .tcc-content-module{
      height:330px;
    } // end .tcc-content-module
  } // end .tcc-body-wrapper

  .sonys-voice{
    .bq2 > p{
      font-size: 1em;
    } // end .bq2 > p

    .btn{
      width:160px;
    } // end .btn
  } // end .sonys-voice
} // end 768 979

@media (min-width: px-em(480px)) and (max-width: px-em(767px)) {
  .tcc-wrapper{
    padding:80px 21px;
  } // end .tcc-wrapper
  
  .tcc-header-wrapper{   
    .tcc-header{
      padding-bottom: 9px;
    } // end tcc-header
  } // end .tcc-header-wrapper

  .tcc-body-wrapper{
    height:$mobileHeight;

    .tcc-body{
      height:$mobileHeight;
    } // end .tcc-body

    .tcc-content-module{
      //padding:6.969696969697% 25px 0px 25px;
      height:$mobileHeight;
    } // end .tcc-content-module
  
    .grid:not(.grid-small) [class*="span"]{
      float:left;
      width:224px;
      margin-left:0;
    } // end .grid
  } // end .tcc-body-wrapper

  .sonys-voice{
    .l3{
      margin:0;
      display:block;
    } // end l3

    .l4{
      display:block;
    } // end .l4
    
    .bq2 > p{
      font-size: 1em;
      padding-bottom:11.636363636364%; 
    } // end .bq2 > p
  } //end .sonys-voice

  .article{   
    .p3{
      // line-height: 1.4em;
      // font-size:$font_13_16;
    } // end .p3
  } // end .article
} // end mQ

// LANDSCAPE PHONE AND BELOW -- 480px
@media (max-width: px-em(479px)) {
  .tcc-wrapper{
    padding:20px 21px;
  } // end .tcc-wrapper
  
  .tcc-header-wrapper{   
    .tcc-header-title{
      display: block;
      text-align: left;
      float:none;
    } // end .tcc-header-title

    .tcc-header-link{
      display: block;
      text-align: left;
      margin:0;
      float:none;
      line-height: 1.35em;
    } // end .tcc-header-link
  } // end .tcc-header-wrapper

  .tcc-body-wrapper{
    height:$mobileHeight;

    .tcc-body{
      height:$mobileHeight;
    } // end .tcc-body

    .tcc-content-module{
      height:$mobileHeight;
      //padding:6.969696969697% 0px;// 25px 0px 25px;
    } // end .tcc-content-module

    .grid:not(.grid-small) [class*="span"]{
      float:left;
      width:342px; // DESKTOP >480
    } // end .grid

  } // end .tcc-body-wrapper

  .sonys-voice{
    .bq2 > p{
      color:$gray40;
      font-size: 1.475em;
      padding:0 30px;
    } // end .bq2 > p

    .btn{
      width:50%;
    } // end .btn
  } // end .sonys-voice
} // end > 480

// phone portrait
@media (max-width: px-em(320px)){
 .sonys-voice{
    .bq2 > p{
      padding:0 20px 20px;
    } // end .bq2 > p
  } // end .sonys-voice
}  // end 320 mQ