//
// Responsive: Navbar
// --------------------------------------------------




@media (min-width: px-em(768px)) and (max-width: px-em(839px)) {
.navtray-section-main .navtray-list-main .navtray-li .navtray-li-link{
  padding-top:15px;
  height: 155px;
  .navtray-w-short & {
    padding-top:25px;
  }
}
}

@media (min-width: px-em(840px)) and (max-width: px-em(899px)) {
.navtray-section-main .navtray-list-main .navtray-li .navtray-li-link{
  padding-top:20px;
  height: 170px;
  .navtray-w-short & {
    padding-top:30px;
  }
}
}

@media (min-width: px-em(900px)) and (max-width: px-em(979px)) {
.navtray-section-main .navtray-list-main .navtray-li .navtray-li-link{
  padding-top:25px;
  height: 190px;
  .navtray-w-short & {
    padding-top:35px;
  }
}
}


@media (min-width: px-em(980px)) and (max-width: px-em(1039px)) {
  .navtray-section-main .navtray-list-main .navtray-li .navtray-li-link{
    padding-top:20px;
    height: 155px;

    .navtray-w-short & {
      padding-top:30px;
    }
  }
  .navtray-section-featured .navtray-secondary-promo{
      margin-top: 32px;
  }
}

@media (min-width: px-em(1040px)) and (max-width: px-em(1099px)) {
  .navtray-section-main .navtray-list-main .navtray-li .navtray-li-link{
    height: 165px;
    padding-top:25px;
    .navtray-w-short & {
      padding-top:30px;
    }
  }
}

@media (min-width: px-em(1040px)) {
  .navtray-w-short .navtray-section-main{
    min-height: 300px;
  }
}

@media (min-width: px-em(1100px)) and (max-width: px-em(1149px)) {
  .navtray-section-main .navtray-list-main .navtray-li .navtray-li-link{
    height: 175px;
    padding-top:30px;
    .navtray-w-short & {
      padding-top:35px;
    }
  }
}

@media (min-width: px-em(1150px)) {
  .navtray-section-main .navtray-list-main .navtray-li .navtray-li-link{
    height: 185px;
    padding-top:35px;
    .navtray-w-short & {
      padding-top:40px;
    }
  }
}















// ------------------------------------------------
// LARGE DESKTOP
// ------------------------------------------------
//  d888    .d8888b.   .d8888b.   .d8888b.
// d8888   d88P  Y88b d88P  Y88b d88P  Y88b
//   888          888 888    888 888    888
//   888        .d88P 888    888 888    888 88888b.  888  888   888
//   888    .od888P"  888    888 888    888 888 "88b `Y8bd8P' 8888888
//   888   d88P"      888    888 888    888 888  888   X88K     888
//   888   888"       Y88b  d88P Y88b  d88P 888 d88P .d8""8b.
// 8888888 888888888   "Y8888P"   "Y8888P"  88888P"  888  888
//                                          888
//                                          888
//                                          888
// ------------------------------------------------

@media (min-width: px-em(1200px)) {

.nav-primary{
  margin-left:3.1%;

  .nav-li{
    margin-left: px-em(12px);

    &.nav-li-electronics {
      margin-left: px-em(19px);
    }
  }
}

.navtray.navtray-absolute{
  position: absolute;
  bottom: 0;
  width:$navtrayMaxWidth;
  margin-left:- ($navtrayMaxWidth / 2);
  left:50%;
}

.navtray-section-featured{ // section right
  .navtray-section-featured-short{
    padding-top:0;
  }
}

.navtray-w-fullwidth-3-4:after{ // background gray under the right side -- just needs to cover up the right margin
  content: "";
  display: block;
  width: (110-$navTrayDividerPosition); // make sure it's a little wider than really necessary so there's no little edge showing.
  height: 100%;
  position:absolute;
  top:0;
  left:$navTrayDividerPosition * 1.1; // just needs to cover up the right margin, so make sure it's farther right than neccessary
  z-index:1;
  background: $navTrayBackgroundAlt;
}
} // END min-width: 1200px





// ------------------------------------------------
// EXTRA LARGE DESKTOP
// ------------------------------------------------
//  d888      d8888   .d8888b.   .d8888b.
// d8888     d8P888  d88P  Y88b d88P  Y88b
//   888    d8P 888  888    888 888    888
//   888   d8P  888  888    888 888    888 88888b.  888  888   888
//   888  d88   888  888    888 888    888 888 "88b `Y8bd8P' 8888888
//   888  8888888888 888    888 888    888 888  888   X88K     888
//   888        888  Y88b  d88P Y88b  d88P 888 d88P .d8""8b.
// 8888888      888   "Y8888P"   "Y8888P"  88888P"  888  888
//                                         888
//                                         888
// ------------------------------------------------

@media (min-width: px-em(1400px)) {

} // END min-width: 1400px





// ------------------------------------------------
// PORTRAIT TABLET TO LANDSCAPE AND SMALL DESKTOP
// ------------------------------------------------
//  d888    .d8888b.   .d8888b.   .d8888b.         .d8888b.                                  888
// d8888   d88P  Y88b d88P  Y88b d88P  Y88b       d88P  "88b                                 888
//   888   888    888        888      .d88P       Y88b. d88P                                 888
//   888   888    888      .d88P     8888"         "Y8888P"           888  888 88888b.   .d88888  .d88b.  888d888
//   888   888    888  .od888P"       "Y8b.       .d88P88K.d88P       888  888 888 "88b d88" 888 d8P  Y8b 888P"
//   888   888    888 d88P"      888    888       888"  Y888P"        888  888 888  888 888  888 88888888 888
//   888   Y88b  d88P 888"       Y88b  d88P       Y88b .d8888b        Y88b 888 888  888 Y88b 888 Y8b.     888
// 8888888  "Y8888P"  888888888   "Y8888P"         "Y8888P" Y88b       "Y88888 888  888  "Y88888  "Y8888  888
// ------------------------------------------------
@media (max-width: px-em(1023px)) {

.nav-li-linkBtn {
  padding-right:7px;
}

// .nav-li-count{
//   display:inline-block;
//   padding:0 9px;
//   margin:2px 0 0 12px;
//   line-height:21px;
//   background:$green;
//   color:$navbarLinkColor;
//   font-size:$font_11_12;
//   @include fontMedium;
//   @include border-radius(1px);
// }
.nav-li-universal .nav-li-link {
  // margin-right: -10px;
  // > i.fonticon-10-mini-bold-plus {
  //   margin-left: 8px;
  // }
}
.nav-wrapper:not(.nav-wrapper-minimal) .nav-li-search .nav-li-linkBtn{
  padding-right: 10px;
  padding-left: 5px;
  padding-top: 9px;
  .lbl{
    display:none;
  }
}


.nav-li-account .nav-li-link.nav-dropdown-toggle{
  padding-right: 5px;
  padding-top: 12px;
  .fonticon-10-arrowhead-down{
    margin-left:3px;
    font-size:px-em(13,11);
  }
}

.navmenu-w-search{
  margin-left: 25px;
}



.navmenu-w-account .reveal-transition-container .navmenu-list-prefixed{
  display: block;
  border-bottom: solid 1px;
  padding-bottom: 10px;
}
.navmenu-w-account .reveal-transition-container .navmenu-list-main{
  padding-top: 6px;
}
.nav-wrapper:not(.nav-wrapper-minimal) .nav-li-favorites,
.nav-li-cart{
  display:none;
}

} // END max-width: 1023px





// ------------------------------------------------
// PORTRAIT TABLET TO LANDSCAPE AND SMALL DESKTOP
// ------------------------------------------------
// 8888888888  .d8888b.   .d8888b.                           .d8888b.  8888888888  .d8888b.
//       d88P d88P  Y88b d88P  Y88b                         d88P  Y88b       d88P d88P  Y88b
//      d88P  888        Y88b. d88P                         888    888      d88P  888    888
//     d88P   888d888b.   "Y88888"  88888b.  888  888       Y88b. d888     d88P   Y88b. d888 88888b.  888  888
//  88888888  888P "Y88b .d8P""Y8b. 888 "88b `Y8bd8P'        "Y888P888  88888888   "Y888P888 888 "88b `Y8bd8P'
//   d88P     888    888 888    888 888  888   X88K  888888        888   d88P            888 888  888   X88K
//  d88P      Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       Y88b  d88P  d88P      Y88b  d88P 888 d88P .d8""8b.
// d88P        "Y8888P"   "Y8888P"  88888P"  888  888        "Y8888P"  d88P        "Y8888P"  88888P"  888  888
//                                  888                                                      888
//                                  888                                                      888
//                                  888                                                      888
// ------------------------------------------------
@media (min-width: px-em(768px)) and (max-width: px-em(979px)) {

.navbar{
  @include sprite-32a(sony-logo, -96px, 72px, 25px);
  .sprite-32a-sony-logo {
    margin: 14px 0 0 -3px;
  }

}
.nav-wrapper,
.navbar{
  height: $navbarHeightShort;
}
// .navtray-w{
//   top: -660px;
// }
.navmenu-w {
  top: $navbarHeightShort;
}
.navtray-w-visible{
  top: $navbarHeightShort;
}
.nav-primary{
  margin-left: 2.4%;
  .nav-li-link,
  .nav-li-link.nav-dropdown-toggle:not(.nav-dropdown-toggle-btn) {
    line-height: $navbarLineHeightShort;
    font-size: $font_12_16;
    padding: 1px 0 3px;

    .fonticon-10-arrowhead-down{
      top:-2px;
      margin-left: 2px;
    }
  }
} // .nav.nav-primary

.navtray {
  width:auto;
}



.nav-li-account{
  .nav-li-link.nav-dropdown-toggle{
    font-size: px-em(11);
    padding-right: 4px;
    padding-left: 9px;
    padding-top: 8px;
  }
}

.nav-li-search .nav-li-linkBtn{
  padding-right: 7px;
  padding-left: 2px;
  padding-top: 9px;
}


.nav-li-linkBtn{
  height: 28px;
  margin: 12px 0 11px 2px;
  padding: 6px 6px 0 9px;

  [class^="fonticon-10-"]::before,
  [class*=" fonticon-10-"]::before {
    font-size: 1em;
  }
  [class^="fonticon-10-"],
  [class*=" fonticon-10-"] {
    // margin-top: 0;
  }
  .fonticon-10-search{
    font-size: px-em(13,11);
    position:relative;
    top:-1px;
    padding-left:3px;
  }
}

.nav-li-universal{
  .nav-li-linkBtn{
  }
}

.navtray-section-main{ // section left
  padding-top: 38px;
  width: ($navTrayDividerPosition - 4);

  .navtray-w-short &{
    padding-bottom: 0;
  }

  .navtray-list-main{
    margin-left: 4.1%;
    margin-right: 3%;


    .navtray-li {
      width: 33.1%;
    }
    .navtray-li-link {
      margin: 1% 1.4% 1.1% 0;

      .nav-label{
        font-size:$font_15_16;
        line-height:1.2;
      }
    }

    &:after{ // HR
      width: 94.45%;
      height: 1px;
      margin-left: 0;
    }

    .nav-li{
      width:31.9%;
      margin:2% 0.2% 2% 0;
    }
    .nav-li-link {
      padding-bottom:13px;

      > img {
        width:83%;
        // height:83%;
        margin:0 auto;
      }
      > .nav-label{
        margin-top:6px;
      }
    }
  }
} // .navtray-section-main



.navmenu-w-search{
  margin-left: 27px;
}




.navmenu-w{
  .fonticon-10-arrowhead-up.nav-indicator{
    top:-10px;
  }
}
.navmenu-w-search{
  .fonticon-10-arrowhead-up.nav-indicator{
    right:15px;
  }
}
.navmenu-w-account{
  .fonticon-10-arrowhead-up.nav-indicator{
    left: 25px;
  }
}



.navtray-section-featured{ // section right
  padding-top: 35px;
  padding-left: 3.3%;
  width: 100 - ($navTrayDividerPosition - 4);

  .navtray-secondary-promo{
    margin-top: 32px;

    &.navtray-secondary-promo-short{
      margin-top: 32px;
    }

    img{
      padding-bottom:10px;
    }
    .p2{
      padding-right: 35px;
    }
    .p3{
      display:inline-block;
      padding-right: 50px;
      padding-top:5px;
    }
  }

  &.navtray-section-featured-short{
    padding-top: 10px;
  }
} //.navtray-section-featured

.nav-wrapper.nav-wrapper-minimal .nav-li-search .nav-li-linkBtn{
  padding-right: 9px;
  padding-left: 11px;
  padding-top: 8px;
}
.nav-wrapper.nav-wrapper-minimal .nav-li-favorites  .nav-li-linkBtn{
  padding: 5px 5px 0 7px;
  font-size: 0.925em;
}


} // min-width: 768px and max-width: 979px
















// ------------------------------------------------
// MOBILE-LARGE (mostly the same as mobile, but a little bigger.)
// ------------------------------------------------
//  8888888888  .d8888b.  8888888888                         .d8888b.                                  888
//        d88P d88P  Y88b       d88P                        d88P  "88b                                 888
//       d88P  888             d88P                         Y88b. d88P                                 888
//      d88P   888d888b.      d88P  88888b.  888  888        "Y8888P"           888  888 88888b.   .d88888  .d88b.  888d888
//   88888888  888P "Y88b  88888888 888 "88b `Y8bd8P'       .d88P88K.d88P       888  888 888 "88b d88" 888 d8P  Y8b 888P"
//    d88P     888    888   d88P    888  888   X88K         888"  Y888P"        888  888 888  888 888  888 88888888 888
//   d88P      Y88b  d88P  d88P     888 d88P .d8""8b.       Y88b .d8888b        Y88b 888 888  888 Y88b 888 Y8b.     888
//  d88P        "Y8888P"  d88P      88888P"  888  888        "Y8888P" Y88b       "Y88888 888  888  "Y88888  "Y8888  888
//                                  888
//                                  888
//                                  888
// ------------------------------------------------

@media (max-width: px-em(767px)) {


.navbar{
  .nav-li-account .nav-li-link,
  .nav-li-search,
  .nav-li-favorites,
  .nav-li-electronics,
  .nav-li-entertainment,
  .nav-li-universal,
  .sprite-32a-sony-logo,
  .sprite-32a-sony-logo-sm,
  .navtray-section-featured,
  .fonticon-10-arrowhead-up.nav-indicator,
  .navmenu-list.navmenu-list-prefixed,
  .global-nav-indicator-bar {
    display:none;
  }
}
.navtray-section-featured {
  display:none;
}

.nav-wrapper,
.navbar{
  height:auto;
}

.page-wrap-inner{
  @include transition(left $transitionSlower $easeOutNav 0s, width $transitionSlower $easeOutNav 0s);
  position:relative;
}

.page-wrap-outer{
}
.page-wrap-inner.show-mobile-menu{
  left:$navMobileWidthLarge;
  // position:fixed; // so the "main" content area doesn't scroll; just the nav
}

.mobile-screen-overlay{
  top: $navbarMobileHeightTall;
  position:absolute;
  left: 0;
  z-index: $zindexModalBackdrop;
  background-color: $modalBackgroundColor;
  @include transition(opacity $transitionSuperslow linear 0s, left $transitionFast ease-out 0s);
}

.navbar-mobile{
  z-index:10;
}
.nav-outer-container{
  position:absolute;
  width:$navMobileWidthLarge;
  left:-$navMobileWidthLarge;
  top:0;
  z-index:20;

  @include transition(width $transitionFast ease-out 0s);
}


.nav-li{
  width:100%;
  float:none;
}

.navmenu-li-store,
.navmenu-li-support{
  display:none;
}

.navmenu-w,
.navtray-w{
  @include border-radius(0);
  @include box-shadow(none);

  .fonticon-10-arrowhead-up.nav-indicator{
    display:none;
  }
}
.navmenu-w-mobile-top{
  padding-top:16px;
  padding-bottom:28px;
}
.navmenu-w-search{
  width:auto;
}

.show-mobile-menu.show-mobile-search-results .navmenu-w-search{
  .navmenu-search-section-input{
    padding-left:36px;
  }
}


.navmenu-w-account{
  .reveal-transition-container{
    width:100%;
    padding-bottom:30px;

    .btn-logout,
    .btn-login{
      font-size:px-em(12,15);
      padding:14px 12px 15px;
    }

    .btn-logout{
      margin-top:15px;
    }
  }
}

.navmenu-w-account .btn-login,
.navmenu-w-account .btn-logout{
  display: block;
  width: auto;

  margin-left:auto;
  margin-right:auto;
  max-width:220px;
}
.navmenu-w-account .btn-login,
.navmenu-w-account .btn-logout{
  // font-size: $font_13_15;
}



.navtray-w{
  border-bottom:none;
}
.navtray-section-featured{
  display:none;
}


.navtray .nav-view-all-tl{
  display:block;
  text-align:center;
  width:200px;
  margin: 28px auto 15px;
  font-size: $font_13_16;
}



.nav-primary{
  .nav-li-store .fonticon-10-cart,
  .nav-li-support .fonticon-10-support,
  .nav-li-universal-mobile{
    display:inline-block;
  }
}

%navmenu-link{
  color:$linkColor;
  &:hover, &:active, &:focus, &.active{
    color:$linkColorHover;
  }

  display:inline-block;
  padding-right: 4px;
  line-height: inherit;
  font-size: px-em(14);
  padding:5px 4px 5px 4px;

  i {
    box-sizing:content-box;
    padding-right:8px;
    margin-top:1px;
    color:$gray50;
    font-size: px-em(16,14);
    &:after{
      font-size: 1em;
    }
  }
  &:hover i{
    color:$linkColorHover;
  }
}
.nav-primary{
  padding-bottom: 25px;

  .nav-li {
    margin-left:14px;
    line-height: 24px;

    .nav-li-link {
      @extend %navmenu-link;
    }
  }
}
.navmenu-list{
  .navmenu-line{
    margin-left:14px;
    padding:0;
    a.tl{
      @extend %navmenu-link;
    }
  }
  .navmenu-li-welcome{
    color:$grayDarkFieldSmall;
    text-transform:uppercase;
    font-size:$font_12_16;
    @include fontBold;
    margin: 4px 0 0 17px;
  }
}


.navmenu-list.navmenu-list-prefixed{
  display:none;
}
.navmenu-search-section-results{
  display:none;
  opacity:0;
  @include transition(opacity $transitionSlower linear 0s);
}

.navbar-mobile{
  display:block;
  // border-top: solid 1px #2f353d;

  .btn-mobile-nav,
  .btn-mobile-cart{
    border:none;
    margin:0;
    display:block;
    background:$navbarBackground;
    width: $navbarMobileHeightTall;
    height: $navbarMobileHeightTall;
    padding: 18px 19px 0;
  }
  .btn-mobile-nav{
    font-size: 1em;
    margin-top:0;
    float:left;
    border-right:solid 1px $grayDark;
    i {
      margin:auto;
      font-size: px-em(24);
      overflow:hidden;
      -webkit-font-smoothing:antialiased;
    }
  }
  .btn-mobile-cart{
    float:right;
    padding:19px 0 0;
    width:$navbarMobileHeightTall;
    height:$navbarMobileHeightTall;
    border-left:solid 1px $grayDark;
    font-size: px-em(15);
    color:$navbarLinkColor;
    i {
      margin-right:3px;
      font-size: px-em(20,15);
      overflow:hidden;
      -webkit-font-smoothing:antialiased;
    }
  }

  .sprite-32a-sony-logo{
    display:block; // this is the normal (larger) size logo. Switch to small under 480px.
    position:absolute;
    left:50%;
    width:90px;
    margin-left:-45px;
  }
}



.navmenu-w,
.navtray-w,
.nav.nav-primary,
.nav.nav-utility{
  @include hideshow-navmenu-reset;
}

.navtray,
.navtray-section-main,
.nav-primary {
  background:$navTrayBackgroundAlt;
}




.navtray-section-main{
  padding-top:0;
  width:100%;

  h4{
    font-size:$font_12_16;
    @include fontBold;
    padding: 22px 0 0 5.2%;
    margin-bottom:0;
    text-transform:uppercase;
    color:$grayDarkFieldSmall;
  }
  .navtray-list-main{
    margin: 0 0 1.2% 5.3%;
    overflow:visible;

    .navtray-li {
      width:45%;
      margin:5% 4.3% 0 0;
    }
    .navtray-li-link {
      height:auto;
      padding-top:0;
      margin-right:0;
      padding-bottom:0;

      .nav-img-w{
        display:block;
        overflow:hidden;
        background:$white;
        padding:7% 0 14%;
        @include box-shadow(0px 1px 1px 1px rgba(0,0,0,0.1));
        img {
          width:73%;
        }
      }
      .nav-label{
        font-size:$font_16_16;
      }

      &:hover,
      &:active,
      &:focus{
        .nav-img-w{
          @include box-shadow(0px 1px 1px 1px rgba(0,0,0,0.025));
        }
      }
    }
  }

  &:after{ // HR
    content: '';
    display:block;
    clear:both;
    border-bottom: solid 3px $grayLighter;
    height:24px;
    margin:0 20px;
  }
}
.navtray-section-main-w-all-btn{
  padding-bottom:0;
  .navtray-list-main:after{
    border:none;
  }
}


// for the mobile search results, the menu goes full-width.
.navbar-mobile,
#main-wrapper,
#footer-wrapper{
  @include transition(left $transitionFast ease-out 0s);
}
.navbar-mobile,
#main-wrapper,
#footer-wrapper{
  position:relative;
}





// .navtray,
// .navtray-section-main,
// .nav-primary {
//   background:$navTrayBackgroundAlt;
// }




.nav.nav-utility{
  background:$white;
}

.nav-outer-container{
  background:$navTrayBackgroundAlt;
}
.nav-mobile-scroller,
.navtray-section-main{
  min-height:100%;
}
.page-wrap-inner.show-mobile-menu.show-mobile-search-results{
  .nav-outer-container{
    width:100%;
  }
  .mobile-screen-overlay,
  .navbar-mobile,
  #main-wrapper,
  #footer-wrapper{
    left: 101 - $navMobileWidthLarge;
  }

  .navmenu-search-section-results{
    display:block;
    opacity:1;
  }

  .navmenu-w-mobile-top,
  .navtray-w,
  .navbar{
    display:none !important; // override for .visible-phone - this isn't ideal.
  }
}


.bp-nav-mobile .show-mobile-search-results{

  .navmenu-search-section-form{
    // position:fixed;
    // top:0;
    // left:0;
    // width:100%;
    // background:$grayLighter;
  }

  .navmenu-w-search{
    .btn-clear-search-input{
      display:block;
    }
    .navmenu-search-section-input{
      margin-right:63px;
    }
  }
}

.bp-nav-mobile{
  .navmenu-w-search{
    width:100%;
    background:$grayLighter;
    padding:9px;
    padding:0;


    .navmenu-search-section-input{
      padding:8px 12px 10px 8px;
      margin:9px;

      input[type=text]{
        font-size:$font_16_16;
        @include fontRegular;
        line-height:1;
        width:100%;
      }
    }
    .btn-clear-search-input{
      right: 10px;
      top: 9px;
      width: 44px;
      height: 44px;
      padding-top:14px;
      padding-left:14px;
      background:$gray40;
      color:$white;
      -webkit-font-smoothing:antialiased;
    }
    .fonticon-10-search{
      top: 20px;
      left: 18px;
      font-size: 1.3em;
    }



    .navmenu-search-section-results{
      margin-top:0;
      // padding-top:72px;
      padding-top:18px;
      background:$white;

      .navmenu-search-popular-searches{
      }
    }
    .navmenu-search-popular-searches{
      padding:3px 0 0 0;
      p.l3{
        margin-bottom:4px;
        margin-left:20px;
      }
    }

    .show-mobile-search-results & {
      padding-left:36px;
    }
    .search-result-p .search-result-headline{
      font-size:0.9em;
      line-height:1.3em;
    }
    .navmenu-list-results{
      .search-result-line {
        &:after{ // HR after each search result
          @include pseudoEl-block(100%, 0px);
          margin:0 15px;
          border-bottom:solid 1px $grayLightish;
        }
        > a {
          padding:9px 5px 0px 16px;
          height:59px;
          > img {
            margin-right:6px;
            width:68px;
          }
          .fonticon-30-support {
            margin-right:26px;
            font-size:2em;
          }
        }
      }
    }
    .navmenu-list-extended{
      margin-top:10px;
      margin-left:5px;

      .search-result-line{
        > a.tl {
          font-size:px-em(13);
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
    &.searching{
      .navmenu-search-section-results{
        .navmenu-search-results{
          .btn-show-all-results{
            width: 280px;
            margin: 5px 20px 50px;
          }
        }
      }
    }
  }
}

} // max-width: 767px







// ------------------------------------------------
// LANDSCAPE PHONE AND BELOW
// ------------------------------------------------
// 888888888   .d8888b.  8888888888                         .d8888b.                                  888
// 888        d88P  Y88b       d88P                        d88P  "88b                                 888
// 888        888             d88P                         Y88b. d88P                                 888
// 8888888b.  888d888b.      d88P  88888b.  888  888        "Y8888P"           888  888 88888b.   .d88888  .d88b.  888d888
//      "Y88b 888P "Y88b  88888888 888 "88b `Y8bd8P'       .d88P88K.d88P       888  888 888 "88b d88" 888 d8P  Y8b 888P"
//        888 888    888   d88P    888  888   X88K         888"  Y888P"        888  888 888  888 888  888 88888888 888
// Y88b  d88P Y88b  d88P  d88P     888 d88P .d8""8b.       Y88b .d8888b        Y88b 888 888  888 Y88b 888 Y8b.     888
//  "Y8888P"   "Y8888P"  d88P      88888P"  888  888        "Y8888P" Y88b       "Y88888 888  888  "Y88888  "Y8888  888
//                                 888
//                                 888
//                                 888

@media (max-width: px-em(567px)) {

}









// ------------------------------------------------
// LANDSCAPE PHONE AND BELOW
// ------------------------------------------------
//     d8888  8888888888  .d8888b.                           .d8888b.                                  888
//    d8P888        d88P d88P  Y88b                         d88P  "88b                                 888
//   d8P 888       d88P  888    888                         Y88b. d88P                                 888
//  d8P  888      d88P   Y88b. d888 88888b.  888  888        "Y8888P"           888  888 88888b.   .d88888  .d88b.  888d888
// d88   888   88888888   "Y888P888 888 "88b `Y8bd8P'       .d88P88K.d88P       888  888 888 "88b d88" 888 d8P  Y8b 888P"
// 8888888888   d88P            888 888  888   X88K         888"  Y888P"        888  888 888  888 888  888 88888888 888
//       888   d88P      Y88b  d88P 888 d88P .d8""8b.       Y88b .d8888b        Y88b 888 888  888 Y88b 888 Y8b.     888
//       888  d88P        "Y8888P"  88888P"  888  888        "Y8888P" Y88b       "Y88888 888  888  "Y88888  "Y8888  888
//                                  888
//                                  888
//                                  888
// ------------------------------------------------

@media (max-width: px-em(479px)) {

.nav-wrapper,
.navbar{
  height:auto;
}
.navbar-mobile{
  height: $navbarMobileHeight;
}

.page-wrap-inner.show-mobile-menu{
  left:$navMobileWidth;
}
.mobile-screen-overlay{
  top: $navbarMobileHeight;
  left: 0;
}

.nav-outer-container{
  width:$navMobileWidth;
  left:-$navMobileWidth;
}


// for the mobile search results, the menu goes full-width.
.page-wrap-inner.show-mobile-menu.show-mobile-search-results{
  .mobile-screen-overlay,
  .navbar-mobile,
  #main-wrapper,
  #footer-wrapper{
    left: 101 - $navMobileWidth;
  }
}





.navbar-mobile{
  .btn-mobile-nav,
  .btn-mobile-cart{
    width: $navbarMobileHeight;
    height: $navbarMobileHeight;
  }
  .btn-mobile-nav{
    padding: 11px 0 0 0;
  }
  .btn-mobile-cart{
    padding: 14px 0 0 0;
    font-size: px-em(12);
    i {
      font-size: px-em(16,12);
      margin-right:4px;
    }
  }


  @include sprite-32a(sony-logo, -96px, 72px, 25px);
  .sprite-32a-sony-logo{
    margin-top:12px;
    margin-left:-36px;
  }
}

.navmenu-w-account .btn-login,
.navmenu-w-account .btn-logout{
  max-width:100%;
  margin-left:20px;
  margin-right:20px;
}

.navtray-section-main{
  .navtray-list-main{
    .navtray-li-link {
      .nav-label {
        font-size:$font_15_16;
      }
    }
  }
}

} // max-width: 479px




