


// 888b     d888  .d88888b.
// 8888b   d8888 d88P" "Y88b
// 88888b.d88888 888     888
// 888Y88888P888 888     888 .d8888b
// 888 Y888P 888 888     888 88K
// 888  Y8P  888 888 Y8b 888 "Y8888b.
// 888   "   888 Y88b.Y8b88P      X88
// 888       888  "Y888888"   88888P'
//                      Y8b


// Gallery item media queries
// -------------------------
@media (min-width: px-em(980px)) and (max-width: px-em(1100px) ) {

  .gallery-detailed .products {
    margin-top: -2.5em;
  }

  .gallery-item.detailed {
    margin-top: 2.5em;

    &:after {
      padding-top: 150%;
    }
  }
}

@media (min-width: px-em(980px)) and (max-width: px-em(1023px) ) {
  .gallery-item.large:after {
    padding-top: 106.8%
  }
}

@media ( max-width: $galleryFourColMax ) {

  // Hide all but the first slide in the large tile carousel
  .gallery-item.large .slide:not(:first-child) {
    display: none;
  }
}

// 768-979
@media ( min-width: $galleryFourColMin ) and ( max-width: $galleryFourColMax ) {

  .gallery-detailed .products {
    margin-top: -2.5em;
  }

  .gallery-item.detailed {
    margin-top: 2.5em;

    // Minimum for @768
    &:after {
      padding-top: 175%;
    }
  }

  .product-content {

    .price-prefix {
      // font-size: $font_10_16;
    }
  }
}

@media (max-width: $galleryThreeColMax) {


  // Promo Media Queries
  // -------------------------

  .gallery-item .promo-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5625em 1em;

    .promo-title,
    .text-count {
      position: static;
    }

    .promo-title {
      max-width: none;
      margin: 0 0 0.825em;
    }

    .promo-title .title,
    .promo-title .emphasis {
      font-size: $font_22_16;
    }
  }



  // Remove percentage heights
  .gallery-item {

    &:after,
    .product-img:after {
      content: none;
    }

    .gallery-item-inner,
    .product-img .product-img-wrap {
      position: static;
    }
  }

  // Put percentage heights back for editorial
  .gallery-editorial {

    .gallery-item {
      margin-top: 0.625em;

       &:after {
        content: '';
        padding-top: $oneByOnePadding;
      }
    }

    .gallery-item-inner,
    .product-img .product-img-wrap {
      position: absolute;
    }

    // Make all tiles the same size
    .gallery-item .product-img:after {
      content: '';
      padding-top: $oneByOneImgPadding;
    }
  }


  .gallery-detailed {

    .slide-toggle-parent {
      margin-bottom: .9375em;
    }

    .products {
      margin-top: -1.625em;
    }


    // Detailed Gallery Item Layout
    // --------------------------------

    .gallery-item {
      margin-top: 1.625em; // 26
      width: 100% !important; // override `auto` set by grid system
    }

    .gallery-item-inner {
      display: table;
      height: 100%;
      width: 100%;
    }

    .product-img,
    .product-content {
      display: table-cell;
      vertical-align: top;
      width: 50%;
    }

    .product-img .product-img-wrap {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }

    // non webkit browsers need this
    .product-img img {
      width: 100%;
    }

    .product-content {
      padding-left: 4%;
      margin-top: 0;
    }




    // Detailed gallery item styling
    // ------------------------------
    .product-name {
      margin-bottom: 3px;
      line-height: 14px;
    }

    .product-model {
      margin-bottom: 0;
    }

    .product-rating {
      margin: 0 0 .3125em;
    }

    .fonticon-10-star {
      font-size: .6em;
      letter-spacing: -0.15em;
    }

    .product-meta {
      margin-bottom: .3125em;
    }

    .product-price {
      margin-top: 0;
    }
  }

  // Product name, etc
  .product-content {

    .price-prefix {
      margin-bottom: 0;
      display: block;
    }
  }

  .favorite-holder i {
    font-size: .6875em;
  }

}

// 568 - 640
@media ( min-width: $galleryThreeColMin ) and ( max-width: 40em ) {

  // Make gallery items taller
  .gallery-item.basic:after {
    padding-top: 187%;
  }
}

// // <= 479
// @media ( max-width: 29.9375em ) {

// }

// <= 360
@media ( max-width: 22.5em ) {

  // Make gallery items taller
  .gallery-item.basic:after {
    padding-top: 190%;
  }
}

