//
// Responsive: Navbar
// --------------------------------------------------



// DEFAULT: 980px - 1199px;
// -----------------------------------------
.nav-wrapper{

  .navbar{
    width:auto;
    padding:0 $navbarMinSidePadding;

    .nav{
      &.nav-primary{
        margin-left:3%;
      }
      > li > a{
        line-height:$navbarLineHeight;
        padding: 0 14px;
        margin-top:10px;
        margin-bottom:14px;
        font-size:$navbarTextSize;

        &.nav-dropdown-toggle-text{
          padding-right:8px;
        }
      }
    }
  } // end .navbar

  .navtray-wrapper{
    &.navtray-wrapper-electronics:after{ // background gray under the right side -- just needs to cover up the right margin
      //left:$trayDividerPosition;
    }
    .navtray{
      width:auto;

      .navtray-section-featured{ // section right
        padding-top:67px;
        width: (100-$trayDividerPosition);
        padding-left: 2.8%;
      }
      .navtray-section-main{ // section left
        padding-top:56px;
        width: $trayDividerPosition;

        .navtray-list-main{
          margin: 0 1.6% 2.1% 4.1%;
          overflow:hidden;

          &:after{ // HR
            width:97%;
            height:14px;
            margin-left: 1.7%;
          }

          > li{
            width:23.1%;
            margin:2% 1.9% 2% 0;
          }
          > li > a > img {
            width:83%;
            height:83%;
          }
        }
      } // end .navtray-section-main

      .btn-nav-view-all{
        margin-left: 5.7%;
      }
    } // end .nav-tray
  } // end .navtray-wrapper

  // Required to make the collapsing navbar work on regular desktops
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
} // end .nav-wrapper




// LARGE DESKTOP
// ------------------------------------------------
@media (min-width: 1200px) {
  .nav-wrapper{
    .navbar{
      width:$navbarMaxWidth;
    }
    .navtray-wrapper{
      .navtray{
        width:1190px;

        .navtray-section-featured{ // section right
          width: 100 - ($trayDividerPosition + 2);
          padding-left: 4%;
        }
        .navtray-section-main{ // section left
          width: ($trayDividerPosition + 2);

          .navtray-list-main{
            // margin: 0 1% 1.6% 4.5%;
          }
        }
      }
    }
  }
}


// EXTRA LARGE DESKTOP
// ------------------------------------------------
@media (min-width: 1500px) {
  
}

// PORTRAIT TABLET TO LANDSCAPE AND SMALL DESKTOP
// ------------------------------------------------
@media (min-width: 768px) and (max-width: 979px) {
  .nav-wrapper { 
    .navbar{
      padding:0 4.2%;

      .nav{
        &.nav-primary{
          margin-left: 1.5%;
        }
        > li > a{
          line-height: $navbarLineHeight;
          margin-top: 11px;
          // margin-bottom:14px;
          font-size: $font_13_16;
          padding: 0 7px;
        }
      }
    }
    .navtray-wrapper {
      .navtray {
        width:auto;

        .navtray-section-featured{ // section right
          padding-top: 47px;
          padding-left:2.3%;
          width: 100 - ($trayDividerPosition - 4);
        }
        .navtray-section-main{ // section left - contents
          padding-top: 38px;
          width: ($trayDividerPosition - 4);

          .navtray-list-main {
            margin-left:8.2%;
            margin-right:0;

            &:after{ // HR
              width: 94%;
              height: 10px;
              margin-left: 1.9%;
            };

            > li{
              width:31.9%;
              margin:2% 0.2% 2% 0;
            }
            > li > a {
              padding-bottom:13px;

              > img {
                width:83%;
                height:83%;
                margin:0 auto;
              }
              > .nav-label{
                margin-top:6px;
              }
            }
          }
          .btn-nav-view-all{
            margin-left: 10%;
          }
        }
      }
    }
  }
}


// SMALLER THAN PORTRAIT TABLET -- MOBILE-LARGE
@media (max-width: 767px) {

  // Padding to set content in a bit
  body {
  }
  // Negative indent the now static "fixed" navbar
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px;
  }

  // Account for brand name
  .navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px;
  }

  // COLLAPSIBLE NAVBAR
  // ------------------
  // Nav collapse clears brand
  .nav-collapse {
    clear: both;
  }
  // Block-level the nav
  .nav-collapse .nav {
    float: none;
    margin-bottom:28px;
  }
  .nav-collapse .nav > li {
    float: none;
    line-height: 0.35;
  }
  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > .divider-vertical {
    display: none;
  }
  .nav-collapse .nav .nav-header {
    color: $navbarText;
    text-shadow: none;
  }
  // Nav and dropdown links in navbar
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: $navbarLinkColor;
    @include border-radius(3px);
  }
  // Buttons
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    @include border-radius(4px);
  }
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: $navbarBackground;
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover {
    background-color: $navbarInverseBackground;
  }
  // Buttons in the navbar
  .nav-collapse.in .btn-group {
    margin-top: 5px;
    padding: 0;
  }
  // Dropdowns in the navbar
  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: block;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    @include border-radius(0);
    @include box-shadow(none);
  }
  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }
  .nav-collapse .nav > li > .dropdown-menu {
    &:before,
    &:after {
      display: none;
    }
  }
  // Forms in navbar
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: ($baseLineHeight / 2) 15px;
    margin: ($baseLineHeight / 2) 0;
    border-top: 1px solid $navbarBackground;
    border-bottom: 1px solid $navbarBackground;
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1));
  }
  .navbar-inverse .nav-collapse .navbar-form,
  .navbar-inverse .nav-collapse .navbar-search {
    border-top-color: $navbarInverseBackground;
    border-bottom-color: $navbarInverseBackground;
  }
  // Pull right (secondary) nav content
  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
  }
  // Hide everything in the navbar save .brand and toggle button */
  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
  }
  // Navbar button
  .navbar .btn-mobile-navbar-menu-trigger {
    display: block;
    width: auto;
    border:none;
    margin-top:5px;
  }

  // STATIC NAVBAR
  // -------------
  .navbar-static .navbar-inner {
    padding-left:  10px;
    padding-right: 10px;
  }
}


// LANDSCAPE PHONE AND BELOW
@media (max-width: 480px) {
}


// DEFAULT DESKTOP
// ---------------
