//
// Responsive: Tablet to desktop
// --------------------------------------------------
//
//
//  changed from 768; overrides for 568-767 are in _responsive-567
//  The 768 grid is going to be used down to 568.

// under normal conditions, the 768 grid will flex up to 979px and down to 568px.
@media (min-width: 568px) and (max-width: 979px) {

  .container {
    width: $fluidContainerWidth768;
  }
  .grid,
  .slimgrid,
  .slimgrid5, .grid5 {
    width: $fluidGridWidth768;
  }


  // Fixed grid -- Looks like the px-width-grid is just for docs. Don't really care about mobile/etc so we'll just leave these here.
  .container-px-width{  
    width: $containerWidth768;
  }
  .grid-px-width{
    width: $gridWidth768;
  }
  @include grid-core($gridColumnWidth768, $gridGutterWidth768);
  // Input grid
  @include grid-input($gridColumnWidth768, $gridGutterWidth768);
}

@media (min-width: 768px) and (max-width: 979px) {
  @include grid-fluid($fluidGridColumnWidth768, $fluidGridGutterWidth768);
}

// implement the default (desktop) grid if neither override classes are present.
@media (min-width: 568px) and (max-width: 767px) {
  .container:not(.no-grid-at-767):not(.m-grid-at-767) .grid,
  .container:not(.no-grid-at-767):not(.m-grid-at-767) .slimgrid{
    @include grid-fluid($fluidGridColumnWidth768, $fluidGridGutterWidth768);
  }
} // (min-width: 568px) and (max-width: 979px) 




