//
//
//
//
// 
// Responsive: Optionally collapse the grid below a specified breakpoint.
// 
// ---------------------------------------------------------------------------------------------------
// 888b    888                  .d8888b.          d8b      888       888b     d888 d8b          d8b          
// 8888b   888                 d88P  Y88b         Y8P      888       8888b   d8888 Y8P          Y8P          
// 88888b  888                 888    888                  888       88888b.d88888                           
// 888Y88b 888  .d88b.         888        888d888 888  .d88888       888Y88888P888 888 888  888 888 88888b.  
// 888 Y88b888 d88""88b        888  88888 888P"   888 d88" 888       888 Y888P 888 888 `Y8bd8P' 888 888 "88b 
// 888  Y88888 888  888 888888 888    888 888     888 888  888       888  Y8P  888 888   X88K   888 888  888 
// 888   Y8888 Y88..88P        Y88b  d88P 888     888 Y88b 888       888   "   888 888 .d8""8b. 888 888  888 
// 888    Y888  "Y88P"          "Y8888P88 888     888  "Y88888       888       888 888 888  888 888 888  888 
//                                                                                                           
//                                                                                                           
//                                                                                                           
// ---------------------------------------------------------------------------------------------------

@mixin collapse-grid ($overrideClass:""){
  // #{$overrideClass} .grid {
  //   @include grid-fluid($fluidGrid4ColWidth, $fluidGrid4GutterWidth, $grid4Columns);
  // }

  #DISABLED{}
    // Fluid grid
    // #{$overrideClass}.container,
    // #{$overrideClass} .container,
    // #{$overrideClass}.grid,
    // #{$overrideClass} .grid,
    // #{$overrideClass}.container-px-width,
    // #{$overrideClass} .container-px-width,
    // #{$overrideClass}.grid-px-width,
    // #{$overrideClass} .grid-px-width{
    //   width: 100%;
    // }

    // #{$overrideClass}.mobile-container-padded,
    // #{$overrideClass} .mobile-container-padded{
    //   padding-left:$fluidContainerWidth480;
    //   padding-right:$fluidContainerWidth480;
    // }
    // #{$overrideClass}.mobile-container-margined,
    // #{$overrideClass} .mobile-container-margined{
    //   margin-left:$fluidContainerWidth480;
    //   margin-right:$fluidContainerWidth480;
    // }

  // GRID & CONTAINERS
  // -----------------


  // Make all grid-sized elements block level again
  #{$overrideClass} .grid [class*="span"],
  #{$overrideClass} .grid [class*="offset"],
  #{$overrideClass} .grid [class*="span"]:first-child,
  #{$overrideClass} .grid [class*="offset"]:first-child,

  #{$overrideClass} .grid [class*="m-span"],
  #{$overrideClass} .grid [class*="m-offset"],
  #{$overrideClass} .grid [class*="m-span"]:first-child,
  #{$overrideClass} .grid [class*="m-offset"]:first-child,

  #{$overrideClass} .grid [class*="m-span"].m-span-new-row,
  #{$overrideClass} .grid [class*="m-offset"].m-span-new-row,

  // #{$overrideClass} .grid-px-width [class*="span"],
  // #{$overrideClass} .grid-px-width [class*="offset"]
  // 
  // [class*="span"],
  // .grid [class*="span"],
  // [class*="offset"],
  // .grid [class*="offset"],
  // [class*="span"]:first-child,
  // .grid [class*="span"]:first-child,
  // [class*="offset"]:first-child,
  // .grid [class*="offset"]:first-child
  {
    float: none;
    display: block;
    width: auto; // 100%
    margin-left: 0;
  }



  // ----------------------------------------------------------------------------
  // This is all from Bootstrap - we may be able to strip some of this out:
  // ----------------------------------------------------------------------------
    
  // Undo negative margin on fixed width grids and thumbnails
  #{$overrideClass} .grid-px-width,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0; // Reset the default margin for all li elements when no .span* classes are present
  }

  // Make inputs and span* classes full width
  #{$overrideClass} .input-large,
  #{$overrideClass} .input-xlarge,
  #{$overrideClass} .input-xxlarge,
  #{$overrideClass} input[class*="span"],
  #{$overrideClass} select[class*="span"],
  #{$overrideClass} textarea[class*="span"],
  #{$overrideClass} .uneditable-input {
    @include input-block-level();
  }
  // But don't let it screw up prepend/append inputs
  #{$overrideClass} .input-prepend input,
  #{$overrideClass} .input-append input,
  #{$overrideClass} .input-prepend input[class*="span"],
  #{$overrideClass} .input-append input[class*="span"] {
    display: inline-block; // redeclare so they don't wrap to new lines
    width: auto;
  }
  #{$overrideClass} .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }

  // Modals
  #{$overrideClass}.modal,
  #{$overrideClass} .modal {
    position: fixed;
    top:   20px;
    left:  20px;
    right: 20px;
    width: auto;
    margin: 0;
    &.fade.in { top: auto; }
  }

  #{$overrideClass}.takeover,
  #{$overrideClass} .takeover {
    top:   0;
    left:  0;
    right: 0;

    &.fade.in { top: 0; }
  }

  // Reset horizontal dl
  #{$overrideClass} .dl-horizontal {
    dt {
      float: none;
      clear: none;
      width: auto;
      text-align: left;
    }
    dd {
      margin-left: 0;
    }
  }

  // Update checkboxes for iOS
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }

  // ----------------------------------------------------------------------------
  // end Bootstrap stuff that we might be able to strip out
  // ----------------------------------------------------------------------------


  #{$overrideClass} .grid.show-grid [class*="span"],
  #{$overrideClass} .grid.show-grid [class*="offset"],
  #{$overrideClass} .grid.show-grid [class*="m-span"],
  #{$overrideClass} .grid.show-grid [class*="m-offset"]{
    background:#655 !important;
  }


} // end @mixin collapse-for-mobile























@media (max-width: 767px) {
  @include collapse-grid(".no-grid-at-767");
}
@media (max-width: 567px) {
  @include collapse-grid(".no-grid-at-567");
}
@media (max-width: 479px) {
  @include collapse-grid(".no-grid-at-479");
}

