//
// Responsive: Tertiary Content Container
// --------------------------------------------------

$max-width:1020px;

$tcc-body-height-3up:375px;
$tcc-content-module-height-3up:375px;

$tcc-body-height-1up:198px;
$tcc-content-module-height-1up:198px;

$tcc-wrapper-padding-desktop:76px 0 64px 0;
$tcc-wrapper-padding-phone:35px 0 50px 0;

$tcc-header-padding-bottom-desktop:20px;
$tcc-header-padding-bottom-phone:20px;

$tcc-body-wrapper-padding-desktop:36px 0 0 0;
$tcc-body-wrapper-padding-phone:20px 0 0 0;

$users-voice-padding-bottom-desktop:15px;
$users-voice-padding-bottom-phone:23px;

$users-voice-padding-left-right-desktop:px-em(40px);
$users-voice-padding-left-right-phone:px-em(25px);

$users-voice-padding-desktop:30px px-em(40px) $users-voice-padding-bottom-desktop $users-voice-padding-left-right-desktop;
$users-voice-padding-phone:30px px-em(40px) $users-voice-padding-bottom-phone $users-voice-padding-left-right-phone;

$sonys-voice-padding-bottom:11px;

$tenPercentInstaFlickr: percentage(10px/316px);
$fivePercentInstaFlickr: percentage(5px/316px);

// -----------------------------------------
// 3-UP - // DEFAULT: 980px - 1199px;
// -----------------------------------------
//  .d8888b.   .d8888b.   .d8888b.                         d888    d888   .d8888b.   .d8888b.                    
// d88P  Y88b d88P  Y88b d88P  Y88b                       d8888   d8888  d88P  Y88b d88P  Y88b                   
// 888    888 Y88b. d88P 888    888                         888     888  888    888 888    888                   
// Y88b. d888  "Y88888"  888    888 88888b.  888  888       888     888  Y88b. d888 Y88b. d888 88888b.  888  888 
//  "Y888P888 .d8P""Y8b. 888    888 888 "88b `Y8bd8P'       888     888   "Y888P888  "Y888P888 888 "88b `Y8bd8P' 
//        888 888    888 888    888 888  888   X88K  888888 888     888         888        888 888  888   X88K   
// Y88b  d88P Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       888     888  Y88b  d88P Y88b  d88P 888 d88P .d8""8b. 
//  "Y8888P"   "Y8888P"   "Y8888P"  88888P"  888  888     8888888 8888888 "Y8888P"   "anser"  88888P"  888  888 
//                                  888                                                        888               
//                                  888                                                        888               
//                                  888                              
// -----------------------------------------

.tcc-wrapper{
  padding:$tcc-wrapper-padding-desktop;

  .tcc-header{
    padding-bottom: $tcc-header-padding-bottom-desktop;
    position: relative;

    .tcc-header-title{
      float:left;
      margin:0; // overwrite .l1 default
    
    } // end .tcc-header-title

    .tcc-header-link{
      position: absolute;
      bottom:$tcc-header-padding-bottom-desktop; // offset .tcc-header padding
      right:0;
      margin:0; // overwrite .lt2 default
    } // end .tcc-header-link

  } // end .tcc-header

  .tcc-body-wrapper{
    padding:$tcc-body-wrapper-padding-desktop;

    .tcc-body{
      //@include debug(1px, red);
      height:$tcc-body-height-3up; // need to set the same height for all cases because absolute position in mobile
    } // end .tcc-body

    .tcc-content-module{
      //@include debug(1px, green);
      height:$tcc-content-module-height-3up;
    } // tcc-content-module

  } // end .tcc-body-wrapper

  .tcc-copy{
    padding:0 px-em(20px) px-em(20px) px-em(20px); 
  } // end .tcc-copy

 .social-btn{
    margin:0 auto;
  } // end socialBtn

  .article{ 
    &.default, 
    &.event, 
    &.news{
   
      img{
        width:100%;
        min-height: 100px;
      } // end img

    } // end &.default, &.event, &.news
    
     &.featured{       
        height: 100%;

        .lt3{
          margin-top:14px;
        }

        .feature-copy{
          position: absolute;
          bottom:0;
          left: 0;
          margin:0;
          min-height:30%;
          //padding:5%;
          width:100%;
          padding: px-em(30px); //8% 12%;

          p{
            margin:0; // overwrite default p
          } // end p         

          .t4{
            height:60px;
            overflow:hidden;
            //border:1px solid red;
          }

        } // end .featured-copy

      } // end featured

  } // end .article

  .users-voice{

    &.user-quote,
    &.expert-quote{
      padding:$users-voice-padding-desktop;

      .credits{
        position:absolute;
        bottom:$users-voice-padding-bottom-desktop;
        left:$users-voice-padding-left-right-desktop;

        .avatar{
          margin-bottom:15px;
        } // .avatar
        
        .author{
          &.p4{
            margin:0;
            padding-left: 10px;
          } // end .p4

        } // end author

        .author,
        .handle{
          display: inline;
        } // end .handle & .author

      } // end .credits

    } //end .user-quote and .expert-quote
    
    &.question{
      padding:0;

      .credits{
        @include clearfix();
        position: relative;
        width: 100%;
        white-space: nowrap;
        
        .avatar{
          float:left;
        } // end .avatar

        .author{
          position: absolute;
          top:50%;
          left:91px;
          margin:-11px 0 0 0;
        } // end .author

      } // end .credits

      .bq3{
        max-height:172px;
        padding:40px px-em(30px) 0px px-em(30px);
      } // .bq3

      .answer-btn{
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -85px;
      } // end .answer-btn
 
    } // end .question

  } // users voice

  .sonys-voice{
    padding:0px px-em(20px) $sonys-voice-padding-bottom px-em(20px);
    
    .center-content{
      height:252px;
      width:100%;
    }

    .fonticon-10-facebook,
    .fonticon-10-twitter,
    .fonticon-instagram {
      font-size: px-em(23px);
      padding: px-em(10px);
      @include border-radius(30px);
      margin-bottom:8px;

    } // end .fonticons

    &.instagram{

      .fonticon-instagram{
        width:44px;
        height:44px;
        padding:13px 4px;
      }

      table{
        tr{

          &.bottom-row{
            display:table-row;
          }

          td{

            &.top-left{
              display:table-cell;
              padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr;
              vertical-align: top;
            } // end top-left

            &.top-right{
              display:table-cell;
              vertical-align: top;
              padding:$tenPercentInstaFlickr $tenPercentInstaFlickr $tenPercentInstaFlickr $fivePercentInstaFlickr;
            } // end top-right

            &.bottom-left{
              display:table-cell;
              vertical-align: bottom;
              padding:$fivePercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr $tenPercentInstaFlickr;  
            } // end .bottom-left

            &.top-center-phone,
            &.top-right-phone{
              display:none;
            } // end .top-right-phone  & .bottom-left-phone

          } // end td

        } // end tr

      } // end table
      
    } // end &.instagram

  } // end sonys-voice

  .flickr{
    .center-content{
      height:258px;
     // width:100%;
      padding:8%;
    } // end .center-content

    table{
      //margin:0 auto;
      tr{
        &.top-row,
        &.bottom-row{
          display:table-row;
        } // end  &.top-row, &.bottom-row

      } // end tr

      td{       
        &.top-left,
        &.top-center,
        &.top-right,
        &.bottom-left,
        &.bottom-center,
        &.bottom-right{
          display:table-cell;
        } // end tds

        &.top-left{
          vertical-align: top;
          padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr;
        } // end &.top-left

        &.top-center{
          vertical-align: top;
          padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $fivePercentInstaFlickr 0;
        } // end &.top-center

        &.top-right{
          vertical-align: top;
          padding:$tenPercentInstaFlickr $tenPercentInstaFlickr $fivePercentInstaFlickr 0;
        } // end &.top-right

        &.bottom-left{
          vertical-align: bottom;
          padding:0 $fivePercentInstaFlickr $tenPercentInstaFlickr $tenPercentInstaFlickr;
        } // end &.bottom-left

        &.bottom-center{
          vertical-align: bottom;
          padding:0 $fivePercentInstaFlickr $tenPercentInstaFlickr 0;
        } // end &.bottom-center

        &.bottom-right{
          vertical-align: bottom;
          padding:0 $tenPercentInstaFlickr $tenPercentInstaFlickr 0;
        } // end &.bottom-right

      } // end td    

    } // end table

  } // end .flickr
   
  .pagination-bullets{
    display:block;
    position:relative;
    bottom:0;
    left:0;
  } // end .pagination-bullets    

} // end .tcc-wrapper
   

// 2-UP
@media (min-width: px-em(480px)) and (max-width: px-em(767px)) {
  .tcc-wrapper{

    .no-grid-at-767 [class*="span"]{
      float:left;
      width:200px;
    } // end .no-grid-at-767

    .article{     

      .feature-copy{
        width: 100%;  
      } // &.feature-copy

    } // end .article
    
    &.featured{
      .no-grid-at-767 [class*="span"]{          
        width:100%;
      } // end .no-grid-at-767
      
    } // end &.featured

    .sonys-voice{     
      &.instagram{
        table{
          tr{

            &.bottom-row{
              display:table-row;
            }

            td{

              &.top-left{
                display:table-cell;
                padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr;
                vertical-align: top;
              } // end top-left

              &.top-right{
                display:table-cell;
                vertical-align: top;
                padding:$tenPercentInstaFlickr $tenPercentInstaFlickr $tenPercentInstaFlickr $fivePercentInstaFlickr;
              } // end top-right

              &.bottom-left{
                display:table-cell;
                vertical-align: bottom;
                padding:$fivePercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr $tenPercentInstaFlickr;  
              } // end .bottom-left

              &.top-center-phone,
              &.top-right-phone{
                display:none;
              } // end .top-right-phone  & .bottom-left-phone

            } // end td

          } // end tr

        } // end table

      } // end &.instagram

    } // end .sonys-voice  

    .flickr{
      .center-content{
        height:258px;
        //width:100%;
        padding:0;
      } // end .center-content
  
      table{
        margin:0 auto;
        tr{
          &.top-row,
          &.bottom-row{
            display:table-row;
          } // end  &.top-row, &.bottom-row

        } // end tr

        td{
          &.top-left,
          &.top-center,
          &.top-right,
          &.bottom-left,
          &.bottom-center,
          &.bottom-right{
            display:table-cell;
          } // end tds

          &.top-left{
            padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr;
          } // end &.top-left

          &.top-center{
            padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $fivePercentInstaFlickr 0;
          } // end &.top-center

          &.top-right{
            padding:$tenPercentInstaFlickr $tenPercentInstaFlickr $fivePercentInstaFlickr 0;
          } // end &.top-right

          &.bottom-left{
            padding:0 $fivePercentInstaFlickr $tenPercentInstaFlickr $tenPercentInstaFlickr;
          } // end &.bottom-left

          &.bottom-center{
              padding:0 $fivePercentInstaFlickr $tenPercentInstaFlickr 0;
          } // end &.bottom-center

          &.bottom-right{
              padding:0 $tenPercentInstaFlickr $tenPercentInstaFlickr 0;
          } // end &.bottom-right

        } // end td    

      } // end table
    
    } // end .flickr
    
  } // end .tcc-wrapper

} // end mQ


// ONE UP LANDSCAPE PHONE AND BELOW -- 480px
@media (max-width: px-em(479px)) {
  .tcc-wrapper{
    padding:$tcc-wrapper-padding-phone;

    .tcc-header{
      padding-bottom: $tcc-header-padding-bottom-phone;
      text-align: left;

      .tcc-header-title{
        padding-bottom:15px;
        display:block;
        float:none;
      } // end .tcc-header-title

      .tcc-header-link{
        display:block;
        float:none;
        position: relative;
        bottom:0;       
      } // end .tcc-header-link

    } // end .tcc-header

    .tcc-body-wrapper{
      padding:$tcc-body-wrapper-padding-phone;

      .no-grid-at-767 [class*="span"]{
        float:left;
        width:342px; // DESKTOP >480
      } // end .grid
  
      .tcc-body{
        //@include debug(1px, red);
        height:$tcc-body-height-1up; // need to set the same height for all cases because absolute position in mobile
      } // end .tcc-body

      .tcc-content-module{
        //@include debug(1px, green);
        height:$tcc-content-module-height-1up;
      } // tcc-content-module

    } // end .tcc-body-wrapper

    .article{
      .no-grid-at-767 [class*="span"]{
        height:auto;
      } // end .grid

      .p3{
        display:none; // body copy mobile
      } // end p3

      .img-container{
      
        img{
          width:100%;
        } // end img
      
      } // end .img-container

      &.featured{
        .feature-copy{
          padding: px-em(17px)  px-em(25px); 
        } // end .feature-copy

      } // end .article.featured

    } // end .article  

    .users-voice{

      &.expert-quote{
        .credits{
          .avatar{
            margin-bottom:0;
          } // .avatar

        } // end .credits

      } // end &.expert-quote
      
      &.user-quote{

        padding:30px px-em(25px) 26px px-em(25px);

        .credits{
          position:absolute;
          bottom:$users-voice-padding-bottom-phone;
          left:$users-voice-padding-left-right-phone;

          .avatar{
            margin-bottom:10px;
          } // end avatar

          .handle,
          .author{
            float:left;
            margin:0;
          }

          .author{
           padding-left: px-em(5px);
          } // .author

        } // end .credits
        
      } // end .user-quote & .expert-quote
      
      &.question{
        .credits{
          .author{
            margin:-8px 0 0 0;
          } // end .author
        } // end .credits

        .bq3{
          padding:25px px-em(10px) 0 px-em(10px);
          margin-bottom:7px;
        } // end .bq3

        .answer-btn{
          margin-left: -75px;
          bottom:0;
        } // end .answer-btn

      } // end .question

    } // users voice


    .sonys-voice{
      
     .social-btn{
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left:-73px;
      } // end socialBtn

      .center-content{
        height:95px;
      } // end .center-content

      [class*="fonticon-"]{
        margin-bottom:8px;
        display:inline-block;
        font-size:px-em(16px); 
        padding:px-em(9px); 

      } // end fonticon divs

      .meta{
        display:inline-block;
        padding:0 0 0 px-em(10px);
      } // end .meta

      &.twitter{
        .bq4{
          padding:0;//20px 0;
        } // end .bq4
    
      } // end .twitter

      &.facebook{
        .bq5{
          padding:5px 0;

          p{
            margin-bottom:0;
          } // end p
          
        } // end .bq5
        
      } // end &.facebook     

      &.instagram{      
        .fonticon-instagram{
          width:40px;
          height:40px;
        } // .fonticon-instagram
          
        table{
         margin: 0 auto;
         tr{
           &.bottom-row{
             display:none;
           }

           td{

             &.top-left{
               display:table-cell;
               padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr;
               vertical-align: top;
             } // end top-left

             &.top-right,
             &.bottom-left{
               display:none;
             } // end top-right & .bottom-left

             &.top-center-phone,
             &.top-right-phone{
               display:table-cell;
             } // end .top-right-phone  & .bottom-left-phone

            &.top-center-phone{
              padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr 0;
            } // end .top-center-phone

            &.top-right-phone{
              padding:$tenPercentInstaFlickr $tenPercentInstaFlickr $tenPercentInstaFlickr 0;
            } // end .top-right-phone

           } // end td

         } // end tr

        } // end table

      } // end &.instagram

    } // end .sonys-voice  
    
    .flickr{
     
     .social-btn{
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left:-73px;
      } // end socialBtn

      .center-content{
        height:95px;
        padding:1.5% 0;
        //padding:3.5% 14%;
      } // end .center-content

      .meta{
        margin-top:8px;
        display:inline-block;
        padding-left: px-em(10px); 
      } // end .meta

      table{
        margin:0 auto;
        tr{
          &.bottom-row{
            display:none;
          } // end  &.top-row, &.bottom-row

        } // end tr

        td{
          &.bottom-left,
          &.bottom-center,
          &.bottom-right{
            display:none;
          } // end tds

          &.top-left{
            padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr $tenPercentInstaFlickr;
          } // end &.top-left

          &.top-center{
            padding:$tenPercentInstaFlickr $fivePercentInstaFlickr $tenPercentInstaFlickr 0;
          } // end &.top-center

          &.top-right{
            padding:$tenPercentInstaFlickr $tenPercentInstaFlickr $tenPercentInstaFlickr 0;
          } // end &.top-right

        } // end td    

      } // end table

    } // end .flickr

  } // end .tcc-wrapper

} // end > 480