//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------
//
@media (max-width: 767px) {

  // Fluid grid
  .container,
  .grid,
  .container-px-width,
  .grid-px-width{
    width: 100%;
  }

  .mobile-container-padded{
    padding-left:$containerMarginWidth480;
    padding-right:$containerMarginWidth480;
  }
  .mobile-container-margined{
    margin-left:$containerMarginWidth480;
    margin-right:$containerMarginWidth480;
  }


  // GRID & CONTAINERS
  // -----------------

  // Undo negative margin on fixed width grids and thumbnails
  .grid-px-width,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0; // Reset the default margin for all li elements when no .span* classes are present
  }

  // Make all grid-sized elements block level again
  .grid:not(.grid-small) [class*="span"],
  .grid:not(.grid-small) [class*="offset"],
  .grid-px-width:not(.grid-small) [class*="span"],
  .grid-px-width:not(.grid-small) [class*="offset"]
  // [class*="span"],
  // .grid [class*="span"],
  // [class*="offset"],
  // .grid [class*="offset"],
  // [class*="span"]:first-child,
  // .grid [class*="span"]:first-child,
  // [class*="offset"]:first-child,
  // .grid [class*="offset"]:first-child
  {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    @include box-sizing(border-box);
  }

  // FORM FIELDS
  // -----------
  // Make span* classes full width
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    @include input-block-level();
  }
  // But don't let it screw up prepend/append inputs
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block; // redeclare so they don't wrap to new lines
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }

  // Modals
  .modal {
    position: fixed;
    top:   20px;
    left:  20px;
    right: 20px;
    width: auto;
    margin: 0;
    &.fade.in { top: auto; }
  }

  .takeover {
    top:   0;
    left:  0;
    right: 0;

    &.fade.in { top: 0; }
  }



  // TYPOGRAPHY
  // ----------
  // Reset horizontal dl
  .dl-horizontal {
    dt {
      float: none;
      clear: none;
      width: auto;
      text-align: left;
    }
    dd {
      margin-left: 0;
    }
  }

}











// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 479px) {

  .mobile-container-padded{
    padding-left:$containerMarginWidth320;
    padding-right:$containerMarginWidth320;
  }
  .mobile-container-margined{
    margin-left:$containerMarginWidth320;
    margin-right:$containerMarginWidth320;
  }

  .grid5 {

    .grid [class*="span"],
    [class*="span"] {
      float: left;
      min-height: 1px;
      margin-left: 2%;
      width: 48%;
    }

    .grid [class*="span"]:first-child,
    [class*="span"]:first-child {
      margin-left: 0;
    }

  }

  // Smooth out the collapsing/expanding nav
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0); // activate the GPU
  }

  // Block level the page header small tag for readability
  .page-header h1 small {
    display: block;
    line-height: $baseLineHeight;
  }

  // Update checkboxes for iOS
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }

  // Remove the horizontal form styles
  .form-horizontal {
    .control-label {
      float: none;
      width: auto;
      padding-top: 0;
      text-align: left;
    }
    // Move over all input controls and content
    .controls {
      margin-left: 0;
    }
    // Move the options list down to align with labels
    .control-list {
      padding-top: 0; // has to be padding because margin collaspes
    }
    // Move over buttons in .form-actions to align with .controls
    .form-actions {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  // Modals
  .modal {
    top:   10px;
    left:  10px;
    right: 10px;
  }

  .takeover {
    top:   0;
    left:  0;
    right: 0;
  }

  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }

  .takeover .modal-header {
    position: fixed;
    z-index: 10;
    padding: 8px 2px;
    height: 50px;
    background: $grayDark;

    h3 {
      color: $white;
      font-size: 1em;
    }
  }

  .takeover .modal-subheader {
    padding-top: 50px;
  }

  .takeover .product-count-wrap {
    display: block;
  }

  .takeover .modal-header .box-close {

  }

  // Carousel
  .carousel-caption {
    position: static;
  }

}
