//
// Responsive: Navbar
// --------------------------------------------------



// -----------------------------------------
// DEFAULT: 980px - 1199px;
// -----------------------------------------
//  .d8888b.   .d8888b.   .d8888b.                         d888    d888   .d8888b.   .d8888b.                    
// d88P  Y88b d88P  Y88b d88P  Y88b                       d8888   d8888  d88P  Y88b d88P  Y88b                   
// 888    888 Y88b. d88P 888    888                         888     888  888    888 888    888                   
// Y88b. d888  "Y88888"  888    888 88888b.  888  888       888     888  Y88b. d888 Y88b. d888 88888b.  888  888 
//  "Y888P888 .d8P""Y8b. 888    888 888 "88b `Y8bd8P'       888     888   "Y888P888  "Y888P888 888 "88b `Y8bd8P' 
//        888 888    888 888    888 888  888   X88K  888888 888     888         888        888 888  888   X88K   
// Y88b  d88P Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       888     888  Y88b  d88P Y88b  d88P 888 d88P .d8""8b. 
//  "Y8888P"   "Y8888P"   "Y8888P"  88888P"  888  888     8888888 8888888 "Y8888P"   "Y8888P"  88888P"  888  888 
//                                  888                                                        888               
//                                  888                                                        888               
//                                  888                              
// -----------------------------------------

.nav-wrapper,
.navbar{
  height: $navbarHeight;
}
.navtray-w,
.navmenu-w {
  top: $navbarHeight;
}
.nav{
  .btn-mobile-cart{
    display:none;
  }
}



.nav-primary{
  margin-left:2.5%;

  .nav-li{
    margin: 0 0 0 px-em(10px);

    &.nav-li-electronics{
      margin-left: px-em(12px);
    }
  }
  .nav-li-link{
    line-height:$navbarLineHeight;
    padding: 0 0 4px;
    &:hover,
    &:active,
    &:focus{
      color: $navbarLinkColor;
    }

    .lbl{
      padding:0 4px;
    }
  }
}
.nav-li-store,
.nav-li-support{
  .nav-li-link{
    font-size:$font_15_16;
  }
}


.nav-li-link.nav-dropdown-toggle:not(.nav-dropdown-toggle-btn){
  padding-right: 4px;
  margin-right: 0px;
  font-size:$font_15_16;
  color:$navbarLinkColor;

  .icon-ui-arrowhead-down-gray{
    margin-left: 4px;
    margin-top: 11px;
  }
}


.nav-primary .nav-li-link,
.nav-li-link.nav-dropdown-toggle:not(.nav-dropdown-toggle-btn){
  &:hover,
  &:active,
  &:focus{
    // background-color: $grayDark;
    // border-color: $grayDark;
    color:$navbarLinkColorHover;
  }
}

.nav-li-linkBtn{
  height: 36px;
  margin: 14px 0 14px 2px;
  padding: 10px 12px 0px 11px;

  line-height: 1;
  @include border-radius(1px);

  background-color: $navbarBackground; 
  border-color: $navbarBackground;

  &:hover,
  &:active,
  &:focus,
  &.active{
    background-color: $grayDark;
    border-color: $grayDark;
    color:$navbarLinkColorHover;
  }

  .linkBtn-label,
  .nav-li-count,
  [class^="fonticon-ui-"],
  [class*=" fonticon-ui-"],
  [class^="icon-ui-"],
  [class*=" icon-ui-"]{
    display:block;
    float: left;
  }
  .linkBtn-label{
    font-size:$font_11_16;
    @include fontMedium;
    margin-left:5px;
    padding-top: 2px;
  }
  .nav-li-count{
    display:block;
    float:left;
    font-size: $font_13_16;
    @include fontBold;
    margin-top:0px;
  }
  [class^="fonticon-ui-"],
  [class*=" fonticon-ui-"]{
    margin: 2px 0 0 0;
  }
  [class^="icon-ui-"],
  [class*=" icon-ui-"]{
    margin: 1px 2px 0 2px;
  }
}


.nav-li-account{
  .nav-li-link.nav-dropdown-toggle{
    font-size:$font_11_16;
    padding-right:8px;

    .icon-ui-arrowhead-down-gray{
      margin-left: 6px;
      margin-top: 7px;
    }
  }
}
.nav-li-favorites .nav-li-link {
  padding-right:4px;
  padding-left:6px;
}
.nav-li-cart .nav-li-link{
  padding-right:8px;
  padding-left:6px;
}
.nav-li-search .nav-li-linkBtn {
  background-color: $navbarTertiaryColor;
  border-color: $navbarTertiaryColor;
  @include border-radius(1px);

  .linkBtn-label{
    padding-right:4px;
  }

  &:hover,
  &:active,
  &:focus,
  &.active{
    background-color: $linkColor;
    border-color: $linkColor;
    i,
    .linkBtn-label{
      color:$navbarLinkColor;
    }
  }
}
.nav-li-universal .nav-li-linkBtn {
  [class^="icon-ui-"],
  [class*=" icon-ui-"]{
    margin-top: 0;
  }
}

.navtray-w-tall:after{ // background gray under the right side -- just needs to cover up the right margin
  //left:$navTrayDividerPosition;
}

.navtray{
  width:100%;

  .btn-nav-view-all{
    display:inline-block;
    width:auto;
    background:$white;
    border:$white;
    margin:0 0 0 39.4%;
    padding-left:20px;
    padding-right:20px;

    .linkBtn-label{
      color:$linkColor;
      font-size:$font_15_16;
    }
    i{
      margin-top:2px;
      margin-right:10px;
    }
    &:hover,
    &:active,
    &:focus{
      background:$grayLightFieldSmall;
    }
  }
} // end .navtray

.navtray-section-main{ // section left
  padding-top:50px;
  width: $navTrayDividerPosition;

  .navtray-w-short &{
    min-height: 260px;
  }

  .navtray-list-main{
    margin: 0 4.0% 1.0% 4.0%;
    overflow:hidden;

    .navtray-li {
      width: 24.8%;
    }

    .navtray-li-link {
      margin: 2% 3.3% 0 0;
      padding:27px 0 0 0;

      &:hover,
      &:active,
      &:focus{
        background:$grayLightFieldSmall;
      }
      .nav-img-w img {
        width:83%;
      }
    }

    &:after { // HR
      width:98.4%;
      height:1px;
    }
  }
} // end .navtray-section-main


.navtray-section-featured{ // section right
  padding-top:47px;
  &.navtray-section-featured-short{
    padding-top:0;
  }
  width: (100-$navTrayDividerPosition); 
  padding-left: 3.8%;
  .navtray-secondary-promo{
    max-width: 218px;
    margin-top: 57px;
    margin-right:14%;
    img{
      padding-bottom:6px;
    }
    .p2,
    .p3{
      font-size:$font_13_15;
      padding:3px 15px 0 0;
    }
    .p2{
      font-size:$font_16_16;
    }
    .p3{
      line-height: 1.5;
    }
  }
}


// Required to make the collapsing navbar work on regular desktops
.nav-collapse.collapse {
  height: auto !important;
  overflow: visible !important;
}


.navmenu-w-search{
  @include hideshow-navmenu-hide(right);

  .sprite-mini-global-nav-indicator{
    right:31px;
  }
  .btn-clear-search-input{
    right: 30px;
    top: 22px;
  }
}

.navmenu-w-account{
  width: 215px;
  padding: 16px 0 9px;

  @include hideshow-navmenu-hide(right);

  .navmenu-list-prefixed{
    border-bottom:solid 1px $grayLightish;
    padding-bottom:6px;
    display:none;
  }
}
// END 980px-1199px Default


@media (min-width: px-em(980px)) and (max-width: px-em(1039px)) {
  .navtray-section-main .navtray-list-main .navtray-li .navtray-li-link{ 
    padding-top:25px;
    height: 155px;
  }
  .navtray-section-featured .navtray-secondary-promo{
      margin-top: 32px;
  }
}

@media (min-width: px-em(1040px)) and (max-width: px-em(1099px)) {
  .navtray-section-main .navtray-list-main .navtray-li .navtray-li-link{ 
    padding-top:25px;
    height: 165px;
  }
}

@media (min-width: px-em(1040px)) {
  .navtray-w-short .navtray-section-main{
    min-height: 300px;
  }
}

@media (min-width: px-em(1100px)) and (max-width: px-em(1149px)) {
  .navtray-section-main .navtray-list-main .navtray-li .navtray-li-link{  
    height: 175px;
  }
}

@media (min-width: px-em(1150px)) {
  .navtray-section-main .navtray-list-main .navtray-li .navtray-li-link{  
    height: 185px;
  }
}















// ------------------------------------------------
// LARGE DESKTOP
// ------------------------------------------------
//  d888    .d8888b.   .d8888b.   .d8888b.                            
// d8888   d88P  Y88b d88P  Y88b d88P  Y88b                           
//   888          888 888    888 888    888                           
//   888        .d88P 888    888 888    888 88888b.  888  888   888   
//   888    .od888P"  888    888 888    888 888 "88b `Y8bd8P' 8888888 
//   888   d88P"      888    888 888    888 888  888   X88K     888   
//   888   888"       Y88b  d88P Y88b  d88P 888 d88P .d8""8b.         
// 8888888 888888888   "Y8888P"   "Y8888P"  88888P"  888  888         
//                                          888                       
//                                          888                       
//                                          888 
// ------------------------------------------------

@media (min-width: px-em(1200px)) {

.nav-primary{
  margin-left:3.1%;

  .nav-li{
    margin-left: px-em(12px);

    &.nav-li-electronics {
      margin-left: px-em(19px);
    }
  }
}

.navtray.navtray-absolute{
  position: absolute;
  bottom: 0;
  width:$navtrayMaxWidth;
  margin-left:- ($navtrayMaxWidth / 2);
  left:50%;
}

.navtray-section-featured{ // section right
  .navtray-section-featured-short{
    padding-top:0;
  }
}

.navtray-w-fullwidth-3-4:after{ // background gray under the right side -- just needs to cover up the right margin
  content: "";
  display: block;
  width: (110-$navTrayDividerPosition); // make sure it's a little wider than really necessary so there's no little edge showing.
  height: 100%;
  position:absolute;
  top:0;
  left:$navTrayDividerPosition * 1.1; // just needs to cover up the right margin, so make sure it's farther right than neccessary
  z-index:1;
  background: $navTrayBackgroundAlt;
}
} // END min-width: 1200px





// ------------------------------------------------
// EXTRA LARGE DESKTOP
// ------------------------------------------------
//  d888      d8888   .d8888b.   .d8888b.                            
// d8888     d8P888  d88P  Y88b d88P  Y88b                           
//   888    d8P 888  888    888 888    888                           
//   888   d8P  888  888    888 888    888 88888b.  888  888   888   
//   888  d88   888  888    888 888    888 888 "88b `Y8bd8P' 8888888 
//   888  8888888888 888    888 888    888 888  888   X88K     888   
//   888        888  Y88b  d88P Y88b  d88P 888 d88P .d8""8b.         
// 8888888      888   "Y8888P"   "Y8888P"  88888P"  888  888         
//                                         888                       
//                                         888  
// ------------------------------------------------                     
                            
@media (min-width: px-em(1400px)) {
  
} // END min-width: 1400px





// ------------------------------------------------
// PORTRAIT TABLET TO LANDSCAPE AND SMALL DESKTOP
// ------------------------------------------------
//  d888    .d8888b.   .d8888b.   .d8888b.         .d8888b.                                  888                  
// d8888   d88P  Y88b d88P  Y88b d88P  Y88b       d88P  "88b                                 888                  
//   888   888    888        888      .d88P       Y88b. d88P                                 888                  
//   888   888    888      .d88P     8888"         "Y8888P"           888  888 88888b.   .d88888  .d88b.  888d888 
//   888   888    888  .od888P"       "Y8b.       .d88P88K.d88P       888  888 888 "88b d88" 888 d8P  Y8b 888P"   
//   888   888    888 d88P"      888    888       888"  Y888P"        888  888 888  888 888  888 88888888 888     
//   888   Y88b  d88P 888"       Y88b  d88P       Y88b .d8888b        Y88b 888 888  888 Y88b 888 Y8b.     888     
// 8888888  "Y8888P"  888888888   "Y8888P"         "Y8888P" Y88b       "Y88888 888  888  "Y88888  "Y8888  888
// ------------------------------------------------
@media (max-width: px-em(1023px)) {

.nav-li-search .nav-li-linkBtn {
  .linkBtn-label{
    display:none;
  }
}
.nav-li-count{
  display:inline-block;
  padding:0 9px;
  margin:2px 0 0 12px;
  line-height:21px;
  background:$green;
  color:$navbarLinkColor;
  font-size:$font_11_12;
  @include fontMedium;
  @include border-radius(1px);
}



.nav-li-universal .nav-li-link {
  // margin-right: -10px;
  // > i.fonticon-ui-mini-bold-plus {
  //   margin-left: 8px;
  // }
}

.navmenu-w-search{
  margin-left: 25px;
}

.navmenu-w-account .navmenu-list-prefixed{
  display:block;
}
.nav-li-favorites,
.nav-li-cart{
  display:none;
}

} // END max-width: 1023px





// ------------------------------------------------
// PORTRAIT TABLET TO LANDSCAPE AND SMALL DESKTOP
// ------------------------------------------------
// 8888888888  .d8888b.   .d8888b.                           .d8888b.  8888888888  .d8888b.                    
//       d88P d88P  Y88b d88P  Y88b                         d88P  Y88b       d88P d88P  Y88b                   
//      d88P  888        Y88b. d88P                         888    888      d88P  888    888                   
//     d88P   888d888b.   "Y88888"  88888b.  888  888       Y88b. d888     d88P   Y88b. d888 88888b.  888  888 
//  88888888  888P "Y88b .d8P""Y8b. 888 "88b `Y8bd8P'        "Y888P888  88888888   "Y888P888 888 "88b `Y8bd8P' 
//   d88P     888    888 888    888 888  888   X88K  888888        888   d88P            888 888  888   X88K   
//  d88P      Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       Y88b  d88P  d88P      Y88b  d88P 888 d88P .d8""8b. 
// d88P        "Y8888P"   "Y8888P"  88888P"  888  888        "Y8888P"  d88P        "Y8888P"  88888P"  888  888 
//                                  888                                                      888               
//                                  888                                                      888               
//                                  888                                                      888   
// ------------------------------------------------
@media (min-width: px-em(768px)) and (max-width: px-em(979px)) {

.navbar{
  // override the default logo sprite with the smaller one.
  @include sprite-reg-nav-sony-logo-sm;

  .sprite-reg-nav-sony-logo{
    margin-top:14px;
  }
}
.nav-wrapper,
.navbar{
  height: $navbarHeightShort;
}
.navtray-w,
.navmenu-w {
  top: $navbarHeightShort;
}


.nav-primary{
  margin-left: 2.4%;
  .nav-li-link,
  .nav-li-link.nav-dropdown-toggle:not(.nav-dropdown-toggle-btn) {

    line-height: $navbarLineHeightShort;
    font-size: $font_12_16;
    padding: 1px 0 3px;

    &.nav-dropdown-toggle{
      .icon-ui-arrowhead-down-gray{
        margin-top: 8px;
        margin-left: 1px;
      }
    }
  }
} // .nav.nav-primary

.navtray {
  width:auto;
}


.nav-li-account{
  .nav-li-link.nav-dropdown-toggle{
    font-size:$font_11_16;

    .icon-ui-arrowhead-down-gray{
      margin-top: 8px;
    }
  }
}


.nav-li-linkBtn{
  height: 28px;
  margin: 12px 0 11px 2px;
  padding: 6px 7px 2px;
  
  [class^="fonticon-ui-"]::before,
  [class*=" fonticon-ui-"]::before {
    font-size: 1em;
  }
  [class^="fonticon-ui-"],
  [class*=" fonticon-ui-"] {
    // margin-top: 0;
  }
}

.navtray-section-main{ // section left
  padding-top: 38px;
  width: ($navTrayDividerPosition - 4);

  .navtray-w-short &{
    padding-bottom: 0;    
  }

  .navtray-list-main{
    margin-left: 4.1%;
    margin-right: 3%;


    .navtray-li {
      width: 33.1%;
    }
    .navtray-li-link {
      margin: 1% 1.4% 1.1% 0;

      .nav-label{
        font-size:$font_15_16;
        line-height:1.2;
      }
    }

    &:after{ // HR
      width: 94.45%;
      height: 1px;
      margin-left: 0;
    } 

    .nav-li{
      width:31.9%;
      margin:2% 0.2% 2% 0;
    }
    .nav-li-link {
      padding-bottom:13px;

      > img {
        width:83%;
        // height:83%;
        margin:0 auto;
      }
      > .nav-label{
        margin-top:6px;
      }
    }
  }
} // .navtray-section-main


.navtray .btn-nav-view-all{
  margin-left:33.4%;
}

.navmenu-w-search{
  margin-left: 27px;
}

.navtray-section-featured{ // section right
  padding-top: 35px;
  padding-left: 3.3%;
  width: 100 - ($navTrayDividerPosition - 4);

  .navtray-secondary-promo{
    margin-top: 32px;

    &.navtray-secondary-promo-short{
      margin-top: 32px;
    }

    img{
      padding-bottom:10px;
    }
    .p2{
      padding-right: 35px;
    }
    .p3{
      display:inline-block;
      padding-right: 50px;
      padding-top:5px;
    }
  }

  &.navtray-section-featured-short{
    padding-top: 10px;
  }
} //.navtray-section-featured
} // min-width: 768px and max-width: 979px

@media (min-width: px-em(768px)) and (max-width: px-em(839px)) {
.navtray-section-main .navtray-list-main .navtray-li .navtray-li-link{  
  padding-top:15px;
  height: 150px;
}
}

@media (min-width: px-em(840px)) and (max-width: px-em(899px)) {
.navtray-section-main .navtray-list-main .navtray-li .navtray-li-link{  
  padding-top:20px;
  height: 170px;
}
}

@media (min-width: px-em(900px)) and (max-width: px-em(979px)) {
.navtray-section-main .navtray-list-main .navtray-li .navtray-li-link{  
  padding-top:25px;
  height: 190px;
}
}





















// ------------------------------------------------
// MOBILE-LARGE (mostly the same as mobile, but a little bigger.)
// ------------------------------------------------
//  8888888888  .d8888b.  8888888888                         .d8888b.                                  888                    
//        d88P d88P  Y88b       d88P                        d88P  "88b                                 888                 
//       d88P  888             d88P                         Y88b. d88P                                 888                 
//      d88P   888d888b.      d88P  88888b.  888  888        "Y8888P"           888  888 88888b.   .d88888  .d88b.  888d888
//   88888888  888P "Y88b  88888888 888 "88b `Y8bd8P'       .d88P88K.d88P       888  888 888 "88b d88" 888 d8P  Y8b 888P"  
//    d88P     888    888   d88P    888  888   X88K         888"  Y888P"        888  888 888  888 888  888 88888888 888    
//   d88P      Y88b  d88P  d88P     888 d88P .d8""8b.       Y88b .d8888b        Y88b 888 888  888 Y88b 888 Y8b.     888    
//  d88P        "Y8888P"  d88P      88888P"  888  888        "Y8888P" Y88b       "Y88888 888  888  "Y88888  "Y8888  888    
//                                  888               
//                                  888               
//                                  888       
// ------------------------------------------------    

@media (max-width: px-em(767px)) {


  .nav-wrapper,
  .navbar{
    height:auto;
  }

  .page-wrap-inner{
    @include transition(left $transitionSlower $easeOutNav 0s);
    position:relative;
  }

  .page-wrap-outer{
  }
  .page-wrap-inner.show-mobile-menu{
    left:$navMobileWidthLarge;
    position:fixed; // so the "main" content area doesn't scroll; just the nav
  }

  .mobile-screen-overlay{
    top: $navbarMobileHeightTall;
    position:absolute;
    left: 0;
    z-index: $zindexModalBackdrop;
    background-color: $modalBackgroundColor;
    @include transition(opacity $transitionSuperslow linear);
  }


  .nav-outer-container{
    position:absolute;
    width:$navMobileWidthLarge;
    left:-$navMobileWidthLarge;
    top:0;
  }


  .nav-li{
    width:100%;
    float:none;
  }
  .navbar{
    .nav-primary,
    .nav-li-account .nav-li-link,
    .nav-li-search,
    .nav-li-favorites,
    .nav-li-search,
    .sprite-reg-nav-sony-logo{
      display:none;
    }
  } // .navbar

  .navmenu-w{
    @include border-radius(0);
  }
  .navmenu-w-mobile-top{
    padding-top:16px;
    padding-bottom:28px;
  }
  .navmenu-w-search{
    width:100%;
    background:$grayLighter;
    padding:9px;

    .navmenu-search-section-input{
      padding:7px 12px 9px 8px;

      input[type=text]{
        font-size:$font_15_16;
        @include fontRegular;
        line-height:1;
        width:100%;
      }
    }

    @include sprite-mini(nav-search-input,  -60px,  16px,   16px);
    .sprite-mini-nav-search-input{
      top: 23px;
      left: 18px;
    }
    .btn-clear-search-input{
      right: 17px;
      top: 17px;
    }
  }

  .navmenu-w-account{
    width:100%;
    padding-bottom:30px;

    .btn-logout{
      margin-top:15px;
    }
    &.logged-in{
      .btn-login{
        display: none;
      }
      .btn-logout{
        display: block;
      }        
    }
  }

  .navmenu-w-account .btn-login,
  .navmenu-w-account .btn-logout,
  .nav-li-universal .nav-li-link,
  .navtray .btn-nav-view-all{
    display: block;
    width: auto;
    padding:10px 0 12px;

    margin-left:auto;
    margin-right:auto;
    max-width:220px;
  }
  .navmenu-w-account .btn-login,
  .navmenu-w-account .btn-logout{
    font-size: $font_13_15;
  }



  .navtray-w{
    border-bottom:none;
  }
  .navtray-section-featured{
    display:none;
  }


  .navtray .btn.btn-nav-view-all{
    margin-top: 28px;
    .linkBtn-label{
      font-size: $font_14_15;    
    }
    &:hover,
    &:active,
    &:focus{
      background:$linkColorLight;
      .linkBtn-label{
        color:$white;
      }
    }
  }
  .nav-li-universal{
    background:$grayDarkerFieldLarge;
    padding-top:7px;
    padding-bottom: 39px;

    .nav-li-linkBtn{
      height:auto;
      background:$grayDarkFieldSmall;
      border-color:$grayDarkFieldSmall;
      text-align:center;
      padding:9px 0 14px;
      .icon-ui-plus-tiny-boxed,
      .linkBtn-label{
        display:inline-block;
        float:none;
        font-size:$font_15_16;
      }
      .icon-ui-plus-tiny-boxed{
        margin-top: 5px;
      }
    }
  }

  .navmenu-list{
    .navmenu-line{
      margin-left:14px;
      a.tl{
        font-size:$font_14_15;
        padding:5px 0 5px 4px;
        i{
          padding-right:7px;
        }
      }
    }
    .navmenu-li-welcome{
      color:$grayDarkFieldSmall;
      text-transform:uppercase;
      font-size:$font_12_16;
      @include fontBold;
      margin: 4px 0 0 17px;
    }
  }



  .navmenu-list.navmenu-list-prefixed,
  .sprite-mini-global-nav-indicator,
  .navmenu-search-section-results{
    display:none;
  }

  .navbar-mobile{
    display:block;
    // border-top: solid 1px #2f353d;

    .btn-mobile-nav,
    .btn-mobile-cart{
      border:none;
      margin:0;
      display:block;
      background:$navbarBackground;
      width: $navbarMobileHeightTall;
      height: $navbarMobileHeightTall;
      padding: 18px 19px 0;
    }
    .btn-mobile-nav{
      margin-top:0;
      float:left;
      border-right:solid 1px $grayDark;
      i {
        margin:auto;
      }
      // override the default icon with the bigger one.
      @include icon-ui(mobile-menu-btn, -1020px,   22px,   19px);
    }
    .btn-mobile-cart{
      float:right; 
      padding:19px 0 0;
      width:$navbarMobileHeightTall;
      height:$navbarMobileHeightTall;
      border-left:solid 1px $grayDark;
      font-size:$font_15_16;
      color:$navbarLinkColor;

      // override the default icon with the bigger one.
      @include icon-ui(cart, -1050px,   19px,   17px);
      i {
        margin-top:1px;
        margin-right:4px;
      }
    }
    .sprite-reg-nav-sony-logo{ // this is the normal (larger) size logo. Switch to small under 980px.
      position:absolute;
      width:90px;
      margin-left:-45px;
      margin-top:15px;
    }
  }



  .navmenu-w,
  .navtray-w,
  .nav.nav-primary,
  .nav.nav-utility{
    @include hideshow-navmenu-reset;
  }

  .navtray,
  .navtray-section-main{
    background:$navTrayBackgroundAlt;
  }




  .navtray-section-main{
    padding-top:0;
    width:100%;

    h4{
      font-size:$font_12_16;
      @include fontBold;
      padding:18px 0 2.5% 5.2%;
      text-transform:uppercase;
      color:$grayDarkFieldSmall;
    }
    .navtray-list-main{
      margin: 0 0 1.2% 5.3%;
      overflow:visible;

      .navtray-li {
        width:45%;
        margin:5% 4.3% 0 0;
      }
      .navtray-li-link {
        height:auto;
        padding-top:0;
        margin-right:0;
        padding-bottom:0;

        .nav-img-w{
          display:block;
          overflow:hidden;
          background:$white;
          padding:7% 0 14%;
          @include box-shadow(0px 1px 1px 1px rgba(0,0,0,0.1));
          img {
            width:73%;
          } 
        }
        .nav-label{
          font-size:$font_16_16;
        }

        &:hover,
        &:active,
        &:focus{
          .nav-img-w{
            @include box-shadow(0px 1px 1px 1px rgba(0,0,0,0.025));
          }
        }
      }
    }
  }
  .navtray-section-main-w-all-btn{
    padding-bottom:0;
    .navtray-list-main:after{
      border:none;
    }
    &:after{ // HR
      content: '';
      display:block;
      clear:both;
      border-bottom: solid 3px $grayLighter;
      height:24px;
      margin:0 20px;
    }
  }


  
} // max-width: 767px







// ------------------------------------------------
// LANDSCAPE PHONE AND BELOW
// ------------------------------------------------
// 888888888   .d8888b.  8888888888                         .d8888b.                                  888                  
// 888        d88P  Y88b       d88P                        d88P  "88b                                 888                  
// 888        888             d88P                         Y88b. d88P                                 888                  
// 8888888b.  888d888b.      d88P  88888b.  888  888        "Y8888P"           888  888 88888b.   .d88888  .d88b.  888d888 
//      "Y88b 888P "Y88b  88888888 888 "88b `Y8bd8P'       .d88P88K.d88P       888  888 888 "88b d88" 888 d8P  Y8b 888P"   
//        888 888    888   d88P    888  888   X88K         888"  Y888P"        888  888 888  888 888  888 88888888 888     
// Y88b  d88P Y88b  d88P  d88P     888 d88P .d8""8b.       Y88b .d8888b        Y88b 888 888  888 Y88b 888 Y8b.     888     
//  "Y8888P"   "Y8888P"  d88P      88888P"  888  888        "Y8888P" Y88b       "Y88888 888  888  "Y88888  "Y8888  888     
//                                 888                                                                                     
//                                 888                                                                                     
//                                 888                                                                                     

@media (max-width: px-em(567px)) {

}









// ------------------------------------------------
// LANDSCAPE PHONE AND BELOW
// ------------------------------------------------
//     d8888  8888888888  .d8888b.                           .d8888b.                                  888                  
//    d8P888        d88P d88P  Y88b                         d88P  "88b                                 888                  
//   d8P 888       d88P  888    888                         Y88b. d88P                                 888                  
//  d8P  888      d88P   Y88b. d888 88888b.  888  888        "Y8888P"           888  888 88888b.   .d88888  .d88b.  888d888 
// d88   888   88888888   "Y888P888 888 "88b `Y8bd8P'       .d88P88K.d88P       888  888 888 "88b d88" 888 d8P  Y8b 888P"   
// 8888888888   d88P            888 888  888   X88K         888"  Y888P"        888  888 888  888 888  888 88888888 888     
//       888   d88P      Y88b  d88P 888 d88P .d8""8b.       Y88b .d8888b        Y88b 888 888  888 Y88b 888 Y8b.     888     
//       888  d88P        "Y8888P"  88888P"  888  888        "Y8888P" Y88b       "Y88888 888  888  "Y88888  "Y8888  888     
//                                  888                                                                                     
//                                  888                                                                                     
//                                  888    
// ------------------------------------------------

@media (max-width: px-em(479px)) {

  .nav-wrapper,
  .navbar{
    height:auto;
  }
  .navbar-mobile{
    height: $navbarMobileHeight;
  }

  .page-wrap-inner.show-mobile-menu{
    left:$navMobileWidth;
  }
  .mobile-screen-overlay{
    top: $navbarMobileHeight;
  }

  .nav-outer-container{
    width:$navMobileWidth;
    left:-$navMobileWidth;
  }




  .navbar-mobile{
    // override the default logo sprite with the smaller one.
    @include sprite-reg-nav-sony-logo-sm;
    .sprite-reg-nav-sony-logo{
      margin-top:10px;
      width:70px;
      margin-left:-40px;
    }
    .btn-mobile-nav{
      width: $navbarMobileHeight;
      height: $navbarMobileHeight;
      padding:14px 12px 0 14px;

      // back to the regular icon size.
      @include icon-ui(mobile-menu-btn, -1020px,   19px,   16px);
    }
    .btn-mobile-cart{
      padding:13px 0 0px 4px;
      width:54px;
      height:48px;
    }
  }

  .navmenu-w-account .btn-login,
  .navmenu-w-account .btn-logout,
  .nav-li-universal .nav-li-link,
  .navtray .btn-nav-view-all{
    max-width:100%;
    margin-left:20px;
    margin-right:20px;
  }

  .navtray-section-main{
    .navtray-list-main{
      .navtray-li-link {
        .nav-label {
          font-size:$font_15_16;
        }
      }
    }
  }

} // max-width: 479px




