//
// Responsive: Tablet to desktop
// --------------------------------------------------
//
//
//  changed from 768; overrides for 568-767 are in _responsive-567
//  The 768 grid is going to be used down to 568.

// under normal conditions, the 768 grid will flex up to 979px and down to 568px.
@media (min-width: px-em(568px)) and (max-width: px-em(979px)) {

}

@media (min-width: px-em(768px)) and (max-width: px-em(979px)) {
  .container {
    width: $fluidContainerWidth768;
  }
  .grid,
  .slimgrid,
  .slimgrid5, .grid5 {
    width: $fluidGridWidth768;
  }
  @include grid-fluid($fluidGridColumnWidth768, $fluidGridGutterWidth768);


  // Fixed grid -- Looks like the px-width-grid is just for docs. Don't really care about mobile/etc so we'll just leave these here.
  .container-px-width{  
    width: $containerWidth768;
  }
  .grid-px-width{
    width: $gridWidth768;
  }
  @include grid-core($gridColumnWidth768, $gridGutterWidth768);
  // Input grid
  @include grid-input($gridColumnWidth768, $gridGutterWidth768);
  
} // (min-width: 768px)) and (max-width: 979px))

// implement the default (desktop) grid if no override class is present.
@media (min-width: px-em(568px)) and (max-width: px-em(767px)) {
  .grid,
  .slimgrid,
  .slimgrid5, .grid5 {
    &:not(.no-grid-at-767):not(.m-grid-at-767):not(.m-grid){
      @include grid-fluid($fluidGridColumnWidth768, $fluidGridGutterWidth768);
    }
  }
} // (min-width: 568px)) and (max-width: 767px)) 

