// http://www.brettjankord.com/2012/11/28/cross-browser-retinahigh-resolution-media-queries/

// 1.3 dpr -- I changed this so it will send retina images to devices as low as 1.3dpr - including the Nexus 7. It's debatable whether 1.3 should get retina or scale up non-retina - but that'll look janky so I vote we send them retina.
@media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124dpi) {

  // Make sure the size of the @2x spritesheet isn't too large to be display on the iPhone.
  // The width * height of an image has to be < 5 * 1024 * 1024 (5MB) for iOS devices with > 256MB of RAM
  // (3MB for devices with 256MB).

  // Also, checkmarks won't be @2x if .no-touch precedes %sprite (it uses .csstransforms which is also on the html element)

  .no-touch %sprite {
    background-image: url($spritePath_2x);
    background-size: $spritePath_2x_size;
  }

  [class^="sprite-"],
  [class*=" sprite-"]{
    background-image: url($spritePath_2x);
    background-size: $spritePath_2x_size;
  }

  [class^="sprite-flag-"],
  [class*=" sprite-flag-"],
  [class^="sprite-flagBig-"],
  [class*=" sprite-flagBig-"] {
    background-image: url($flagSpritePath_2x);
    background-size: $flagSpritePath_2x_size;
  }
}