
@media (max-width: px-em( 979 ) ) {

}

@media (max-width: px-em( 767 ) ) {

  .carousel-sequence {
    height: 420px;

    .grid .box {
      position: absolute;
      text-align: center;
      min-height: 0;
      // height: 150px;
    }

    .box.active {
      position: static;
    }

    // Utilitiy class is being overridden
    // .box.visuallyhidden {
    //   margin: -1px;
    //   position: absolute;
    //   width: 1px;
    // }
  }
}

@media (max-width: px-em( 479 ) ) {

  .carousel-sequence {
    height: 400px;
  }
}
