//
// Responsive: Large desktop and up
// --------------------------------------------------
//
//
@media (min-width: px-em(1400)) {

  .pagination-paddles {

    button {

      &.pagination-next {
        right: 50%;
        margin-right: px-em( -630px );
      }

      &.pagination-prev {
        left: 50%;
        margin-left: px-em( -630px );
      }
    }
  }

}