//
// Responsive: Tablet to desktop
// --------------------------------------------------
//
//
//  changed from 768; overrides for 568-767 are in _responsive-567
//  The 768 grid is going to be used down to 568.

// under normal conditions, the 768 grid will flex up to 979px and down to 568px.
@media (min-width: px-em(568px)) and (max-width: px-em(979px)) {

}

@media (min-width: px-em(768px)) and (max-width: px-em(979px)) {
  .container {
    width: $fluidContainerWidth768;
  }
  .grid,
  .slimgrid,
  .slimgrid5, .grid5 {
    width: $fluidGridWidth768;
  }
  @include grid-fluid($fluidGridColumnWidth768, $fluidGridGutterWidth768);


  // Fixed grid -- Looks like the px-width-grid is just for docs. Don't really care about mobile/etc so we'll just leave these here.
  .container-px-width{
    width: $containerWidth768;
  }
  .grid-px-width{
    width: $gridWidth768;
  }
  @include grid-core($gridColumnWidth768, $gridGutterWidth768);
  // Input grid
  @include grid-input($gridColumnWidth768, $gridGutterWidth768);

} // (min-width: 768px)) and (max-width: 979px))

// implement the default (desktop) grid if no override class is present.
@media (min-width: px-em(568px)) and (max-width: px-em(767px)) {
  #TESTING1{background:red;}
  // .grid,
  // .slimgrid,
  // .slimgrid5, .grid5 {
  //   &:not(.no-grid-at-767):not(.m-grid-at-767):not(.m-grid):not(.m-grid-override){
  //     @include grid-fluid($fluidGridColumnWidth768, $fluidGridGutterWidth768);
  //   }
  // }
  @include grid-fluid($fluidGridColumnWidth768, $fluidGridGutterWidth768);
} // (min-width: 568px)) and (max-width: 767px))


@media (max-width: px-em(979px)) {

  @include grid-fluid($mobileGridColumnWidth480, $mobileGridGutterWidth480, $mobileGridColumns, "m", ".m-grid-at-979");
  @include no-grid(".no-grid-at-979");

  .container.full-bleed-at-979,
  .grid.full-bleed-at-979{
    width:auto;
  }


  // --------------------------------------
  // TITLES (headers)
  // --------------------------------------

  .t1, .t1-light, h1{
    @include px-em--font-size--line-height(44,50);
    margin-bottom: 24px;
  }
  .t2, .t2-light, h2{
    @include px-em--font-size--line-height(34,40);
    margin-bottom: 18px;
  }
  .t3, .t3-light, h3{
    @include px-em--font-size--line-height(26,32);
    margin-bottom: 14px;
  }
  .t4, .t4-light, h4{
    @include px-em--font-size--line-height(24,28);
    margin-bottom: 12px;
  }
  .t5, .t5-light, h5{
    @include px-em--font-size--line-height(18,22);
    margin-bottom: 12px;
  }
  .t6, .t6-light, h6{
    @include px-em--font-size--line-height(15,22);
    margin-bottom: 8px;
  }
  .t7, .t7-light{
    @include px-em--font-size--line-height(13,18);
    margin-bottom: 4px;
  }

  // ------------------------------------
  // Labels Text Styles
  // ------------------------------------


  // ------------------------------------
  // Paragraphs & LinkText
  // ------------------------------------

  .p1, .lt1 {
    @include px-em--font-size--line-height(15,22);
  }
  .p2, .lt2, p, input.p2 {
    @include px-em--font-size--line-height(13,20);
  }
  .p3, .lt3, .lt3-alt {
    @include px-em--font-size--line-height(12,18);
  }
  .p4, .lt4, input.p4 {
    @include px-em--font-size--line-height(11,15);
  }
  .p5, .lt5 {
    @include px-em--font-size--line-height(10,13);
  }
  .p1 { margin-bottom: 12px; }
  .p1.lt, .lt1 { margin-bottom: 6px; }
  .p3 { margin-bottom: 8px; }
  .lt3, .p3.lt, .lt3-alt, .p3.lt-alt { margin-bottom: 3px; }


  // ------------------------------------
  // Block Quotes
  // ------------------------------------

  .bq1 p{
    @include px-em--font-size--line-height(34,42);
    // margin-bottom: 24px;
    &:first-child { text-indent:-13px; }
  }
  .bq2 p,
  blockquote p{
    @include px-em--font-size--line-height(22,30);
    // margin-bottom: 16px;
    &:first-child { text-indent:-8px; }
  }
  .bq3 p{
    @include px-em--font-size--line-height(18,26);
    // margin-bottom: 16px;
    &:first-child { text-indent:-7px; }
  }
  .bq4 p{
    @include px-em--font-size--line-height(13,20);
    margin-bottom: 12px;
    &:first-child { text-indent:-4px; }
  }
  .bq5 p{
    @include px-em--font-size--line-height(12,16);
    // margin-bottom: 12px;
    &:first-child { text-indent:-4px; }
  }
  // .bq6 p{
  //   @include px-em--font-size--line-height(13,20);
  //   margin-bottom: 12px;
  //   &:first-child { text-indent:-5px; }
  // }

  // Button Sizes
  // --------------------------------------------------
  .btn{
     padding: 11px 22px 13px;
     font-size: px-em(12);
  }
  .btn-large{
    padding: 13px 24px 15px;
    font-size: px-em(13);
  }
  .btn-small{
    padding: 10px 16px 11px;
    font-size: px-em(11);
  }
  .btn-mini{
    padding: 9px 12px 10px;
    font-size: px-em(10);
  }

  .btn-square,
  .btn-block {
    padding-right: 0;
    padding-left: 0;
  }

  .dropdown-toggle.btn-small,
  .dropdown-toggle.btn.btn-small {
    padding: 8px 24px 9px 12px;
  }

  .btn-alt-special.btn-alt-plus i {
    margin-top: 0;
  }

  .slide-toggle i {
    margin-top: 0;
  }


  // Pagination
  // ----------------------------

  .nav-paddle {
    width: $navPaddleWidth980;
    height: $navPaddleHeight980;
  }

  .rp-nav .paddle {

    i {
      margin-top: 28px;
    }
  }

  // Sticky Tabs
  // --------------------
  .sticky-tabs .tab-nav {
    top: ($stickyTabHeight - $navPaddleHeight980) / 2;
  }

} // max-width: 979px


@media ( min-width: px-em(480px) ) and ( max-width: px-em(979px) ) {

  .rp-nav .paddle {
    margin: -100px 0;
    width: 40px;
    height: 70px;
    font-size: 1.0em;
  }
}

