@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.demo-module {

  // Remove this, it's just an example
  .demo-title {
    color: $themeGreen;
  }
}

.sic-carousel-slide {
    position: relative;
    width: 600px; // overriden by javascript (to something like 20%)
    height: 100%;
    float: left;
    display: block;

    img {
      width: 100%;
    }
  }

 .sic-carousel-wrapper {
    position: relative;
    height: 303px; // Same as E1 full
    overflow: hidden;
  }