@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.slideshow-image-caption {
	.sic-carousel-slide {
		position: relative;
	    width: 600px; // overriden by javascript (to something like 20%)
	    height: 100%;
	    float: left;
	    display: block;

	    // img {
	    // 	width: 100%;
	    // }
	}

	.sic-carousel-wrapper {
		position: relative;
	    height: 540px; // Same as E1 full
	    overflow: hidden;
	}
	.sony-carousel {
		height: 100%;
	}

	.slide-background {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
	}

	.band {
		width: 100%;
		background-color: $titleBlack;
		position: absolute;
		bottom: 0px;
		//display: table;

		.thumb-holder {
			position: absolute;
			height: 100%;
			padding: 20px 0px 20px 40px;
		}

		.title {
			color: $white;
			margin-bottom: 4px;
		}

		.description {
		}

		.text-container {
			width: 75%;
			padding: 20px;
			vertical-align: top;
		}
	}

	.csstransitions & {
		opacity: 0;
		@include transition( opacity $transitionFast $easeNormal );

		&.in {
		  opacity: 1;
		}
	}
}

