@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.demo-module {

  // Remove this, it's just an example
  .demo-title {
    color: $themeGreen;
  }
}

.sic-carousel-slide {
	position: relative;
    width: 600px; // overriden by javascript (to something like 20%)
    height: 100%;
    float: left;
    display: block;

    img {
    	width: 100%;
    }
}

.sic-carousel-wrapper {
	position: relative;
    height: 540px; // Same as E1 full
    overflow: hidden;
}

.band {
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0px;
}

.band .title {
	color: $white;
	margin-bottom: 4px;
}
.band .description {
}

.band .text-container {
	width: 75%;
	margin: 20px;
}