/* line 1737, ../../../src/css/scss/_base/_mixins.scss */
.editorial .dark-text-light-box h1, .editorial .dark-text-light-box h2, .editorial .dark-text-light-box h3, .editorial .dark-text-light-box h4, .editorial .dark-text-light-box h5, .editorial .dark-text-light-box h6,
.editorial .dark-text-trans-box h1,
.editorial .dark-text-trans-box h2,
.editorial .dark-text-trans-box h3,
.editorial .dark-text-trans-box h4,
.editorial .dark-text-trans-box h5,
.editorial .dark-text-trans-box h6 {
  color: #2f353d;
}
/* line 1740, ../../../src/css/scss/_base/_mixins.scss */
.editorial .dark-text-light-box p,
.editorial .dark-text-trans-box p {
  color: #83838f;
}
/* line 1747, ../../../src/css/scss/_base/_mixins.scss */
.editorial .light-text-dark-box h1, .editorial .light-text-dark-box h2, .editorial .light-text-dark-box h3, .editorial .light-text-dark-box h4, .editorial .light-text-dark-box h5, .editorial .light-text-dark-box h6,
.editorial .light-text-trans-box h1,
.editorial .light-text-trans-box h2,
.editorial .light-text-trans-box h3,
.editorial .light-text-trans-box h4,
.editorial .light-text-trans-box h5,
.editorial .light-text-trans-box h6 {
  color: white;
}
/* line 1750, ../../../src/css/scss/_base/_mixins.scss */
.editorial .light-text-dark-box p,
.editorial .light-text-trans-box p {
  color: #bcbccc;
}
/* line 1762, ../../../src/css/scss/_base/_mixins.scss */
.editorial .light-text-dark-box .box {
  background: rgba(33, 37, 48, 0.95);
}
/* line 1769, ../../../src/css/scss/_base/_mixins.scss */
.editorial .dark-text-light-box .box {
  background: rgba(255, 255, 255, 0.95);
}
/* line 7, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial h4 {
  margin-bottom: 6px;
}
/* line 10, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial h4.alt {
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}
/* line 14, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial h5 {
  margin-bottom: 6px;
}
/* line 17, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial h5.alt {
  letter-spacing: -0.01em;
  margin-bottom: 4px;
}
/* line 22, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial .box.left {
  text-align: left;
}
/* line 25, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial .box.center {
  text-align: center;
}
/* line 28, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial .box.right {
  text-align: right;
}

/* line 34, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.mediaright .table-center,
.editorial.medialeft .table-center {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
/* line 39, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.mediaright .box,
.editorial.medialeft .box {
  padding: 40px 52px 60px 52px;
}
/* line 42, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.mediaright .media-element,
.editorial.medialeft .media-element {
  margin-top: -1%;
  text-align: center;
}

/* line 47, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.full {
  position: relative;
}
/* line 49, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.full .inner {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
/* line 56, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.full .inner > div,
.editorial.full .inner .table-center-wrap {
  height: 100%;
}
/* line 59, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.full .inner .box {
  padding: 50px 52px;
  margin-top: -1%;
}
/* line 63, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.full .inner .box.center {
  padding: 50px 140px 60px 140px;
}

/* line 73, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.m3up > .grid > div,
.editorial.m2up > .grid > div {
  position: relative;
}
/* line 75, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.m3up > .grid > div .inner,
.editorial.m2up > .grid > div .inner {
  position: absolute;
  top: 0;
}

/* line 82, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.textonly .box {
  padding: 40px 52px 60px 52px;
}

@media (max-width: 47.9375em) {
  /* line 87, ../../../src/css/scss/modules/editorial-e1-e15.scss */
  .editorial.full {
    position: relative;
  }
  /* line 89, ../../../src/css/scss/modules/editorial-e1-e15.scss */
  .editorial.full .inner {
    height: auto;
    position: relative;
  }
  /* line 93, ../../../src/css/scss/modules/editorial-e1-e15.scss */
  .editorial.full .inner > div,
  .editorial.full .inner .table-center-wrap {
    height: auto;
  }
  /* line 96, ../../../src/css/scss/modules/editorial-e1-e15.scss */
  .editorial.full .inner .box {
    margin-top: 0;
  }
  /* line 102, ../../../src/css/scss/modules/editorial-e1-e15.scss */
  .editorial.full .light-text-trans-box h2, .editorial.full .light-text-trans-box h3, .editorial.full .light-text-trans-box h4, .editorial.full .light-text-trans-box h5 {
    color: #2f353d;
  }
  /* line 105, ../../../src/css/scss/modules/editorial-e1-e15.scss */
  .editorial.full .light-text-trans-box p {
    color: #83838f;
  }
}
