/* line 1, ../../../src/css/scss/modules/editorial.scss */
.editorial.full {
  position: relative;
}
/* line 3, ../../../src/css/scss/modules/editorial.scss */
.editorial.full .inner {
  position: absolute;
  top: 0;
}

/* line 14, ../../../src/css/scss/modules/editorial.scss */
.editorial.textonly .center {
  text-align: center;
}
