/* line 1, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.full {
  position: relative;
}
/* line 3, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.full .inner {
  position: absolute;
  top: 0;
}

/* line 10, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.m3up > .grid > div,
.editorial.m2up > .grid > div {
  position: relative;
}
/* line 12, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.m3up > .grid > div .inner,
.editorial.m2up > .grid > div .inner {
  position: absolute;
  top: 0;
}

/* line 19, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial .center {
  text-align: center;
}
