/* line 9, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial .dark-text-light-box h2, .editorial .dark-text-light-box h3, .editorial .dark-text-light-box h4, .editorial .dark-text-light-box h5,
.editorial .dark-text-trans-box h2,
.editorial .dark-text-trans-box h3,
.editorial .dark-text-trans-box h4,
.editorial .dark-text-trans-box h5 {
  color: #2f353d;
}
/* line 12, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial .dark-text-light-box p,
.editorial .dark-text-trans-box p {
  color: #83838f;
}
/* line 19, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial .light-text-dark-box h2, .editorial .light-text-dark-box h3, .editorial .light-text-dark-box h4, .editorial .light-text-dark-box h5,
.editorial .light-text-trans-box h2,
.editorial .light-text-trans-box h3,
.editorial .light-text-trans-box h4,
.editorial .light-text-trans-box h5 {
  color: white;
}
/* line 22, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial .light-text-dark-box p,
.editorial .light-text-trans-box p {
  color: #e4e7eb;
}
/* line 41, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial h4 {
  margin-bottom: 6px;
}
/* line 44, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial h4.alt {
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}
/* line 48, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial h5 {
  margin-bottom: 6px;
}
/* line 51, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial h5.alt {
  letter-spacing: -0.01em;
  margin-bottom: 4px;
}

/* line 60, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.full {
  position: relative;
}
/* line 62, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.full .inner {
  position: absolute;
  top: 0;
}

/* line 72, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.m3up > .grid > div,
.editorial.m2up > .grid > div {
  position: relative;
}
/* line 74, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.m3up > .grid > div .inner,
.editorial.m2up > .grid > div .inner {
  position: absolute;
  top: 0;
}

/* line 81, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.textonly .full {
  text-align: center;
}
/* line 84, ../../../src/css/scss/modules/editorial-e1-e15.scss */
.editorial.textonly .box {
  padding: 70px 52px 75px 52px;
}
