/* 15px/16px */
/* 13px/16px */
/* 14px/16px */
/* line 4, ../../../src/css/scss/modules/experiment.scss */
.module-spec {
  /* General */
  /* Details */
  /* Tabs */
  /* table */
  /* Big Tables Colors and skins */
  /* Responsive table */
}
/* line 9, ../../../src/css/scss/modules/experiment.scss */
.module-spec h1 {
  font-size: 1.625em;
  margin-top: 0 !important;
}
/* line 10, ../../../src/css/scss/modules/experiment.scss */
.module-spec h2 {
  font-size: 1.125em;
}
/* line 11, ../../../src/css/scss/modules/experiment.scss */
.module-spec h3 {
  font-weight: normal;
  font-size: 0.75em;
}
/* line 12, ../../../src/css/scss/modules/experiment.scss */
.module-spec a.btn {
  margin-bottom: 10px;
  padding: 5px 20px;
  width: 80px !important;
}
/* line 13, ../../../src/css/scss/modules/experiment.scss */
.module-spec .emphasis-info {
  padding: 5px;
  font-size: 1.75em;
  width: auto;
  border: 3px solid #83838f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}
/* line 14, ../../../src/css/scss/modules/experiment.scss */
.module-spec .container {
  color: black;
  padding: 10px 0;
}
/* line 15, ../../../src/css/scss/modules/experiment.scss */
.module-spec .spec-title {
  margin-bottom: 35px;
}
/* line 17, ../../../src/css/scss/modules/experiment.scss */
.module-spec .spec-title .title-link {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.625em;
}
/* line 19, ../../../src/css/scss/modules/experiment.scss */
.module-spec .spec-title .clearfix p {
  float: left;
  margin-right: 10px;
  font-size: 0.875em;
}
/* line 25, ../../../src/css/scss/modules/experiment.scss */
.module-spec .details {
  margin-bottom: 20px;
}
/* line 27, ../../../src/css/scss/modules/experiment.scss */
.module-spec .details > h2 {
  margin-bottom: 20px;
}
/* line 28, ../../../src/css/scss/modules/experiment.scss */
.module-spec .details .row-fluid {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 33, ../../../src/css/scss/modules/experiment.scss */
.module-spec .details .row-fluid h2 {
  margin-bottom: 20px;
}
/* line 35, ../../../src/css/scss/modules/experiment.scss */
.module-spec .details .row-fluid ul {
  margin-bottom: 0;
}
/* line 37, ../../../src/css/scss/modules/experiment.scss */
.module-spec .details .row-fluid ul li {
  margin: 5px 0;
}
/* line 42, ../../../src/css/scss/modules/experiment.scss */
.module-spec h2.h2-bigger {
  font-size: 1.625em;
  margin: 30px 0;
}
/* line 43, ../../../src/css/scss/modules/experiment.scss */
.module-spec .row-fluid.no-border {
  margin-bottom: 30px !important;
  border-bottom: none !important;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 46, ../../../src/css/scss/modules/experiment.scss */
.module-spec .row-fluid.no-border h3 {
  font-size: 1.125em;
  margin-bottom: 15px;
}
/* line 50, ../../../src/css/scss/modules/experiment.scss */
.module-spec .row-fluid.no-border p {
  font-size: 0.75em;
}
/* line 54, ../../../src/css/scss/modules/experiment.scss */
.module-spec ul {
  margin-left: 0;
}
/* line 56, ../../../src/css/scss/modules/experiment.scss */
.module-spec ul li {
  font-size: 0.75em;
}
/* line 59, ../../../src/css/scss/modules/experiment.scss */
.module-spec .label {
  font-weight: bold;
}
/* line 64, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table-mobile-tabs {
  display: none;
  margin: 0 !important;
}
/* line 67, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table-mobile-tabs li {
  float: left;
  display: block;
  cursor: pointer;
  padding: 10px;
  background: #ccc;
}
/* line 73, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table-mobile-tabs li:hover {
  background: #c0c0c0;
}
/* line 80, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table {
  display: table;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875em;
}
/* line 85, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table .thead {
  display: table-header-group;
}
/* line 87, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table .thead h2 {
  font-size: 1.125em;
  color: black;
  font-weight: bold;
  margin-bottom: 1em;
}
/* line 95, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table .row {
  display: table-row;
}
/* line 98, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table .row:last-child .column {
  border-bottom: none !important;
}
/* line 103, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table .column:first-child {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  color: black;
}
/* line 110, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table .column {
  display: table-cell;
}
/* line 114, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table .tbody {
  display: table-row-group;
}
/* line 115, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table .tbody .column h2 {
  font-size: 0.875em;
  color: black;
  font-weight: bold;
  margin-bottom: 1em;
  display: none;
}
/* line 124, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table span {
  color: #83838f;
  font-size: 0.75em;
}
/* line 127, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table span.color {
  display: block;
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 5px;
}
/* line 133, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table span.color.white {
  background: #fff;
}
/* line 136, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table span.color.grey {
  background: #ccc;
}
/* line 139, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table span.color.darkGrey {
  background: #666;
}
/* line 142, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table span.color.black {
  background: black;
}
/* line 147, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}
/* line 156, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table.smallTable .row .column {
  padding: 0 10px 0 0;
}
/* line 158, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table.smallTable .row .column h3 {
  color: black;
  font-size: 0.86667em !important;
}
/* line 159, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table.smallTable .row .column p {
  color: #555;
  font-size: 0.86667em !important;
}
/* line 165, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table.bigTable {
  background: #F7F7F7;
  color: black;
}
/* line 169, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table.bigTable p {
  font-size: 0.86667em !important;
}
/* line 170, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table.bigTable span {
  font-size: 1em !important;
  line-height: 1.5em;
  display: block;
}
/* line 177, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table.bigTable .column {
  padding: 10px 20px;
  /* Defines a table cell */
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
/* line 182, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table.bigTable .column:last-child {
  border-right: none !important;
}
/* line 185, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table.bigTable .column:hover {
  background: #f9f9f9;
}
/* line 192, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table.bigTable .thead .row .column {
  color: black;
  border-bottom: 2px solid #eee !important;
  border-left: none !important;
  border-right: none !important;
}
/* line 205, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table.bigTable .tbody .row .table .column:first-child {
  font-weight: normal;
  padding-right: 8px;
  width: 20%;
}
/* line 210, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table.bigTable .tbody .row .table .column {
  padding: 0;
  border: none !important;
}
/* line 211, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table.bigTable .tbody .row .table .column p {
  margin: 0;
  font-size: 1em !important;
}
/* line 212, ../../../src/css/scss/modules/experiment.scss */
.module-spec .table.bigTable .tbody .row .table .column p span {
  font-size: 1em !important;
}
/* line 223, ../../../src/css/scss/modules/experiment.scss */
.module-spec div.table.rTable.smallTable p {
  margin: 0;
}
@media all and (max-width: 640px) {
  /* line 228, ../../../src/css/scss/modules/experiment.scss */
  .module-spec .table-mobile-tabs {
    display: block;
  }
  /* line 233, ../../../src/css/scss/modules/experiment.scss */
  .module-spec .table.rTable.smallTable .row {
    display: block;
  }
  /* line 234, ../../../src/css/scss/modules/experiment.scss */
  .module-spec .table.rTable.smallTable .column {
    display: block;
  }
  /* line 237, ../../../src/css/scss/modules/experiment.scss */
  .module-spec .table.rTable.bigTable {
    width: 100%;
    /* Dont hide all column in the table inside the table. */
  }
  /* line 239, ../../../src/css/scss/modules/experiment.scss */
  .module-spec .table.rTable.bigTable .row .column:first-child {
    display: none;
  }
  /* line 242, ../../../src/css/scss/modules/experiment.scss */
  .module-spec .table.rTable.bigTable .tbody .column {
    display: none;
  }
  /* line 243, ../../../src/css/scss/modules/experiment.scss */
  .module-spec .table.rTable.bigTable .tbody .column h2 {
    display: block;
  }
  /* line 248, ../../../src/css/scss/modules/experiment.scss */
  .module-spec .table.rTable.bigTable .thead .column {
    display: none;
  }
  /* line 252, ../../../src/css/scss/modules/experiment.scss */
  .module-spec .table.rTable.bigTable .column.show {
    display: block;
  }
  /* line 257, ../../../src/css/scss/modules/experiment.scss */
  .module-spec .table.rTable.bigTable .tbody .tbody .column {
    display: block !important;
  }
}
