/* 15px/16px */
/* 13px/16px */
/* 14px/16px */
/* line 4, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec {
  color: black;
  padding: 10px 0;
  /* General */
  /* Details */
  /* Tabs */
  /* table */
  /* Big Tables Colors and skins */
  /* Responsive table */
}
/* line 8, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec h1 {
  font-size: 1.625em;
  margin-top: 0 !important;
}
/* line 9, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec h2 {
  font-size: 1.125em;
}
/* line 10, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec h3 {
  font-weight: normal;
  font-size: 0.75em;
}
/* line 11, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec a.btn {
  margin-bottom: 10px;
  padding: 5px 20px;
  width: 80px !important;
}
/* line 12, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .emphasis-info {
  padding: 5px;
  font-size: 1.75em;
  width: auto;
  border: 3px solid #83838f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}
/* line 13, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .spec-title {
  margin-bottom: 35px;
}
/* line 15, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .spec-title .title-link {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.625em;
}
/* line 17, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .spec-title .clearfix p {
  float: left;
  margin-right: 10px;
  font-size: 0.875em;
}
/* line 23, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .details {
  margin-bottom: 20px;
}
/* line 25, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .details > h2 {
  margin-bottom: 20px;
}
/* line 26, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .details .row-fluid {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 31, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .details .row-fluid h2 {
  margin-bottom: 20px;
}
/* line 33, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .details .row-fluid ul {
  margin-bottom: 0;
}
/* line 35, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .details .row-fluid ul li {
  margin: 5px 0;
}
/* line 40, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec h2.h2-bigger {
  font-size: 1.625em;
  margin: 30px 0;
}
/* line 41, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .row-fluid.no-border {
  margin-bottom: 30px !important;
  border-bottom: none !important;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 44, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .row-fluid.no-border h3 {
  font-size: 1.125em;
  margin-bottom: 15px;
}
/* line 48, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .row-fluid.no-border p {
  font-size: 0.75em;
}
/* line 52, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec ul {
  margin-left: 0;
}
/* line 54, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec ul li {
  font-size: 0.75em;
}
/* line 57, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .label {
  font-weight: bold;
}
/* line 62, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table-mobile-tabs {
  display: none;
  margin: 0 !important;
}
/* line 65, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table-mobile-tabs li {
  float: left;
  display: block;
  cursor: pointer;
  padding: 10px;
  background: #ccc;
}
/* line 71, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table-mobile-tabs li:hover {
  background: #c0c0c0;
}
/* line 78, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table {
  display: table;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875em;
}
/* line 83, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table .thead {
  display: table-header-group;
}
/* line 85, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table .thead h2 {
  font-size: 1.125em;
  color: black;
  font-weight: bold;
  margin-bottom: 1em;
}
/* line 93, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table .row {
  display: table-row;
}
/* line 96, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table .row:last-child .column {
  border-bottom: none !important;
}
/* line 101, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table .column:first-child {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  color: black;
}
/* line 108, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table .column {
  display: table-cell;
}
/* line 112, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table .tbody {
  display: table-row-group;
}
/* line 113, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table .tbody .column h2 {
  font-size: 0.875em;
  color: black;
  font-weight: bold;
  margin-bottom: 1em;
  display: none;
}
/* line 122, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table span {
  color: #83838f;
  font-size: 0.75em;
}
/* line 125, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table span.color {
  display: block;
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 5px;
}
/* line 131, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table span.color.white {
  background: #fff;
}
/* line 134, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table span.color.grey {
  background: #ccc;
}
/* line 137, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table span.color.darkGrey {
  background: #666;
}
/* line 140, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table span.color.black {
  background: black;
}
/* line 145, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}
/* line 154, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table.smallTable .row .column {
  padding: 0 10px 0 0;
}
/* line 156, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table.smallTable .row .column h3 {
  color: black;
  font-size: 0.86667em !important;
}
/* line 157, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table.smallTable .row .column p {
  color: #555;
  font-size: 0.86667em !important;
}
/* line 163, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table.bigTable {
  background: #F7F7F7;
  color: black;
}
/* line 167, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table.bigTable p {
  font-size: 0.86667em !important;
}
/* line 168, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table.bigTable span {
  font-size: 1em !important;
  line-height: 1.5em;
  display: block;
}
/* line 175, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table.bigTable .column {
  padding: 10px 20px;
  /* Defines a table cell */
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
/* line 180, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table.bigTable .column:last-child {
  border-right: none !important;
}
/* line 183, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table.bigTable .column:hover {
  background: #f9f9f9;
}
/* line 190, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table.bigTable .thead .row .column {
  color: black;
  border-bottom: 2px solid #eee !important;
  border-left: none !important;
  border-right: none !important;
}
/* line 203, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table.bigTable .tbody .row .table .column:first-child {
  font-weight: normal;
  padding-right: 8px;
  width: 20%;
}
/* line 208, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table.bigTable .tbody .row .table .column {
  padding: 0;
  border: none !important;
}
/* line 209, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table.bigTable .tbody .row .table .column p {
  margin: 0;
  font-size: 1em !important;
}
/* line 210, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec .table.bigTable .tbody .row .table .column p span {
  font-size: 1em !important;
}
/* line 221, ../../../src/css/scss/modules/experiment.scss */
.container-fluid.module-spec div.table.rTable.smallTable p {
  margin: 0;
}
@media all and (max-width: 640px) {
  /* line 226, ../../../src/css/scss/modules/experiment.scss */
  .container-fluid.module-spec .table-mobile-tabs {
    display: block;
  }
  /* line 231, ../../../src/css/scss/modules/experiment.scss */
  .container-fluid.module-spec .table.rTable.smallTable .row {
    display: block;
  }
  /* line 232, ../../../src/css/scss/modules/experiment.scss */
  .container-fluid.module-spec .table.rTable.smallTable .column {
    display: block;
  }
  /* line 235, ../../../src/css/scss/modules/experiment.scss */
  .container-fluid.module-spec .table.rTable.bigTable {
    width: 100%;
    /* Dont hide all column in the table inside the table. */
  }
  /* line 237, ../../../src/css/scss/modules/experiment.scss */
  .container-fluid.module-spec .table.rTable.bigTable .row .column:first-child {
    display: none;
  }
  /* line 240, ../../../src/css/scss/modules/experiment.scss */
  .container-fluid.module-spec .table.rTable.bigTable .tbody .column {
    display: none;
  }
  /* line 241, ../../../src/css/scss/modules/experiment.scss */
  .container-fluid.module-spec .table.rTable.bigTable .tbody .column h2 {
    display: block;
    font-size: 1.2em;
  }
  /* line 247, ../../../src/css/scss/modules/experiment.scss */
  .container-fluid.module-spec .table.rTable.bigTable .thead .column {
    display: none;
  }
  /* line 251, ../../../src/css/scss/modules/experiment.scss */
  .container-fluid.module-spec .table.rTable.bigTable .column.show {
    display: block;
  }
  /* line 256, ../../../src/css/scss/modules/experiment.scss */
  .container-fluid.module-spec .table.rTable.bigTable .tbody .tbody .column {
    display: block !important;
  }
}
@media all and (min-width: 640px) and (max-width: 767px) {
  /* line 268, ../../../src/css/scss/modules/experiment.scss */
  .container-fluid.module-spec .row-fluid > div > .table.smallTable > .tbody > .row > .column {
    width: 50% !important;
  }
}
