/* TO BE GLOBAL */
/* 15px/16px */
/* 13px/16px */
/* 14px/16px */
/* line 313, ../../../src/css/scss/_base/_mixins.scss */
.hotspot .tooltip {
  position: absolute;
  left: -9999px;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in 0s;
  -moz-transition: opacity 0.15s ease-in 0s;
  -ms-transition: opacity 0.15s ease-in 0s;
  -o-transition: opacity 0.15s ease-in 0s;
  transition: opacity 0.15s ease-in 0s;
  -webkit-backface-visibility: hidden;
}

/* line 326, ../../../src/css/scss/_base/_mixins.scss */
.hotspot:hover .tooltip {
  left: 86px;
  /* relative to left edge of hotspot */
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-out 0s;
  -moz-transition: opacity 0.15s ease-out 0s;
  -ms-transition: opacity 0.15s ease-out 0s;
  -o-transition: opacity 0.15s ease-out 0s;
  transition: opacity 0.15s ease-out 0s;
}

/* line 335, ../../../src/css/scss/_base/_mixins.scss */
html.no-opacity .hotspot .tooltip {
  visibility: hidden;
}

/* line 336, ../../../src/css/scss/_base/_mixins.scss */
html.no-opacity .hotspot:hover .tooltip {
  visibility: visible;
}

/* line 8, ../../../src/css/scss/modules/gallery.scss */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  /* line 29, ../../../src/css/scss/modules/gallery.scss */
  .grid5 .row {
    margin-left: -2%;
  }
  /* line 33, ../../../src/css/scss/modules/gallery.scss */
  .grid5 [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 2%;
    width: 48%;
  }
}
@media (min-width: 980px) and (max-width: 1999px) {
  /* line 876, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .row {
    margin-left: -20px;
    *zoom: 1;
  }
  /* line 52, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .row:before, .grid5 .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  /* line 59, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .row:after {
    clear: both;
  }
  /* line 881, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  /* line 891, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .container,
  .grid5 .navbar-static-top .container,
  .grid5 .navbar-fixed-top .container,
  .grid5 .navbar-fixed-bottom .container {
    width: 940px;
  }
  /* line 902, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .span5 {
    width: 940px;
  }
  /* line 902, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .span4 {
    width: 748px;
  }
  /* line 902, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .span3 {
    width: 556px;
  }
  /* line 902, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .span2 {
    width: 364px;
  }
  /* line 902, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .span1 {
    width: 172px;
  }
  /* line 909, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .offset5 {
    margin-left: 980px;
  }
  /* line 909, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .offset4 {
    margin-left: 788px;
  }
  /* line 909, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .offset3 {
    margin-left: 596px;
  }
  /* line 909, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .offset2 {
    margin-left: 404px;
  }
  /* line 909, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .offset1 {
    margin-left: 212px;
  }
}
@media (min-width: 1200px) {
  /* line 876, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .row {
    margin-left: -23px;
    *zoom: 1;
  }
  /* line 52, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .row:before, .grid5 .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  /* line 59, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .row:after {
    clear: both;
  }
  /* line 881, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 23px;
  }
  /* line 891, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .container,
  .grid5 .navbar-static-top .container,
  .grid5 .navbar-fixed-top .container,
  .grid5 .navbar-fixed-bottom .container {
    width: 1112px;
  }
  /* line 902, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .span5 {
    width: 1112px;
  }
  /* line 902, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .span4 {
    width: 885px;
  }
  /* line 902, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .span3 {
    width: 658px;
  }
  /* line 902, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .span2 {
    width: 431px;
  }
  /* line 902, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .span1 {
    width: 204px;
  }
  /* line 909, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .offset5 {
    margin-left: 1158px;
  }
  /* line 909, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .offset4 {
    margin-left: 931px;
  }
  /* line 909, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .offset3 {
    margin-left: 704px;
  }
  /* line 909, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .offset2 {
    margin-left: 477px;
  }
  /* line 909, ../../../src/css/scss/_base/_mixins.scss */
  .grid5 .offset1 {
    margin-left: 250px;
  }
}
/* line 64, ../../../src/css/scss/modules/gallery.scss */
.product-content .product-name {
  color: #2f353d;
}
/* line 68, ../../../src/css/scss/modules/gallery.scss */
.product-content .price-title {
  margin: 0;
}
/* line 72, ../../../src/css/scss/modules/gallery.scss */
.product-content .price {
  margin: -0.4em 0 0;
}

/* line 78, ../../../src/css/scss/modules/gallery.scss */
.product-meta {
  margin: 0.825em 0 0.825em 1px;
  padding: 0 0 0 15px;
  list-style-type: square;
}

/* line 85, ../../../src/css/scss/modules/gallery.scss */
.text-dark {
  color: #2f353d;
}

/* line 91, ../../../src/css/scss/modules/gallery.scss */
.gallery-title-bar {
  padding: 1.25em 0;
}
/* line 94, ../../../src/css/scss/modules/gallery.scss */
.gallery-title-bar .dropdown {
  display: inline-block;
}

/* line 109, ../../../src/css/scss/modules/gallery.scss */
.gallery-detailed .shuffle-item {
  margin: 23px 0 0;
}

/* line 117, ../../../src/css/scss/modules/gallery.scss */
.gallery .gallery-item {
  margin-left: 0;
}

/* line 121, ../../../src/css/scss/modules/gallery.scss */
.gallery-item {
  position: relative;
  margin-top: 23px;
  height: 337px;
  overflow: hidden;
}
/* line 127, ../../../src/css/scss/modules/gallery.scss */
.gallery-detailed .gallery-item {
  height: 480px;
}
/* line 131, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .label {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 137, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .icon-ui-favorite {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

/* line 146, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.h2 {
  height: 697px;
}

/* line 150, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .product-img {
  height: 220px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background: #f3f4f6;
}
/* line 157, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .product-img img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

/* line 165, ../../../src/css/scss/modules/gallery.scss */
.large.gallery-item .product-img {
  height: 580px;
}

/* line 172, ../../../src/css/scss/modules/gallery.scss */
.promo.gallery-item .product-content {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}
/* line 179, ../../../src/css/scss/modules/gallery.scss */
.promo.gallery-item .product-img {
  height: 100%;
}
/* line 183, ../../../src/css/scss/modules/gallery.scss */
.promo.gallery-item img {
  max-height: initial;
  max-width: initial;
}

@media (max-width: 767px) {
  /* line 190, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item {
    margin-top: 10px;
  }

  /* line 194, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item.h2 {
    height: 684px;
  }

  /* line 200, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .label {
    left: 0;
    right: auto;
  }
  /* line 205, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .gallery-item {
    display: table;
    height: auto;
  }
  /* line 210, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .product-img {
    display: table-cell;
    width: 33.33%;
    vertical-align: middle;
  }
  /* line 216, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .product-content {
    display: table-cell;
    width: 66.66%;
    padding-left: 5%;
  }

  /* line 224, ../../../src/css/scss/modules/gallery.scss */
  .product-strip .gallery-item:nth-child(n + 5) {
    display: none;
  }
}
/* line 234, ../../../src/css/scss/modules/gallery.scss */
.product-filter {
  margin: 1.45em 0;
  background: #f3f4f6;
}

/* line 239, ../../../src/css/scss/modules/gallery.scss */
.filter-options {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 247, ../../../src/css/scss/modules/gallery.scss */
.active-filters .label:not(:first-child) {
  margin-left: 2px;
}

/* line 253, ../../../src/css/scss/modules/gallery.scss */
.range-control-wrap {
  margin-top: 10px;
  padding: 0 10px;
}

/* line 258, ../../../src/css/scss/modules/gallery.scss */
.range-output {
  margin-top: 10px;
  width: inherit;
  text-align: center;
}

/* line 264, ../../../src/css/scss/modules/gallery.scss */
.tab-layer h3 code {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
}

/* line 270, ../../../src/css/scss/modules/gallery.scss */
.tab-content {
  margin-top: 20px;
  overflow: visible;
}

/* line 282, ../../../src/css/scss/modules/gallery.scss */
.tab-strip {
  position: relative;
  background-color: #f3f4f6;
}

/* line 288, ../../../src/css/scss/modules/gallery.scss */
.tabs {
  z-index: 1;
  height: 100px;
  overflow-x: auto;
  white-space: nowrap;
}

@media (min-width: 768px) and (max-width: 979px) {
  /* line 297, ../../../src/css/scss/modules/gallery.scss */
  .tabs {
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  /* line 306, ../../../src/css/scss/modules/gallery.scss */
  .tabs-container {
    overflow: hidden;
  }
}
/* line 311, ../../../src/css/scss/modules/gallery.scss */
.tab {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 120px;
  height: 100px;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 0 0 white;
  -webkit-transition: background-color 0.15s ease-out, box-shadow 0.15s ease-out, top 0.15s ease-out;
  -moz-transition: background-color 0.15s ease-out, box-shadow 0.15s ease-out, top 0.15s ease-out;
  transition: background-color 0.15s ease-out, box-shadow 0.15s ease-out, top 0.15s ease-out;
}
/* line 325, ../../../src/css/scss/modules/gallery.scss */
.tab.active {
  z-index: 2;
  top: -2px;
  background-color: white;
  box-shadow: 0 2px 0 white, 0 0 4px 1px rgba(0, 0, 0, 0.15);
}

/* line 335, ../../../src/css/scss/modules/gallery.scss */
.holder-for-icon {
  height: 30px;
}

/* line 339, ../../../src/css/scss/modules/gallery.scss */
.tab-label {
  margin-top: 15px;
}

/* line 345, ../../../src/css/scss/modules/gallery.scss */
.tab-nav-btns {
  position: absolute;
  z-index: 5;
  height: 100px;
}

/* line 351, ../../../src/css/scss/modules/gallery.scss */
.tab-nav-wrap {
  position: relative;
  display: none;
}

@media (min-width: 768px) and (max-width: 979px) {
  /* line 357, ../../../src/css/scss/modules/gallery.scss */
  .tab-nav-wrap {
    display: block;
  }
}
/* line 363, ../../../src/css/scss/modules/gallery.scss */
.tab-nav {
  position: absolute;
  z-index: 5;
  top: 0;
  left: -30px;
  display: none;
  width: 30px;
  height: 100%;
  background: #f2f2f2;
  cursor: pointer;
}

/* line 375, ../../../src/css/scss/modules/gallery.scss */
.tab-nav-next {
  left: 724px;
}

/* line 380, ../../../src/css/scss/modules/gallery.scss */
.tab-nav:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -2px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid #049cdb;
  border-bottom: 5px solid transparent;
}

/* line 395, ../../../src/css/scss/modules/gallery.scss */
.tab-nav-next:before {
  border-top: 5px solid transparent;
  border-right: none;
  border-left: 5px solid #049cdb;
  border-bottom: 5px solid transparent;
}

/* line 403, ../../../src/css/scss/modules/gallery.scss */
.see-all {
  text-align: center;
  background: #f3f4f6;
}
