/* line 4, ../../../src/css/scss/modules/gallery.scss */
[data-target="tvs-fake"],
[data-target="accessories-fake"] {
  pointer-events: none;
}

/* line 26, ../../../src/css/scss/modules/gallery.scss */
.product-content {
  margin-top: .75em;
  line-height: 1.3;
}
/* line 30, ../../../src/css/scss/modules/gallery.scss */
.product-content .product-name {
  color: #2f353d;
}
/* line 38, ../../../src/css/scss/modules/gallery.scss */
.product-content .product-model {
  color: #83838f;
}
/* line 42, ../../../src/css/scss/modules/gallery.scss */
.product-content .product-rating {
  margin: .5em 0 1em;
  color: #83838f;
}
/* line 47, ../../../src/css/scss/modules/gallery.scss */
.product-content .price-title {
  margin: 0;
}
/* line 51, ../../../src/css/scss/modules/gallery.scss */
.product-content .product-price {
  margin-top: 1em;
  color: #83838f;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 59, ../../../src/css/scss/modules/gallery.scss */
.product-meta {
  margin: 0 0 1em;
  padding: 0 0 0 1em;
  list-style-type: square;
  color: #83838f;
}
/* line 65, ../../../src/css/scss/modules/gallery.scss */
.product-meta li {
  margin-bottom: 4px;
}

/* line 86, ../../../src/css/scss/modules/gallery.scss */
.gallery-content {
  padding-bottom: 4.375em;
}

/* line 91, ../../../src/css/scss/modules/gallery.scss */
.gallery + .gallery > *:first-child {
  border-top: 0.1875em solid #e4e7eb;
  margin-top: 1.875em;
  padding-top: 1.875em;
}

/* line 97, ../../../src/css/scss/modules/gallery.scss */
.gallery-detailed .products {
  margin-top: -3.125em;
}

/* line 106, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.detailed {
  margin: 3.125em 0 0;
}

/* line 110, ../../../src/css/scss/modules/gallery.scss */
.gallery .shuffle .shuffle-item.gallery-item {
  margin-left: 0;
}

/* line 129, ../../../src/css/scss/modules/gallery.scss */
.gallery-item {
  position: relative;
  display: block;
  margin-top: 20px;
  overflow: hidden;
  background: white;
}
/* line 136, ../../../src/css/scss/modules/gallery.scss */
.gallery-item:after {
  content: '';
  display: block;
  padding-top: 165.19608%;
}
/* line 143, ../../../src/css/scss/modules/gallery.scss */
.shuffle-6 .gallery-item:after {
  padding-top: 169.396078%;
}
/* line 147, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .gallery-item-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 156, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .product-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background: #f1f5f9;
  -webkit-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
}
/* line 164, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .product-img:hover {
  background-color: #f8f8fa;
}
/* line 168, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .product-img:after {
  content: '';
  display: block;
  padding-top: 107.84314%;
}
/* line 174, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .product-img .product-img-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 182, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .product-img img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
/* line 194, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.large:after {
  padding-top: 105.92705167173253%;
}
/* line 198, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.large .product-img:after {
  padding-top: 88.14589665653495%;
}
/* line 208, ../../../src/css/scss/modules/gallery.scss */
.shuffle-4 .gallery-item.large:after {
  padding-top: 165.19608%;
}
/* line 213, ../../../src/css/scss/modules/gallery.scss */
.shuffle-4 .gallery-item.large .product-img:after {
  padding-top: 107.84314%;
}
/* line 218, ../../../src/css/scss/modules/gallery.scss */
.shuffle-6 .gallery-item.large:after {
  padding-top: 105.3%;
}
/* line 222, ../../../src/css/scss/modules/gallery.scss */
.shuffle-6 .gallery-item.large .product-img:after {
  padding-top: 87%;
}
@media (min-width: 61.25em) and (max-width: 63.9375em) {
  /* line 227, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item.large:after {
    padding-top: 106.8%;
  }
}
/* line 236, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.plate:after {
  padding-top: 59.190255%;
}
/* line 240, ../../../src/css/scss/modules/gallery.scss */
.shuffle-4 .gallery-item.plate:after {
  padding-top: 77.790255%;
}
/* line 244, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.plate .product-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
/* line 253, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.plate .product-img {
  height: 100%;
}
/* line 257, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.plate img {
  max-height: none;
  max-width: none;
}
/* line 262, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.plate div.iq-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 274, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo:after {
  padding-top: 78.19025522041764%;
}
/* line 282, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo .product-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
/* line 291, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo .product-img {
  height: 100%;
}
/* line 295, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo img {
  max-height: none;
  max-width: none;
}
/* line 300, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo div.iq-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 309, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .label {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
}

/* line 320, ../../../src/css/scss/modules/gallery.scss */
.gallery-tooltip {
  margin-left: 2.8125em;
}
/* line 325, ../../../src/css/scss/modules/gallery.scss */
.gallery-tooltip.top {
  margin-top: 3px;
}
/* line 330, ../../../src/css/scss/modules/gallery.scss */
.gallery-tooltip.top .tooltip-arrow {
  left: 21%;
  left: -webkit-calc(50% - 2.9375em);
  left: calc(50% - 2.9375em);
}

/* line 342, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .color-swatches {
  position: absolute;
  right: .875em;
  bottom: .6875em;
}
/* line 348, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .favorite-holder {
  position: absolute;
  left: 0.5em;
  bottom: 0.375em;
  width: 1.75em;
  height: 1.5em;
  text-align: center;
  cursor: pointer;
}
/* line 357, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .favorite-holder i {
  color: #d2d2db;
  vertical-align: baseline;
}
/* line 363, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .favorite-holder:hover i, .gallery-item .favorite-holder.active i {
  color: #f35429;
}

/* line 382, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .promo-content {
  color: white;
  text-align: left;
}
/* line 386, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .promo-content .text-promo-title {
  position: absolute;
  top: 50px;
  left: 42px;
  margin: 0;
  max-width: 225px;
}
/* line 394, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .promo-content .text-promo-title i {
  vertical-align: middle;
  margin-left: 5px;
}
/* line 402, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .promo-content strong {
  color: white;
}
/* line 407, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .promo-content .text-count {
  position: absolute;
  bottom: 32px;
  left: 42px;
  margin: 0;
}
/* line 413, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .promo-content .text-count span {
  color: white;
}
/* line 419, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .promo-content .text-count .number {
  font-size: 0.8125em;
}
/* line 424, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .promo-content .text-count .text {
  font-size: 0.75em;
}

@media (max-width: 47.9375em) {
  /* line 448, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item .promo-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5625em 1em;
  }
  /* line 454, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item .promo-content .text-promo-title,
  .gallery-item .promo-content .text-count {
    position: static;
  }
  /* line 459, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item .promo-content .text-promo-title {
    max-width: none;
    font-size: 1.375em;
    margin: 0 0 0.825em;
  }
}
/* line 476, ../../../src/css/scss/modules/gallery.scss */
.gallery-detailed .gallery-item:after {
  padding-top: 140%;
}
/* line 480, ../../../src/css/scss/modules/gallery.scss */
.gallery-detailed .product-img:after {
  padding-top: 76.05633802816901%;
}

@media (min-width: 61.25em) and (max-width: 68.75em) {
  /* line 501, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .products {
    margin-top: -2.5em;
  }

  /* line 505, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item.detailed {
    margin-top: 2.5em;
  }
  /* line 508, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item.detailed:after {
    padding-top: 150%;
  }
}
@media (min-width: 48em) and (max-width: 61.1875em) {
  /* line 524, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .products {
    margin-top: -2.5em;
  }

  /* line 528, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item.detailed {
    margin-top: 2.5em;
  }
  /* line 532, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item.detailed:after {
    padding-top: 175%;
  }
}
@media (max-width: 47.9375em) {
  /* line 550, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item:after {
    content: none;
  }
  /* line 554, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item .gallery-item-inner {
    position: relative;
  }
  /* line 558, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item .product-img:after {
    content: none;
  }
  /* line 562, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item .product-img .product-img-wrap {
    position: relative;
  }

  /* line 570, ../../../src/css/scss/modules/gallery.scss */
  .gallery-editorial .gallery-item {
    margin-top: 0.625em;
  }
  /* line 573, ../../../src/css/scss/modules/gallery.scss */
  .gallery-editorial .gallery-item:after {
    content: '';
    padding-top: 165.19608%;
  }
  /* line 579, ../../../src/css/scss/modules/gallery.scss */
  .gallery-editorial .gallery-item-inner,
  .gallery-editorial .product-img .product-img-wrap {
    position: absolute;
  }
  /* line 585, ../../../src/css/scss/modules/gallery.scss */
  .gallery-editorial .gallery-item .product-img:after {
    content: '';
    padding-top: 107.84314%;
  }

  /* line 594, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .label {
    left: 0;
    right: auto;
  }
  /* line 599, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .products {
    margin-top: -1.625em;
  }
  /* line 603, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .gallery-item {
    margin-top: 1.625em;
    display: table;
    height: auto;
  }
  /* line 610, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .product-img {
    position: relative;
    display: table-cell;
    width: 48%;
    vertical-align: middle;
  }
  /* line 618, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .product-content {
    display: table-cell;
    width: 48%;
    padding-left: 4%;
  }
  /* line 625, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .product-rating {
    font-size: 0.625em;
    margin: .5em 0 .6875em;
  }
  /* line 630, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .product-meta {
    margin-bottom: .6875em;
  }
  /* line 633, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .product-meta li {
    font-size: 0.625em;
  }
  /* line 638, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .product-content .product-name {
    font-size: 0.6875em;
  }
  /* line 642, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .product-model {
    font-size: 0.5625em;
  }

  /* line 650, ../../../src/css/scss/modules/gallery.scss */
  .product-content .price-prefix {
    margin-bottom: 0;
    display: block;
  }
}
@media (min-width: 35.5em) and (max-width: 40em) {
  /* line 663, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item.basic:after {
    padding-top: 187%;
  }
}
@media (max-width: 22.5em) {
  /* line 678, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item.basic:after {
    padding-top: 190%;
  }
}
/* line 699, ../../../src/css/scss/modules/gallery.scss */
.product-strip-wrap {
  padding-top: 3.75em;
  padding-bottom: 3.75em;
}
/* line 703, ../../../src/css/scss/modules/gallery.scss */
.product-strip-wrap:not(:first-child) {
  border-top: 0.125em solid #e4e7eb;
}

/* line 708, ../../../src/css/scss/modules/gallery.scss */
.product-strip-heading {
  margin-top: 0;
  margin-bottom: 1.25em;
}

/* line 715, ../../../src/css/scss/modules/gallery.scss */
.product-strip .gallery-item {
  margin-top: 0;
}

@media (max-width: 47.9375em) {
  /* line 722, ../../../src/css/scss/modules/gallery.scss */
  .product-strip {
    padding-bottom: 1.625em;
  }

  /* line 727, ../../../src/css/scss/modules/gallery.scss */
  .product-strip .gallery-item:nth-child(n+3) {
    margin-top: 1.625em;
  }

  /* line 732, ../../../src/css/scss/modules/gallery.scss */
  .product-strip .gallery-item:nth-child(odd) {
    margin-left: 0;
  }
}
/* line 752, ../../../src/css/scss/modules/gallery.scss */
.filter-display-bar {
  position: relative;
  z-index: 1;
}
/* line 756, ../../../src/css/scss/modules/gallery.scss */
.filter-display-bar .slide-toggle {
  margin-left: 2.5em;
}
/* line 760, ../../../src/css/scss/modules/gallery.scss */
.filter-display-bar .btn-alt-plus {
  color: #2f353d;
  background-color: #e4e7eb;
  border-color: #e4e7eb;
}
/* line 765, ../../../src/css/scss/modules/gallery.scss */
.filter-display-bar .btn-alt-plus:hover {
  color: white;
  background-color: #83838f;
  border-color: #83838f;
}
/* line 772, ../../../src/css/scss/modules/gallery.scss */
.filter-display-bar .btn + .btn {
  margin-left: .375em;
}

/* line 777, ../../../src/css/scss/modules/gallery.scss */
.filter-options {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* line 784, ../../../src/css/scss/modules/gallery.scss */
.sort-options {
  margin-top: .25em;
}

/* line 788, ../../../src/css/scss/modules/gallery.scss */
.sort-options .native-dropdown {
  display: none;
  margin-bottom: 0;
}

/* line 794, ../../../src/css/scss/modules/gallery.scss */
.active-filters-wrap {
  position: relative;
  z-index: 1;
  margin-top: 1.25em;
}

/* line 803, ../../../src/css/scss/modules/gallery.scss */
.active-filters .label:not(:first-child) {
  margin-left: .125em;
}

/* line 808, ../../../src/css/scss/modules/gallery.scss */
.filter-label {
  color: #83838f;
}

/* line 812, ../../../src/css/scss/modules/gallery.scss */
.filter-container {
  position: relative;
  margin-top: 1.375em;
  margin-bottom: 1.375em;
}
/* line 818, ../../../src/css/scss/modules/gallery.scss */
.filter-container .filter-label {
  margin-bottom: 20px;
}
/* line 823, ../../../src/css/scss/modules/gallery.scss */
.filter-container .btn-group {
  white-space: normal;
}
/* line 826, ../../../src/css/scss/modules/gallery.scss */
.filter-container .btn-group > .btn:not(:first-child) {
  margin-left: .375em;
}
/* line 837, ../../../src/css/scss/modules/gallery.scss */
.filter-container .media-heading {
  color: #2f353d;
}
/* line 841, ../../../src/css/scss/modules/gallery.scss */
.filter-container .media[disabled],
.filter-container .media[disabled] .media-heading {
  color: #bcbccc;
}
/* line 846, ../../../src/css/scss/modules/gallery.scss */
.filter-container .media + .media {
  margin-top: 1.25em;
}
/* line 850, ../../../src/css/scss/modules/gallery.scss */
.filter-container .help-container {
  text-align: right;
  cursor: pointer;
  clear: right;
}
/* line 855, ../../../src/css/scss/modules/gallery.scss */
.filter-container .help-container .help-label {
  padding-right: .625em;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
/* line 860, ../../../src/css/scss/modules/gallery.scss */
.filter-container .help-container:hover .help-label {
  color: #212530;
}
/* line 864, ../../../src/css/scss/modules/gallery.scss */
.filter-container .help-container i {
  line-height: 0;
  vertical-align: middle;
}

/* line 871, ../../../src/css/scss/modules/gallery.scss */
.filter-container + .filter-container {
  margin-top: 2.75em;
}

/* line 875, ../../../src/css/scss/modules/gallery.scss */
.sort-options .filter-label {
  padding-right: 8px;
}

@media (min-width: 48em) and (max-width: 61.1875em) {
  /* line 884, ../../../src/css/scss/modules/gallery.scss */
  .filter-options .grid > :last-child {
    margin-left: 0;
  }
  /* line 887, ../../../src/css/scss/modules/gallery.scss */
  .filter-options .grid > :last-child .filter-container {
    margin-top: 0;
  }

  /* line 894, ../../../src/css/scss/modules/gallery.scss */
  .filter-options .media-list .media {
    float: left;
  }
  /* line 898, ../../../src/css/scss/modules/gallery.scss */
  .filter-options .media-list[data-length="1"] .media {
    width: 100%;
  }
  /* line 902, ../../../src/css/scss/modules/gallery.scss */
  .filter-options .media-list[data-length="2"] .media {
    width: 50%;
  }
  /* line 906, ../../../src/css/scss/modules/gallery.scss */
  .filter-options .media-list[data-length="3"] .media {
    width: 33.3333333%;
  }
  /* line 910, ../../../src/css/scss/modules/gallery.scss */
  .filter-options .media-list[data-length="4"] .media {
    width: 25%;
  }
  /* line 914, ../../../src/css/scss/modules/gallery.scss */
  .filter-options .media-list[data-length="5"] .media {
    width: 20%;
  }

  /* line 919, ../../../src/css/scss/modules/gallery.scss */
  .filter-container .media + .media {
    margin-top: 0;
  }
}
@media (max-width: 47.9375em) {
  /* line 927, ../../../src/css/scss/modules/gallery.scss */
  .sort-options .native-dropdown {
    display: initial;
    vertical-align: baseline;
  }

  /* line 932, ../../../src/css/scss/modules/gallery.scss */
  .sort-options .dropdown {
    display: none;
  }

  /* line 936, ../../../src/css/scss/modules/gallery.scss */
  .filter-container {
    margin-bottom: 2.8125em;
  }
  /* line 939, ../../../src/css/scss/modules/gallery.scss */
  .filter-container:last-child {
    margin-bottom: 0;
  }
  /* line 944, ../../../src/css/scss/modules/gallery.scss */
  .filter-container .btn-group > .btn:not(:first-child) {
    margin-left: .25em;
  }
  /* line 949, ../../../src/css/scss/modules/gallery.scss */
  .filter-container .control-inline:not(:first-child) {
    margin-top: .625em;
  }
  /* line 954, ../../../src/css/scss/modules/gallery.scss */
  .filter-container .media + .media {
    margin-top: 1em;
  }

  /* line 961, ../../../src/css/scss/modules/gallery.scss */
  .filter-display-bar .product-count-wrap {
    display: block;
    float: left;
    margin-bottom: 0;
    margin-top: 10px;
  }
  /* line 968, ../../../src/css/scss/modules/gallery.scss */
  .filter-display-bar .slide-toggle {
    clear: both;
    margin-left: 0;
    float: left;
  }
  /* line 974, ../../../src/css/scss/modules/gallery.scss */
  .filter-display-bar .js-compare-toggle {
    float: right;
    margin-left: 2%;
  }
  /* line 979, ../../../src/css/scss/modules/gallery.scss */
  .filter-display-bar .slide-toggle,
  .filter-display-bar .js-compare-toggle {
    margin-top: 20px;
    width: 48%;
  }
}
/* line 991, ../../../src/css/scss/modules/gallery.scss */
.range-control-wrap {
  margin-top: 0.625em;
  padding: 0 0.625em;
}

/* line 996, ../../../src/css/scss/modules/gallery.scss */
.range-output {
  margin-top: 0.625em;
  text-align: center;
}

/* line 1003, ../../../src/css/scss/modules/gallery.scss */
.tab-content {
  margin-top: 1.5em;
  overflow: visible;
}

/* line 1027, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .tab {
  text-align: center;
}
/* line 1031, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .tab.active i, .gallery-tabs .tab:hover i {
  color: #f25529;
}
/* line 1038, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .holder-for-icon {
  height: 30px;
  margin-bottom: 16px;
}
/* line 1042, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .holder-for-icon i {
  color: #83838f;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
/* line 1048, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .tab-label {
  white-space: nowrap;
  margin-bottom: 0;
  line-height: 1;
}

@media (min-width: 61.25em) and (max-width: 74.9375em) {
  /* line 1063, ../../../src/css/scss/modules/gallery.scss */
  .gallery-tabs .tabs {
    height: 5.25em;
  }
  /* line 1067, ../../../src/css/scss/modules/gallery.scss */
  .gallery-tabs .tab {
    width: 7.125em;
    height: 5.25em;
  }
  /* line 1071, ../../../src/css/scss/modules/gallery.scss */
  .gallery-tabs .holder-for-icon {
    margin-bottom: 12px;
  }
  /* line 1075, ../../../src/css/scss/modules/gallery.scss */
  .gallery-tabs .tab-nav {
    top: 1em;
  }
}
@media (max-width: 61.1875em) {
  /* line 1091, ../../../src/css/scss/modules/gallery.scss */
  .gallery-tabs .tabs {
    height: 4.4375em;
  }
  /* line 1095, ../../../src/css/scss/modules/gallery.scss */
  .gallery-tabs .tab {
    width: 5.5em;
    height: 4.4375em;
  }
  /* line 1099, ../../../src/css/scss/modules/gallery.scss */
  .gallery-tabs .holder-for-icon {
    margin-bottom: 9px;
  }
  /* line 1103, ../../../src/css/scss/modules/gallery.scss */
  .gallery-tabs .tab-nav {
    top: 0.59375em;
  }
}
/* line 1124, ../../../src/css/scss/modules/gallery.scss */
.gallery .see-all {
  margin-top: 1.25em;
  text-align: right;
}

/* line 1144, ../../../src/css/scss/modules/gallery.scss */
.modal-subheader {
  clear: both;
}
/* line 1147, ../../../src/css/scss/modules/gallery.scss */
.takeover .modal-header .modal-subheader {
  margin: 0;
}
/* line 1151, ../../../src/css/scss/modules/gallery.scss */
.modal-subheader .btn-reset {
  float: right;
}
/* line 1155, ../../../src/css/scss/modules/gallery.scss */
.modal-subheader .sort-options {
  float: left;
}

/* line 1160, ../../../src/css/scss/modules/gallery.scss */
.compare-key {
  margin-bottom: 1.125em;
}

/* line 1166, ../../../src/css/scss/modules/gallery.scss */
.compare-container {
  padding-bottom: 5em;
}
/* line 1170, ../../../src/css/scss/modules/gallery.scss */
.compare-container:hover .compare-nav {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 1175, ../../../src/css/scss/modules/gallery.scss */
.compare-items-wrap {
  position: relative;
  height: 100%;
  overflow: visible !important;
}

/* line 1181, ../../../src/css/scss/modules/gallery.scss */
.compare-items-container {
  height: 100%;
}

/* line 1185, ../../../src/css/scss/modules/gallery.scss */
.compare-nav {
  position: absolute;
  z-index: 15;
  top: 330px;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
/* line 1193, ../../../src/css/scss/modules/gallery.scss */
.compare-nav .nav-prev,
.compare-nav .nav-next {
  position: absolute;
  top: 0;
}
/* line 1199, ../../../src/css/scss/modules/gallery.scss */
.compare-nav .nav-prev {
  left: 60px;
}
/* line 1203, ../../../src/css/scss/modules/gallery.scss */
.compare-nav .nav-next {
  right: 60px;
}

/* line 1209, ../../../src/css/scss/modules/gallery.scss */
.compare-item {
  position: relative;
  margin-left: .1875em;
  background: white;
  color: #2f353d;
}
/* line 1215, ../../../src/css/scss/modules/gallery.scss */
.compare-item .product-model {
  color: #83838f;
}
/* line 1224, ../../../src/css/scss/modules/gallery.scss */
.compare-item .compare-sticky-header .product-name-wrap {
  padding-right: 2.5em;
}
/* line 1228, ../../../src/css/scss/modules/gallery.scss */
.compare-item .product-content .product-name-wrap,
.compare-item .product-rating,
.compare-item .product-price,
.compare-item .color-swatches {
  margin-bottom: 1.25em;
  padding-right: 1.25em;
  padding-left: 1.25em;
}
/* line 1237, ../../../src/css/scss/modules/gallery.scss */
.compare-item .detail {
  color: #2f353d;
  min-height: 2.5em;
  padding-right: 1.25em;
  padding-left: 1.25em;
}
/* line 1244, ../../../src/css/scss/modules/gallery.scss */
.compare-item .detail.highlighted {
  background: #fffec9;
}
/* line 1248, ../../../src/css/scss/modules/gallery.scss */
.compare-item .media p:not(.media-heading) {
  color: #83838f;
}

/* line 1254, ../../../src/css/scss/modules/gallery.scss */
.detail-labels-wrap {
  position: relative;
  z-index: 5;
  height: 100%;
}
/* line 1259, ../../../src/css/scss/modules/gallery.scss */
.detail-labels-wrap:before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 2000px;
  right: 0;
  top: 0;
  background-color: #f3f4f6;
  -webkit-transition: box-shadow 0.15s ease-in;
  transition: box-shadow 0.15s ease-in;
}
/* line 1272, ../../../src/css/scss/modules/gallery.scss */
.detail-labels-wrap.overflowing:before {
  -webkit-box-shadow: 0.125em 0 0.1875em -0.0625em rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0.125em 0 0.1875em -0.0625em rgba(0, 0, 0, 0.12);
  box-shadow: 0.125em 0 0.1875em -0.0625em rgba(0, 0, 0, 0.12);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 1278, ../../../src/css/scss/modules/gallery.scss */
.detail-labels-wrapping {
  -webkit-transform: translate(-0.625em, 0);
  -ms-transform: translate(-0.625em, 0);
  transform: translate(-0.625em, 0);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s ease-out 0.1s, -webkit-transform 0.2s ease-out 0.1s;
  transition: opacity 0.2s ease-out 0.1s, transform 0.2s ease-out 0.1s;
}
/* line 1284, ../../../src/css/scss/modules/gallery.scss */
.detail-labels-wrapping.complete {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 1290, ../../../src/css/scss/modules/gallery.scss */
.detail-label-group {
  position: absolute;
}

/* line 1294, ../../../src/css/scss/modules/gallery.scss */
.detail-label-group,
.detail-labels-wrapping .product-count-wrap {
  width: 100%;
  width: -webkit-calc(100% - 0.625em);
  width: calc(100% - 0.625em);
}

/* line 1302, ../../../src/css/scss/modules/gallery.scss */
.compare-container .detail,
.detail-labels-wrapping .product-count-wrap {
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 0;
}
/* line 1311, ../../../src/css/scss/modules/gallery.scss */
.compare-container .detail:after,
.detail-labels-wrapping .product-count-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: .0625em;
  background: #f3f4f6;
}

/* line 1323, ../../../src/css/scss/modules/gallery.scss */
.compare-container .detail-label:after,
.detail-labels-wrapping .product-count-wrap:after {
  left: 0;
  width: 100%;
  background: #d2d2db;
}

/* line 1333, ../../../src/css/scss/modules/gallery.scss */
.compare-sticky-header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: -9999px;
  padding: 1em 0 1.25em;
  background: #f3f4f6;
  top: -6.25em;
  -webkit-transition: top 0.2s ease-in, left 0s 0.2s;
  transition: top 0.2s ease-in, left 0s 0.2s;
}
/* line 1345, ../../../src/css/scss/modules/gallery.scss */
.compare-sticky-header:not(.sticky-count) {
  -webkit-box-shadow: 0 0.125em 0.3125em 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0.125em 0.3125em 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.125em 0.3125em 0 rgba(0, 0, 0, 0.12);
}
/* line 1350, ../../../src/css/scss/modules/gallery.scss */
.sticky-headers .compare-sticky-header {
  margin: 0;
}
/* line 1355, ../../../src/css/scss/modules/gallery.scss */
.compare-sticky-header.open {
  left: 0;
  top: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 1364, ../../../src/css/scss/modules/gallery.scss */
.compare-sticky-header.sticky-count:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: -0.1875em;
  width: 2000px;
  height: 100%;
  background: #f3f4f6;
  border-right: 0.0625em solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0.125em 0.3125em 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0.125em 0.3125em 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.125em 0.3125em 0 rgba(0, 0, 0, 0.12);
}
/* line 1377, ../../../src/css/scss/modules/gallery.scss */
.compare-sticky-header .media .pull-left {
  max-width: 90px;
  margin-right: 4px;
}
/* line 1382, ../../../src/css/scss/modules/gallery.scss */
.compare-sticky-header .product-name {
  color: #2f353d;
}
/* line 1386, ../../../src/css/scss/modules/gallery.scss */
.compare-sticky-header .product-name,
.compare-sticky-header .product-model {
  margin-bottom: 0;
}

/* line 1392, ../../../src/css/scss/modules/gallery.scss */
.takeover-sticky-header {
  position: absolute;
  z-index: 20;
  top: -6.25em;
  left: -999em;
  width: 100%;
  background: white;
  -webkit-transition: top 0.2s ease-in, left 0s 0.2s;
  transition: top 0.2s ease-in, left 0s 0.2s;
}
/* line 1401, ../../../src/css/scss/modules/gallery.scss */
.takeover-sticky-header.open {
  left: 0;
  top: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 1408, ../../../src/css/scss/modules/gallery.scss */
.takeover-sticky-header .sticky-nav-title {
  padding: 18px 0;
  margin-bottom: 0;
}
/* line 1413, ../../../src/css/scss/modules/gallery.scss */
.takeover-sticky-header .box-close {
  display: none;
}

/* line 1420, ../../../src/css/scss/modules/gallery.scss */
.compare-item-remove {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 1426, ../../../src/css/scss/modules/gallery.scss */
.compare-box {
  display: inline-block;
  padding: 11px 12px;
  color: white;
  font-size: 1.125em;
  line-height: 1;
  background: #2f353d;
}

@media (max-width: 47.9375em) {
  /* line 1437, ../../../src/css/scss/modules/gallery.scss */
  .compare-nav {
    display: none;
  }

  /* line 1441, ../../../src/css/scss/modules/gallery.scss */
  .takeover-sticky-header .box-close {
    display: block;
  }

  /* line 1446, ../../../src/css/scss/modules/gallery.scss */
  .compare-item .detail:before {
    content: attr(data-label);
    display: block;
    margin-bottom: 0.625em;
    color: #83838f;
    font-family: "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.6875em;
  }
}
