/* TO BE GLOBAL */
/* 15px/16px */
/* 13px/16px */
/* 14px/16px */
/* line 8, ../../../src/css/scss/modules/gallery.scss */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../../../src/css/scss/modules/gallery.scss */
.product-content .product-name {
  color: #2f353d;
}
/* line 20, ../../../src/css/scss/modules/gallery.scss */
.product-content .price-title {
  margin: 0;
}
/* line 24, ../../../src/css/scss/modules/gallery.scss */
.product-content .price {
  margin: -0.4em 0 0;
}

/* line 30, ../../../src/css/scss/modules/gallery.scss */
.product-meta {
  margin: 0.825em 0 0.825em 1px;
  padding: 0 0 0 15px;
  list-style-type: square;
}

/* line 41, ../../../src/css/scss/modules/gallery.scss */
.gallery + .gallery > *:first-child {
  border-top: 3px solid #e4e7eb;
  margin-top: 1.875em;
  padding-top: 1.875em;
}

/* line 52, ../../../src/css/scss/modules/gallery.scss */
.gallery-detailed .shuffle-item {
  margin: 23px 0 0;
}

/* line 61, ../../../src/css/scss/modules/gallery.scss */
.gallery .row-fluid .gallery-item,
.gallery .grid .gallery-item {
  margin-left: 0;
}

/* line 65, ../../../src/css/scss/modules/gallery.scss */
.gallery-item {
  position: relative;
  display: block;
  margin-top: 23px;
  overflow: hidden;
  background: white;
}
/* line 77, ../../../src/css/scss/modules/gallery.scss */
.gallery-item:after {
  content: '';
  display: block;
  padding-top: 165.19607843137254%;
}
/* line 83, ../../../src/css/scss/modules/gallery.scss */
.shuffle-6 .gallery-item:after {
  padding-top: 176.5%;
}
/* line 87, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .gallery-item-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 97, ../../../src/css/scss/modules/gallery.scss */
.gallery-item p,
.gallery-item div,
.gallery-item li {
  color: #2f353d;
}
/* line 102, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .product-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background: #f3f4f6;
  -webkit-transition: box-shadow 0.15s ease-out, background-color 0.15s ease-out;
  transition: box-shadow 0.15s ease-out, background-color 0.15s ease-out;
}
/* line 111, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .product-img:hover {
  -webkit-box-shadow: inset 0 -4px 0 #83838f;
  -moz-box-shadow: inset 0 -4px 0 #83838f;
  box-shadow: inset 0 -4px 0 #83838f;
  background-color: #e4e7eb;
}
/* line 116, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .product-img:after {
  content: '';
  display: block;
  padding-top: 107.84313725490196%;
}
/* line 122, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .product-img .product-img-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 130, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .product-img img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
/* line 137, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .product-img .color-swatches {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
/* line 150, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.large:after {
  padding-top: 105.92705167173253%;
}
/* line 155, ../../../src/css/scss/modules/gallery.scss */
.shuffle-3 .gallery-item.large .product-img:after {
  padding-top: 107.045%;
}
/* line 160, ../../../src/css/scss/modules/gallery.scss */
.shuffle-4 .gallery-item.large:after {
  padding-top: 77.8%;
}
/* line 165, ../../../src/css/scss/modules/gallery.scss */
.shuffle-4 .gallery-item.large .product-img:after {
  padding-top: 50.7%;
}
@media (min-width: 1339px) {
  /* line 170, ../../../src/css/scss/modules/gallery.scss */
  .shuffle-6 .gallery-item.large:after {
    padding-top: 104.32%;
  }
}
@media (min-width: 1400px) {
  /* line 176, ../../../src/css/scss/modules/gallery.scss */
  .shuffle-6 .gallery-item.large:after {
    padding-top: 103.82%;
  }
}
/* line 181, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.large .product-img:after {
  padding-top: 88.14589665653495%;
}
/* line 185, ../../../src/css/scss/modules/gallery.scss */
.shuffle-6 .gallery-item.large .product-img:after {
  padding-top: 84.3%;
}
/* line 196, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo {
  color: white;
}
/* line 199, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo:after {
  padding-top: 78.19025522041764%;
}
/* line 203, ../../../src/css/scss/modules/gallery.scss */
.shuffle-4 .gallery-item.promo:after {
  padding-top: 77.790255%;
}
/* line 207, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo .text-promo-title {
  position: absolute;
  top: 40px;
  left: 40px;
  margin: 0;
  max-width: 225px;
}
/* line 214, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo .text-promo-title i {
  margin-top: 8px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  /* line 207, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item.promo .text-promo-title {
    font-size: 0.875em;
    top: 10px;
    left: 10px;
    max-width: initial;
  }
  /* line 225, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item.promo .text-promo-title i {
    margin-top: 1px;
  }
}
/* line 231, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo .text-count {
  position: absolute;
  bottom: 40px;
  left: 40px;
  margin: 0;
}
@media (max-width: 767px) {
  /* line 231, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item.promo .text-count {
    bottom: 10px;
    left: 10px;
  }
}
/* line 243, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo strong {
  color: white;
}
/* line 245, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo .product-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
/* line 254, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo .product-img {
  height: 100%;
}
/* line 258, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo img {
  max-height: initial;
  max-width: initial;
}
/* line 263, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo div.iq-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 271, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo .number {
  font-size: 1.2em;
}
/* line 275, ../../../src/css/scss/modules/gallery.scss */
.gallery-item.promo .text-count .text {
  font-size: 0.8em;
}
/* line 278, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .label {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
}
/* line 285, ../../../src/css/scss/modules/gallery.scss */
.gallery-item .icon-ui-favorite {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

/* line 298, ../../../src/css/scss/modules/gallery.scss */
.gallery-detailed .gallery-item:after {
  padding-top: 135.2112676056338%;
}
/* line 303, ../../../src/css/scss/modules/gallery.scss */
.gallery-detailed .product-img:after {
  padding-top: 76.05633802816901%;
}

@media (max-width: 767px) {
  /* line 330, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item:after {
    content: none;
  }
  /* line 334, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item .gallery-item-inner {
    position: relative;
  }
  /* line 338, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item .product-img:after {
    content: none;
  }
  /* line 342, ../../../src/css/scss/modules/gallery.scss */
  .gallery-item .product-img .product-img-wrap {
    position: relative;
  }

  /* line 350, ../../../src/css/scss/modules/gallery.scss */
  .gallery-editorial .gallery-item {
    margin-top: 10px;
  }
  /* line 353, ../../../src/css/scss/modules/gallery.scss */
  .gallery-editorial .gallery-item:after {
    content: '';
    padding-top: 165.19607843137254%;
  }
  /* line 360, ../../../src/css/scss/modules/gallery.scss */
  .gallery-editorial .gallery-item-inner,
  .gallery-editorial .product-img .product-img-wrap {
    position: absolute;
  }
  /* line 375, ../../../src/css/scss/modules/gallery.scss */
  .gallery-editorial .product-img:after {
    content: '';
    padding-top: 107.84313725490196%;
  }

  /* line 384, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .label {
    left: 0;
    right: auto;
  }
  /* line 389, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .gallery-item {
    display: table;
    height: auto;
  }
  /* line 395, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .product-img {
    display: table-cell;
    width: 33.33%;
    vertical-align: middle;
  }
  /* line 402, ../../../src/css/scss/modules/gallery.scss */
  .gallery-detailed .product-content {
    display: table-cell;
    width: 66.66%;
    padding-left: 5%;
  }
}
/* line 414, ../../../src/css/scss/modules/gallery.scss */
.product-strip-wrap {
  padding-top: 3.75em;
}
/* line 417, ../../../src/css/scss/modules/gallery.scss */
.product-strip-wrap:not(:first-child) {
  border-top: 1px solid #e4e7eb;
}

/* line 422, ../../../src/css/scss/modules/gallery.scss */
.product-strip-heading {
  margin-top: 0;
  margin-bottom: 1.25em;
}

/* line 429, ../../../src/css/scss/modules/gallery.scss */
.product-strip .gallery-item {
  margin-top: 0;
}

/* line 449, ../../../src/css/scss/modules/gallery.scss */
.filter-display-bar .slide-toggle {
  margin-left: 20px;
}

/* line 454, ../../../src/css/scss/modules/gallery.scss */
.filter-options {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 465, ../../../src/css/scss/modules/gallery.scss */
.active-filters .label:not(:first-child) {
  margin-left: 2px;
}

/* line 470, ../../../src/css/scss/modules/gallery.scss */
.filter-container {
  margin-bottom: 2.75em;
}
/* line 473, ../../../src/css/scss/modules/gallery.scss */
.regular-filters .filter-container:nth-child(odd) {
  clear: both;
  margin-left: 0;
}
/* line 481, ../../../src/css/scss/modules/gallery.scss */
.filter-container:last-child, .filter-container:nth-last-child(2),
.filter-container .best-for,
.filter-container .media-heading {
  margin-bottom: 0;
}
/* line 486, ../../../src/css/scss/modules/gallery.scss */
.filter-container .btn-group {
  white-space: normal;
}
/* line 490, ../../../src/css/scss/modules/gallery.scss */
.filter-container .btn-group > .btn:not(:first-child) {
  margin-left: 1px;
}
/* line 497, ../../../src/css/scss/modules/gallery.scss */
.filter-container .media {
  overflow: visible;
}
/* line 501, ../../../src/css/scss/modules/gallery.scss */
.filter-container .media[disabled] {
  color: #bcbccc;
}

/* line 506, ../../../src/css/scss/modules/gallery.scss */
.product-count {
  display: inline-block;
  min-width: 23px;
  font-size: 1em;
  text-align: right;
}

@media (max-width: 767px) {
  /* line 516, ../../../src/css/scss/modules/gallery.scss */
  .sort-options .native-dropdown {
    display: initial !important;
    vertical-align: baseline;
  }
}
/* line 527, ../../../src/css/scss/modules/gallery.scss */
.range-control-wrap {
  margin-top: 10px;
  padding: 0 10px;
}

/* line 532, ../../../src/css/scss/modules/gallery.scss */
.range-output {
  margin-top: 10px;
  text-align: center;
}

/* line 539, ../../../src/css/scss/modules/gallery.scss */
.tab-content {
  margin-top: 1.25em;
  overflow: visible;
}

/* line 553, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs.tab-strip {
  position: relative;
  background-color: #e4e7eb;
}
/* line 560, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .tabs-container {
  position: relative;
  overflow: hidden;
}
/* line 566, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .tabs {
  z-index: 1;
  height: 100px;
  overflow-x: auto;
  white-space: nowrap;
}
/* line 573, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .tab {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 120px;
  height: 100px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 1px 0 0 white;
  -moz-box-shadow: 1px 0 0 white;
  box-shadow: 1px 0 0 white;
  -webkit-transition: background-color 0.15s ease-out, box-shadow 0.15s ease-out, top 0.15s ease-out;
  transition: background-color 0.15s ease-out, box-shadow 0.15s ease-out, top 0.15s ease-out;
}
/* line 585, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .tab:focus, .gallery-tabs .tab:hover {
  background-color: #f3f4f6;
}
/* line 590, ../../../src/css/scss/modules/gallery.scss */
.no-touch .gallery-tabs .tab:active, .gallery-tabs .tab.active {
  z-index: 2;
  background-color: white;
  box-shadow: 0 3px 0 white, 0 0 4px 1px rgba(0, 0, 0, 0.15);
}
@media (max-width: 767px) {
  /* line 600, ../../../src/css/scss/modules/gallery.scss */
  .no-touch .gallery-tabs .tab:active, .gallery-tabs .tab.active {
    top: -2px;
  }
}
/* line 606, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .holder-for-icon {
  height: 30px;
}
/* line 610, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .tab-label {
  margin-top: 10px;
}
/* line 616, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .tab-nav-btns {
  position: absolute;
  z-index: 5;
  height: 100px;
}
/* line 622, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .tab-nav-wrap {
  position: relative;
  display: none;
}
/* line 629, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .tab-nav {
  position: absolute;
  z-index: 5;
  top: 0;
  left: -30px;
  display: none;
  width: 30px;
  height: 100%;
  background: #f2f2f2;
  cursor: pointer;
}
/* line 641, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .tab-nav-next {
  left: 724px;
}
/* line 646, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .tab-nav:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -2px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid #049cdb;
  border-bottom: 5px solid transparent;
}
/* line 661, ../../../src/css/scss/modules/gallery.scss */
.gallery-tabs .tab-nav-next:before {
  border-top: 5px solid transparent;
  border-right: none;
  border-left: 5px solid #049cdb;
  border-bottom: 5px solid transparent;
}

@media (min-width: 768px) and (max-width: 979px) {
  /* line 674, ../../../src/css/scss/modules/gallery.scss */
  .gallery-tabs .tabs {
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  /* line 683, ../../../src/css/scss/modules/gallery.scss */
  .gallery-tabs .tabs-container {
    overflow: hidden;
  }
  /* line 687, ../../../src/css/scss/modules/gallery.scss */
  .gallery-tabs .tab-nav-wrap {
    display: block;
  }
}
/* line 696, ../../../src/css/scss/modules/gallery.scss */
.gallery .see-all {
  text-align: right;
}

/* line 707, ../../../src/css/scss/modules/gallery.scss */
.compare-container {
  padding: 15px 0;
}

/* line 711, ../../../src/css/scss/modules/gallery.scss */
.compare-item {
  position: relative;
}

/* line 715, ../../../src/css/scss/modules/gallery.scss */
.compare-item-remove {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 721, ../../../src/css/scss/modules/gallery.scss */
.box-close {
  float: right;
  width: 36px;
  height: 36px;
  padding: 0;
  line-height: 1;
  background: #83838f;
  border: none;
  text-align: center;
  cursor: pointer;
}
/* line 731, ../../../src/css/scss/modules/gallery.scss */
.box-close i {
  vertical-align: baseline;
}

/* line 736, ../../../src/css/scss/modules/gallery.scss */
.box-close-small {
  width: 20px;
  height: 20px;
}
/* line 740, ../../../src/css/scss/modules/gallery.scss */
.box-close-small i {
  vertical-align: middle;
}

/* line 745, ../../../src/css/scss/modules/gallery.scss */
.compare-box {
  display: inline-block;
  padding: 10px;
  color: white;
  background: #83838f;
}
