/* line 97, ../../../src/css/scss/_base/_mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 84, ../../../src/css/scss/_base/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 91, ../../../src/css/scss/_base/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 7, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer {
  position: relative;
}

/* line 11, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsHero, .hsExplorer .hsSpot .hsInfoPanel {
  position: absolute;
}

/* line 19, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsDev {
  width: 100%;
  max-width: 725px;
  height: auto;
}

/*************************
-- Hotspot Explorer
-- 
*************************/
/* line 29, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer {
  width: 100%;
  max-width: 725px;
  height: 100%;
  display: block;
  margin: 0 auto;
}
/* line 38, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsHero {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
}
/* line 51, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsSpot .hsInfoPanel {
  top: -156px;
  left: -287px;
  width: 280px;
  height: auto;
  padding: 0 0 40px 0;
  display: block;
  color: #2b2f3b;
  background-color: #2b2f3b;
  z-index: 25;
}
/* line 67, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsSpot .hsInfoPanel.v-base {
  top: -64px;
}
/* line 71, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsSpot .hsInfoPanel.v-base-image-link {
  top: -157px;
}
/* line 75, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsSpot .hsInfoPanel.v-base-image-quote-link {
  top: -192px;
}
/* line 79, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsSpot .hsInfoPanel img {
  width: 100%;
  height: auto;
  display: block;
}
/* line 86, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsSpot .hsInfoPanel.hsLeft {
  left: -287px;
}
/* line 90, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsSpot .hsInfoPanel.hsRight {
  left: 65px;
}
/* line 94, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsSpot .hsInfoPanel:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 12px solid transparent;
  border-left: 12px solid #2b2f3b;
  position: absolute;
  top: 50%;
  margin-top: -51px;
  left: 100%;
  z-index: 2;
}
/* line 110, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsSpot .hsInfoPanel.hsRight:after {
  border-left: none;
  left: auto;
  border-right: 12px solid #2b2f3b;
  right: 100%;
}
/* line 117, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsSpot .hsInfoPanel .hsInfo {
  width: 205px;
  display: block;
  margin: 0 auto;
  margin-top: 33px;
  font-size: 13px;
  color: #afb6ba;
}
/* line 125, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsSpot .hsInfoPanel .hsInfo h1 {
  margin: 25px 0 0 0;
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}
/* line 133, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsSpot .hsInfoPanel .hsInfo p {
  margin: 20px 0 0 0;
  display: block;
  line-height: 20px;
}
/* line 139, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsSpot .hsInfoPanel .hsInfo a {
  margin: 20px 0 0 0;
  display: block;
  color: #5787f4;
  font-weight: bold;
}
/* line 145, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsSpot .hsInfoPanel .hsInfo a:after {
  content: '->';
  display: inline-block;
  position: relative;
  margin: 0 0 0 5px;
}
/* line 154, ../../../src/css/scss/modules/hotspot_explorer.scss */
.hsExplorer .hsSpot .hsInfoPanel .hsQuote {
  padding-top: 10px;
  border-top: 1px dashed;
  font-style: italic;
  font-size: 14px;
}
