/* line 9, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout {
  position: relative;
}
/* line 11, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout .hero-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 17, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout .container .inner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
/* line 22, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout .container .inner .hero-unit {
  padding: 56px;
}
/* line 24, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout .container .inner .hero-unit .kicker {
  margin-bottom: 0;
}
/* line 27, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout .container .inner .hero-unit h1 {
  margin-top: 0;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
/* line 35, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout .light-text h1, .primary-tout .light-text h2, .primary-tout .light-text h3, .primary-tout .light-text h4, .primary-tout .light-text h5, .primary-tout .light-text h6 {
  color: white;
}
/* line 38, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout .light-text p {
  color: #bcbccc;
}
/* line 41, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout .light-text .p3 {
  line-height: 18px;
}
/* line 46, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout .dark-background .hero-unit {
  background: rgba(33, 37, 48, 0.95);
}
/* line 51, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout .light-background .hero-unit {
  background: rgba(255, 255, 255, 0.95);
}
/* line 55, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout .iconContainer-plus {
  background: #93308e;
  margin: -8px 10px;
}

/* line 63, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout.home-page .container .inner h1 {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
/* line 66, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout.home-page .container .inner .hero-unit {
  position: relative;
  padding: 38px 45px;
  margin-bottom: 30px;
}
/* line 70, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout.home-page .container .inner .hero-unit h5 {
  line-height: 30px;
  margin-bottom: 14px;
}
/* line 74, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout.home-page .container .inner .hero-unit p {
  margin: 0;
}
/* line 77, ../../../src/css/scss/modules/primary-tout.scss */
.primary-tout.home-page .container .inner .hero-unit .btn {
  margin-top: 18px;
  position: absolute;
  right: 45px;
  bottom: 38px;
}

@media (min-width: 980px) {
  /* line 89, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout .hero-image {
    height: 640px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 96, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout .hero-image {
    height: 500px;
  }
  /* line 99, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout .container {
    position: relative;
  }
  /* line 101, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout .container .inner {
    top: auto;
    bottom: 0;
    padding: 0 18px 18px 18px;
  }
  /* line 105, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout .container .inner .hero-unit {
    padding: 36px;
  }
  /* line 107, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout .container .inner .hero-unit h1 {
    font-size: 2.2em;
  }

  /* line 115, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout.home-page .hero-image {
    height: 520px;
  }
  /* line 119, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout.home-page .container .inner {
    padding: 0 18px 18px 18px;
  }
  /* line 121, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout.home-page .container .inner h1 {
    font-size: 2.5em;
  }
  /* line 124, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout.home-page .container .inner .hero-unit {
    position: relative;
    margin-bottom: 0;
    padding: 25px;
  }
  /* line 128, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout.home-page .container .inner .hero-unit .btn {
    right: 25px;
    bottom: 25px;
  }
}
@media (max-width: 767px) {
  /* line 139, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout .hero-image {
    height: 400px;
  }
  /* line 142, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout .container {
    position: relative;
  }
  /* line 144, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout .container .inner {
    top: auto;
    bottom: 0;
    padding: 0 18px 18px 18px;
  }
  /* line 148, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout .container .inner .hero-unit {
    padding: 36px;
  }
  /* line 150, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout .container .inner .hero-unit h1 {
    font-size: 1.5em;
  }

  /* line 158, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout.home-page .hero-image {
    height: 589px;
  }
  /* line 162, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout.home-page .container .inner {
    padding: 0 18px 18px 18px;
  }
  /* line 164, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout.home-page .container .inner h1 {
    font-size: 2em;
    max-width: 70%;
  }
  /* line 168, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout.home-page .container .inner .offset1 {
    padding-left: 25px;
  }
  /* line 171, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout.home-page .container .inner .hero-unit {
    position: relative;
    margin-bottom: 0;
    padding: 25px;
  }
  /* line 175, ../../../src/css/scss/modules/primary-tout.scss */
  .primary-tout.home-page .container .inner .hero-unit .btn {
    position: relative;
    right: auto;
    bottom: auto;
  }
}
