/* line 9, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
.primary-tout {
  position: relative;
}
/* line 1711, ../../../src/css/scss/_base/_mixins.scss */
.primary-tout .dark-text-light-box h1, .primary-tout .dark-text-light-box h2, .primary-tout .dark-text-light-box h3, .primary-tout .dark-text-light-box h4, .primary-tout .dark-text-light-box h5, .primary-tout .dark-text-light-box h6,
.primary-tout .dark-text-trans-box h1,
.primary-tout .dark-text-trans-box h2,
.primary-tout .dark-text-trans-box h3,
.primary-tout .dark-text-trans-box h4,
.primary-tout .dark-text-trans-box h5,
.primary-tout .dark-text-trans-box h6 {
  color: #2f353d;
}
/* line 1714, ../../../src/css/scss/_base/_mixins.scss */
.primary-tout .dark-text-light-box p,
.primary-tout .dark-text-trans-box p {
  color: #83838f;
}
/* line 1721, ../../../src/css/scss/_base/_mixins.scss */
.primary-tout .light-text-dark-box h1, .primary-tout .light-text-dark-box h2, .primary-tout .light-text-dark-box h3, .primary-tout .light-text-dark-box h4, .primary-tout .light-text-dark-box h5, .primary-tout .light-text-dark-box h6,
.primary-tout .light-text-trans-box h1,
.primary-tout .light-text-trans-box h2,
.primary-tout .light-text-trans-box h3,
.primary-tout .light-text-trans-box h4,
.primary-tout .light-text-trans-box h5,
.primary-tout .light-text-trans-box h6 {
  color: white;
}
/* line 1724, ../../../src/css/scss/_base/_mixins.scss */
.primary-tout .light-text-dark-box p,
.primary-tout .light-text-trans-box p {
  color: #bcbccc;
}
/* line 1736, ../../../src/css/scss/_base/_mixins.scss */
.primary-tout .light-text-dark-box .box {
  background: rgba(33, 37, 48, 0.95);
}
/* line 1743, ../../../src/css/scss/_base/_mixins.scss */
.primary-tout .dark-text-light-box .box {
  background: rgba(255, 255, 255, 0.95);
}
/* line 12, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
.primary-tout h1 {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
/* line 18, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
.primary-tout .hero-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 23, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
.primary-tout .inner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
/* line 28, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
.primary-tout .inner .box {
  padding: 56px;
}
/* line 30, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
.primary-tout .inner .box .kicker {
  margin-bottom: 0;
}
/* line 33, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
.primary-tout .inner .box h1 {
  margin-top: 0;
}
/* line 39, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
.primary-tout .iconContainer-plus {
  background: #913f99;
  margin: -8px 10px;
}

/* line 46, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
.primary-tout.home-page .inner .box {
  position: relative;
  padding: 38px 45px;
  margin-bottom: 30px;
}
/* line 50, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
.primary-tout.home-page .inner .box h5 {
  line-height: 30px;
  margin-bottom: 14px;
}
/* line 54, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
.primary-tout.home-page .inner .box p {
  margin: 0;
}
/* line 57, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
.primary-tout.home-page .inner .box .btn {
  margin-top: 18px;
  position: absolute;
  right: 45px;
  bottom: 38px;
}

@media (min-width: 61.25em) {
  /* line 68, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout .hero-image {
    height: 640px;
  }
}
@media (min-width: 48em) and (max-width: 61.1875em) {
  /* line 75, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout .hero-image {
    height: 500px;
  }
  /* line 78, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout .inner {
    top: auto;
    bottom: 0;
    padding: 0 18px 18px 18px;
  }
  /* line 82, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout .inner .box {
    padding: 36px;
  }

  /* line 88, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout.home-page .hero-image {
    height: 520px;
  }
  /* line 91, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout.home-page .inner {
    padding: 0 18px 18px 18px;
  }
  /* line 93, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout.home-page .inner .box {
    position: relative;
    margin-bottom: 0;
    padding: 25px;
  }
  /* line 97, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout.home-page .inner .box .btn {
    right: 25px;
    bottom: 25px;
  }
}
@media (max-width: 47.9375em) {
  /* line 107, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout .hero-image {
    height: 400px;
  }
  /* line 110, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout .inner {
    top: auto;
    bottom: 0;
    padding: 0 18px 18px 18px;
  }
  /* line 114, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout .inner .box {
    padding: 36px;
  }

  /* line 120, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout.home-page .hero-image {
    height: 589px;
  }
  /* line 123, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout.home-page .inner {
    padding: 0 18px 18px 18px;
  }
  /* line 125, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout.home-page .inner h1 {
    max-width: 70%;
  }
  /* line 128, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout.home-page .inner .offset1 {
    padding-left: 25px;
  }
  /* line 131, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout.home-page .inner .box {
    position: relative;
    margin-bottom: 0;
    padding: 25px;
  }
  /* line 135, ../../../src/css/scss/modules/primary-tout-p1-d7.scss */
  .primary-tout.home-page .inner .box .btn {
    position: relative;
    right: auto;
    bottom: auto;
  }
}
