/* line 1, ../../../src/css/scss/modules/primarytout.scss */
.primary-tout {
  position: relative;
}
/* line 3, ../../../src/css/scss/modules/primarytout.scss */
.primary-tout .inner {
  position: absolute;
  top: 0;
}
