/* line 93, ../../../src/css/scss/_base/_mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 80, ../../../src/css/scss/_base/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 87, ../../../src/css/scss/_base/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* section {
  overflow: hidden;
} */
/* line 9, ../../../src/css/scss/modules/related-products.scss */
.debug .products {
  counter-reset: item;
}
/* line 13, ../../../src/css/scss/modules/related-products.scss */
.debug .gallery-item {
  counter-increment: item;
}
/* line 16, ../../../src/css/scss/modules/related-products.scss */
.debug .gallery-item::before {
  content: counter(item, decimal);
  position: absolute;
  top: 0;
  left: 0;
}

/* line 25, ../../../src/css/scss/modules/related-products.scss */
.rp-webkit3d * {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

/* line 30, ../../../src/css/scss/modules/related-products.scss */
.rp-wrapper {
  max-width: 600px;
  width: 100%;
  background: none;
  padding: 115px 0 120px 0;
  display: block;
}

/* .grid4 .rp-grid {
  padding: 0 30px 0 30px;
} */
/* line 43, ../../../src/css/scss/modules/related-products.scss */
.rp-grid {
  padding: 0;
  height: 100%;
  width: 100%;
}
/* line 48, ../../../src/css/scss/modules/related-products.scss */
.rp-grid .gallery-item:after {
  content: '';
  display: block;
}
/* line 53, ../../../src/css/scss/modules/related-products.scss */
.rp-grid .span1.gallery-item:after {
  padding-top: 130.196078%;
}
@media (min-width: 481px) and (max-width: 979px) {
  /* line 58, ../../../src/css/scss/modules/related-products.scss */
  .rp-grid .gallery-item .product-img:after {
    padding-top: 59.843137%;
  }
}

@media (min-width: 768px) {
  /* line 65, ../../../src/css/scss/modules/related-products.scss */
  .slimgrid5 .related-products[class*="span"] {
    margin-left: 0;
  }
}
/* line 70, ../../../src/css/scss/modules/related-products.scss */
.gallery-item.plate .product-img:after {
  content: '';
}

@media (max-width: 480px) {
  /* line 76, ../../../src/css/scss/modules/related-products.scss */
  .related-products .gallery-item.small-size {
    min-height: 1px;
    margin-left: 20px;
    width: 204px;
    max-height: 225px;
  }
}
/* line 84, ../../../src/css/scss/modules/related-products.scss */
.slimgrid5 .grid .related-products [class*="span"] {
  margin-left: 0;
}

/*
         __        ____       __      __           __   ____                 __           __          ____       _____       _ __  _           
       _/_/_/|_   / __ \___  / /___ _/ /____  ____/ /  / __ \_________  ____/ /_  _______/ /______   / __ \___  / __(_)___  (_) /_(_)___  ____ 
     _/_/|    /  / /_/ / _ \/ / __ `/ __/ _ \/ __  /  / /_/ / ___/ __ \/ __  / / / / ___/ __/ ___/  / / / / _ \/ /_/ / __ \/ / __/ / __ \/ __ \
   _/_/ /_ __|  / _, _/  __/ / /_/ / /_/  __/ /_/ /  / ____/ /  / /_/ / /_/ / /_/ / /__/ /_(__  )  / /_/ /  __/ __/ / / / / / /_/ / /_/ / / / /
  /_/    |/    /_/ |_|\___/_/\__,_/\__/\___/\__,_/  /_/   /_/   \____/\__,_/\__,_/\___/\__/____/  /_____/\___/_/ /_/_/ /_/_/\__/_/\____/_/ /_/ 

*/
/* line 99, ../../../src/css/scss/modules/related-products.scss */
.related-products {
  margin: 0 auto;
  width: 100%;
  /*  margin: 15px 0 0 0; */
  padding: 0;
  position: relative;
  direction: ltr;
  overflow: hidden;
  /*   @media (min-width: 481px) and (max-width: 979px){
      padding-top: 76.190255%
    } */
}
/* line 103, ../../../src/css/scss/modules/related-products.scss */
.related-products .shuffle-container {
  max-width: 1020px;
}
/* line 107, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item .product-img:after {
  padding-top: 86.843137%;
}
/* line 111, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item:after {
  padding-top: 130.343137%;
}
/* line 116, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item .icon-ui2-chevron-16-black-right {
  display: none;
  visibility: hidden;
}
/* line 122, ../../../src/css/scss/modules/related-products.scss */
.related-products.suggested {
  max-width: 1020px;
}
/* line 126, ../../../src/css/scss/modules/related-products.scss */
.related-products.suggested .product-price {
  text-align: center;
  color: #83838f;
}
/* line 131, ../../../src/css/scss/modules/related-products.scss */
.related-products.suggested .price-prefix {
  display: block;
  color: #83838f;
}
/* line 136, ../../../src/css/scss/modules/related-products.scss */
.related-products.suggested .gallery-item {
  max-height: 490px;
  background: #f3f4f6;
}
/* line 140, ../../../src/css/scss/modules/related-products.scss */
.related-products.suggested .gallery-item .product-img:after {
  padding-top: 44.8979592%;
}
/* line 148, ../../../src/css/scss/modules/related-products.scss */
.related-products.suggested .gallery-item .gallery-item-inner.two-line .product-name {
  margin-top: 13.223455%;
}
/* line 152, ../../../src/css/scss/modules/related-products.scss */
.related-products.suggested .gallery-item .gallery-item-inner.two-line .product-tagline {
  line-height: 1.1234;
}
/* line 158, ../../../src/css/scss/modules/related-products.scss */
.related-products.suggested .gallery-item .gallery-item-inner .product-img {
  margin-top: 5%;
}
/* line 162, ../../../src/css/scss/modules/related-products.scss */
.related-products.suggested .gallery-item .gallery-item-inner .product-name {
  margin-top: 17.1428571%;
  text-align: center;
  font-size: 0.8125em;
  font-family: "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #83838f;
}
/* line 170, ../../../src/css/scss/modules/related-products.scss */
.related-products.suggested .gallery-item .gallery-item-inner .product-tagline {
  text-align: center;
  font-size: 1.625em;
  font-family: "SST W01 Light", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2f353d;
  max-width: 305px;
  margin: 0 auto;
}
@media (min-width: 48.0625em) {
  /* line 182, ../../../src/css/scss/modules/related-products.scss */
  .related-products.suggested .span6:after {
    content: '';
    display: block;
    padding-top: 98.1963928%;
  }
}
@media (min-width: 30.0625em) and (max-width: 48em) {
  /* line 122, ../../../src/css/scss/modules/related-products.scss */
  .related-products.suggested {
    padding: 0 4% 0 4%;
  }
  /* line 193, ../../../src/css/scss/modules/related-products.scss */
  .related-products.suggested .span6 {
    width: 48.13617%;
  }
  /* line 197, ../../../src/css/scss/modules/related-products.scss */
  .related-products.suggested .span6:after {
    content: '';
    display: block;
    padding-top: 128.343949%;
  }
  /* line 206, ../../../src/css/scss/modules/related-products.scss */
  .related-products.suggested .gallery-item .product-img {
    margin-top: 12%;
  }
  /* line 210, ../../../src/css/scss/modules/related-products.scss */
  .related-products.suggested .gallery-item .product-price {
    margin-top: 5%;
  }
  /* line 215, ../../../src/css/scss/modules/related-products.scss */
  .related-products.suggested .gallery-item .gallery-item-inner .product-tagline {
    font-size: 1.3125em;
  }
  /* line 219, ../../../src/css/scss/modules/related-products.scss */
  .related-products.suggested .gallery-item .gallery-item-inner .product-name {
    padding-top: 4.142857%;
    font-size: 0.6875em;
  }
  /* line 224, ../../../src/css/scss/modules/related-products.scss */
  .related-products.suggested .gallery-item .gallery-item-inner .product-tagline {
    max-width: 245px;
  }
}
@media (max-width: 30em) {
  /* line 234, ../../../src/css/scss/modules/related-products.scss */
  .related-products.suggested .gallery-item {
    margin-left: 0;
  }
  /* line 236, ../../../src/css/scss/modules/related-products.scss */
  .related-products.suggested .gallery-item:after {
    padding-top: 9.196078%;
  }
}
/* line 244, ../../../src/css/scss/modules/related-products.scss */
.related-products .rp-product {
  background: #f3f4f6;
}
@media (min-width: 769px) and (max-width: 980px) {
  /* line 250, ../../../src/css/scss/modules/related-products.scss */
  .related-products.related-products-3up .medium .product-img:after {
    padding-top: 109.92761%;
  }
}
@media (min-width: 769px) and (max-width: 980px) {
  /* line 256, ../../../src/css/scss/modules/related-products.scss */
  .related-products.related-products-3up .gallery-item.plate:after {
    padding-top: 131.09025%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  /* line 265, ../../../src/css/scss/modules/related-products.scss */
  .related-products.related-products-3up .medium .product-img:after {
    padding-top: 100.52761%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  /* line 271, ../../../src/css/scss/modules/related-products.scss */
  .related-products.related-products-3up .medium .gallery-item:after {
    padding-top: 127.99607%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  /* line 277, ../../../src/css/scss/modules/related-products.scss */
  .related-products.related-products-3up .gallery-item.plate:after {
    padding-top: 127.143%;
  }
}
/* line 283, ../../../src/css/scss/modules/related-products.scss */
.related-products .color-swatches {
  display: none;
  visibility: hidden;
}
/* line 288, ../../../src/css/scss/modules/related-products.scss */
.related-products .favorite-holder {
  display: none;
  visibility: hidden;
}
/* line 294, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item .product-img.teal-color {
  background-color: #45afc9;
}
/* line 298, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item .product-img.orange-color {
  background-color: #f0b938;
}
/* line 302, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item .product-img.purple-color {
  background-color: #6d5d90;
}
/* line 307, ../../../src/css/scss/modules/related-products.scss */
.related-products .row-fluid .gallery-item,
.related-products .grid .gallery-item {
  margin-left: 0;
}
/* line 311, ../../../src/css/scss/modules/related-products.scss */
.related-products .product-content {
  font-family: "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8125em;
  color: #2f353d;
}
/* line 317, ../../../src/css/scss/modules/related-products.scss */
.related-products .product-content .p5:not(.msrp) {
  display: block;
  color: #83838f;
}
/* line 323, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item {
  overflow: inherit;
}
/* line 325, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item.blank {
  opacity: 0;
  visibility: hidden;
  cursor: none;
}
/* line 333, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item .product-img {
  background: none;
}
/* line 337, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item .product-img:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: none;
}
/* line 345, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item.plate .orange-color .text-promo-title {
  color: #fceece;
}
/* line 350, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item.plate .purple-color .text-promo-title {
  color: #baacde;
}
/* line 355, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item.plate .teal-color .text-promo-title {
  color: #75e7ef;
}
/* line 359, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item.plate .text-promo-title {
  font-size: 1.625em;
  max-width: 265px;
  top: 30px;
}
/* line 364, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item.plate .text-promo-title strong {
  font-family: "SST W01 Roman", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 480px) {
  /* line 359, ../../../src/css/scss/modules/related-products.scss */
  .related-products .gallery-item.plate .text-promo-title {
    font-size: 1.125em;
    top: 10px;
    left: 10px;
    max-width: none;
  }
}
/* line 376, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item.plate:after {
  padding-top: 61.690255%;
}
/* line 380, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item:after {
  content: '';
}
/* line 384, ../../../src/css/scss/modules/related-products.scss */
.related-products .product-img:after {
  content: '';
}
@media (max-width: 481px) {
  /* line 389, ../../../src/css/scss/modules/related-products.scss */
  .related-products .product-img:after {
    content: none;
  }
}
/* line 401, ../../../src/css/scss/modules/related-products.scss */
.related-products:after {
  content: '';
  margin-top: 49.761151%;
  display: block;
}
@media (max-width: 481px) {
  /* line 409, ../../../src/css/scss/modules/related-products.scss */
  .related-products:after {
    content: none;
  }
}
/* line 414, ../../../src/css/scss/modules/related-products.scss */
.related-products .small-size {
  width: 204px;
  height: 337px;
  display: block;
  float: left;
  margin-left: 20px;
}
/* line 421, ../../../src/css/scss/modules/related-products.scss */
.related-products .small-size .gallery-item-inner {
  height: 160px;
}
/* line 426, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item.plate strong {
  display: block;
}
/* line 434, ../../../src/css/scss/modules/related-products.scss */
.related-products .medium:after {
  padding-top: 129.790023%;
}
@media (min-width: 481px) and (max-width: 980px) {
  /* line 434, ../../../src/css/scss/modules/related-products.scss */
  .related-products .medium:after {
    padding-top: 160.290023%;
  }
}
/* line 443, ../../../src/css/scss/modules/related-products.scss */
.related-products .medium .product-img:after {
  padding-top: 108.82761%;
}
@media (min-width: 481px) and (max-width: 768px) {
  /* line 443, ../../../src/css/scss/modules/related-products.scss */
  .related-products .medium .product-img:after {
    padding-top: 122.32761%;
  }
}
@media (min-width: 769px) and (max-width: 980px) {
  /* line 443, ../../../src/css/scss/modules/related-products.scss */
  .related-products .medium .product-img:after {
    padding-top: 121.32761%;
  }
}
@media (max-width: 481px) {
  /* line 455, ../../../src/css/scss/modules/related-products.scss */
  .related-products .medium .product-img:after .medium .product-img:after {
    padding-top: 75.980392156863%;
  }
}
@media (min-width: 481px) and (max-width: 980px) {
  /* line 463, ../../../src/css/scss/modules/related-products.scss */
  .related-products .gallery-item:after {
    padding-top: 127.196078%;
  }
  /* line 470, ../../../src/css/scss/modules/related-products.scss */
  .related-products .gallery-item .gallery-item-inner,
  .related-products .product-img .product-img-wrap {
    position: absolute;
  }
  /* line 474, ../../../src/css/scss/modules/related-products.scss */
  .related-products .medium.gallery-item:after {
    padding-top: 144.996078%;
  }
  /* line 483, ../../../src/css/scss/modules/related-products.scss */
  .related-products.related-products-4up .gallery-item:after {
    padding-top: 160.196078%;
  }
  /* line 487, ../../../src/css/scss/modules/related-products.scss */
  .related-products.related-products-4up .medium.gallery-item:after {
    padding-top: 141.196078%;
  }
  /* line 491, ../../../src/css/scss/modules/related-products.scss */
  .related-products.related-products-4up .medium .product-img:after {
    padding-top: 90.32761%;
  }
  /* line 515, ../../../src/css/scss/modules/related-products.scss */
  .related-products .gallery-item.plate:after {
    padding-top: 76.19025%;
  }
}
/* line 525, ../../../src/css/scss/modules/related-products.scss */
.related-products .promo:after {
  padding-top: 54.524361948956%;
}
/* line 531, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item .product-img {
  background: #f3f4f6;
  /*  background: grey; */
}
/* line 537, ../../../src/css/scss/modules/related-products.scss */
.related-products.full .gallery-item {
  margin-left: 0;
}
/* line 541, ../../../src/css/scss/modules/related-products.scss */
.related-products .rp-bullets {
  position: absolute;
  z-index: 35;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  line-height: 18px;
  overflow: hidden;
  cursor: pointer;
  /* visibility: hidden; */
}
/* line 557, ../../../src/css/scss/modules/related-products.scss */
.related-products .rp-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 10px 9px 10px 8px;
  cursor: pointer;
}
/* line 567, ../../../src/css/scss/modules/related-products.scss */
.related-products .rp-bullet span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bcbccc;
}
/* line 575, ../../../src/css/scss/modules/related-products.scss */
.related-products .rp-bullet.rp-nav-selected span {
  background: #2f353d;
}
/* line 579, ../../../src/css/scss/modules/related-products.scss */
.related-products .rp-overflow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}
@media (max-width: 767px) {
  /* line 99, ../../../src/css/scss/modules/related-products.scss */
  .related-products {
    max-width: 980px;
    /* Both Must be set for JS to size proportiontely */
    min-height: 370px;
  }
}
/* line 599, ../../../src/css/scss/modules/related-products.scss */
.related-products .rp-container {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* line 606, ../../../src/css/scss/modules/related-products.scss */
.related-products .rp-slide {
  position: absolute;
  left: 0;
  top: -20px;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* Experimental for full bleed stuff */
  max-width: 1200px;
}

@media (min-width: 481px) and (max-width: 768px) {
  /* line 627, ../../../src/css/scss/modules/related-products.scss */
  .rp-grid {
    padding: 0;
  }
}
/* line 634, ../../../src/css/scss/modules/related-products.scss */
.rp-nav .paddle {
  width: 50px;
  height: 88px;
  display: block;
  background: #909398;
  position: absolute;
  top: 25%;
  margin: 0;
  cursor: pointer;
  opacity: 0.8;
}
/* line 645, ../../../src/css/scss/modules/related-products.scss */
.rp-nav .paddle.left {
  left: 6.5%;
  right: auto;
}
/* line 650, ../../../src/css/scss/modules/related-products.scss */
.rp-nav .paddle.right {
  left: auto;
  right: 6.5%;
}
