/* line 10, ../../../src/css/scss/modules/related-products.scss */
.debug .products {
  counter-reset: item;
}
/* line 14, ../../../src/css/scss/modules/related-products.scss */
.debug .gallery-item {
  counter-increment: item;
}
/* line 17, ../../../src/css/scss/modules/related-products.scss */
.debug .gallery-item::before {
  content: counter(item, decimal);
  position: absolute;
  top: 0;
  left: 0;
}

/* line 26, ../../../src/css/scss/modules/related-products.scss */
.rpWebkit3d * {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

/* line 31, ../../../src/css/scss/modules/related-products.scss */
.rpWrapper {
  max-width: 600px;
  width: 100%;
  background: none;
  padding: 115px 0 120px 0;
  display: block;
}

/* line 40, ../../../src/css/scss/modules/related-products.scss */
.grid4 .rpGrid {
  padding: 0 30px 0 30px;
}

/* line 44, ../../../src/css/scss/modules/related-products.scss */
.rpGrid {
  padding: 0;
  height: 100%;
  width: 100%;
}
/* line 49, ../../../src/css/scss/modules/related-products.scss */
.rpGrid .gallery-item:after {
  content: '';
  display: block;
}
/* line 54, ../../../src/css/scss/modules/related-products.scss */
.rpGrid .span1.gallery-item:after {
  padding-top: 130.196078%;
}
@media (min-width: 481px) and (max-width: 979px) {
  /* line 59, ../../../src/css/scss/modules/related-products.scss */
  .rpGrid .gallery-item .product-img:after {
    padding-top: 59.843137%;
  }
}

@media (min-width: 768px) {
  /* line 66, ../../../src/css/scss/modules/related-products.scss */
  .grid5 .grid .related-products[class*="span"] {
    margin-left: 0;
  }
}
/* line 71, ../../../src/css/scss/modules/related-products.scss */
.gallery-item.plate .product-img:after {
  content: '';
}

@media (max-width: 480px) {
  /* line 77, ../../../src/css/scss/modules/related-products.scss */
  .related-products .gallery-item.small-size {
    min-height: 1px;
    margin-left: 20px;
    width: 204px;
    max-height: 225px;
  }
}
/* line 85, ../../../src/css/scss/modules/related-products.scss */
.grid5 .grid .related-products [class*="span"] {
  margin-left: 0;
}

/* line 89, ../../../src/css/scss/modules/related-products.scss */
.related-products {
  width: 100%;
  margin: 15px 0 0 0;
  padding: 0;
  position: relative;
  direction: ltr;
  overflow: hidden;
}
/* line 91, ../../../src/css/scss/modules/related-products.scss */
.related-products .color-swatches {
  display: none;
  visibility: hidden;
}
/* line 96, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item .product-img.teal-color {
  background-color: #45afc9;
}
/* line 100, ../../../src/css/scss/modules/related-products.scss */
.related-products .orange-color {
  background-color: #f0b938;
}
/* line 105, ../../../src/css/scss/modules/related-products.scss */
.related-products .row-fluid .gallery-item,
.related-products .grid .gallery-item {
  margin-left: 0;
}
/* line 109, ../../../src/css/scss/modules/related-products.scss */
.related-products .product-content {
  font-family: "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8125em;
  color: #2f353d;
}
/* line 115, ../../../src/css/scss/modules/related-products.scss */
.related-products .product-content .p5:not(.msrp) {
  display: block;
  color: #83838f;
}
/* line 121, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item {
  overflow: inherit;
}
/* line 125, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item .product-img {
  background: none;
}
/* line 129, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item .product-img:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: none;
}
/* line 136, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item.plate .text-promo-title {
  font-size: 1.5625em;
  max-width: 265px;
  top: 30px;
}
/* line 141, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item.plate .text-promo-title strong {
  font-family: "SST W01 Roman", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 480px) {
  /* line 136, ../../../src/css/scss/modules/related-products.scss */
  .related-products .gallery-item.plate .text-promo-title {
    font-size: 1.125em;
    top: 10px;
    left: 10px;
    max-width: none;
  }
}
/* line 153, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item.plate:after {
  padding-top: 61.690255%;
}
/* line 157, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item:after {
  content: '';
}
/* line 161, ../../../src/css/scss/modules/related-products.scss */
.related-products .product-img:after {
  content: '';
}
@media (max-width: 481px) {
  /* line 166, ../../../src/css/scss/modules/related-products.scss */
  .related-products .product-img:after {
    content: none;
  }
}
/* line 178, ../../../src/css/scss/modules/related-products.scss */
.related-products:after {
  content: '';
  margin-top: 49.761151%;
  display: block;
}
@media (max-width: 481px) {
  /* line 186, ../../../src/css/scss/modules/related-products.scss */
  .related-products:after {
    content: none;
  }
}
/* line 191, ../../../src/css/scss/modules/related-products.scss */
.related-products .small-size {
  width: 204px;
  height: 337px;
  display: block;
  float: left;
  margin-left: 20px;
}
/* line 198, ../../../src/css/scss/modules/related-products.scss */
.related-products .small-size .gallery-item-inner {
  height: 160px;
}
/* line 203, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item.plate strong {
  display: block;
}
/* line 207, ../../../src/css/scss/modules/related-products.scss */
.related-products .normal .product-img:after {
  padding-top: 84.980392%;
}
/* line 211, ../../../src/css/scss/modules/related-products.scss */
.related-products .medium:after {
  padding-top: 130.290023%;
}
@media (min-width: 481px) and (max-width: 980px) {
  /* line 211, ../../../src/css/scss/modules/related-products.scss */
  .related-products .medium:after {
    padding-top: 160.290023%;
  }
}
/* line 219, ../../../src/css/scss/modules/related-products.scss */
.related-products .medium .product-img:after {
  padding-top: 108.82761%;
}
@media (min-width: 481px) and (max-width: 768px) {
  /* line 219, ../../../src/css/scss/modules/related-products.scss */
  .related-products .medium .product-img:after {
    padding-top: 122.32761%;
  }
}
@media (min-width: 769px) and (max-width: 980px) {
  /* line 219, ../../../src/css/scss/modules/related-products.scss */
  .related-products .medium .product-img:after {
    padding-top: 121.32761%;
  }
}
@media (max-width: 481px) {
  /* line 231, ../../../src/css/scss/modules/related-products.scss */
  .related-products .medium .product-img:after .medium .product-img:after {
    padding-top: 75.980392156863%;
  }
}
@media (min-width: 481px) and (max-width: 980px) {
  /* line 239, ../../../src/css/scss/modules/related-products.scss */
  .related-products .rpGrid {
    padding: 0 40px 0 40px;
  }
  /* line 243, ../../../src/css/scss/modules/related-products.scss */
  .related-products .gallery-item:after {
    padding-top: 127.196078%;
  }
  /* line 248, ../../../src/css/scss/modules/related-products.scss */
  .related-products .gallery-item .gallery-item-inner,
  .related-products .product-img .product-img-wrap {
    position: absolute;
  }
  /* line 252, ../../../src/css/scss/modules/related-products.scss */
  .related-products .medium.gallery-item:after {
    padding-top: 141.196078%;
  }
  /* line 256, ../../../src/css/scss/modules/related-products.scss */
  .related-products .gallery-item.plate:after {
    padding-top: 76.19025%;
  }
}
@media (min-width: 481px) and (max-width: 979px) {
  /* line 89, ../../../src/css/scss/modules/related-products.scss */
  .related-products {
    padding-top: 76.19025%;
  }
}
/* line 266, ../../../src/css/scss/modules/related-products.scss */
.related-products .promo:after {
  padding-top: 54.524361948956%;
}
/* line 270, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item {
  background: none;
  margin-left: 0;
}
/* line 274, ../../../src/css/scss/modules/related-products.scss */
.related-products .gallery-item .product-img {
  background: #f3f4f6;
}
/* line 279, ../../../src/css/scss/modules/related-products.scss */
.related-products .rpBullets {
  position: absolute;
  z-index: 35;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  line-height: 18px;
  overflow: hidden;
  cursor: pointer;
  /* visibility: hidden; */
}
/* line 295, ../../../src/css/scss/modules/related-products.scss */
.related-products .rpBullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 10px 9px 10px 8px;
  cursor: pointer;
}
/* line 305, ../../../src/css/scss/modules/related-products.scss */
.related-products .rpBullet span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bcbccc;
}
/* line 313, ../../../src/css/scss/modules/related-products.scss */
.related-products .rpBullet.rpNavSelected span {
  background: #2f353d;
}
/* line 317, ../../../src/css/scss/modules/related-products.scss */
.related-products .rpOverflow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}
@media (max-width: 767px) {
  /* line 89, ../../../src/css/scss/modules/related-products.scss */
  .related-products {
    max-width: 980px;
    /* Both Must be set for JS to size proportiontely */
    min-height: 370px;
  }
}
/* line 337, ../../../src/css/scss/modules/related-products.scss */
.related-products .rpContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* line 344, ../../../src/css/scss/modules/related-products.scss */
.related-products .rpSlide {
  position: absolute;
  left: 0;
  top: -20px;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* Experimental for full bleed stuff */
  padding: 0 7.5% 0 7.5%;
  max-width: 1200px;
}
@media (min-width: 1201px) {
  /* line 344, ../../../src/css/scss/modules/related-products.scss */
  .related-products .rpSlide {
    padding: 0 90px 0 90px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* line 365, ../../../src/css/scss/modules/related-products.scss */
  .rpGrid {
    padding: 0;
  }
}
/* line 372, ../../../src/css/scss/modules/related-products.scss */
.rpNav .paddle {
  width: 50px;
  height: 88px;
  display: block;
  background: #909398;
  position: absolute;
  top: 25%;
  margin: -44px 0 0 0;
  cursor: pointer;
}
/* line 382, ../../../src/css/scss/modules/related-products.scss */
.rpNav .paddle.left {
  left: 6.5%;
  right: auto;
}
/* line 387, ../../../src/css/scss/modules/related-products.scss */
.rpNav .paddle.right {
  left: auto;
  right: 6.5%;
}
