/*  */
/* line 6, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel {
  position: relative;
  overflow: visible;
  margin: 30px 0 30px 0;
  /*
         _____ ____  ______     __________________  ___
        / ___// __ \/ ____/    /  _/_  __/ ____/  |/  /
        \__ \/ / / / /  ______ / /  / / / __/ / /|_/ /
       ___/ / /_/ / /__/_____// /  / / / /___/ /  / /
      /____/\____/\____/    /___/ /_/ /_____/_/  /_/

  */
  /*   .soc-grid [class*="span"] {
      margin-left: 2.06835%
    } */
}
/* line 14, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* line 21, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-container-inner {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* line 33, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-nav.soc-bullets {
  position: absolute;
  z-index: 35;
  left: 0;
  bottom: -30px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  line-height: 18px;
  overflow: hidden;
}
@media (max-width: 479px) {
  /* line 33, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-nav.soc-bullets {
    bottom: -20px;
  }
}
/* line 50, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-nav .soc-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 5px 0 0 6px;
  border-radius: 5px;
  background: #bdbccc;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
@media (max-width: 479px) {
  /* line 50, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-nav .soc-bullet {
    width: 7px;
    height: 7px;
    margin: 0 0 0 3px;
    border-radius: 4px;
  }
}
/* line 71, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-nav .soc-bullet.soc-nav-selected {
  background-color: #2e3339;
}
/* line 76, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-content {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
/* line 85, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-content .soc-button {
  width: 37.202381%;
  max-height: 69px;
  min-width: 185px;
  display: block;
  position: absolute;
  bottom: 6.8809%;
  left: 6.8809%;
}
/* line 94, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-content .soc-button:after {
  padding-top: 27.6%;
}
/* line 98, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-content .soc-button.dark {
  color: #fff;
  background-color: #272a31;
}
/* line 103, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-content .soc-button img {
  width: 43.6%;
  display: inline-block;
}
/* line 119, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item {
  position: relative;
  display: block;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
/* line 131, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item.content-8 .counter {
  position: absolute;
  left: 6.2%;
  bottom: 9%;
}
/* line 135, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item.content-8 .counter h3 {
  color: #bcbccc;
  text-transform: uppercase;
}
/* line 144, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content {
  position: absolute;
  /*
       ______            __             __     ______
      / ____/___  ____  / /____  ____  / /_   /_  __/_  ______  ___  _____
     / /   / __ \/ __ \/ __/ _ \/ __ \/ __/    / / / / / / __ \/ _ \/ ___/
    / /___/ /_/ / / / / /_/  __/ / / / /_     / / / /_/ / /_/ /  __(__  )
    \____/\____/_/ /_/\__/\___/_/ /_/\__/    /_/  \__, / .___/\___/____/
                                                 /____/_/
  */
  /*
      ______                    _____ __        ___
     /_  __/_  ______  ___     / ___// /___  __/ (_)___  ____ _
      / / / / / / __ \/ _ \    \__ \/ __/ / / / / / __ \/ __ `/
     / / / /_/ / /_/ /  __/   ___/ / /_/ /_/ / / / / / / /_/ /
    /_/  \__, / .___/\___/   /____/\__/\__, /_/_/_/ /_/\__, /
        /____/_/                      /____/          /____/
  */
  /*
      ______                    ___    ___                                  __
     /_  __/_  ______  ___     /   |  / (_)___ _____  ____ ___  ___  ____  / /_
      / / / / / / __ \/ _ \   / /| | / / / __ `/ __ \/ __ `__ \/ _ \/ __ \/ __/
     / / / /_/ / /_/ /  __/  / ___ |/ / / /_/ / / / / / / / / /  __/ / / / /_
    /_/  \__, / .___/\___/  /_/  |_/_/_/\__, /_/ /_/_/ /_/ /_/\___/_/ /_/\__/
        /____/_/                       /____/
  */
      /*
            ____
           / __ \_________  ____ ___  ____
          / /_/ / ___/ __ \/ __ `__ \/ __ \
         / ____/ /  / /_/ / / / / / / /_/ /
        /_/   /_/   \____/_/ /_/ /_/\____/

      */
}
/* line 153, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content .headline .emphasis {
  display: block;
}
/* line 171, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content .counter h3 {
  color: #bcbccc;
  text-transform: uppercase;
}
/* line 177, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content .icon-ui2-chevron-18-white-right {
  vertical-align: baseline;
  margin-left: 10px;
}
/* line 197, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.content-8 .headline h1,
.sony-one-carousel .soc-item .soc-item-content.content-8 .headline h2,
.sony-one-carousel .soc-item .soc-item-content.content-8 .headline h3,
.sony-one-carousel .soc-item .soc-item-content.content-8 .headline h4,
.sony-one-carousel .soc-item .soc-item-content.content-8 .headline h5,
.sony-one-carousel .soc-item .soc-item-content.content-8 .headline h6, .sony-one-carousel .soc-item .soc-item-content.content-6 .headline h1,
.sony-one-carousel .soc-item .soc-item-content.content-6 .headline h2,
.sony-one-carousel .soc-item .soc-item-content.content-6 .headline h3,
.sony-one-carousel .soc-item .soc-item-content.content-6 .headline h4,
.sony-one-carousel .soc-item .soc-item-content.content-6 .headline h5,
.sony-one-carousel .soc-item .soc-item-content.content-6 .headline h6, .sony-one-carousel .soc-item .soc-item-content.content-4 .headline h1,
.sony-one-carousel .soc-item .soc-item-content.content-4 .headline h2,
.sony-one-carousel .soc-item .soc-item-content.content-4 .headline h3,
.sony-one-carousel .soc-item .soc-item-content.content-4 .headline h4,
.sony-one-carousel .soc-item .soc-item-content.content-4 .headline h5,
.sony-one-carousel .soc-item .soc-item-content.content-4 .headline h6 {
  font-size: 2em;
}
/* line 206, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.content-8 .headline a, .sony-one-carousel .soc-item .soc-item-content.content-6 .headline a, .sony-one-carousel .soc-item .soc-item-content.content-4 .headline a {
  line-height: inherit;
}
/* line 209, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.content-8 .headline a:after, .sony-one-carousel .soc-item .soc-item-content.content-6 .headline a:after, .sony-one-carousel .soc-item .soc-item-content.content-4 .headline a:after {
  position: relative;
  top: -0.2em;
  left: 0.2em;
  font-size: 0.7em;
}
/* line 218, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.content-8 .eyebrow, .sony-one-carousel .soc-item .soc-item-content.content-6 .eyebrow, .sony-one-carousel .soc-item .soc-item-content.content-4 .eyebrow {
  font-family: "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.6875em;
  text-transform: uppercase;
}
@media (max-width: 48em) {
  /* line 226, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-item .soc-item-content.content-8 h1,
  .sony-one-carousel .soc-item .soc-item-content.content-8 h2,
  .sony-one-carousel .soc-item .soc-item-content.content-8 h3,
  .sony-one-carousel .soc-item .soc-item-content.content-8 h4,
  .sony-one-carousel .soc-item .soc-item-content.content-8 h5,
  .sony-one-carousel .soc-item .soc-item-content.content-8 h6, .sony-one-carousel .soc-item .soc-item-content.content-6 h1,
  .sony-one-carousel .soc-item .soc-item-content.content-6 h2,
  .sony-one-carousel .soc-item .soc-item-content.content-6 h3,
  .sony-one-carousel .soc-item .soc-item-content.content-6 h4,
  .sony-one-carousel .soc-item .soc-item-content.content-6 h5,
  .sony-one-carousel .soc-item .soc-item-content.content-6 h6, .sony-one-carousel .soc-item .soc-item-content.content-4 h1,
  .sony-one-carousel .soc-item .soc-item-content.content-4 h2,
  .sony-one-carousel .soc-item .soc-item-content.content-4 h3,
  .sony-one-carousel .soc-item .soc-item-content.content-4 h4,
  .sony-one-carousel .soc-item .soc-item-content.content-4 h5,
  .sony-one-carousel .soc-item .soc-item-content.content-4 h6 {
    font-size: 1.375em;
  }
}
/* line 251, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-only.content-6 .headline {
  margin-top: 0px;
}
/* line 257, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-only.content-4 .headline {
  margin-top: 0px;
}
/* line 267, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-counter.content-8 .headline {
  margin-top: 0;
}
/* line 270, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-counter.content-8 .counter {
  position: absolute;
  left: 0;
  bottom: 2%;
}
/* line 278, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-counter.content-4 .headline {
  margin-top: 0px;
}
/* line 287, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-counter.content-6 .headline {
  margin-top: 0px;
}
/* line 300, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-copy.content-8 .headline {
  margin-top: 0px;
}
/* line 309, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-copy.content-4 .headline {
  margin-top: 0px;
}
/* line 318, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-copy.content-6 .headline {
  margin-top: 0px;
}
/* line 330, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-copy-counter.content-8 .headline {
  margin-top: 0px;
}
/* line 334, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-copy-counter.content-8 .copy {
  margin-top: 0px;
}
/* line 342, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-copy-counter.content-4 .headline {
  margin-top: 0px;
}
/* line 346, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-copy-counter.content-4 .copy {
  margin-top: 0px;
}
/* line 350, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-copy-counter.content-4 .counter {
  margin-top: 0px;
}
/* line 356, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-copy-counter.content-6 .headline {
  margin-top: 0px;
}
/* line 360, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-copy-counter.content-6 .copy {
  margin-top: 0px;
}
/* line 364, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-copy-counter.content-6 .counter {
  margin-top: 0px;
}
/* line 374, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-eyebrow.content-8 .headline {
  margin: 0 0 0 0;
}
/* line 377, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-eyebrow.content-8 .eyebrow {
  margin-top: 9%;
  display: block;
}
/* line 384, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-eyebrow.content-4 .headline {
  margin-top: 0px;
}
/* line 387, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-eyebrow.content-4 .eyebrow {
  margin-top: 0%;
}
/* line 393, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-eyebrow.content-6 .headline {
  margin-top: 0px;
}
/* line 405, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-eyebrow-copy.content-8 .headline {
  margin-top: 0px;
}
/* line 409, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-eyebrow-copy.content-8 .eyebrow {
  margin-top: 0px;
}
/* line 413, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-eyebrow-copy.content-8 .copy {
  margin-top: 0px;
}
/* line 419, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-eyebrow-copy.content-4 .headline {
  margin-top: 0px;
}
/* line 423, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-eyebrow-copy.content-4 .eyebrow {
  margin-top: 0px;
}
/* line 427, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-eyebrow-copy.content-4 .copy {
  margin-top: 0px;
}
/* line 433, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-eyebrow-copy.content-6 .headline {
  margin-top: 0px;
}
/* line 437, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-eyebrow-copy.content-6 .eyebrow {
  margin-top: 0px;
}
/* line 441, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.headline-eyebrow-copy.content-6 .copy {
  margin-top: 0px;
}
/* line 456, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.light-text-dark-panel, .sony-one-carousel .soc-item .soc-item-content.dark-text-light-panel {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8% 12%;
}
/* line 463, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.light-text-dark-panel.headline-eyebrow, .sony-one-carousel .soc-item .soc-item-content.dark-text-light-panel.headline-eyebrow {
  padding-top: 6%;
}
/* line 468, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.dark-text-light-panel {
  background-color: #f3f4f6;
  background-color: rgba(243, 244, 246, 0.95);
}
/* line 472, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.dark-text-light-panel .headline {
  color: #83838f;
}
/* line 474, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.dark-text-light-panel .headline.a,
.sony-one-carousel .soc-item .soc-item-content.dark-text-light-panel .headline a {
  color: #212530;
}
/* line 480, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.dark-text-light-panel .eyebrow {
  color: #83838f;
}
/* line 486, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.light-text-dark-panel {
  background-color: #212530;
  background-color: rgba(33, 37, 48, 0.95);
}
/* line 490, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.light-text-dark-panel .headline {
  color: #bcbccc;
}
/* line 493, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.light-text-dark-panel .headline.a,
.sony-one-carousel .soc-item .soc-item-content.light-text-dark-panel .headline a {
  color: white;
}
/* line 499, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.light-text-dark-panel .eyebrow {
  color: #bcbccc;
}
/* line 506, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.light-text-trans-panel .headline {
  color: #bcbccc;
}
/* line 510, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.light-text-trans-panel a {
  color: white;
}
/* line 522, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.light-text-trans-panel .eyebrow {
  color: #bcbccc;
}
/* line 529, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.dark-text-trans-panel .headline {
  color: #83838f;
}
/* line 532, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.dark-text-trans-panel .headline a {
  color: black;
}
/* line 545, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.dark-text-trans-panel .eyebrow {
  color: #83838f;
}
/* line 551, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.black-white-text .headline {
  color: black;
}
/* line 554, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.black-white-text .headline a {
  color: white;
  display: block;
}
@media (min-width: 481px) and (max-width: 768px) {
  /* line 554, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-item .soc-item-content.black-white-text .headline a {
    display: inline;
  }
}
/* line 570, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.black-white-text .eyebrow {
  color: black;
}
/* line 585, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.align-left-top.content-8 {
  left: 6.2%;
  top: 11%;
  max-width: 400px;
  width: 400px;
}
/* line 592, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.align-left-top.content-6 {
  top: 5.8%;
  left: 8.6%;
  width: 18.75em;
}
@media (min-width: 30.0625em) and (max-width: 48em) {
  /* line 592, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-item .soc-item-content.align-left-top.content-6 {
    width: 13.75em;
  }
}
@media (max-width: 30em) {
  /* line 592, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-item .soc-item-content.align-left-top.content-6 {
    width: 14.0625em;
  }
}
/* line 608, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.align-left-top.content-4 {
  left: 13%;
  top: 10.2%;
  max-width: 15em;
  width: 73.8461538%;
}
/* line 617, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.align-left-center.content-8 {
  max-width: 25em;
  width: 52.2193211%;
  min-width: 18.4375em;
  top: 26.4%;
  left: 6.2%;
}
@media (min-width: 61.3125em) {
  /* line 617, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-item .soc-item-content.align-left-center.content-8 {
    min-width: 22.5625em;
  }
}
/* line 628, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.align-left-center.content-8.headline-counter {
  top: 39.4%;
}
@media (max-width: 30em) {
  /* line 628, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-item .soc-item-content.align-left-center.content-8.headline-counter {
    top: 31.4%;
  }
}
@media (max-width: 30em) {
  /* line 637, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-item .soc-item-content.align-left-center.content-8.headline-eyebrow {
    top: 22.4%;
  }
}
@media (min-width: 30.0625em) and (max-width: 48em) {
  /* line 617, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-item .soc-item-content.align-left-center.content-8 {
    max-width: 86.324841%;
    width: 86.324841%;
    min-width: 11.324841%;
  }
}
@media (max-width: 30em) {
  /* line 617, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-item .soc-item-content.align-left-center.content-8 {
    max-width: 86.324841%;
    width: 86.324841%;
    min-width: 11.324841%;
    top: 31.4%;
  }
  /* line 655, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-item .soc-item-content.align-left-center.content-8 h1,
  .sony-one-carousel .soc-item .soc-item-content.align-left-center.content-8 h2,
  .sony-one-carousel .soc-item .soc-item-content.align-left-center.content-8 h3,
  .sony-one-carousel .soc-item .soc-item-content.align-left-center.content-8 h4,
  .sony-one-carousel .soc-item .soc-item-content.align-left-center.content-8 h5,
  .sony-one-carousel .soc-item .soc-item-content.align-left-center.content-8 h6 {
    max-width: 75%;
  }
}
/* line 670, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.align-left-center.content-8.headline-only.content-8 {
  top: 33.3%;
}
/* line 677, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.align-left-center.content-8.headline-copy.content-8 .headline {
  margin-top: 3%;
}
/* line 685, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.align-left-bottom {
  top: auto;
}
/* line 688, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.align-left-bottom.content-8 {
  bottom: 8%;
  left: 6.2%;
  width: 25em;
}
/* line 694, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.align-left-bottom.content-6 {
  bottom: 5.8%;
  left: 8.6%;
  width: 18.75em;
}
@media (min-width: 30.0625em) and (max-width: 48em) {
  /* line 694, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-item .soc-item-content.align-left-bottom.content-6 {
    width: 13.75em;
  }
}
@media (max-width: 30em) {
  /* line 694, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-item .soc-item-content.align-left-bottom.content-6 {
    width: 14.0625em;
  }
}
/* line 712, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.align-right-top.content-8 {
  max-width: 270px;
  width: 270px;
  right: 6.4%;
  top: 11%;
}
/* line 720, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.align-right-center.content-8 {
  max-width: 270px;
  width: 270px;
  right: 6.4%;
  top: 26.4%;
}
/* line 728, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .soc-item-content.align-right-bottom.content-8 {
  max-width: 270px;
  width: 270px;
  right: 6.4%;
  top: 0%;
}
/* line 750, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item.darkLightText h2,
.sony-one-carousel .soc-item.darkLightText h3,
.sony-one-carousel .soc-item.darkLightText h4 {
  color: #2f353d;
  margin: 0 0 0 6.8809%;
  line-height: 38px;
}
/* line 757, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item.darkLightText h2 a,
.sony-one-carousel .soc-item.darkLightText h3 a,
.sony-one-carousel .soc-item.darkLightText h4 a {
  color: white;
  display: block;
}
@media (min-width: 769px) and (max-width: 981px) {
  /* line 764, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-item.darkLightText h4 {
    font-size: 1.375em;
  }
}
@media (max-width: 480px) {
  /* line 774, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-item.span12 {
    width: 276px;
    height: 317px;
  }
}
/* line 781, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  width: 100%;
  height: 43.0769231%;
}
/* line 793, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item.darkLightText footer {
  background-color: #2f353d;
}
/* line 801, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 809, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-item img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
/* line 816, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel .soc-grid {
  height: 100%;
  max-width: 1020px;
  /*   @media (min-width: 768px) and (max-width: 980px) {
        padding: 0 120px 0 120px;
    }

    @media (min-width: 481px) and (max-width: 768px) {
        padding: 0 30px 0 30px;
    } */
}
@media (min-width: 75.0625em) {
  /* line 816, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-grid {
    max-width: 1190px;
    width: 93.79189%;
  }
}
@media (max-width: 480px) {
  /* line 816, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-grid {
    padding: 0 40px 0 40px;
    padding: 0 10px 0 10px;
  }
  /* line 839, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-grid .span12 {
    width: 276px;
    height: 370px;
    *width: 277px;
    *height: 371px;
  }
  /* line 848, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .sony-one-carousel .soc-grid .soc-grid [class*="span"] {
    margin-left: 0;
  }
}

/*
      ____  ___    ____  ____  __    ______   _   _____ _    __
     / __ \/   |  / __ \/ __ \/ /   / ____/  / | / /   | |  / /
    / /_/ / /| | / / / / / / / /   / __/    /  |/ / /| | | / /
   / ____/ ___ |/ /_/ / /_/ / /___/ /___   / /|  / ___ | |/ /
  /_/   /_/  |_/_____/_____/_____/_____/  /_/ |_/_/  |_|___/
                                                                */
/* line 875, ../../../src/css/scss/modules/sony_one_carousel.scss */
.soc-nav .paddle {
  width: 50px;
  height: 86px;
  display: block;
  color: white;
  background: #212530;
  border-radius: 2px;
  opacity: 0.4;
  filter: alpha(opacity=40);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin: -100px 0;
  cursor: pointer;
  font-size: 1.4em;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* line 891, ../../../src/css/scss/modules/sony_one_carousel.scss */
.soc-nav .paddle:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
/* line 895, ../../../src/css/scss/modules/sony_one_carousel.scss */
.soc-nav .paddle i {
  width: 15px;
  height: 22px;
  margin-top: 33px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 61.1875em) {
  /* line 895, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .soc-nav .paddle i {
    margin-top: 28px;
  }
}
/* line 906, ../../../src/css/scss/modules/sony_one_carousel.scss */
.soc-nav .paddle.left {
  left: 10px;
  right: auto;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
/* line 917, ../../../src/css/scss/modules/sony_one_carousel.scss */
.soc-nav .paddle.right {
  left: auto;
  right: 10px;
}
@media (min-width: 30.0625em) and (max-width: 61.1875em) {
  /* line 875, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .soc-nav .paddle {
    margin: -100px 0;
    width: 40px;
    height: 70px;
    font-size: 1.0em;
  }
}
@media (max-width: 30em) {
  /* line 875, ../../../src/css/scss/modules/sony_one_carousel.scss */
  .soc-nav .paddle {
    display: none;
  }
}
