/* line 3, ../../../src/css/scss/modules/sonycarousel.scss */
#basic {
  width: 100%;
  max-height: 400px;
}

/* Sony Carousel Base CSS dont' change anything  */
/* line 9, ../../../src/css/scss/modules/sonycarousel.scss */
.sonyCarousel {
  width: 600px;
  height: 400px;
  position: relative;
  direction: ltr;
}

/* important to inlcude this on elements that have z-index as well, chrome had a bug */
/* line 25, ../../../src/css/scss/modules/sonycarousel.scss */
.scWebkit3d .scSlide,
.scWebkit3d .scContainer,
.scWebkit3d .scThumbs,
.scWebkit3d .scPreloader,
.scWebkit3d img,
.scWebkit3d p,
.scWebkit3d .scOverflow,
.scWebkit3d .scBtnCenterer,
.scWebkit3d .scAbsoluteEl {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

/* line 31, ../../../src/css/scss/modules/sonycarousel.scss */
.scFade.scWebkit3d .scSlide,
.scFade.scWebkit3d img,
.scFade.scWebkit3d .scContainer {
  -webkit-transform: none;
}

/* line 35, ../../../src/css/scss/modules/sonycarousel.scss */
.scSlide p {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  color: red;
  background: #000;
}

/* line 45, ../../../src/css/scss/modules/sonycarousel.scss */
.scOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 54, ../../../src/css/scss/modules/sonycarousel.scss */
.scContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 62, ../../../src/css/scss/modules/sonycarousel.scss */
.scArrow,
.scThumbsArrow {
  cursor: pointer;
}

/* line 66, ../../../src/css/scss/modules/sonycarousel.scss */
.scThumb {
  float: left;
  position: relative;
}

/* line 73, ../../../src/css/scss/modules/sonycarousel.scss */
.scArrow,
.scNav,
.scThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

/* line 80, ../../../src/css/scss/modules/sonycarousel.scss */
.scHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear;
}

/* line 90, ../../../src/css/scss/modules/sonycarousel.scss */
.scGCaption {
  width: 100%;
  float: left;
  text-align: center;
}

/* Fullscreen options, very important ^^ */
/* line 97, ../../../src/css/scss/modules/sonycarousel.scss */
.sonyCarousel.scFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}

/* line 110, ../../../src/css/scss/modules/sonycarousel.scss */
.sonyCarousel .scSlide.scFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  display: none;
}

/* line 119, ../../../src/css/scss/modules/sonycarousel.scss */
.scSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* line 131, ../../../src/css/scss/modules/sonycarousel.scss */
.sonyCarousel.scAutoHeight,
.scAutoHeight .scSlide {
  height: auto;
}

/* line 135, ../../../src/css/scss/modules/sonycarousel.scss */
.scContent {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 141, ../../../src/css/scss/modules/sonycarousel.scss */
.scPreloader {
  position: absolute;
  z-index: 0;
}

/* line 146, ../../../src/css/scss/modules/sonycarousel.scss */
.scNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 151, ../../../src/css/scss/modules/sonycarousel.scss */
.scNavItem {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
}

/* line 155, ../../../src/css/scss/modules/sonycarousel.scss */
.scThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22;
}

/* line 162, ../../../src/css/scss/modules/sonycarousel.scss */
.scTabs {
  float: left;
}

/* line 166, ../../../src/css/scss/modules/sonycarousel.scss */
.scTabs,
.scThumbs {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 172, ../../../src/css/scss/modules/sonycarousel.scss */
.scVideoContainer {
  /*left: 0;
  top: 0;
  position: absolute;*/
  /*width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative;
}

/* line 187, ../../../src/css/scss/modules/sonycarousel.scss */
.scVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s;
}

/* line 195, ../../../src/css/scss/modules/sonycarousel.scss */
.scVideoFrameHolder.scVideoActive {
  opacity: 1;
}

/* line 201, ../../../src/css/scss/modules/sonycarousel.scss */
.scVideoContainer iframe,
.scVideoContainer video,
.scVideoContainer embed,
.scVideoContainer .scVideoObj {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* ios controls over video bug, shifting video */
/* line 212, ../../../src/css/scss/modules/sonycarousel.scss */
.scVideoContainer.scIOSVideo iframe,
.scVideoContainer.scIOSVideo video,
.scVideoContainer.scIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px;
}

/* line 219, ../../../src/css/scss/modules/sonycarousel.scss */
.scABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15;
  -webkit-backface-visibility: hidden;
}

/* line 227, ../../../src/css/scss/modules/sonycarousel.scss */
.grab-cursor {
  cursor: url(grab.png) 8 8, move;
}

/* line 231, ../../../src/css/scss/modules/sonycarousel.scss */
.grabbing-cursor {
  cursor: url(grabbing.png) 8 8, move;
}

/* line 235, ../../../src/css/scss/modules/sonycarousel.scss */
.scNoDrag {
  cursor: auto;
}

/* line 239, ../../../src/css/scss/modules/sonycarousel.scss */
.scLink {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
  background: url(blank.gif);
  -webkit-backface-visibility: hidden;
}

/* END CAROUSEL BASE CSS*/
/* Default slider skin */
/* Background */
/* line 260, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scOverflow,
.scDefault .scSlide,
.scDefault .scVideoFrameHolder,
.scDefault .scThumbs {
  background: #151515;
}

/***************
*
*  1. Arrows
*
****************/
/* line 271, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scArrow {
  height: 100%;
  width: 44px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
}

/* line 279, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scVer .scArrow {
  width: 100%;
  height: 44px;
}

/* line 284, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scVer .scArrowLeft {
  top: 0;
  left: 0;
}

/* line 285, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scVer .scArrowRight {
  bottom: 0;
  left: 0;
}

/* line 287, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scHor .scArrowLeft {
  left: 0;
  top: 0;
}

/* line 288, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scHor .scArrowRight {
  right: 0;
  top: 0;
}

/* line 290, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scArrowIcn {
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  position: absolute;
  cursor: pointer;
  background: url("rs-default.png");
  background-color: rgba(0, 0, 0, 0.75);
  *background-color: #111;
  border-radius: 2px;
}

/* line 306, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scArrowIcn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 310, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scHor .scArrowLeft .scArrowIcn {
  background-position: -64px -32px;
}

/* line 311, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scHor .scArrowRight .scArrowIcn {
  background-position: -64px -64px;
}

/* line 313, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scVer .scArrowLeft .scArrowIcn {
  background-position: -96px -32px;
}

/* line 314, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scVer .scArrowRight .scArrowIcn {
  background-position: -96px -64px;
}

/* line 316, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scArrowDisabled .scArrowIcn {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: .4;
  *display: none;
}

/***************
*
*  2. Bullets
*
****************/
/* line 325, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scBullets {
  position: absolute;
  z-index: 35;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  line-height: 18px;
  overflow: hidden;
}

/* line 339, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scBullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 5px 1px;
  border-radius: 50%;
  background: #777;
  background: rgba(255, 255, 255, 0.5);
}

/* line 350, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scBullet.scNavSelected {
  background-color: #FFF;
}

/***************
*
*  3. Thumbnails
*
****************/
/* line 364, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scThumbsHor {
  padding-bottom: 4px;
  width: 100%;
  height: 72px;
}

/* line 369, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scThumbsVer {
  padding-right: 4px;
  width: 96px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 377, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scWithThumbsHor .scThumbsContainer {
  position: relative;
  height: 100%;
}

/* line 381, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scWithThumbsVer .scThumbsContainer {
  position: relative;
  width: 100%;
}

/* line 385, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scThumb {
  float: left;
  overflow: hidden;
  width: 96px;
  height: 72px;
}

/* line 391, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scThumb img {
  width: 100%;
  height: 100%;
}

/* line 395, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scThumb.scNavSelected {
  background: #02874a;
}

/* line 398, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scThumb.scNavSelected img {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

/* line 402, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scTmb {
  display: block;
}

/* Thumbnails arrow icons */
/* line 407, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scThumbsArrow {
  height: 100%;
  width: 20px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
}

/* line 417, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scThumbsArrow:hover {
  background: rgba(0, 0, 0, 0.9);
}

/* line 420, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scWithThumbsVer .scThumbsArrow {
  width: 100%;
  height: 20px;
}

/* line 424, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scWithThumbsVer .scThumbsArrowLeft {
  top: 0;
  left: 0;
}

/* line 425, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scWithThumbsVer .scThumbsArrowRight {
  bottom: 0;
  left: 0;
}

/* line 427, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scWithThumbsHor .scThumbsArrowLeft {
  left: 0;
  top: 0;
}

/* line 428, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scWithThumbsHor .scThumbsArrowRight {
  right: 0;
  top: 0;
}

/* line 430, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scThumbsArrowIcn {
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  position: absolute;
  cursor: pointer;
  background: url("rs-default.png");
}

/* line 442, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scWithThumbsHor .scThumbsArrowLeft .scThumbsArrowIcn {
  background-position: -128px -32px;
}

/* line 443, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scWithThumbsHor .scThumbsArrowRight .scThumbsArrowIcn {
  background-position: -128px -48px;
}

/* line 445, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scWithThumbsVer .scThumbsArrowLeft .scThumbsArrowIcn {
  background-position: -144px -32px;
}

/* line 446, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scWithThumbsVer .scThumbsArrowRight .scThumbsArrowIcn {
  background-position: -144px -48px;
}

/* line 448, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scThumbsArrowDisabled {
  display: none !important;
}

/* Thumbnails resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 800px) {
  /* line 452, ../../../src/css/scss/modules/sonycarousel.scss */
  .scDefault .scThumb {
    width: 59px;
    height: 44px;
  }

  /* line 456, ../../../src/css/scss/modules/sonycarousel.scss */
  .scDefault .scThumbsHor {
    height: 44px;
  }

  /* line 459, ../../../src/css/scss/modules/sonycarousel.scss */
  .scDefault .scThumbsVer {
    width: 59px;
  }
}
/***************
*
*  4. Tabs
*
****************/
/* line 473, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scTabs {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding-top: 12px;
  position: relative;
}

/* line 480, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scTab {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  height: auto;
  width: auto;
  color: #333;
  padding: 5px 13px 6px;
  min-width: 72px;
  border: 1px solid #D9D9DD;
  border-right: 1px solid #f5f5f5;
  text-decoration: none;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
  background-image: -moz-linear-gradient(top, #fefefe, #f4f4f4);
  background-image: linear-gradient(to bottom, #fefefe, #f4f4f4);
  -webkit-box-shadow: inset 1px 0 0 #fff;
  box-shadow: inset 1px 0 0 #fff;
  *display: inline;
  *zoom: 1;
}

/* line 504, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scTab:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 510, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scTab:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #cfcfcf;
}

/* line 518, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scTab:active {
  border: 1px solid #D9D9DD;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}

/* line 524, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scTab.scNavSelected {
  color: white;
  border: 1px solid #999;
  text-shadow: 1px 1px #838383;
  -webkit-box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset;
  box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset;
  background: #ACACAC;
  background-image: -webkit-linear-gradient(top, #acacac, #bbbbbb);
  background-image: -moz-llinear-gradient(top, #acacac, #bbbbbb);
  background-image: linear-gradient(to bottom, #acacac, #bbbbbb);
}

/***************
*
*  5. Fullscreen button
*
****************/
/* line 546, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scFullscreenBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 22;
  display: block;
  position: absolute;
  cursor: pointer;
}

/* line 557, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scFullscreenIcn {
  display: block;
  margin: 6px;
  width: 32px;
  height: 32px;
  background: url("rs-default.png") 0 0;
  background-color: rgba(0, 0, 0, 0.75);
  *background-color: #000;
  border-radius: 2px;
}

/* line 569, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scFullscreenIcn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 572, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault.scFullscreen .scFullscreenIcn {
  background-position: -32px 0;
}

/***************
*
*  6. Play/close video button
*
****************/
/* line 586, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scPlayBtn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  cursor: pointer;
}

/* line 594, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scPlayBtnIcon {
  width: 64px;
  display: block;
  height: 64px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: url(rs-default.png) no-repeat 0 -32px;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  *background-color: #000;
}

/* line 608, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scPlayBtn:hover .scPlayBtnIcon {
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 611, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scBtnCenterer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
}

/* line 618, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scCloseVideoBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 500;
  position: absolute;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

/* line 630, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scCloseVideoBtn.sciOSBtn {
  top: -38px;
  right: -6px;
  /*top: -6px;
  right: -38px;*/
}

/* line 637, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scCloseVideoIcn {
  margin: 6px;
  width: 32px;
  height: 32px;
  background: url("rs-default.png") -64px 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
}

/* line 645, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scCloseVideoIcn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/***************
*
*  7. Preloader
*
****************/
/* line 657, ../../../src/css/scss/modules/sonycarousel.scss */
.scDefault .scPreloader {
  width: 20px;
  height: 20px;
  background-image: url(../preloaders/preloader-white.gif);
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
}

/* END DEFAULT SKIN */
