/*  */
/* line 2, ../../../src/css/scss/modules/sony_one_carousel.scss */
.sony-one-carousel {
  position: relative;
}

/* line 5, ../../../src/css/scss/modules/sony_one_carousel.scss */
.ssContainer {
  /* background: #c74bba; */
  width: 100%;
  /* height: 400px; //just to see it*/
  overflow: hidden;
  position: relative;
}

/* line 13, ../../../src/css/scss/modules/sony_one_carousel.scss */
.ssContainer-inner {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 22, ../../../src/css/scss/modules/sony_one_carousel.scss */
.ssNav.ssBullets {
  position: absolute;
  z-index: 35;
  left: 0;
  bottom: -30px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  /*       background: #000;
        background: rgba(0, 0, 0, 0.75); */
  text-align: center;
  line-height: 18px;
  overflow: hidden;
  /*  visibility: hidden; */
}
/* line 39, ../../../src/css/scss/modules/sony_one_carousel.scss */
.ssNav .ssBullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 5px 0 0 5px;
  border-radius: 50%;
  background: #bdbccc;
  cursor: pointer;
}
/* line 51, ../../../src/css/scss/modules/sony_one_carousel.scss */
.ssNav .ssBullet.ssNavSelected {
  background-color: #2e3339;
}

/* line 58, ../../../src/css/scss/modules/sony_one_carousel.scss */
.ssContent {
  /* background: #d1ed17; */
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 68, ../../../src/css/scss/modules/sony_one_carousel.scss */
.span1 {
  background: black;
}

/* line 73, ../../../src/css/scss/modules/sony_one_carousel.scss */
.span3 {
  background: #ed179f;
}

/* line 78, ../../../src/css/scss/modules/sony_one_carousel.scss */
.span2 {
  background: #348ce6;
}

/* line 83, ../../../src/css/scss/modules/sony_one_carousel.scss */
.span5 {
  background: #2cee23;
}

/* line 88, ../../../src/css/scss/modules/sony_one_carousel.scss */
.grid {
  max-width: 1400px;
}

/* line 92, ../../../src/css/scss/modules/sony_one_carousel.scss */
.ss-item {
  position: relative;
  display: block;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

/* 
  .ss-item:after {
    content: '';
    display: block;
    padding-top: 42.488888888889%;
  } */
/* line 106, ../../../src/css/scss/modules/sony_one_carousel.scss */
.ss-item-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 114, ../../../src/css/scss/modules/sony_one_carousel.scss */
.ss-item img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

/* line 121, ../../../src/css/scss/modules/sony_one_carousel.scss */
.ss-grid {
  padding: 0 120px 0 120px;
  height: 100%;
}

/*ratio 
 42.488888888889%;
*/
/* line 128, ../../../src/css/scss/modules/sony_one_carousel.scss */
.ss-grid [class*="span"] {
  margin-left: 2.06835%;
}
