/* 15px/16px */
/* 13px/16px */
/* 14px/16px */
/* line 5, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec {
  color: black;
}
/* line 9, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec a.btn {
  margin-bottom: 10px;
  padding: 5px 20px;
  width: 80px !important;
}
/* line 10, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .emphasis-info {
  padding: 5px;
  font-size: 1.75em;
  width: auto;
  border: 3px solid #83838f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}
/* line 11, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .spec-title {
  margin-bottom: 35px;
}
/* line 12, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .spec-title > h1 {
  font-size: 1.625em;
  margin-top: 0 !important;
}
/* line 14, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .spec-title .title-link {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.625em;
}
/* line 16, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .spec-title .clearfix p {
  float: left;
  margin-right: 10px;
  font-size: 0.875em;
}
/* line 20, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .gallery-tabs .tabs {
  height: auto !important;
}
/* line 24, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec > section {
  margin-bottom: 20px;
}
/* line 27, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec > section > h2 {
  font-size: 1.125em;
  margin-bottom: 20px;
}
/* line 28, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec > section > h2.h2-bigger {
  font-size: 1.625em;
  margin: 30px 0;
}
/* line 32, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec > section .row-fluid > div > h2 {
  font-size: 1.125em;
  margin-bottom: 20px;
}
/* line 33, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec > section .row-fluid > div > h3 {
  font-weight: normal;
  font-size: 0.75em;
}
/* line 36, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec > section .row-fluid {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 41, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec > section .row-fluid h2 {
  margin-bottom: 20px;
}
/* line 43, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec > section .row-fluid ul {
  margin-bottom: 0;
}
/* line 45, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec > section .row-fluid ul li {
  margin: 5px 0;
}
/* line 50, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec ul {
  margin-left: 0;
}
/* line 51, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec ul li {
  font-size: 0.75em;
}
/* line 53, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .label {
  font-weight: bold;
}
/* line 56, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .row-fluid.no-border {
  margin-bottom: 30px !important;
  border-bottom: none !important;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 58, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .row-fluid.no-border h3 {
  font-size: 1.125em;
  margin-bottom: 15px;
}
/* line 62, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .row-fluid.no-border p {
  font-size: 0.75em;
}
/* line 69, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .smallTable .thead .cell, .container-fluid.module-spec .specsTable .thead .cell {
  text-align: left;
}
/* line 76, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .smallTable {
  display: table;
  font-family: Arial, Helvetica, sans-serif;
}
/* line 80, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .smallTable .row {
  display: table-row;
}
/* line 81, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .smallTable .cell {
  display: table-cell;
  padding-right: 10px;
}
/* line 85, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .smallTable .cell h3 {
  font-size: 0.75em;
  font-weight: normal;
}
/* line 86, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .smallTable .cell p {
  font-size: 0.75em;
}
/* line 88, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .smallTable .tbody {
  display: table-row-group;
}
/* line 90, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .smallTable ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}
/* line 98, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable {
  display: table;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875em;
}
/* line 104, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable .smallTable p {
  font-size: 0.86667em;
}
/* line 105, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable .smallTable p span {
  font-size: 1em;
}
/* line 109, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable > .thead {
  display: table-header-group;
}
/* line 111, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable > .thead > .row {
  display: table-row;
}
/* line 113, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable > .thead h2 {
  font-size: 1.125em;
  color: black;
  font-weight: bold;
  margin-bottom: 1em;
}
/* line 121, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable > .tbody > .row {
  display: table-row;
}
/* line 123, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable > .tbody > .row > .cell {
  padding-bottom: 10px;
}
/* line 125, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable > .tbody > .row > .cell p {
  font-size: 0.86667em;
}
/* line 126, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable > .tbody > .row > .cell p span {
  font-size: 1em;
}
/* line 130, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable > .tbody > .row:last-child .cell {
  border-bottom: none !important;
}
/* line 135, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable .cell:first-child {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  color: black;
}
/* line 142, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable .cell {
  display: table-cell;
  padding-right: 10px;
}
/* line 147, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable .tbody {
  display: table-row-group;
}
/* line 148, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable .tbody .cell h2 {
  font-size: 0.875em;
  color: black;
  font-weight: bold;
  margin-bottom: 1em;
  display: none;
}
/* line 157, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable span {
  color: #83838f;
  font-size: 0.75em;
}
/* line 160, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable span.color {
  display: block;
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 5px;
}
/* line 166, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable span.color.white {
  background: #fff;
}
/* line 169, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable span.color.grey {
  background: #ccc;
}
/* line 172, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable span.color.darkGrey {
  background: #666;
}
/* line 175, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable span.color.black {
  background: black;
}
/* line 180, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .specsTable ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}
/* line 188, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .desktopNav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
/* line 195, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .desktopNav .next {
  position: absolute;
  right: 10px;
  overflow: hidden;
}
/* line 201, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .desktopNav .prev {
  position: absolute;
  left: 10px;
  overflow: hidden;
}
/* line 210, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .tableContainer {
  background: #fff;
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* line 218, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .tableContainer.scHor {
  width: 100%;
}
/* line 220, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .tableContainer.scHor h2 {
  font-size: 18px !important;
  color: black;
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid #eee;
}
/* line 221, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .tableContainer.scHor h2:first-child {
  border-top: none;
  margin-top: 0;
}
/* line 222, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .tableContainer.scHor p {
  font-size: 14px !important;
  font-weight: normal;
}
/* line 223, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .tableContainer.scHor span {
  font-size: 0.93333em !important;
  line-height: 1.5em;
  display: block;
}
/* line 228, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .tableContainer.scHor .tbody .row .cell {
  border: none !important;
}
/* line 230, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .tableContainer.scHor .tbody .row .cell p {
  margin: 0;
}
/* line 234, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .tableContainer.scHor .scSlide {
  height: auto !important;
}
/* line 236, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .tableContainer.scHor .scSlide p {
  position: relative;
  top: 0;
  left: 0;
  background: none;
  max-width: 100%;
  height: auto;
  padding: 0;
  color: black;
}
/* line 250, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .tabs-container {
  display: none;
}
/* line 255, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .gallery-tabs.tab-strip {
  background: none;
}
/* line 257, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .gallery-tabs.tab-strip .tabs-container {
  background: #E4E7EB;
}
/* line 263, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .gallery-tabs .tab {
  width: auto !important;
  height: auto !important;
  padding: 20px !important;
}
/* line 265, ../../../src/css/scss/modules/specAndDetails.scss */
.container-fluid.module-spec .gallery-tabs .tab h2 {
  font-size: 1.25em !important;
}
@media all and (max-width: 500px) {
  /* line 272, ../../../src/css/scss/modules/specAndDetails.scss */
  .container-fluid.module-spec .desktopNav {
    display: none;
  }
  /* line 274, ../../../src/css/scss/modules/specAndDetails.scss */
  .container-fluid.module-spec .tabs-container {
    display: block;
    margin-bottom: 20px;
  }
  /* line 281, ../../../src/css/scss/modules/specAndDetails.scss */
  .container-fluid.module-spec .tableContainer .specsTable > .thead > .row > .cell:first-child,
  .container-fluid.module-spec .tableContainer .specsTable > .tbody > .row > .cell:first-child {
    display: none;
  }
  /* line 285, ../../../src/css/scss/modules/specAndDetails.scss */
  .container-fluid.module-spec .tableContainer .specsTable > .tbody > .row > .cell h2 {
    display: block;
  }
  /* line 288, ../../../src/css/scss/modules/specAndDetails.scss */
  .container-fluid.module-spec .tableContainer .specsTable > .thead > .row:first-child {
    display: none;
  }
}

  /*
  

    
    // Mobile tabs
    .table-mobile-tabs {
      margin: 0 !important;
      li:first-child{display:none;}
      li {
        float: left;
        display: block;
        cursor: pointer;
        padding: 10px;
        background: #ccc;
        color:#000;
        &:hover {
          background: #c0c0c0;
        }
      }
    }

    > .specsTable{
      float:left;
    }
  }
  
  

  
  // OVERRIDE - for each smallTable
  .table.smallTable{
    .row{
      .cell{
        padding:0 10px 0 0;
        h3{color:$black; font-size:$font_13_15 !important;}
        p{color:#555; font-size:$font_13_15 !important;}
      }
    }
  }
  
  // General End




  // Big Tables Colors and skins
  .table.specsTable
  {
  	background: #F7F7F7;
  	color: $black;
  	
  	p{font-size:$font_13_15 !important;}
  	span{
  	  font-size:$font_15_15 !important;
  	  line-height:1.5em;
  	  display:block;
    }
  	
  	.cell
  	{
  		padding: 10px 20px;
  		// Defines a table cell
  		border-bottom: 1px solid #eee;
  		border-right: 1px solid #eee;
  		&:last-child {
  			border-right: none !important;
  		}
  		&:hover {
  			background: #f9f9f9;
  		}
  	}
  	
  	.thead {
  	  .row{
    		.cell {
    			color: $black;
    			border-bottom: 2px solid #eee !important;
    			border-left:none !important;
    			border-right:none !important;
    		}
    	}
  	}
  	
  	.tbody{
  	  .row{
        .table
        {
          .cell:first-child{
            font-weight:normal;
            padding-right:8px;
            width:20%;
          }
          .cell{
            p{margin:0; font-size:$font_15_15 !important;
            span{font-size:$font_15_15 !important;}
            }
            padding:0;
            border:none !important;
          }
        }
  	  }
  	}
  }
  
  // OVERRIDE
  .sonyCarousel{
    width:100%;
    h2{font-size:18px !important; color:$black; padding:20px 0; margin-top:20px; border-top:1px solid #eee;}
    h2:first-child{border-top:none; margin-top:0;}
    p{font-size:14px !important; font-weight:normal;}
    span{
      font-size:$font_14_15 !important;
      line-height:1.5em;
      display:block;
    }
    .tbody .row .cell{
      padding:0 !important;
      border:none !important;
      p{margin:0;}
    }
  }
  .sonyCarousel .scSlide
  {
    height:auto !important;
    p{
      position:relative;
      top:0;
      left:0;
      background:none;
      max-width:100%;
      height:auto;
      padding:0;
      color:$black;
    }
  }
  
  .tableContainer.desktopNav{
    .scSlide{height:auto !important;}
    .scOverflow{height:2100px !important;}
    p{
      position:relative;
      top:0;
      left:0;
      background:none;
      max-width:100%;
      height:auto;
      padding:0;
      color:$black;
    }
  }
  
  
  div.table.smallTable{
    p{margin:0;}
  }
  
  



  
  
  
  
  
  // MEDIA QUERIES (640px AND BELOW)
  @media all and (max-width: 640px) {
  	
  	.table.smallTable{
  		.row{display:block;}
  		.cell{display:block;}
  	}
  	
  	//BIG TABLES *TABLE STYLE* - (DESKTOP ONLY)
    .table.specsTable {
      width: 100%;
      .row .cell:first-child {
        display: none;
      }
      
      .tbody .cell {
        h2 {
          display: block;
          font-size:$font_18_15;
        }
        display: none;
      }
      .thead .cell {
        display: none;
      }
      
      .cell.show {
        display: block;
      }
      
      .tbody .tbody .cell{display:block !important;}
    }
    
    //BIG TABLES *CAROUSEL* - (MOBILE ONLY)
    .sonyCarousel{
      .tbody .row .cell{
        display:block !important;
      }
    }
  }

  // MEDIA QUERIES (640px TO 767px)
  @media all and (min-width: 640px) and (max-width: 767px) {
    .row-fluid{
      >div{
        >.table.smallTable{
          >.tbody{
            >.row{
              >.cell
              {
                width:50% !important;
              }
            }
          }
        }
      }
    }
  }

*/
