/* line 5, ../../../src/css/scss/modules/spec-details.scss */
.sony-recommends {
  background: url("../../img/spec/ico/sonyRecommend.jpg") right center no-repeat;
}

/* line 11, ../../../src/css/scss/modules/spec-details.scss */
.spec-title-wrap {
  margin-bottom: 0;
}

/* line 16, ../../../src/css/scss/modules/spec-details.scss */
.spec-title-link {
  margin: 0;
}

/* line 20, ../../../src/css/scss/modules/spec-details.scss */
.spec-title {
  margin-top: 0;
}

/* line 24, ../../../src/css/scss/modules/spec-details.scss */
.spec-views {
  margin-bottom: 0;
}
/* line 27, ../../../src/css/scss/modules/spec-details.scss */
.spec-views li {
  margin: 0;
}
/* line 31, ../../../src/css/scss/modules/spec-details.scss */
.spec-views .active {
  padding-bottom: .625em;
  border-bottom: 4px solid #049cdb;
}
/* line 36, ../../../src/css/scss/modules/spec-details.scss */
.spec-views a {
  color: #2f353d;
}

/* line 43, ../../../src/css/scss/modules/spec-details.scss */
ul.spec-views li {
  padding-right: .625em;
  padding-left: .625em;
}

/* line 57, ../../../src/css/scss/modules/spec-details.scss */
.spec-items-wrap {
  margin-left: 140px;
}

/* line 64, ../../../src/css/scss/modules/spec-details.scss */
.spec-item {
  position: relative;
  margin: 0;
  border-right: 1px solid #e4e7eb;
}
/* line 70, ../../../src/css/scss/modules/spec-details.scss */
.spec-item.off-screen {
  position: absolute;
}
/* line 74, ../../../src/css/scss/modules/spec-details.scss */
.spec-item .product-name {
  margin: 0;
}
/* line 78, ../../../src/css/scss/modules/spec-details.scss */
.spec-item .product-subname {
  font-size: 1.125em;
}

/* line 82, ../../../src/css/scss/modules/spec-details.scss */
.spec-items-container .spec-item {
  margin: 0;
  width: 220px;
}

/* line 87, ../../../src/css/scss/modules/spec-details.scss */
.spec-column-header {
  height: 85px;
  width: 100%;
}

/* line 92, ../../../src/css/scss/modules/spec-details.scss */
.spec-item-cell {
  position: relative;
  padding: 1.125em 1em 3.75em;
}
/* line 96, ../../../src/css/scss/modules/spec-details.scss */
.spec-item-cell .btm-aligned {
  position: absolute;
  bottom: 3.75em;
}
/* line 101, ../../../src/css/scss/modules/spec-details.scss */
.spec-item-cell .before-btm-aligned {
  margin-bottom: 6em;
}
/* line 107, ../../../src/css/scss/modules/spec-details.scss */
.spec-item-cell .dl-img {
  height: 135px;
}
/* line 111, ../../../src/css/scss/modules/spec-details.scss */
.spec-item-cell .dl-img img {
  max-height: 100%;
}
/* line 116, ../../../src/css/scss/modules/spec-details.scss */
.spec-item-cell .dl-horizontal dt {
  text-align: left;
  width: 55px;
}
/* line 120, ../../../src/css/scss/modules/spec-details.scss */
.spec-item-cell .dl-horizontal dd {
  margin-left: 70px;
}
/* line 124, ../../../src/css/scss/modules/spec-details.scss */
.spec-item-cell .spec-list li {
  margin: 1.25em 0;
}

/* line 129, ../../../src/css/scss/modules/spec-details.scss */
.spec-products {
  position: relative;
}
/* line 132, ../../../src/css/scss/modules/spec-details.scss */
.spec-products:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  background: #f1f5f9;
}
/* line 142, ../../../src/css/scss/modules/spec-details.scss */
.spec-products .detail-labels-wrap {
  width: 140px;
  border-right: 1px solid #e4e7eb;
}
/* line 147, ../../../src/css/scss/modules/spec-details.scss */
.spec-products .product-count-wrap,
.spec-products .detail-label-group {
  width: 100%;
}
/* line 152, ../../../src/css/scss/modules/spec-details.scss */
.spec-products .product-count-wrap {
  background: #f1f5f9;
}
/* line 156, ../../../src/css/scss/modules/spec-details.scss */
.spec-products .detail-label-group {
  position: relative;
}
/* line 160, ../../../src/css/scss/modules/spec-details.scss */
.spec-products .product-count-wrap {
  height: 85px;
  padding-top: 0;
  margin-bottom: 0;
}
/* line 167, ../../../src/css/scss/modules/spec-details.scss */
.spec-products .detail-labels-wrap:before {
  content: none;
}
/* line 171, ../../../src/css/scss/modules/spec-details.scss */
.spec-products .detail-label-group:before {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  height: 100%;
  width: 2000px;
  right: 0;
  top: 0;
  background-color: white;
  -webkit-transition: box-shadow 0.15s ease-in;
  transition: box-shadow 0.15s ease-in;
}
/* line 184, ../../../src/css/scss/modules/spec-details.scss */
.spec-products .product-count-wrap:after {
  content: '';
  z-index: -1;
  left: auto;
  right: 0;
  height: 100%;
  width: 2000px;
  background: #f1f5f9;
}
/* line 194, ../../../src/css/scss/modules/spec-details.scss */
.spec-products .detail-label {
  padding: 1.125em 1em 0 0;
}

/* line 200, ../../../src/css/scss/modules/spec-details.scss */
.spec-item-cell,
.spec-products .detail-label {
  border-bottom: 1px solid #e4e7eb;
}

/* line 207, ../../../src/css/scss/modules/spec-details.scss */
.spec-module .sticky-tabs,
.spec-module .tab {
  height: 50px;
}
/* line 212, ../../../src/css/scss/modules/spec-details.scss */
.spec-module .tab {
  padding-left: 0.625em;
}

@media (max-width: 567px) {
  /* line 221, ../../../src/css/scss/modules/spec-details.scss */
  .spec-products:before {
    height: 1px;
  }

  /* line 225, ../../../src/css/scss/modules/spec-details.scss */
  .spec-items-container .spec-item {
    width: auto;
  }

  /* line 229, ../../../src/css/scss/modules/spec-details.scss */
  .spec-items-wrap {
    margin-left: 0;
  }

  /* line 233, ../../../src/css/scss/modules/spec-details.scss */
  .spec-item {
    border-right: 0;
  }
}
/* line 242, ../../../src/css/scss/modules/spec-details.scss */
.spec-tiles .spec-tile {
  margin-left: 0;
}

/* line 246, ../../../src/css/scss/modules/spec-details.scss */
.spec-tile {
  margin-top: 1.25em;
  background: #f1f5f9;
}
/* line 250, ../../../src/css/scss/modules/spec-details.scss */
.spec-tile .tile-content {
  padding: 1.25em;
}
