/* line 93, ../../../src/css/scss/_base/_mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 79, ../../../src/css/scss/_base/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 87, ../../../src/css/scss/_base/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 26, ../../../src/css/scss/modules/spec-z1-z2.scss */
.iq-wrap {
  position: relative;
  overflow: hidden;
}
/* line 30, ../../../src/css/scss/modules/spec-z1-z2.scss */
.iq-wrap:after {
  content: '';
  display: block;
  padding-top: 60.1851852%;
}
/* line 36, ../../../src/css/scss/modules/spec-z1-z2.scss */
.iq-wrap .iq-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 45, ../../../src/css/scss/modules/spec-z1-z2.scss */
.nav-paddle {
  border: none;
  background: #d2d2db;
  border-radius: .1875em;
  width: 2em;
  height: 2.875em;
  padding: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 54, ../../../src/css/scss/modules/spec-z1-z2.scss */
.nav-paddle:hover, .nav-paddle:focus {
  background: #f25529;
  outline: none;
}
/* line 60, ../../../src/css/scss/modules/spec-z1-z2.scss */
.nav-paddle i {
  vertical-align: middle;
}

/* line 69, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-single,
.spec-multi {
  margin-top: 4.375em;
}

/* line 75, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-title-wrap {
  margin-bottom: 0;
}

/* line 79, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-title {
  margin-top: 0;
}

/* line 84, ../../../src/css/scss/modules/spec-z1-z2.scss */
ul.spec-views {
  margin-left: -0.375em;
  margin-bottom: 0;
}
/* line 88, ../../../src/css/scss/modules/spec-z1-z2.scss */
ul.spec-views li {
  padding-right: .375em;
  padding-left: .375em;
  margin: 0;
}
/* line 94, ../../../src/css/scss/modules/spec-z1-z2.scss */
ul.spec-views .active {
  padding-bottom: .625em;
  border-bottom: 0.25em solid #5787f4;
}
/* line 99, ../../../src/css/scss/modules/spec-z1-z2.scss */
ul.spec-views a {
  color: #2f353d;
}

@media (max-width: 35.4375em) {
  /* line 108, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-single,
  .spec-multi {
    margin-top: 2.8125em;
  }

  /* line 113, ../../../src/css/scss/modules/spec-z1-z2.scss */
  ul.spec-views {
    margin-left: -0.25em;
  }
  /* line 116, ../../../src/css/scss/modules/spec-z1-z2.scss */
  ul.spec-views li {
    padding-right: .25em;
    padding-left: .25em;
  }
  /* line 121, ../../../src/css/scss/modules/spec-z1-z2.scss */
  ul.spec-views .active {
    padding-bottom: .5em;
    border-bottom-width: .1875em;
  }
}
/* line 140, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-tabs {
  display: none;
}

/* line 147, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-items-wrap {
  margin-left: 8.75em;
}

/* line 153, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-nav-wrap {
  z-index: 10;
}

/* line 157, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-nav {
  position: absolute;
  z-index: 20;
  top: 1.21875em;
}

/* line 163, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-nav-prev {
  left: 0;
}

/* line 167, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-nav-next {
  right: 0;
}

/* line 174, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-item {
  position: relative;
  margin: 0;
  border-right: 0.0625em solid #e4e7eb;
}
/* line 180, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-item.off-screen {
  position: absolute;
}
/* line 184, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-item .product-name {
  margin: 0;
}
/* line 188, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-item .product-subname {
  font-size: 1.125em;
}
/* line 192, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-item .cell-label {
  display: none;
}

/* line 196, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-items-container .spec-item {
  margin: 0;
  width: 13.75em;
}

/* line 201, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-column-header {
  height: 5.3125em;
  width: 100%;
  padding: 0 1em;
}

/* line 207, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-list li {
  margin: 1.25em 0;
}

/* line 212, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-item-cell {
  position: relative;
  padding: 1.125em 1em 3.75em;
}
/* line 216, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-item-cell .btm-aligned {
  position: absolute;
  bottom: 3.75em;
}
/* line 221, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-item-cell .before-btm-aligned {
  margin-bottom: 6em;
}
/* line 227, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-item-cell .dl-img {
  height: 8.4375em;
}
/* line 231, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-item-cell .dl-img img {
  max-height: 100%;
}
/* line 236, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-item-cell .dl-horizontal dt {
  text-align: left;
  width: 4.583333333em;
}
/* line 241, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-item-cell .dl-horizontal dd {
  margin-left: 5.384615385em;
}
/* line 246, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-item-cell .enlarge {
  margin: 2.5em 0 .625em;
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
}
/* line 253, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-item-cell .enlarge i {
  vertical-align: middle;
}

/* line 259, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-products {
  position: relative;
}
/* line 262, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-products:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.3125em;
  background: #f1f5f9;
}
/* line 272, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-products .detail-labels-wrap {
  width: 8.75em;
  border-right: 0.0625em solid #e4e7eb;
}
/* line 277, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-products .product-count-wrap,
.spec-products .detail-label-group {
  width: 100%;
}
/* line 282, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-products .product-count-wrap {
  background: #f1f5f9;
}
/* line 286, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-products .detail-label-group {
  position: relative;
}
/* line 290, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-products .product-count-wrap {
  height: 5.3125em;
  padding-top: 0;
  margin-bottom: 0;
}
/* line 297, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-products .detail-labels-wrap:before {
  content: none;
}
/* line 301, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-products .detail-label-group:before {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  height: 100%;
  width: 2000px;
  right: 0;
  top: 0;
  background-color: white;
  -webkit-transition: box-shadow 0.15s ease-in;
  transition: box-shadow 0.15s ease-in;
}
/* line 314, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-products .product-count-wrap:after {
  content: '';
  z-index: -1;
  left: auto;
  right: 0;
  height: 100%;
  width: 2000px;
  background: #f1f5f9;
}
/* line 324, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-products .detail-label {
  padding: 1.125em 1em 0 0;
}
/* line 329, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-products .compare-sticky-header {
  top: -2em;
  width: inherit;
  padding: 1em;
  height: 5.3125em;
  background: #f1f5f9;
}
/* line 336, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-products .compare-sticky-header.open {
  top: 0;
}
/* line 342, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-products .sticky-count {
  padding: 0;
}
/* line 345, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-products .sticky-count:before {
  background: #f1f5f9;
  right: 0;
}

/* line 353, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-item-cell,
.spec-products .detail-label {
  border-bottom: 0.0625em solid #e4e7eb;
}

/* line 360, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-modal {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}
/* line 366, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-modal .box-close i {
  vertical-align: middle;
}

/* line 373, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-multi .sony-recommends {
  margin-bottom: -4.375em;
}
/* line 377, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-multi .win8-logo {
  margin-left: .875em;
  vertical-align: middle;
}
/* line 382, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-multi .sticky-tabs,
.spec-multi .tab {
  height: 3.125em;
}
/* line 387, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-multi .tab {
  padding-left: 0.625em;
}

@media (max-width: 35.4375em) {
  /* line 398, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-multi .sony-recommends {
    margin-top: .75em;
    margin-bottom: 0;
  }
  /* line 403, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-multi .win8-logo {
    width: 18px;
  }

  /* line 408, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-tabs {
    display: block;
  }

  /* line 413, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-nav,
  .spec-column-header,
  .spec-products .detail-labels-wrap {
    display: none;
  }

  /* line 419, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-products:before {
    height: .0625em;
  }

  /* line 423, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-products .compare-sticky-header {
    width: 100%;
  }

  /* line 427, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-items-container .spec-item {
    width: auto;
  }

  /* line 431, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-items-wrap {
    margin-left: 0;
  }

  /* line 435, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-item-cell {
    padding-right: 0;
    padding-left: 0;
  }

  /* line 440, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-item {
    border-right: 0;
  }
  /* line 443, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-item .cell-label {
    display: block;
  }
  /* line 447, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-item .dl-horizontal dt {
    width: auto;
  }
  /* line 450, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-item .dl-horizontal dd {
    margin-left: 0;
  }
}
/* line 473, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-sticky-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: -999em;
  width: 100%;
  background: white;
  opacity: 0;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
  -webkit-transition: opacity 0.2s ease-in, left 0s 0.2s;
  transition: opacity 0.2s ease-in, left 0s 0.2s;
}
/* line 485, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-sticky-nav.open {
  left: 0;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 495, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-section {
  margin-top: 2.5em;
  padding-bottom: 3.75em;
  border-bottom: 1px solid #e4e7eb;
}

/* line 501, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-overview {
  background: #f1f5f9;
  margin-top: 0;
  padding: 3.125em 0;
  border-bottom: none;
}
/* line 508, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-overview dl {
  margin-top: 23px;
}

/* line 515, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-section.align-right-bottom {
  padding-bottom: 0;
}
/* line 519, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-section .section-label {
  margin-top: -0.125em;
}
/* line 523, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-section dt:not(:first-child) {
  margin-top: 30px;
}
/* line 527, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-section dd {
  margin-left: 0;
}
/* line 531, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-section .spec-list li:first-child {
  margin-top: 0;
}
/* line 535, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-section .media + .media {
  margin-top: 5.5em;
}
/* line 539, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-section .media .pull-left {
  margin-right: 1.25em;
}
/* line 543, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-section .media-heading {
  margin-bottom: 0;
}
/* line 547, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-section .media-description {
  line-height: 1.3;
}
/* line 551, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-section .holder-for-icon {
  width: 52px;
  height: 52px;
  text-align: center;
}
/* line 555, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-section .holder-for-icon i {
  vertical-align: middle;
}

/* line 561, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-carousel-wrap {
  position: relative;
  padding-bottom: 1.25em;
}

/* line 566, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-carousel .slide {
  float: left;
}

@media (min-width: 35.5em) and (max-width: 61.1875em) {
  /* line 573, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-overview {
    padding: 2.5em 0;
  }

  /* line 577, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-section {
    margin-top: 1.875em;
    padding-bottom: 2.8125em;
  }
  /* line 581, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-section .media .pull-left {
    margin-right: .5em;
  }
  /* line 585, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-section dt:not(:first-of-type) {
    margin-top: 20px;
  }
}
@media (max-width: 35.4375em) {
  /* line 595, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .grid [class*=span].alpha {
    margin-left: 0;
  }

  /* line 600, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .grid [class*=span].no-m-span {
    float: none;
    display: block;
    margin-left: 0;
    width: auto;
  }

  /* line 607, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-section {
    margin-top: 1.875em;
    padding-bottom: 2.5em;
  }
  /* line 612, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-section .section-label {
    margin-bottom: 1.875em;
  }
  /* line 616, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-section .media .pull-left {
    margin-right: .75em;
  }
  /* line 620, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-section .media + .media,
  .spec-section .media {
    margin-top: 1.625em;
  }
  /* line 625, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-section .has-img {
    margin-top: 1.875em;
  }
  /* line 629, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-section dt:not(:first-of-type) {
    margin-top: 20px;
  }

  /* line 634, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-overview {
    margin-top: 0;
    padding: 2.5em 0;
  }
}
/* line 656, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-tiles-wrap {
  margin-top: 6.25em;
  margin-bottom: 9.375em;
}

/* line 661, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-tiles .spec-tile {
  margin-left: 0;
}

/* line 665, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-tile {
  margin-top: 1.5em;
  background: #f1f5f9;
}
/* line 669, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-tile .tile-content {
  padding: 2.5em 2.5em 3.75em 1.875em;
}
/* line 674, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-tile .tile-title {
  margin-top: 0;
}

/* line 680, ../../../src/css/scss/modules/spec-z1-z2.scss */
.spec-tile .iq-img {
  width: 100%;
  height: auto;
  min-height: 5.3125em;
}

@media (min-width: 35.5em) and (max-width: 61.1875em) {
  /* line 690, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-tiles-wrap {
    margin-top: 4.6875em;
    margin-bottom: 6.25em;
  }

  /* line 695, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-tile {
    margin-top: .625em;
  }
  /* line 698, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-tile .tile-content {
    padding: 1.875em 1.875em 2.8125em 1.25em;
  }
}
@media (max-width: 35.4375em) {
  /* line 708, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-tiles-wrap {
    margin-top: 3.75em;
    margin-bottom: 5em;
  }

  /* line 713, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-tile {
    margin-top: .625em;
  }
  /* line 716, ../../../src/css/scss/modules/spec-z1-z2.scss */
  .spec-tile .tile-content {
    padding: 1.875em 1.875em 2.8125em 1.25em;
  }
}
