/* 15px/16px */
/* 13px/16px */
/* 14px/16px */
/* line 4, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec {
  font-family: "SST W01 Roman", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: black;
  /*
  ul{margin-left:0;
    li{font-size:$font_12_16;}
  }
  */
}
/* line 6, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .center {
  text-align: center;
}
/* line 7, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .imgMarginBottom {
  margin-bottom: 20px;
}
/* line 8, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .imgMarginTop {
  margin-top: 50px !important;
}
/* line 15, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .tableZoom {
  font-size: 0.8125em;
  margin: 20px 0 30px !important;
}
/* line 18, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .tableZoom a {
  color: #2f353d;
  font-size: 0.8125em;
  padding: 2px 0 2px 25px;
  background: url("../../img/spec/ico/zoom.png") left center no-repeat;
}
/* line 26, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .emphasis-info {
  padding: 3px 5px;
  font-size: 1.125em;
  float: left;
  background: #83838f;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
/* line 36, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .spec-title {
  margin-bottom: 0 !important;
  float: left;
  margin-bottom: 35px;
}
/* line 40, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .spec-title p.title-link {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.8125em;
  font-family: "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
/* line 43, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .spec-title > h1 {
  font-size: 2em;
  margin-top: 0 !important;
}
/* line 48, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .spec-title .clearfix p {
  float: left;
  margin-right: 10px;
  font-size: 0.8125em;
}
/* line 53, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .spec-title .clearfix p a {
  color: #232323;
  padding: 0 15px 10px;
}
/* line 57, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .spec-title .clearfix p a.active {
  border-bottom: 4px solid #5787f4;
}
/* line 62, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .sonyRecommends {
  float: right;
  color: #83838f;
  margin-top: 65px;
  background: url("../../img/spec/ico/sonyRecommend.jpg") right center no-repeat;
  padding-right: 123px;
}
/* line 69, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .sonyRecommends p {
  margin: 0;
  line-height: 34px;
}
/* line 75, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .gallery-tabs .tabs {
  height: auto !important;
}
/* line 79, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec > section {
  margin-bottom: 20px;
}
/* line 82, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec > section > h2 {
  font-size: 1.125em;
  margin-bottom: 20px;
}
/* line 83, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec > section > h2.h2-bigger {
  font-size: 1.375em;
  font-family: "SST W01 Bold", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 30px 0;
  border-bottom: 3px solid #e9e9eb;
  padding-bottom: 20px;
  text-transform: uppercase;
}
/* line 87, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec > section .grid > div > h2 {
  font-size: 1.125em;
  margin-bottom: 20px;
}
/* line 88, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec > section .grid > div > h3 {
  font-weight: normal;
  font-size: 0.75em;
}
/* line 91, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec > section .grid {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 96, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec > section .grid h2 {
  margin-bottom: 20px;
}
/* line 98, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec > section .grid ul {
  margin-bottom: 0;
}
/* line 100, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec > section .grid ul li {
  margin: 5px 0;
}
/* line 111, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .label {
  font-weight: bold;
}
/* line 113, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .grid.no-border {
  margin-bottom: 30px !important;
  border-bottom: none !important;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 116, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .grid.no-border h3 {
  font-family: "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.125em;
  margin-bottom: 15px;
}
/* line 125, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .grid.no-border p {
  font-size: 0.8125em;
  color: #83838f;
}
/* line 132, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .smallTable .thead .cell, .container.module-spec .specsTable .thead .cell {
  text-align: left;
}
/* line 139, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .smallTable {
  display: table;
}
/* line 142, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .smallTable .row {
  display: table-row;
}
/* line 143, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .smallTable .cell {
  display: table-cell;
  padding-right: 10px;
}
/* line 147, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .smallTable .cell h3 {
  font-size: 0.75em;
  font-weight: normal;
}
/* line 148, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .smallTable .cell p {
  font-size: 0.75em;
}
/* line 150, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .smallTable .tbody {
  display: table-row-group;
}
/* line 152, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .smallTable ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}
/* line 160, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable {
  display: table;
}
/* line 164, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable .smallTable p {
  font-size: 0.75em !important;
  text-transform: uppercase;
  color: #212530;
}
/* line 165, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable .smallTable p span {
  font-size: 1.083em !important;
  text-transform: normal;
  color: #83838f;
}
/* line 170, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .thead {
  background: #f1f5f9;
  display: table-header-group;
}
/* line 174, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .thead > .row {
  display: table-row;
}
/* line 177, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .thead > .row > .cell:first-child {
  text-align: right;
  color: #212530;
}
/* line 179, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .thead > .row > .cell:first-child p {
  font-size: 0.9375em;
}
/* line 181, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .thead > .row > .cell:first-child p span {
  color: #83838f;
  font-size: 0.86667em !important;
  display: inline;
}
/* line 188, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .thead > .row > .cell {
  padding: 20px;
  border-left: 1px solid #DFE3E7;
}
/* line 193, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .thead > .row > .cell h2 {
  font-size: 1.125em;
  color: #2f353d;
  margin: 0;
  padding: 0 !important;
}
/* line 199, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .thead > .row > .cell p {
  color: #2f353d;
  font-family: "SST W01 Bold", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
/* line 205, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .thead > .row > .cell:first-child {
  border-left: none !important;
}
/* line 213, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .tbody {
  display: table-row-group;
}
/* line 215, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .tbody > .row {
  display: table-row;
  position: relative;
}
/* line 219, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .tbody > .row > .cell.intel7 > div {
  background: url("../../img/spec/inteli7.png") bottom left no-repeat;
  padding-bottom: 60px;
}
/* line 225, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .tbody > .row > .cell {
  position: relative;
  border-left: 1px solid #dfe3e7;
  border-bottom: 1px solid #dfe3e7;
  padding: 20px;
}
/* line 232, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .tbody > .row > .cell > h2 {
  font-size: 0.875em;
  color: black;
  font-weight: bold;
  margin-bottom: 1em;
  display: none;
}
/* line 239, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .tbody > .row > .cell > p {
  font-size: 0.9375em;
  margin-bottom: 15px !important;
}
/* line 240, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .tbody > .row > .cell > p > span {
  color: #83838f;
  font-size: 0.86667em !important;
}
/* line 245, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .tbody > .row > .cell .infoTitle {
  background: url("../../img/spec/titleInfoLine.jpg") top left no-repeat;
  font-family: "SST W01 Medium", "Comic Sans MS", Monaco, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.6875em;
  color: #2f353d;
  text-transform: uppercase;
  padding: 15px 0 7px 0;
  margin-bottom: 0 !important;
  margin-top: 20px !important;
}
/* line 256, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .tbody > .row > .cell ul {
  margin-bottom: 40px;
}
/* line 259, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .tbody > .row > .cell ul li {
  margin-bottom: 7px;
}
/* line 261, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .tbody > .row > .cell ul li p {
  font-size: 0.8125em;
  color: #83838f;
}
/* line 269, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .tbody > .row > .cell ul.listNoTitle {
  margin: 20px 0 0 0 !important;
}
/* line 275, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .tbody > .row > .cell:first-child {
  border-left: none !important;
}
/* line 279, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .tbody > .row > .cell:first-child p {
  color: black;
  font-size: 0.75em !important;
  text-transform: uppercase;
}
/* line 286, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable > .tbody > .row:last-child .cell {
  border-bottom: none !important;
}
/* line 293, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable .cell {
  display: table-cell;
  padding-right: 10px;
}
/* line 299, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable span.color {
  display: block;
  width: 14px;
  height: 14px;
  float: left;
  margin-right: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* line 307, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable span.color.white {
  background: #fff;
  border: 1px solid #c6c6c6;
}
/* line 311, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable span.color.gray {
  background: #83838f;
}
/* line 314, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable span.color.darkGrey {
  background: #2f353d;
}
/* line 317, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable span.color.black {
  background: black;
}
/* line 320, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable span.color.red {
  background: #ff6267;
}
/* line 325, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .specsTable ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}
/* line 333, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .desktopNav {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 92px;
}
/* line 342, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .desktopNav .next, .container.module-spec .desktopNav .prev {
  top: 22px;
  height: 48px;
  width: 32px;
  padding: 15px 12px;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 353, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .desktopNav .next {
  position: absolute;
  right: 10px;
  overflow: hidden;
  background: #d5d7d8 url("../../img/spec/ico/right-arrow.png") center center no-repeat;
}
/* line 361, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .desktopNav .prev {
  position: absolute;
  left: 10px;
  overflow: hidden;
  background: #d5d7d8 url("../../img/spec/ico/left-arrow.png") center center no-repeat;
}
/* line 370, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .tableContainer {
  background: #fff;
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* line 378, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .tableContainer.scHor {
  width: 100%;
}
/* line 380, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .tableContainer.scHor h2 {
  font-size: 18px !important;
  color: black;
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid #eee;
}
/* line 381, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .tableContainer.scHor h2:first-child {
  border-top: none;
  margin-top: 0;
}
/* line 385, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .tableContainer.scHor .thead .cell p {
  font-size: 18px;
  font-weight: normal;
}
/* line 391, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .tableContainer.scHor span {
  font-size: 0.93333em !important;
  line-height: 1.5em;
  display: block;
}
/* line 397, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .tableContainer.scHor .tbody .row .cell p {
  margin: 0;
}
/* line 401, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .tableContainer.scHor .scSlide {
  height: auto !important;
}
/* line 403, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .tableContainer.scHor .scSlide p {
  position: relative;
  top: 0;
  left: 0;
  background: none;
  max-width: 100%;
  height: auto;
  padding: 0;
  color: black;
}
/* line 417, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .tabs-container {
  display: none;
}
/* line 422, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .gallery-tabs.tab-strip {
  background: none;
}
/* line 424, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .gallery-tabs.tab-strip .tabs-container {
  background: #E4E7EB;
}
/* line 430, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .gallery-tabs .tab {
  width: auto !important;
  height: auto !important;
  padding: 20px !important;
}
/* line 432, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .gallery-tabs .tab h2 {
  font-size: 1.25em !important;
}
@media all and (max-width: 500px) {
  /* line 439, ../../../src/css/scss/modules/specAndDetails.scss */
  .container.module-spec .tableZoom {
    display: none !important;
  }
  /* line 440, ../../../src/css/scss/modules/specAndDetails.scss */
  .container.module-spec .desktopNav {
    display: none;
  }
  /* line 442, ../../../src/css/scss/modules/specAndDetails.scss */
  .container.module-spec .tabs-container {
    display: block;
    margin-bottom: 20px;
  }
  /* line 449, ../../../src/css/scss/modules/specAndDetails.scss */
  .container.module-spec .tableContainer .specsTable > .thead > .row > .cell:first-child,
  .container.module-spec .tableContainer .specsTable > .tbody > .row > .cell:first-child {
    display: none;
  }
  /* line 453, ../../../src/css/scss/modules/specAndDetails.scss */
  .container.module-spec .tableContainer .specsTable > .tbody > .row > .cell h2 {
    display: block;
  }
  /* line 456, ../../../src/css/scss/modules/specAndDetails.scss */
  .container.module-spec .tableContainer .specsTable > .thead > .row:first-child {
    display: none;
  }
}
/* line 463, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .bootstrap-override .modal-backdrop {
  display: none;
}
/* line 466, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .modal {
  outline: none !important;
  width: 70% !important;
  height: 80% !important;
  left: 33% !important;
}
/* line 473, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .modal .modal-body {
  max-height: 600px !important;
  padding: 30px;
  position: relative;
}
/* line 478, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .modal .modal-body h2 {
  padding-top: 0 !important;
}
/* line 480, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .modal .modal-body .img-respons {
  text-align: center;
}
/* line 482, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .modal .modal-body button.close {
  position: absolute;
  top: 0;
  right: 0;
  background: #979a9e !important;
  padding: 7px 13px 10px;
  color: white !important;
  line-height: 1em;
  opacity: 1 !important;
}
/* line 492, ../../../src/css/scss/modules/specAndDetails.scss */
.container.module-spec .modal .modal-body button.close:hover {
  background: #bcbccc !important;
}

  /*
  

    
    // Mobile tabs
    .table-mobile-tabs {
      margin: 0 !important;
      li:first-child{display:none;}
      li {
        float: left;
        display: block;
        cursor: pointer;
        padding: 10px;
        background: #ccc;
        color:#000;
        &:hover {
          background: #c0c0c0;
        }
      }
    }

    > .specsTable{
      float:left;
    }
  }
  
  

  
  // OVERRIDE - for each smallTable
  .table.smallTable{
    .row{
      .cell{
        padding:0 10px 0 0;
        h3{color:$black; font-size:$font_13_15 !important;}
        p{color:#555; font-size:$font_13_15 !important;}
      }
    }
  }
  
  // General End




  // Big Tables Colors and skins
  .table.specsTable
  {
  	background: #F7F7F7;
  	color: $black;
  	
  	p{font-size:$font_13_15 !important;}
  	span{
  	  font-size:$font_15_15 !important;
  	  line-height:1.5em;
  	  display:block;
    }
  	
  	.cell
  	{
  		padding: 10px 20px;
  		// Defines a table cell
  		border-bottom: 1px solid #eee;
  		border-right: 1px solid #eee;
  		&:last-child {
  			border-right: none !important;
  		}
  		&:hover {
  			background: #f9f9f9;
  		}
  	}
  	
  	.thead {
  	  .row{
    		.cell {
    			color: $black;
    			border-bottom: 2px solid #eee !important;
    			border-left:none !important;
    			border-right:none !important;
    		}
    	}
  	}
  	
  	.tbody{
  	  .row{
        .table
        {
          .cell:first-child{
            font-weight:normal;
            padding-right:8px;
            width:20%;
          }
          .cell{
            p{margin:0; font-size:$font_15_15 !important;
            span{font-size:$font_15_15 !important;}
            }
            padding:0;
            border:none !important;
          }
        }
  	  }
  	}
  }
  
  // OVERRIDE
  .sonyCarousel{
    width:100%;
    h2{font-size:18px !important; color:$black; padding:20px 0; margin-top:20px; border-top:1px solid #eee;}
    h2:first-child{border-top:none; margin-top:0;}
    p{font-size:14px !important; font-weight:normal;}
    span{
      font-size:$font_14_15 !important;
      line-height:1.5em;
      display:block;
    }
    .tbody .row .cell{
      padding:0 !important;
      border:none !important;
      p{margin:0;}
    }
  }
  .sonyCarousel .scSlide
  {
    height:auto !important;
    p{
      position:relative;
      top:0;
      left:0;
      background:none;
      max-width:100%;
      height:auto;
      padding:0;
      color:$black;
    }
  }
  
  .tableContainer.desktopNav{
    .scSlide{height:auto !important;}
    .scOverflow{height:2100px !important;}
    p{
      position:relative;
      top:0;
      left:0;
      background:none;
      max-width:100%;
      height:auto;
      padding:0;
      color:$black;
    }
  }
  
  
  div.table.smallTable{
    p{margin:0;}
  }
  
  



  
  
  
  
  
  // MEDIA QUERIES (640px AND BELOW)
  @media all and (max-width: 640px) {
  	
  	.table.smallTable{
  		.row{display:block;}
  		.cell{display:block;}
  	}
  	
  	//BIG TABLES *TABLE STYLE* - (DESKTOP ONLY)
    .table.specsTable {
      width: 100%;
      .row .cell:first-child {
        display: none;
      }
      
      .tbody .cell {
        h2 {
          display: block;
          font-size:$font_18_15;
        }
        display: none;
      }
      .thead .cell {
        display: none;
      }
      
      .cell.show {
        display: block;
      }
      
      .tbody .tbody .cell{display:block !important;}
    }
    
    //BIG TABLES *CAROUSEL* - (MOBILE ONLY)
    .sonyCarousel{
      .tbody .row .cell{
        display:block !important;
      }
    }
  }

  // MEDIA QUERIES (640px TO 767px)
  @media all and (min-width: 640px) and (max-width: 767px) {
    .grid{
      >div{
        >.table.smallTable{
          >.tbody{
            >.row{
              >.cell
              {
                width:50% !important;
              }
            }
          }
        }
      }
    }
  }

*/
