/* line 13, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-layouts {
  padding: 40px 20px;
}

/* line 19, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper {
  position: relative;
  overflow: auto;
  text-align: center;
  background-color: #f3f4f6;
  margin: 0;
}
/* line 26, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .loader {
  height: 300px;
  width: 100%;
  padding-top: 10%;
  z-index: 999;
  display: none;
}
/* line 34, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .tcc-body-wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 1;
}
/* line 42, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .tcc-header {
  border-bottom: 2px solid #e4e7eb;
}
/* line 46, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .tcc-body {
  display: inline-block;
}
/* line 50, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .tcc-content-module {
  position: relative;
  overflow: hidden;
}
/* line 54, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .tcc-content-module:hover {
  cursor: pointer;
}
/* line 58, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .tcc-content-module img {
  -webkit-transition: opacity, 0.15s;
  transition: opacity, 0.15s;
  opacity: 1.0;
}
/* line 72, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper div[data-tcc-content-type="article"][data-tcc-content-mode="default"]:hover img,
.tcc-wrapper div[data-tcc-content-type="article"][data-tcc-content-mode="featured"]:hover img,
.tcc-wrapper div[data-tcc-content-type="article"][data-tcc-content-mode="news"]:hover img,
.tcc-wrapper div[data-tcc-content-type="article"][data-tcc-content-mode="event"]:hover img,
.tcc-wrapper div[data-tcc-content-type="sonys-voice"][data-tcc-content-mode="instagram"]:hover img,
.tcc-wrapper div[data-tcc-content-type="flickr"][data-tcc-content-mode="default"]:hover img {
  -webkit-transition: opacity, 0.15s;
  transition: opacity, 0.15s;
  opacity: 0.85;
}
/* line 83, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article .img-container {
  position: relative;
}
/* line 88, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article .p3 {
  color: #83838f;
}
/* line 93, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article .t6 {
  color: rgba(33, 37, 48, 0.95);
}
/* line 101, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.default .img-container {
  margin-bottom: 1.25em;
}
/* line 109, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.event .img-container {
  margin-bottom: 1.25em;
}
/* line 115, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.event .attendance-count {
  background-color: #a2b849;
  opacity: 0.95;
  color: white;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 10% auto;
  padding: 3%;
  height: 80%;
  width: 35%;
}
/* line 132, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.event .l4 {
  color: white;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
/* line 139, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.event .l4 span {
  font-size: 34px;
}
/* line 150, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.news .img-container {
  margin-bottom: 1.25em;
}
/* line 154, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.news .news-date {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #2f353d;
  color: white;
  margin: 0;
  padding: 0.625em;
  font-size: 11px;
}
/* line 170, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.featured .grid {
  position: relative;
}
/* line 174, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.featured .feature-copy {
  background-color: #2f353d;
  text-align: left;
  opacity: 0.95;
}
/* line 179, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.featured .feature-copy .t4 {
  color: white;
}
/* line 189, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice {
  text-align: left;
}
/* line 198, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.expert-quote .credits .author, .tcc-wrapper .users-voice.user-quote .credits .author {
  height: 30px;
}
/* line 202, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.expert-quote .credits .author .p4, .tcc-wrapper .users-voice.user-quote .credits .author .p4 {
  margin: 0;
}
/* line 211, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.expert-quote {
  background-color: #1f2024;
  opacity: 0.95;
}
/* line 217, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.expert-quote .bq3 p {
  color: white;
}
/* line 223, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.expert-quote .title {
  color: #bcbccc;
}
/* line 227, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.expert-quote .name {
  color: #4572ed;
}
/* line 234, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.user-quote .title {
  color: #83838f;
}
/* line 238, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.user-quote .bq3 {
  color: #44506e;
}
/* line 246, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.question .bq3,
.tcc-wrapper .users-voice.question .lt3,
.tcc-wrapper .users-voice.question .answer-btn {
  text-align: center;
}
/* line 252, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.question .credits {
  background-color: white;
}
/* line 261, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice .fonticon-10-twitter,
.tcc-wrapper .sonys-voice .fonticon-10-facebook,
.tcc-wrapper .sonys-voice .fonticon-instagram {
  background-color: white;
  color: #28aae1;
}
/* line 269, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice .meta .user {
  color: #2f353d;
}
/* line 273, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice .meta .timestamp {
  color: #83838f;
}
/* line 280, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice.twitter .bq4 {
  color: #44506e;
}
/* line 287, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice.instagram .image-mat {
  background-color: #bcbccc;
  position: relative;
  *zoom: 1;
}
/* line 86, ../../../src/css/scss/_base/_mixins.scss */
.tcc-wrapper .sonys-voice.instagram .image-mat:before, .tcc-wrapper .sonys-voice.instagram .image-mat:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 94, ../../../src/css/scss/_base/_mixins.scss */
.tcc-wrapper .sonys-voice.instagram .image-mat:after {
  clear: both;
}
/* line 295, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice.instagram .image-mat div {
  position: absolute;
}
/* line 298, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice.instagram .image-mat div img {
  width: 100%;
}
/* line 309, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice.instagram .image-mat .top-left {
  top: 10px;
  left: 3.16456%;
  width: 30.37975%;
}
/* line 317, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice.instagram .image-mat .top-right {
  top: 10px;
  right: 3.16456%;
  width: 61.70886%;
}
/* line 325, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice.instagram .image-mat .bottom-left {
  bottom: 7px;
  left: 3.16456%;
  width: 30.37975%;
}
/* line 333, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice.instagram .image-mat:after {
  padding-top: 68.6708861%;
}
/* line 347, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .flickr .meta {
  margin-top: 8px;
}
/* line 350, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .flickr .meta .p4 {
  color: #2f353d;
}
/* line 357, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .flickr .image-mat {
  background-color: #bcbccc;
  margin: 20px 0 24px 0;
}
/* line 362, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .flickr .image-mat .top-row {
  *zoom: 1;
  padding-bottom: 5px;
}
/* line 86, ../../../src/css/scss/_base/_mixins.scss */
.tcc-wrapper .flickr .image-mat .top-row:before, .tcc-wrapper .flickr .image-mat .top-row:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 94, ../../../src/css/scss/_base/_mixins.scss */
.tcc-wrapper .flickr .image-mat .top-row:after {
  clear: both;
}
/* line 367, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .flickr .image-mat .bottom-row {
  *zoom: 1;
}
/* line 86, ../../../src/css/scss/_base/_mixins.scss */
.tcc-wrapper .flickr .image-mat .bottom-row:before, .tcc-wrapper .flickr .image-mat .bottom-row:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 94, ../../../src/css/scss/_base/_mixins.scss */
.tcc-wrapper .flickr .image-mat .bottom-row:after {
  clear: both;
}
/* line 371, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .flickr .image-mat .span4 {
  padding-left: 5px;
}
/* line 374, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .flickr .image-mat .span4:first-child {
  padding-left: 0;
}
