/* line 12, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper {
  position: relative;
  overflow: auto;
  text-align: center;
  background-color: #f3f4f6;
}
/* line 18, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .tcc-body-wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 1;
  padding-top: 36px;
}
/* line 28, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .align-left-top {
  text-align: left;
  vertical-align: top;
}
/* line 33, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .align-left-center {
  text-align: left;
  vertical-align: middle;
}
/* line 38, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .align-left-bottom {
  text-align: left;
  vertical-align: bottom;
}
/* line 43, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .align-center-center {
  text-align: center;
  vertical-align: middle;
}
/* line 48, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .align-right-top {
  text-align: right;
  vertical-align: top;
}
/* line 53, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .align-right-center {
  text-align: right;
  vertical-align: middle;
}
/* line 58, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .align-right-bottom {
  text-align: right;
  vertical-align: bottom;
}
/* line 63, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .light-text-dark-box {
  color: #83838f;
  background-color: #f3f4f6;
}
/* line 68, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .light-text-trans-box {
  color: #83838f;
  background-color: transparent;
}
/* line 73, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .dark-text-light-box {
  color: #f3f4f6;
  background-color: #83838f;
}
/* line 78, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .dark-text-trans-box {
  color: #83838f;
  background-color: transparent;
}

/* line 89, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-header-wrapper .tcc-header {
  border-bottom: 2px solid #e4e7eb;
  position: relative;
}

/* line 96, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-body {
  display: inline-block;
}
/* line 100, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-body .tcc-content-module {
  padding-top: 15px;
  float: left;
  overflow: hidden;
}
/* line 108, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-body div[data-tcc-content-type="article"][data-tcc-content-mode="default"]:hover {
  cursor: pointer;
  background-color: white;
}
/* line 114, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-body div[data-tcc-content-type="sonys-voice"][data-tcc-content-mode="twitter"]:hover {
  background-color: transparent;
}

/* line 121, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.article .l1 {
  text-transform: none;
  line-height: 1.2em;
  font-size: 1.125em;
}

/* line 130, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.sonys-voice .l4,
.sonys-voice .l3 {
  text-transform: none;
}
/* line 134, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.sonys-voice .bq2 > p {
  line-height: 1.35em;
}
/* line 138, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.sonys-voice .bq2 > p:first-child {
  text-indent: 0;
}
