/* line 12, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper {
  position: relative;
  overflow: auto;
  text-align: center;
  background-color: #f3f4f6;
  margin: 0;
}
/* line 19, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .nav-paddles {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 20px;
  z-index: 99;
  width: 100%;
}
/* line 27, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .nav-paddles .nav-paddle {
  position: absolute;
  top: 0;
}
/* line 32, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .nav-paddles .nav-paddle-prev {
  left: 7px;
}
/* line 36, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .nav-paddles .nav-paddle-next {
  right: 7px;
}
/* line 42, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .loader {
  height: 300px;
  width: 100%;
  padding-top: 10%;
  z-index: 999;
  display: none;
}
/* line 50, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .tcc-body-wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 1;
}
/* line 58, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .tcc-header {
  border-bottom: 3px solid #e4e7eb;
}
/* line 62, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .tcc-body {
  display: inline-block;
}
/* line 66, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .tcc-content-module {
  position: relative;
  overflow: hidden;
}
/* line 71, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .tcc-content-module:hover {
  cursor: pointer;
}
/* line 75, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .tcc-content-module img {
  -webkit-transition: opacity, 0.15s;
  transition: opacity, 0.15s;
  opacity: 1.0;
}
/* line 87, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .tcc-content-module div[data-tcc-content-type="article"][data-tcc-content-mode="default"]:hover img,
.tcc-wrapper .tcc-content-module div[data-tcc-content-type="article"][data-tcc-content-mode="featured"]:hover img,
.tcc-wrapper .tcc-content-module div[data-tcc-content-type="article"][data-tcc-content-mode="news"]:hover img,
.tcc-wrapper .tcc-content-module div[data-tcc-content-type="article"][data-tcc-content-mode="event"]:hover img,
.tcc-wrapper .tcc-content-module div[data-tcc-content-type="sonys-voice"][data-tcc-content-mode="instagram"]:hover img,
.tcc-wrapper .tcc-content-module div[data-tcc-content-type="flickr"][data-tcc-content-mode="default"]:hover img {
  -webkit-transition: opacity, 0.15s;
  transition: opacity, 0.15s;
  opacity: 0.85;
}
/* line 96, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article {
  position: relative;
  display: block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 105, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article .img-container {
  position: relative;
}
/* line 110, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article .p3 {
  color: #83838f;
}
/* line 115, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article .t6 {
  color: rgba(33, 37, 48, 0.95);
}
/* line 123, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.default .img-container {
  margin-bottom: 1.25em;
}
/* line 131, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.event .img-container {
  margin-bottom: 1.25em;
}
/* line 137, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.event .attendance-count {
  background-color: #a2b849;
  opacity: 0.95;
  color: white;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 10% auto;
  padding: 3%;
  height: 80%;
  width: 35%;
}
/* line 154, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.event .l4 {
  color: white;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
/* line 161, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.event .l4 span {
  font-size: 34px;
}
/* line 172, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.news .img-container {
  margin-bottom: 1.25em;
}
/* line 176, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.news .news-date {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #2f353d;
  color: white;
  margin: 0;
  padding: 0.625em;
  font-size: 11px;
}
/* line 192, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.featured .feature-copy {
  background-color: #212530;
  text-align: left;
  opacity: 0.95;
}
/* line 198, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .article.featured .feature-copy .t4 {
  color: white;
}
/* line 209, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice {
  text-align: left;
}
/* line 212, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.expert-quote {
  background-color: #1f2024;
  opacity: 0.95;
}
/* line 216, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.expert-quote .author {
  display: inline;
  margin: 0;
}
/* line 223, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.expert-quote .bq3 p {
  color: white;
}
/* line 229, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.expert-quote .title {
  color: #bcbccc;
}
/* line 233, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.expert-quote .name {
  color: #4572ed;
}
/* line 240, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.user-quote .title {
  color: #83838f;
}
/* line 244, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.user-quote .bq3 {
  color: #44506e;
}
/* line 249, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.user-quote .credits .handle,
.tcc-wrapper .users-voice.user-quote .credits .author {
  display: inline;
}
/* line 259, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.question .bq3,
.tcc-wrapper .users-voice.question .lt3,
.tcc-wrapper .users-voice.question .answer-btn {
  text-align: center;
}
/* line 265, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .users-voice.question .credits {
  background-color: white;
}
/* line 275, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice .fonticon-10-twitter,
.tcc-wrapper .sonys-voice .fonticon-10-facebook,
.tcc-wrapper .sonys-voice .fonticon-instagram {
  background-color: white;
}
/* line 281, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice .fonticon-10-twitter {
  color: #28aae1;
}
/* line 285, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice .fonticon-10-facebook {
  color: #3b5b99;
}
/* line 290, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice .meta .user {
  color: #2f353d;
}
/* line 294, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice .meta .timestamp {
  color: #83838f;
}
/* line 298, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice .meta .p4 {
  margin: 0;
}
/* line 305, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice.twitter .bq4 {
  color: #44506e;
}
/* line 312, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .sonys-voice.instagram table {
  background-color: rgba(188, 188, 204, 0.3);
}
/* line 329, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .flickr .meta .p4 {
  color: #2f353d;
}
/* line 335, ../../../src/css/scss/modules/tertiary-t1-t5.scss */
.tcc-wrapper .flickr table {
  background-color: rgba(188, 188, 204, 0.3);
}
