/* line 8, ../../../src/css/scss/modules/ux-marketing-convergence-e14.scss */
.uxmc-container {
  position: relative;
  height: 380px;
  background-color: #ccc;
}
/* line 13, ../../../src/css/scss/modules/ux-marketing-convergence-e14.scss */
.uxmc-container .uxmc-overlay {
  position: relative;
  z-index: 1;
}
/* line 18, ../../../src/css/scss/modules/ux-marketing-convergence-e14.scss */
.uxmc-container .uxmc-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 25, ../../../src/css/scss/modules/ux-marketing-convergence-e14.scss */
.uxmc-container .uxmc-background div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 37, ../../../src/css/scss/modules/ux-marketing-convergence-e14.scss */
.uxmc-container .base-product {
  position: relative;
  float: left;
  width: 30%;
  height: 380px;
}
/* line 44, ../../../src/css/scss/modules/ux-marketing-convergence-e14.scss */
.uxmc-container .partner-products {
  position: relative;
  float: right;
  margin: 0;
  width: 69%;
  height: 380px;
}
/* line 51, ../../../src/css/scss/modules/ux-marketing-convergence-e14.scss */
.uxmc-container .partner-products li {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
