/* 15px/16px */
/* 13px/16px */
/* 14px/16px */
/* line 5, ../../../src/css/scss/modules/video.scss */
.video-container {
  margin-bottom: 1em;
}
/* line 7, ../../../src/css/scss/modules/video.scss */
.video-container .vbc-container {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
/* line 11, ../../../src/css/scss/modules/video.scss */
.video-container .vbc-container div, .video-container .vbc-container embed, .video-container .vbc-container object {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
