/* line 77, ../../../src/css/scss/_base/_mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 63, ../../../src/css/scss/_base/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 71, ../../../src/css/scss/_base/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 5, ../../../src/css/scss/modules/video.scss */
.video-container {
  margin-bottom: 1em;
}
/* line 7, ../../../src/css/scss/modules/video.scss */
.video-container .vbc-container {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
/* line 11, ../../../src/css/scss/modules/video.scss */
.video-container .vbc-container div, .video-container .vbc-container embed, .video-container .vbc-container object {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
