/* EOF Fonts - Used by: IE ≤ 8 */

@font-face {
  font-family: "SST W01 Roman"; 
  src: url('sst-roman.eot');
  src: url('sst-roman.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SST W01 Italic"; 
  src: url('sst-italic.eot');
  src: url('sst-italic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SST W01 Light";
  src: url('sst-light.eot');
  src: url('sst-light.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SST W01 Light Italic";
  src: url('sst-light-italic.eot');
  src: url('sst-light-italic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "SST W01 Medium"; 
  src: url('sst-medium.eot');
  src: url('sst-medium.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SST W01 Medium Italic"; 
  src: url('sst-medium-italic.eot');
  src: url('sst-medium-italic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SST W01 Bold"; 
  src: url('sst-bold.eot');
  src: url('sst-bold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SST W01 Bold Italic"; 
  src: url('sst-bold-italic.eot');
  src: url('sst-bold-italic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
  font-style: normal;
}


.lt-ie9 .old-ie-font-fix {
  background-color: white;
  opacity: 0.99;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='white') progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; 
  /* IE 6,7 */
  filter: progid:DXImageTransform.Microsoft.Chroma(color='white') progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.lt-ie9 .old-ie-font-fix-white {
  background-color: #ffffff;
  opacity: 0.99;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='ffffff') progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; 
  /* IE 6,7 */
  filter: progid:DXImageTransform.Microsoft.Chroma(color='ffffff') progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.lt-ie9 .old-ie-font-fix-black {
  background-color: black;
  opacity: 0.99;
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='black') progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; 
  filter: progid:DXImageTransform.Microsoft.Chroma(color='black') progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.lt-ie9 .old-ie-font-fix-gray05 {
  background-color: #1F2024;
  opacity: 0.99;
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#1F2024') progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; 
  filter: progid:DXImageTransform.Microsoft.Chroma(color='#1F2024') progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.lt-ie9 .old-ie-font-fix-gray10 {
  background-color: #212530;
  opacity: 0.99;
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#212530') progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; 
  filter: progid:DXImageTransform.Microsoft.Chroma(color='#212530') progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.lt-ie9 .old-ie-font-fix-gray20 {
  background-color: #2F353D;
  opacity: 0.99;
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#2F353D') progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; 
  filter: progid:DXImageTransform.Microsoft.Chroma(color='#2F353D') progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.lt-ie9 .old-ie-font-fix-gray25 {
  background-color: #3C3C42;
  opacity: 0.99;
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#3C3C42') progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; 
  filter: progid:DXImageTransform.Microsoft.Chroma(color='#3C3C42') progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.lt-ie9 .old-ie-font-fix-gray30 {
  background-color: #504D56;
  opacity: 0.99;
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#504D56') progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; 
  filter: progid:DXImageTransform.Microsoft.Chroma(color='#504D56') progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
/* Have to do the rest of the colors, or make a mixin (have to make this into scss then, and make changes to the compiler) */