

// 4 visible columns
$specItemWidth980: 11.4375em; // 183
$specLabelWidth980: 7.125em; // 114

// 3 visible columns
$specItemWidth768: 11.625em; // 186
$specLabelWidth768: 5.625em; // 90


// 888b     d888          888 888    d8b
// 8888b   d8888          888 888    Y8P
// 88888b.d88888          888 888
// 888Y88888P888 888  888 888 888888 888
// 888 Y888P 888 888  888 888 888    888
// 888  Y8P  888 888  888 888 888    888
// 888   "   888 Y88b 888 888 Y88b.  888
// 888       888  "Y88888 888  "Y888 888


@media ( min-width: px-em(980px) ) and ( max-width: px-em(1199px) ) {
  .spec-items-container .spec-item {
    width: $specItemWidth980;
  }
  .grid .detail-labels-wrap {
    width: $specLabelWidth980;
  }
}

@media ( min-width: px-em(768px) ) and ( max-width: px-em(979px) ) {
  .spec-items-container .spec-item {
    width: $specItemWidth768;
  }
  .grid .detail-labels-wrap {
    width: $specLabelWidth768;
  }
}

// Multi spec mobile breakpoint
@media (max-width: px-em(567px) ) {

  .spec-multi {

    .sony-recommends {
      bottom: auto;
      top: .625em;
      overflow: hidden;
    }

    .win8-logo {
      // width: 18px;
      width: 20px;
    }
  }

  .spec-tabs {
    display: block;
  }

  .spec-title-wrap {
    padding-top: 2.8125em;
  }


  .spec-nav,
  .spec-column-header,
  .spec-products .container .grid .detail-labels-wrap {
    display: none;
  }

  .spec-products:before {
    height: .0625em;
  }

  .spec-products .compare-sticky-header {
    width: 100%;
  }

  .spec-items-container .spec-item {
    width: auto;
  }

  .spec-items-wrap {
    margin-left: 0;
  }

  .spec-item-cell {
    .spec-cell-inner {
      padding-right: 0;
      padding-left: 0;

      &.only-label {
        padding-top: 1.25em;
      }
    }
  }

  // Remove border right on the whole grid
  .spec-products .spec-items-grid {
    border-right: none;
  }

  .spec-products .spec-items-grid.overflowing {
    @include box-shadow(none);
  }

  .spec-item {
    border-right: 0;

    .cell-label {
      display: block;
    }

    .dl-horizontal dt {
      width: 5em; // 80
      float: left;
      clear: left;
    }
    .dl-horizontal dd {
      margin-top: 0;
      margin-left: 5em; // 80
    }
  }

}