@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";



// 4 visible (default)
$specItemWidth1200: 13.75em; // 220
$specLabelWidth1200: 8.75em; // 140


$columnHeaderHeight: 4.875em; // 78
$tableHeaderColor: $gray80;
$specStickyTabHeight: 3.125em; // 50

$stickyHeaderHeight: 4.375em; // 70
$specBorderColor: $gray70;


// 888b     d888          888 888    d8b
// 8888b   d8888          888 888    Y8P
// 88888b.d88888          888 888
// 888Y88888P888 888  888 888 888888 888
// 888 Y888P 888 888  888 888 888    888
// 888  Y8P  888 888  888 888 888    888
// 888   "   888 Y88b 888 888 Y88b.  888
// 888       888  "Y88888 888  "Y888 888

// Hide sticky tabs
.spec-tabs {
  display: none;
}

// Spec Items Wrapping and labels
// -------------------------
.spec-items-wrap {
  position: relative;
  z-index: 15;

  .no-csstransforms & {
    float: left;
  }
}

// Spec Nav
// -------------------------
.spec-nav-container {
  position: relative;
}

.spec-nav {
  position: absolute;
  z-index: 16;
  top: ($columnHeaderHeight - $navPaddleHeight) / 2;
}

.spec-nav-prev {
  left: -.625em;
}

.spec-nav-next {
  right: -.625em;
}

// Affix the nav paddles when the sticky headers are open
.sticky-header-open {

  .spec-nav-wrap {
    position: fixed;
    z-index: 15;
    top: 72px; // Should be overriden by js
    left: 0;
    width: 100%;
  }

  .spec-nav-container {
    // Turns into .container

    .spec-nav {
      top: ( $stickyHeaderHeight - $navPaddleHeight ) / 2;
    }
  }
}

// Content inside the sticky nav is different on mobile
.mobile-content-wrap {
  height: 3.125em;

  .table-center-wrap {
    height: 100%;
  }

  .product-name,
  .product-model {
    display: inline;
  }

  .product-model {
    padding-left: 3px;
  }
}


// Spec Items
// -------------------------
.spec-item {
  position: relative;
  margin: 0;
  border-right: .0625em solid $specBorderColor; // 1 pixel

  // Our position relative is overriding off-screen, reset that.
  &.off-screen {
    position: absolute;
  }

  &:last-child {
    border-right: none;
  }

  .product-subname {
    // font-size: $font_18_16;
  }

  .cell-label {
    display: none;
    margin-bottom: 40px;
  }
}
.spec-items-container .spec-item {
  margin: 0;
  width: $specItemWidth1200; // override % width
}

.spec-column-header {
  height: $columnHeaderHeight;
  width: 100%;
  padding: 0 1em;

  // Header name and model
  .product-name {
    // font-size: $font_18_16;
  }

  .product-model {
    // font-size: $font_18_16;
  }
}

.spec-list li {
  margin: 1.25em 0;
}


.spec-item-cell {
  position: relative;

  .spec-cell-inner {
    padding: 1.25em 1.875em 3.75em .9375em; // 20 30 60 15

    // Dont remember why this is here
    &:first-child {
      // padding-top: 1.875em;
    }

    &.img-bottom {
      padding-bottom: 0;
    }

    &.only-label {
      padding: 0;
    }

    .dl-horizontal,
    .dl-horizontal :last-child {
      margin-bottom: 0;
    }
  }

  .btm-aligned {
    min-height: 40px;
    position: absolute;
    bottom: 3.75em;
  }

  .before-btm-aligned {
    padding-bottom: 2.5em;
    margin-bottom: 0;

    & :last-child {
      margin-bottom: 0;
    }
  }

  // Definition list image needs a set height because iQ doesn't load the images until
  // after the dimensions for each cell have been calculated
  .dl-img {
    position: relative;
    margin-bottom: 30px;

    // Don't clip image, shrink it
    img {
      max-height: 100%;
    }

    & + .spec-cell-inner {
      padding-top: 0;
    }
  }

  .img-holder + .spec-cell-inner {
    padding-top: 0;
  }

  .text-center.img-bottom {
    margin-top: 2.5em;
    padding-bottom: 3.75em;
  }

  $dtWidth: 50px;
  $ddMargin: $dtWidth + 10px;
  .dl-horizontal dt {
    text-align: left;
    width: $dtWidth;
  }
  .dl-horizontal dd {
    margin-top: -2px; // try to get their baselines to match up
    margin-left: $ddMargin;
  }

  .enlarge {
    margin: 1.25em 0 .625em;
    background: none;
    border: none;
    padding: 0;
    line-height: 1;

    i {
      color: $gray50;
      vertical-align: middle;
      line-height: 1.1;
      font-size: 1em;
    }

    &:hover i {
      color: $buttonOrange;
    }
  }

  .holder-for-icon {
    margin-bottom: 1.25em;

    .fonticon-30-battery {
      height: 22px;
      display: block;
    }
  }

  .mini-swatch {
    @include square(1em);
    border-radius: 1px;
  }

  // Wifi icon is aligned to the top of its box, but the bluetooth isn't and it looks weird
  .fonticon-30-wifi {
    position: relative;
    top: 4px;
  }

  .icon-group i + i {
    margin-left: 20px;
  }
}

.spec-products {
  position: relative;
  overflow: hidden; // hide box-shadows

  // Light gray bar behind all the headers
  &:before {
    content: '';
    position: absolute;
    z-index: -1; // allow the border-right of the grid to show above this el
    top: 0;
    left: 0;
    width: 100%;
    height: $columnHeaderHeight;
    background: $tableHeaderColor;
  }

  .spec-items-grid {
    border-right: .0625em solid $specBorderColor;
    @include transition(box-shadow $transitionFast ease-in);

    &.overflowing {
      @include box-shadow(inset -.125em 0 .1875em -.125em $transparentBlack);
      @include transition-timing-function(ease-out);
    }
  }

  .detail-labels-wrap {
    width: $specLabelWidth1200; // override % width
    border-right: .0625em solid $specBorderColor;

    // The gallery uses this background to cover the labels, but when the spec products are loading,
    // This gray background shows through and is ugly.
    &:before {
      background: none;
    }
  }

  .product-count-wrap,
  .detail-label-group {
    width: 100%;
  }

  .product-count-wrap {
    background: $tableHeaderColor;
  }

  .detail-label-group {
    position: relative;
  }

  .product-count-wrap {
    height: $columnHeaderHeight;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  // White background behind the labels
  .detail-label-group:before {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    height: 100%;
    width: 2000px;
    right: 0;
    top: 0;
    background-color: $white;
    // border-bottom: 1px solid $white;
    @include transition(box-shadow $transitionFast ease-in);
  }

  // Why didn't I name this...
  .product-count-wrap:after {
    content: '';
    z-index: -1; // put behind model count
    left: auto;
    right: 0;
    height: 100%;
    width: 2000px;
    background: $tableHeaderColor;
  }

  .detail-label {
    padding: 1.125em 1em 0 0;
  }



  // Sticky headers
  .compare-sticky-header {
    top: -2em;
    width: inherit;
    padding: 1em;
    height: $stickyHeaderHeight;
    background: $tableHeaderColor;
    border-right: .0625em solid $specBorderColor; // 1 pixel
    @include box-shadow(.1875em .0625em .625em $stickyShadowColor);

    &.open {
      top: 0;
    }
  }

  // Override some styles from the gallery's compare tool
  .sticky-count {
    padding: 0;
    @include box-shadow(none);

    // Gray bar on the left side of the container
    &:before {
      background: $tableHeaderColor;
      width: 3000px;
      right: 0;
      @include box-shadow(0 .0625em .625em $stickyShadowColor);
    }


    // Gray bar on the right side of the container
    .right-bar {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 800%;
      height: $stickyHeaderHeight;
      width: 187em;
      background: $tableHeaderColor;
      @include box-shadow(-.3125em .4375em .625em -.3125em $stickyShadowColor);
    }

    .product-count-wrap {
      height: $stickyHeaderHeight;
    }
  }

}

.spec-item-cell,
.spec-products .detail-label {
  border-bottom: .0625em solid $specBorderColor;
}

// Spec Modal
// -------------------
.spec-modal {
  position: absolute;
  top: 0;
  left: 0;
  background: $white;

  .box-close {
    line-height: 2.15em;
  }

  .box-close i {
    vertical-align: middle;
  }
}

.spec-multi {

  .sony-recommends {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .win8-logo {
    position: relative;
    top: 4px;
    width: 94px;
    height: 18px;
    margin-left: 14px;
    color: #00ADEF;
    overflow: hidden;
  }

  .sticky-tabs,
  .tab {
    height: $specStickyTabHeight;
  }

  .tab {
    padding-left: 0.625em;
  }

  // The designer wants the baselines to match up. That's now how css works.
  // This is an arbitrary value which will probably be wrong in the future.
  .with-some-padding {
    padding-top: 18px;
  }
  .compare-sticky-header .with-some-padding {
    padding-top: 12px;
  }

  .product-name {
    margin-bottom: 0;
    color: $gray20;
  }

  .product-model {
    margin-bottom: 0;
    color: $gray20;
  }
}
