
.sony-carousel-wrapper {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.sony-carousel {
  position: relative;
  width: 2000%;

  .sony-carousel-slide {
    float: left;
    width: 5%;
    height: 100%;
  }
}