
.sony-carousel-wrapper {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

$maxChildren: 20;

.sony-carousel {
  position: relative;
  width: 100% * $maxChildren;

  .sony-carousel-slide {
    -webkit-transform: translateZ(0);
    float: left;
    width: 100% / $maxChildren;
    height: 100%;

    &.grid {
      margin-right: 3.5461% / $maxChildren;
    }
  }
}