@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.primary-tout{
  @include theme-btn-colors;

  h1{
    @include hyphens;
  }

  position:relative;

  .image-module{
    height:560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .submodule{
    position:relative;
    z-index:2;
    margin: 0; // gets margin: -1px; from .visuallyhidden, which causes the module to jump up 1px.
    &.visuallyhidden {
      height: 0; // setting margin back to -1px creates the problem the above comment fixes
    }
    .sony-video{
       @include translate3d(0,0,0);
    }
  }

  .box.left{
    text-align:left;
  }
  .box.center{
    text-align:center;
  }
  .box.right{
    text-align:right;
  }
  .table-center-wrap{
    width:100%;
  }
  .addon {
  	.addon-body{
  	  max-width: 100%;
  	}

    .addon-media{
      padding:0;
    }
    // margin-top: 42px;
  }
  .addon-story,
  .addon-video,
  .addon-slideshow,
  .addon-audio,
  .addon-tweet{
    .addon-inner{
      min-height:0;
    }
  }
  .light-text-dark-box{
    .addon-quote blockquote p{
      color:$gray50 !important;
    }
  }

  .dark-text-trans-box{
    h1, h2, h3, h4, h5, h6{
      color:$gray10;
    }
    p{
      color:$gray10;
    }
  }

  .inner{
    height:100%;
    position:absolute;
    top:0;
    right:0;
    left:0;
    .grid,
    .grid > div,
    .table-center-wrap{
      height:100%;
      .table-center .box{
        margin-top:-1%
      }
      .table-top,
      .table-bottom{
         display:table-cell;
        .box{
          margin-top:0;
        }
      }
      .table-top{
        vertical-align:top;
      }
      .table-bottom{
        vertical-align:bottom;
      }
    }

    .box{
      padding:56px 52px 50px 52px;
      .eyebrow{
        margin-bottom:0px;
      }
      h1{
        margin-top:0;
        margin-bottom:20px;
        margin-left:-2px;
      }
      >.p3{
        margin-bottom:37px;
        line-height:20px;
      }
      i.fonticon-30-plus{
          font-size:1em;
          margin: 0px .15em;
      }
      a.btn{
        margin:8px 3px 0 0;
        &:last-child{
         margin-right:0;
        }
        i.fonticon-15-circle-play{
          margin: -5px 5px -5px -6px;
          font-size:1.8em;
          top:1px;
          position:relative;
        }
      }

      .bq1>p{
        margin-bottom:18px;
      }
    }
  }
  .secondary{
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    width:100%;

  }

  &.default{
    .inner{
      .box{
        padding: 54px 64px 52px 58px;
      }
      &.no-bg{
        .box{
            padding:56px 58px 48px 58px;
          &.center{
            padding-right:36px;
            padding-left:36px;
          }
          &.left{
            padding-right:120px;
            padding-left:0;
          }
          &.right{
            padding-right:54px;
            padding-left: 0;
          }
          .table-bottom{
            padding-bottom: 44px;
          }
        }
      }
    }
    .secondary .box{
      padding:15px 0 17px 0;

    }
  }

  &.homepage{
    .inner {
      .table-center-wrap{
        width:100%;
      }
      .box{
        .p3{
          margin-bottom:20px;
        }
        .btn{
          margin-top:24px;
        }
      }
    }
    .secondary .box{
      padding:28px 0 22px 0;
      .p3{
        margin-top:-4px;
      }
      .btn{
        margin-bottom:8px
      }
    }

  }

  &.product-intro-plate{
    .legal{
      z-index:9;
      position:relative;
      margin-top:-23px;
    }
    .image-module{
      height:560px;
    }
    .dark-text-light-box{
     .eyebrow{
        color: $gray40;
      }
    }
    .dark-text-light-box,
    .dark-text-trans-box{
      .t2{
       color: $gray10;
      }

      a{
        color:$gray10;
        i{
         color: $linkBlue;
        }
        &:hover{
           color: $gray40;
          i{
            color: $gray40;
          }
        }
      }
    }
    .light-text-dark-box{
      .eyebrow{
        color: $gray50;
      }
    }
    .light-text-trans-box,
    .light-text-dark-box{
      a{
        i{
          color: $linkBlue;
        }
        &:hover{
          color: $gray50;
          i{
            color: $gray50;
          }
        }
      }
    }
    .inner .box{
      padding:66px 52px 40px;
      .eyebrow{
        margin-bottom:6px;
      }
      h1{
        margin-bottom:15px;
      }

      a{
        display:block;
        margin-bottom:4px;
        i{
          font-size:1.6em;
          margin-right:.3em;
        }
      }



    }

  }

  &.title-plate{
    @include theme-bg-colors;

    .image-module{
      background-size:auto;
      height:300px;
    }
    .cover .image-module{
      background-size:cover;
    }
    .dark-text-trans-box{
      .eyebrow{
        color: $gray40;
      }
    }
    .light-text-trans-box{
      .eyebrow{
        color: $gray50;
      }
    }

    .inner .box{
      padding:49px 52px 58px 0;
      a{
        color:$white;

        // Removed per Steve's request
        // &:hover{
        //  color:$gray60;
        // }
        i.fonticon-10-chevron-reverse{
          @include transition(none);
          font-size:0.6875em;
          margin-right:3px;
          vertical-align:0.2em;
        }
      }
      h1{
        margin-bottom:10px;
        margin-left:-1px;
        letter-spacing:-0.7px;
      }
      .p3{
        margin-bottom:30px;
      }
    }
  }
}

.lt-ie10{
  .primary-tout{
    text-align:center;
  }
}
.lt-ie9{
  .primary-tout{
    width:980px;
    margin:0 auto;
    .submodule{
     width:980px;
     margin:0 auto;
    }
    .close-hide{
      display: none !important;
      visibility: hidden;
    }
    .inner .box i{
      line-height:1;
      margin-right:5px;
    }
  }
}

.lt-ie8{
  .primary-tout{
    .table-center{
      margin-top: 40px;
      .box {
        margin-top:0;
      }
    }
    .inner{
      position:absolute;
      top:0;
      margin-left:-490px;
      left:auto;
      right:auto;
      .box i{
        margin-right:6px;
      }
    }
    &.product-intro-plate{
      .inner{
        margin-left:0;
      }
    }
  }
}
