@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.primary-tout{
  @include theme-btn-colors;

  h1{
    @include hyphens;
  }

  position:relative;

  .image-module{
    height:560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .submodule{
    position:relative;
    z-index:2;
    .box-close{
      top:12px;
      right:14px;
    }
  }

  .box.left{
    text-align:left;
  }
  .box.center{
    text-align:center;
  }
  .box.right{
    text-align:right;
  }
  .table-center-wrap{
    width:100%;
  }
  
  .inner{
    height:100%;
    position:absolute;
    top:0;
    right:0;
    left:0;
    .grid,
    .grid > div,
    .table-center-wrap{
      height:100%;
      .table-center .box{
        margin-top:-1%
      }
      .table-top,
      .table-bottom{
         display:table-cell;      
        .box{
          margin-top:0;          
        }
      }
      .table-top{
        vertical-align:top;
      }
      .table-bottom{
        vertical-align:bottom;
      }
    }
    
    .box{
      padding:56px 52px 50px 52px;
      .eyebrow{
        margin-bottom:0px;
      }
      h1{
        margin-top:0;
        margin-bottom:20px;
        margin-left:-2px;
      }
      .p3{
        margin-bottom:37px;
        line-height:20px;
      }
      i{
        font-size:1.5em;
        vertical-align: -.04em;
        &.fonticon-30-plus{
          margin: 0px .15em;
        }
      }
      a.btn{
        margin-right:20px;
        margin-top:8px;
        i.fonticon-15-circle-play{
          margin: 0px .2em 0 -.3em;
        }
      }
      .bq1>p{
        margin-bottom:18px;
      }
    }
  }
  &.default{
    .inner{
      .box{
        padding: 54px 64px 52px 58px;
      }
      &.no-bg{
        .box{
            padding:56px 58px 48px 58px;
          &.center{
            padding-right:36px;
            padding-left:36px;
          } 
          &.left{
            padding-right:120px;
            padding-left:0;
          }
          &.right{
            padding-right:54px;
            padding-left: 0;
          }
          .table-bottom{
            padding-bottom: 44px;
          }
        }
      }
    }
  }


  &.homepage{
    .inner {
      .table-center-wrap{
        width:100%;
      }
      .box{
        .p3{
          margin-bottom:20px;
        }
        .btn{
          margin-top:24px;
        }
      }
    }
    .secondary{
      position:absolute;
      bottom:0;
      right:0;
      left:0;
      width:100%;
      .box{
        padding:28px 0 22px 0;
        .p3{
          margin-top:-4px;
        }
        .btn{
          margin-bottom:8px
        }
      }
    }
  }

  &.product-intro-plate{
    .image-module{
      height:560px;
    }
    .dark-text-light-box,
    .dark-text-trans-box{
      .eyebrow{
        color: $gray40;
      }
    }
    .light-text-dark-box,
    .light-text-trans-box{
      .eyebrow{
        color: $gray50;
      }
    }
    .inner .box{
      padding:66px 52px 40px;
      .eyebrow{
        margin-bottom:6px;
      }
      h1{
        margin-bottom:15px;
      }
      .p3{
        margin-bottom:42px;
      }
      a{
        display:block;
        margin-bottom:4px;
        i{
          margin-right:.3em;
        }
        span{
          font-size:px-em(12);
        }
      }

    }

  }

  &.title-plate{
    @include theme-bg-colors;
    
    .image-module{
      background-size:auto;
      height:300px;
    }
    .cover .image-module{
      background-size:cover;
    }
    .dark-text-trans-box{
      .eyebrow{
        color: $gray40;
      }
    }
    .light-text-trans-box{
      .eyebrow{
        color: $gray50;
      }
    }

    .inner .box{
      padding:49px 52px 58px 0;
      .eyebrow{
        font-size:px-em(12);
        letter-spacing:1px;
      }
      h1{
        margin-bottom:10px;
        margin-left:-1px;
        letter-spacing:-0.7px;
      }
      .p3{
        margin-bottom:30px;
      }
      a i{
         font-size:0.75em;
          margin-left:-13px;
          margin-right:3px;
          vertical-align:0.2em;
      }
    }

  }

}

.lt-ie9 .primary-tout .inner .box i{
 line-height:1;
 margin-right:5px;
}
.lt-ie8 .primary-tout .inner .box i{
  margin-right:6px;
}
