/**
 * This file provides the main design styles for the page content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author Clarence Lee <clarencedglee@gmail.com>
 */
/*____________ section indenting ____________

.dokuwiki.page  h1 {margin-left: 0;}
.dokuwiki.page  h2 {margin-left: .666em;}
.dokuwiki.page  h3 {margin-left: 1.776em;}
.dokuwiki.page  h4 {margin-left: 3em;}
.dokuwiki.page  h5 {margin-left: 4.5712em;}
.dokuwiki.page  div.level1 {margin-left: 0;}
.dokuwiki.page  div.level2 {margin-left: 1em;}
.dokuwiki.page  div.level3 {margin-left: 2em;}
.dokuwiki.page  div.level4 {margin-left: 3em;}
.dokuwiki.page  div.level5 {margin-left: 4em;}

[dir=rtl] .dokuwiki .page h1 {margin-left: 0; margin-right: 0;}
[dir=rtl] .dokuwiki .page h2 {margin-left: 0; margin-right: .666em;}
[dir=rtl] .dokuwiki .page h3 {margin-left: 0; margin-right: 1.776em;}
[dir=rtl] .dokuwiki .page h4 {margin-left: 0; margin-right: 3em;}
[dir=rtl] .dokuwiki .page h5 {margin-left: 0; margin-right: 4.5712em;}
[dir=rtl] .dokuwiki .page div.level1 {margin-left: 0; margin-right: 0;}
[dir=rtl] .dokuwiki .page div.level2 {margin-left: 0; margin-right: 1em;}
[dir=rtl] .dokuwiki .page div.level3 {margin-left: 0; margin-right: 2em;}
[dir=rtl] .dokuwiki .page div.level4 {margin-left: 0; margin-right: 3em;}
[dir=rtl] .dokuwiki .page div.level5 {margin-left: 0; margin-right: 4em;}
*/
/* hx margin-left = (1 / font-size) * .levelx-margin */
/*____________ links to wiki pages (addition to _links) ____________*/
/* existing wikipage */
/* not existing wikipage */
/* line 51, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki a.wikilink2 {
  color: #dd3300;
  background-color: inherit;
}

/*____________ images ____________*/
/* embedded images (styles are already partly set in lib/styles/all.css) */
/* line 60, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki img.media {
  margin: .2em 0;
}

/* line 63, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki img.medialeft {
  margin: .2em 1em .2em 0;
}

/* line 66, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki img.mediaright {
  margin: .2em 0 .2em 1em;
}

/* line 69, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki img.mediacenter {
  margin: .2em auto;
}

/*____________ lists ____________*/
/* line 77, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dokuwiki__content ul li,
#dokuwiki__aside ul li {
  color: #999999;
}

/* line 81, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dokuwiki__content ol li,
#dokuwiki__aside ol li {
  color: #666666;
}

/* line 85, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dokuwiki__content li .li,
#dokuwiki__aside li .li {
  color: #333333;
}

/*____________ tables ____________*/
/* div around each table */
/* line 93, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki div.table {
  overflow-x: auto;
  margin-bottom: 1.4em;
}

/* line 97, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki div.table table {
  margin-bottom: 0;
}

/* line 101, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki table.inline {
  min-width: 50%;
}

/* line 105, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki table.inline tr td,
.dokuwiki table.inline tr td.label {
  background-color: transparent;
  color: #2f353d;
  text-transform: none;
  padding-right: 10px;
  font-size: 12px;
}

/* line 114, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki .donts-table table.inline tr td,
.dokuwiki .donts-table table.inline tr td.label {
  color: #83838f;
  font-size: 10px;
  padding-bottom: 8px;
}

/* line 120, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki table.inline tr:hover td,
.dokuwiki table.inline tr:hover td.label {
  background-color: transparent;
}

/* line 124, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki table.inline tr:hover th,
.dokuwiki table.inline tr:hover th.label {
  background-color: transparent;
}

/*____________ code ____________*/
/* fix if background-color hides underlining */
/* line 132, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki em.u code {
  text-decoration: underline;
}

/* for code in <file> */
/* filenames for downloadable file and code blocks */
/* line 146, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki dl.code dt,
.dokuwiki dl.file dt {
  background-color: #fbfaf9;
  background: -moz-linear-gradient(top, #eeeeee 0%, #fbfaf9 100%);
  background: -webkit-linear-gradient(top, #eeeeee 0%, #fbfaf9 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #fbfaf9 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #fbfaf9 100%);
  background: linear-gradient(top, #eeeeee 0%, #fbfaf9 100%);
  color: inherit;
  border: 1px solid #cccccc;
  border-bottom-color: #fbfaf9;
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  padding: .3em .6em .1em;
  margin-bottom: -1px;
  float: left;
}

/* line 163, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
[dir=rtl] .dokuwiki dl.code dt,
[dir=rtl] .dokuwiki dl.file dt {
  float: right;
}

/* line 167, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki dl.code dt a,
.dokuwiki dl.file dt a {
  background-color: transparent;
  font-size: 0.875em;
  font-weight: normal;
  display: block;
  min-height: 16px;
}

/* line 176, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki dl.code dd,
.dokuwiki dl.file dd {
  margin: 0;
  clear: left;
  min-height: 1px;
  /* for IE7 */
}

/* line 182, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
[dir=rtl] .dokuwiki dl.code dd,
[dir=rtl] .dokuwiki dl.file dd {
  clear: right;
}

/* line 187, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki dl.code pre,
.dokuwiki dl.file pre {
  box-shadow: inset -4px -4px 0.5em -0.3em #cccccc;
}

/*____________ JS popup ____________*/
/* line 194, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.JSpopup {
  background-color: white;
  color: #333333;
  border: 1px solid #cccccc;
  box-shadow: 0.1em 0.1em 0.1em #cccccc;
  border-radius: 2px;
  padding: .3em .5em;
  font-size: .9em;
}

/* line 203, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki form.search div.ajax_qsearch {
  top: -.35em;
  font-size: 1em;
  text-overflow: ellipsis;
}

/* line 210, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.JSpopup ul,
.JSpopup ol {
  padding-left: 0;
}

/* line 214, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
[dir=rtl] .JSpopup ul,
[dir=rtl] .JSpopup ol {
  padding-right: 0;
}

/* changes to underscored CSS files
********************************************************************/
/* line 222, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#acl__tree li {
  margin: 0;
}

/* line 226, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dokuwiki__content span.curid a {
  font-weight: normal;
}

/* line 229, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dokuwiki__content strong span.curid a {
  font-weight: bold;
}

/*____________ changes to _edit ____________*/
/* line 236, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki div.toolbar button.toolbutton {
  border-radius: 0;
  border-left-width: 0;
  padding: 0.1em 0.35em 0.3em;
  line-height: 1;
  background: #ccc;
}

/* line 243, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki div.toolbar button.toolbutton:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left-width: 1px;
}

/* line 248, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
[dir=rtl] .dokuwiki div.toolbar button.toolbutton:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left-width: 0;
  border-right-width: 1px;
}

/* line 256, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki div.toolbar button.toolbutton:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 260, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
[dir=rtl] .dokuwiki div.toolbar button.toolbutton:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left-width: 1px;
}

/* line 268, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki div.section_highlight {
  margin: 0 -2em;
  padding: 0 1em;
  border-width: 0 1em;
}

/* line 274, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki textarea.edit {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Bitstream Vera Sans Mono", "Nimbus Mono L", Monaco, "Courier New", monospace;
  font-size: 12px;
  color: #83838f;
}

/* line 280, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki div.preview {
  margin: 0 -2em;
  padding: 0 2em;
}

/* line 284, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki.hasSidebar div.preview {
  border-right: 16em solid #eeeeee;
}

/* line 287, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
[dir=rtl] .dokuwiki.hasSidebar div.preview {
  border-right-width: 0;
  border-left: 16em solid #eeeeee;
}

/* line 291, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki div.preview div.pad {
  padding: 1.556em 0 2em;
}

/*____________ changes to _toc ____________*/
/* line 300, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki h3.toggle {
  padding: .5em 1em;
  margin-bottom: 0;
  font-size: .875em;
  letter-spacing: .1em;
}

/* line 306, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dokuwiki__aside h3.toggle {
  display: none;
}

/* line 310, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki .toggle strong {
  background: transparent url(../img/_wiki/tpl/toc-arrows.png) 0 0;
  width: 8px;
  height: 5px;
  margin: .4em 0 0;
}

/* line 316, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki .toggle.closed strong {
  background-position: 0 -5px;
}

/* line 320, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
.dokuwiki .toggle strong span {
  display: none;
}

/* line 325, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dw__toc > div {
  font-size: 12px;
}

/* line 328, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dw__toc ul {
  padding: 0;
}

/* line 331, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
[dir=rtl] #dw__toc ul {
  padding: 0 1.5em 0 0;
}

/* line 337, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dw__toc ul li.clear {
  list-style: none;
}

/* line 340, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dw__toc ul li div.li {
  padding: .2em 0;
}

/*____________ changes to _imgdetail ____________*/
/* line 347, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dokuwiki__detail {
  padding: 0;
}

/* line 350, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dokuwiki__detail img {
  float: none;
  margin-bottom: 1.4em;
}

/* line 354, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dokuwiki__detail div.img_detail {
  float: none;
}

/* line 358, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dokuwiki__detail div.img_detail dl {
  overflow: hidden;
}

/* line 361, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dokuwiki__detail div.img_detail dl dt {
  float: left;
  width: 9em;
  text-align: right;
  clear: left;
}

/* line 367, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
[dir=rtl] #dokuwiki__detail div.img_detail dl dt {
  float: right;
  text-align: left;
  clear: right;
}

/* line 372, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dokuwiki__detail div.img_detail dl dd {
  margin-left: 9.5em;
}

/* line 375, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
[dir=rtl] #dokuwiki__detail div.img_detail dl dd {
  margin-left: 0;
  margin-right: 9.5em;
}

/* line 391, ../../../../src/packages/docs/css/_wiki/tpl/content.scss */
#dokuwiki__top > #main > .grid {
  position: relative;
}
