/**
 * This file provides the main design styles for the
 * bits that surround the content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author Clarence Lee <clarencedglee@gmail.com>
 */
/* header
********************************************************************/
/* line 22, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__header .headings,
#dokuwiki__header .tools {
  margin-bottom: 1.5em;
  text-align: right;
}

/* line 28, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__header .primaryNav {
  width: 70%;
  float: left;
}

/* line 63, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__header p.claim {
  margin-bottom: 0;
  font-size: 0.875em;
}

/* line 68, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__header .tools {
  margin-top: .5em;
  margin-bottom: 0;
}

/* tools
********************************************************************/
/* highlight selected tool */
/* line 87, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.mode_admin a.action.admin,
.mode_login a.action.login,
.mode_register a.action.register,
.mode_profile a.action.profile,
.mode_recent a.action.recent,
.mode_index a.action.index,
.mode_media a.action.media,
.mode_revisions a.action.revs,
.mode_backlink a.action.backlink,
.mode_subscribe a.action.subscribe {
  font-weight: bold;
}

/* line 91, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__header .tools ul {
  padding-left: 0;
  margin-bottom: 0;
}

/* line 95, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__header .tools li {
  font-size: 0.875em;
  margin-left: 1em;
  list-style: none;
  display: inline;
}

/* line 101, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
[dir=rtl] #dokuwiki__header .tools li {
  margin-right: 1em;
  margin-left: 0;
}

/* line 105, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__header .tools form.search div.ajax_qsearch li {
  font-size: 1em;
  margin-left: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 113, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__usertools .adminNav a.action {
  padding-left: 20px;
  background: transparent url(../img/_wiki/tpl/usertools.png) no-repeat 0 0;
}

/* line 117, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
[dir=rtl] #dokuwiki__usertools a.action {
  padding-left: 0;
  padding-right: 20px;
}

/* line 121, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
[dir=rtl] #IE7 #dokuwiki__usertools a.action {
  display: inline-block;
}

/* line 126, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__header .mobileTools {
  display: none;
  /* hide mobile tools dropdown to only show in mobile view */
}

/*____________ user tools ____________*/
/* line 152, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__usertools a.action.admin {
  background-position: left 0;
}

/* line 155, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__usertools a.action.profile {
  background-position: left -32px;
}

/* line 158, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__usertools a.action.register {
  background-position: left -64px;
}

/* line 161, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__usertools a.action.login {
  background-position: left -96px;
}

/* line 164, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__usertools a.action.logout {
  background-position: left -128px;
}

/*____________ site tools ____________*/
/* line 171, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__sitetools {
  text-align: right;
  display: block;
  width: 28%;
  float: right;
}
/* line 177, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__sitetools form {
  margin: 0;
}

/* line 183, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__sitetools form.search {
  display: block;
  font-size: 0.875em;
  position: relative;
}

/* line 188, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#IE7 #dokuwiki__sitetools form.search {
  min-height: 1px;
  z-index: 21;
}

/* line 192, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__sitetools form.search input.edit {
  width: 16.5em;
  padding: 3px 22px 3px 8px;
  margin-top: 9px;
  height: 19px;
  border: none;
}

/* line 200, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__sitetools form.search input.button {
  background: transparent url(../img/_wiki/tpl/search.png) no-repeat 0 0;
  border-width: 0;
  width: 19px;
  height: 14px;
  text-indent: -99999px;
  margin-left: -22px;
  box-shadow: none;
  padding: 0;
}

/* line 210, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
[dir=rtl] #dokuwiki__sitetools form.search input.button {
  background-position: 5px 0;
  margin-left: 0;
  margin-right: -20px;
  position: relative;
}

/* line 217, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__sitetools ul {
  margin-top: 0.5em;
}

/*____________ breadcrumbs ____________*/
/* line 225, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.dokuwiki div.breadcrumbs {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid white;
  margin-bottom: .5em;
  font-size: 0.875em;
  clear: both;
}

/* line 232, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.dokuwiki div.breadcrumbs div {
  padding: .1em .35em;
}

/* line 236, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.dokuwiki div.breadcrumbs div:only-child {
  border-top: 1px solid white;
  border-bottom: 1px solid #cccccc;
}

/* line 240, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.dokuwiki div.breadcrumbs div:first-child {
  border-top: 1px solid white;
}

/* line 244, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#IE7 .dokuwiki div.breadcrumbs div,
#IE8 .dokuwiki div.breadcrumbs div {
  border-bottom: 1px solid #cccccc;
}

/* line 247, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.dokuwiki div.breadcrumbs div:last-child {
  border-bottom: 1px solid #cccccc;
}

/* line 251, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.dokuwiki div.breadcrumbs a {
  color: #2b73b7;
  background-color: inherit;
}

/* line 255, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.dokuwiki div.breadcrumbs .bcsep {
  font-size: 0.75em;
}

/* line 265, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.wikiNav {
  background: black;
  height: 42px;
}
/* line 269, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.wikiNav .sprite-32a-sony-logo-sm-short {
  margin: 2px 0 0 -3px;
}
/* line 274, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.wikiNav .primaryNav ul li {
  display: inline-block;
  margin-top: 7px;
}
/* line 277, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.wikiNav .primaryNav ul li.navLogo {
  margin-right: 20px;
}
/* line 281, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.wikiNav .primaryNav ul li a {
  font-family: arial, sans-serif;
  margin-right: 19px;
  color: #d2d2db;
  -webkit-font-smoothing: antialiased;
  font-size: 0.9375em;
}
/* line 288, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.wikiNav .primaryNav ul li a:hover, .wikiNav .primaryNav ul li a:active {
  color: white;
}
/* line 292, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.wikiNav .primaryNav ul li.activeNav a {
  color: white;
}

/* sidebar
********************************************************************/
/* line 328, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__aside > .pad {
  font-size: 0.875em;
  overflow: hidden;
  word-wrap: break-word;
}

/* make sidebar more condensed */
/* line 336, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__aside h1 {
  font-size: 1.714em;
  margin-bottom: .292em;
}

/* line 340, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__aside h2 {
  margin-bottom: .333em;
}

/* line 343, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__aside h3 {
  margin-bottom: .444em;
}

/* line 346, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__aside h4 {
  margin-bottom: .5em;
}

/* line 349, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__aside h5 {
  margin-bottom: .5714em;
}

/* line 362, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__aside p,
#dokuwiki__aside ul,
#dokuwiki__aside ol,
#dokuwiki__aside dl,
#dokuwiki__aside pre,
#dokuwiki__aside table,
#dokuwiki__aside fieldset,
#dokuwiki__aside hr,
#dokuwiki__aside blockquote,
#dokuwiki__aside address {
  margin-bottom: .7em;
}

/* line 367, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__aside ul,
#dokuwiki__aside ol {
  padding-left: .5em;
}

/* line 371, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
[dir=rtl] #dokuwiki__aside ul,
[dir=rtl] #dokuwiki__aside ol {
  padding-right: .5em;
}

/* line 375, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__aside li ul,
#dokuwiki__aside li ol {
  margin-bottom: 0;
  padding: 0;
}

/* line 381, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__aside a:link,
#dokuwiki__aside a:visited {
  color: #2b73b7;
  background-color: inherit;
}

/* content
********************************************************************/
/* line 393, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.dokuwiki .pageId {
  overflow: hidden;
}

/* line 400, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.dokuwiki .pageId span {
  font-size: 0.875em;
  border-width: 1px 1px 0;
  color: #999999;
  padding: .1em .35em;
  display: block;
}

/* line 425, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.dokuwiki .docInfo {
  font-size: 0.875em;
  text-align: right;
  margin-top: 20px;
}

/* line 430, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
[dir=rtl] .dokuwiki .docInfo {
  text-align: left;
}

/* license note under edit window */
/* line 435, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.dokuwiki div.license {
  font-size: 93.75%;
}

/* footer
********************************************************************/
/* line 443, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
.dokuwiki .wrapper {
  margin-bottom: 1.4em;
}

/* line 447, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__footer {
  margin-bottom: 1em;
  text-align: center;
}

/* line 451, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__footer > .pad {
  font-size: 0.875em;
}

/* line 455, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__footer div.license {
  margin-bottom: 0.5em;
  font-size: 100%;
}

/* line 460, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
[dir=rtl] #dokuwiki__footer .license img {
  margin: 0 0 0 .5em;
}

/* line 464, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__footer div.buttons a img {
  opacity: 0.5;
}

/* line 469, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
#dokuwiki__footer div.buttons a:hover img,
#dokuwiki__footer div.buttons a:active img,
#dokuwiki__footer div.buttons a:focus img {
  opacity: 1;
}

/* line 476, ../../../../src/packages/docs/css/_wiki/tpl/design.scss */
input,
textarea {
  width: auto;
}
