/*    ________    _______  __ ________  __    ______   ____  ____ _  __    __  _______  ____  ________ 
	   / ____/ /   / ____/ |/ //  _/ __ )/ /   / ____/  / __ )/ __ \ |/ /   /  |/  / __ \/ __ \/ ____/ / 
	  / /_  / /   / __/  |   / / // __  / /   / __/    / __  / / / /   /   / /|_/ / / / / / / / __/ / /  
	 / __/ / /___/ /___ /   |_/ // /_/ / /___/ /___   / /_/ / /_/ /   |   / /  / / /_/ / /_/ / /___/ /___
	/_/   /_____/_____//_/|_/___/_____/_____/_____/  /_____/\____/_/|_|  /_/  /_/\____/_____/_____/_____/
*/
/**
 * This file provides the styles for the fullscreen media manager
 * (?do=media).
 *
 * What most templates would probably need to change (depending on
 * their site width) are the 4 min-width's (search for @change).
 */
/*____________ structure ____________*/
/* line 17, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page h1 {
  margin-bottom: .5em;
}

/* line 21, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page {
  /* min-width must be summary of all 3 panels' min-widths */
  min-width: 50em;
  /* @change */
  width: 100%;
  text-align: left;
}

/* line 28, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .panel {
  float: left;
}

/* line 32, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .namespaces {
  width: 20%;
  min-width: 10em;
  /* @change */
}

/* line 36, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist {
  width: 50%;
  min-width: 25em;
  /* @change */
}

/* line 40, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .file {
  width: 30%;
  min-width: 15em;
  /* @change */
}

/* line 45, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .panelHeader {
  background-color: #eeeeee;
  margin: 0 10px 10px 0;
  padding: 10px 10px 8px;
  text-align: left;
  min-height: 20px;
  overflow: hidden;
}

/* line 54, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .panelContent {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0 10px 10px 0;
  position: relative;
}

/* line 61, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
[dir=rtl] #mediamanager__page .panelContent {
  text-align: right;
}

/* line 66, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .file .panelHeader,
#mediamanager__page .file .panelContent {
  margin-right: 0;
}

/* line 70, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .ui-resizable-e {
  width: 6px;
  right: 2px;
  background: transparent url(../img/_wiki/resizecol.png) center center no-repeat;
}

/* line 75, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .ui-resizable-e:hover {
  background-color: #eeeeee;
}

/* line 80, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page dd {
  margin: 0;
}

/* line 84, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .panelHeader h3 {
  float: left;
  font-weight: normal;
  font-size: 1em;
  padding: 0;
  margin: 0 0 3px;
}

/*____________ namespaces panel ____________*/
/* line 95, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
[dir=rtl] #mediamanager__page .namespaces {
  text-align: right;
}

/* make it look like a tab (as in _tabs.css) */
/* line 100, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .namespaces h2 {
  font-size: 1em;
  display: inline-block;
  padding: 0.3em 0.8em;
  margin: 0 0 0 0.3em;
  border-radius: 0.5em 0.5em 0 0;
  font-weight: normal;
  background-color: #eeeeee;
  color: #333333;
  border: 1px solid #cccccc;
  border-bottom-color: #eeeeee;
  line-height: 1.4em;
  position: relative;
  bottom: -1px;
  z-index: 2;
}

/* line 117, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
* html #mediamanager__page .namespaces h2,
* + html #mediamanager__page .namespaces h2 {
  display: inline;
}

/* line 120, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
[dir=rtl] #mediamanager__page .namespaces h2 {
  margin: 0 0.3em 0 0;
  position: relative;
  right: 10px;
}

/* line 125, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .namespaces .panelHeader {
  border-top: 1px solid #cccccc;
  z-index: 1;
}

/* line 130, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .namespaces ul {
  margin-left: .2em;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

/* line 136, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
[dir=rtl] #mediamanager__page .namespaces ul {
  margin-left: 0;
  margin-right: .2em;
}

/* line 140, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .namespaces ul ul {
  margin-left: 1em;
}

/* line 143, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
[dir=rtl] #mediamanager__page .namespaces ul ul {
  margin-left: 0;
  margin-right: 1em;
}

/* line 147, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .namespaces ul ul li {
  margin: 0;
}

/* line 151, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .namespaces ul .selected {
  background-color: #ffff99;
  font-weight: bold;
}

/*____________ file list panel ____________*/
/* file list header */
/* line 161, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .panelHeader form.options {
  float: right;
  margin-top: -3px;
}

/* line 166, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .panelHeader ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 171, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .panelHeader ul li {
  color: #333333;
  float: left;
  line-height: 1;
  padding-left: 3px;
}

/* line 177, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
[dir=rtl] #mediamanager__page .panelHeader ul li {
  margin-right: 0;
  margin-left: .5em;
}

/* line 182, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .panelHeader ul li.listType {
  padding-left: 30px;
  margin: 0 0 0 5px;
  background: url("../img/_wiki/icon-list.png") 3px 1px no-repeat;
}

/* line 187, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .panelHeader ul li.sortBy {
  padding-left: 30px;
  margin: 0 0 0 5px;
  background: url("../img/_wiki/icon-sort.png") 3px 1px no-repeat;
}

/* line 193, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .panelHeader form.options .ui-buttonset label {
  font-size: 90%;
  margin-right: -0.4em;
}

/* line 197, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .panelHeader form.options .ui-buttonset .ui-button-text {
  padding: 0.3em 0.5em;
  line-height: 1;
}

/* file list content */
/* line 204, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist ul {
  padding: 0;
  margin: 0 10px 0 0;
}

/* line 208, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
[dir=rtl] #mediamanager__page .filelist ul {
  margin: 0 10px 0 0;
}

/* line 212, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist .panelContent ul li:hover {
  background-color: #eeeeee;
}

/* line 216, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist li dt a {
  vertical-align: middle;
  display: table-cell;
  overflow: hidden;
}

/* line 222, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
* html #mediamanager__page .filelist .thumbs li dt a,
* + html #mediamanager__page .filelist .thumbs li dt a {
  display: block;
}

/* line 226, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
* html #mediamanager__page .filelist .rows li dt a,
* + html #mediamanager__page .filelist .rows li dt a {
  display: inline;
}

/* file list as thumbs */
/* line 232, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist .thumbs li {
  width: 100px;
  min-height: 130px;
  display: inline-block;
  display: -moz-inline-stack;
  /* the right margin should visually be 10px, but because of its inline-block nature the whitespace inbetween is about 4px more */
  margin: 0 6px 10px 0;
  background-color: #dddddd;
  color: #333333;
  padding: 5px;
  vertical-align: top;
  text-align: center;
  position: relative;
  line-height: 1.2;
}

/* line 247, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
[dir=rtl] #mediamanager__page .filelist .thumbs li {
  margin-right: 0;
  margin-left: 6px;
}

/* line 252, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
* html #mediamanager__page .filelist .thumbs li,
* + html #mediamanager__page .filelist .thumbs li {
  display: inline;
  zoom: 1;
}

/* line 257, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist .thumbs li dt a {
  width: 100px;
  height: 90px;
}

/* line 262, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist .thumbs li dt a img {
  max-width: 90px;
  max-height: 90px;
}

/* line 270, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist .thumbs li .name,
#mediamanager__page .filelist .thumbs li .size,
#mediamanager__page .filelist .thumbs li .filesize,
#mediamanager__page .filelist .thumbs li .date {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90px;
  white-space: nowrap;
}

/* line 277, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist .thumbs li .name {
  padding: 5px 0;
  font-weight: bold;
}

/* line 281, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist .thumbs li .date {
  font-style: italic;
  white-space: normal;
}

/* file list as rows */
/* line 288, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist .rows li {
  list-style: none;
  display: block;
  position: relative;
  max-height: 50px;
  margin: 0;
  margin-bottom: 3px;
  background-color: white;
  color: #333333;
  overflow: hidden;
}

/* line 300, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist .rows li:nth-child(2n+1) {
  background-color: #dddddd;
}

/* line 304, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist .rows li dt {
  float: left;
  width: 10%;
  height: 40px;
  text-align: center;
}

/* line 311, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist .rows li dt a {
  width: 100px;
  height: 40px;
}

/* line 316, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist .rows li dt a img {
  max-width: 40px;
  max-height: 40px;
}

/* line 324, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist .rows li .name,
#mediamanager__page .filelist .rows li .size,
#mediamanager__page .filelist .rows li .filesize,
#mediamanager__page .filelist .rows li .date {
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  margin-left: 1%;
  white-space: nowrap;
}

/* line 332, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist .rows li .name {
  width: 30%;
  font-weight: bold;
}

/* line 337, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist .rows li .size,
#mediamanager__page .filelist .rows li .filesize {
  width: 15%;
}

/* line 340, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .filelist .rows li .date {
  width: 20%;
  font-style: italic;
  white-space: normal;
}

/* upload form */
/* line 348, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page div.upload {
  padding-bottom: 0.5em;
}

/*____________ file panel ____________*/
/* line 354, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .file ul.actions {
  text-align: center;
  margin: 0 0 5px;
  padding: 0;
  list-style: none;
}

/* line 360, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .file ul.actions li {
  display: inline;
  margin: 0;
}

/* line 365, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .file div.image {
  margin-bottom: 5px;
  text-align: center;
}

/* line 370, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .file div.image img {
  width: 100%;
}

/* line 374, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .file dl {
  margin-bottom: 0;
}

/* line 377, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .file dl dt {
  font-weight: bold;
  display: block;
  background-color: #eeeeee;
}

/* line 382, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .file dl dd {
  display: block;
  background-color: #dddddd;
}

/* file meta data edit form */
/* line 390, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page form.meta div.row {
  margin-bottom: 5px;
}

/* line 394, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page form.meta label span {
  display: block;
}

/* line 398, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page form.meta input {
  width: 50%;
}

/* line 402, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page form.meta input.button {
  width: auto;
}

/* line 406, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page form.meta textarea.edit {
  height: 6em;
  width: 95%;
  min-width: 95%;
  max-width: 95%;
}

/* file revisions form */
/* line 415, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page #page__revisions ul {
  margin-left: 10px;
  padding: 0;
  list-style-type: none;
}

/* line 421, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page #page__revisions ul li div.li div {
  font-size: 90%;
  color: #666666;
  padding-left: 18px;
}

/* line 427, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page #page__revisions ul li div.li input {
  position: relative;
  top: 1px;
}

/* file diff view */
/* line 434, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__diff table {
  table-layout: fixed;
  border-width: 0;
}

/* line 440, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__diff td,
#mediamanager__diff th {
  width: 48%;
  margin: 0 5px 10px 0;
  padding: 0;
  vertical-align: top;
  text-align: left;
  border-color: white;
}

/* line 449, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
[dir=rtl] #mediamanager__diff td,
[dir=rtl] #mediamanager__diff th {
  text-align: right;
}

/* line 453, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__diff th {
  font-weight: normal;
  background-color: white;
  line-height: 1.2;
}

/* line 458, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__diff th a {
  font-weight: bold;
}

/* line 461, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__diff th span {
  font-size: 90%;
}

/* line 465, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__diff dl dd strong {
  background-color: #ffff99;
  color: #333333;
  font-weight: normal;
}

/* image diff views */
/* line 473, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__page .file form.diffView {
  margin-bottom: 10px;
  display: block;
}

/* line 478, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__diff div.slider {
  margin: 10px;
  width: 95%;
}

/* line 483, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__diff .imageDiff {
  position: relative;
}

/* line 486, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__diff .imageDiff .image2 {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 492, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__diff .imageDiff.opacity .image2 {
  opacity: 0.5;
}

/* line 496, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__diff .imageDiff.portions .image2 {
  border-right: 1px solid red;
  overflow: hidden;
}

/* line 501, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__diff .imageDiff.portions img {
  float: left;
}

/* line 505, ../../../../src/packages/docs/css/_wiki/tpl/media_fullscreen.scss */
#mediamanager__diff .imageDiff img {
  width: 100%;
  max-width: none;
}
