/*    ________    _______  __ ________  __    ______   ____  ____ _  __    __  _______  ____  ________ 
	   / ____/ /   / ____/ |/ //  _/ __ )/ /   / ____/  / __ )/ __ \ |/ /   /  |/  / __ \/ __ \/ ____/ / 
	  / /_  / /   / __/  |   / / // __  / /   / __/    / __  / / / /   /   / /|_/ / / / / / / / __/ / /  
	 / __/ / /___/ /___ /   |_/ // /_/ / /___/ /___   / /_/ / /_/ /   |   / /  / / /_/ / /_/ / /___/ /___
	/_/   /_____/_____//_/|_/___/_____/_____/_____/  /_____/\____/_/|_|  /_/  /_/\____/_____/_____/_____/
*/
/**
 * This file provides styles for mobile devices
 * and smaller screens (up to 480px and 768px width).
 *
 * @author Anika Henke <anika@selfthinker.org>
 */
/* for detecting media queries in JavaScript (see script.js): */
/* line 13, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
#screen__mode {
  position: relative;
  z-index: 0;
}

/* for screen widths in the tablet range
********************************************************************/
@media only screen and (max-width: 800px) {
  /* line 22, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #screen__mode {
    z-index: 1;
    /* for detecting media queries in JavaScript (see script.js) */
  }

  /* structure */
  /* line 27, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__aside {
    width: 100%;
    float: none;
  }

  /* line 33, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__aside > .pad,
  [dir=rtl] #dokuwiki__aside > .pad {
    margin: 0 0 0.5em;
    /* style like .page */
    background: white;
    color: inherit;
    border: 1px solid #eeeeee;
    box-shadow: 0 0 0.5em #999999;
    border-radius: 2px;
    padding: 1em;
    margin-bottom: .5em;
  }

  /* line 45, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__aside h3.toggle {
    font-size: 1em;
  }

  /* line 48, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__aside h3.toggle.closed {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  /* line 52, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__aside h3.toggle.open {
    border-bottom: 1px solid #cccccc;
  }

  /* line 56, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  .showSidebar #dokuwiki__content {
    float: none;
    margin-left: 0;
    width: 100%;
  }

  /* line 61, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  .showSidebar #dokuwiki__content > .pad {
    margin-left: 0;
  }

  /* line 66, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  [dir=rtl] .showSidebar #dokuwiki__content,
  [dir=rtl] .showSidebar #dokuwiki__content > .pad {
    margin-right: 0;
  }

  /* toc */
  /* line 71, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dw__toc {
    float: none;
    margin: 0 0 1em 0;
    width: auto;
    border-left-width: 0;
    border-bottom: 1px solid #cccccc;
  }

  /* line 78, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  [dir=rtl] #dw__toc {
    float: none;
    margin: 0 0 1em 0;
    border-right-width: 0;
  }

  /* line 84, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  .dokuwiki h3.toggle {
    padding: 0 0.5em 0.5em 0;
  }

  /* line 88, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dw__toc > div,
  #dokuwiki__aside div.content {
    padding: 0.2em 0 0.5em;
  }

  /* page */
  /* line 93, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  .dokuwiki div.page {
    padding: 1em;
  }

  /* enable horizontal scrolling in media manager */
  /* line 97, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  .mode_media div.page {
    overflow: auto;
  }

  /* _edit */
  /* line 102, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  .dokuwiki div.section_highlight {
    margin: 0 -1em;
    padding: 0 0.5em;
    border-width: 0 0.5em;
  }

  /* line 107, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  .dokuwiki div.preview {
    margin: 0 -1em;
    padding: 1em;
  }

  /* _recent */
  /* line 113, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  .dokuwiki form.changes ul {
    padding-left: 0;
  }

  /* line 116, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  [dir=rtl] .dokuwiki form.changes ul {
    padding-right: 0;
  }
}
/* /@media */
/* for screen widths in the smartphone range
********************************************************************/
@media only screen and (max-width: 480px) {
  /* line 128, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #screen__mode {
    z-index: 2;
    /* for detecting media queries in JavaScript (see script.js) */
  }

  /* line 132, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  body {
    font-size: 100%;
  }

  /*____________ structure ____________*/
  /* line 138, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__site {
    max-width: 100%;
  }

  /* line 141, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__site > .site {
    padding: 0 0.5em;
  }

  /* line 144, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__header {
    padding: 0.5em 0;
  }

  /*____________ header ____________*/
  /* line 151, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__header ul.a11y.skip {
    position: static !important;
    left: 0 !important;
    width: auto !important;
    height: auto !important;
    float: right;
    font-size: 0.875em;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  /* line 162, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  [dir=rtl] #dokuwiki__header ul.a11y.skip {
    left: auto !important;
    right: 0 !important;
    float: left;
    padding-right: 0;
  }

  /* line 168, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__header ul.a11y.skip li {
    margin-left: .35em;
    display: inline;
  }

  /* line 172, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  [dir=rtl] #dokuwiki__header ul.a11y.skip li {
    margin: 0 0.35em 0 0;
  }

  /* line 177, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__header .headings,
  #dokuwiki__header .tools {
    float: none;
    text-align: left;
    width: auto;
    margin-bottom: .5em;
  }

  /* line 184, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  [dir=rtl] #dokuwiki__header .headings,
  [dir=rtl] #dokuwiki__header .tools {
    float: none;
    text-align: right;
    width: auto;
  }

  /* line 189, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__sitetools {
    text-align: left;
  }

  /* line 192, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  [dir=rtl] #dokuwiki__sitetools {
    text-align: right;
  }

  /* line 200, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__usertools,
  #dokuwiki__sitetools ul,
  #dokuwiki__sitetools h3,
  #dokuwiki__pagetools,
  .dokuwiki div.breadcrumbs,
  .dokuwiki .pageId {
    display: none;
  }

  /* search form */
  /* line 205, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__sitetools form.search {
    float: left;
    margin: 0 0.2em 0.2em 0;
    width: 49%;
  }

  /* line 210, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  [dir=rtl] #dokuwiki__sitetools form.search {
    float: right;
    margin: 0 0 0.2em 0.2em;
  }

  /* line 215, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__sitetools form.search input.edit {
    width: 100% !important;
  }

  /* line 218, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  .dokuwiki form.search div.ajax_qsearch {
    display: none !important;
  }

  /* action dropdown is alternative for all hidden tools */
  /* line 223, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__header .mobileTools {
    display: block;
    font-size: 0.875em;
    margin: 0 0 0.2em 0;
    float: right;
    width: 49%;
  }

  /* line 230, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  [dir=rtl] #dokuwiki__header .mobileTools {
    float: left;
  }

  /* line 233, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__header .mobileTools select {
    padding: 0.3em 0.1em;
    width: 100% !important;
  }

  /* force same height on search input and tools select */
  /* line 240, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__sitetools form.search input.edit,
  #dokuwiki__header .mobileTools select {
    height: 2.1em;
    line-height: 2.1em;
    overflow: visible;
  }

  /*____________ content ____________*/
  /* line 250, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #dokuwiki__aside > .pad,
  .dokuwiki div.page {
    padding: .5em;
  }

  /* form elements */
  /* line 260, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #config__manager fieldset td.value,
  #config__manager td .input,
  .dokuwiki fieldset,
  .dokuwiki input.edit,
  .dokuwiki textarea,
  .dokuwiki select {
    width: auto !important;
    max-width: 100% !important;
  }

  /* line 264, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  #config__manager fieldset {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 269, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  .dokuwiki label.block {
    text-align: left;
  }

  /* line 272, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  [dir=rtl] .dokuwiki label.block {
    text-align: right;
  }

  /* line 275, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  .dokuwiki label.block span {
    display: block;
  }

  /* _edit */
  /* line 280, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  .dokuwiki div.section_highlight {
    margin: 0;
    padding: 0;
    border-width: 0;
  }

  /* line 285, ../../../../src/packages/docs/css/_wiki/tpl/mobile.scss */
  .dokuwiki div.preview {
    margin: 0 -0.5em;
    padding: .5em;
  }
}
/* /@media */
