/**
 * This file provides the styles for the page tools
 * (fly out navigation beside the page to edit, etc).
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 */
/* line 14, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__site > .site {
  /* give space to the right so the tools won't disappear on smaller screens */
  /* it's 40px because the 30px wide icons will have 5px more spacing to the left and right */
  /* give the same space to the left to balance it out */
}

/* line 21, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
.dokuwiki div.page {
  height: 190px;
  min-height: 190px;
  /* 30 (= height of icons) x 6 (= maximum number of possible tools) + 2x5 */
  height: auto;
}

/* line 26, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__usertools {
  font-size: 0.75em;
}

/* line 29, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
.Admin.intro {
  padding-top: 10px;
}
/* line 31, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
.Admin.intro p {
  font-size: 0.75em;
}

/* line 35, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__usertools {
  right: auto;
  left: 40px;
}

/* line 41, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools {
  position: absolute;
  right: -40px;
  /* on same vertical level as first headline, because .page has 2em padding */
  top: 2em;
  width: 40px;
}

/* line 48, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools {
  right: auto;
  left: -40px;
}

/* line 53, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools div.tools {
  position: fixed;
  width: 40px;
}

/* line 58, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul {
  position: absolute;
  right: 0;
  text-align: right;
  margin: 0;
  padding: 0;
  /* add transparent border to prevent jumping when proper border is added on hover */
  border: 1px solid transparent;
  z-index: 10;
}

/* line 68, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul {
  right: auto;
  left: 0;
  text-align: left;
}

/* line 74, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0.875em;
}

/* line 81, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a {
  display: block;
  min-height: 20px;
  /* 30 - 2x5 */
  line-height: 20px;
  padding: 0;
  background-position: right 0;
  background-repeat: no-repeat;
  /* add transparent border to prevent jumping when proper border is added on focus */
  border: 1px solid transparent;
  white-space: nowrap;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-left: auto;
  /* align right if the ul is larger because one item is focused */
}

/* line 97, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a:before {
  content: url(../img/_wiki/tpl/pagetools-sprite.png);
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

/* line 104, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a {
  background-position: left 0;
  margin-right: auto;
  margin-left: 0;
}

/* show all tools on hover and individual tools on focus */
/* line 113, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools:hover ul,
#dokuwiki__pagetools ul li a:focus,
#dokuwiki__pagetools ul li a:active {
  background-color: white;
  border-color: #cccccc;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #999999;
}

/* line 122, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools:hover ul li a,
#dokuwiki__pagetools ul li a:focus,
#dokuwiki__pagetools ul li a:active {
  width: auto;
  height: auto;
  overflow: visible;
  padding: 5px 40px 5px 5px;
  background-image: url(../img/_wiki/tpl/pagetools-sprite.png);
}

/* line 131, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools:hover ul li a:before,
#dokuwiki__pagetools ul li a:focus:before {
  content: none;
}

/* line 136, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools:hover ul,
[dir=rtl] #dokuwiki__pagetools ul li a:focus {
  box-shadow: -2px 2px 2px #999999;
}

/* line 142, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools:hover li a,
[dir=rtl] #dokuwiki__pagetools ul li a:focus,
[dir=rtl] #dokuwiki__pagetools ul li a:active {
  padding: 5px 5px 5px 40px;
}

/* IE7 fixes, doesn't work without images */
/* line 148, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#IE7 #dokuwiki__pagetools ul li a {
  background-image: url(../img/_wiki/tpl/pagetools-sprite.png);
}

/* line 154, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#IE7 #dokuwiki__pagetools:hover ul li a span,
#IE7 #dokuwiki__pagetools ul li a:focus span,
#IE7 #dokuwiki__pagetools ul li a:active span {
  clip: auto;
  display: inline;
  position: static;
}

/* line 160, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#IE7 #dokuwiki__pagetools ul li a span {
  clip: rect(0 0 0 0);
  position: absolute;
}

/* line 167, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a:hover,
#dokuwiki__pagetools ul li a:active,
#dokuwiki__pagetools ul li a:focus {
  text-decoration: none;
}

/* line 170, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a:hover {
  background-color: #eeeeee;
}

/*____________ all available icons in sprite ____________*/
/* line 176, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.edit {
  background-position: right 0;
}

/* line 181, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.edit:hover,
#dokuwiki__pagetools ul li a.edit:active,
#dokuwiki__pagetools ul li a.edit:focus {
  background-position: right -45px;
}

/* line 184, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.edit {
  background-position: left 0;
}

/* line 189, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.edit:hover,
[dir=rtl] #dokuwiki__pagetools ul li a.edit:active,
[dir=rtl] #dokuwiki__pagetools ul li a.edit:focus {
  background-position: left -45px;
}

/* line 193, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.create:before {
  margin-top: -90px;
}

/* line 196, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.create {
  background-position: right -90px;
}

/* line 201, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.create:hover,
#dokuwiki__pagetools ul li a.create:active,
#dokuwiki__pagetools ul li a.create:focus {
  background-position: right -135px;
}

/* line 204, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.create {
  background-position: left -90px;
}

/* line 209, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.create:hover,
[dir=rtl] #dokuwiki__pagetools ul li a.create:active,
[dir=rtl] #dokuwiki__pagetools ul li a.create:focus {
  background-position: left -135px;
}

/* line 213, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.show {
  background-position: right -270px;
}

/* line 216, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.show:before {
  margin-top: -270px;
}

/* line 221, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.show:hover,
#dokuwiki__pagetools ul li a.show:active,
#dokuwiki__pagetools ul li a.show:focus {
  background-position: right -315px;
}

/* line 224, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.show {
  background-position: left -270px;
}

/* line 229, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.show:hover,
[dir=rtl] #dokuwiki__pagetools ul li a.show:active,
[dir=rtl] #dokuwiki__pagetools ul li a.show:focus {
  background-position: left -315px;
}

/* line 233, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.source {
  background-position: right -360px;
}

/* line 236, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.source:before {
  margin-top: -360px;
}

/* line 241, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.source:hover,
#dokuwiki__pagetools ul li a.source:active,
#dokuwiki__pagetools ul li a.source:focus {
  background-position: right -405px;
}

/* line 244, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.source {
  background-position: left -360px;
}

/* line 249, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.source:hover,
[dir=rtl] #dokuwiki__pagetools ul li a.source:active,
[dir=rtl] #dokuwiki__pagetools ul li a.source:focus {
  background-position: left -405px;
}

/* line 253, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.draft {
  background-position: right -180px;
}

/* line 256, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.draft:before {
  margin-top: -180px;
}

/* line 261, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.draft:hover,
#dokuwiki__pagetools ul li a.draft:active,
#dokuwiki__pagetools ul li a.draft:focus {
  background-position: right -225px;
}

/* line 264, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.draft {
  background-position: left -180px;
}

/* line 269, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.draft:hover,
[dir=rtl] #dokuwiki__pagetools ul li a.draft:active,
[dir=rtl] #dokuwiki__pagetools ul li a.draft:focus {
  background-position: left -225px;
}

/* line 273, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.revs {
  background-position: right -540px;
}

/* line 276, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.revs:before {
  margin-top: -540px;
}

/* line 282, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.revs:hover,
#dokuwiki__pagetools ul li a.revs:active,
#dokuwiki__pagetools ul li a.revs:focus,
.mode_revisions #dokuwiki__pagetools ul li a.revs {
  background-position: right -585px;
}

/* line 285, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
.mode_revisions #dokuwiki__pagetools ul li a.revs:before {
  margin-top: -585px;
}

/* line 288, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.revs {
  background-position: left -540px;
}

/* line 294, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.revs:hover,
[dir=rtl] #dokuwiki__pagetools ul li a.revs:active,
[dir=rtl] #dokuwiki__pagetools ul li a.revs:focus,
[dir=rtl] .mode_revisions #dokuwiki__pagetools ul li a.revs {
  background-position: left -585px;
}

/* line 298, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.backlink {
  background-position: right -630px;
}

/* line 301, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.backlink:before {
  margin-top: -630px;
}

/* line 307, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.backlink:hover,
#dokuwiki__pagetools ul li a.backlink:active,
#dokuwiki__pagetools ul li a.backlink:focus,
.mode_backlink #dokuwiki__pagetools ul li a.backlink {
  background-position: right -675px;
}

/* line 310, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
.mode_backlink #dokuwiki__pagetools ul li a.backlink:before {
  margin-top: -675px;
}

/* line 313, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.backlink {
  background-position: left -630px;
}

/* line 319, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.backlink:hover,
[dir=rtl] #dokuwiki__pagetools ul li a.backlink:active,
[dir=rtl] #dokuwiki__pagetools ul li a.backlink:focus,
[dir=rtl] .mode_backlink #dokuwiki__pagetools ul li a.backlink {
  background-position: left -675px;
}

/* line 323, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.top {
  background-position: right -810px;
}

/* line 326, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.top:before {
  margin-top: -810px;
}

/* line 331, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.top:hover,
#dokuwiki__pagetools ul li a.top:active,
#dokuwiki__pagetools ul li a.top:focus {
  background-position: right -855px;
}

/* line 334, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.top {
  background-position: left -810px;
}

/* line 339, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.top:hover,
[dir=rtl] #dokuwiki__pagetools ul li a.top:active,
[dir=rtl] #dokuwiki__pagetools ul li a.top:focus {
  background-position: left -855px;
}

/* line 343, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.revert {
  background-position: right -450px;
}

/* line 346, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.revert:before {
  margin-top: -450px;
}

/* line 352, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.revert:hover,
#dokuwiki__pagetools ul li a.revert:active,
#dokuwiki__pagetools ul li a.revert:focus,
.mode_revert #dokuwiki__pagetools ul li a.revert {
  background-position: right -495px;
}

/* line 355, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
.mode_revert #dokuwiki__pagetools ul li a.revert:before {
  margin-top: -450px;
}

/* line 358, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.revert {
  background-position: left -450px;
}

/* line 364, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.revert:hover,
[dir=rtl] #dokuwiki__pagetools ul li a.revert:active,
[dir=rtl] #dokuwiki__pagetools ul li a.revert:focus,
[dir=rtl] .mode_revert #dokuwiki__pagetools ul li a.revert {
  background-position: left -495px;
}

/* line 368, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.subscribe {
  background-position: right -720px;
}

/* line 371, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.subscribe:before {
  margin-top: -720px;
}

/* line 377, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.subscribe:hover,
#dokuwiki__pagetools ul li a.subscribe:active,
#dokuwiki__pagetools ul li a.subscribe:focus,
.mode_subscribe #dokuwiki__pagetools ul li a.subscribe {
  background-position: right -765px;
}

/* line 380, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
.mode_subscribe #dokuwiki__pagetools ul li a.subscribe:before {
  margin-top: -765px;
}

/* line 383, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.subscribe {
  background-position: left -720px;
}

/* line 389, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.subscribe:hover,
[dir=rtl] #dokuwiki__pagetools ul li a.subscribe:active,
[dir=rtl] #dokuwiki__pagetools ul li a.subscribe:focus,
[dir=rtl] .mode_subscribe #dokuwiki__pagetools ul li a.subscribe {
  background-position: left -765px;
}

/* line 393, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.mediaManager {
  background-position: right -900px;
}

/* line 396, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.mediaManager:before {
  margin-top: -900px;
}

/* line 401, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.mediaManager:hover,
#dokuwiki__pagetools ul li a.mediaManager:active,
#dokuwiki__pagetools ul li a.mediaManager:focus {
  background-position: right -945px;
}

/* line 404, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.mediaManager {
  background-position: left -900px;
}

/* line 409, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.mediaManager:hover,
[dir=rtl] #dokuwiki__pagetools ul li a.mediaManager:active,
[dir=rtl] #dokuwiki__pagetools ul li a.mediaManager:focus {
  background-position: left -945px;
}

/* line 413, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.back {
  background-position: right -990px;
}

/* line 416, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.back {
  margin-top: -990px;
}

/* line 421, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
#dokuwiki__pagetools ul li a.back:hover,
#dokuwiki__pagetools ul li a.back:active,
#dokuwiki__pagetools ul li a.back:focus {
  background-position: right -1035px;
}

/* line 424, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.back {
  background-position: left -990px;
}

/* line 429, ../../../../src/packages/docs/css/_wiki/tpl/pagetools.scss */
[dir=rtl] #dokuwiki__pagetools ul li a.back:hover,
[dir=rtl] #dokuwiki__pagetools ul li a.back:active,
[dir=rtl] #dokuwiki__pagetools ul li a.back:focus {
  background-position: left -1035px;
}
