/**
 * Extra styles for sidebar template
 *
 * @author Christopher Smith <chris@jalakai.co.uk>
 */
/* dokuwiki containers & styles */
/* sidebar orientation and position */
/* sidebar presentation */
/* the following three styles use a faux-column image to place a separating line 
   between the sidebar and dokuwiku */
/* sidebar contents */
/* line 124, ../../../../src/packages/docs/css/_wiki/tpl/sidebar.scss */
#sidebar .toc {
  display: none;
}

/* line 132, ../../../../src/packages/docs/css/_wiki/tpl/sidebar.scss */
#sidebar {
  font-size: 12px;
  padding-top: 5px;
  text-transform: capitalize;
}

/* line 146, ../../../../src/packages/docs/css/_wiki/tpl/sidebar.scss */
#sidebar a.wikilink2:hover {
  text-decoration: none;
  cursor: default;
}

/* reduced section indentation */
/* line 152, ../../../../src/packages/docs/css/_wiki/tpl/sidebar.scss */
#sidebar div.level1 {
  margin-left: 0px;
}

/* line 153, ../../../../src/packages/docs/css/_wiki/tpl/sidebar.scss */
#sidebar div.level2 {
  margin-left: 0px;
}

/* line 154, ../../../../src/packages/docs/css/_wiki/tpl/sidebar.scss */
#sidebar div.level3 {
  margin-left: 0px;
}

/* line 155, ../../../../src/packages/docs/css/_wiki/tpl/sidebar.scss */
#sidebar div.level4 {
  margin-left: 0px;
}

/* line 156, ../../../../src/packages/docs/css/_wiki/tpl/sidebar.scss */
#sidebar div.level5 {
  margin-left: 0px;
}

/* line 159, ../../../../src/packages/docs/css/_wiki/tpl/sidebar.scss */
#sidebar ul,
#sidebar ol {
  margin-left: 12px;
}

/* line 162, ../../../../src/packages/docs/css/_wiki/tpl/sidebar.scss */
#index__tree > ul {
  margin-left: 0;
  padding-right: 20px;
}

/* IE fixes (hide from IE Mac) \*/
/* line 169, ../../../../src/packages/docs/css/_wiki/tpl/sidebar.scss */
* html .page .toc {
  height: 1px;
}

/* General Dokuwiki fix. IE needs this to always display TOC contents \*/
/* line 170, ../../../../src/packages/docs/css/_wiki/tpl/sidebar.scss */
* html pre {
  width: 95%;
}

/* General Dokuwiki fix - very important for Sidebar. IE needs this to get the overflow:auto style to kick in \*/
/* line 171, ../../../../src/packages/docs/css/_wiki/tpl/sidebar.scss */
* html .stylehead {
  height: 1px;
}

/* Get IE in hasLayout mode to ensure the background covers the whole element \*/
/* line 174, ../../../../src/packages/docs/css/_wiki/tpl/sidebar.scss */
* html .sidebar_inside_left .page, * html .sidebar_inside_right .page,
* html .sidebar_inside_left .meta, * html .sidebar_inside_right .meta {
  width: 77%;
  /* IE needs extra gap to ensure #sidebar & .page float next to each other \*/
  overflow-x: auto;
  /* IE proprietary property to prevent wide images in wiki page forcing sidebar down below wiki page \*/
  /* 'overflow-x:auto;' maybe replaced by 'overflow:auto;' to ensure template passes w3c validation \*/
}

/* (end IE Mac hiding) */
/* duplicate standard DW styles with increased specificity to counter some sidebar styles */
/* counteract some inappropriate DW styling */
/* line 187, ../../../../src/packages/docs/css/_wiki/tpl/sidebar.scss */
.sidebar div.dokuwiki #bar__bottom {
  margin-bottom: 0;
}

/* line 190, ../../../../src/packages/docs/css/_wiki/tpl/sidebar.scss */
.sidebar div.dokuwiki p.license {
  padding-top: 3px;
}
