@font-face {
  font-family: "Sony-Icons-UI";
  src: url("../fonts/Sony-Icons-UI.eot");
  src: url("../fonts/Sony-Icons-UI.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}