/* EOF Fonts - Used by: IE ≤ 8 */

@font-face {
  font-family: "SST W01 Roman"; 
  src:url("580b2ea4-f6e0-4626-9ef8-3562f00da4b3.eot?#iefix");
  src:url("580b2ea4-f6e0-4626-9ef8-3562f00da4b3.eot?#iefix") format("eot");
	font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SST W01 Italic"; 
  src:url("1f930269-e536-44a8-b394-cf9ee39461c7.eot?#iefix");
  src:url("1f930269-e536-44a8-b394-cf9ee39461c7.eot?#iefix") format("eot");
	font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SST W01 Light";
  src:url("78c7630a-e8c0-4c87-b979-85c4e48d3848.eot?#iefix");
  src:url("78c7630a-e8c0-4c87-b979-85c4e48d3848.eot?#iefix") format("eot");
	font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SST W01 Light Italic";
  src:url("463b898a-9fcb-4b61-beba-77d184412dcb.eot?#iefix");
  src:url("463b898a-9fcb-4b61-beba-77d184412dcb.eot?#iefix") format("eot");
	font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "SST W01 Medium"; 
  src:url("9f864997-7267-46fa-a7f1-2362457ef574.eot?#iefix");
  src:url("9f864997-7267-46fa-a7f1-2362457ef574.eot?#iefix") format("eot");
	font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SST W01 Medium Italic"; 
  src:url("19a7c1ce-026f-4fca-85bb-707b1c8c8c71.eot?#iefix");
  src:url("19a7c1ce-026f-4fca-85bb-707b1c8c8c71.eot?#iefix") format("eot");
	font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SST W01 Bold"; 
  src:url("52adf2b6-12bd-41e4-bfee-9ca637d6045d.eot?#iefix");
  src:url("52adf2b6-12bd-41e4-bfee-9ca637d6045d.eot?#iefix") format("eot");
	font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SST W01 Bold Italic"; 
  src:url("73514a86-db6f-4fe5-a90b-c2b26aa9706a.eot?#iefix");
  src:url("73514a86-db6f-4fe5-a90b-c2b26aa9706a.eot?#iefix") format("eot");
	font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Sony-Icons";
  src:url("Sony-Icons.eot?#iefix");
  src:url("Sony-Icons.eot?#iefix") format("eot");
  font-weight: normal;
  font-style: normal;
}




.lt-ie9 .old-ie-cleartype-fix {
  background-color: white;
  opacity: 0.99;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='white') progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; 
  /* IE 6,7 */
  filter: progid:DXImageTransform.Microsoft.Chroma(color='white') progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.lt-ie9 .old-ie-cleartype-fix-white {
  background-color: #ffffff;
  opacity: 0.99;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='ffffff') progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; 
  /* IE 6,7 */
  filter: progid:DXImageTransform.Microsoft.Chroma(color='ffffff') progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.lt-ie9 .old-ie-cleartype-fix-black {
  background-color: black;
  opacity: 0.99;
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='black') progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; 
  filter: progid:DXImageTransform.Microsoft.Chroma(color='black') progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.lt-ie9 .old-ie-cleartype-fix-gray05 {
  background-color: #1F2024;
  opacity: 0.99;
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#1F2024') progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; 
  filter: progid:DXImageTransform.Microsoft.Chroma(color='#1F2024') progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.lt-ie9 .old-ie-cleartype-fix-gray10 {
  background-color: #212530;
  opacity: 0.99;
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#212530') progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; 
  filter: progid:DXImageTransform.Microsoft.Chroma(color='#212530') progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.lt-ie9 .old-ie-cleartype-fix-gray20 {
  background-color: #2F353D;
  opacity: 0.99;
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#2F353D') progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; 
  filter: progid:DXImageTransform.Microsoft.Chroma(color='#2F353D') progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.lt-ie9 .old-ie-cleartype-fix-gray25 {
  background-color: #3C3C42;
  opacity: 0.99;
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#3C3C42') progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; 
  filter: progid:DXImageTransform.Microsoft.Chroma(color='#3C3C42') progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.lt-ie9 .old-ie-cleartype-fix-gray30 {
  background-color: #504D56;
  opacity: 0.99;
  -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#504D56') progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; 
  filter: progid:DXImageTransform.Microsoft.Chroma(color='#504D56') progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
/* Have to do the rest of the colors, or make a mixin (have to make this into scss then, and make changes to the compiler) */

