/* EOF Fonts - Used by: IE ≤ 8 */

@font-face {
  font-family: "Sony-Icons";
  src: url("Sony-Icons.eot");
  src: url("Sony-Icons.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
  font-style: normal;
}