doctype 5
!{partial('includes/ieconditionals.html')}

!{partial('includes/docs-head.html')}
body( data-spy = "scroll", data-target = ".bs-docs-sidebar" )
  !{partial('includes/docs-nav.html')}
  
  header.jumbotron.subhead#overview
    div.container
      h1 Global Styling
      p.p1
        | Fundamental HTML element styles
  div.container
    div.bs-docs-sidebar
      ul.simple-nav.nav-list.bs-docs-sidenav
        li
          a(href='#typography')
            i.icon-chevron-right
            | Typography
        li
          a(href='#buttons')
            i.icon-chevron-right
            | Buttons
        li
          a(href='#colors')
            i.icon-chevron-right
            | Colors
        li
          a(href='#forms')
            i.icon-chevron-right
            | Forms
        li
          a(href='#utilities')
            i.icon-chevron-right
            | Utility Classes
        li
          a(href='#icons')
            i.icon-chevron-right
            | Icons
    div.bs-docs-main-content

      section#typography
        h2.bs-docs-heading#headings Typography
        div.bs-docs-example.bs-docs-example-headings


          //-  TITLES (HEADLINES) --------------------------------------------------------------
          div.new-section
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .t1, &lt;h1&gt; — Major features
              h1 
                | Pocket professional
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .t2, &lt;h2&gt; — Hero
              h2 
                | Small size, large impact
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .t3, &lt;h3&gt; — Feature heads
              h3 
                | Mini body, mega sensor        
                span.chevron ›
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .t4, &lt;h4&gt; — Sub-head 1
              h4 
                | Pick your lens        
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .t5, &lt;h5&gt; — Sub-head 2
              h5 
                | Print your shots        
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .t6, &lt;h6&gt; — Sub-head 3
              h6 
                | Exmor
                sup ™ 
                | APS HD CMOS&nbsp;sensor
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .t7 — Sub-head 4
              h6.t7 
                | Print your shots


          //-  LABELS --------------------------------------------------------------
          div.new-section
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                | .l1 — Label 1
              p.l1 
                | Lorem ipsum
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                | .l2 — Label 2
              p.l2 
                | Lorem ipsum
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                | .l3 — Label 3
              p.l3 
                | Lorem ipsum
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                | .l4 — Label 4
              p.l4 
                | Lorem ipsum



          //- PARAGRAPHS --------------------------------------------------------------
          div.new-section
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .p1 — Body Copy 1 — Supports major features
              p.p1
                | The NEX-6 is as fast as the world you're trying to capture. It epitomizes the leanest of technology. <a href='#'>Sample inline link</a>
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .p2, &lt;p&gt; — Body Copy 2 — Supports features
              p
                | The bigger the sensor, the better the picture. Experience the quality and performance of a DSLR in about half the size and half the weight of one. The NEX is the smallest interchangeable lens digital camera capable of handling a mega-sized Exmor™ sensor. <a href='#'>Sample inline link</a>
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .p3 — Body Copy 3 — Supports subheads
              p.p3
                | Amazing resolution and high contrast prints with massive color and depth. <a href='#'>Sample inline link</a>
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .p4 — Body Copy 4 — Subtext 1
              p.p4
                | Lead Product Design <a href='#'>Sample inline link</a>
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .p5 — Body Copy 5 — Subtext 2
              p.p5
                | Starting at <a href='#'>Sample inline link</a>



          //- LinkTexts --------------------------------------------------------------
          div.new-section
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .p1.lt — LinkText 1
              p.p1.lt
                a(href='#') 
                  | Sample LinkText link
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .p2.lt — LinkText 2
              p.p2.lt
                a(href='#')  
                  | Sample LinkText link
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .p3.lt — LinkText 3
              p.p3.lt
                a(href='#')  
                  | Sample LinkText link
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .p3.lt-alt — LinkText 3-alt
              p.p3.lt-alt
                a(href='#') 
                  | Sample LinkText link
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .p4.lt — LinkText 4
              p.p4.lt
                a(href='#') 
                  | Sample LinkText link
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .p5.lt — LinkText 5
              p.p5.lt
                a(href='#') 
                  | Sample LinkText link


          //-  BLOCKQUOTES --------------------------------------------------------------
          div.new-section
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | blockquote.bq1 &gt; p — Special content — Personal quote 1
              blockquote.bq1
                p
                  | I can now get extreme detail in low light situations. Night shooting is now a reality.
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | blockquote.bq2 &gt; p, blockquote &gt; p — Special content — Personal quote 2
              blockquote.bq2
                p
                  | Our first step is to think about where people are when they hold it.
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | blockquote.bq3 &gt; p — Special content — Personal quote 3
              blockquote.bq3
                p
                  | Our first step is to think about where people are when they hold it.
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | blockquote.bq4 &gt; p — Special content — Personal quote 4
              blockquote.bq4
                p
                  | Our first step is to think about where people are when they hold it.
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | blockquote.bq5 &gt; p — Special content — Personal quote 5
              blockquote.bq5
                p
                  | Our first step is to think about where people are when they hold it.


          //-  MISC --------------------------------------------------------------
          div.new-section
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .text-number-callout-large — Special content — Number callout
              p.text-number-callout-large
                | 01
            div.col-50.big-bottom-margin
              p.title-docs
                strong 
                  | .text-promo-title — Special content — Promo title
              p.text-promo-title
                strong
                  | Exmor
                  br
                | Technology

        //-  HEADERS --------------------------------------------------------------
        div.sub-section
          h2.bs-docs-heading#headers Titles (Headers)
          p
            | For primary headline text
          p
            | Titles are defined by classes independently of the HTML tag they may be applied to. As such, any tag can look like a header. By default, the logical numbered Title tag styles are applied to the corresponding numbered H-tag, so if you need an <code>H2</code> and it looks like a <code>.t2</code>, you can ommit the class name.
          p
            | Any of these can be made bold (which may not be the 'bold' font) by including a <code>&lt;strong&gt;</code> tag inside. This will cause a 'light' font to be 'regular', a 'regular' font to be 'medium' and a 'medium' font to be 'bold'. This will be annotated in the PSD's by <code>-b</code>, for instance, <code>.t3-b</code>.
          div
            h3.bs-docs-heading Title 1
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.t1
                | Vivamus sagittis lacus vel augue laoreet rutrum
            pre.prettyprint.prettyprint-jade.fused
              | h1 
              span.plain (or) 
              | h2.t1 
              span.plain (or) 
              | p.t1 
              span.plain (etc.)
          div
            h3.bs-docs-heading Title 2
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.t2
                | Vivamus sagittis lacus vel augue laoreet rutrum
            pre.prettyprint.prettyprint-jade.fused
              | h2 
              span.plain (or) 
              | h1.t2 
              span.plain (or) 
              | p.t2 
              span.plain (etc.)
          div
            h3.bs-docs-heading Title 3
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.t3
                | Vivamus sagittis lacus vel augue laoreet rutrum
            pre.prettyprint.prettyprint-jade.fused
              | h3 
              span.plain (or) 
              | h2.t3 
              span.plain (or) 
              | p.t3 
              span.plain (etc.)
          div
            h3.bs-docs-heading Title 4
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.t4
                | Vivamus sagittis lacus vel augue laoreet rutrum
            pre.prettyprint.prettyprint-jade.fused
              | h4 
              span.plain (or) 
              | h3.t4 
              span.plain (or) 
              | p.t4 
              span.plain (etc.)
          div
            h3.bs-docs-heading Title 5
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.t5
                | Vivamus sagittis lacus vel augue laoreet rutrum
            pre.prettyprint.prettyprint-jade.fused
              | h5 
              span.plain (or) 
              | h3.t5 
              span.plain (or) 
              | p.t5 
              span.plain (etc.)
          div
            h3.bs-docs-heading Title 6
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.t6
                | Vivamus sagittis lacus vel augue laoreet rutrum
            pre.prettyprint.prettyprint-jade.fused
              | h6 
              span.plain (or) 
              | h4.t6 
              span.plain (or) 
              | p.t6 
              span.plain (etc.)
          div
            h3.bs-docs-heading Title 7
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.t7
                | Vivamus sagittis lacus vel augue laoreet rutrum
            pre.prettyprint.prettyprint-jade.fused
              | h5.t7 
              span.plain (or) 
              | p.t7 
              span.plain (etc.)


        //-  LABELS --------------------------------------------------------------
        div.sub-section
          h2.bs-docs-heading#labels Labels (Subheaders)
          p
            | x
          p
            | Labels are defined solely by classes, and can define the style of any H-tag, P, etc.
          p
            | Any of these can be made bold (which may not be the 'bold' font) by including a <code>&lt;strong&gt;</code> tag inside. This will cause a 'light' font to be 'regular', a 'regular' font to be 'medium' and a 'medium' font to be 'bold'.
          p
            | All labels also have a "light" version, which is implemented by adding "-light" to the class name, for instance, <code>.l2-light</code>.
          
          div
            h3.bs-docs-heading Label 1
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.l1
                | Vivamus sagittis lacus vel augue laoreet rutrum
            pre.prettyprint.prettyprint-jade.fused
              | h3.l1 
              span.plain (or) 
              | p.l1 
              span.plain (etc.)
          div
            h3.bs-docs-heading Label 2
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.l2
                | Vivamus sagittis lacus vel augue laoreet rutrum
            pre.prettyprint.prettyprint-jade.fused
              | h3.l2 
              span.plain (or) 
              | p.l2 
              span.plain (etc.)
          div
            h3.bs-docs-heading Label 3
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.l3
                | Vivamus sagittis lacus vel augue laoreet rutrum
            pre.prettyprint.prettyprint-jade.fused
              | h4.l3 
              span.plain (or) 
              | p.l3 
              span.plain (etc.)
          div
            h3.bs-docs-heading Label 4
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.l4
                | Vivamus sagittis lacus vel augue laoreet rutrum
            pre.prettyprint.prettyprint-jade.fused
              | h5.l4 
              span.plain (or) 
              | p.l4 
              span.plain (etc.)



        //-  BODY COPY --------------------------------------------------------------
        div.sub-section
          h2.bs-docs-heading#body-copy Body copy
          p
            | For standard body content, such as for supporting features and subheads.
          p
            | The default font color is a dark gray. For alternate colors, use one of the following classes: <code>.text-med-dark</code>, <code>.text-med-light</code>, or <code>.text-light</code>.
          div
            h3.bs-docs-heading Body Copy 1 (large)
            p.bs-docs-heading
              | Supports major features
            div.bs-docs-example
              p.p1
                | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
              p.p1
                | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
            pre.prettyprint.prettyprint-jade.fused p.p1
          div
            h3.bs-docs-heading Body Copy 2 - Default
            p.bs-docs-heading
              | Standard paragraphs, Supports features
            div.bs-docs-example
              p
                | Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
              p
                | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
            pre.prettyprint.prettyprint-jade.fused p (or) p.p2
          div
            h3.bs-docs-heading Body Copy 3 (small)
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.p3
                | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
              p.p3
                | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
            pre.prettyprint.prettyprint-jade.fused.big-bottom-margin p.p3
          div
            h3.bs-docs-heading Body Copy 4 (smaller)
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.p4
                | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
              p.p4
                | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
            pre.prettyprint.prettyprint-jade.fused.big-bottom-margin p.p4
          div
            h3.bs-docs-heading Body Copy 5 (smallest)
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.p5
                | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
              p.p5
                | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
            pre.prettyprint.prettyprint-jade.fused.big-bottom-margin p.p5
        




        //-  LINKTEXT --------------------------------------------------------------
        div.sub-section
          h2.bs-docs-heading#link-text LinkText
          p
            span.label.label-alert
              | Hey! This changed!
          p
            | LinkText are an extension of the .p classes, meant to contain a single link after a paragraph. The difference they make is their bottom margin is much smaller.
          p
            | For using on dark backgrounds, add <code>.text-light</code>.
          div
            h3.bs-docs-heading LinkText 1 (large)
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.p1
                | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
              p.p1.lt
                a(href='#') 
                  | Vivamus sagittis lacus
            pre.prettyprint.prettyprint-jade.fused p.p1.lt
          div
            h3.bs-docs-heading LinkText 2
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.p2
                | Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
              p.p2.lt
                a(href='#') 
                  | Vivamus sagittis lacus
            pre.prettyprint.prettyprint-jade.fused p.p2.lt
          div
            h3.bs-docs-heading LinkText 3 (small)
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.p3
                | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
              p.p3.lt
                a(href='#') 
                  | Vivamus sagittis lacus
            pre.prettyprint.prettyprint-jade.fused.big-bottom-margin p.p3.lt
          div
            h3.bs-docs-heading LinkText 4 (smaller)
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.p4
                | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
              p.p4.lt
                a(href='#') 
                  | Vivamus sagittis lacus
            pre.prettyprint.prettyprint-jade.fused.big-bottom-margin p.p4.lt
          div
            h3.bs-docs-heading LinkText 5 (smallest)
            p.bs-docs-heading
              | x
            div.bs-docs-example
              p.p5
                | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
              p.p5.lt
                a(href='#') 
                  | Vivamus sagittis lacus
            pre.prettyprint.prettyprint-jade.fused.big-bottom-margin p.p5.lt





        //-  TEXTLINKS - OLD --------------------------------------------------------------
        div.sub-section.NotUpdatedYet
          h2.bs-docs-heading#textlinks TextLinks - THESE NEED UPDATES
          h3.bs-docs-heading TextLink within body copy
          p
            | Default in-paragraph links are smaller than the paragraph text.
          div.bs-docs-example
            p
              | Lorem ipsum dolor sit amet. 
              a.tl(href='#') Learn more
          pre.prettyprint.prettyprint-jade.fused
            | &lt;p&gt;Lorem ipsum dolor sit amet. &lt;a class="tl" href="#"&gt;Learn more&lt;/a&gt;&lt;/p&gt; 
          h3.bs-docs-heading Isolated TextLinks
          h5.bs-docs-heading Standard Isolated TextLink with arrow
          div.bs-docs-example
            p
              a.tl.tl-arrow-right(href='#') Learn from Sony Support
          pre.prettyprint.prettyprint-jade.fused
            | &lt;p&gt;&lt;a class="tl tl-arrow-right" href="#"&gt;Learn from Sony Support&lt;/a&gt;&lt;/p&gt; 
          h5.bs-docs-heading Large Isolated TextLink with arrow
          div.bs-docs-example
            p
              a.tl.tl-large.tl-arrow-right(href='#') Shop All E-mount Lenses
          pre.prettyprint.prettyprint-jade.fused
            | &lt;p&gt;&lt;a class="tl tl-large tl-arrow-right" href="#"&gt;Shop All E-mount Lenses&lt;/a&gt;&lt;/p&gt; 
        
        
        //-  BLOCKQUOTES --------------------------------------------------------------
        div.sub-section
          h2.bs-docs-heading#blockquotes Blockquotes
          p
            | For quoting blocks of content from external sources such as reviews. 
          p
            | Blockquotes must contain a 
            code p
            |  tag.
          p
            | By default, blockquotes inherit the default font color. For a blue ($secondarySlate) colored blockquote, add <code>.colorful</code> to the <code>blockquote</code>. For dark blue ($secondarySlateDark) add <code>.colorful-dark</code>.
          h5.bs-docs-heading Personal Quote 1 - Large
          div.bs-docs-example
            blockquote.bq1
              p
                | I can now get extreme detail in low light situations. Night shooting is now a reality.
          pre.prettyprint.prettyprint-jade.fused
            | blockquote.bq1
            |   p
            |     ...          
          h5.bs-docs-heading Personal quote 2 - Default
          div.bs-docs-example
            blockquote
              p
                | Our first step is to think about where people are when they hold it.
          pre.prettyprint.prettyprint-jade.fused
            | blockquote.bq2
            |   p
            |     ...
          h5.bs-docs-heading Personal quote 3
          div.bs-docs-example
            blockquote.bq3
              p
                | Our first step is to think about where people are when they hold it.
          pre.prettyprint.prettyprint-jade.fused
            | blockquote.bq3
            |   p
            |     ...
          h5.bs-docs-heading Personal quote 4
          div.bs-docs-example
            blockquote.bq4
              p
                | Our first step is to think about where people are when they hold it.
          pre.prettyprint.prettyprint-jade.fused
            | blockquote.bq4
            |   p
            |     ...
          h5.bs-docs-heading Personal quote 5
          div.bs-docs-example
            blockquote.bq5
              p
                | Our first step is to think about where people are when they hold it.
          pre.prettyprint.prettyprint-jade.fused
            | blockquote.bq5
            |   p
            |     ...

      section#colors
        h2.bs-docs-heading Colors
        p Use these variables for colors
        h4 Grays
        div.row
          div.col-50.margin-right-1
            div.col-33.docs-color-swatch
              div.docs-color-swatch--black
              p $black
              p (0,0,0)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--gray10
              p $gray10
              p (33,37,48)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--gray20
              p $gray20
              p (47,53,61)
          div.col-50.margin-right-1
            div.col-33.docs-color-swatch
              div.docs-color-swatch--gray30
              p $gray30
              p (80,77,86)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--gray40
              p $gray40
              p (131,131,143)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--gray50
              p $gray50
              p (188,188,204)
          div.col-50.margin-right-1
            div.col-33.docs-color-swatch
              div.docs-color-swatch--gray60
              p $gray60
              p (210,210,219)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--gray70.docs-color-swatch-outlined
              p $gray70
              p (228,231,235)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--gray80.docs-color-swatch-outlined
              p $gray80
              p (241,245,249)
          div.col-50.margin-right-1
            div.col-33.docs-color-swatch
              div.docs-color-swatch--gray90.docs-color-swatch-outlined
              p $gray90
              p (243,244,246)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--white.docs-color-swatch-outlined
              p $white
              p (255,255,255)

        h4 Standard Link & Button Colors
        div.row
          div.col-50
            div.col-33.docs-color-swatch
              div.docs-color-swatch--buttonBlue
              p $buttonBlue
              p (88,135,245)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--buttonBlueHover
              p $buttonBlueHover
              p (69,114,237)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--buttonBlueActive
              p $buttonBlueActive
              p (102,148,255)
          div.col-50
            div.col-33.docs-color-swatch
              div.docs-color-swatch--buttonOrange
              p $buttonOrange
              p (242,85,41)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--buttonOrangeHover
              p $buttonOrangeHover
              p (217,76,37)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--buttonOrangeActive
              p $buttonOrangeActive
              p (255,117,79)

        div.row              
          div.col-50
            div.col-33.docs-color-swatch
              div.docs-color-swatch--linkBlue
              p $linkBlue
              p (69,114,237)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--linkBlueHover
              p $linkBlueHover
              p (60,76,116)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--linkBlueActive
              p $linkBlueActive
              p (87,135,244)

        h4 Theme Colors:
        div.row
          div.col-50
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themeRed
              p $themeRed
              p (201,52,52)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themeRedHover
              p $themeRedHover
              p (176,46,46)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themeRedActive
              p $themeRedActive
              p (227,59,59)
          div.col-50
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themePurple
              p $themePurple
              p (145,63,153)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themePurpleHover
              p $themePurpleHover
              p (121,52,128)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themePurpleActive
              p $themePurpleActive
              p (170,73,178)
        div.row
          div.col-50
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themeBlueLight
              p $themeBlueLight
              p (49,176,204)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themeBlueLightHover
              p $themeBlueLightHover
              p (43,154,178)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themeBlueLightActive
              p $themeBlueLightActive
              p (55,198,229)
          div.col-50
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themeGreen
              p $themeGreen
              p (139,199,72)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themeGreenHover
              p $themeGreenHover
              p (122,173,62)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themeGreenActive
              p $themeGreenActive
              p (157,224,81)
        div.row
          div.col-50
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themeOrange
              p $themeOrange
              p (232,117,51)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themeOrangeHover
              p $themeOrangeHover
              p (207,105,45)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themeOrangeActive
              p $themeOrangeActive
              p (255,129,56)
          div.col-50
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themeBlueDark
              p $themeBlueDark
              p (39,99,163)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themeBlueDarkHover
              p $themeBlueDarkHover
              p (33,84,138)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--themeBlueDarkActive
              p $themeBlueDarkActive
              p (45,115,189)

        h4 Secondary Colors:
        div.row
          div.col-50.margin-right-1
            div.col-33.docs-color-swatch
              div.docs-color-swatch--secondaryGold
              p $secondaryGold
              p (240,185,56)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--secondarySage
              p $secondarySage
              p (146,185,164)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--secondaryOlive
              p $secondaryOlive
              p (162,184,73)
          div.col-50
            div.col-33.docs-color-swatch
              div.docs-color-swatch--secondaryAqua
              p $secondaryAqua
              p (69,175,201)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--secondaryEggplant
              p $secondaryEggplant
              p (151,91,119)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--secondaryLavender
              p $secondaryLavender
              p (110,93,145)
          div.col-50
            div.col-33.docs-color-swatch
              div.docs-color-swatch--secondarySlate
              p $secondarySlate
              p (88,135,171)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--secondarySlateDark
              p $secondarySlateDark
              p (68,80,110)

        h4 3rd Party Brand Colors:
        div.row
          div.col-50.margin-right-1
            div.col-33.docs-color-swatch
              div.docs-color-swatch--twitterColor
              p $twitterColor
              p (40,170,225)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--facebookColor
              p $facebookColor
              p (59,91,153)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--gplusColor
              p $gplusColor
              p (219,74,57)
          div.col-50
            div.col-33.docs-color-swatch
              div.docs-color-swatch--youtubeColor
              p $youtubeColor
              p (239,60,57)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--flickrblue
              p $flickrBlueColor
              p (0,99,220)
            div.col-33.docs-color-swatch
              div.docs-color-swatch--flickrpink
              p $flickrPinkColor
              p (255,0,132)


      section
        h2.bs-docs-heading # # # From here down has NOT been updated, so these might still change. # # #

      section#buttons
        h2.bs-docs-heading Buttons
        h3.bs-docs-heading Default buttons
        p
          | Button styles can be applied to anything with the 
          code
            | .btn
          | &nbsp;class applied. However, typically you'll want to apply these to only 
          code
            | &lt;a&gt;
          | , 
          code
            | &lt;button&gt;
          | &nbsp;or 
          code
            | &lt;input&gt;
          | &nbsp;elements.
        p
          | In most cases 
          code
            | &lt;a&gt;
          | &nbsp;buttons will be most appropriate.
        h5.bs-docs-heading Standard Button
        div.bs-docs-example
          a.btn Get Sony Support
        pre.prettyprint.prettyprint-jade.fused
          |   &lt;a class="btn"&gt;...&lt;/a&gt; 
        h5.bs-docs-heading
          | 'Special' Button 
          small – Generally used for store links
        div.bs-docs-example
          a.btn.btn-special Where to Buy
        pre.prettyprint.prettyprint-jade.fused
          |   &lt;a class="btn btn-special"&gt;...&lt;/a&gt; 
        h5.bs-docs-heading 'Alt' Button
        div.bs-docs-example
          a.btn.btn-alt Alt Button
        pre.prettyprint.prettyprint-jade.fused
          |   &lt;a class="btn btn-alt"&gt;...&lt;/a&gt; 
        h5.bs-docs-heading 'Alt' Button small w/icon left of text
        div.bs-docs-example
          a.btn.btn-small.btn-alt.btn-icon-ui-left
            i.fonticon-10-grid-3x3
            | All Electronics
        pre.prettyprint.prettyprint-jade.fused
          |   &lt;a class="btn btn-small btn-alt btn-icon-ui-left"&gt;&lt;i class="fonticon-10-grid-3x3"&gt;&lt;/i&gt;...&lt;/a&gt; 
        h5.bs-docs-heading
          | 'Promo' Button 
          small – Used for promotions
        div.bs-docs-example
          a.btn.btn-promo.text-promo-title
            strong
              | Exmor
              br
            | Technology
            span.btn-promo-arrow-box
              i.icon-ui-arrow-right-white
        pre.prettyprint.prettyprint-jade.fused
          |   &lt;a class="btn btn-promo"&gt;...&lt;i class="icon-ui-arrow-right-white-boxed"&gt;&lt;/i&gt;&lt;/a&gt; 
        h3.bs-docs-heading Button sizes
        p
          | Fancy larger or smaller buttons? Add 
          code
            | .btn-large
          | , 
          code
            | .btn-small
          | , or 
          code
            | .btn-mini
          | &nbsp;for additional sizes.
        div.bs-docs-example
            a.btn.btn-large Large button
            a.btn Default button
            a.btn.btn-small Small button
            a.btn.btn-mini Mini button
        pre.prettyprint.prettyprint-jade.fused
          |   &lt;a class="btn btn-large"&gt;Large button&lt;/a&gt; 
          |   &lt;a class="btn"&gt;Default button&lt;/a&gt; 
          |   &lt;a class="btn btn-small"&gt;Small button&lt;/a&gt; 
          |   &lt;a class="btn btn-mini"&gt;Mini button&lt;/a&gt; 
        h3.bs-docs-heading Block level buttons
          | Create block level buttons—those that span the full width of a parent— by adding
          code
            | .btn-block
          | .
        div.bs-docs-example
          div.well
            a.btn.btn-block Block level button
            a.btn.btn-block.btn-special Block level special button
        pre.prettyprint.prettyprint-jade.fused
          |   &lt;a class="btn btn-block"&gt;Block level button&lt;/a&gt; 
          |   &lt;a class="btn btn-block btn-special"&gt;Block level special button&lt;/a&gt; 
        h3.bs-docs-heading Disabled state
        p
          | Make buttons look unclickable by fading them back 50%.
        h4.bs-docs-heading Anchor element
        p
          | Add the 
          code
            | .disabled
          | &nbsp;class to 
          code
            | &lt;a&gt;
          | &nbsp;buttons.
        p.bs-docs-example
          a.btn.disabled(href='#') Link
          | &nbsp;
          a.btn.btn-special.disabled(href='#') Special link
        pre.prettyprint.prettyprint-jade.fused
          |   &lt;a href="#" class="btn disabled"&gt;Link&lt;/a&gt; 
          |   &lt;a href="#" class="btn btn-special disabled"&gt;Special link&lt;/a&gt; 
        p
          span.label.label-info Heads up!
          | &nbsp;We use 
          code
            | .disabled
          | &nbsp;as a utility class here, similar to the common 
          code
            | .active
          | &nbsp;class, so no prefix is required. Also, this class is only for aesthetic; you must use custom JavaScript to disable links here.
        h4.bs-docs-heading Button element
        p
          | Add the 
          code
            | disabled
          | &nbsp;attribute to 
          code
            | &lt;button&gt;
          | &nbsp;buttons.
        p.bs-docs-example
          button.btn(type='button',disabled='')
            | Button
          | &nbsp;
          button.btn.btn-special.disabled(type='button',disabled='disabled')
            | Special button
        pre.prettyprint.prettyprint-jade.fused
          |   &lt;button type="button" class="btn" disabled&gt;Button&lt;/button&gt; 
          |   &lt;button type="button" class="btn btn-special disabled" disabled="disabled"&gt;Special button&lt;/button&gt;
        h3.bs-docs-heading One class, multiple tags
        p
          | Use the 
          code
            | .btn
          | &nbsp;class on an 
          code
            | &lt;a&gt;
          | , 
          code
            | &lt;button&gt;
          | , or 
          code
            | &lt;input&gt;
          | &nbsp;element.
        form.bs-docs-example
          a.btn(href='') Link
          | &nbsp;
          button.btn(type='submit') Button
          | &nbsp;
          input.btn(type='button',value='Input')
          | &nbsp;
          input.btn(type='submit',value='Submit')
        pre.prettyprint.prettyprint-jade.fused
          |   &lt;a class="btn" href=""&gt; Link&lt;/a&gt; 
          |   &lt;button class="btn" type="submit"&gt; Button&lt;/button&gt; 
          |   &lt;input class="btn" type="button" value="Input"&gt; 
          |   &lt;input class="btn" type="submit" value="Submit"&gt;
        p
          | As a best practice, try to match the element for your context to ensure matching cross-browser rendering. Usually you'll make an 
          code
            | a
          | &nbsp;anchor link. If you have an 
          code
            | input
          | , use an 
          code
            | &lt;input type="submit"&gt;
          | &nbsp;for your button. If you have a 
          code
            | button
          | , use 
          code
            | &lt;button type="button"&gt;
          | .
      section.NotUpdatedYet(style='padding:10px 20px')
        h6 Sections with a light blue background have not been styled or updated yet. If you update them, remove the class "NotUpdatedYet" from the parent container of the section, and from the "bs-docs-example" container as well.
      section#forms
        h2.bs-docs-heading Forms
        h3.bs-docs-heading Default styles
        p
          | Individual form controls receive styling, but without any required base class on the 
          code
            | &lt;form&gt; 
          | &nbsp;or large changes in markup. Results in stacked, left-aligned labels on top of form controls.
        form.bs-docs-example.NotUpdatedYet
          legend
            | Legend
          label Label name
          input(type='text',placeholder='Type something…')
          span.help-block Example block-level help text here.
          label.checkbox
            input(type='checkbox')
            | Check me out
          button.btn(type='submit')
            | Submit
        pre.prettyprint.prettyprint-jade.fused
          | &lt;form&gt; 
          |   &lt;legend&gt;Legend&lt;/legend&gt; 
          |   &lt;label&gt;Label name&lt;/label&gt; 
          |   &lt;input type="text" placeholder="Type something…"&gt; 
          |   &lt;span class="help-block"&gt;Example block-level help text here.&lt;/span&gt; 
          |   &lt;label class="checkbox"&gt; 
          |     &lt;input type="checkbox"&gt;Check me out
          |   &lt;/label&gt; 
          |   &lt;button type="submit" class="btn"&gt;Submit&lt;/button&gt; 
          | &lt;/form&gt; 
        h4.bs-docs-heading Supported form controls
        p
          | Examples of standard form controls supported in an example form layout.
        h3 Inputs
        p
          | Most common form control, text-based input fields. Includes support for all HTML5 types: text, password, datetime, datetime-local, date, month, time, week, number, email, url, search, tel, and color.
        p
          | Requires the use of a specified
          code
            | type
          | at all times.
        form.bs-docs-example.form-inline
          input(type='text',placeholder='City or Postal Code')
        pre.prettyprint.prettyprint-jade.fused
          | &lt;input type="text" placeholder="City or Postal Code"&gt; 
        h4.bs-docs-heading Textarea
        p
          | Form control which supports multiple lines of text. Change
          code
            | rows
          | attribute as necessary.
        form.bs-docs-example.form-inline
          textarea(rows='3')
        pre.prettyprint.prettyprint-jade.fused
          | &lt;textarea rows="3"&gt; &lt;/textarea&gt; 
        div.NotUpdatedYet
          h4.bs-docs-heading Checkboxes and radios
          p
            | Checkboxes are for selecting one or several options in a list while radios are for selecting one option from many.
          h4 Default (stacked)
          form.bs-docs-example.NotUpdatedYet
            label.checkbox
              input(type='checkbox',value='')
              | Option one is this and that—be sure to include why it's great
            br
            label.radio
              input#optionsRadios1(type='radio',name='optionsRadios',value='option1',checked='')
              | Option one is this and that—be sure to include why it's great
            label.radio
              input#optionsRadios2(type='radio',name='optionsRadios',value='option2')
              | Option two can be something else and selecting it will deselect option one
          pre.prettyprint.prettyprint-jade.fused
            | &lt;label class="checkbox"&gt; 
            |   &lt;input type="checkbox" value=""&gt; 
            |   Option one is this and that—be sure to include why it's great
            | &lt;/label&gt; 
            | &lt;label class="radio"&gt; 
            |   &lt;input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked&gt; 
            |   Option one is this and that—be sure to include why it's great
            | &lt;/label&gt; 
            | &lt;label class="radio"&gt; 
            |   &lt;input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"&gt; 
            |   Option two can be something else and selecting it will deselect option one
            | &lt;/label&gt; 
        div.NotUpdatedYet
          h5.bs-docs-heading Inline checkboxes
          p
            | Add the
            code
              | .inline
            | class to a series of checkboxes or radios for controls appear on the same line.
          form.bs-docs-example.NotUpdatedYet
            label.checkbox.inline
              input#inlineCheckbox1(type='checkbox',value='option1')
              | 1
            label.checkbox.inline
              input#inlineCheckbox2(type='checkbox',value='option2')
              | 2
            label.checkbox.inline
              input#inlineCheckbox3(type='checkbox',value='option3')
              | 3
          pre.prettyprint.prettyprint-jade.fused
            | &lt;label class="checkbox inline"&gt; 
            |   &lt;input type="checkbox" id="inlineCheckbox1" value="option1"&gt; 1
            | &lt;/label&gt; 
            | &lt;label class="checkbox inline"&gt; 
            |   &lt;input type="checkbox" id="inlineCheckbox2" value="option2"&gt; 2
            | &lt;/label&gt; 
            | &lt;label class="checkbox inline"&gt; 
            |   &lt;input type="checkbox" id="inlineCheckbox3" value="option3"&gt; 3
            | &lt;/label&gt; 
        div.NotUpdatedYet
          h4.bs-docs-heading Selects
          p
            | Use the default option or specify a
            code
              | multiple="multiple"
            | to show multiple options at once.
          form.bs-docs-example.NotUpdatedYet
            select
              option 1
              option 2
              option 3
              option 4
              option 5
            br
            select(multiple='multiple')
              option 1
              option 2
              option 3
              option 4
              option 5
          pre.prettyprint.prettyprint-jade.fused
            | &lt;select&gt; 
            |   &lt;option&gt;1&lt;/option&gt; 
            |   &lt;option&gt;2&lt;/option&gt; 
            |   &lt;option&gt;3&lt;/option&gt; 
            |   &lt;option&gt;4&lt;/option&gt; 
            |   &lt;option&gt;5&lt;/option&gt; 
            | &lt;/select&gt; 
            | &lt;select multiple="multiple"&gt; 
            |   &lt;option&gt;1&lt;/option&gt; 
            |   &lt;option&gt;2&lt;/option&gt; 
            |   &lt;option&gt;3&lt;/option&gt; 
            |   &lt;option&gt;4&lt;/option&gt; 
            |   &lt;option&gt;5&lt;/option&gt; 
            | &lt;/select&gt; 
        h3.bs-docs-heading Optional layouts
        p
          | Included with Bootstrap are three optional form layouts for common use cases.
        h5.bs-docs-heading Fused Submit Form
        p
          | Add 
          code
            | .form-fused
          | &nbsp;to the 
          code
            | &lt;form&gt;
          | &nbsp;for a fused input/button combo. In this particular case, make sure there is no whitespace in the code between the 
          code
            | &lt;input&gt;
          | &nbsp;and the 
          code
            | &lt;button&gt;
          | &nbsp;to avoid extra spacing between them.
        form.bs-docs-example.form-fused
          input.input-medium(type='text',placeholder='City or Postal Code')
          button(type='submit')
            | Submit
            i.icon-ui-arrow-right-white
        pre.prettyprint.prettyprint-jade.fused
          | &lt;form class="form-fused"&gt; 
          |   &lt;input type="text" class="input-medium" placeholder="City or Postal Code"&gt; &lt;button type="submit"&gt; Submit&lt;i class="icon-ui-arrow-right-blue"&gt; &lt;/i&gt; &lt;/button&gt; 
          | &lt;/form&gt; 
        h5 Fused Submit Form (Alternate)
        p
          | Add 
          code
            | .form-fused-alt
          | &nbsp;to the 
          code
            | &lt;form&gt;
          | &nbsp;for an alternate fused input/button combo. In this particular case, make sure there is no whitespace in the code between the 
          code
            | &lt;input&gt;
          | &nbsp;and the 
          code
            | &lt;button&gt;
          | &nbsp;to avoid extra spacing between them.
        form.bs-docs-example.form-fused-alt
          input.input-medium(type='text',placeholder='Your Email')
          button(type='submit')
            | Submit
            i.icon-ui-arrow-right-blue
        pre.prettyprint.prettyprint-jade.fused
          | &lt;form class="form-fused-alt"&gt; 
          |   &lt;input type="text" class="input-medium" placeholder="Your Email"&gt; &lt;button type="submit"&gt; Submit&lt;i class="icon-ui-arrow-right-blue"&gt; &lt;/i&gt; &lt;/button&gt; 
          | &lt;/form&gt; 
        div.NotUpdatedYet
          h4.bs-docs-heading Inline form
          p
            | Add 
            code
              | .form-inline
            | &nbsp;for left-aligned labels and inline-block controls for a compact layout.
          form.bs-docs-example.form-inline.NotUpdatedYet
            input.input-small(type='text', placeholder='Email')
            | &nbsp;
            input.input-small(type='password', placeholder='Password')
            | &nbsp;
            label.checkbox
              input(type='checkbox')
              | Remember me
            |&nbsp;
            button.btn(type='submit')
              | Sign in
          pre.prettyprint.prettyprint-jade.fused
            | &lt;form class="form-inline"&gt; 
            |   &lt;input type="text" class="input-small" placeholder="Email"&gt; 
            |   &lt;input type="password" class="input-small" placeholder="Password"&gt; 
            |   &lt;label class="checkbox"&gt; 
            |     &lt;input type="checkbox"&gt;Remember me
            |   &lt;/label&gt; 
            |   &lt;button type="submit" class="btn"&gt;Sign in&lt;/button&gt; 
            | &lt;/form&gt; 
        div.NotUpdatedYet
          h4.bs-docs-heading Horizontal form
          p
            | Right align labels and float them to the left to make them appear on the same line as controls. Requires the most markup changes from a default form:
          ul
            li
              | Add 
              code
                | .form-horizontal
              | &nbsp;to the form 
            li
              | Wrap labels and controls in 
              code
                | .control-group
            li
              | Add 
              code
                | .control-label
              | &nbsp;to the label
            li
              | Wrap any associated controls in 
              code
                | .controls
              | &nbsp;for proper alignment
          form.bs-docs-example.form-horizontal.NotUpdatedYet
            legend
              | Legend
            div.control-group
              label.control-label(for='inputEmail') Email
              div.controls
                input#inputEmail(type='text',placeholder='Email')
            div.control-group
              label.control-label(for='inputPassword') Password
              div.controls
                input#inputPassword(type='password',placeholder='Password')
            div.control-group
              div.controls
                label.checkbox
                  input(type='checkbox')
                  | Remember me
                button.btn(type='submit')
                  | Sign in
          pre.prettyprint.prettyprint-jade.fused
            | &lt;form class="form-horizontal"&gt; 
            |   &lt;div class="control-group"&gt; 
            |     &lt;label class="control-label" for="inputEmail"&gt;Email&lt;/label&gt; 
            |     &lt;div class="controls"&gt; 
            |       &lt;input type="text" id="inputEmail" placeholder="Email"&gt; 
            |     &lt;/div&gt; 
            |   &lt;/div&gt; 
            |   &lt;div class="control-group"&gt; 
            |     &lt;label class="control-label" for="inputPassword"&gt;Password&lt;/label&gt; 
            |     &lt;div class="controls"&gt; 
            |       &lt;input type="password" id="inputPassword" placeholder="Password"&gt; 
            |     &lt;/div&gt; 
            |   &lt;/div&gt; 
            |   &lt;div class="control-group"&gt; 
            |     &lt;div class="controls"&gt; 
            |       &lt;label class="checkbox"&gt; 
            |         &lt;input type="checkbox"&gt;Remember me
            |       &lt;/label&gt; 
            |       &lt;button type="submit" class="btn"&gt;Sign in&lt;/button&gt; 
            |     &lt;/div&gt; 
            |   &lt;/div&gt; 
            | &lt;/form&gt; 
        div.NotUpdatedYet
          h5.bs-docs-heading Search form
          form.bs-docs-example.form-search.NotUpdatedYet
            div.input-append
              input.span2.search-query(type='text')
              |&nbsp;
              button.btn(type='submit')
                | Search
            div.input-prepend
              button.btn(type='submit')
                | Search
              |&nbsp;
              input.span2.search-query(type='text')
          pre.prettyprint.prettyprint-jade.fused
            | &lt;form class="form-search"&gt; 
            |   &lt;div class="input-append"&gt; 
            |     &lt;input type="text" class="span2 search-query"&gt; 
            |     &lt;button type="submit" class="btn"&gt;Search&lt;/button&gt; 
            |   &lt;/div&gt; 
            |   &lt;div class="input-prepend"&gt; 
            |     &lt;button type="submit" class="btn"&gt;Search&lt;/button&gt; 
            |     &lt;input type="text" class="span2 search-query"&gt; 
            |   &lt;/div&gt; 
            | &lt;/form&gt; 
        h4.bs-docs-heading Form actions
        p
          | If you want a button to be less important than another, include 
          code
            | .btn-secondary
        form.bs-docs-example
          button.btn(type='submit')
            | Save changes
          | &nbsp;
          button.btn.btn-secondary(type='button')
            | Cancel
        pre.prettyprint.prettyprint-jade.fused
          | &lt;form&gt; 
          |   &lt;button type="submit" class="btn"&gt;Save changes&lt;/button&gt; 
          |   &lt;button type="button" class="btn btn-secondary"&gt;Cancel&lt;/button&gt; 
          | &lt;/form&gt; 
        h4.bs-docs-heading Control sizing
        p
          | Use relative sizing classes like 
          code
            | .input-large
          | &nbsp;or match your inputs to the grid column sizes using 
          code
            | .span*
          | &nbsp;classes.
        h5.bs-docs-heading Relative sizing
        form.bs-docs-example(style='padding-bottom: 15px;')
          div.controls.docs-input-sizes
            input.input-mini(type='text',placeholder='.input-mini')
            input.input-small(type='text',placeholder='.input-small')
            input.input-medium(type='text',placeholder='.input-medium')
            input.input-large(type='text',placeholder='.input-large')
            input.input-xlarge(type='text',placeholder='.input-xlarge')
            input.input-xxlarge(type='text',placeholder='.input-xxlarge')
        pre.prettyprint.prettyprint-jade.fused
          | &lt;input class="input-mini" type="text" placeholder=".input-mini"&gt; 
          | &lt;input class="input-small" type="text" placeholder=".input-small"&gt; 
          | &lt;input class="input-medium" type="text" placeholder=".input-medium"&gt; 
          | &lt;input class="input-large" type="text" placeholder=".input-large"&gt; 
          | &lt;input class="input-xlarge" type="text" placeholder=".input-xlarge"&gt; 
          | &lt;input class="input-xxlarge" type="text" placeholder=".input-xxlarge"&gt; 
        p
          span.label.label-info Heads up!
          | In future versions, we'll be altering the use of these relative input classes to match our button sizes. For example, 
          code
            | .input-large
          | &nbsp;will increase the padding and font-size of an input.
        h5.bs-docs-heading Grid sizing
        p
          | Use 
          code
            | .span1
          | &nbsp;to 
          code
            | .span12
          | &nbsp;for inputs that match the same sizes of the grid columns.
        form.bs-docs-example(style='padding-bottom: 15px;')
          div.controls.docs-input-sizes
            input.span1(type='text',placeholder='.span1')
            input.span2(type='text',placeholder='.span2')
            input.span3(type='text',placeholder='.span3')
            select.span1
              option 1
              option 2
              option 3
              option 4
              option 5
            select.span2
              option 1
              option 2
              option 3
              option 4
              option 5
            select.span3
              option 1
              option 2
              option 3
              option 4
              option 5
        pre.prettyprint.prettyprint-jade.fused
          | &lt;input class="span1" type="text" placeholder=".span1"&gt; 
          | &lt;input class="span2" type="text" placeholder=".span2"&gt; 
          | &lt;input class="span3" type="text" placeholder=".span3"&gt; 
          | &lt;select class="span1"&gt; 
          |   ...
          | &lt;/select&gt; 
          | &lt;select class="span2"&gt; 
          |   ...
          | &lt;/select&gt; 
          | &lt;select class="span3"&gt; 
          |   ...
          | &lt;/select&gt; 
        p
          | For multiple grid inputs per line,
          strong
            | use the 
            code
              | .controls-row
            | &nbsp;modifier class for proper spacing
          | . It floats the inputs to collapse white-space, sets the proper margins, and the clears the float.
        form.bs-docs-example(style='padding-bottom: 15px;')
          div.controls
            input.span5(type='text',placeholder='.span5')
          div.controls.controls-row
            input.span4(type='text',placeholder='.span4')
            input.span1(type='text',placeholder='.span1')
          div.controls.controls-row
            input.span3(type='text',placeholder='.span3')
            input.span2(type='text',placeholder='.span2')
          div.controls.controls-row
            input.span2(type='text',placeholder='.span2')
            input.span3(type='text',placeholder='.span3')
          div.controls.controls-row
            input.span1(type='text',placeholder='.span1')
            input.span4(type='text',placeholder='.span4')
        pre.prettyprint.prettyprint-jade.fused
          | &lt;div class="controls"&gt; 
          |   &lt;input class="span5" type="text" placeholder=".span5"&gt; 
          | &lt;/div&gt; 
          | &lt;div class="controls controls-row"&gt; 
          |   &lt;input class="span4" type="text" placeholder=".span4"&gt; 
          |   &lt;input class="span1" type="text" placeholder=".span1"&gt; 
          | &lt;/div&gt; 
          | ...
        h4.bs-docs-heading Uneditable inputs
        p
          | Present data in a form that's not editable without using actual form markup.
        form.bs-docs-example
          span.input-xlarge.uneditable-input Some value here
        pre.prettyprint.prettyprint-jade.fused
          | &lt;span class="input-xlarge uneditable-input"&gt;Some value here&lt;/span&gt; 
        div.NotUpdatedYet
          h4.bs-docs-heading Help text
          p
            | Inline and block level support for help text that appears around form controls.
          h5.bs-docs-heading Inline help
          form.bs-docs-example.form-inline.NotUpdatedYet
            input(type='text')
            span.help-inline Inline help text
          pre.prettyprint.prettyprint-jade.fused
            | &lt;input type="text"&gt; &lt;span class="help-inline"&gt;Inline help text&lt;/span&gt; 
        div.NotUpdatedYet
          h5.bs-docs-heading Block help
          form.bs-docs-example.form-inline.NotUpdatedYet
            input(type='text')
            span.help-block A longer block of help text that breaks onto a new line and may extend beyond one line.
          pre.prettyprint.prettyprint-jade.fused
            | &lt;input type="text"&gt; &lt;span class="help-block"&gt; A longer block of help text that breaks onto a new line and may extend beyond one line.&lt;/span&gt; 
        div.NotUpdatedYet
          h3.bs-docs-heading Form control states
          p
            | Provide feedback to users or visitors with basic feedback states on form controls and labels.
          h4.bs-docs-heading Input focus
          p
            | We remove the default 
            code
              | outline
            | &nbsp;styles on some form controls and apply a 
            code
              | box-shadow
            | &nbsp;in its place for 
            code
              | :focus
            | .
          form.bs-docs-example.form-inline.NotUpdatedYet
            input.input-xlarge.focused#focusedInput(type='text',value='This is focused...')
          pre.prettyprint.prettyprint-jade.fused
            | &lt;input class="input-xlarge" id="focusedInput" type="text" value="This is focused..."&gt; 
        h4.bs-docs-heading Disabled inputs
        p
          | Add the 
          code
            | disabled
          | &nbsp;attribute on an input to prevent user input and trigger a slightly different look.
        form.bs-docs-example.form-inline
          input.input-xlarge#disabledInput(type='text',placeholder='Disabled input here…',disabled='')
        pre.prettyprint.prettyprint-jade.fused
          | &lt;input class="input-xlarge" id="disabledInput" type="text" placeholder="Disabled input here..." disabled&gt; 
        div.NotUpdatedYet
          h4.bs-docs-heading Validation states
          p
            | Bootstrap includes validation styles for error, warning, info, and success messages. To use, add the appropriate class to the surrounding 
            code
              | .control-group
            | .
          form.bs-docs-example.form-horizontal.NotUpdatedYet
            div.control-group.warning
              label.control-label(for='inputWarning') Input with warning
              div.controls
                input#inputWarning(type='text')
                span.help-inline Something may have gone wrong
            div.control-group.error
              label.control-label(for='inputError') Input with error
              div.controls
                input#inputError(type='text')
                span.help-inline Please correct the error
            div.control-group.info
              label.control-label(for='inputError') Input with info
              div.controls
                input#inputError(type='text')
                span.help-inline Username is taken
            div.control-group.success
              label.control-label(for='inputSuccess') Input with success
              div.controls
                input#inputSuccess(type='text')
                span.help-inline Woohoo!
          pre.prettyprint.prettyprint-jade.fused
            | &lt;div class="control-group warning"&gt; 
            |   &lt;label class="control-label" for="inputWarning"&gt;Input with warning&lt;/label&gt; 
            |   &lt;div class="controls"&gt; 
            |     &lt;input type="text" id="inputWarning"&gt; 
            |     &lt;span class="help-inline"&gt;Something may have gone wrong&lt;/span&gt; 
            |   &lt;/div&gt; 
            | &lt;/div&gt; 
            | &lt;div class="control-group error"&gt; 
            |   &lt;label class="control-label" for="inputError"&gt;Input with error&lt;/label&gt; 
            |   &lt;div class="controls"&gt; 
            |     &lt;input type="text" id="inputError"&gt; 
            |     &lt;span class="help-inline"&gt;Please correct the error&lt;/span&gt; 
            |   &lt;/div&gt; 
            | &lt;/div&gt; 
            | &lt;div class="control-group success"&gt; 
            |   &lt;label class="control-label" for="inputSuccess"&gt;Input with success&lt;/label&gt; 
            |   &lt;div class="controls"&gt; 
            |     &lt;input type="text" id="inputSuccess"&gt; 
            |     &lt;span class="help-inline"&gt;Woohoo!&lt;/span&gt; 
            |   &lt;/div&gt; 
            | &lt;/div&gt; 
      section#utilities
        h2.bs-docs-heading Utility Classes
        p
          | A collection of utility class so you don't have to keep writing them!
        h3.bs-docs-heading Vertical centering
        p
          | Option 1 - table-cell centering
        div.bs-docs-example
          div.table-center-wrap(style='background:#f2f2f2;height:200px;')
            p.table-center
              | Some vertically centered content
        pre.prettyprint.prettyprint-jade.fused
          | &lt;div class="table-center-wrap"&gt; 
          |   p.table-center"&gt;Some vertically centered content&lt;/p&gt; 
          | &lt;/div&gt; 
        p
          | Option 2 - ghost element. Reference:
          a.tl.tl-arrow(href='http://css-tricks.com/centering-in-the-unknown/') Centering the Unknown
          | . Use this when display:table is causing you problems.
        div.bs-docs-example
          div.ghost-center-wrap(style='background:#f2f2f2;height:200px;')
            p.ghost-center
              | Some vertically centered content
        pre.prettyprint.prettyprint-jade.fused
          | &lt;div class="ghost-center-wrap"&gt; 
          |   p.ghost-center"&gt;Some vertically centered content&lt;/p&gt; 
          | &lt;/div&gt; 



      section#icons
        h2.bs-docs-heading Font Icons
        p
          | The number in the classname represents the optimum or standard size, in ems. 10 means 1.0em, and when set to that size, the icon is aligned with the pixel grid for crisp edges.
        pre.prettyprint.prettyprint-jade
          | i.fonticon-10-favorite
        ul.the-icons.clearfix
          li
            i.fonticon-10-favorite(aria-hidden='true')
            | fonticon-10-favorite
          li
            i.fonticon-10-cart(aria-hidden='true')
            | fonticon-10-cart
          li
            i.fonticon-10-search(aria-hidden='true')
            | fonticon-10-search
          li
            i.fonticon-10-account(aria-hidden='true')
            | fonticon-10-account
          li
            i.fonticon-10-orders(aria-hidden='true')
            | fonticon-10-orders
          li
            i.fonticon-10-newsletter(aria-hidden='true')
            | fonticon-10-newsletter
          li
            i.fonticon-10-registered(aria-hidden='true')
            | fonticon-10-registered
          li
            i.fonticon-10-globe(aria-hidden='true')
            | fonticon-10-globe
          li
            i.fonticon-10-star(aria-hidden='true')
            | fonticon-10-star
          li
            i.fonticon-10-star-half(aria-hidden='true')
            | fonticon-10-star-half
          li
            i.fonticon-10-location(aria-hidden='true')
            | fonticon-10-location
          li
            i.fonticon-10-support(aria-hidden='true')
            | fonticon-10-support
          li
            i.fonticon-10-grid-3x3(aria-hidden='true')
            | fonticon-10-grid-3x3
          li
            i.fonticon-10-circle-x(aria-hidden='true')
            | fonticon-10-circle-x
          li
            i.fonticon-10-circle-q(aria-hidden='true')
            | fonticon-10-circle-q
          li
            i.fonticon-10-square-neg-plus(aria-hidden='true')
            | fonticon-10-square-neg-plus
          li
            i.fonticon-10-plus-skinny(aria-hidden='true')
            | fonticon-10-plus-skinny
          li
            i.fonticon-10-x-skinny(aria-hidden='true')
            | fonticon-10-x-skinny
          li
            i.fonticon-10-x-skinny-rounded(aria-hidden='true')
            | fonticon-10-x-skinny-rounded
          li
            i.fonticon-10-chevron(aria-hidden='true')
            | fonticon-10-chevron
          li
            i.fonticon-10-chevron-reverse(aria-hidden='true')
            | fonticon-10-chevron-reverse
          li
            i.fonticon-10-chevron-sm(aria-hidden='true')
            | fonticon-10-chevron-sm
          li
            i.fonticon-10-alpha-light(aria-hidden='true')
            | fonticon-10-alpha-light
          li
            i.fonticon-10-alpha(aria-hidden='true')
            | fonticon-10-alpha
          li
            i.fonticon-10-alpha-medium(aria-hidden='true')
            | fonticon-10-alpha-medium
          li
            i.fonticon-10-alpha-bold(aria-hidden='true')
            | fonticon-10-alpha-bold
          li
            i.fonticon-10-arrowhead-down(aria-hidden='true')
            | fonticon-10-arrowhead-down
          li
            i.fonticon-10-arrowhead-up(aria-hidden='true')
            | fonticon-10-arrowhead-up
          li
            i.fonticon-10-arrowheads-elevator(aria-hidden='true')
            | fonticon-10-arrowheads-elevator
          li
            i.fonticon-10-arrow-right(aria-hidden='true')
            | fonticon-10-arrow-right
          li
            i.fonticon-10-sm-bold-plus(aria-hidden='true')
            | fonticon-10-sm-bold-plus
          li
            i.fonticon-10-sm-bold-check(aria-hidden='true')
            | fonticon-10-sm-bold-check
          li
            i.fonticon-10-sm-bold-x(aria-hidden='true')
            | fonticon-10-sm-bold-x
          li
            i.fonticon-10-dot(aria-hidden='true')
            | fonticon-10-dot
          li
            i.fonticon-10-circlearrow(aria-hidden='true')
            | fonticon-10-circlearrow
          li
            i.fonticon-10-x(aria-hidden='true')
            | fonticon-10-x
          li
            i.fonticon-10-video-enlarge(aria-hidden='true')
            | fonticon-10-video-enlarge
          li
            i.fonticon-10-video-minimize(aria-hidden='true')
            | fonticon-10-video-minimize
          li
            i.fonticon-10-video-play(aria-hidden='true')
            | fonticon-10-video-play
          li
            i.fonticon-10-video-pause(aria-hidden='true')
            | fonticon-10-video-pause
          li
            i.fonticon-10-speaker(aria-hidden='true')
            | fonticon-10-speaker
          li
            i.fonticon-15-mobile-menu(aria-hidden='true')
            | fonticon-15-mobile-menu
          li
            i.fonticon-15-circle-play(aria-hidden='true')
            | fonticon-15-circle-play
          li
            i.fonticon-15-popup(aria-hidden='true')
            | fonticon-15-popup
          li
            i.fonticon-15-twitter(aria-hidden='true')
            | fonticon-15-twitter
          li
            i.fonticon-15-facebook-sm(aria-hidden='true')
            | fonticon-15-facebook-sm
          li
            i.fonticon-15-gplus(aria-hidden='true')
            | fonticon-15-gplus
          li
            i.fonticon-15-youtube(aria-hidden='true')
            | fonticon-15-youtube
          li
            i.fonticon-15-facebook(aria-hidden='true')
            | fonticon-15-facebook
          li
            i.fonticon-15-instagram(aria-hidden='true')
            | fonticon-15-instagram
          li
            i.fonticon-15-zoom(aria-hidden='true')
            | fonticon-15-zoom
          li
            i.fonticon-20-skateboard(aria-hidden='true')
            | fonticon-20-skateboard
          li
            i.fonticon-20-runner(aria-hidden='true')
            | fonticon-20-runner
          li
            i.fonticon-20-mic-studio(aria-hidden='true')
            | fonticon-20-mic-studio
          li
            i.fonticon-30-laptop(aria-hidden='true')
            | fonticon-30-laptop
          li
            i.fonticon-30-tablet(aria-hidden='true')
            | fonticon-30-tablet
          li
            i.fonticon-30-memory-stick(aria-hidden='true')
            | fonticon-30-memory-stick
          li
            i.fonticon-30-tv(aria-hidden='true')
            | fonticon-30-tv
          li
            i.fonticon-30-projector(aria-hidden='true')
            | fonticon-30-projector
          li
            i.fonticon-30-water-drop(aria-hidden='true')
            | fonticon-30-water-drop
          li
            i.fonticon-30-mic(aria-hidden='true')
            | fonticon-30-mic
          li
            i.fonticon-30-dongle(aria-hidden='true')
            | fonticon-30-dongle
          li
            i.fonticon-30-cd(aria-hidden='true')
            | fonticon-30-cd
          li
            i.fonticon-30-handycam(aria-hidden='true')
            | fonticon-30-handycam
          li
            i.fonticon-30-video-camera(aria-hidden='true')
            | fonticon-30-video-camera
          li
            i.fonticon-30-grid(aria-hidden='true')
            | fonticon-30-grid
          li
            i.fonticon-30-grid-alt(aria-hidden='true')
            | fonticon-30-grid-alt
          li
            i.fonticon-30-headphones(aria-hidden='true')
            | fonticon-30-headphones
          li
            i.fonticon-30-earbuds(aria-hidden='true')
            | fonticon-30-earbuds
          li
            i.fonticon-30-earclips(aria-hidden='true')
            | fonticon-30-earclips
          li
            i.fonticon-30-neckphones(aria-hidden='true')
            | fonticon-30-neckphones
          li
            i.fonticon-30-camera(aria-hidden='true')
            | fonticon-30-camera
          li
            i.fonticon-30-support(aria-hidden='true')
            | fonticon-30-support
          li
            i.fonticon-30-intelligent-auto(aria-hidden='true')
            | fonticon-30-intelligent-auto
          li
            i.fonticon-30-superior-auto(aria-hidden='true')
            | fonticon-30-superior-auto
          li
            i.fonticon-30-film-strip(aria-hidden='true')
            | fonticon-30-film-strip
          li
            i.fonticon-30-battery(aria-hidden='true')
            | fonticon-30-battery
          li
            i.fonticon-30-wifi(aria-hidden='true')
            | fonticon-30-wifi
          li
            i.fonticon-30-bluetooth(aria-hidden='true')
            | fonticon-30-bluetooth
          li
            i.fonticon-30-plus(aria-hidden='true')
            | fonticon-30-plus
          li
            i.fonticon-40-panorama(aria-hidden='true')
            | fonticon-40-panorama
          li
            i.fonticon-40-face(aria-hidden='true')
            | fonticon-40-face
          li
            i.fonticon-40-stability(aria-hidden='true')
            | fonticon-40-stability
          li
            i.fonticon-40-battery(aria-hidden='true')
            | fonticon-40-battery
          li
            i.fonticon-50-wifi(aria-hidden='true')
            | fonticon-50-wifi
          li
            i.fonticon-50-bluetooth(aria-hidden='true')
            | fonticon-50-bluetooth
          li
            i.fonticon-60-win8(aria-hidden='true')
            | fonticon-60-win8
          li
            i.fonticon-60-sony(aria-hidden='true')
            | fonticon-60-sony




  !{partial('includes/docs-foot.html')}
</html>
