doctype 5
!{partial('includes/ieconditionals.html')}

!{partial('includes/docs-head.html')}
body( data-spy = "scroll", data-target = ".bs-docs-sidebar" )
  !{partial('includes/docs-nav.html')}
  
  header.jumbotron.subhead#overview
    div.container
      h1 Base CSS
      p.p1
        | Fundamental HTML element styles
  div.container
    div.grid
      div.span9
        section#typography
          div.bs-docs-example.bs-docs-example-headings
            div.big-bottom-margin
              div
                p.title-docs
                  | SST-Roman
                h5.SST-Roman The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Italic
                h5.SST-Italic The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Roman CSS:italic
                h5.SST-Roman-i The quick brown fox jumps over the lazy dog
            div.big-bottom-margin
              div
                p.title-docs
                  | SST-Roman
                h5.SST-Roman The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Light
                h5.SST-Light The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Light-Italic
                h5.SST-Light-Italic The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Light CSS:italic
                h5.SST-Light-i The quick brown fox jumps over the lazy dog
            div.big-bottom-margin
              div
                p.title-docs
                  | SST-Roman
                h5.SST-Roman The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Medium
                h5.SST-Medium The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Medium-Italic
                h5.SST-Medium-Italic The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Medium CSS:italic
                h5.SST-Medium-i The quick brown fox jumps over the lazy dog
            div.big-bottom-margin
              div
                p.title-docs
                  | SST-Roman
                h5.SST-Roman The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Roman CSS:bold
                h5.SST-Roman-b The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Bold
                h5.SST-Bold The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Bold-Italic
                h5.SST-Bold-Italic The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Bold CSS:italic
                h5.SST-Bold-i The quick brown fox jumps over the lazy dog
              div
                p.title-docs
                  | SST-Roman CSS:bold,italic
                h5.SST-Roman-b-i The quick brown fox jumps over the lazy dog
            div.big-bottom-margin
              div
                p.title-docs
                  | SST-Roman-ttf
                h5.SST-Roman-ttf
                  | ! # $ % &amp; ' ( ) * + , - . / 0 1 2 3 4 5 6 7 8 9 ; &lt; = &gt; ? @ A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ / ] ^ _ `
                  | a b c d e f g h i j k l m n o p q r s t u v w x y z { | } ~ ¡ ¢ £ ¤ ¥ ¦ § ¨ © ª « ¬ ® ¯ ° ± ² ³ ´ µ ¶ · ¸ ¹ º » ¼ ½ ¾ ¿ À Á Â Ã Ä Å Æ Ç
                  | È É Ê Ë Ì Í Î Ï Ð Ñ Ò Ó Ô Õ Ö × Ø Ù Ú Û Ü Ý
                  | Þ ß à á â ã ä å æ ç è é ê ë ì í î ï ð ñ ò ó ô õ ö ÷ ø ù ú û ü ý þ ÿ Ā ā Ă ă Ą ą Ć ć Ĉ ĉ Ċ ċ Č č Ď ď Đ đ Ē ē Ĕ ĕ Ė ė Ę ę Ě ě Ĝ ĝ Ğ ğ Ġ ġ
                  | Ģ ģ Ĥ ĥ Ħ ħ Ĩ ĩ Ī ī Ĭ ĭ Į į İ ı Ĳ ĳ Ĵ ĵ Ķ ķ ĸ Ĺ ĺ Ļ ļ Ľ ľ Ŀ ŀ Ł ł Ń ń Ņ ņ Ň ň ŉ Ŋ ŋ Ō ō Ŏ ŏ Ő ő Œ œ Ŕ ŕ Ŗ ŗ Ř ř Ś ś Ŝ ŝ Ş ş Š š Ţ ţ Ť ť
                  | Ŧ ŧ Ũ ũ Ū ū Ŭ ŭ Ů ů Ű ű Ų ų Ŵ ŵ Ŷ ŷ Ÿ Ź ź Ż ż Ž ž ƒ Ș ș Ț ț ȷ ˆ ˇ ˉ ˘ ˙ ˚ ˛ ˜ ˝ Δ Ω μ π Ẁ ẁ Ẃ ẃ Ẅ ẅ Ỳ ỳ – — ‘ ’ ‚ “ ” „ † ‡ • … ‰ ‹ › ⁄
                  | ⁰ ⁴ ⁵ ⁶ ⁷ ⁸ ⁹ ₀ ₁ ₂ ₃ ₄ ₅ ₆ ₇ ₈ ₉ € ℅  ™ Ω ℮ ∂ ∆ ∏ ∑ − ∕ ∙ √ ∞ ∫ ≈ ≠ ≤ ≥ ◊    ﬀ ﬁ ﬂ ﬃ ﬄ
              div
                p.title-docs
                  | SST-Roman-otf
                h5.SST-Roman-otf
                  | ! # $ % &amp; ' ( ) * + , - . / 0 1 2 3 4 5 6 7 8 9 ; &lt; = &gt; ? @ A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ / ] ^ _ `
                  | a b c d e f g h i j k l m n o p q r s t u v w x y z { | } ~ ¡ ¢ £ ¤ ¥ ¦ § ¨ © ª « ¬ ® ¯ ° ± ² ³ ´ µ ¶ · ¸ ¹ º » ¼ ½ ¾ ¿ À Á Â Ã Ä Å Æ Ç
                  | È É Ê Ë Ì Í Î Ï Ð Ñ Ò Ó Ô Õ Ö × Ø Ù Ú Û Ü Ý
                  | Þ ß à á â ã ä å æ ç è é ê ë ì í î ï ð ñ ò ó ô õ ö ÷ ø ù ú û ü ý þ ÿ Ā ā Ă ă Ą ą Ć ć Ĉ ĉ Ċ ċ Č č Ď ď Đ đ Ē ē Ĕ ĕ Ė ė Ę ę Ě ě Ĝ ĝ Ğ ğ Ġ ġ
                  | Ģ ģ Ĥ ĥ Ħ ħ Ĩ ĩ Ī ī Ĭ ĭ Į į İ ı Ĳ ĳ Ĵ ĵ Ķ ķ ĸ Ĺ ĺ Ļ ļ Ľ ľ Ŀ ŀ Ł ł Ń ń Ņ ņ Ň ň ŉ Ŋ ŋ Ō ō Ŏ ŏ Ő ő Œ œ Ŕ ŕ Ŗ ŗ Ř ř Ś ś Ŝ ŝ Ş ş Š š Ţ ţ Ť ť
                  | Ŧ ŧ Ũ ũ Ū ū Ŭ ŭ Ů ů Ű ű Ų ų Ŵ ŵ Ŷ ŷ Ÿ Ź ź Ż ż Ž ž ƒ Ș ș Ț ț ȷ ˆ ˇ ˉ ˘ ˙ ˚ ˛ ˜ ˝ Δ Ω μ π Ẁ ẁ Ẃ ẃ Ẅ ẅ Ỳ ỳ – — ‘ ’ ‚ “ ” „ † ‡ • … ‰ ‹ › ⁄
                  | ⁰ ⁴ ⁵ ⁶ ⁷ ⁸ ⁹ ₀ ₁ ₂ ₃ ₄ ₅ ₆ ₇ ₈ ₉ € ℅  ™ Ω ℮ ∂ ∆ ∏ ∑ − ∕ ∙ √ ∞ ∫ ≈ ≠ ≤ ≥ ◊    ﬀ ﬁ ﬂ ﬃ ﬄ
              div
                p.title-docs
                  | SST-Roman-woff
                h5.SST-Roman-woff
                  | ! # $ % &amp; ' ( ) * + , - . / 0 1 2 3 4 5 6 7 8 9 ; &lt; = &gt; ? @ A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ / ] ^ _ `
                  | a b c d e f g h i j k l m n o p q r s t u v w x y z { | } ~ ¡ ¢ £ ¤ ¥ ¦ § ¨ © ª « ¬ ® ¯ ° ± ² ³ ´ µ ¶ · ¸ ¹ º » ¼ ½ ¾ ¿ À Á Â Ã Ä Å Æ Ç
                  | È É Ê Ë Ì Í Î Ï Ð Ñ Ò Ó Ô Õ Ö × Ø Ù Ú Û Ü Ý
                  | Þ ß à á â ã ä å æ ç è é ê ë ì í î ï ð ñ ò ó ô õ ö ÷ ø ù ú û ü ý þ ÿ Ā ā Ă ă Ą ą Ć ć Ĉ ĉ Ċ ċ Č č Ď ď Đ đ Ē ē Ĕ ĕ Ė ė Ę ę Ě ě Ĝ ĝ Ğ ğ Ġ ġ
                  | Ģ ģ Ĥ ĥ Ħ ħ Ĩ ĩ Ī ī Ĭ ĭ Į į İ ı Ĳ ĳ Ĵ ĵ Ķ ķ ĸ Ĺ ĺ Ļ ļ Ľ ľ Ŀ ŀ Ł ł Ń ń Ņ ņ Ň ň ŉ Ŋ ŋ Ō ō Ŏ ŏ Ő ő Œ œ Ŕ ŕ Ŗ ŗ Ř ř Ś ś Ŝ ŝ Ş ş Š š Ţ ţ Ť ť
                  | Ŧ ŧ Ũ ũ Ū ū Ŭ ŭ Ů ů Ű ű Ų ų Ŵ ŵ Ŷ ŷ Ÿ Ź ź Ż ż Ž ž ƒ Ș ș Ț ț ȷ ˆ ˇ ˉ ˘ ˙ ˚ ˛ ˜ ˝ Δ Ω μ π Ẁ ẁ Ẃ ẃ Ẅ ẅ Ỳ ỳ – — ‘ ’ ‚ “ ” „ † ‡ • … ‰ ‹ › ⁄
                  | ⁰ ⁴ ⁵ ⁶ ⁷ ⁸ ⁹ ₀ ₁ ₂ ₃ ₄ ₅ ₆ ₇ ₈ ₉ € ℅  ™ Ω ℮ ∂ ∆ ∏ ∑ − ∕ ∙ √ ∞ ∫ ≈ ≠ ≤ ≥ ◊    ﬀ ﬁ ﬂ ﬃ ﬄ
              div
  !{partial('includes/docs-foot.html')}
</html>