doctype 5
!{partial('includes/ieconditionals.html')}

!{partial('includes/docs-head.html')}
body( data-spy = "scroll", data-target = ".bs-docs-sidebar" )
  !{partial('includes/docs-nav.html')}
  
  header.jumbotron.subhead#overview
    div.container
      h2.bs-docs-heading Scaffolding
      p.p1
        | The system is built on responsive 12-column grids, layouts, and components, with 2 primary left &amp; right margins.
  div.main.docs-scaffolding#docs-scaffolding
    div.container#show-hidden-sections-btn-w(style='margin-bottom:-40px; display:none;')
      a.btn.btn-special(href='#',style='width:260px;') Show Hidden Sections
    div#pre-small-screen
      section#root-level-page-structure
        div.container
          h2.bs-docs-heading Root-level page structure
          h3.bs-docs-heading Page structure overview
          p
            | The blue "#page-wrap-inner" section of the page is 100% wide with no margins or padding.
          div.docs-page-structure-page.overall-page-demo
            div.docs-page-structure-nav
              pre.prettyprint.prettyprint-jade
                span.tag nav
            div.docs-page-structure-main
              pre.prettyprint.prettyprint-jade #page-wrap-inner
            div.docs-page-structure-footer
              pre.prettyprint.prettyprint-jade
                span.tag footer
          h3.bs-docs-heading Page sections
          p
            | Directly inside of "#page-wrap-inner" are the major 
            code
              | .container
            | &nbsp;sections of the page, each its own 'row' of content. All "root-level" modules should be wrapped in one of these 
            code
              | &lt;section class="container"&gt;
            | .
          p
            | Each container has left &amp; right margins*, which may be different at each breakpoint. To remove the side margins, add 
            code
              | .full-bleed
            | &nbsp;to the 
            code
              | .container
            | .
          p.p3
            | *They're margins in theory, but not in css. margin-left and margin-right are actually auto, and the container has a set (percent) width, which is calculated, based on the size the margins should be.
          div.docs-page-structure-page
            div.docs-page-structure-nav
              pre.prettyprint.prettyprint-jade
                span.tag nav
            div.docs-page-structure-main
              section.container
                pre.prettyprint.prettyprint-jade .container
              section.container.full-bleed
                pre.prettyprint.prettyprint-jade .container.full-bleed
              section.container
                pre.prettyprint.prettyprint-jade .container
            div.docs-page-structure-footer
              pre.prettyprint.prettyprint-jade
                span.tag footer
          h3.bs-docs-heading Max-width
          p
            | The 
            code
              | .container
            | &nbsp;sections have a max-width, so they won't expand past a certain width. If you need a container to be full bleed no matter how wide the browser window is (for instance for full-browser-width background), add 
            code
              | .full-bleed-no-max
            | &nbsp;to your 
            code
              | .container
          div.docs-page-structure-page.docs-page-structure-page-max
            div.docs-page-structure-main
              section.container
                pre.prettyprint.prettyprint-jade .container
              div.docs-docs-page-structure-maxWidth-outline
              section.container.full-bleed
                pre.prettyprint.prettyprint-jade .container.full-bleed
              section.container.full-bleed.full-bleed-no-max
                pre.prettyprint.prettyprint-jade .container.full-bleed-no-max
              section.container
                pre.prettyprint.prettyprint-jade .container
          p.p4
            | The red lines indicate the "max-width" setting.
          h3.bs-docs-heading Nesting containers
          p
            | If you need a full-bleed for a background, but still need the regular margins for content, you can nest a 
            code
              | .container
            | &nbsp;section inside of a 
            code
              | .full-bleed
            | &nbsp;and/or 
            code
              | .full-bleed-no-max
            | &nbsp;section.
          div.docs-page-structure-page.docs-page-structure-page-max(style='margin-bottom:10px;')
            div.docs-page-structure-main
              section.container
                pre.prettyprint.prettyprint-jade .container
              section.container.full-bleed.nesting-demo-parent
                div.container
                  pre.prettyprint.prettyprint-jade
                    | .container.full-bleed
                    |   .container
              section.container.full-bleed.full-bleed-no-max.nesting-demo-parent
                div.container.full-bleed.nesting-demo-parent
                  div.container
                    pre.prettyprint.prettyprint-jade
                      | .container.full-bleed-no-max
                      |   .container.full-bleed
                      |     .container
              div.docs-docs-page-structure-maxWidth-outline
              section.container
                pre.prettyprint.prettyprint-jade .container
          h5.bs-docs-heading Same layout at 'normal' (no maxed out) width
          div.docs-page-structure-page(style='margin-bottom:10px;')
            div.docs-page-structure-main
              section.container
                pre.prettyprint.prettyprint-jade .container
              section.container.full-bleed.nesting-demo-parent
                div.container
                  pre.prettyprint.prettyprint-jade
                    | .container.full-bleed
                    |   .container
              section.container.full-bleed.full-bleed-no-max.nesting-demo-parent
                div.container.full-bleed.nesting-demo-parent
                  div.container
                    pre.prettyprint.prettyprint-jade
                      | .container.full-bleed-no-max
                      |   .container.full-bleed
                      |     .container
              div.docs-docs-page-structure-maxWidth-outline
              section.container
                pre.prettyprint.prettyprint-jade .container
          h3.bs-docs-heading Grid container &amp; margins
          p
            | To utilize the standard grid, add a 
            code
              | .grid
            | &nbsp;div inside of 
            code
              | .container
            | . The grid has its own margins, in addition to the 
            code
              | .container
            | &nbsp;margins.
          div.docs-page-structure-page
            div.docs-page-structure-main
              section.container
                pre.prettyprint.prettyprint-jade .container
              section.container.nesting-demo-parent
                div.grid.show-grid
                  pre.prettyprint.prettyprint-jade.tall
                    | .container
                    |   .grid
              section.container.full-bleed.nesting-demo-parent
                div.container.nesting-demo-parent
                  div.grid.show-grid
                    pre.prettyprint.prettyprint-jade.tall
                      | .container.full-bleed
                      |   .container
                      |     .grid
              section.container
                pre.prettyprint.prettyprint-jade .container
      section.container(style='padding-bottom:20px; padding-top:0; border-top:0;')
        h3.bs-docs-heading Examples
        p
          | Resize your browser to see how the 
          code
            | .container
          | &nbsp;and 
          code
            | .grid
          | &nbsp;respond with the 
          code
            | .full-bleed
          | &nbsp;and 
          code
            | .full-bleed-no-max
          | &nbsp;classes.
        p
          small
            | Note: You need a display wider than 1400px to see any difference between 
            code
              | .full-bleed
            | &nbsp;and 
            code
              | full-bleed-no-max
            | .
      div.docs-page-structure-page.full-size
        div.docs-page-structure-main
          section.container
            pre.prettyprint.prettyprint-jade .container
          section.container.full-bleed
            pre.prettyprint.prettyprint-jade .container.full-bleed
          section.container.full-bleed-no-max
            pre.prettyprint.prettyprint-jade .container.full-bleed-no-max
          section.container.nesting-demo-parent
            div.grid.show-grid
              pre.prettyprint.prettyprint-jade.tall
                | .container
                |   .grid
          section.container.full-bleed.nesting-demo-parent
            div.container.nesting-demo-parent
              div.grid.show-grid
                pre.prettyprint.prettyprint-jade.tall
                  | .container.full-bleed
                  |   .container
                  |     .grid
          section.container.full-bleed-no-max.nesting-demo-parent
            div.container.full-bleed.nesting-demo-parent
              div.container.nesting-demo-parent
                div.grid.show-grid
                  pre.prettyprint.prettyprint-jade.tall
                    | .container.full-bleed-no-max
                    |   .container.full-bleed
                    |     .container
                    |       .grid
      section.container(style='padding-bottom:20px; padding-top:50px; border-top:0;')
        h2.bs-docs-heading The Grid
        h3.bs-docs-heading Standard Grid example
        p
          | The default grid system utilizes
          strong 12 fluid columns
          | . Column widths and gutters are percent based, and flex with the width of the parent 
          code
            | .grid
          | &nbsp;element. They are also responsive, and change at different breakpoints, ensuring proper proportions across screen resolutions and devices.
      div.docs-page-structure-page.full-size.grid-examples
        div.docs-page-structure-main
          section.container.nesting-demo-parent
            div.bs-docs-grid
              div.grid.show-grid
                div.span1
                  | 1
                div.span1
                  | 1
                div.span1
                  | 1
                div.span1
                  | 1
                div.span1
                  | 1
                div.span1
                  | 1
                div.span1
                  | 1
                div.span1
                  | 1
                div.span1
                  | 1
                div.span1
                  | 1
                div.span1
                  | 1
                div.span1
                  | 1
              div.grid.show-grid
                div.span2
                  | 2
                div.span3
                  | 3
                div.span3
                  | 3
                div.span4
                  | 4
              div.grid.show-grid
                div.span6
                  | 6
                div.span6
                  | 6
              div.grid.show-grid
                div.span12
                  | 12
      section.container(style='padding-bottom:20px; padding-top:0; border-top:0;')
        h4.bs-docs-heading Basic grid HTML
        p
          | For a simple two column layout, create a 
          code
            | .grid
          | &nbsp;and add the appropriate number of 
          code
            | .span*
          | &nbsp;columns. As this is a 12-column grid, each 
          code
            | .span*
          | &nbsp;spans a number of those 12 columns, and should always add up to 12 for each grid row.
        div.bs-docs-grid
          div.grid.show-grid
            div.span4
              | 4
            div.span8
              | 8
        div.grid
          pre.prettyprint.prettyprint-jade
            | .container
            |   .grid
            |     .span4
            |     .span8
        p
          | Given this example, we have 
          code
            | .span4
          | &nbsp;and 
          code
            | .span8
          | , making for 12 total columns and a complete grid row.
        h3.bs-docs-heading Rows
        p
          | Each row is its own individual grid. For multiple rows, just stack multiple 
          code
            | .grid
          | &nbsp;containers.
        div.bs-docs-grid
          div.grid.show-grid
            div.span6
              | 6
            div.span6
              | 6
          div.grid.show-grid
            div.span12
              | 12
        p.p4(style='padding-top:15px;')
          | For the rest of this document, the code samples will assume all 
          code
            | .grid
          | 's are contained withing a 
          code
            | .container
          | .
        div.grid
          pre.prettyprint.prettyprint-jade
            | .grid
            |   .span6
            |   .span6
            | .grid
            |   .span12
        h3.bs-docs-heading Offsetting columns
        p
          | Move columns to the right using 
          code
            | .offset*
          | &nbsp;classes. Each class increases the left margin of a column by a whole column. For example, 
          code
            | .offset2
          | &nbsp;moves 
          code
            | .span4
          | &nbsp;over two columns.
        div.bs-docs-grid
          div.grid.show-grid
            div.span3
              | 3
            div.span4.offset2
              | 4/2
            div.span3
              | 3
        div.grid
          pre.prettyprint.prettyprint-jade
            | .grid
            |   .span3
            |   .span4.offset2
            |   .span3
      section.container(style='padding-bottom:20px; padding-top:50px; border-top:0;')
        h2.bs-docs-heading Slim Grid
        p
          | The slim grid utilizes the same
          strong 12 fluid columns
          | as the Standard grid, but with skinnier gutters and wider columns.
        div.bs-docs-grid
          div.slimgrid.show-grid
            div.span3
              | 3
            div.span3
              | 3
            div.span3
              | 3
            div.span3
              | 3
        div.grid
          pre.prettyprint.prettyprint-jade
            | .slimgrid
            |   .span3
            |   .span3
            |   .span3
            |   .span3
        p
          | The slim grid is usually used in concert with 
          a(href='http://masonry.desandro.com/') masonary
          | . Javascript can be used to change the number of columns dynamically at different breakpoints.
        p
          | To implement the slim grid, use 
          code
            | .slimgrid
          | &nbsp;in place of 
          code
            | .grid
          | .
        h4.bs-docs-heading 5 Column Slim Grid
        p
          | The slim grid has a 5-column option, which can be implemented using 
          code
            | .slimgrid5
          | . The number of columns needs to add up to 5.
        div.bs-docs-grid
          div.slimgrid5.show-grid
            div.span2
              | 2
            div.span1
              | 1
            div.span1
              | 1
            div.span1
              | 1
        div.grid
          pre.prettyprint.prettyprint-jade
            | .slimgrid5
            |   .span2
            |   .span1
            |   .span1
            |   .span1
    section.container#small-screens-section(style='padding-bottom:20px; padding-top:50px; border-top:0;')
      h2.bs-docs-heading#small-screen-grids Small Screen Grids
      p
        | There are 2 different options for grids below the 768 breakpoint:
        strong Mobile-Grid
        | and
        strong No-Grid
        | . The small-screen grid will override the 
        code
          | .grid
        | , 
        code
          | .slimgrid
        | &nbsp;or 
        code
          | .slimgrid5
        | &nbsp;classes, and should be used in addition to them..
      h4.bs-docs-heading Mobile-Grid
      p
        | The mobile-grid utilizes
        strong 6 fluid columns
        | . To implement, add the appropriate m-grid class
        strong in addition
        | to your primary 
        code
          | .grid
        | &nbsp;class. Class options are 
        code
          | .m-grid-at-767
        | , 
        code
          | .m-grid-at-567
        | , 
        code
          | .m-grid-at-479
        | &nbsp;or 
        code
          | .m-grid
        | &nbsp;(same as 
        code
          | .m-grid-at-767
        | &nbsp;);
        | and add the appropriate 
        code
          | .m-span
        | &nbsp;and (optionally) 
        code
          | .m-offset
        | &nbsp;class to each column - again, in addition to the primary 
        code
          | .span
        | &nbsp;class. The total mobile spans/offsets need to add up to 6.
      p.p4
        | Resize your browser to below 768px wide to see the mobile grid take effect.
        br
        | Hover over any of the columns to see the actual class names that affect it.
      p.well#hide-pre-small-screen-content-w
        span.label.label-info Check it out! 
        | - You can 
        a(href='#') hide prior content on this page
        | , and limit the paragraph widths, so the content doesn't jump around so much when you're resizing.
      div.bs-docs-grid
        div.grid.m-grid-at-767.show-grid
          div.span4.m-span1
            | 4 m1
          div.span4.m-span2
            | 4 m2
          div.span4.m-span2.m-offset1
            | 4 m2/1
      div.grid
        pre.prettyprint.prettyprint-jade
          | .grid.m-grid-at-767
          |   .span4.m-span1
          |   .span4.m-span2
          |   .span4.m-span2.m-offset1
      h4.bs-docs-heading No-Grid
      p
        | The
        strong no-grid
        | option collapses all grid spans into stacked rows, ignoring all 
        code
          | .span
        | 's, 
        code
          | .offset
        | 's, 
        code
          | .m-span
        | 's and 
        code
          | .m-offset
        | 's. To implement, add the appropriate no-grid class 
        strong in addition 
        | to your primary 
        code
          | .grid
        | &nbsp;class. Possible classes are 
        code
          | .no-grid-at-767
        | , 
        code
          | .no-grid-at-567
        | , and 
        code
          | .no-grid-at-479
        | .
      div.bs-docs-grid
        div.grid.no-grid-at-767.show-grid
          div.span4
            | 4
          div.span4
            | 4
          div.span4
            | 4
      div.grid
        pre.prettyprint.prettyprint-jade
          | .grid.no-grid-at-767
          |   .span4
          |   .span4
          |   .span4
      h4.bs-docs-heading Using both m-grid and no-grid
      p
        | You can use the mobile-grid for a range of breakpoints, and switch to the no-grid below a certain breakpoint. Simply add the appropriate 
        code
          | .m-grid-at
        | &nbsp;and 
        code
          | .no-grid-at
        | &nbsp;classes for the target breakpoints.
      p.p4
        | Resize your browser to below 768px wide, and then to below 568 wide, to see the mobile-grid and no-grid take effect.
      div.bs-docs-grid
        div.grid.m-grid-at-767.no-grid-at-567.show-grid
          div.span4.m-span1
            | 4 m1
          div.span4.m-span2
            | 4 m2
          div.span4.m-span2.m-offset1
            | 4 m2/1
      div.grid
        pre.prettyprint.prettyprint-jade
          | .grid.m-grid-at-767.no-grid-at-567
          |   .span4.m-span1
          |   .span4.m-span2
          |   .span4.m-span2.m-offset1
      h4.bs-docs-heading Full-bleed on small screens
      p
        | By default, margins are applied to small screens the same as desktop. The 
        code
          | .full-bleed
        | &nbsp;(and 
        code
          | .full-bleed-no-max
        | &nbsp;) classes will affect all resolution sizes. To apply full-bleed below 768px, when not used on desktop, use 
        code
          | .full-bleed-at-767
        | , 
        code
          | .full-bleed-at-567
        | , 
        code
          | .full-bleed-at-479
        | , or 
        code
          | .m-full-bleed
        | &nbsp;(same as 
        code
          | .full-bleed-at-767
        | &nbsp;).
      p
        | Currently, there's no way to override a 
        code
          | .full-bleed
        | &nbsp;to add margins back for mobile.
    section#responsive.container
      h2.bs-docs-heading Responsive design
      img(src='img/responsive-illustrations.png',alt='Responsive devices',style='float: right; margin: 0 0 20px 20px;')
      p
        | Media queries allow for custom CSS based on a number of conditions—ratios, widths, display type, etc—but usually focuses around 
        code
          | min-width
        | &nbsp;and 
        code
          | max-width
        | .
      p
        | All modules have been designed to display on any width screen from 320px up, and may have any number of independent breakpoints. There are some primary breakpoints that most modules respond to.
      p
        | This chart shows the primary breakpoints used on the site, with other relevant information such as grids and popular devices.
      img.responsive-chart(src='img/responsive-chart.png',alt='Responsive chart')
      p.p3
        | *A device's 'effective pixels,' or 'css pixels,' may be different from its 'device pixels.' For instance, the iPhone 5 has a device pixel width of 640, but an effective pixel width of 320.
      p
        | As you can see, the range from 568px to 768px can be targeted as either tablet or phone.
      h3.bs-docs-heading Responsive utility classes
      p
        | For faster mobile-friendly development, use these utility classes for showing and hiding content by device. Below is a table of the available classes and their effect on a given media query layout (labeled by device).
      table.table.table-bordered.table-striped.responsive-utilities
        thead
          tr
            th Class
            th
              | Phones
              small 767px and below
            th
              | Tablets
              small 768px to 979px
            th
              | Desktops
              small Default
        tbody
          tr
            th
              code
                | .visible-phone
            td.is-visible Visible
            td.is-hidden Hidden
            td.is-hidden Hidden
          tr
            th
              code
                | .visible-tablet
            td.is-hidden Hidden
            td.is-visible Visible
            td.is-hidden Hidden
          tr
            th
              code
                | .visible-desktop
            td.is-hidden Hidden
            td.is-hidden Hidden
            td.is-visible Visible
          tr
            th
              code
                | .hidden-phone
            td.is-hidden Hidden
            td.is-visible Visible
            td.is-visible Visible
          tr
            th
              code
                | .hidden-tablet
            td.is-visible Visible
            td.is-hidden Hidden
            td.is-visible Visible
          tr
            th
              code
                | .hidden-desktop
            td.is-visible Visible
            td.is-visible Visible
            td.is-hidden Hidden
      h4.bs-docs-heading Overrides for phone/tablet
      p
        | On a per-module bases, the 
        strong phone/tablet 
        | breakpoints can be overridden, so that 
        strong phone 
        | won't apply until a lower breakpoint. You can trigger the phone layout at a lower breakpoint by adding 
        code
          | .phone-at-567
        | &nbsp;or 
        code
          | .phone-at-479
        | .
      h4.bs-docs-heading When to use
      p
        | Use on a limited basis and avoid creating entirely different versions of the same site. Instead, use them to complement each device's presentation.
      h4.bs-docs-heading Responsive utilities test case
      p
        | Resize your browser or load on different devices to test the above classes.
      h5.bs-docs-heading Visible on...
      p
        | Green checkmarks indicate that class is visible in your current viewport.
      ul.responsive-utilities-test
        li
          | Phone
          span.visible-phone ✔ Phone
        li
          | Tablet
          span.visible-tablet ✔ Tablet
        li
          | Desktop
          span.visible-desktop ✔ Desktop
      h5.bs-docs-heading Hidden on...
      p
        | Here, green checkmarks indicate that class is hidden in your current viewport.
      ul.responsive-utilities-test.hidden-on
        li
          | Phone
          span.hidden-phone ✔ Phone
        li
          | Tablet
          span.hidden-tablet ✔ Tablet
        li
          | Desktop
          span.hidden-desktop ✔ Desktop
  !{partial('includes/docs-foot.html')}
</html>