
@media (max-width: px-em( 979 ) ) {

}

@media (max-width: px-em( 767 ) ) {

  $dialSize: 40px;

  .story-sequence {
    height: 420px;

    // Don't need an IE7 fallback because inside media query
    .ss-inner,
    .ss-inner > .container,
    .ss-inner > .container > .grid {
      height: inherit;
    }

    .grid .box {
      position: absolute;
      text-align: center;
      min-height: 0;
    }

    .box.active {
      position: static;
    }

    .ss-sequence {
      position: absolute;
      bottom: $dialSize;
      left: 0;
      right: 0;
      margin: auto;
    }

  }
}

@media (max-width: px-em( 479 ) ) {

  .story-sequence {
    height: 360px;
  }
}
