@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

@mixin background-cover() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

$dialSize: 60px;

.story-sequence {

  // Loader
  .loading {
    @include center-hv( 68px, 62px );
  }

  // Cover with title & CTA
  .ss-cover {
    z-index: 3; // above the sequence (.ss-inner)
    @include fill-parent();
  }

  // Put the cover behind the sequence when the sequence is visible
  &.is-sequence-visible .ss-cover {
    z-index: 1;
  }

  .ss-backdrop,
  .ss-cover-img {
    z-index: 1;
    @include fill-parent();
    @include background-cover();
  }

  // Position above backdrop and cover image
  // Needs z-index set because of IE7
  .ss-cover-content {
    position: relative;
    z-index: 2;
  }

  .title {
    margin-top: 16%;
    margin-bottom: 0;
  }

  // Call to action which starts the animation
  .cta {
    margin-top: 10%;
    margin-bottom: 0;
  }

  // Wrapper for sequence. Includes dail
  .ss-inner {
    position: relative;
    z-index: 2;
  }


  // Stop Content
  // -----------------
  .stop-content {
    z-index: 2;
    @include fill-parent();
  }

  // Needs more specificity to override grid margin-left
  .grid .box {
    position: absolute;
    z-index: 1;
    float: none; // Boxes are positioned absolute, they don't need floats
    margin: 0 auto;
  }

  .box.active {
    z-index: 2;
  }

  .stop-copy {
    width: 100%;
  }


  // Dial & Reset
  // -----------------
  .dial-wrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    @include square( $dialSize );
    margin-left: -( $dialSize / 2 );
    line-height: .8;

    input {
      padding: 0;
      margin: 0;
      border: 0;
      height: 0;
      width: 0;
    }
  }

  .btn-reset {
    @include xy( 0, 0 );
  }

  .btn-reset:hover i {
    color: purple;
  }

  .reset-icon {
    font-size: $dialSize;
    color: $btnSpecialBackground;
  }

  .dial-counter {
    position: absolute;
    top: 19px;
    left: 0;
    width: $dialSize;
    margin: 0;
  }

  .btn-reset {
    display: none;
  }

  // Dial States
  // ---------------
  &.is-last-stop {

    .btn-reset {
      display: block;
    }

    .simpleknob,
    .dial-counter {
      display: none !important; // override inline styles set by simpleknob
    }
  }


  // Button
  // --------------
  // Default styling
  .btn-circle {
    @include square( px-em( 40 ) );
    padding: 0;
    border-radius: 50%;
    background: $btnSpecialBackground;

    &:hover {
      background: $btnSpecialBackgroundHover;
    }
    &.active,
    &:active {
      background: $btnSpecialBackgroundActive;
    }
    // &.disabled:hover,
    // &[disabled]:hover {
    //   background: $btnSpecialBackground;
    // }
  }

  // Styling needed for carousel sequence
  .btn-circle {
    margin-left: 1em;
  }

  .btn-circle i {
    -webkit-font-smoothing: antialiased;
  }
}