$subPhoneMax: px-em(479);
$phoneMax: px-em(767);

@media (max-width: $phoneMax ) {
  .hear-it-feel-it {
	  .quadrant {
	  	display:none;
	  }
	  .hear-it-carousel-wrapper, .sony-dot-nav {
	  	display:block;
	  }
  }
}



.hear-it-feel-it .background .image-module {

  @media (max-width: $phoneMax) {
    height: 440px; //320px
  }

  // @media (max-width: $subPhoneMax){
  //   height: 440px;
  // }
}

