@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.hear-it-feel-it {

  .background {
    .image-module {
      height: 540px;
      background-position: center bottom;
      background-repeat: no-repeat;
    }
  }

  .quadrant {
    width: 50%;
  }

}