//
// Editorial + Dual Viewer Module (EDV)
// --------------------------------------------------

@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

.edv {
  padding:70px 0;

  article {padding:70px 0;}

  .edv-images {
    position: relative;
    height:100%;
    margin-bottom:21px;
    height:560px;

    .edv-image {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      &.image-1 {
        left: 0;
        z-index:1;
      }

      &.image-2 {right: 0;}

      .edv-image-wrapper {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        background-color:$white;

        img {
          display: none;
          position: relative;
          width: 100%;
        }
      }
    }

    figcaption {
      position: absolute;
      bottom: -33px;
      text-transform: uppercase;
      color:$gray40;
    }
    figcaption + figure + figcaption {
      right:0;
    }

    .scrubber {
      position: absolute;
      margin-left:-1px;
      width: 1px;
      height: 100%;
      background-color:$gray60;
      z-index: 3;
      color:$white;

      .handle {
        position: absolute;
        top: 50%;
        margin-top:-32px;
        left: -31px;
        width: 65px;
        height: 65px;
        background:url('../../img/editorial-dual-viewer-e9/gray30.png');
        padding:8px;
        cursor:pointer;
        @include border-radius(100px);
      }
        .inner {
          width:49px;
          height:49px;
          background:$buttonOrange;
          display:block;
          text-align:center;
          line-height:47px;
          font-size:0.9em;
          @include border-radius(100px);
        }
    }
  }

  // Full-Width viewers
  &.full-width {
    article {text-align:center; margin-top:0;}
  }

  // Vertical scrubber
  &.y {
    .edv-images {
      margin-top:33px;

      figcaption {
        width:100%;
        text-align:center;
        top: -26px;
        padding:0;
      }
      figcaption + figure + figcaption {
        top:auto;
        bottom:-33px;
      }

      .scrubber {
        margin-left:0;
        width: 100%;
        height: 1px;

        .handle {
          left: 50%;
          margin-left:-32px;
          margin-top:-34px;
          @include rotate(90deg);
        }
      }
    }
  }

  // Gray background 
  &.gray {
    background:$gray80;
 
    .scrubber {background:$white;}

    .edv-images .edv-image .edv-image-wrapper {background-color:$gray80;}
  }

  // For images that blend in with the background color
  &.transparent-edges {
    .scrubber {background:$gray60;}
    .edv-images .edv-image .edv-image-wrapper {background-size:contain;}
  } 

  &.scrubber-disabled .scrubber {display:none;}
}

.no-backgroundsize {
  .edv {
    .edv-images {
      .edv-image-wrapper {
        top: -200%;
        display: table-cell;
        height: 500%;
        background-image: none !important;
        vertical-align: middle;

        span {
          display: inline-block;
          height: 100%;
        }

        * {
          vertical-align: middle;
        }

        img {
          display: inline;
        }
      }
    }
  }
}
