
// ------------------------------------------------
// LARGE DESKTOP
// ------------------------------------------------
//  d888    .d8888b.   .d8888b.   .d8888b.
// d8888   d88P  Y88b d88P  Y88b d88P  Y88b
//   888          888 888    888 888    888
//   888        .d88P 888    888 888    888 88888b.  888  888   888
//   888    .od888P"  888    888 888    888 888 "88b `Y8bd8P' 8888888
//   888   d88P"      888    888 888    888 888  888   X88K     888
//   888   888"       Y88b  d88P Y88b  d88P 888 d88P .d8""8b.
// 8888888 888888888   "Y8888P"   "Y8888P"  88888P"  888  888
//                                          888
//                                          888
//                                          888
// ------------------------------------------------

@media (min-width: 1200px) {

.one-sony-carousel.secondary-tout {

  .st-container {
    height: 490px;
  }
}

} // END min-width: 1200px

// ------------------------------------------------
// SMALL DESKTOP
// ------------------------------------------------

@media (min-width: 1024px) and (max-width: 1199px) {

.one-sony-carousel.secondary-tout {

  .st-container {
    height: 430px;
  }
}

}

// ------------------------------------------------
// LANDSCAPE TABLET
// ------------------------------------------------
// 888888888   .d8888b.   .d8888b.                         d888    .d8888b.   .d8888b.   .d8888b.
// 888        d88P  Y88b d88P  Y88b                       d8888   d88P  Y88b d88P  Y88b d88P  Y88b
// 888        888        Y88b. d88P                         888   888    888        888      .d88P
// 8888888b.  888d888b.   "Y88888"  88888b.  888  888       888   888    888      .d88P     8888"  88888b.  888  888
//      "Y88b 888P "Y88b .d8P""Y8b. 888 "88b `Y8bd8P'       888   888    888  .od888P"       "Y8b. 888 "88b `Y8bd8P'
//        888 888    888 888    888 888  888   X88K  888888 888   888    888 d88P"      888    888 888  888   X88K
// Y88b  d88P Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       888   Y88b  d88P 888"       Y88b  d88P 888 d88P .d8""8b.
//  "Y8888P"   "Y8888P"   "Y8888P"  88888P"  888  888     8888888  "Y8888P"  888888888   "Y8888P"  88888P"  888  888
//                                  888                                                            888
//                                  888                                                            888
//                                  888                                                            888
@media (min-width: 568px) and (max-width: 1023px) {

.one-sony-carousel.secondary-tout {

  .st-container {
    height: 372px;
  }
}

}

// ------------------------------------------------
// PORTRAIT TABLET TO LANDSCAPE AND SMALL DESKTOP
// ------------------------------------------------
//     d8888   .d8888b.   .d8888b.                         888888888   .d8888b.  8888888888
//    d8P888  d88P  Y88b d88P  Y88b                        888        d88P  Y88b       d88P
//   d8P 888  Y88b. d88P 888    888                        888        888             d88P
//  d8P  888   "Y88888"  888    888 88888b.  888  888      8888888b.  888d888b.      d88P  88888b.  888  888
// d88   888  .d8P""Y8b. 888    888 888 "88b `Y8bd8P'           "Y88b 888P "Y88b  88888888 888 "88b `Y8bd8P'
// 8888888888 888    888 888    888 888  888   X88K  888888       888 888    888   d88P    888  888   X88K
//       888  Y88b  d88P Y88b  d88P 888 d88P .d8""8b.      Y88b  d88P Y88b  d88P  d88P     888 d88P .d8""8b.
//       888   "Y8888P"   "Y8888P"  88888P"  888  888       "Y8888P"   "Y8888P"  d88P      88888P"  888  888
//                                  888                                                    888
//                                  888                                                    888
//                                  888                                                    888
// ------------------------------------------------
@media (min-width: 480px) and (max-width: 567px) {

.one-sony-carousel.secondary-tout {

  .st-container {
    height: 347px;
  }
}

}

// ------------------------------------------------
// LANDSCAPE PHONE AND BELOW
// ------------------------------------------------
//     d8888  8888888888  .d8888b.                           .d8888b.                                  888
//    d8P888        d88P d88P  Y88b                         d88P  "88b                                 888
//   d8P 888       d88P  888    888                         Y88b. d88P                                 888
//  d8P  888      d88P   Y88b. d888 88888b.  888  888        "Y8888P"           888  888 88888b.   .d88888  .d88b.  888d888
// d88   888   88888888   "Y888P888 888 "88b `Y8bd8P'       .d88P88K.d88P       888  888 888 "88b d88" 888 d8P  Y8b 888P"
// 8888888888   d88P            888 888  888   X88K         888"  Y888P"        888  888 888  888 888  888 88888888 888
//       888   d88P      Y88b  d88P 888 d88P .d8""8b.       Y88b .d8888b        Y88b 888 888  888 Y88b 888 Y8b.     888
//       888  d88P        "Y8888P"  88888P"  888  888        "Y8888P" Y88b       "Y88888 888  888  "Y88888  "Y8888  888
//                                  888
//                                  888
//                                  888
// ------------------------------------------------

@media (max-width: 479px) {

.one-sony-carousel.secondary-tout {

  .st-container {
    height: 317px;
  }
}

}
