//
// UX Marketing Convergence (UXMC)
// --------------------------------------------------

@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

// -----------------------------------------
// DEFAULT: 980px - 1199px;
// -----------------------------------------
//  .d8888b.   .d8888b.   .d8888b.                         d888    d888   .d8888b.   .d8888b.
// d88P  Y88b d88P  Y88b d88P  Y88b                       d8888   d8888  d88P  Y88b d88P  Y88b
// 888    888 Y88b. d88P 888    888                         888     888  888    888 888    888
// Y88b. d888  "Y88888"  888    888 88888b.  888  888       888     888  Y88b. d888 Y88b. d888 88888b.  888  888
//  "Y888P888 .d8P""Y8b. 888    888 888 "88b `Y8bd8P'       888     888   "Y888P888  "Y888P888 888 "88b `Y8bd8P'
//        888 888    888 888    888 888  888   X88K  888888 888     888         888        888 888  888   X88K
// Y88b  d88P Y88b  d88P Y88b  d88P 888 d88P .d8""8b.       888     888  Y88b  d88P Y88b  d88P 888 d88P .d8""8b.
//  "Y8888P"   "Y8888P"   "Y8888P"  88888P"  888  888     8888888 8888888 "Y8888P"   "Y8888P"  88888P"  888  888
//                                  888                                                        888
//                                  888                                                        888
//                                  888
// -----------------------------------------
// END 980px-1199px Default

 $slideHeightDesktop:340px;

 .uxmc {
   margin-bottom: 2em;

   h2 {
     font-size: px-em(22px);
     font-weight: bold;
     text-transform: uppercase;
   }
 }

 .uxmc-container {
   position: relative;
   height:$slideHeightDesktop;
   background-color: #ccc;
   overflow: hidden;

   .uxmc-overlay {
     position: absolute;
     bottom: 0;
     left: 0;
     z-index: 1;
     margin: 0 0 30px 36px;
     overflow: hidden;
     font-size: px-em(22px);
     font-weight: normal;
     line-height: px-em(19px, 22px);
     text-align: left;

     p {
       margin: 0;
       opacity: 0.65;
     }

     a:after {
       position: relative;
       top: -3px;
       display: inline-block;
       height: 0.8em;
       font-size: 0.8em;
     }

     a,
     p {
       display: block;
       width: 357px;
       color: #fff;
       font-size: 1em;
     }
   }

   .uxmc-image-wrapper {
     position: absolute;
     top: 0;
     right: 0;
     width: 100%;
     height: 100%;
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
     text-align: center;
   }

   .base-product {
     position: relative;
     z-index: 2;
     float: left;
     width: 50%;
     height: 100%;

      .uxmc-image-wrapper{
        background-size: cover;
      }

   }

   .uxmc-carousel-wrapper {
     background-color:transparent;
     position: relative;
     z-index: 1;
     float: right;
     margin: 0;
     width: 50%;
     height: 100%;
     overflow:hidden;

     .lt-ie8 & {
       width: 49.5%;
     }

      .uxmc-carousel{
        width: 100%;
        height: 100%;
        position: relative;
      }

     .sony-carousel-slide{
        cursor: pointer;
        width:100%;
        height:100%;
        float:none;
        display: block;
        text-align: center;
        background-color: transparent;
        -webkit-backface-visibility: hidden;


        &.theme-watch { background-color: $themeRed; }
        &.theme-listen { background-color: $themePurple; }
        &.theme-play { background-color: $themeBlueLight; }
        &.theme-discover { background-color: $themeGreen; }
        &.theme-create { background-color: $themeOrange; }
        &.theme-connect { background-color: $themeBlueDark; }
     }

     .sony-carousel-slide-children {
        cursor: pointer;
        position: relative;
        background-color:transparent;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        -webkit-backface-visibility: hidden;
        @include transition(opacity .75s $easeNormal);

        &.active{
          -webkit-backface-visibility: hidden;
          @include transition(opacity .75s $easeNormal);
          opacity: 1;
        }
     }
   }

   .btn-reload-container{
     position: absolute;
     left: 50%;
     top: 50%;
     z-index: 3;
     margin: px-em(-64px/2) 0 0 px-em(-64px/2);
     padding: 10px px-em(7px) 2px; 
     background-color: #fff;
     overflow: hidden;
     text-align: center;

     .lt-ie9 & {
       display:none;
     }

     &:before {
       position: relative;
       top: -0.03em;
       left: 0.02em;
     }

   } // btn-reload-container

   .btn-reload {
     cursor: pointer;
     margin:0;
     padding:0;
     width: 1em;
     height: 1em;
     background-color: #fff;
     color: #ccc;

     .lt-ie9 & {
        display:none;
     }
   }

   .progress-indicators {
     position: absolute;
     right: 2.5%;
     bottom: 0;
     z-index: 3;
     display: table;
     height: 100%;

     > div {
       display: table-cell;
       vertical-align: middle;
     }

     .uxmc-dial-wrapper {
       position: relative;
       width: 28px;
       height: 28px;
       margin: 8px 0;

       .uxmc-dial-label {
         position: absolute;
         width: 100%;
         height: 28px;
         line-height: 28px;
         vertical-align: middle;
         z-index: 4;
         color: #fff;
         cursor: pointer;
         font-size: 0.75em;
         text-align: center;
         opacity:0.65;
         -webkit-backface-visibility: hidden;
         @include transition(opacity $transitionFast $easeNormal);

         &.active{
           opacity:1;
           -webkit-backface-visibility: hidden;
           @include transition(opacity $transitionFast $easeNormal);
         }
       }

       input {
         display: none;
         vertical-align: middle;
       }
     }
   }
 }

 .no-backgroundsize {

   .uxmc-image-wrapper {
     display: table-cell;
     //background-image: none !important;
     vertical-align: middle;

     span {
       display: inline-block;
       height: 100%;
     }

     * {
       vertical-align: middle;
     }
   }
 }

 .no-canvas {

   .uxmc-container {

     .progress-indicators {

       .uxmc-dial-label {
         &.active {
           background: #fff;
           color: #000;
         }
       }
     }
   }
 }
