@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

$maxChildren: 20;

.subnav-module {

  header {
    padding: 27px 0 8px;
  }

  .subnav-nav-carousel-wrapper {
    position: relative;
    width: 100%;
    background-color: $gray80;
    box-shadow: 0 4px 8px rgba(39, 43, 55, 0.15);
  }

  nav {
    position: relative;
    width: 100% * $maxChildren;
    height: 155px;

    .subnav-nav-carousel-slide {
      -webkit-transform: translateZ(0);
      float: left;
      width: 100% / $maxChildren;
      height: 100%;
    }

    .grid {
      text-align: center;
    }

    .subcategory-link {
      @include transition(border-width 150ms);
      height: 155px;
      display: inline-block;
      border-bottom-style: solid;
      border-bottom-color: $buttonBlue;
      cursor: pointer;
      float: none;
      text-align: center;
      vertical-align: top;

      .lt-ie8 & {
        display: inline;
        border-bottom-style: none;
      }

      &.active,
      &:hover,
      &:focus {
        border-bottom-width: 4px;
      }

      p {
        color: $gray20;
      }

      i {
        position: relative;
        top: -20px;
        color: $gray50;

        .lt-ie8 & {
          top: 0px;
        }
      }
    }

    img {
      max-height: 50px;
      margin: 38px 0 12px;
    }
  }

  .subnav-tray {
    @include transition(height 350ms ease-out);
    position: relative;
    overflow: hidden;

    .subcategory {
      @include transition(opacity 350ms ease-out);
      @include opacity(0);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 46px;
      z-index: 0;
      -webkit-backface-visibility: hidden;

      &.active {
        @include opacity(100);
        z-index: 1;
      }

      .general-links {
        text-align: right;

        .accesories-link {
          position: relative;
          display: inline-block;
          margin: 6px 0 8px 8px;
          padding: 6px 0 0 34px;

          i {
            position: absolute;
            top: 2px;
            left: -8px;
            color: $gray50;
          }
        }

        .gallery-link {
          margin-left: 32px;

          i {
            margin-right: 8px;
            font-size: 1.2em;
          }
        }
      }

      .mobile-links {
        display: none;
      }

      .product {
        margin-bottom: 60px;
        margin-top: 40px;

        .subnav-product-count {
          color: $buttonBlue;
        }

        &:hover {
          .image {
            background-color: $gray80;
          }

         .subnav-product-count {
            color: $secondarySlateDark;
          }
        }
      }

      .image {
        @include transition(background-color 350ms);
        margin-bottom: 8px;
        text-align: center;

        img {
          margin: 0 0 16px;
        }
      }

      h4 {
        margin: 0;
      }

      .message {
        margin: 0 0 24px;
      }

      .marketing-tout {
        margin-bottom: 40px;

        img {
          width: 100%;
        }

        p {
          margin: 0;
          padding: 20px 26px 24px;
          background-color: $gray10;
          color: $gray50;

          .highlight {
            color: $white;
          }
        }
      }
    }
  }
}
