@import "../../../common/css/_base/variables";
@import "../../../common/css/_base/mixins";

// For floated carousels, specify the maximum number of children.
// Any beyond this count will go to the next line / be outside the overflow area.
$maximumChildren: 20;

.raa-content {
  > .grid {
    margin-top: -10px;
    padding-top: 26px;

    &:first-of-type {
      border-top: 3px solid $gray70;
    }
  }
}

.raa-user-reviews {

  .raa-user-reviews-carousel {
    position: relative;
    top: 8px;
    overflow: hidden;
    height: 420px;
    border-right: 1px solid $gray70;
  }

  &.span12 {
    .raa-user-reviews-carousel {
      border: none;

      .no-user-reviews & {
        height: 300px;
        margin-bottom: 21px;
        background-color: $gray80;
      }
    }
  }

  .carousel-slide {
    position: relative;
    width: $maximumChildren * 100%;

    .user-ratings,
    .raa-social-mention {
      width: (100% / $maximumChildren);
      margin-top: 53px;
      float: left;
    }
  }

  .raa-breakdown,
  .raa-social-mention aside {
    width: 355px;
    margin: 0 auto;
  }

  .user-ratings {
    text-align: center;

    .cta {
      margin-top: 30px;
      clear: both;
    }

    .raa-overall {

      .star {
        color: $gray70;
        font-size: px-em(46px, 13px);

        &.on {
          color: $buttonOrange;
        }
      }

      .zero-ratings {
        color: $buttonOrange;
      }

      .average-rating {
        margin-top: 10px;

        strong {
          color: $buttonOrange;
        }
      }
    }

    .raa-breakdown {
      margin-top: 36px;

      > div {
        position: relative;
        overflow: hidden;
        margin: 12px 0 0;
        clear: both;

        dt {
          margin: 0;
          text-align: left;
        }

        dd {
          position: absolute;
          right: 0;
          bottom: -2px;
          margin: 0;
          line-height: 1em;
        }
      }

      .raa-rating-bar {
        width: 94%;
        height: 4px;
        float: left;
        background-color: $gray70;

        .raa-rating-bar-score {
          height: 100%;
          float: left;
          background-color: $buttonOrange;

          &.score-1 { width: 20%; }
          &.score-2 { width: 40%; }
          &.score-3 { width: 60%; }
          &.score-4 { width: 80%; }
          &.score-5 { width: 100%; }
        }
      }
    }
  }
}

.raa-expert-reviews {
  position: relative;
  min-height: 236px;
  margin: 16px 0 40px;
  overflow: hidden;
  background-color: $gray80;

  > div {
    position: relative;
    width: $maximumChildren * 100%;
  }

  .sony-dot-nav {
    position: absolute;
    bottom: 16px;
    width: 100%;
  }

  .raa-expert-review {
    width: (100% / $maximumChildren);
    float: left;
    padding: 20px 24px;

    blockquote {
      margin-top: 22px;

      p {
        margin-bottom: 12px;
      }
    }
  }
}

.raa-awards {
  margin: 0;

  .span12 & {
    margin-top: 22px;
  }

  li {
    float: left;
    max-width: 180px;

    .span12 & {
      width: 33%;
      max-width: none;

      p {
        margin-left: 14px;
      }
    }

    .no-expert-reviews.has-user-reviews & {
      width: 100%;
      max-width: none;
      min-width: 200px;
      margin: 13px 0 4px;

      p {
        margin-left: 10px;
        max-width: 110px;
      }
    }

    a {
      display: block;
      width: 60px;
      height: 60px;
      float: left;
      text-align: center;

      .has-expert-reviews.has-user-reviews & {
        margin: 16px 10px 0 0;
      }
    }

    p {
      float: left;
      max-width: 120px;

      .award-name {
        color: $gray20;
        float: left;
      }

      .award-year {
        color: $gray40;
        display: block;
      }

      .has-expert-reviews.has-user-reviews & {
        display: none;
      }
    }
  }
}
